@import 'src/main/webapp/app/shared/metis/metis.component';

.reaction-button {
    font-size: 16px;
    line-height: 16px;
    padding: 4px 6px;
    display: inline-flex;
    background: var(--reaction-button-default-color);
    border: none;
    border-radius: 12px;
    margin-right: 5px;
    margin-bottom: 5px;

    &.open-selector {
        box-shadow: inset 0 0 0 1px var(--metis-gray);
        background: var(--reaction-button-hover-color);
    }

    .emoji-count {
        font-size: 11px;
        color: var(--reaction-button-emoji-count-color);
        padding-left: 0.2em;

        &.reaction-count--reacted {
            font-weight: bold;
            color: var(--reaction-button-reacted-accent-color);
        }
    }

    &:not(.reaction-button--not-hoverable):hover {
        box-shadow: inset 0 0 0 1px var(--metis-gray);
        background: var(--reaction-button-hover-color);
    }

    &:active {
        transform: scale(0.94);
    }

    &.reaction-button--reacted {
        box-shadow: inset 0 0 0 1px var(--reaction-button-reacted-accent-color);
        background: var(--reaction-button-reacted-color);
    }
}
