@theme inline {
    --color-primary: var(--artemis-primary-color);
    --color-primary-contrast: var(--artemis-primary-contrast-color);
    --color-accent: var(--artemis-accent-color);
    --color-border: var(--artemis-border-color);
    --color-control-border: var(--artemis-control-border-color);
    --color-control-border-hover: var(--artemis-control-border-hover-color);
    --color-text: var(--artemis-text-color);
    --color-text-hover: var(--artemis-text-hover-color);
    --color-muted: var(--artemis-muted-color);
    --color-disabled: var(--artemis-disabled-color);
    --color-content-background: var(--artemis-content-background);
    --color-control-background: var(--artemis-control-background);
    --color-overlay-background: var(--artemis-overlay-background);
    --color-hover-background: var(--artemis-hover-background);
    --color-disabled-background: var(--artemis-disabled-background);
    --color-contrast-background: var(--artemis-contrast-background);
    --color-contrast: var(--artemis-contrast-color);
    --color-highlight: var(--artemis-highlight-color);
    --color-highlight-background: var(--artemis-highlight-background);
    --color-highlight-focus-background: var(--artemis-highlight-focus-background);
    --color-state-danger: var(--artemis-state-danger);
    --color-state-danger-contrast: var(--artemis-state-danger-contrast);
    --color-state-danger-foreground: var(--artemis-state-danger-foreground);
    --color-state-success: var(--artemis-state-success);
    --color-state-success-contrast: var(--artemis-state-success-contrast);
    --color-state-success-foreground: var(--artemis-state-success-foreground);
    --color-state-warning: var(--artemis-state-warning);
    --color-state-warning-contrast: var(--artemis-state-warning-contrast);
    --color-state-warning-foreground: var(--artemis-state-warning-foreground);
    --color-state-info: var(--artemis-state-info);
    --color-state-info-contrast: var(--artemis-state-info-contrast);
    --color-state-info-foreground: var(--artemis-state-info-foreground);
    --color-table-striped-background: var(--artemis-table-striped-background);
    --color-tooltip-background: var(--artemis-tooltip-background);
    --color-tooltip: var(--artemis-tooltip-color);
}
