@source './fesm2022';

@theme inline {
    --color-tum-ui-primary: var(--tum-ui-primary);
    --color-tum-ui-border: var(--tum-ui-border-color);
    --color-tum-ui-text: var(--tum-ui-text-color);
    --color-tum-ui-muted: var(--tum-ui-muted-color);
    --color-tum-ui-state-danger: var(--tum-ui-state-danger);
    --color-tum-ui-state-success: var(--tum-ui-state-success);
    --color-tum-ui-state-warning: var(--tum-ui-state-warning);
    --color-tum-ui-state-info: var(--tum-ui-state-info);
    --color-tum-ui-surface-0: var(--tum-ui-surface-0);
    --color-tum-ui-surface-50: var(--tum-ui-surface-50);
    --color-tum-ui-surface-100: var(--tum-ui-surface-100);
    --color-tum-ui-surface-200: var(--tum-ui-surface-200);
    --color-tum-ui-surface-300: var(--tum-ui-surface-300);
    --color-tum-ui-surface-400: var(--tum-ui-surface-400);
    --color-tum-ui-surface-500: var(--tum-ui-surface-500);
    --color-tum-ui-surface-600: var(--tum-ui-surface-600);
    --color-tum-ui-surface-700: var(--tum-ui-surface-700);
    --color-tum-ui-surface-800: var(--tum-ui-surface-800);
    --color-tum-ui-surface-900: var(--tum-ui-surface-900);
    --color-tum-ui-surface-950: var(--tum-ui-surface-950);
}
