:root,
[data-theme='light'] {
    color-scheme: light;

    --artemis-primary-color: #1f5c9a;
    --artemis-primary-contrast-color: #fff;
    --artemis-accent-color: #1f5c9a;
    --artemis-border-color: #dee2e6;
    --artemis-control-border-color: #6c757d;
    --artemis-control-border-hover-color: #212529;
    --artemis-text-color: #212529;
    --artemis-text-hover-color: #212529;
    --artemis-muted-color: #6c757d;
    --artemis-disabled-color: #6c757d;
    --artemis-content-background: #fff;
    --artemis-control-background: #fff;
    --artemis-overlay-background: #fff;
    --artemis-hover-background: #f1f5f9;
    --artemis-disabled-background: #e9ecef;
    --artemis-contrast-background: #212529;
    --artemis-contrast-color: #fff;
    --artemis-highlight-color: #1f5c9a;
    --artemis-highlight-background: #ebf3f9;
    --artemis-highlight-focus-background: #dce9f4;
    --artemis-state-danger: #600c0c;
    --artemis-state-danger-contrast: #f1d1d1;
    --artemis-state-danger-foreground: #600c0c;
    --artemis-state-success: #21600c;
    --artemis-state-success-contrast: #d9f1d1;
    --artemis-state-success-foreground: #21600c;
    --artemis-state-warning: #604c0c;
    --artemis-state-warning-contrast: #ffe196;
    --artemis-state-warning-foreground: #604c0c;
    --artemis-state-info: #0c5460;
    --artemis-state-info-contrast: #d1ecf1;
    --artemis-state-info-foreground: #0c5460;
    --artemis-table-striped-background: #f9f9fa;
    --artemis-tooltip-background: #353d47;
    --artemis-tooltip-color: #fff;
}

[data-theme='dark'] {
    color-scheme: dark;

    --artemis-primary-color: #2d6cae;
    --artemis-primary-contrast-color: #fff;
    --artemis-accent-color: #7fb1dc;
    --artemis-border-color: #38404b;
    --artemis-control-border-color: #888;
    --artemis-control-border-hover-color: #f8f9fa;
    --artemis-text-color: #f8f9fa;
    --artemis-text-hover-color: #f8f9fa;
    --artemis-muted-color: #adb5bd;
    --artemis-disabled-color: #adb5bd;
    --artemis-content-background: #16191d;
    --artemis-control-background: #353d47;
    --artemis-overlay-background: #21262c;
    --artemis-hover-background: rgb(255 255 255 / 0.1);
    --artemis-disabled-background: #35383c;
    --artemis-contrast-background: #f8f9fa;
    --artemis-contrast-color: #16191d;
    --artemis-highlight-color: #f8f9fa;
    --artemis-highlight-background: #353d47;
    --artemis-highlight-focus-background: #484f58;
    --artemis-state-danger: #ef8b80;
    --artemis-state-danger-contrast: #370b07;
    --artemis-state-danger-foreground: #ef8b80;
    --artemis-state-success: #00bc8c;
    --artemis-state-success-contrast: #00231a;
    --artemis-state-success-foreground: #00bc8c;
    --artemis-state-warning: #f39c12;
    --artemis-state-warning-contrast: #362203;
    --artemis-state-warning-foreground: #f39c12;
    --artemis-state-info: #36cee6;
    --artemis-state-info-contrast: #062a30;
    --artemis-state-info-foreground: #36cee6;
    --artemis-table-striped-background: #1d2024;
    --artemis-tooltip-background: #353d47;
    --artemis-tooltip-color: #fff;
}
