<div class="d-flex horizontal-scroll">
    <div [ngClass]="{ 'sidebar-collapsed': isCollapsed }">
        <jhi-sidebar
            [itemSelected]="exerciseSelected()"
            [courseId]="courseId()"
            [sidebarData]="sidebarData()"
            [collapseState]="DEFAULT_COLLAPSE_STATE"
            [sidebarItemAlwaysShow]="DEFAULT_SHOW_ALWAYS"
            [showFilter]="true"
        />
    </div>

    @if (exerciseSelected()) {
        <div [ngClass]="{ 'content-sidebar-width': !isCollapsed }" class="content-width scrollable-content">
            <router-outlet (deactivate)="onSubRouteDeactivate()" />
        </div>
    } @else {
        <div class="vw-100 module-bg rounded-3 p-3 d-flex justify-content-between">
            <div class="col-12 text-center my-auto" jhiTranslate="artemisApp.courseOverview.exerciseDetails.selectExercise"></div>
        </div>
    }
</div>

<jhi-student-exercise-dev-settings-modal [visible]="devSettings.settingsVisible()" (visibleChange)="devSettings.settingsVisible.set($event)" />
