<div class="d-flex justify-content-between">
    <h2 jhiTranslate="artemisApp.learnerProfile.courseLearnerProfile.title"></h2>
    @if (editing) {
        <button type="button" class="btn btn-primary" id="apply-changes-button" (click)="update()">
            <fa-icon class="ng" [icon]="faSave" />
            {{ 'artemisApp.userSettings.saveChanges' | artemisTranslate }}
        </button>
    }
</div>
<hr />
<div class="row align-items-center">
    <div class="col"><span jhiTranslate="artemisApp.learnerProfile.courseLearnerProfile.description"></span><br /></div>
    <select class="form-select col-auto w-auto" (change)="courseChanged($event)">
        <option value="-1" jhiTranslate="artemisApp.learnerProfile.courseLearnerProfile.selectCourse" selected></option>
        @for (courseLearnerProfile of courseLearnerProfiles; track courseLearnerProfile.courseId) {
            <option value="{{ courseLearnerProfile.courseId }}">{{ courseLearnerProfile.courseTitle }}</option>
        }
    </select>
</div>
<div [ngClass]="{ 'd-none': disabled }">
    <div class="row row-cols-2 gx-5 align-items-end">
        <div class="col">
            <div class="title">{{ translateService.instant('artemisApp.learnerProfile.courseLearnerProfile.aimForGradeOrBonus.label') }}</div>
            <div class="description">{{ translateService.instant('artemisApp.learnerProfile.courseLearnerProfile.aimForGradeOrBonus.description') }}</div>
            <jhi-segmented-toggle [options]="aimForGradeOrBonusOptions" [(selected)]="aimForGradeOrBonus" (selectedChange)="editing = true" />
        </div>
        <div class="col">
            <div class="title">{{ translateService.instant('artemisApp.learnerProfile.courseLearnerProfile.timeInvestment.label') }}</div>
            <div class="description">{{ translateService.instant('artemisApp.learnerProfile.courseLearnerProfile.timeInvestment.description') }}</div>
            <jhi-segmented-toggle [options]="timeInvestmentOptions" [(selected)]="timeInvestment" (selectedChange)="editing = true" />
        </div>
        <div class="col">
            <div class="title">{{ translateService.instant('artemisApp.learnerProfile.courseLearnerProfile.repetitionIntensity.label') }}</div>
            <div class="description">{{ translateService.instant('artemisApp.learnerProfile.courseLearnerProfile.repetitionIntensity.description') }}</div>
            <jhi-segmented-toggle [options]="repetitionIntensityOptions" [(selected)]="repetitionIntensity" (selectedChange)="editing = true" />
        </div>
    </div>
</div>
