<div>
    <h2>
        <ng-container *ngIf="!instructorView">
            {{ 'artemisApp.exam.examSummary.yourSubmissionTo' | artemisTranslate: { examTitle: studentExam.exam?.title, studentName: studentExam.user?.name } }}
        </ng-container>
        <ng-container *ngIf="instructorView">
            {{ 'artemisApp.exam.examSummary.studentSubmissionTo' | artemisTranslate: { examTitle: studentExam.exam?.title, studentName: studentExam.user?.name } }}
        </ng-container>
        <button id="exportToPDFButton" class="btn btn-primary float-end" (click)="printPDF()">
            <fa-icon [icon]="faPrint"></fa-icon>
            <span jhiTranslate="artemisApp.exam.examSummary.exportPDF">Export PDF</span>
        </button>
    </h2>
</div>
<jhi-exam-information *ngIf="studentExam.exam" [exam]="studentExam.exam!" [studentExam]="studentExam"></jhi-exam-information>
<div class="mb-4 container text-center" *ngIf="studentExam.exam && isBeforeStudentReviewEnd() && isAfterStudentReviewStart()">
    <div class="row justify-content-center">
        <div class="alert alert-success col-12 col-lg-6" role="alert">
            {{ 'artemisApp.exam.studentReviewEnabled' | artemisTranslate }}
        </div>
    </div>
</div>
<div class="mb-4 container exam-points-summary-container" *ngIf="studentExam && studentExam.exercises && studentExam.exam?.course && studentExamGradeInfoDTO">
    <jhi-exam-points-summary [studentExamWithGrade]="studentExamGradeInfoDTO"></jhi-exam-points-summary>
</div>
<div *ngIf="!resultsPublished" class="mb-0">
    <fa-icon [icon]="faInfoCircle" class="info-icon"></fa-icon>
    {{ 'artemisApp.exam.resultInformation' | artemisTranslate }}
</div>
<div *ngFor="let exercise of studentExam.exercises; let i = index">
    <div class="question card">
        <div class="question-options card-header question-card-header">
            <h5>
                &nbsp;<fa-icon *ngIf="exercise?.type" [icon]="getIcon(exercise.type!)"></fa-icon>&nbsp;
                <span jhiTranslate="artemisApp.exam.exercise" [translateValues]="{ nr: i + 1 }">Exercise {{ i + 1 }}</span>
            </h5>
            <div *ngIf="exercise.studentParticipations?.[0]?.submissions?.[0]?.type === SUBMISSION_TYPE_ILLEGAL">
                <span class="badge bg-danger" jhiTranslate="artemisApp.assessment.assessmentIllegalSubmission"> Warning: You are viewing an illegal submission. </span>
            </div>
            <div *ngIf="resultsPublished && exercise.studentParticipations?.length">
                <jhi-result [participation]="exercise.studentParticipations![0]" [exercise]="exercise"> </jhi-result>
            </div>
            <button
                id="{{ 'toggleCollapseExerciseButton-' + i }}"
                class="btn question-collapse"
                (click)="toggleCollapseExercise(exercise.id!)"
                [attr.aria-expanded]="!isCollapsed(exercise.id!)"
                [attr.aria-controls]="isCollapsed(exercise.id!)"
            >
                <fa-icon size="2x" [icon]="isCollapsed(exercise.id!) ? faAngleRight : faAngleDown"></fa-icon>
            </button>
        </div>
        <div class="card-body question-card-body" [ngbCollapse]="isCollapsed(exercise.id!)">
            <div *ngIf="exercise.type !== QUIZ && exercise.type !== PROGRAMMING && resultsPublished">
                <a *ngIf="exercise.studentParticipations?.length" class="btn btn-primary float-end" [routerLink]="generateLink(exercise)">
                    <fa-icon [icon]="faFolderOpen" [fixedWidth]="true"></fa-icon>
                    <span jhiTranslate="artemisApp.exam.examSummary.viewResult">&nbsp;View Result</span>
                </a>
            </div>
            <!-- prettier-ignore -->
            <h5>{{ exercise.title }} [{{ exercise.maxPoints }} {{ 'artemisApp.examParticipation.points' | artemisTranslate }}
                <span
                    *ngIf="exercise.bonusPoints">, {{ exercise.bonusPoints }} {{ 'artemisApp.examParticipation.bonus' | artemisTranslate }}</span>]
                <jhi-included-in-score-badge
                    *ngIf="exercise.includedInOverallScore !== IncludedInOverallScore.INCLUDED_COMPLETELY"
                    [includedInOverallScore]="exercise.includedInOverallScore"></jhi-included-in-score-badge>
            </h5>
            <h6 right-body class="markdown-preview" *ngIf="exercise.problemStatement && exercise.type !== PROGRAMMING">
                <span [innerHTML]="exercise.problemStatement! | htmlForMarkdown"></span>
            </h6>
            <jhi-programming-exercise-instructions
                *ngIf="exercise.problemStatement && exercise.type === PROGRAMMING"
                [exercise]="exercise"
                [participation]="asProgrammingExercise(exercise).templateParticipation!"
            ></jhi-programming-exercise-instructions>
            <ng-container *ngIf="exercise.type !== PROGRAMMING">
                <!-- Show submission of student - if no submission found -> display that student did not participate -->
                <ng-container
                    *ngIf="getParticipationForExercise(exercise) && getSubmissionForExercise(exercise) && getSubmissionForExercise(exercise)?.submitted; else noSubmission"
                >
                    <!-- Text Exercise -->
                    <ng-container *ngIf="exercise.type === TEXT">
                        <jhi-text-exam-summary [submission]="getSubmissionForExercise(exercise)!"></jhi-text-exam-summary>
                    </ng-container>
                    <!-- Modeling Exercise -->
                    <ng-container *ngIf="exercise.type === MODELING">
                        <jhi-modeling-exam-summary [exercise]="exercise" [submission]="getSubmissionForExercise(exercise)!"></jhi-modeling-exam-summary>
                    </ng-container>
                    <!-- Quiz Exercise -->
                    <ng-container *ngIf="exercise.type === QUIZ">
                        <jhi-quiz-exam-summary
                            [exercise]="exercise"
                            [exam]="studentExam.exam!"
                            [submission]="getSubmissionForExercise(exercise)!"
                            [resultsPublished]="!!resultsPublished"
                        ></jhi-quiz-exam-summary>
                    </ng-container>
                    <!-- File Upload Exercise -->
                    <ng-container *ngIf="exercise.type === FILE_UPLOAD">
                        <jhi-file-upload-exam-summary [submission]="getSubmissionForExercise(exercise)!"></jhi-file-upload-exam-summary>
                    </ng-container>
                    <jhi-complaint-student-view
                        *ngIf="getSubmissionForExercise(exercise) && exercise.type !== QUIZ && isAfterStudentReviewStart()"
                        class="mb-2 mt-2 ms-3"
                        [exercise]="exercise"
                        [participation]="getParticipationForExercise(exercise)!"
                        [result]="getParticipationForExercise(exercise)!.results?.[0]"
                        [exam]="examWithOnlyIdAndStudentReviewPeriod"
                        [testRun]="isTestRun"
                    >
                    </jhi-complaint-student-view>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="exercise.type === PROGRAMMING">
                <!--  relax condition for programming exercises for the case that we get a submissions from websockets, but last changes in exam were not submitted -->
                <ng-container *ngIf="getParticipationForExercise(exercise) && getSubmissionForExercise(exercise); else noSubmission">
                    <!-- Programming Exercise -->
                    <jhi-programming-exam-summary
                        [exercise]="exercise"
                        [participation]="getParticipationForExercise(exercise)!"
                        [submission]="getSubmissionForExercise(exercise)!"
                    ></jhi-programming-exam-summary>
                </ng-container>
                <jhi-complaint-student-view
                    *ngIf="
                        (exercise.assessmentType === AssessmentType.SEMI_AUTOMATIC || exercise.allowComplaintsForAutomaticAssessments) &&
                        getSubmissionForExercise(exercise) &&
                        isAfterStudentReviewStart()
                    "
                    class="mb-2 mt-2 ms-3"
                    [exercise]="exercise"
                    [participation]="getParticipationForExercise(exercise)!"
                    [result]="getParticipationForExercise(exercise)!.results?.[0]"
                    [exam]="examWithOnlyIdAndStudentReviewPeriod"
                    [testRun]="isTestRun"
                >
                </jhi-complaint-student-view>
            </ng-container>
            <ng-template #noSubmission>
                {{ 'artemisApp.exam.examSummary.noSubmissionFound' | artemisTranslate }}
            </ng-template>
        </div>
    </div>
</div>
