.exam-points-summary-container {
    max-width: 980px;
}

.exercise-buttons {
    & > :first-child {
        margin-bottom: 1.5rem;
    }

    & > :last-child {
        margin-left: 1.5rem !important;
    }
}

.rotate-icon {
    transition: transform 0.3s ease;
}

.rotate-icon.rotated {
    transform: rotate(90deg);
}
