.tree-indent {
    padding-left: 3rem;
}

.tree-card {
    background-color: var(--overview-light-background-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 0;
}

.tree-card-row {
    display: flex;
    align-items: center;
}
