<div class="row align-items-center mb-2 mt-2">
    <div class="card unit-card">
        <div class="card-header unit-card-header row align-content-center" (click)="handleCollapse($event)">
            <h5 class="m-0 fw-medium">
                <fa-icon class="col-auto me-2" [icon]="faLink" [ngbTooltip]="'artemisApp.onlineUnit.tooltip' | artemisTranslate"> </fa-icon>
                {{ onlineUnit?.name }}
                <span
                    *ngIf="!onlineUnit?.visibleToStudents"
                    class="badge bg-warning ms-2"
                    ngbTooltip="{{ 'artemisApp.onlineUnit.notReleasedTooltip' | artemisTranslate }} {{ onlineUnit?.releaseDate | artemisDate }}"
                >
                    {{ 'artemisApp.courseOverview.exerciseList.notReleased' | artemisTranslate }}
                </span>
            </h5>
            <small>{{ domainName }}</small>
        </div>
        <div class="card-body unit-card-body" [ngbCollapse]="isCollapsed">
            <p>{{ onlineUnit?.description }}</p>

            <a class="btn btn-primary" [href]="onlineUnit.source" target="_blank">
                <fa-icon [icon]="faUpRightFromSquare"></fa-icon> <span jhiTranslate="artemisApp.onlineUnit.doOpen">Open link</span>
            </a>
        </div>
    </div>
</div>
