@import '../../../../content/scss/_artemis-mixins.scss';

.edit-dnd-question {
    .drag-items {
        .drag-item {
            border: 1px solid dimgrey;
            background: #fafafa;
            height: 160px;
            position: relative;
            min-width: 160px;
            max-width: 360px;
            margin: 10px 4px;

            img {
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto !important;
                margin: auto;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }

            &.no-click {
                * {
                    cursor: default !important;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }

            .drag-item-picture {
                cursor: move;
                padding: 0;
                margin: 0;
            }

            .drag-item-text {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 100%;
                width: 100%;
                white-space: pre-wrap;

                span {
                    border: 1px solid #000;
                    background: white;
                    color: black;
                    padding: 4px;
                }
            }
        }
    }

    /* highlight drop location in light blue when selecting a drag item */
    .drop-allowed {
        background: rgba(173, 216, 230, 0.8) !important;
    }

    /* change highlight color to light green when dragging the item above a drop location */
    .drop-hover,
    .dnd-drag-over {
        background: rgb(144, 238, 144) !important;
    }

    .re-evaluate-button {
        display: inline-block;
        padding: 4px;

        &:hover {
            color: blue;
        }
    }

    .resize {
        position: absolute;
        width: 6px;
        height: 6px;
        background: mediumpurple;

        &.top {
            top: -3px;
        }

        &.middle {
            top: calc(50% - 3px);
            cursor: col-resize;
        }

        &.bottom {
            bottom: -3px;
        }

        &.left {
            left: -3px;
        }

        &.center {
            left: calc(50% - 3px);
            cursor: row-resize;
        }

        &.right {
            right: -3px;
        }

        &.top.left,
        &.bottom.right {
            cursor: nwse-resize;
        }

        &.top.right,
        &.bottom.left {
            cursor: nesw-resize;
        }
    }

    .dimensions,
    .invalid {
        position: absolute;
        left: 2px;
        bottom: 0;
        font-size: 14px;
    }

    .dnd-instructions {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        font-weight: 500;
    }

    .background-area {
        position: relative;
        @include user-select(none);

        img {
            max-width: 100%;
        }
    }

    .drag-item-file {
        display: flex;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .markupEditorArea {
        margin-bottom: 14px;
    }

    .background-area {
        .click-layer {
            cursor: crosshair !important;

            &.disabled {
                cursor: not-allowed !important;
            }

            .drop-location {
                border: 1px dashed mediumpurple;
                cursor: move !important;
                background: rgba(255, 255, 255, 0.5);

                &:hover {
                    background: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }

    .mapping-numbers-wrapper {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        @include transformTranslate3D(0, 8px, 0);

        .mapping-number {
            position: static;
            @include transformTranslate3D(0, 0, 0);
        }
    }

    .mapping-number {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        @include transformTranslate3D(-50%, -50%, 0);
        @include quiz-mapping-letter-number(dimgrey);

        .unlink-mapping {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            line-height: 30px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            border-radius: 50%;
            text-align: center;

            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }
    }

    .mapping-color-1 {
        background: #2980b9;
    }
    .mapping-color-2 {
        background: #c0392b;
    }
    .mapping-color-3 {
        background: #27ae60;
    }
    .mapping-color-4 {
        background: #f1c40f;
    }
    .mapping-color-5 {
        background: #e67e22;
    }
    .mapping-color-6 {
        background: #8e44ad;
    }
    .mapping-color-7 {
        background: #1abc9c;
    }
    .mapping-color-0 {
        background: #2c3e50;
    }

    .drag-item {
        textarea {
            position: absolute;
            left: 0;
            top: 30px;
            width: 158px;
            height: 98px;
            padding: 0 14px;
            text-align: center;
            border: none;
            resize: none;

            &:focus {
                z-index: 3;
            }
        }

        .delete-button {
            position: absolute;
            top: 4px;
            right: 2px;

            .re-evaluate-button {
                display: inline-block;
                padding: 2px;
            }
        }

        .dimensions {
            position: absolute;
            left: 2px;
            bottom: 0;
            font-size: 14px;
        }

        .drag-handle-wrapper {
            position: absolute;
            top: 4px;
            left: 2px;
            cursor: move;
            display: flex;
            align-items: center;
            padding: 4px;
        }
    }

    .drag-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 6px 0;
        width: 100%;
    }

    .click-layer {
        @include position-style(absolute, 0, 0, 0, 0, 1);

        /* dotted drop-location */
        .drop-location {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
            background: white;
            border: 1px dashed black;
        }
    }
}
