<div class="edit-dnd-question" [hidden]="showPreview" (mousemove)="mouseMove($event)" (mouseup)="mouseUp()">
    <div class="question-options">
        <div class="form-group question-title">
            <input class="form-control" [(ngModel)]="question.title" placeholder="Question Title"/>
        </div>
        <div class="form-group">
            <div class="delete-button" (click)="deleteQuestion()">
                <i class="fa fa-trash fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="question-options">
        <div class="form-group">
            <span jhiTranslate="arTeMiSApp.question.scoringType" class="colon-suffix no-flex-shrink"></span>
            <select class="form-control" [(ngModel)]="question.scoringType" title="scoring type">
                <option *ngFor="let option of scoringTypeOptions" [value]="option.key">
                    {{option.label}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check custom-control custom-checkbox">
                <input type="checkbox" id="{{'cbRandomizeOrderDnD' + questionIndex}}" [(ngModel)]="question.randomizeOrder" class="form-check-input custom-control-input"/>
                <label class="form-check-label custom-control-label" for="{{'cbRandomizeOrderDnD' + questionIndex}}"
                       jhiTranslate="arTeMiSApp.dragAndDropQuestion.randomizeOrder">
                </label>
            </div>
        </div>
        <div class="form-group">
            <span jhiTranslate="arTeMiSApp.question.score" class="colon-suffix"></span>
            <input class="form-control" title="score" type="number" min="0" max="9999" [(ngModel)]="question.score"/>
        </div>
    </div>
    <div class="markupEditorArea">
        <div class="toolbar">
            <div class="btn-group">
                <div class="btn btn-outline-secondary" jhiTranslate="arTeMiSApp.multipleChoiceQuestion.editor.addHint" (click)="addHintAtCursor()"></div>
                <div class="btn btn-outline-secondary" jhiTranslate="arTeMiSApp.multipleChoiceQuestion.editor.addExplanation" (click)="addExplanationAtCursor()"></div>
            </div>
        </div>
        <div class="question-content">
            <ace-editor #questionEditor
                        [(text)]="questionEditorText"
                        [mode]="questionEditorMode"
                        [autoUpdateContent]="questionEditorAutoUpdate"
                        style="display:block; min-height: 200px; width:100%; overflow: auto;"
                        class="form-control">
            </ace-editor>
        </div>
    </div>
    <hr/>
    <div class="question-options">
        <div class="form-group">
            <span jhiTranslate="arTeMiSApp.dragAndDropQuestion.uploadBackgroundPicture" class="colon-suffix no-flex-shrink"></span>
            <input #backgroundFile type="file" accept="image/*" (change)="setBackgroundFile($event)"/>
            <button [disabled]="isUploadingBackgroundFile || !backgroundFile" class="btn btn-outline-secondary" (click)="uploadBackground()">
                <span *ngIf="isUploadingBackgroundFile" jhiTranslate="arTeMiSApp.dragAndDropQuestion.uploading"></span>
                <span *ngIf="!isUploadingBackgroundFile" jhiTranslate="arTeMiSApp.dragAndDropQuestion.upload"></span>
            </button>
        </div>
    </div>
    <div class="instructions" *ngIf="!question.backgroundFilePath">
        <span jhiTranslate="arTeMiSApp.dragAndDropQuestion.uploadBackgroundInstructions"></span>
    </div>
    <div class="instructions" *ngIf="question.backgroundFilePath">
        <span jhiTranslate="arTeMiSApp.dragAndDropQuestion.drawOnBackgroundInstructions"></span>
    </div>
    <div class="background-area">
        <!-- TODO: Replace http src call -->
        <!--<img http-src="{{vm.question.backgroundFilePath}}" alt="{{'arTeMiSApp.dragAndDropQuestion.noBackgroundPicture' | translate}}">-->
        <img [alt]="'arTeMiSApp.dragAndDropQuestion.noBackgroundPicture' | translate">
        <div #clickLayer class="click-layer" (mousedown)="backgroundMouseDown()" [ngClass]="{'disabled': !question.backgroundFilePath}">
            <div
                class="drop-location"
                *ngFor="let dropLocation of question.dropLocations"
                [ngStyle]="{'top': dropLocation.posY/2 + '%', 'left': dropLocation.posX/2 + '%', 'width': dropLocation.width/2 + '%', 'height': dropLocation.height/2 + '%'}"
                (mousedown)="dropLocationMouseDown(dropLocation)"
                ui-on-drop="vm.onDragDrop(dropLocation, $data)"
                drag-enter-class="drop-allowed"
                drag-hover-class="drop-hover">
                <div class="dimensions">
                    {{dropLocation.width}}x{{dropLocation.height}}
                </div>
                <div class="duplicate-button" title="Duplicate" (click)="duplicateDropLocation(dropLocation)">
                    <i class="fa fa-copy fa-lg"></i>
                </div>
                <div class="delete-button" title="Delete" (click)="deleteDropLocation(dropLocation)">
                    <i class="fa fa-trash fa-lg"></i>
                </div>
                <div class="resize top left" (mousedown)="resizeMouseDown(dropLocation, 'top', 'left')"></div>
                <div class="resize top center" (mousedown)="resizeMouseDown(dropLocation, 'top', 'center')"></div>
                <div class="resize top right" (mousedown)="resizeMouseDown(dropLocation, 'top', 'right')"></div>
                <div class="resize middle left" (mousedown)="resizeMouseDown(dropLocation, 'middle', 'left')"></div>
                <div class="resize middle right" (mousedown)="resizeMouseDown(dropLocation, 'middle', 'right')"></div>
                <div class="resize bottom left" (mousedown)="resizeMouseDown(dropLocation, 'bottom', 'left')"></div>
                <div class="resize bottom center" (mousedown)="resizeMouseDown(dropLocation, 'bottom', 'center')"></div>
                <div class="resize bottom right" (mousedown)="resizeMouseDown(dropLocation, 'bottom', 'right')"></div>
                <div [ngClass]="'mapping-number mapping-color-' + (getMappingIndex(getMappingsForDropLocation(dropLocation)[0]) % 8)" *ngIf="getMappingsForDropLocation(dropLocation).length">
                    {{getMappingIndex(getMappingsForDropLocation(dropLocation)[0])}}
                    <div class="unlink-mapping" (click)="deleteMappingsForDropLocation(dropLocation)">
                        <i class="fa fa-chain-broken fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div *ngIf="!question.dragItems || !question.dragItems.length" class="instructions">
        <span jhiTranslate="arTeMiSApp.dragAndDropQuestion.addDragItemsInstructions"></span>
    </div>
    <div *ngIf="question.dragItems && question.dragItems.length" class="instructions">
        <span jhiTranslate="arTeMiSApp.dragAndDropQuestion.addMappingsInstructions"></span>
    </div>
    <div class="drag-items" *ngIf="question.dragItems && question.dragItems.length">
        <div class="drag-item" *ngFor="let dragItem of question.dragItems" ui-draggable="true" drag="dragItem" drag-handle-class="drag-handle">
            <div *ngIf="dragItem.pictureFilePath">
                <!-- TODO: Replace http src call -->
                <!--<img http-src="{{dragItem.pictureFilePath}}">-->
                <img>
            </div>
            <div *ngIf="!dragItem.pictureFilePath">
                <!-- TODO: check doUpdated call -->
                <textarea [(ngModel)]="dragItem.text" (ngModelChange)="questionUpdated.emit()"></textarea>
            </div>
            <div class="delete-button" title="Delete" (click)="deleteDragItem(dragItem)">
                <i class="fa fa-trash fa-lg"></i>
            </div>
            <div class="drag-handle drag-handle-wrapper" title="Move">
                <i class="fa fa-bars fa-lg drag-handle"></i>
            </div>
            <div class="mapping-numbers-wrapper">
                <div *ngFor="let mapping of getMappingsForDragItem(dragItem)" [ngClass]="'mapping-number mapping-color-' + (getMappingIndex(mapping) % 8)">
                    {{getMappingIndex(mapping)}}
                    <div class="unlink-mapping" (click)="deleteMapping(mapping)">
                        <i class="fa fa-chain-broken fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question-options">
        <div class="form-group">
            <button [disabled]="isUploadingDragItemFile || !dragItemFile" class="btn btn-outline-secondary" (click)="uploadDragItem()">
                <i class="fa fa-plus"></i>
                <span *ngIf="isUploadingDragItemFile" jhiTranslate="arTeMiSApp.dragAndDropQuestion.uploading"></span>
                <span *ngIf="!isUploadingDragItemFile" jhiTranslate="arTeMiSApp.dragAndDropQuestion.addDragItemPicture"></span>
            </button>
            <input #dragItemFile type="file" accept="image/*" (change)="setDragItemFile($event)"/>
        </div>
    </div>
    <div class="question-options">
        <div class="form-group">
            <button class="btn btn-outline-secondary" (click)="addTextDragItem()">
                <i class="fa fa-plus"></i>
                <span jhiTranslate="arTeMiSApp.dragAndDropQuestion.addDragItemText"></span>
            </button>
        </div>
    </div>
    <hr/>
    <div class="question-options">
        <div class="form-group">
            <div class="btn btn-outline-secondary" (click)="togglePreview()">
                <i class="fa fa-eye"></i>
                <span jhiTranslate="entity.action.preview"></span>
            </div>
        </div>
    </div>
</div>
<div class="preview-dnd-question" *ngIf="showPreview">
    <jhi-drag-and-drop-question [question]="question" [mappings]="[]" [question-index]="questionIndex"></jhi-drag-and-drop-question>
    <hr/>
    <div class="btn btn-outline-secondary" (click)="togglePreview()">
        <i class="fa fa-pencil"></i>
        <span jhiTranslate="entity.action.edit"></span>
    </div>
</div>
