.edit-dnd-question {
    .drag-items {
        .drag-item {
            height: 160px;

            ::ng-deep img {
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto !important;
                margin: auto;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
    }
}
