.card {
    background-color: var(--overview-light-background-color);
    margin-bottom: 0.5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}
