.competency-accordion-header {
    background-color: #e9ecef;
    color: #333;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.competency-accordion-header:hover {
    background-color: #ddd;
}

.competency-accordion-ring {
    width: 95px;
}

.competency-accordion-body {
    padding: 0 18px;
    background-color: #e9ecef;
    color: #333;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

/* A specific class to control the open state */
.competency-accordion-open {
    height: min-content;
    padding: 30px 18px;
}
