.competency-accordion-header {
    background-color: var(--overview-light-background-color);
    color: var(--bs-body-color);
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 3px 3px 0 0;
    transition: 0.2s;
}

.competency-accordion-header.closed {
    border-radius: 3px;
}

.competency-accordion-header:not([disabled]):hover {
    background-color: rgba(100, 100, 111, 0.2);
}

.competency-accordion-ring {
    width: 95px;
}

.competency-accordion-body {
    padding: 0 18px;
    background-color: var(--overview-light-background-color);
    color: var(--bs-body-color);
    overflow: hidden;
    width: 100%;
    transition:
        max-height 0.2s ease-out,
        padding 0.2s ease-out;
    border-radius: 0 0 3px 3px;
}

/* Open state */
.competency-accordion-body-open {
    padding: 10px 18px;
}

/* Closed state */
.competency-accordion-body-closed {
    max-height: 0;
    padding: 0 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.competency-accordion-header,
.competency-accordion-body {
    margin: 0;
}

.competency-accordion-header .row > div,
.competency-accordion-body .row > div {
    padding: 0 18px;
}

@media only screen and (max-width: 600px) {
    .competency-accordion-body {
        overflow-y: auto;
    }
}

.lecture-unit-container {
    flex-wrap: nowrap !important;

    min-height: 50px;
    min-width: 100%;
    border: 1px solid var(--overview-blue-border-color);
    background-color: var(--overview-light-background-color);
    border-radius: 3px;
    transition: transform 0.2s linear;

    &:hover {
        transform: scale(1.012);
        background-color: var(--hover-slightly-darker-body-bg);
    }
}
