html,
body,
#storybook-root {
    min-height: 100%;
}

body {
    margin: 0;
    background: var(--tumaet-ui-content-background);
    color: var(--tumaet-ui-text-color);
    font-family: var(--tumaet-ui-font-family);
}
