.frame {
    width: 100%;
    display: flex;
    flex-direction: row;

    .info-column {
        width: 5%;
        min-width: 3rem;

        .info-column-spacer {
            height: 1.75rem;
        }

        .time-label {
            height: 3.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding-right: 0.25rem;
            font-size: 0.5rem;
            font-weight: 550;
        }
    }

    .event-column {
        flex: 1;
        position: relative;
        border-left: 1px solid var(--border-color);

        .hour-segment {
            height: 3.5rem;
            border-bottom: 1px solid var(--border-color);
        }

        .event {
            position: absolute;
            z-index: 1;
            background-color: var(--body-bg);
            border-radius: 0.25rem;
            padding: 0.35rem;
            font-size: 0.75rem;
            line-height: 0.75rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: var(--black);
        }
    }
}
