$BLUE: #2A9FD6;
$INDIGO: #6610f2;
$PURPLE: #6f42c1;
$PINK: #e83e8c;
$RED: #CC0000;
$ORANGE: #fd7e14;
$YELLOW: #FF8800;
$GREEN: #77B300;
$TEAL: #20c997;
$CYAN: #9933CC;
$WHITE: #FFF;
$GRAY_LIGHT: #222;
$GRAY: #555;
$PRIMARY: #ffffff;
$SECONDARY: #555;
$SUCCESS: #77B300;
$INFO: $TEAL;
$WARNING: #FF8800;
$DANGER: #CC0000;
$LIGHT: #222;
$DARK: #ADAFAE;

$FGCOLOR: $WHITE;
$PRIMARY_DARK: #232323;
$PRIMARY_LIGHT: #333333;
$PRIMARY_TEXT: $PRIMARY;
$SECONDARY_DARK: #777777;
$SECONDARY_LIGHT: #444444;
$SECONDARY_TEXT: $SECONDARY_DARK;
$INFO_DARK: #1baf8b;
$INFO_LIGHT: #2eecaf;
$INFO_TEXT: $INFO;
$SUCCESS_DARK: #92C233;
$SUCCESS_LIGHT: #5F8F00;
$SUCCESS_TEXT: $SUCCESS;
$WARNING_DARK: #FFA033;
$WARNING_LIGHT: #cc6d00;
$WARNING_TEXT: $WARNING;
$DANGER_DARK: #D63333;
$DANGER_LIGHT: #a30000;
$DANGER_TEXT: $WHITE;
$DARK_DARK: #BDBFBE;
$DARK_LIGHT: #8A8C8B;
$LIGHT_DARK: #4E4E4E;
$LIGHT_LIGHT: #1B1B1B