.quiz-timer-bar {
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden;
    background: var(--p-content-background);
    border-top: 0 solid var(--border-color);

    .display {
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        gap: 5px;
        max-height: 1.5lh;
        min-height: 1.5lh;
        padding: 3px 5px;

        .message {
            font-size: 80%;
        }
    }

    .quiz-timer-progress {
        width: 100%;
        height: 4px;
        background: var(--p-content-border-color);
        overflow: hidden;
        flex: 1;
        min-height: 3px;
        max-height: 3px;
        transform-origin: left center;
        transition: all 0.5s linear;
    }

    .quiz-timer-progress-fill {
        height: 100%;
        background: var(--success);
        transition: width 1s linear;

        &.warning {
            background-color: var(--warning);
        }

        &.danger {
            background-color: var(--danger);
        }
    }

    &.open {
        border-top-width: 1px;
        opacity: 1;
    }

    &.compact {
        display: inline-flex;
        align-items: center;
        background: transparent;

        .display {
            max-height: none;
            min-height: auto;
            padding: 0;
        }

        &.open {
            border-top-width: 0;
        }
    }
}
