.general-info-container {
    height: calc(100vh - var(--sidebar-footer-height-dev) - 9.2rem);
    overflow: auto;

    &.half-size {
        height: calc(50vh - var(--sidebar-footer-height-dev) - 9.2rem);
    }
}
