<div>
    <h2 id="page-heading">
        <span jhiTranslate="arTeMiSApp.dragAndDropAssignment.home.title">Drag And Drop Assignments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-drag-and-drop-assignment" [routerLink]="['/drag-and-drop-assignment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="arTeMiSApp.dragAndDropAssignment.home.createLabel">
            Create new Drag And Drop Assignment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dragAndDropAssignments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="arTeMiSApp.dragAndDropAssignment.item">Item</span></th>
            <th><span jhiTranslate="arTeMiSApp.dragAndDropAssignment.location">Location</span></th>
            <th><span jhiTranslate="arTeMiSApp.dragAndDropAssignment.submittedAnswer">Submitted Answer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dragAndDropAssignment of dragAndDropAssignments ;trackBy: trackId">
                <td><a [routerLink]="['/drag-and-drop-assignment', dragAndDropAssignment.id, 'view' ]">{{dragAndDropAssignment.id}}</a></td>
                <td>
                    <div *ngIf="dragAndDropAssignment.item">
                        <a [routerLink]="['../drag-item', dragAndDropAssignment.item?.id, 'view' ]" >{{dragAndDropAssignment.item?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dragAndDropAssignment.location">
                        <a [routerLink]="['../drop-location', dragAndDropAssignment.location?.id, 'view' ]" >{{dragAndDropAssignment.location?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="dragAndDropAssignment.submittedAnswer">
                        <a [routerLink]="['../drag-and-drop-submitted-answer', dragAndDropAssignment.submittedAnswer?.id, 'view' ]" >{{dragAndDropAssignment.submittedAnswer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/drag-and-drop-assignment', dragAndDropAssignment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/drag-and-drop-assignment', dragAndDropAssignment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'drag-and-drop-assignment/'+ dragAndDropAssignment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
