@import '../../../../content/scss/artemis-mixins';

:host {
    display: flex;
    flex-direction: column;
}

.scrollable-content-exam-cover {
    @include shell-content-height;

    overflow-y: auto;
}
