<input
    #ngbTypeahead
    id="typeahead-basic"
    type="text"
    class="form-control"
    (selectItem)="onAutocompleteSelect($event.item)"
    [placeholder]="searchPlaceholderTranslation | artemisTranslate"
    [ngbTypeahead]="onSearch"
    [resultFormatter]="searchResultFormatter"
    [inputFormatter]="searchInputFormatter"
    (blur)="onSearchInputBlur()"
/>
<div class="search-info" [class.active]="isSearching">
    <fa-icon size="lg" [icon]="faCircleNotch" [spin]="true"></fa-icon>
</div>
<div class="search-info" [class.active]="searchFailed">
    <span class="badge bg-danger" jhiTranslate="artemisApp.dataTable.search.failed"> Search failed </span>
</div>
<div class="search-info" [class.active]="searchNoResults">
    <span class="badge bg-warning" [jhiTranslate]="searchNoResultsTranslation"> No results </span>
</div>
<div class="search-info" [class.active]="searchQueryTooShort">
    <span class="badge bg-info" [jhiTranslate]="minQueryLengthHintTranslation" [translateValues]="{ length: minSearchQueryLength }">
        Please enter at least {{ minSearchQueryLength }} characters
    </span>
</div>
