<div class="quiz-content container">
    <div *ngFor="let submitedAnswer of submission.submittedAnswers; let i = index">
        <jhi-multiple-choice-question
            id="question{{ i }}"
            *ngIf="submitedAnswer.quizQuestion.type === MULTIPLE_CHOICE"
            [question]="submitedAnswer.quizQuestion"
            [(selectedAnswerOptions)]="submitedAnswer.quizQuestion.selectedOptions"
            [fnOnSelection]=""
            [clickDisabled]="true"
            [showResult]="false"
            [submittedResult]="null"
            [submittedQuizExercise]="submitedAnswer.quizQuestion"
            [forceSampleSolution]="false"
            [questionIndex]="i + 1"
            [score]="submitedAnswer.quizQuestion.score"
        ></jhi-multiple-choice-question>
        <jhi-drag-and-drop-question
            id="question{{ i }}"
            *ngIf="submitedAnswer.quizQuestion.type === DRAG_AND_DROP"
            [question]="submitedAnswer.quizQuestion"
            [(mappings)]="submitedAnswer.quizQuestion.mappings"
            [fnOnMappingUpdate]=""
            [clickDisabled]="true"
            [showResult]="false"
            [forceSampleSolution]="false"
            [questionIndex]="i + 1"
            [score]="submitedAnswer.quizQuestion.score"
        ></jhi-drag-and-drop-question>
        <jhi-short-answer-question
            id="question{{ i }}"
            *ngIf="submitedAnswer.quizQuestion.type === SHORT_ANSWER"
            [question]="submitedAnswer.quizQuestion"
            [(submittedTexts)]="submitedAnswer.quizQuestion.submittedTexts"
            [fnOnSubmittedTextUpdate]=""
            [clickDisabled]="true"
            [showResult]="false"
            [forceSampleSolution]="false"
            [questionIndex]="i + 1"
            [score]="submitedAnswer.quizQuestion.score"
        ></jhi-short-answer-question>
    </div>
</div>
