dt {
    font-weight: 500;
}

span {
    color: var(--secondary);
    //font-size: smaller;
}

.btn-default:hover {
    border: 1px solid var(--primary);
}

.dropdown-toggle::after {
    display: none;
}
