.form-element {
    font-size: 17px;
    font-weight: bolder;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-check-label {
    font-size: 15px;
    font-weight: bolder;
}

label {
    font-size: 17px;
    font-weight: bolder;
}
