.form-element {
    font-size: 17px;
    font-weight: bolder;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-check-label {
    font-size: 15px;
    font-weight: bolder;
}

label {
    font-size: 17px;
    font-weight: bolder;
}

.badge {
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plagiarism-option {
    align-items: center;
    display: flex;
    flex-shrink: 0;

    .form-control {
        padding-right: 0;
    }

    &.disabled .form-control {
        opacity: 0.4;
    }

    &-label {
        flex-shrink: 0;
        width: 12rem;
    }

    &-checkbox {
        margin-right: 0.5rem;
    }

    #plagiarism-similarity-threshold,
    #plagiarism-minimum-score,
    #plagiarism-minimum-size {
        margin-right: 0.5rem;
        width: 4rem;
    }
}
