<form name="editForm" role="form" novalidate>
    <div class="modal-header">
        <h4
            class="modal-title"
            id="myProgrammingExerciseLabel"
            jhiTranslate="artemisApp.exerciseLtiConfiguration.configurationForExercise"
            [translateValues]="{ title: exercise?.title }"
        >
            LTI Configuration for exercise {{ exercise?.title }}
        </h4>
    </div>
    <hr />

    <div class="modal-body">
        <dt><span>LTI ID</span></dt>
        <dd>
            <span>{{ ltiConfiguration?.ltiId }}</span>
        </dd>

        <dt><span>LTI Key</span></dt>
        <dd>
            <span>{{ ltiConfiguration?.ltiKey }}</span>
        </dd>

        <dt><span>LTI Secret</span></dt>
        <dd>
            <span>{{ ltiConfiguration?.ltiSecret }}</span>
        </dd>

        <dt><span>LTI Launch URL</span></dt>
        <dd>
            <span>{{ ltiConfiguration?.launchUrl }}</span>
        </dd>

        <dt>
            <span>LTI Launch Target</span>
            <fa-icon [icon]="faQuestionCircle" class="text-secondary" placement="top" ngbTooltip="{{ 'artemisApp.lti.launchTarget' | artemisTranslate }}"></fa-icon>
        </dt>
        <dd>
            <span>New Window</span>
        </dd>

        <dt><span>Scored</span></dt>
        <dd>
            <span>True</span>
        </dd>

        <dt><span>Request user's username</span></dt>
        <dd>
            <span>True</span>
        </dd>

        <dt>
            <span>Request user's email</span>
            <fa-icon [icon]="faQuestionCircle" class="text-secondary" placement="top" ngbTooltip="{{ 'artemisApp.lti.requestUserEmail' | artemisTranslate }}"></fa-icon>
        </dt>
        <dd>
            <span>True</span>
        </dd>

        <div class="form-group">
            <h4>Custom Parameters</h4>

            <dt>
                <span>Consumer Instance Name</span>
                <fa-icon [icon]="faQuestionCircle" class="text-secondary" placement="top" ngbTooltip="{{ 'artemisApp.lti.consumerInstanceName' | artemisTranslate }}"></fa-icon>
            </dt>
            <dd>
                <input
                    type="text"
                    class="form-control"
                    name="customerInstanceName"
                    placeholder="{{ 'artemisApp.lti.consumerInstanceNamePlaceholder' | artemisTranslate }}"
                    [(ngModel)]="customerInstanceName"
                />
            </dd>

            <dt>
                <span>Require existing user</span>
                <fa-icon [icon]="faQuestionCircle" class="text-secondary" placement="top" ngbTooltip="{{ 'artemisApp.lti.requireExistingUser' | artemisTranslate }}"></fa-icon>
            </dt>
            <dd>
                <input type="checkbox" class="form-check-input" (change)="requireExistingUser = !requireExistingUser" [checked]="requireExistingUser" />
            </dd>

            <dt>
                <span>Lookup user by email</span>
                <fa-icon [icon]="faQuestionCircle" class="text-secondary" placement="top" ngbTooltip="{{ 'artemisApp.lti.lookupUserByEmail' | artemisTranslate }}"></fa-icon>
            </dt>
            <dd>
                <input type="checkbox" class="form-check-input" (change)="lookupUserByEmail = !lookupUserByEmail" [checked]="lookupUserByEmail" />
            </dd>

            <textarea class="form-control" rows="3" [value]="getFormattedCustomParameters()" readonly></textarea>
        </div>
    </div>
</form>
