.tab-bar {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    $padding-y: 11px;

    border-bottom: 1px solid var(--overview-border-color);
    margin-bottom: $padding-y;
    padding-top: $padding-y;

    .tab-item {
        margin-bottom: $padding-y;

        &.active {
            box-shadow: 0 2px 0 var(--overview-tab-active-border-color);
        }
    }

    @media (max-width: 750px) {
        min-height: 100px;
        padding-bottom: 40px;
    }
}
