<div *ngIf="course">
    <jhi-header-course [course]="course"></jhi-header-course>
    <div class="tab-bar">
        <a [routerLink]="['/course-management', course.id, 'exercises']" class="tab-item btn btn-primary btn-md ms-1" routerLinkActive="active">
            <fa-icon [icon]="faListAlt"></fa-icon>
            <span jhiTranslate="artemisApp.courseOverview.menu.exercises">Exercise</span>
        </a>
        <a [routerLink]="['/course-management', course.id, 'exams']" class="tab-item btn btn-primary btn-md ms-1" routerLinkActive="active">
            <fa-icon [icon]="faGraduationCap"></fa-icon>
            <span jhiTranslate="artemisApp.courseOverview.menu.exams">Exams</span>
        </a>
        <a
            *ngIf="course.isAtLeastEditor"
            [routerLink]="['/course-management', course.id, 'lectures']"
            class="tab-item btn btn-primary btn-md ms-1"
            id="lectures"
            routerLinkActive="active"
        >
            <fa-icon [icon]="faFilePdf"></fa-icon>
            <span jhiTranslate="artemisApp.courseOverview.menu.lectures">Lectures</span>
        </a>
        <a
            *ngIf="isCommunicationEnabled(course) && course.isAtLeastTutor"
            [routerLink]="['/courses', course.id, 'discussion']"
            class="tab-item btn btn-primary btn-md ms-1"
            routerLinkActive="active"
        >
            <fa-icon [icon]="faComments"></fa-icon>
            <span jhiTranslate="artemisApp.metis.communication.label">Communication</span>
        </a>
        <a
            *ngIf="course.isAtLeastInstructor"
            [routerLink]="['/course-management', course.id, 'competency-management']"
            class="tab-item btn btn-primary btn-md ms-1"
            routerLinkActive="active"
        >
            <fa-icon [icon]="faFlag"></fa-icon>
            <span jhiTranslate="artemisApp.competency.competencyButton">Competency</span>
        </a>
        <a
            [jhiFeatureToggleLink]="FeatureToggle.TutorialGroups"
            *ngIf="course.isAtLeastInstructor"
            [routerLink]="['/course-management', course.id, 'tutorial-groups']"
            class="tab-item btn btn-primary btn-md ms-1"
            routerLinkActive="active"
            [class.active]="shouldHighlightTutorialGroupsButton()"
        >
            <fa-icon [icon]="faPersonChalkboard"></fa-icon>
            <span jhiTranslate="artemisApp.entities.tutorialGroup.plural"></span>
        </a>
        <div class="btn-group tab-item">
            <a [routerLink]="['/course-management', course.id, 'assessment-dashboard']" class="tab-item btn btn-info btn-md ms-1 my-0" routerLinkActive="active">
                <fa-icon [icon]="faUserCheck"></fa-icon>
                <span jhiTranslate="entity.action.assessmentDashboard">Assessment Dashboard</span>
            </a>
            <div ngbDropdown *ngIf="course.isAtLeastInstructor" class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-info btn-md dropdown-toggle-split" ngbDropdownToggle></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a ngbDropdownItem [routerLink]="['/course-management', course.id, 'scores']" class="tab-item btn my-0" routerLinkActive="active">
                        <fa-icon [icon]="faTable"></fa-icon>
                        <span jhiTranslate="entity.action.scores">Scores</span>
                    </a>
                    <a ngbDropdownItem [routerLink]="['/course-management', course.id, 'grading-system']" class="tab-item btn my-0" routerLinkActive="active">
                        <fa-icon [icon]="faClipboard"></fa-icon> <span jhitranslate="artemisApp.course.gradingSystem">Grading Key</span>
                    </a>
                    <a ngbDropdownItem [routerLink]="['/course-management', course.id, 'plagiarism-cases']" class="tab-item btn my-0" routerLinkActive="active">
                        <fa-icon [icon]="faHeartBroken"></fa-icon>
                        <span jhiTranslate="artemisApp.plagiarism.cases.plagiarismCases">Plagiarism Cases</span>
                    </a>
                </div>
            </div>
        </div>
        <a *ngIf="course.isAtLeastTutor" [routerLink]="['/course-management', course.id, 'course-statistics']" class="tab-item btn btn-info btn-md ms-1" routerLinkActive="active">
            <fa-icon [icon]="faChartBar"></fa-icon>
            <span jhiTranslate="artemisApp.courseOverview.menu.statistics">Statistics</span>
        </a>
        <div class="ms-auto">
            <a
                *ngIf="course.isAtLeastInstructor"
                id="edit-course"
                [routerLink]="['/course-management', course.id, 'edit']"
                class="tab-item btn btn-warning btn-md"
                routerLinkActive="active"
            >
                <fa-icon [icon]="faWrench"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </a>
            <jhi-course-exam-archive-button
                *ngIf="course.isAtLeastInstructor"
                [archiveMode]="'Course'"
                [course]="course"
                class="archive-button ms-1"
            ></jhi-course-exam-archive-button>
            <button
                id="delete-course"
                class="tab-item btn btn-md ms-1 me-1"
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                [buttonSize]="ButtonSize.MEDIUM"
                jhiDeleteButton
                [entityTitle]="course.title || ''"
                deleteQuestion="artemisApp.course.delete.question"
                deleteConfirmationText="artemisApp.course.delete.typeNameToConfirm"
                (delete)="deleteCourse(course.id!)"
                [dialogError]="dialogError$"
            >
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
