<div class="me-0 p-1 row">
    <div class="col-auto p-0" *ngFor="let reactionMetaData of reactionMetaDataMap | keyvalue">
        <button
            class="reaction-button clickable"
            [class.reaction-button--reacted]="reactionMetaData.value.hasReacted"
            (click)="updateReaction(reactionMetaData.key)"
            [ngbTooltip]="reactionMetaData.value.reactingUsers | reactingUsersOnPosting | async"
        >
            <jhi-emoji [emoji]="reactionMetaData.key"></jhi-emoji>
            <span class="emoji-count" [class.reaction-count--reacted]="reactionMetaData.value.hasReacted">{{ reactionMetaData.value.count }}</span>
        </button>
    </div>
    <div class="col-auto px-0">
        <fa-icon
            [icon]="farSmile"
            class="reaction-button me-0 text-secondary clickable"
            [class.open-selector]="showReactionSelector"
            (click)="showReactionSelector = !showReactionSelector"
            cdkOverlayOrigin
            #trigger="cdkOverlayOrigin"
            [title]="'artemisApp.metis.chooseReaction' | artemisTranslate"
        >
        </fa-icon>
    </div>
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayHasBackdrop]="true"
        [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="showReactionSelector"
        (backdropClick)="toggleEmojiSelect()"
    >
        <jhi-emoji-picker
            [emojisToShowFilter]="emojisToShowFilter"
            (emojiSelect)="selectReaction($event)"
            [categoriesIcons]="categoriesIcons"
            [recent]="selectedCourseEmojis"
        ></jhi-emoji-picker>
    </ng-template>
    <!-- add new answer to expanded discussion -->
    <div class="col-auto p-0" *ngIf="isLastAnswer && !isThreadSidebar">
        <button class="reaction-button clickable reply-btn" (click)="openPostingCreateEditModal.emit()">
            <jhi-emoji [emoji]="speechBalloonId"></jhi-emoji>
            <span class="emoji-count">{{ 'artemisApp.metis.reply' | artemisTranslate }}</span>
        </button>
    </div>
</div>
