:host {
    $feedback-header-fg: #fff;

    .feedback {
        &-header {
            color: $feedback-header-fg;
            background-color: var(--artemis-dark);
            display: flex;
            justify-content: space-between;

            &__close {
                background: none;
                border: none;
                color: $feedback-header-fg;
            }
        }
    }

    .result-score-chart {
        margin-bottom: 3rem;

        .chart-tooltip-space {
            .chart-tooltip-space-content {
                width: 250px;
                height: 20px;
                top: -15px;
                position: absolute;
            }
        }
    }

    :host::ng-deep .legend-labels {
        background-color: transparent !important;
        text-align: center !important;
        font-weight: bolder;
    }

    :host::ng-deep .legend-label {
        color: var(--artemis-dark) !important;
    }

    :host::ng-deep .legend-label-color {
        border: 1px solid;
    }

    .modal-footer {
        min-width: 100%;
    }
}
