.mc-question {
    background: var(--quiz-question-background);
    border: 1px solid var(--quiz-question-border-color);
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 20px;
    position: relative;
    width: 100%;

    .answer-option {
        display: flex;
        align-items: center;
        outline: none !important;
        border: 1px solid var(--mc-question-answer-option-border);
        margin: 4px 0;
        padding: 6px 10px;

        .selection {
            width: 36px;
            margin-left: 16px;
        }

        .content {
            display: flex;
            flex: 1;
            align-items: center;

            .text {
                flex: 1;
                padding-right: 8px;
                font-size: 16px;
            }

            .hint {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-size: 18px;
            }
        }
    }

    /* Used when the student can work on the exercise. See answer-options-result class for result display. */
    .answer-options {
        margin-top: 20px;

        .answer-option {
            cursor: pointer;
            user-select: none;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */

            &:hover {
                background: var(--mc-question-answer-option-hover-background);
            }

            &:not(.click-disabled).selected {
                animation: on-select 0.6s ease;
                animation-fill-mode: forwards;
                background: var(--mc-question-answer-option-selected-background);

                @keyframes on-select {
                    0%,
                    100% {
                        transform: scale(1);
                    }

                    33% {
                        transform: scale(1.012);
                    }
                }
            }

            &.click-disabled {
                cursor: not-allowed;

                &:hover {
                    background: inherit;
                }
            }
        }
    }

    table.answer-options-result {
        width: 100%;

        .answer-option {
            display: table-row;
        }

        th {
            color: var(--gray-600);
        }

        th,
        td {
            padding: 6px 10px;
        }

        .solution {
            width: 100px;
        }

        .result-symbol {
            padding: 0;
            color: var(--warning);
            width: 50px;
        }

        .selection {
            width: 36px;
            margin-left: 0;
        }

        .correct {
            color: var(--success);
        }

        .wrong {
            color: var(--danger);
        }
    }
}

.visual-mode {
    margin-top: 20px;
}

.visual-question {
    border-radius: 4px;
    border: 1px solid var(--quiz-visual-question-border-color);
    padding: 6px;
}

.visual-question-hint {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.visual-answer-option {
    outline: none !important;
    border: 1px solid var(--mc-question-answer-option-border);
    margin: 4px 0;
    padding: 6px 10px;
}

.visual-answer-question-container {
    display: flex;
}

.visual-answer-delete-container {
    background: var(--red);
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 2.5%;
    min-width: 35px;
    margin-left: 0.2rem;
    border-radius: 2px;
}

.visual-answer-reset-container {
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 2.5%;
    min-width: 35px;
    margin-left: 0.2rem;
    border-radius: 2px;
}

.visual-answer-correct-container {
    background: var(--quiz-visual-answer-correct-container-color);
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 2.5%;
    min-width: 35px;
    margin-right: 0.2rem;
    border-radius: 2px;
}

.visual-answer-wrong-container {
    background: var(--red);
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 2.5%;
    min-width: 35px;
    margin-right: 0.2rem;
    border-radius: 2px;
}

.visual-answer-add-container {
    background: var(--quiz-visual-answer-add-container-color);
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 2.5%;
    min-width: 35px;
    margin-left: 0.2rem;
    border-radius: 2px;
    color: var(--white);
}

.visual-answer-add-container:hover {
    background: var(--quiz-visual-answer-add-container-hover-color);
}

.visual-answer-add-container-disabled {
    background: var(--quiz-visual-answer-add-container-hover-color);
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 2.5%;
    min-width: 35px;
    margin-left: 0.2rem;
    border-radius: 2px;
    color: var(--white);
}

.visual-answer-delete-container:hover {
    color: var(--white);
}

.visual-answer-correct-container:hover {
    background: var(--quiz-visual-answer-correct-container-hover-color);
}

.visual-answer-wrong-container:hover {
    background: var(--quiz-visual-answer-wrong-container-hover-color);
}

.visual-answer {
    color: var(--white);
}

.visual-new-answer-title {
    margin-top: 1rem;
}
