<div *ngIf="show()">
    <h4>{{ 'artemisApp.exam.examSummary.points.overview' | artemisTranslate }}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'artemisApp.exam.examSummary.points.exercise' | artemisTranslate }}</th>
                <th scope="col">{{ 'artemisApp.exercise.includedInOverallScore' | artemisTranslate }}</th>
                <th scope="col">{{ 'artemisApp.exam.examSummary.points.yourPoints' | artemisTranslate }}</th>
                <th scope="col">{{ 'artemisApp.exam.examSummary.points.maxPoints' | artemisTranslate }}</th>
                <th scope="col" *ngIf="getMaxBonusPointsSum() != 0">{{ 'artemisApp.exam.examSummary.points.bonus' | artemisTranslate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let exercise of studentExamWithGrade?.studentExam?.exercises; let i = index"
                [ngClass]="{
                    'font-italic text-danger font-weight-bold': exercise.includedInOverallScore === IncludedInOverallScore.NOT_INCLUDED,
                    'font-italic text-warning font-weight-bold': exercise.includedInOverallScore === IncludedInOverallScore.INCLUDED_AS_BONUS
                }"
            >
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <span *ngIf="exercise.title">{{ exercise.title }}</span>
                </td>
                <td>{{ exerciseService.isIncludedInScore(exercise) }}</td>
                <td>
                    {{ getAchievedPoints(exercise) }}
                </td>
                <td>
                    <span *ngIf="exercise.maxPoints != undefined">{{ exercise.includedInOverallScore === IncludedInOverallScore.INCLUDED_AS_BONUS ? 0 : exercise.maxPoints }}</span>
                </td>
                <td *ngIf="getMaxBonusPointsSum() != 0">
                    <span *ngIf="exercise.bonusPoints != undefined">{{
                        exercise.includedInOverallScore === IncludedInOverallScore.INCLUDED_AS_BONUS ? exercise.maxPoints : exercise.bonusPoints
                    }}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <h5 *ngIf="getMaxBonusPointsSum() != 0">
        {{
            'artemisApp.exam.examSummary.points.youAchievedWithBonus'
                | artemisTranslate
                    : {
                          achievedPoints: getAchievedPointsSum(),
                          normalPoints: getMaxPointsSum(),
                          bonusPoints: getMaxBonusPointsSum()
                      }
        }}
    </h5>
    <h5 *ngIf="getMaxBonusPointsSum() == 0">
        {{
            'artemisApp.exam.examSummary.points.youAchieved'
                | artemisTranslate
                    : {
                          achievedPoints: getAchievedPointsSum(),
                          normalPoints: getMaxPointsSum()
                      }
        }}
    </h5>
    <h5 *ngIf="studentExamWithGrade.studentResult.gradeWithBonus != undefined">
        {{
            'artemisApp.exam.examSummary.points.youAchievedFromBonus.' + studentExamWithGrade.studentResult.gradeWithBonus.bonusStrategy
                | artemisTranslate
                    : {
                          achievedBonus: studentExamWithGrade.studentResult.gradeWithBonus.bonusGrade,
                          bonusFromTitle: studentExamWithGrade.studentResult.gradeWithBonus.bonusFromTitle
                      }
        }}
    </h5>
    <h5 *ngIf="studentExamWithGrade.studentResult.gradeWithBonus?.bonusStrategy === BonusStrategy.POINTS">
        {{
            'artemisApp.exam.examSummary.points.youAchievedPointsAfterBonus'
                | artemisTranslate
                    : {
                          finalPoints: studentExamWithGrade.studentResult.gradeWithBonus!.finalPoints
                      }
        }}
    </h5>
    <br />
    <ng-container *ngIf="gradingScaleExists">
        <table class="h5 lh-lg">
            <tr *ngIf="!isBonus">
                <td>{{ 'artemisApp.exam.examSummary.' + (studentExamWithGrade.studentResult.gradeWithBonus != undefined ? 'gradeBeforeBonus' : 'grade') | artemisTranslate }}:</td>
                <td>
                    <span [ngClass]="hasPassed ? 'passing-grade' : 'failing-grade'"> {{ grade }}</span>
                </td>
            </tr>
            <tr *ngIf="isBonus">
                <td>{{ 'artemisApp.exam.examSummary.bonus' | artemisTranslate }}:</td>
                <td>{{ grade }}</td>
            </tr>
            <tr *ngIf="studentExamWithGrade.studentResult.gradeWithBonus != undefined">
                <td>{{ 'artemisApp.exam.examSummary.gradeAfterBonus' | artemisTranslate }}:</td>
                <td>
                    <span [ngClass]="hasPassed ? 'passing-grade' : 'failing-grade'"> {{ studentExamWithGrade.studentResult.gradeWithBonus.finalGrade }}</span>
                </td>
            </tr>
        </table>
        <span class="grading-key" [routerLink]="['overview', 'grading-key']" [queryParams]="{ grade: studentExamWithGrade.studentResult.gradeWithBonus?.finalGrade ?? grade }">
            <a class="btn btn-primary">
                <fa-icon [icon]="faClipboard"></fa-icon>
                <span
                    >&nbsp;{{
                        isBonus ? ('artemisApp.exam.examSummary.gradeKeyButtonBonus' | artemisTranslate) : ('artemisApp.exam.examSummary.gradeKeyButton' | artemisTranslate)
                    }}</span
                >
            </a>
        </span>
        <span
            *ngIf="studentExamWithGrade.studentResult.gradeWithBonus?.bonusGrade != undefined"
            class="grading-key"
            [routerLink]="['overview', 'bonus-grading-key']"
            [queryParams]="{ grade: studentExamWithGrade.studentResult.gradeWithBonus!.bonusGrade }"
        >
            <a class="btn btn-primary">
                <fa-icon [icon]="faAward"></fa-icon>
                <span>&nbsp;{{ 'artemisApp.exam.examSummary.bonusGradeKeyButton' | artemisTranslate }}</span>
            </a>
        </span>
    </ng-container>
</div>
