.passing-grade {
    background-color: #28a745;
    color: white;
    padding: 0.25em 0.5em;
}

.failing-grade {
    background-color: #ca2024;
    color: white;
    padding: 0.25em 0.5em;
}

.total-footer {
    border-top-width: 2px;
}
