tr:not(thead tr):not(tfoot tr) {
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
        transition: transform 0.1s;
    }
}

.passing-grade {
    background-color: #28a745;
    color: white;
    padding: 0.25em 0.5em;
}

.failing-grade {
    background-color: #ca2024;
    color: white;
    padding: 0.25em 0.5em;
}

.total-footer {
    border-top-width: 2px;
}

.chevron-position {
    display: inline-block;
    vertical-align: middle;
}

.rotate-icon {
    transition: transform 0.3s ease;
}

.rotate-icon.rotated {
    transform: rotate(90deg);
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
