@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

:host {
    tr:not(thead tr):not(tfoot tr) {
        cursor: pointer;

        &:hover {
            transform: scale(1.012);
            transition: transform 0.1s;
        }
    }
}

.passing-grade {
    background-color: #28a745;
    color: white;
    padding: 0.25em 0.5em;
}

.failing-grade {
    background-color: #ca2024;
    color: white;
    padding: 0.25em 0.5em;
}

.total-footer {
    border-top-width: 2px;
}
