<div class="btn-group btn-group-toggle" ngbRadioGroup name="includeInOverallScorePicker" [ngModel]="includedInOverallScore" (ngModelChange)="change($event)">
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="IncludedInOverallScore.INCLUDED_COMPLETELY" /> {{ 'artemisApp.exercise.yes' | artemisTranslate }}
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="IncludedInOverallScore.INCLUDED_AS_BONUS" />{{ 'artemisApp.exercise.bonus' | artemisTranslate }}
    </label>
    <label ngbButtonLabel class="btn-primary" *ngIf="allowNotIncluded">
        <input ngbButton type="radio" [value]="IncludedInOverallScore.NOT_INCLUDED" /> {{ 'artemisApp.exercise.no' | artemisTranslate }}
    </label>
</div>
