.text-with-feedback {
    text-decoration-line: underline;
    padding: 2px 4px;
    border-radius: 4px;

    &.positive-feedback {
        text-decoration-style: double;
        text-decoration-color: var(--textblock-assessment-text-feedback-positive-active-decoration);
        color: var(--textblock-assessment-text-feedback-positive-color);
        background-color: var(--textblock-assessment-text-feedback-positive-background);
    }

    &.negative-feedback {
        text-decoration-style: wavy;
        text-decoration-color: var(--textblock-assessment-text-feedback-negative-active-decoration);
        color: var(--textblock-assessment-text-feedback-negative-color);
        background-color: var(--textblock-assessment-text-feedback-negative-background);
    }

    &.neutral-feedback {
        text-decoration-style: dashed;
        text-decoration-color: var(--textblock-assessment-text-feedback-neutral-active-decoration);
        color: var(--textblock-assessment-text-feedback-neutral-color);
        background-color: var(--textblock-assessment-text-feedback-neutral-background);
    }

    b {
        font-weight: 600;
    }
}

.feedback-icon {
    &.positive-feedback {
        color: var(--textblock-assessment-text-feedback-positive-color);
    }

    &.negative-feedback {
        color: var(--textblock-assessment-text-feedback-negative-color);
    }
}

.feedback-points {
    font-weight: bold;
}

.white-space {
    white-space: pre-wrap;
}
