@import 'src/main/webapp/content/scss/artemis-variables';

$metis-light-gray: #979797;

.post-title {
    font-weight: 600;
    color: #0f6ab4;

    .reference-hash {
        font-weight: 200;
        color: $metis-light-gray;
    }
}

.posting-header {
    font-size: 12px;
}

.post-tag {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: darkblue;
}

.linked-context-information {
    font-weight: 300 !important;
    font-size: small;
    color: #0f6ab4;
}

.context-information {
    font-weight: 300 !important;
    font-size: small;
}

.post-separation-line {
    width: auto;
    height: 1px;
    background: $metis-light-gray;
    content: ' ';
}
