.frame {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .chips-section {
        display: flex;
        gap: 0.375rem;
        min-width: 6rem;

        .chip {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            box-sizing: border-box;
            padding: 0.25rem 0.5rem;
            border-radius: 0.75rem;
            background: var(--body-bg);
            font-size: 0.75rem;
        }

        .exam-chip {
            background-color: var(--pastel-teal);
        }

        .lecture-chip {
            background-color: var(--pastel-blue);
        }

        .tutorial-chip {
            background-color: var(--pastel-purple);
        }

        .exercise-chip {
            background-color: var(--pastel-cyan);
        }

        .legend-circle {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 0.25rem;
        }
    }
}

.filter-button {
    all: unset;
    cursor: pointer;
    color: var(--secondary);

    .filter-icon {
        font-size: 0.75rem;
    }
}

.remove-button {
    cursor: pointer;
}

.dropdown {
    display: flex;
    flex-direction: column;

    .dropdown-item {
        padding: 0.375rem 0.5rem;
        cursor: pointer;
        user-select: none;
    }
}

input[type='checkbox'] {
    margin-right: 0.5rem;
    margin-left: 0 !important;
}
