.jhi-table-view-container {
    &.jhi-scrollable {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .p-datatable {
        tr th {
            white-space: nowrap !important;
            padding: 8px 16px !important;
        }
        tr td {
            padding: 8px 16px !important;
        }
        .p-datatable-header {
            jhi-search-filter .p-iconfield {
                display: flex;

                .p-component.p-inputtext {
                    flex-grow: 1;
                }

                p-inputicon:last-child {
                    right: 0.5rem;
                    left: auto;
                }
            }
            padding: 0 0 12px 0 !important;
            border-bottom: none;
        }
        .p-paginator {
            padding-bottom: 0 !important;
            justify-content: start !important;
        }
    }
}
