@import 'src/main/webapp/content/scss/artemis-variables';

.chat-session-sidebar {
    .chat-session-list {
        flex-grow: 1;
        overflow-y: auto;
        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            padding: 0.75rem;

            &-students {
                color: grey;
                font-size: 10px;
            }

            &.selected {
                background-color: transparentize(lightskyblue, 0.5);
            }

            &:hover {
                background-color: lightskyblue;
            }
        }
    }

    .chat-session-empty {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        opacity: 0.5;
    }
}
