<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="statistic">
            <h2><span jhiTranslate="arTeMiSApp.statistic.detail.title">Statistic</span> {{statistic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="arTeMiSApp.statistic.released">Released</span></dt>
                <dd>
                    <span>{{statistic.released}}</span>
                </dd>
                <dt><span jhiTranslate="arTeMiSApp.statistic.participantsRated">Participants Rated</span></dt>
                <dd>
                    <span>{{statistic.participantsRated}}</span>
                </dd>
                <dt><span jhiTranslate="arTeMiSApp.statistic.participantsUnrated">Participants Unrated</span></dt>
                <dd>
                    <span>{{statistic.participantsUnrated}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/statistic', statistic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
