<div class="course-info-bar">
    <div class="row justify-content-between">
        <div class="col-6">
            <h2>
                <fa-icon [icon]="'arrow-left'" (click)="back()" class="guided-tour-back back-button mr-2"></fa-icon>
                <span *ngIf="isNewSubmission">{{ 'artemisApp.exampleSubmission.createNew' | translate }} </span>{{ 'artemisApp.exampleSubmission.pageHeader' | translate }}
                {{ exercise?.title }}
            </h2>
        </div>

        <div class="col-4 text-right" *ngIf="isAtLeastInstructor && !readOnly && !toComplete && exercise">
            <div class="row">
                <div class="form-check col-12 align-baseline">
                    <input type="checkbox" name="usedForTutorial" id="field_usedForTutorial" [(ngModel)]="exampleSubmission.usedForTutorial" />
                    <label class="form-check-label" for="field_usedForTutorial">{{ 'artemisApp.exampleSubmission.usedForTutorial' | translate }}</label>
                </div>
            </div>

            <div class="row">
                <ng-container [ngSwitch]="state.submissionEditButton">
                    <button *ngSwitchCase="SubmissionButtonStates.NEW" (click)="createNewExampleTextSubmission()" class="btn btn-primary col-auto">
                        <fa-icon [icon]="'save'"></fa-icon>
                        {{ 'artemisApp.exampleSubmission.createNewSubmission' | translate }}
                    </button>
                    <button *ngSwitchCase="SubmissionButtonStates.UPDATE" (click)="updateExampleTextSubmission()" class="btn btn-primary col-auto">
                        <fa-icon [icon]="'save'"></fa-icon>
                        {{ 'artemisApp.exampleSubmission.updateSampleSolution' | translate }}
                    </button>
                    <button *ngSwitchCase="SubmissionButtonStates.EDIT" (click)="editSubmission()" class="btn btn-danger col-auto" id="editSampleSolution">
                        <fa-icon [icon]="'edit'"></fa-icon>
                        {{ 'artemisApp.exampleSubmission.editSampleSolution' | translate }}
                    </button>
                </ng-container>

                <ng-container [ngSwitch]="state.assessButton">
                    <!--TODO: Disable Button if unsaved changes in submission -->
                    <button
                        *ngSwitchCase="AssessButtonStates.ASSESS"
                        (click)="startAssessment()"
                        class="btn btn-primary col-auto ml-auto mr-3"
                        id="createNewAssessment"
                        [disabled]="unsavedChanges"
                    >
                        <fa-icon [icon]="'save'"></fa-icon>
                        {{ 'artemisApp.exampleSubmission.createNewAssessment' | translate }}
                    </button>
                    <button
                        *ngSwitchCase="AssessButtonStates.CREATE"
                        (click)="saveAssessments()"
                        [disabled]="!assessmentsAreValid"
                        class="btn btn-primary col-auto ml-auto mr-3"
                        id="saveNewAssessment"
                    >
                        <fa-icon [icon]="'save'"></fa-icon>
                        {{ 'artemisApp.exampleSubmission.saveNewAssessment' | translate }}
                    </button>
                    <button *ngSwitchCase="AssessButtonStates.UPDATE" (click)="saveAssessments()" [disabled]="!assessmentsAreValid" class="btn btn-primary col-auto ml-auto mr-3">
                        <fa-icon [icon]="'save'"></fa-icon>
                        {{ 'artemisApp.exampleSubmission.updateAssessment' | translate }}
                    </button>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<jhi-alert></jhi-alert>

<jhi-resizeable-container class="col-12 mt-3">
    <!--region Left Panel-->
    <span left-header *ngIf="state.ui === UIStates.SUBMISSION" jhiTranslate="artemisApp.exampleSubmission.exampleSubmission">Example submission</span>
    <textarea
        left-body
        *ngIf="state.ui === UIStates.SUBMISSION"
        [(ngModel)]="submission!.text"
        (ngModelChange)="unsavedChanges = true"
        style="width: 100%; height: 50vh"
    ></textarea>

    <jhi-score-display left-header *ngIf="state.ui === UIStates.ASSESSMENT" [maxScore]="exercise?.maxScore" [score]="totalScore"></jhi-score-display>
    <jhi-text-assessment-area
        left-body
        *ngIf="state.ui === UIStates.ASSESSMENT"
        [submission]="submission"
        [(textBlockRefs)]="textBlockRefs"
        [readOnly]="readOnly || (!isAtLeastInstructor && !toComplete)"
        (textBlockRefsChange)="validateFeedback()"
        (textBlockRefsAddedRemoved)="recalculateTextBlockRefs()"
    ></jhi-text-assessment-area>
    <!--endregion-->

    <!--region Right Panel-->
    <fa-icon right-header [icon]="['far', 'list-alt']"></fa-icon>&nbsp;
    <span right-header jhiTranslate="artemisApp.textAssessment.instructions">Instructions</span>
    <div
        right-body
        class="alert alert-info text-center mb-4"
        role="alert"
        jhiTranslate="artemisApp.textAssessment.exampleSubmissisonInstruction"
        *ngIf="state.ui === UIStates.SUBMISSION"
    ></div>
    <div
        right-body
        class="alert alert-info text-center mb-4"
        role="alert"
        jhiTranslate="artemisApp.textAssessment.assessmentInstruction"
        *ngIf="state.ui === UIStates.ASSESSMENT"
    ></div>
    <jhi-assessment-instructions right-body *ngIf="exercise" [exercise]="exercise" class="markdown-preview"></jhi-assessment-instructions>
    <!--endregion-->
</jhi-resizeable-container>

<div class="col-12 text-right" *ngIf="toComplete">
    <button class="btn btn-primary col-3 guided-tour-check-assessment" (click)="checkAssessment()" [disabled]="!assessmentsAreValid" id="checkAssessment">
        {{ 'artemisApp.exampleSubmission.submitAssessment' | translate }}
    </button>
</div>

<div class="col-12 text-right" *ngIf="readOnly">
    <button (click)="readAndUnderstood()" class="btn btn-success col-3 guided-tour-read">
        <fa-icon [icon]="'save'"></fa-icon>
        {{ 'artemisApp.exampleSubmission.readAndUnderstood' | translate }}
    </button>
</div>
