.hint {
    color: var(--textblock-assessment-text-feedback-highlighted-color);
    background-color: var(--textblock-assessment-text-feedback-highlighted-background);
}

.resizing-bar,
.resizing-bar-assessment,
.resizing-bar-bottom {
    line-height: 14px;
    z-index: 1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: 0 0;
}

.resizing-bar,
.resizing-bar-assessment {
    position: absolute;
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -20px;
}

.resizing-bar-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -14px;
}

.resizing-bar span,
.resizing-bar-assessment span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-color: #ccc;
    top: 50%;
    margin: -10px 0 0 3.5px;
    height: 20px;
    width: 7px;
    border-width: 0 1px;
}

.resizing-bar-bottom span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0;
    left: 50%;
    margin: 3.5px 0 0 -10px;
    width: 20px;
    height: 7px;
}

.card.collapsed {
    .card-body,
    .card-second-header,
    .card-header .float-end,
    .card-header h3 span {
        display: none;
    }

    .card-title {
        text-align: center;
    }
}

.submission-area {
    word-wrap: break-word;
}
