@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

$delete-delay-duration: 6s;

.post-result-information {
    font-size: small;
    font-style: italic;
}

.post-separation-line {
    height: 1px;
    background: var(--metis-light-gray);
}

.bold-line {
    height: 2px;
    background: var(--metis-light-gray);
}

.icon {
    color: var(--metis-gray);
}

.resolved {
    color: var(--metis-green);
}

.post-header-author-date {
    line-height: 1.1;
}

.post-content-padding {
    padding-left: 3.42rem;
}

.post-authority-icon-student {
    display: none;
}

.reference {
    font-weight: 200;
    display: inline-flex;
}

.hideAfter5Seconds {
    -webkit-animation: cssanimation 5s forwards;
    animation: cssanimation 5s forwards;
}

@keyframes cssanimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes cssanimation {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.card {
    border-radius: 0.25em;
}

@include media-breakpoint-down(sm) {
    .post-header-author-date {
        flex-direction: column;
        gap: 0 !important;
    }

    .post-content-padding {
        margin-left: 0;
    }

    .post-header-date-separator {
        display: none;
    }

    .post-header-date span {
        color: $secondary;
        font-size: 0.75rem !important;
    }
}

.post-delete-button-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba($primary, 0.3);
    animation: increaseWidth $delete-delay-duration forwards linear;

    @media (prefers-reduced-motion) {
        animation: none;
    }
}

.post-delete-button-label {
    position: relative;
    z-index: 1;
}

@keyframes increaseWidth {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
