<p-dialog
    [(visible)]="isVisible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
    [closeOnEscape]="true"
    [closable]="true"
    appendTo="body"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '850px': '95vw' }"
    [header]="'artemisApp.quizExercise.scoringTypeExplanation.title' | artemisTranslate"
>
    <table class="table">
        <tr>
            <th jhiTranslate="artemisApp.quizExercise.scoringType.all_or_nothing"></th>
            <td jhiTranslate="artemisApp.quizExercise.scoringTypeExplanation.all_or_nothing"></td>
        </tr>

        <tr>
            <th jhiTranslate="artemisApp.quizExercise.scoringType.proportional_with_penalty"></th>
            <td jhiTranslate="artemisApp.quizExercise.scoringTypeExplanation.proportional_with_penalty"></td>
        </tr>

        <tr>
            <th jhiTranslate="artemisApp.quizExercise.scoringType.proportional_without_penalty"></th>
            <td jhiTranslate="artemisApp.quizExercise.scoringTypeExplanation.proportional_without_penalty"></td>
        </tr>
    </table>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-outline" (click)="isVisible.set(false)" jhiTranslate="entity.action.close"></button>
    </ng-template>
</p-dialog>
<div>
    <button
        class="btn"
        (click)="open()"
        [attr.aria-label]="'artemisApp.quizExercise.scoringTypeExplanation.title' | artemisTranslate"
        [attr.title]="'artemisApp.quizExercise.scoringTypeExplanation.title' | artemisTranslate"
    >
        <fa-icon [icon]="farQuestionCircle" />
    </button>
</div>
