.table {
    cursor: pointer;
}

@media screen and (max-width: 2550px) {
    .col-2 {
        width: 20% !important;
    }
}

@media screen and (max-width: 2000px) {
    .col-2 {
        width: 25% !important;
    }
}

@media screen and (max-width: 1650px) {
    .col-2 {
        width: 33.33% !important;
    }
}

@media screen and (max-width: 1172px) {
    .col-2 {
        width: 50% !important;
    }
}

@media screen and (max-width: 819px) {
    .col-2 {
        width: 100% !important;
    }
}
