.course-grid {
    display: grid;
    // cards can shrink to 325px
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

.course-card-wrapper {
    width: 100%;
    max-width: 400px;
}

.container-fluid {
    // ensure that horizontal spacing in container is consistent
    --bs-gutter-x: 2rem;
}
