.card {
    min-height: 80px;
    transition: transform 0.2s linear;

    &:hover {
        transform: scale(1.012);
        background-color: var(--hover-slightly-darker-body-bg);
    }

    .card-header {
        position: relative;
        padding: 0;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.15s;
        background-color: var(--background-color-for-hover) !important;

        &:hover {
            background-color: color-mix(in srgb, var(--background-color-for-hover), transparent 15%) !important;
        }

        .header-col {
            height: 80px;
            display: flex;
            align-items: center;
        }

        .image-col {
            justify-content: flex-start;
        }

        .title-col {
            justify-content: center;
        }

        .course-info-col {
            justify-content: flex-end;
        }

        .container {
            height: 80px;

            .row {
                height: 80px;
                justify-content: space-between;
            }
        }

        .card-title {
            overflow: hidden;
            padding-bottom: 1px;
            max-height: 80px;
        }
    }
}

jhi-secured-image {
    ::ng-deep img {
        border-radius: 50%;
        height: 65px;
        width: auto;
    }
}
