.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Adjust spacing using rem */
}
