.editable-instruction-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: 100%;

    /* Wider Bootstrap tooltip */
    .tooltip-inner {
        width: 500px;
    }

    &__instructions {
        height: 100%;
    }

    &__editor {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;
        overflow: hidden;
    }

    .markdown-editor {
        border-left: var(--border-color) 1px solid;
        border-right: var(--border-color) 1px solid;
        border-bottom: var(--border-color) 1px solid;
    }

    .markdown-editor-wrapper {
        /* override scoped styling */
        background-color: var(--markdown-preview-editor-background) !important;

        .nav {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: var(--markdown-preview-editor-background);
        }
    }

    .instructions__content__markdown,
    .card-second-header {
        background-color: var(--markdown-preview-editor-background);
    }
    .card-second-header {
        padding: 10px 15px;
    }

    &__save {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__status {
        display: grid;
        grid-template-columns: 1fr 2fr; /* left | right */
        align-items: center;

        .instructions-status {
            grid-column: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 0;
        }

        &__testcase {
            grid-column: 2;
            min-width: 0;

            & > .editable-instruction-container__status__container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                border-left: 1px solid rgba(0, 0, 0, 0.125);
                padding-left: 0.75rem;

                > * {
                    justify-self: center;
                    text-align: center;
                }
            }
        }
    }
}
