<div *ngIf="course">
    <h4>{{course.title}} <small>{{exercises.length}} released exercises, {{students.length}} students with results</small>
        <button *ngIf="exportReady" class="btn btn-primary btn-sm float-right" (click)="exportResults()"><i class="fa fa-download fa-fw"></i>&nbsp;Export Results as CSV</button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="table-responsive" *ngIf="exercises.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="callback">
                <th jhiSortBy="user.firstName"><span>Name</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="user.login"><span>Login</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="numberOfParticipatedExercises"><span>Participated in Exercises (%)</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="numberOfSuccessfulExercises"><span>Successful Exercises (%)</span> <span class="fa fa-sort"></span></th>
                <th *ngIf="exerciseMaxPointsPerType[QUIZ] > 0" jhiSortBy="pointsPerExerciseType.quiz"><span>Quiz Points </span>(%)<span class="fa fa-sort"></span></th>
                <th *ngIf="exerciseMaxPointsPerType[PROGRAMMING] > 0" jhiSortBy="pointsPerExerciseType.programming"><span>Programming Points (%)</span> <span class="fa fa-sort"></span></th>
                <th *ngIf="exerciseMaxPointsPerType[MODELING] > 0" jhiSortBy="pointsPerExerciseType.modeling"><span>Modeling Points (%)</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="overallPoints"><span>Overall Points (%)</span> <span class="fa fa-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students | sortBy: predicate: reverse;">
                <td>{{ student.user.firstName }} {{ student.user.lastName }}</td>
                <td>{{ student.user.login }}</td>
                <td>{{ student.numberOfParticipatedExercises }} ({{ (student.numberOfParticipatedExercises / exercises.length) * 100 | number: '0.0-0'}}%)</td>
                <td>{{ student.numberOfSuccessfulExercises }} ({{ (student.numberOfSuccessfulExercises / exercises.length) * 100 | number: '0.0-0'}}%)</td>
                <td *ngIf="exerciseMaxPointsPerType[QUIZ] > 0">{{ student.pointsPerExerciseType[QUIZ] }} ({{ (student.pointsPerExerciseType[QUIZ] / exerciseMaxPointsPerType[QUIZ]) * 100 | number: '0.0-0'}}%)</td>
                <td *ngIf="exerciseMaxPointsPerType[PROGRAMMING] > 0">{{ student.pointsPerExerciseType[PROGRAMMING] }} ({{ (student.pointsPerExerciseType[PROGRAMMING] / exerciseMaxPointsPerType[PROGRAMMING]) * 100 | number: '0.0-0'}}%)</td>
                <td *ngIf="exerciseMaxPointsPerType[MODELING] > 0">{{ student.pointsPerExerciseType[MODELING] }} ({{ (student.pointsPerExerciseType[MODELING] / exerciseMaxPointsPerType[MODELING]) * 100 | number: '0.0-0'}}%)</td>
                <td>{{ student.overallPoints | number: '0.0-0'}} ({{ student.overallPoints / overallMaxPoints * 100 | number: '0.0-0'}}%)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
