@import 'src/main/webapp/content/scss/artemis-variables';

:host {
    display: block;
    width: 100%;
}

textarea.form-control,
textarea.form-control:focus,
input.form-control,
input.form-control:focus {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}

textarea {
    resize: none;
    overflow: hidden;
}

input {
    text-align: right;
    min-width: 70px;
}

label {
    font-style: italic;
    width: 100%;
}

.badge {
    display: inline;
    position: relative;
    top: -25px;
}

.close {
    display: inline;
    margin-top: -0.5vh;
    float: right;
}

.impactWarningLabel {
    font-size: small;
}

.findOrigin {
    margin-left: 5px;
    cursor: pointer;
}

.text-with-feedback {
    text-decoration-line: underline;
    padding: 2px 4px;
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: 4px;
    display: table;

    &.positive-feedback {
        text-decoration-style: double;
        text-decoration-color: #25537a;
        color: #25537a;
        background-color: #d8e8f5;
    }

    &.neutral-feedback {
        text-decoration-style: solid;
        text-decoration-color: #1a1a1a;
        background-color: #f2f2f2;
        color: #1a1a1a;
    }

    b {
        font-weight: 600;
    }
}

.white-space {
    margin-top: 5px;
}

.text-inline {
    display: inline;
}

.reused-feedback-preview {
    border: 2px solid rgba(228, 228, 228, 0.87);
    border-radius: 2px;
    padding: 10px;
}

.btn {
    position: relative;
    flex: none;
    z-index: auto;
}

.dropdown {
    position: static;
    width: 100%;
    overflow: auto;
}

.dropdown-menu {
    position: absolute;
    padding: 0.2rem 0;
    cursor: pointer;

    .dropdown-item {
        padding: 0.25rem 0.75rem;
    }

    li {
        position: relative;

        &:hover {
            background-color: #e9ecef;
        }

        &:hover > .dropdown-submenu {
            display: flex;
            position: absolute;
            left: 100%;
            top: 0;
            padding: 0;
        }
    }
}

a:hover {
    text-decoration: none !important;
    color: black;
}
