<div>
    <span class="badge bg-primary" title="{{ 'artemisApp.assessment.automaticGenerated' | artemisTranslate }}" *ngIf="feedback.type === FeedbackType.AUTOMATIC">
        <fa-icon [icon]="faRobot"></fa-icon>
        <span [jhiTranslate]="'artemisApp.AssessmentType.' + feedback.type"></span>
    </span>

    <span
        class="badge btn-primary findOrigin"
        *ngIf="feedback.type === FeedbackType.AUTOMATIC"
        (click)="openOriginOfFeedbackModal(toggleMore)"
        [ngbTooltip]="'artemisApp.textAssessment.feedbackEditor.automaticFeedbackInformationModal.trace' | artemisTranslate"
        placement="top"
    >
        <fa-icon [icon]="faSearch"></fa-icon>
    </span>

    <span
        class="badge bg-warning"
        *ngIf="!conflictMode && feedback.conflictingTextAssessments && feedback.conflictingTextAssessments.length > 0"
        (click)="onConflictClicked(feedback.id)"
    >
        <fa-icon [icon]="faBalanceScaleRight"></fa-icon>
        <span jhiTranslate="artemisApp.textAssessment.conflict.conflictingAssessments" [translateValues]="{ number: feedback.conflictingTextAssessments?.length }"></span>
    </span>

    <span class="badge bg-warning" title="{{ conflictType }}" *ngIf="conflictType && conflictMode">
        <fa-icon [icon]="faBalanceScaleRight"></fa-icon>
        <span [jhiTranslate]="'artemisApp.textAssessment.conflict.type.' + conflictType"></span>
    </span>

    <div class="close" *ngIf="!readOnly">
        <ng-container *ngIf="canDismiss; then closeButton; else trashButton"></ng-container>
        <ng-template #closeButton>
            <fa-icon [icon]="faTimes" [ngbTooltip]="'artemisApp.textAssessment.feedbackEditor.dismissFeedback' | artemisTranslate" (click)="dismiss()"> </fa-icon>
        </ng-template>
        <ng-template #trashButton>
            <jhi-confirm-icon
                [initialIcon]="faTimes"
                [confirmIcon]="faTrash"
                [initialTooltip]="'artemisApp.textAssessment.feedbackEditor.dismissFeedback' | artemisTranslate"
                [confirmTooltip]="'artemisApp.textAssessment.feedbackEditor.dismissFeedbackConfirmation' | artemisTranslate"
                (confirmEvent)="dismiss()"
            ></jhi-confirm-icon>
        </ng-template>
    </div>

    <div class="row">
        <div class="form-group col-md-10 m-0">
            <label class="d-inline" jhiTranslate="artemisApp.assessment.detail.feedbackWithColon" [for]="'detailText-' + textBlock.id"></label>
            <div class="d-inline" *ngIf="feedback.gradingInstruction!">
                <span class="fw-bold">{{ feedback.gradingInstruction!.feedback }}</span>
                <fa-icon [icon]="faQuestionCircle" class="text-secondary" [ngbTooltip]="'artemisApp.assessment.feedbackHint' | artemisTranslate" container="body"></fa-icon>
            </div>
        </div>
        <div class="form-group col-md-1 text-end m-0">
            <label jhiTranslate="artemisApp.exercise.score" [for]="'score-' + textBlock.id"></label>
        </div>
        <div class="form-group col-md-1 m-0" *ngIf="feedback.gradingInstruction!">
            <jhi-grading-instruction-link-icon [assessment]="feedback"></jhi-grading-instruction-link-icon>
        </div>
    </div>
    <div class="row" (drop)="connectFeedbackWithInstruction($event)" (dragover)="$event.preventDefault()">
        <div class="input-group">
            <div class="input-group-prepend">
                <div *ngIf="criteria" class="dropdown" ngbDropdown>
                    <button class="btn btn-primary dropdown-toggle" ngbDropdownToggle type="button"></button>
                    <!--if there is only one criterion, dropdown-menu contains its instructions-->
                    <ul ngbDropdownMenu *ngIf="criteria.length === 1; else multipleCriteria">
                        <jhi-textblock-feedback-dropdown [criterion]="criteria[0]" [feedback]="feedback" (didChange)="didChange()"></jhi-textblock-feedback-dropdown>
                    </ul>
                    <!--if there is more than one criterion, the dropdown-menu contains the criteria titles with submenus of the corresponding instructions-->
                    <ng-template #multipleCriteria>
                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li *ngFor="let criterion of criteria">
                                <a class="dropdown-item" *ngIf="criterion.title; else withoutTitle">
                                    {{ criterion.title }}&nbsp;<fa-icon class="float-end" [icon]="faAngleRight"></fa-icon>
                                </a>
                                <ng-template #withoutTitle>
                                    <a class="dropdown-item">(No title) <fa-icon class="float-end" [icon]="faAngleRight"></fa-icon></a>
                                </ng-template>
                                <ul class="dropdown-menu dropdown-submenu">
                                    <jhi-textblock-feedback-dropdown [criterion]="criterion" [feedback]="feedback" (didChange)="didChange()"></jhi-textblock-feedback-dropdown>
                                </ul>
                            </li>
                        </ul>
                    </ng-template>
                </div>
            </div>
            <div class="form-group col-md-10">
                <textarea
                    class="form-control"
                    rows="1"
                    [placeholder]="
                        feedback.gradingInstruction!
                            ? ('artemisApp.assessment.additionalFeedbackCommentPlaceholder' | artemisTranslate)
                            : ('artemisApp.assessment.feedbackCommentPlaceholder' | artemisTranslate)
                    "
                    id="feedback-editor-text-input"
                    [(ngModel)]="feedback.detailText"
                    #detailText
                    (keyup)="textareaAutogrow()"
                    (keydown.escape)="escKeyup()"
                    (focus)="inFocus()"
                    [readOnly]="readOnly && !isConflictingFeedbackEditable"
                    (ngModelChange)="didChange()"
                ></textarea>
                <div class="card-header" *ngIf="!conflictMode && feedback.credits !== 0 && textBlock?.numberOfAffectedSubmissions && feedback.type === FeedbackType.MANUAL">
                    <fa-icon [icon]="faInfoCircle" size="1x" class="text-info" placement="left"></fa-icon>
                    <span
                        jhiTranslate="artemisApp.textAssessment.feedbackEditor.impactWarning"
                        [ngbTooltip]="'artemisApp.textAssessment.feedbackEditor.impactWarningTooltip' | artemisTranslate"
                        placement="bottom"
                        class="impactWarningLabel"
                        (mouseenter)="mouseEnteredWarningLabel()"
                        [translateValues]="{ affectedSubmissionsCount: textBlock.numberOfAffectedSubmissions }"
                        >This feedback might affect <b>{{ textBlock.numberOfAffectedSubmissions }}</b> other similar submission/s.</span
                    >
                </div>
            </div>
            <div class="form-group col-md-1 text-end">
                <input
                    class="form-control"
                    type="number"
                    step="0.5"
                    [(ngModel)]="feedback.credits"
                    id="feedback-editor-points-input"
                    (keydown.escape)="escKeyup()"
                    (click)="onScoreClick($event)"
                    (focus)="inFocus()"
                    (ngModelChange)="didChange()"
                    [readOnly]="feedback.gradingInstruction || (readOnly && !isConflictingFeedbackEditable)"
                />
            </div>
        </div>
    </div>

    <!-- Text showing whether the tutor feedback is correct or not (upon validation on the server) -->
    <div *ngIf="feedback.correctionStatus !== undefined">
        <span *ngIf="feedback.correctionStatus === 'CORRECT'" class="text-success"
            >{{ 'artemisApp.exampleSubmission.feedback.' + feedback.correctionStatus! | artemisTranslate }}
        </span>
        <span *ngIf="feedback.correctionStatus !== 'CORRECT'" class="text-danger"
            >{{ 'artemisApp.exampleSubmission.feedback.' + feedback.correctionStatus! | artemisTranslate }}
        </span>

        <!-- :warning: emoji was rendered as a black-white glyph, hence the solution with the fa-icon -->
        <fa-layers *ngIf="feedback.correctionStatus !== 'CORRECT'">
            <fa-icon class="text-warning" [icon]="faExclamationTriangle"></fa-icon>
            <fa-icon [icon]="faExclamation" size="2x" [styles]="{ width: '16px', 'margin-top': '-6px' }" [classes]="['text-dark']" transform="shrink-10"></fa-icon>
        </fa-layers>
    </div>

    <ng-template #toggleMore let-modal>
        <div class="modal-header">
            <h4 class="modal-title fw-medium">
                <span jhiTranslate="artemisApp.textAssessment.feedbackEditor.automaticFeedbackInformationModal.heading">Automatic Feedback Information</span>
            </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <span jhiTranslate="artemisApp.textAssessment.feedbackEditor.automaticFeedbackInformationModal.introduction"></span>
            <div class="reused-feedback-preview">
                <ng-container *ngFor="let block of listOfBlocksWithFeedback">
                    <span
                        class="{{ block.type === 'AUTOMATIC' ? 'text-with-feedback positive-feedback' : block.credits ? 'text-with-feedback neutral-feedback' : 'text-inline' }}"
                        >{{ block.text }}</span
                    >

                    <div class="{{ (block.type === FeedbackType.AUTOMATIC ? 'alert-primary' : 'alert-secondary') + ' alert white-space' }}" *ngIf="block.credits">
                        <div *ngIf="block.type === FeedbackType.AUTOMATIC">
                            <fa-icon [icon]="faRobot"></fa-icon>
                            <span
                                style="font-weight: bold"
                                jhiTranslate="artemisApp.textAssessment.feedbackEditor.automaticFeedbackInformationModal.reused"
                                [translateValues]="{ reusedCount: block.reusedCount }"
                                >Reused {{ block.reusedCount }} times</span
                            >
                        </div>
                        <div>
                            <fa-icon [icon]="faInfoCircle"></fa-icon>&nbsp;
                            <span style="font-weight: bold" jhiTranslate="artemisApp.textAssessment.feedbackEditor.automaticFeedbackInformationModal.points"> Points: </span
                            ><span>: {{ block.credits }}</span>
                        </div>
                        <div *ngIf="block.feedback">
                            <fa-icon [icon]="faEdit"></fa-icon>&nbsp; <span style="font-weight: bold" jhiTranslate="artemisApp.assessment.detail.feedback">Feedback</span>:
                            {{ block.feedback }}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-template>
    <!-- correction round label-->
    <jhi-assessment-correction-round-badge [feedback]="feedback" [highlightDifferences]="highlightDifferences"></jhi-assessment-correction-round-badge>
</div>
