:host::ng-deep .textDataLabel {
    font-weight: bolder;
    font-size: medium !important;
    alignment-baseline: baseline;
    text-anchor: middle;
}

@media (min-width: 1400px) {
    :host::ng-deep .textDataLabel {
        transform: rotate(0deg);
    }
}
