@import 'src/main/webapp/content/scss/artemis-mixins.scss';

:host {
    @include dynamic-content-height(--header-height);

    max-height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    min-height: 0;

    .course-iris {
        background-color: var(--iris-primary-background);
        border-radius: 4px;
        flex: 1;
        min-height: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }
}
