div {
    &.positive-feedback {
        color: var(--artemis-alert-success-color);
        background-color: var(--artemis-alert-success-background);
        border-color: var(--artemis-alert-success-broder);
    }

    &.negative-feedback {
        color: var(--artemis-alert-danger-color);
        background-color: var(--artemis-alert-danger-background);
        border-color: var(--artemis-alert-danger-broder);
    }

    &.neutral-feedback {
        color: var(--artemis-alert-neutral-color);
        background-color: var(--artemis-alert-neutral-background);
        border-color: var(--artemis-alert-neutral-border);
    }
}

.feedback-points {
    font-weight: bold;
}
