<div (drop)="updateFeedbackOnDrop($event)" (dragover)="$event.preventDefault()">
    <jhi-unified-feedback
        [editable]="true"
        [isSuggestion]="isSuggestion() ?? false"
        [readOnly]="readOnly()"
        [feedback]="feedback()"
        [highlightDifferences]="highlightDifferences()"
        [useDefaultFeedbackSuggestionBadgeText]="useDefaultFeedbackSuggestionBadgeText()"
        [(feedbackTitle)]="feedback().text"
        [(feedbackDetail)]="feedback().detailText"
        [(feedbackCredits)]="feedback().credits!"
        (feedbackTitleChange)="emitChanges()"
        (feedbackDetailChange)="emitChanges()"
        (feedbackCreditsChange)="emitChanges()"
        (onDelete)="delete()"
        (onAcceptSuggestion)="onAcceptSuggestion.emit(feedback())"
        (onDiscardSuggestion)="onDiscardSuggestion.emit(feedback())"
    />
</div>
