@import 'src/main/webapp/content/scss/artemis-variables';
@import 'src/main/webapp/app/shared/metis/metis.component';

$background-color: #353d47;
$label-color: #6a737d;

.postings-container {
    display: flex;
    height: 100%;
    margin-left: auto;

    .back-instruction {
        font-size: 12px;
    }
}

.expanded-discussion {
    width: 360px;

    .draggable-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 15px;
    }

    .card {
        width: inherit;
        min-width: 200px;

        .card-header {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color;
            cursor: pointer;

            .card-title {
                display: flex;
            }

            .row > .col-auto:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

.collapsed-discussion {
    width: 38px;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-color: $background-color;
    margin-left: auto;
    cursor: pointer;

    span {
        writing-mode: vertical-rl;
        margin: auto;
    }

    .expand-postings-icon {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        place-self: center;
    }
}

@media screen and (max-width: 992px) {
    .expanded-discussion {
        width: 94vw;

        .draggable-left {
            display: none;
        }
    }
}
