<div>
    @let courseToPass = course();
    @let groupToPass = tutorialGroup();
    @if (courseToPass && groupToPass) {
        <jhi-course-tutorial-group-detail [tutorialGroup]="groupToPass" [course]="courseToPass" [allowManagementActions]="true" (deleteSession)="deleteSession($event)" />
    }
    @if (isLoading()) {
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center z-3">
            <div class="spinner-border" role="status">
                <span class="visually-hidden" jhiTranslate="loading"></span>
            </div>
        </div>
    }
</div>
