// Adapted from https://www.chilitime.design/2018/09/ActivityRings/

@keyframes ring-appear {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

svg {
    width: 100%;
    height: auto;

    .ring {
        transform-origin: 50%;
    }
    .progressbar {
        animation: ring-appear 1s ease-in-out forwards;
        transition: stroke-dasharray 1s ease-in-out;
        stroke-linecap: round;

        &.hidden {
            // Use opacity: 0 instead of display: none to prevent animation when appearing
            opacity: 0;
        }
    }
    circle {
        fill: none;
    }

    .ring1 {
        transform: scale(1) rotate(-90deg);

        .background {
            stroke: var(--learning-goal-rings-red-bg);
        }
        .progressbar {
            stroke: var(--learning-goal-rings-red);
        }
    }

    .ring2 {
        transform: scale(0.75) rotate(-90deg);

        .background {
            stroke: var(--learning-goal-rings-green-bg);
        }
        .progressbar {
            stroke: var(--learning-goal-rings-green);
        }
    }

    .ring3 {
        transform: scale(0.5) rotate(-90deg);

        .background {
            stroke: var(--learning-goal-rings-blue-bg);
        }
        .progressbar {
            stroke: var(--learning-goal-rings-blue);
        }
    }
}
