.course-notification-setting-specification-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--tumaet-ui-border-color);
    padding: 2em;
    height: 100%;
    border-radius: 0.3rem;
}

.course-notification-setting-specification-card-options {
    display: flex;
    align-items: center;
    justify-content: center;
}
