# https://docs.docker.com/engine/reference/builder/#dockerignore-file
classes/
generated-sources/
generated-test-sources/
h2db/
maven-archiver/
maven-status/
reports/
surefire-reports/
test-classes/
test-results/
www/
!*.jar
!*.war

# exclude hidden directories like .idea, .gradle, .cache, .github
.*
# do not exclude .git as it's necessary to insert the commit id into the build
!.git
# do not exclude .eslint files as they are required in the build process
!.eslintrc
# do not exclude .npmrc as it's required in the build process for setting the correct node options
!.npmrc
# exclude node_modules if installed locally
node_modules
# exclude build binaries except a pre-built .war file
build/*
!build/libs/*.war
# exlude the .cache of angular
.cache
# exclude the .gradle cache
.gradle

#########################
# exclude Artemis configs
#########################
/src/main/resources/config/application-local*.yml
/src/main/resources/id_*
/src/main/resources/known_hosts

# exclude the docker files and the /docker/.docker-data folders
docker/

######################
# Artemis resources
######################
/src/main/resources/config/application-local*.yml
/src/main/resources/id_*
/src/main/resources/known_hosts

# files inside of the root directory not needed
CITATION.cff
CODE_OF_CONDUCT.md
LICENSE
README.md
SECURITY.md

######################
# Artemis resources
######################
/src/main/resources/config/application-local*.yml
/src/main/resources/id_*
/src/main/resources/known_hosts
