# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Change these settings to your own preference
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.mdx]
indent_size = 2

[*.java]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_layout_static_imports_separately = true
ij_java_use_single_class_imports = true
ij_java_imports_layout = java.**,javax.**,org.**,com.**,*,$* # taken from spotless config

[{*.yml,*.yaml}]
indent_size = 2

[{*.ats,*.cts,*.mts,*.ts}]
ij_typescript_use_double_quotes = false
ij_typescript_spaces_within_imports = true

[{*.cjs,*.js}]
ij_javascript_use_double_quotes = false
ij_javascript_spaces_within_imports = true
