.git/
.github/
.gradle/
.idea/
.jhipster/
build/
coverage/
docs/
gradle/
node_modules/
out/
repos/
repos-download/
src/main/docker/
src/main/generated/
src/main/java/
src/main/resources/
uploads/
webpack/
target/
node/
