# Prettier configuration

printWidth: 180
singleQuote: true
tabWidth: 4
trailingComma: all
endOfLine: auto

overrides:
  # java rules:
  - files: "*.java"
    options:
      tabWidth: 4
  # html rules:
  - files: "*.html"
    options:
      parser: angular
