.color-preview {
    cursor: pointer;
}

.no-image {
    background: #dddddd url('../../../content/images/image-placeholder.png') no-repeat center;
    background-size: 60%;
    border-radius: 50%;
    float: right;
    height: 100px;
    width: 100px;

    img {
        height: 50px;
        width: auto;
    }
}

jhi-secured-image {
    float: right;

    ::ng-deep img {
        border-radius: 50%;
        height: 100px;
        width: auto;
    }
}

image-cropper {
    padding: 10px 0 0 0 !important;
}
