<div class="edit-mc-question">
    <div>
    <h4>
        <span>Exercise Overview</span>
    </h4>
    </div>


    <div [hidden]="showPreview">
    <div class="question-options card-header question-card-header">
        <button
            class="btn btn-light question-collapse"
            (click)="isQuestionCollapsed = !isQuestionCollapsed"
            [attr.aria-expanded]="!isQuestionCollapsed"
            [attr.aria-controls]="'collapseQuestion' + questionIndex">
            <span class="fa fa-3x" [ngClass]="isQuestionCollapsed ? 'fa-angle-right' : 'fa-angle-down'" ></span>
        </button>
        <span jhiTranslate="arTeMiSApp.course.quizExercises">Quiz Exercises</span>
    </div>
    <div class="card-body question-card-body"  [ngbCollapse]="isQuestionCollapsed" id="collapseQuestion{{questionIndex}}">
        <div>
           <jhi-quiz-exercise>
           </jhi-quiz-exercise>
        </div>
    </div>
    </div>

    <div [hidden]="showPreview">
        <div class="question-options card-header question-card-header">
            <button
                class="btn btn-light question-collapse"
                (click)="isQuestionCollapsed = !isQuestionCollapsed"
                [attr.aria-expanded]="!isQuestionCollapsed"
                [attr.aria-controls]="'collapseQuestion' + questionIndex">
                <span class="fa fa-3x" [ngClass]="isQuestionCollapsed ? 'fa-angle-right' : 'fa-angle-down'" ></span>
            </button>
            <span jhiTranslate="arTeMiSApp.course.programmingExercises">Programming Exercises</span>
        </div>
        <div class="card-body question-card-body"  [ngbCollapse]="isQuestionCollapsed" id="collapseQuestion{{questionIndex}}">
            <div>
                <jhi-programming-exercise>
                </jhi-programming-exercise>
            </div>
        </div>
    </div>

    <div [hidden]="showPreview">
        <div class="question-options card-header question-card-header">
            <button
                class="btn btn-light question-collapse"
                (click)="isQuestionCollapsed = !isQuestionCollapsed"
                [attr.aria-expanded]="!isQuestionCollapsed"
                [attr.aria-controls]="'collapseQuestion' + questionIndex">
                <span class="fa fa-3x" [ngClass]="isQuestionCollapsed ? 'fa-angle-right' : 'fa-angle-down'" ></span>
            </button>
            <span jhiTranslate="arTeMiSApp.course.modelingExercises">Modelling Exercises</span>
        </div>
        <div class="card-body question-card-body"  [ngbCollapse]="isQuestionCollapsed" id="collapseQuestion{{questionIndex}}">
            <div>
                <jhi-modeling-exercise>
                </jhi-modeling-exercise>
            </div>
        </div>
    </div>

    <div [hidden]="showPreview">
        <div class="question-options card-header question-card-header">
            <button
                class="btn btn-light question-collapse"
                (click)="isQuestionCollapsed = !isQuestionCollapsed"
                [attr.aria-expanded]="!isQuestionCollapsed"
                [attr.aria-controls]="'collapseQuestion' + questionIndex">
                <span class="fa fa-3x" [ngClass]="isQuestionCollapsed ? 'fa-angle-right' : 'fa-angle-down'" ></span>
            </button>
            <span jhiTranslate="arTeMiSApp.course.fileUploadExercises">File Upload Exercises</span>
        </div>
        <div class="card-body question-card-body"  [ngbCollapse]="isQuestionCollapsed" id="collapseQuestion{{questionIndex}}">
            <div>
                <jhi-file-upload-exercise>
                </jhi-file-upload-exercise>
            </div>
        </div>
    </div>

    <div [hidden]="showPreview">
        <div class="question-options card-header question-card-header">
            <button
                class="btn btn-light question-collapse"
                (click)="isQuestionCollapsed = !isQuestionCollapsed"
                [attr.aria-expanded]="!isQuestionCollapsed"
                [attr.aria-controls]="'collapseQuestion' + questionIndex">
                <span class="fa fa-3x" [ngClass]="isQuestionCollapsed ? 'fa-angle-right' : 'fa-angle-down'" ></span>
            </button>
            <span jhiTranslate="arTeMiSApp.course.textExercises">Text Exercises</span>
        </div>
        <div class="card-body question-card-body"  [ngbCollapse]="isQuestionCollapsed" id="collapseQuestion{{questionIndex}}">
            <div>
                <jhi-text-exercise>
                </jhi-text-exercise>
            </div>
        </div>
    </div>
</div>
