.file-upload-assessment {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    max-height: 100vh;
    min-width: 350px;

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
    }
}

.resizing-bar,
.resizing-bar-bottom {
    line-height: 14px;
    z-index: 1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: 0 0;
}

.resizing-bar {
    position: absolute;
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -20px;
}

.resizing-bar-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -14px;
}

.resizing-bar span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-color: #ccc;
    top: 50%;
    margin: -10px 0 0 3.5px;
    height: 20px;
    width: 7px;
    border-width: 0 1px;
}

.resizing-bar-bottom span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0;
    left: 50%;
    margin: 3.5px 0 0 -10px;
    width: 20px;
    height: 7px;
}

.resizable-instructions {
    width: 600px;
    min-width: 400px;
}

.instructions-area {
    min-height: 500px;
}

.card.collapsed {
    .card-body,
    .card-second-header,
    .card-header .float-right,
    .card-header h3 span {
        display: none;
    }

    .card-title {
        text-align: center;
    }
}
