.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-container {
    position: relative;
}

.dropdown-section {
    margin-bottom: 1rem;
}

.ngb-dropdown-menu {
    position: absolute !important;
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid #dee2e6;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1050;
}

.dropdown-buttons-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.dropdown-button {
    width: 12rem;
    padding: 5rem 1rem;
    text-align: left;
    color: white;
    background-color: #3e8acc;
    border: black;
}
