/* stylelint-disable at-rule-no-unknown */

@use 'sass:math';
@import 'src/main/webapp/content/scss/artemis-variables';

// Code for circular progress bar adapted from https://codepen.io/fuzzywalrus/pen/OxYENY

//styling
$borderWidth: 7px;
$animationTime: 0.5s;
$border-color-default: #eee;
$size: 150px;

//Create how many steps
$howManySteps: 100; //this needs to be even.

.progress-circle {
    width: $size;
    height: $size;
    line-height: $size;
    background: none;
    box-shadow: none;
    position: relative;
    margin: 0 auto 1em;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: $borderWidth solid $border-color-default;
        position: absolute;
        top: 0;
        left: 0;
    }

    > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .progress-left {
        left: 0;
    }

    .progress-bar-circle {
        width: 100%;
        height: 100%;
        background: none;
        border-width: $borderWidth;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: var(--primary);
    }

    .progress-left .progress-bar-circle {
        left: 100%;
        border-top-right-radius: math.div($size, 2);
        border-bottom-right-radius: math.div($size, 2);
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
        //animation: loading-2 1.5s linear forwards 1.8s;
    }

    .progress-right {
        right: 0;

        .progress-bar-circle {
            left: -100%;
            border-top-left-radius: math.div($size, 2);
            border-bottom-left-radius: math.div($size, 2);
            border-right: 0;
            -webkit-transform-origin: center right;
            transform-origin: center right;
            //animation: loading-1 1.8s linear forwards;
        }
    }

    .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        //font-family: $work-sans;
        font-weight: 300;

        div {
            margin-top: 10px;
        }

        span {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

/* This for loop creates the necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
@for $i from 1 through $howManySteps {
    $stepName: ($i * math.div(100, $howManySteps));

    //animation only the left side if below 50%
    @if $i <= math.div($howManySteps, 2) {
        .progress-circle[data-percentage='#{$stepName}'] {
            .progress-right .progress-bar-circle {
                animation: loading-#{$i} $animationTime linear forwards;
            }

            .progress-left .progress-bar-circle {
                animation: 0;
            }
        }
    }
    //animation only the right side if above 50%
    @if $i > math.div($howManySteps, 2) {
        .progress-circle[data-percentage='#{$stepName}'] {
            .progress-right .progress-bar-circle {
                animation: loading-#{math.div($howManySteps, 2)} $animationTime linear forwards; //set the animation to longest animation
            }

            .progress-left .progress-bar-circle {
                animation: loading-#{$i - math.div($howManySteps, 2)} $animationTime linear forwards $animationTime;
            }
        }
    }
}

//animation
@for $i from 1 through math.div($howManySteps, 2) {
    $degrees: math.div(180, math.div($howManySteps, 2));
    $degrees: ($degrees * $i);

    @keyframes loading-#{$i} {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate($degrees);
            transform: rotate(#{$degrees}deg);
        }
    }
}
