<div class="progress-circle" [attr.data-percentage]="progressInPercent">
    <span class="progress-left">
        <span class="progress-bar-circle" [style.border-color]="circleColor"></span>
    </span>
    <span class="progress-right">
        <span class="progress-bar-circle" [style.border-color]="circleColor"></span>
    </span>
    <div class="progress-value">
        <div>
            {{ progressInPercent }}%<br />
            <span>{{ progressText }}</span>
        </div>
    </div>
</div>
