$titlebar-height: 65px;

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    jhi-alert {
        font-size: initial;
    }
}

.row-container {
    display: flex;
    align-items: center;
}

.control-button-container {
}

.assessment-container {
    display: flex;
    min-height: calc(100vh - 173px);
    flex-flow: column nowrap;
}

.editor-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: auto;
    jhi-modeling-assessment {
        min-width: 0;
        width: 100%;
    }
}
