<div class="course-info-bar" *ngIf="exercise" id="exercise-header">
    <div class="row">
        <div class="col general-info">
            <h3>
                <fa-icon *ngIf="displayBackButton" [icon]="faArrowLeft" (click)="onBackClick()" class="back-button me-2"></fa-icon>
                <fa-icon
                    *ngIf="exercise.type"
                    [icon]="getIcon(exercise.type)"
                    [ngbTooltip]="getIconTooltip(exercise.type) | artemisTranslate"
                    placement="bottom"
                    container="body"
                ></fa-icon>
                <ng-content select="[pagetitle]"></ng-content>
                <jhi-not-released-tag [exercise]="exercise"></jhi-not-released-tag>
            </h3>
            <h4 class="row" *ngIf="exercise.maxPoints">
                <span>
                    {{ 'artemisApp.courseOverview.exerciseDetails.points' | artemisTranslate }}
                    {{ exercise.maxPoints }}
                    <span *ngIf="exercise.bonusPoints">({{ 'artemisApp.courseOverview.exerciseDetails.bonus' | artemisTranslate }} {{ exercise.bonusPoints }})</span>
                </span>
            </h4>
            <h4 class="row" *ngIf="exercise.includedInOverallScore != undefined && exercise.includedInOverallScore != IncludedInOverallScore.INCLUDED_COMPLETELY">
                <span>
                    {{ 'artemisApp.exercise.includedInOverallScore' | artemisTranslate }}:
                    <jhi-included-in-score-badge [includedInOverallScore]="exercise.includedInOverallScore"></jhi-included-in-score-badge>
                </span>
            </h4>
            <h4 class="d-md-flex" *ngIf="exercise.categories || exercise.difficulty">
                <h4 class="me-1">{{ 'artemisApp.courseOverview.exerciseDetails.tags' | artemisTranslate }}</h4>
                <h4 *ngFor="let category of exerciseCategories">
                    <span class="badge text-white me-1" [ngStyle]="{ backgroundColor: category.color }">{{ category.category }}</span>
                </h4>
                <h4 *ngIf="exercise.difficulty">
                    <jhi-difficulty-badge class="me-1" [exercise]="exercise" [showNoLevel]="false"></jhi-difficulty-badge>
                </h4>
            </h4>
            <h4 class="row" *ngIf="submissionPolicy != undefined">
                <span>
                    {{ 'artemisApp.programmingExercise.submissionPolicy.submissionLimitTitle' | artemisTranslate }}:
                    {{
                        submissionPolicy.submissionLimit +
                            (submissionPolicy.exceedingPenalty != undefined
                                ? ' (' +
                                  ('artemisApp.programmingExercise.submissionPolicy.submissionPenalty.penaltyInfoLabel' | artemisTranslate) +
                                  ': ' +
                                  submissionPolicy.exceedingPenalty +
                                  'P' +
                                  ')'
                                : '')
                    }}
                    <fa-icon
                        [icon]="faQuestionCircle"
                        ngbTooltip="{{ 'artemisApp.programmingExercise.submissionPolicy.submissionPolicyType.' + submissionPolicy.type + '.tooltip' | artemisTranslate }}"
                        placement="top"
                    ></fa-icon>
                </span>
            </h4>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <ng-template [ngIf]="isExamMode" [ngIfElse]="courseMode">
                <h4 class="row">
                    <span class="me-2" *ngIf="!isTestRun"> {{ 'artemisApp.exam.endDate' | artemisTranslate }} : {{ exam?.endDate | artemisDate }} </span>
                    <span *ngIf="exam?.endDate && !isTestRun" [ngClass]="exerciseStatusBadge" class="badge">
                        {{ exam?.endDate | artemisTimeAgo }}
                    </span>
                </h4>
                <h4 class="row" *ngIf="!isTestRun">
                    <span class="me-2"> {{ 'artemisApp.exam.publishResultsDate' | artemisTranslate }} : {{ exam?.publishResultsDate | artemisDate }} </span>
                    <span *ngIf="exam?.publishResultsDate" [ngClass]="exerciseStatusBadge" class="badge">
                        {{ exam?.publishResultsDate | artemisTimeAgo }}
                    </span>
                </h4>
            </ng-template>
            <ng-template #courseMode>
                <h4 *ngIf="dueDate">
                    <span class="me-2"> {{ 'artemisApp.courseOverview.exerciseDetails.dueDate' | artemisTranslate }} {{ dueDate | artemisDate }} </span>
                    <span [ngClass]="exerciseStatusBadge" class="badge">
                        {{ dueDate | artemisTimeAgo }}
                    </span>
                </h4>
                <h4 *ngIf="programmingExercise?.buildAndTestStudentSubmissionsAfterDueDate">
                    <span class="me-2">
                        {{ 'artemisApp.courseOverview.exerciseDetails.runTestsAfterDueDate' | artemisTranslate }}
                        {{ programmingExercise!.buildAndTestStudentSubmissionsAfterDueDate | artemisDate }}
                    </span>
                    <span [ngClass]="exerciseStatusBadge" class="badge">
                        {{ programmingExercise!.buildAndTestStudentSubmissionsAfterDueDate | artemisTimeAgo }}
                    </span>
                </h4>
                <h4 *ngIf="exercise.assessmentDueDate">
                    <span class="me-2"> {{ 'artemisApp.exercise.assessmentDueDate' | artemisTranslate }}: {{ exercise.assessmentDueDate | artemisDate }} </span>
                    <span [ngClass]="exerciseStatusBadge" class="badge">
                        {{ exercise.assessmentDueDate | artemisTimeAgo }}
                    </span>
                </h4>
                <h4 *ngIf="course.complaintsEnabled && exercise.dueDate">
                    <span class="me-2">
                        {{ 'artemisApp.courseOverview.exerciseDetails.complaintsEnabled' | artemisTranslate }}
                        {{
                            'global.generic.' + exercise.assessmentType !== AssessmentType.AUTOMATIC || exercise.allowComplaintsForAutomaticAssessments
                                ? 'yes'
                                : ('no' | artemisTranslate)
                        }}
                    </span>
                </h4>
                <h4 *ngIf="exercise.exampleSolutionPublicationDate">
                    <span class="me-2">
                        {{ 'artemisApp.exercise.exampleSolutionPublicationDate' | artemisTranslate }} {{ exercise.exampleSolutionPublicationDate | artemisDate }}
                    </span>
                    <span [ngClass]="exerciseStatusBadge" class="badge">
                        {{ exercise.exampleSolutionPublicationDate | artemisTimeAgo }}
                    </span>
                </h4>
            </ng-template>
        </div>
    </div>
</div>
