@import 'src/main/webapp/content/scss/artemis-variables';

.course-info-bar--participation {
    $margin: calc(-1rem - 1px);
    $top-border-radius: 3px;

    min-height: unset;
    padding: 15px 25px;
    margin: $margin $margin 0 $margin;
    background-color: var(--header-participation-page-info-bar-background);
    border-top-left-radius: $top-border-radius;
    border-top-right-radius: $top-border-radius;

    h6 {
        margin-bottom: 0.25rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .text-muted {
        color: #f6f6f6 !important;
    }

    button[disabled] {
        cursor: not-allowed;
    }

    .exercise-details-table {
        td:not(:first-child) {
            padding-left: 1rem;
        }
    }
}
