<jhi-loading-indicator-container [isLoading]="isLoading()">
    @if (course()) {
        <div class="flex flex-col gap-2">
            <p jhiTranslate="artemisApp.pages.checklist.explanation"></p>
            <hr />
            <div>
                <p jhiTranslate="artemisApp.pages.checklist.timeZoneExplanation"></p>
                <div class="flex flex-wrap items-center gap-2">
                    <jhi-checklist-check id="timeZone" [checkAttribute]="isTimeZoneConfigured()" />
                    <label class="pe-4" for="timeZone" jhiTranslate="artemisApp.pages.checklist.timeZone"></label>
                    <a [routerLink]="['/course-management', course().id!, 'settings']" tumUiButton severity="warn" class="my-2">
                        <fa-icon [icon]="faCog" />
                        <span jhiTranslate="artemisApp.courseOverview.menu.settings"></span>
                    </a>
                </div>
            </div>
            <hr />
            <div>
                <p jhiTranslate="artemisApp.pages.checklist.configurationExplanation"></p>
                <div class="flex flex-wrap items-center gap-2">
                    <jhi-checklist-check id="configuration" [checkAttribute]="isTutorialGroupConfigurationCreated()" />
                    <label class="pe-4" for="configuration" jhiTranslate="artemisApp.pages.checklist.configuration"></label>
                    @if (isTutorialGroupConfigurationCreated()) {
                        <a
                            [routerLink]="['/course-management', course().id!, 'tutorial-groups', 'configuration', course().tutorialGroupsConfiguration!.id!, 'edit']"
                            tumUiButton
                            class="my-2"
                            [class.pointer-events-none]="!isTimeZoneConfigured()"
                            [class.opacity-60]="!isTimeZoneConfigured()"
                            [attr.aria-disabled]="!isTimeZoneConfigured() || null"
                        >
                            <fa-icon [icon]="faPlus" />
                            <span jhiTranslate="artemisApp.pages.tutorialGroupsManagement.editConfigurationButton"></span>
                        </a>
                    }
                    @if (!isTutorialGroupConfigurationCreated()) {
                        <a
                            [routerLink]="['/course-management', course().id!, 'create-tutorial-groups-configuration']"
                            tumUiButton
                            class="my-2"
                            [class.pointer-events-none]="!isTimeZoneConfigured()"
                            [class.opacity-60]="!isTimeZoneConfigured()"
                            [attr.aria-disabled]="!isTimeZoneConfigured() || null"
                        >
                            <fa-icon [icon]="faPlus" />
                            <span jhiTranslate="artemisApp.pages.checklist.createConfiguration"></span>
                        </a>
                    }
                </div>
            </div>
            <hr />
            <div>
                <button type="button" [routerLink]="['/course-management', course().id!, 'tutorial-groups']" tumUiButton class="my-2" [disabled]="!isFullyConfigured">
                    <span jhiTranslate="artemisApp.pages.checklist.continueToManagement"></span>
                </button>
            </div>
        </div>
    }
</jhi-loading-indicator-container>
