@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.quiz-statistic-footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

    .container {
        height: 100%;

        .quiz-footer-content,
        .edit-quiz-footer-content {
            .form-group {
                justify-content: center;

                .dropup {
                    text-align: center;
                    width: 100%;
                }

                @include media-breakpoint-down(xs) {
                    padding-top: 10px;
                }
            }
        }
    }
}
