<form #deleteForm="ngForm" name="deleteForm" (ngSubmit)="resetRepository()">
    <div class="p-3">
        <div jhiTranslate="artemisApp.editor.conflict.conflictExplanationLong"></div>
        <span class="d-inline-flex align-items-center gap-2 mt-2">
            <fa-icon [icon]="faExclamationTriangle" class="text-warning" />
            <span jhiTranslate="artemisApp.editor.conflict.conflictWarning"></span>
        </span>
    </div>
    <div class="d-flex justify-content-end gap-2 p-3 border-top">
        <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="closeModal()">
            <fa-icon [icon]="faBan" />&nbsp;<span jhiTranslate="entity.action.cancel"></span>
        </button>
        <button type="submit" class="btn btn-danger" [disabled]="!deleteForm.valid">
            <fa-icon [icon]="faTimes" />&nbsp;<span jhiTranslate="artemisApp.editor.conflict.resolveConflict"></span>
        </button>
    </div>
</form>
