.chart-title-text {
    font-size: large;
}

.question-title {
    font-size: 15px;
}

.invalid-question {
    color: red;
}

::ng-deep .textDataLabel {
    font-weight: bolder;
    font-size: 15px !important;
}
