#TODO: change this in dev setups and intellij profiles
#TODO: describe process in docs

artemis:
    encryption-password: artemis_admin # LEGACY: arbitrary password for encrypting database values
# TODO: idea: comment to delete non needed profiles in application-local-secrets.yml
# bitbucket start
    version-control:
        user: # e.g. ga12abc
        password:
        token:
        ssh-private-key-password:
# bitbucket end
# bamboo start
    continuous-integration:
        user: # e.g. ga12abc
        password:
        token: # Enter a valid token generated in Bamboo giving Artemis full Admin access
        # The actual value of the notification token to check against in Artemis. This is the token that gets send with
        # every request the CI system makes to Artemis containing a new result after a build.
        # The token value you use for the Server Notification Plugin
        artemis-authentication-token-value:
# bamboo end
# gitlab start
    version-control:
        user: root
        password: artemis_admin # created in Gitlab Server Quickstart step 2
        token: artemis-gitlab-token # generated in Gitlab Server Quickstart steps 4 and 5
        ci-token: jenkins-secret-token # pre-generated or replaced in Automated Jenkins Server step 3
        health-api-token:
        ssh-private-key-password:
# gitlab end
# jenkins start
    continuous-integration:
        user: artemis_admin
        password: artemis_admin
        secret-push-token: AQAAABAAAAAg/aKNFWpF9m2Ust7VHDKJJJvLkntkaap2Ka3ZBhy5XjRd8s16vZhBz4fxzd4TH8Su # pre-generated or replaced in Automated Jenkins Server step 3
        artemis-authentication-token-value: artemis_admin
# jenkins end
    user-management:
        internal-admin:
            username: artemis_admin
            password: artemis_admin
# jira start
        external:
            user: # e.g. ga12abc
            password:
# jira end
# ldap start
        ldap:
            password:
# ldap end
    athene:
        base64-secret: YWVuaXF1YWRpNWNlaXJpNmFlbTZkb283dXphaVF1b29oM3J1MWNoYWlyNHRoZWUzb2huZ2FpM211bGVlM0VpcAo=

spring:
    datasource:
        username: root
        password:
    mail:
        username:
        password:
    websocket:
        broker:
            username: guest
            password: guest

jhipster:
    security:
        authentication:
            jwt:
                base64-secret: bXktc2VjcmV0LWtleS13aGljaC1zaG91bGQtYmUtY2hhbmdlZC1pbi1wcm9kdWN0aW9uLWFuZC1iZS1iYXNlNjQtZW5jb2RlZAo=
    registry:
        password: AN-ADMIN-PASSWORD-THAT-MUST-BE-CHANGED (FROM REGISTRY CONFIG)
