@import '../../../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../../../../node_modules/bootstrap/scss/mixins';

:host {
    cursor: pointer;

    > div {
        padding: 5px 0;
        background-color: var(--overview-light-background-color);
        border-radius: var(--bs-border-radius-lg);

        .row {
            min-height: 35px;
            align-items: center;
        }

        &:hover {
            background-color: var(--hover-slightly-darker-body-bg);
        }

        .exercise-link {
            color: #212529;
        }
    }

    .course-exercise-row {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 1rem;
    }

    .exercise-row-icon {
        color: var(--bs-body-color);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;

        > fa-icon {
            z-index: 1;
        }
    }

    .result {
        width: unset;
        z-index: 2;
    }

    .due-date {
        z-index: 1;
    }
}

.raised-actions {
    position: relative;
    z-index: 1;
}

.max-width {
    @media (min-width: 768px) {
        max-width: 90%;
    }

    @media (max-width: 767px) {
        max-width: 100%;
    }
}

.exercise-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
