.edit-quiz-footer {
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background: white;

    .container {
        height: 100%;
    }
}
