<div class="row">
    @if (quizConfiguration.quizQuestions && !examTimeline) {
        <div class="quiz-navigation sticky-top">
            <div class="quiz-navigation-content">
                <div class="stepwizardquiz">
                    @for (question of quizConfiguration.quizQuestions; track question; let i = $index) {
                        <div class="stepwizardquiz__step">
                            @if (question.type === DRAG_AND_DROP) {
                                <span
                                    class="btn btn-light btn-circle stepbutton stepwizardquiz-circle draganddropcolor-question"
                                    (click)="navigateToQuestion(question.id!)"
                                    [ngbTooltip]="!!dragAndDropMappings.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                    [ngClass]="!!dragAndDropMappings.get(question.id!)?.length ? 'changed-question' : ''"
                                >
                                    <b class="fa">DD</b>
                                </span>
                            }
                            @if (question.type === MULTIPLE_CHOICE) {
                                <span
                                    class="btn btn-light btn-circle stepbutton stepwizardquiz-circle multiplechoicecolor-question"
                                    (click)="navigateToQuestion(question.id!)"
                                    [ngbTooltip]="!!selectedAnswerOptions.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                    [ngClass]="!!selectedAnswerOptions.get(question.id!)?.length ? 'changed-question' : ''"
                                >
                                    <b class="fa">MC</b>
                                </span>
                            }
                            @if (question.type === SHORT_ANSWER) {
                                <span
                                    class="btn btn-light btn-circle stepbutton stepwizardquiz-circle shortanswercolor-question"
                                    (click)="navigateToQuestion(question.id!)"
                                    [ngbTooltip]="!!shortAnswerSubmittedTexts.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                    [ngClass]="!!shortAnswerSubmittedTexts.get(question.id!)?.length ? 'changed-question' : ''"
                                >
                                    <b class="fa">SA</b>
                                </span>
                            }
                            <ng-template #tooltipExplanationTranslate>{{ 'artemisApp.quizExercise.explanationAnswered' | artemisTranslate }}</ng-template>
                            <ng-template #tooltipNotExplanationTranslate>{{ 'artemisApp.quizExercise.explanationNotAnswered' | artemisTranslate }}</ng-template>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    @if (quizConfiguration.quizQuestions) {
        <div class="quiz-content container">
            <h4 class="exercise-title">
                {{ examTimeline ? quizConfiguration.title : quizConfiguration?.exerciseGroup?.title ?? '-' }}
                <span
                    >[{{ quizConfiguration.maxPoints }} {{ 'artemisApp.examParticipation.points' | artemisTranslate }}]
                    @if (quizConfiguration.includedInOverallScore !== IncludedInOverallScore.INCLUDED_COMPLETELY) {
                        <jhi-included-in-score-badge [includedInOverallScore]="quizConfiguration.includedInOverallScore" />
                    }
                </span>
            </h4>
            @for (question of quizConfiguration.quizQuestions; track question; let i = $index) {
                <div>
                    <!-- TODO: Map vs Array consistency -->
                    @if (question.type === MULTIPLE_CHOICE) {
                        <jhi-multiple-choice-question
                            id="question{{ question.id }}"
                            [question]="question"
                            [selectedAnswerOptions]="selectedAnswerOptions.get(question.id!)!"
                            (selectedAnswerOptionsChange)="selectedAnswerOptions.set(question.id!, $event)"
                            [fnOnSelection]="onSelectionChanged.bind(this)"
                            [quizQuestions]="quizConfiguration.quizQuestions"
                            [questionIndex]="i + 1"
                            [clickDisabled]="readonly"
                        />
                    }
                    <!-- TODO: Map vs Array consistency -->
                    @if (question.type === DRAG_AND_DROP) {
                        <jhi-drag-and-drop-question
                            id="question{{ question.id }}"
                            [question]="question"
                            [mappings]="dragAndDropMappings.get(question.id!)!"
                            (mappingsChange)="dragAndDropMappings.set(question.id!, $event)"
                            [onMappingUpdate]="onSelectionChanged.bind(this)"
                            [questionIndex]="i + 1"
                            [clickDisabled]="readonly"
                        />
                    }
                    <!-- TODO: Map vs Array consistency -->
                    @if (question.type === SHORT_ANSWER) {
                        <jhi-short-answer-question
                            id="question{{ question.id }}"
                            [question]="question"
                            [submittedTexts]="shortAnswerSubmittedTexts.get(question.id!)!"
                            (submittedTextsChange)="shortAnswerSubmittedTexts.set(question.id!, $event)"
                            [fnOnSubmittedTextUpdate]="onSelectionChanged.bind(this)"
                            [questionIndex]="i + 1"
                            [clickDisabled]="readonly"
                        />
                    }
                </div>
            }
        </div>
    }
</div>
