$breadcrumb-height: 38px;

.quiz-navigation {
    .draganddropcolor-question {
        background-color: var(--quiz-participation-footer-dnd-background) !important;
    }
    .multiplechoicecolor-question {
        background-color: var(--quiz-participation-footer-mc-background) !important;
    }
    .shortanswercolor-question {
        background-color: var(--quiz-participation-footer-sa-background) !important;
    }
    .changed-question {
        background-color: var(--quiz-participation-footer-changed-background) !important;
    }
}

.stepwizardquiz {
    &__step {
        .fa {
            vertical-align: initial;
        }

        .btn {
            cursor: help;
            opacity: 1 !important;
        }
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border-spacing: 5px;
    padding: 6px 0;
    &.btn-light {
        border-color: #ffffff;
    }

    @media (max-width: 990px) {
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
            font-size: 10px;
        }
    }

    @media (max-width: 767.98px) {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
            font-size: 6px;
        }
    }
}
