$draggable-width: 15px;

.readonly-diagram svg text {
    fill: var(--apollon-primary-contrast);
}

.modeling-editor {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--module-bg);

    .help-and-status {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 5px;
        gap: 20px;

        .spin {
            display: inline-block;
            animation: spin 4s linear infinite;
        }
    }
}

@media screen and (max-width: 400px) {
    .modeling-editor .help-and-status .status-hint > span {
        display: none;
    }
}

.resizable {
    display: flex;

    .draggable-right,
    .draggable-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $draggable-width;
    }
}

.apollon-container {
    height: 600px;
}

.readonly-diagram {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.scroll-container {
    scrollbar-width: thin; /* Firefox */
    &::-webkit-scrollbar {
        width: 6px; /* WebKit */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
}

.full-screen-margin {
    margin-top: 30px;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
