nav {
    position: sticky;
    top: -16px;
    z-index: 2;
    padding: 1rem 0;
    background: var(--module-bg);
    border-bottom: 1px solid var(--bs-border-color);
    border-top: 1px solid var(--bs-border-color);

    .nav-link-container {
        display: flex;
        gap: 2rem;
        flex-wrap: nowrap;
        overflow: auto;

        a {
            display: inline-block;
            white-space: nowrap;
        }
    }
}
