nav {
    position: sticky;
    top: -1px;
    padding-top: 1rem;
    background: var(--bs-card-bg);

    hr {
        margin-bottom: 0;
    }

    .nav-link-container {
        display: flex;
        gap: 2rem;
        flex-wrap: nowrap;
        overflow: auto;

        a {
            display: inline-block;
            white-space: nowrap;
        }
    }
}
