<div *ngIf="complaint.accepted != undefined && complaint.complaintResponse">
    <p class="col-12 mt-4">
        <span *ngIf="isStudent">{{
            complaint.complaintType === ComplaintType.COMPLAINT
                ? ('artemisApp.complaint.responseExists' | artemisTranslate)
                : ('artemisApp.moreFeedback.responseExists' | artemisTranslate)
        }}</span>
        <span *ngIf="!isStudent">{{
            complaint.complaintType === ComplaintType.COMPLAINT
                ? ('artemisApp.complaintResponse.title' | artemisTranslate)
                : ('artemisApp.moreFeedbackResponse.title' | artemisTranslate)
        }}</span>
        <span *ngIf="isStudent" [ngbTooltip]="complaint.complaintResponse.submittedTime | artemisDate">{{ complaint.complaintResponse.submittedTime | artemisTimeAgo }}</span
        >:
    </p>

    <textarea class="col-12 px-1" rows="4" [(ngModel)]="complaint.complaintResponse.responseText" [readOnly]="true" [disabled]="true"></textarea>
</div>
