<div class="row align-items-center justify-content-center h-100 p-3">
    <div class="enable-learning-paths-container">
        <h3 class="mb-3" jhiTranslate="artemisApp.learningPathManagement.learningPathsDisabled.title"></h3>
        <span jhiTranslate="artemisApp.learningPathManagement.learningPathsDisabled.description"></span>
        <button
            type="button"
            class="mt-4 btn btn-primary"
            id="enable-learning-paths-button"
            jhiTranslate="artemisApp.learningPathManagement.learningPathsDisabled.buttonLabel"
        ></button>
    </div>
</div>
