.markdown-editor {
    height: 350px;
}

.guided-mode-button {
    float: right;
}

.process-units-button {
    float: right;
}

.info-button {
    background: none;
    border: none;
    padding: 0;
}
