.sa-question {
    .short-answer-question-display {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

        &__element {
            display: inline-flex;
        }

        .short-answer-question-container {
            display: inline-block;
            position: relative;

            &__input {
                border: 1px solid #ced4da;
                line-height: 35px;
                margin-bottom: 10px;
            }
        }
    }

    background: #fefefe;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 20px;
    position: relative;
    width: 100%;

    &.result {
        border-color: green;

        .show-explanation {
            display: inline-block;
        }

        &.incorrect {
            border-color: orange;
        }
    }

    h2 {
        margin: 0 90px 0 0;

        span {
            color: grey;
        }
    }

    p {
        margin: 10px 0;
        font-size: 16px;
    }

    .question-title-display {
        max-width: 80%;
    }

    .question-score {
        position: absolute;
        top: 20px;
        right: 20px;
        max-width: 30%;

        @media (max-width: 900px) {
            position: relative;
            top: 0;
            right: 0;
            max-width: 100%;
        }

        &.result {
            font-weight: bold;
            color: green;

            &.incorrect {
                color: orange;
            }
        }
    }

    .label {
        cursor: pointer;
        margin: 2px 0;

        /* adjust [ngbPopover] window style */
        & + ngb-popover-window {
            max-width: 500px;
        }
    }

    &.disabled {
        color: dimgrey;
        background: #fafafa;
    }
}
