@import '../../metis.component';

$draggable-width: 15px;
$discussion-section-card-min-width-sm: 230px;
$discussion-section-card-min-width: 370px;

.postings-container {
    display: flex;
    height: 100%;
    margin-left: auto;

    .back-instruction {
        font-size: 12px;
    }
}

.expanded-discussion {
    width: calc(#{$draggable-width} + #{$discussion-section-card-min-width});

    .draggable-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: $draggable-width;
    }

    .card {
        width: inherit;
        min-width: $discussion-section-card-min-width;
        border: 2px solid var(--bs-border-color);

        .card-header {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            border-radius: 0.25em 0.25em 0 0;
            background-color: transparent;
            border-bottom: 2px solid var(--bs-border-color);

            .card-title {
                display: flex;
            }

            .row > .col-auto:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .card-body {
            .items-container {
                max-height: 700px;
                overflow-y: auto;
            }
        }
    }
}

.collapsed-discussion {
    width: 38px;
    justify-content: start;
    flex-flow: column nowrap;
    border: 2px solid $border-color;
    border-radius: 0.25em 0 0 0.25em;
    margin-left: auto;
    cursor: pointer;

    span {
        writing-mode: vertical-rl;
        margin: auto;
    }

    .expand-postings-icon {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        place-self: center;
    }

    .spacer {
        flex: 1;
        width: 100%;
    }
}

@media screen and (max-width: 832px) {
    .expanded-discussion {
        max-width: $discussion-section-card-min-width-sm !important;

        .draggable-left {
            display: none;
        }

        .card {
            width: inherit;
            min-width: $discussion-section-card-min-width-sm;
        }
    }
}
