<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-08-09T16:44:33Z</date>
	<key>WorkspacePath</key>
	<string>/Users/g-e-k-k-k-o/Desktop/stephan-test-main@36bf930bae4/XpenseTest.xcworkspace</string>
</dict>
</plist>
