.student-search-searching {
    position: relative;
    top: 1px;
}

.student-search-failed {
    line-height: 1.2rem;
    font-size: 0.8rem;
}

.list-group--students {
    max-width: 450px;

    .list-group-item-container {
        &:not(:last-child) {
            margin-bottom: 0.15rem;
        }

        &:nth-child(even) {
            .list-group-item {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .list-group-item-index {
        font-size: 1.1rem;
        margin-left: 1.5rem;
        margin-right: 1rem;
        font-weight: 500;
    }

    .list-group-item {
        flex-grow: 1;
    }
}

.student-name {
    flex-grow: 1;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.student-remove-link {
    display: block;
    cursor: pointer;
}
