@import '../_overview-vars.scss';

:host {
    cursor: pointer;

    > div {
        padding: 5px 0;
        border: 1px solid $blue-border-color;
        background-color: $light-background-color;
        border-radius: 3px;
        transition: box-shadow 0.1s linear;
        .row {
            min-height: 35px;
            align-items: center;
        }
        &:hover {
            box-shadow: 0 2px 4px 0 #3E8ACC;
        }
        .exercise-link {
            color: $gray-900;
        }
    }

}
