@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

:host {
    cursor: pointer;

    > div {
        padding: 5px 0;
        border: 1px solid var(--overview-blue-border-color);
        background-color: var(--overview-light-background-color);
        border-radius: 3px;
        transition: box-shadow 0.1s linear;
        .row {
            min-height: 35px;
            align-items: center;
        }
        &:hover {
            box-shadow: 0 2px 4px 0 var(--primary);
        }
        .exercise-link {
            color: #212529;
        }
    }
    .exercise-row-icon {
        color: var(--bs-body-color);
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;

        > fa-icon {
            z-index: 1;
        }
    }

    .result {
        width: unset;
        z-index: 2;
    }
}

.raised-actions {
    position: relative;
    z-index: 1;
}
