#active-filter-badge {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;

    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.25s ease;
}

#active-filter-badge.hidden {
    transform: scale(0);
}
