@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import 'src/main/webapp/app/overview/overview-vars';

:host {
    cursor: pointer;

    > div {
        padding: 5px 0;
        border: 1px solid $blue-border-color;
        background-color: $light-background-color;
        border-radius: 3px;
        transition: box-shadow 0.1s linear;
        .row {
            min-height: 35px;
            align-items: center;
        }
        &:hover {
            box-shadow: 0 2px 4px 0 #3e8acc;
        }
        .exercise-link {
            color: $gray-900;
        }
    }
    .exercise-row-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 40px;
    }

    .result {
        width: unset;
        z-index: 2;
    }
}

.raised-actions {
    position: relative;
    z-index: 1;
}
