<div *ngIf="!loading">
    <p>
        <span>{{ 'artemisApp.plagiarism.cases.plagiarismExplanation' | artemisTranslate }}</span>
        <span>{{ 'artemisApp.plagiarism.cases.affectedExercise' | artemisTranslate }}</span>
        <a class="text-decoration-none" [routerLink]="['/courses', exercise.course!.id, 'exercises', exercise.id]">{{ exercise.title }}</a>
    </p>
    <p>
        <span class="fw-bold">{{ 'artemisApp.plagiarism.cases.instructorStatement' | artemisTranslate }}</span>
        <span *ngIf="!loading">{{ instructorStatement }}</span>
    </p>
    <p *ngIf="hasStatus()">
        <span>{{ 'artemisApp.plagiarism.cases.statusChanged' | artemisTranslate }}</span>
        <span *ngIf="isConfirmed()" class="text-danger">{{ 'artemisApp.plagiarism.cases.finallyConfirmed' | artemisTranslate }}</span>
        <span *ngIf="!isConfirmed()" class="text-success">{{ 'artemisApp.plagiarism.cases.finallyDenied' | artemisTranslate }}</span>
    </p>
    <div *ngIf="!loading">
        <jhi-plagiarism-split-view [exercise]="exercise" [comparison]="comparison" [splitControlSubject]="splitControlSubject"></jhi-plagiarism-split-view>
    </div>

    <p>{{ 'artemisApp.plagiarism.cases.yourStatement' | artemisTranslate }}</p>
    <div>
        <textarea cols="3" class="form-control" [(ngModel)]="studentStatement" required [disabled]="!loading && !canSaveStudentStatement()"></textarea>
        <button class="btn btn-primary m-1" (click)="saveStudentStatement()" [disabled]="!studentStatement || !canSaveStudentStatement()">
            {{ 'entity.action.submit' | artemisTranslate }}
        </button>
    </div>
</div>
