/* ==========================================================================
Developement Ribbon
========================================================================== */
.box {
    position: relative;
    max-width: 0;
    width: 90%;
    height: 0;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* common */
.ribbon {
    z-index: 9999;
    width: 150px;
    height: 150px;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
    opacity: 0.75;
    span {
        position: absolute;
        display: block;
        width: 235px;
        padding: 10px 0;
        background-color: rgba(170, 0, 0, 0.5);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
    }
}

/* top left */
.ribbon-top-left {
    top: -20px;
    left: -20px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}
