.course-competency-relation-form-container {
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius-lg);
}

.cursor-pointer {
    cursor: pointer;
}

.suggestions-scroll-container {
    max-height: 240px;
    overflow-y: auto;
}
