@import '../../../../../../content/scss/artemis-mixins';

.dnd-question {
    background: var(--quiz-question-background);
    border: 1px solid var(--quiz-question-border-color);
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 20px;
    position: relative;
    width: 100%;

    .dnd-instructions {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        font-weight: 500;
    }

    .drag-and-drop-area {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1199.98px) {
            flex-direction: column;
        }

        /* background image and click-layer styles */
        .background-area {
            position: relative;
            @include user-select(none);

            > jhi-secured-image img {
                max-width: 100%;
            }

            .click-layer {
                @include position-style(absolute, 0, 0, 0, 0, 1);
                width: 100%;
                height: 100%;

                /* dotted drop-location */
                .drop-location {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background: var(--dnd-question-drop-location-background);
                    border: 1px dashed var(--dnd-question-drop-location-border-color);

                    &.drop-hover,
                    &.drop-allowed > *,
                    .dnd-drag-over > * {
                        opacity: 0.5;
                    }

                    &.results {
                        border-color: var(--dnd-question-drop-location-results-border-color);
                        background: var(--dnd-question-drop-location-results-background);

                        > * {
                            opacity: 0.8;
                        }

                        &.incorrect {
                            border-color: var(--dnd-question-drop-location-results-incorrect-border-color);
                            background: var(--dnd-question-drop-location-results-incorrect-background);
                        }

                        .drag-item {
                            background: transparent;
                        }
                    }

                    &.sampleSolution {
                        border-color: var(--dnd-question-drop-location-results-sample-border-color);
                        background: var(--dnd-question-drop-location-results-sample-background);

                        > * {
                            opacity: 1;
                        }
                    }

                    .result-symbol {
                        color: var(--dnd-question-drop-location-result-symbol-color);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        opacity: 1;
                        @include transformTranslate3D(-63%, -63%, 0);
                    }

                    .invalid {
                        color: var(--dnd-question-drop-location-result-invalid-color);
                        position: absolute;
                        bottom: 0px;
                        left: 2px;
                        z-index: 1;
                        opacity: 1;
                    }

                    jhi-drag-item,
                    .drag-item {
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        background: var(--dnd-question-drop-location-drag-item-background);

                        div {
                            @media (max-width: 991.98px) {
                                padding: 0 !important;
                            }
                        }

                        img {
                            max-height: 100%;
                            max-width: 100%;
                            height: auto;
                            width: auto !important;
                            margin: auto;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 50%;
                        }

                        .drag-item-text,
                        .drag-item-picture {
                            line-height: 1;

                            span {
                                border: none;
                                vertical-align: middle;
                                display: inline-block;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        /* drag and drop items area with grey background */
        .drag-and-drop-items {
            @media (min-width: 1200px) {
                margin: -6px 0 0 20px;
            }

            .dnd-instructions {
                @media (min-width: 1200px) {
                    margin: 0 0 10px 0;
                }
            }

            .drag-items {
                background: var(--dnd-question-dnd-items-drag-items-background) !important;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                min-height: 50px;
                overflow: auto;
                max-height: 80vh;

                @media (min-width: 1200px) {
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
            }
        }
    }

    /* highlight drop location in light blue when selecting a drag item */
    .cdk-drop-list-receiving {
        background: var(--dnd-question-drop-list-receiving-background) !important;
    }
    /* change highlight color to light green when dragging the item above a drop location */
    .cdk-drop-list-dragging {
        background: var(--dnd-question-drop-list-dragging-background) !important;
        cursor: pointer;
    }

    .cdk-drag {
        cursor: pointer;
    }
}
