<jhi-assessment-layout
    (navigateBack)="navigateBack()"
    [isLoading]="isLoading"
    [nextSubmissionBusy]="nextSubmissionBusy"
    [isTeamMode]="!!modelingExercise?.teamMode"
    [isAssessor]="isAssessor"
    [isTestRun]="isTestRun"
    [exerciseDashboardLink]="exerciseDashboardLink"
    [canOverride]="canOverride"
    [result]="result"
    [assessmentsAreValid]="assessmentsAreValid"
    [complaint]="complaint"
    [exercise]="modelingExercise"
    [submission]="submission"
    [hasAssessmentDueDatePassed]="hasAssessmentDueDatePassed"
    (save)="onSaveAssessment()"
    (submit)="onSubmitAssessment()"
    (cancel)="onCancelAssessment()"
    (nextSubmission)="assessNext()"
    (updateAssessmentAfterComplaint)="onUpdateAssessmentAfterComplaint($event)"
    [(highlightDifferences)]="highlightDifferences"
    [correctionRound]="correctionRound"
    (useAsExampleSubmission)="useStudentSubmissionAsExampleSubmission()"
>
    @if (submission) {
        @if (hasAutomaticFeedback && isAssessor && !result?.completionDate) {
            <div class="alert alert-info" jhiTranslate="artemisApp.modelingAssessmentEditor.automaticAssessmentAvailable">
                Congratulations! Parts of this model could already be assessed automatically. Please review the automatic assessment and complete the assessment afterwards. By
                submitting the assessment you also confirm the automatic assessment. Please be aware that you are responsible for the whole assessment.
            </div>
        }
        <div class="editor-container flex-grow-1">
            @if (submission) {
                <jhi-modeling-assessment
                    [diagramType]="modelingExercise?.diagramType"
                    [maxScore]="modelingExercise?.maxPoints || 0"
                    [maxBonusPoints]="modelingExercise?.bonusPoints || 0"
                    [totalScore]="totalScore"
                    [umlModel]="model!"
                    [readOnly]="readOnly"
                    [resultFeedbacks]="result?.feedbacks || []"
                    [highlightedElements]="highlightedElements"
                    (feedbackChanged)="onFeedbackChanged($event)"
                    [explanation]="submission?.explanationText || ''"
                    [highlightDifferences]="highlightDifferences"
                    [elementCounts]="submission && submission.similarElements"
                    [resizeOptions]="resizeOptions"
                    [course]="course"
                />
            }
            @if (modelingExercise) {
                <jhi-collapsable-assessment-instructions [readOnly]="false" [exercise]="modelingExercise" [collapsed]="false" />
            }
        </div>
        <div class="row mt-3">
            <jhi-unreferenced-feedback
                [(feedbacks)]="unreferencedFeedback"
                (feedbacksChange)="validateFeedback()"
                [readOnly]="readOnly"
                [highlightDifferences]="highlightDifferences"
            />
            @if ((hasAutomaticFeedback || highlightMissingFeedback) && !result?.completionDate) {
                <div class="col-md-6">
                    <h4 jhiTranslate="artemisApp.modelingAssessmentEditor.highlightingColors.title">Highlighting Color(s)</h4>
                    @if (hasAutomaticFeedback) {
                        <div class="row">
                            <div class="mx-3 mb-2 highlighting-item color-cyan"></div>
                            <span jhiTranslate="artemisApp.modelingAssessmentEditor.highlightingColors.automaticAssessment">automatic assessment</span>
                        </div>
                    }
                    @if (highlightMissingFeedback) {
                        <div class="row">
                            <div class="mx-3 mb-2 highlighting-item color-red"></div>
                            <span jhiTranslate="artemisApp.modelingAssessmentEditor.highlightingColors.missingAssessment">missing assessment</span>
                        </div>
                    }
                </div>
            }
        </div>
    } @else {
        @if (!loadingInitialSubmission) {
            <div class="alert alert-warning text-center mt-4" role="alert">
                <p jhiTranslate="artemisApp.modelingAssessment.notFound">We haven't found any new submission without an assessment, please go back.</p>
                <a [routerLink]="exerciseDashboardLink" class="btn btn-info btn-sm me-1 mb-1 assessment-dashboard">
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.exerciseDashboard">Exercise dashboard</span>
                </a>
            </div>
        }
    }
</jhi-assessment-layout>
<ng-template #assessment>
    @if (hasAutomaticFeedback && isAssessor && !result?.completionDate) {
        <div class="alert alert-info" jhiTranslate="artemisApp.modelingAssessmentEditor.automaticAssessmentAvailable">
            Congratulations! Parts of this model could already be assessed automatically. Please review the automatic assessment and complete the assessment afterwards. By
            submitting the assessment you also confirm the automatic assessment. Please be aware that you are responsible for the whole assessment.
        </div>
    }
    <div class="editor-container flex-grow-1">
        @if (submission) {
            <jhi-modeling-assessment
                [diagramType]="modelingExercise?.diagramType"
                [maxScore]="modelingExercise?.maxPoints || 0"
                [maxBonusPoints]="modelingExercise?.bonusPoints || 0"
                [totalScore]="totalScore"
                [umlModel]="model!"
                [readOnly]="readOnly"
                [resultFeedbacks]="result?.feedbacks || []"
                [highlightedElements]="highlightedElements"
                (feedbackChanged)="onFeedbackChanged($event)"
                [explanation]="submission?.explanationText || ''"
                [highlightDifferences]="highlightDifferences"
                [elementCounts]="submission && submission.similarElements"
                [resizeOptions]="resizeOptions"
                [course]="course"
            />
        }
        @if (modelingExercise) {
            <jhi-collapsable-assessment-instructions [readOnly]="false" [exercise]="modelingExercise" [collapsed]="false" />
        }
    </div>
    <div class="row mt-3">
        <jhi-unreferenced-feedback
            [(feedbacks)]="unreferencedFeedback"
            (feedbacksChange)="validateFeedback()"
            [readOnly]="readOnly"
            [highlightDifferences]="highlightDifferences"
        />
        @if ((hasAutomaticFeedback || highlightMissingFeedback) && !result?.completionDate) {
            <div class="col-md-6">
                <h4 jhiTranslate="artemisApp.modelingAssessmentEditor.highlightingColors.title">Highlighting Color(s)</h4>
                @if (hasAutomaticFeedback) {
                    <div class="row">
                        <div class="mx-3 mb-2 highlighting-item color-cyan"></div>
                        <span jhiTranslate="artemisApp.modelingAssessmentEditor.highlightingColors.automaticAssessment">automatic assessment</span>
                    </div>
                }
                @if (highlightMissingFeedback) {
                    <div class="row">
                        <div class="mx-3 mb-2 highlighting-item color-red"></div>
                        <span jhiTranslate="artemisApp.modelingAssessmentEditor.highlightingColors.missingAssessment">missing assessment</span>
                    </div>
                }
            </div>
        }
    </div>
</ng-template>
