<div id="cardFiles" class="card resizable-filebrowser" [ngStyle]="{ 'width.px': 400 }">
    <div class="card-header bg-primary text-white" (click)="toggleEditorCollapse($event, false)">
        <span class="float-right "><fa-icon icon="chevron-left"></fa-icon></span>
        <h3 class="card-title">
            <fa-icon icon="folder-open"></fa-icon>
            <span> &nbsp;{{ participation?.exercise.title }}</span>
        </h3>
    </div>

    <div class="card-second-header">
        <a class="btn btn-small" (click)="openCreateFileModal()"><fa-icon icon="plus"></fa-icon> </a>
        <a class="btn btn-small" (click)="openDeleteFileModal($event, fileName)"><fa-icon icon="trash"></fa-icon> </a>
    </div>

    <div class="card-body">
        <ngx-treeview #treeview [config]="treeviewConfig" [items]="filesTreeViewItem" [itemTemplate]="itemTemplate"> </ngx-treeview>
    </div>
    <jhi-code-editor-status [editorState]="editorState" [commitState]="commitState"></jhi-code-editor-status>
    <!-- Required for resizing; don't remove empty span -->
    <div class="rg-right"><span></span></div>
</div>

<!--Treeview Item Template-->
<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
    <li *ngIf="item.children" (click)="onCollapseExpand()" class="list-group-item">
        <fa-icon aria-hidden="true" [icon]="item.collapsed ? 'folder' : 'folder-open'" [fixedWidth]="true"></fa-icon>
        <span class="ml-1">{{ item.text }}</span>
    </li>
    <li
        *ngIf="!item.children"
        (click)="handleNodeSelected(item)"
        class="list-group-item"
        [class.node-selected]="item.checked"
        [class.text-danger]="!item.checked && errorFiles && errorFiles.includes(item.value)"
    >
        <fa-icon aria-hidden="true" icon="file" [fixedWidth]="true"></fa-icon>
        <span class="text-warning">
            <fa-icon *ngIf="unsavedFiles && unsavedFiles.includes(item.value)" aria-hidden="true" [icon]="['fas', 'circle']" [fixedWidth]="true"></fa-icon>
        </span>
        <span class="ml-1" *ngIf="renamingFile !== item.value">{{ item.text }}</span>
        <span class="ml-1" *ngIf="renamingFile === item.value"
            ><input
                #renamingInput
                value="{{ item.value }}"
                (keyup.enter)="onRenameFile($event)"
                (focusout)="onRenameFile($event)"
                (keyup.esc)="setRenamingFile(null)"
                class="list-group-item__input"
        /></span>
        <span class="file-icons" [ngClass]="item.checked ? 'text-white' : 'primary'">
            <fa-icon [icon]="['fa', 'edit']" (click)="setRenamingFile($event, item.value)"></fa-icon>
            <fa-icon [icon]="['fa', 'trash']" (click)="openDeleteFileModal($event, item.value)"></fa-icon>
        </span>
    </li>
</ng-template>
