.panel-wrapper {
    border: 1px solid var(--overview-blue-border-color);
    border-radius: 3px;

    .panel-header {
        padding: 10px 10px 10px 15px;
        font-size: 16px;
    }

    .panel-body {
        padding: 8px 15px;
    }

    .vertLine {
        height: 1px;
        background-color: var(--overview-blue-border-color);
    }
}
