@import 'src/main/webapp/content/scss/artemis-variables';

.panel-wrapper {
    border: 1px solid $primary;
    border-radius: 3px;

    .panel-header {
        padding: 15px;
        font-size: 17px;
    }

    .panel-body {
        padding: 8px 15px;
    }

    .vertLine {
        height: 1px;
        background-color: $primary;
    }
}
