.frame {
    display: grid;
    grid-template-columns: max-content 1fr 1rem max-content 1fr;
    column-gap: 1rem;
    row-gap: 1.75rem;
    border-radius: 0.5rem;

    h3 {
        grid-column: 1 / -1;
        margin: 0;
    }

    .field-label {
        grid-column: 1;
        white-space: nowrap;
        align-self: center;
    }

    .field-control {
        grid-column: 2;
        width: 100%;
        min-width: 0;
    }

    .right-label {
        grid-column: 4;
    }

    .right-control {
        grid-column: 5;
    }

    .danger {
        color: var(--danger);
    }

    .autocomplete-header {
        text-align: center;
        padding: 0.5rem 0.5rem;
        font-size: 0.75rem;
    }
}
