<form name="deleteForm" (ngSubmit)="confirmDelete()" #deleteForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" [ngSwitch]="actionType">
            <span *ngSwitchCase="actionTypes.Delete" jhiTranslate="entity.delete.title">Confirm delete operation</span>
            <span *ngSwitchCase="actionTypes.Reset" jhiTranslate="entity.reset.title">Confirm reset operation</span>
            <span *ngSwitchCase="actionTypes.Cleanup" jhiTranslate="entity.cleanup.title">Confirm cleanup operation</span>
            <span *ngSwitchCase="actionTypes.Remove" jhiTranslate="entity.remove.title">Confirm remove operation</span>
            <span *ngSwitchCase="actionTypes.Unlink" jhiTranslate="entity.unlink.title">Confirm unlink operation</span>
            <span *ngSwitchCase="actionTypes.NoButtonTextDelete" jhiTranslate="entity.noButtonTextDelete.title">Confirm delete operation</span>
            <span *ngSwitchCase="actionTypes.EndNow" jhiTranslate="entity.endNow.title">Confirm end now operation</span>
        </h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
    </div>
    <div class="modal-body">
        <p [jhiTranslate]="deleteQuestion" [translateValues]="{ title: entityTitle }">Are you sure you want to delete?</p>
        <div *ngIf="additionalChecks">
            <div *ngFor="let checkKey of objectKeys(additionalChecks); let i = index">
                <div class="checkbox" *ngIf="additionalChecks[checkKey]">
                    <div class="control-label text-danger form-check">
                        <input id="additional-check-{{ i }}" type="checkbox" name="checkbox" class="form-check-input" [(ngModel)]="additionalChecksValues[checkKey]" />
                        <label for="additional-check-{{ i }}" class="form-check-label">{{ additionalChecks[checkKey] | artemisTranslate }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="deleteConfirmationText && (!requireConfirmationOnlyForAdditionalChecks || isAnyAdditionalCheckSelected)">
            <label for="confirm-exercise-name" class="text-danger" [jhiTranslate]="deleteConfirmationText">Please type in the name to confirm</label>
            <input id="confirm-exercise-name" type="text" class="form-control" name="confirmExerciseName" [(ngModel)]="confirmEntityName" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" [disabled]="submitDisabled">
            <fa-icon [icon]="faBan"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button
            id="delete"
            type="submit"
            class="btn btn-danger"
            [style.cursor]="deleteForm.form.invalid || !areSecurityChecksFulfilled || submitDisabled ? 'not-allowed' : 'pointer'"
            [disabled]="deleteForm.form.invalid || !areSecurityChecksFulfilled || submitDisabled"
            [ngSwitch]="actionType"
        >
            <span *ngIf="submitDisabled"><fa-icon [icon]="faSpinner" [spin]="true">&nbsp;</fa-icon>&nbsp;</span><fa-icon [icon]="faTimes"></fa-icon>&nbsp;
            <span *ngSwitchCase="actionTypes.Delete" jhiTranslate="entity.action.delete">Delete</span>
            <span *ngSwitchCase="actionTypes.Reset" jhiTranslate="entity.action.reset">Reset</span>
            <span *ngSwitchCase="actionTypes.Cleanup" jhiTranslate="entity.action.cleanup">Cleanup</span>
            <span *ngSwitchCase="actionTypes.Remove" jhiTranslate="entity.action.remove">Remove</span>
            <span *ngSwitchCase="actionTypes.Unlink" jhiTranslate="entity.action.unlink">Unlink</span>
            <span *ngSwitchCase="actionTypes.NoButtonTextDelete" jhiTranslate="entity.action.delete">Delete</span>
            <span *ngSwitchCase="actionTypes.EndNow" jhiTranslate="entity.action.endNow">End Now</span>
        </button>
    </div>
</form>
