<div class="d-flex flex-column gap-1 working-time-control">
    <div class="d-flex flex-column gap-1">
        @if (durationLabelText()) {
            <label for="workingTimeHours" class="me-4" [jhiTranslate]="durationLabelText()"></label>
        }
        <div class="input-group">
            <input
                [(ngModel)]="workingTime.hours"
                (ngModelChange)="onDurationChanged()"
                [disabled]="disabled()"
                id="workingTimeHours"
                name="hours"
                type="number"
                class="text-center form-control form-number-input"
                [min]="allowNegative() ? null : 0"
                step="1"
                required
            />
            <label for="workingTimeHours" class="input-group-text">h</label>
            <input
                [(ngModel)]="workingTime.minutes"
                (ngModelChange)="onDurationChanged()"
                [disabled]="disabled()"
                id="workingTimeMinutes"
                name="minutes"
                type="number"
                class="text-center form-control form-number-input"
                [min]="allowNegative() ? -59 : 0"
                max="59"
                step="1"
                required
            />
            <label for="workingTimeMinutes" class="input-group-text">min</label>
            <input
                [(ngModel)]="workingTime.seconds"
                (ngModelChange)="onDurationChanged()"
                [disabled]="disabled()"
                id="workingTimeSeconds"
                name="seconds"
                type="number"
                class="text-center form-control form-number-input"
                [min]="allowNegative() ? -59 : 0"
                max="59"
                step="1"
                required
            />
            <label for="workingTimeSeconds" class="input-group-text">s</label>
        </div>
    </div>
    @if (exam() && relative()) {
        <div class="d-flex flex-column gap-1">
            @if (relativeLabelText()) {
                <label for="workingTimePercent" class="me-4 flex-fill" [jhiTranslate]="relativeLabelText()"></label>
            }
            <div class="input-group">
                <input
                    [(ngModel)]="workingTime.percent"
                    (ngModelChange)="onPercentChanged()"
                    [disabled]="disabled()"
                    id="workingTimePercent"
                    name="percent"
                    type="number"
                    class="text-center form-control form-number-input"
                    [min]="allowNegative() ? -100 : 0"
                    step=".01"
                    required
                />
                <label for="workingTimePercent" class="input-group-text">%</label>
            </div>
        </div>
    }
</div>
