.dnd-question,
.mc-question,
.sa-question {
    &.disabled {
        color: var(--quiz-participation-question-disabled-color);
        background: var(--quiz-participation-question-disabled-background);
    }

    &.result {
        border-color: var(--quiz-participation-question-result-border-color);

        .show-explanation {
            display: inline-block;
        }

        &.incorrect {
            border-color: var(--quiz-participation-question-result-incorrect-border-color);
        }
    }

    h2 {
        margin: 0 90px 0 0;

        span {
            color: var(--quiz-participation-question-h2-span-color);
        }
    }

    p {
        margin: 10px 0;
        font-size: 16px;
    }

    .question-title-display {
        max-width: 80%;
    }

    .question-score {
        position: absolute;
        top: 20px;
        right: 20px;
        max-width: 30%;

        @media (max-width: 900px) {
            position: relative;
            top: 0;
            right: 0;
            max-width: 100%;
        }

        &.result {
            font-weight: bold;
            color: var(--quiz-participation-question-score-result);

            &.incorrect {
                color: var(--quiz-participation-question-score-incorrect-result);
            }
        }
    }

    .label {
        cursor: pointer;
        margin: 2px 0;

        /* adjust [ngbPopover] window style */
        & + ngb-popover-window {
            max-width: 500px;
        }
    }

    /* adjust [ngbPopover] window style */
    ngb-popover-window {
        max-width: 500px;

        @media (max-width: 991.98px) {
            max-width: 300px !important;
        }

        @media (max-width: 575.98px) {
            max-width: 200px !important;
        }
    }
}
