.quiz-header {
    font-size: 16px;
    margin-top: 25px;
}

.quiz-content {
    margin-top: 6px;
    margin-bottom: 110px;
    min-height: calc(100vh - 400px);

    .question-index {
        padding: 2px 6px;
    }
}

.quiz-footer {
    height: 90px;
    position: fixed;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0 3px var(--quiz-participation-footer-box-shadow);
    background: var(--quiz-participation-footer-background);

    .container {
        height: 100%;
    }

    .draganddropcolor-question {
        background-color: var(--quiz-participation-footer-dnd-background) !important;
    }
    .multiplechoicecolor-question {
        background-color: var(--quiz-participation-footer-mc-background) !important;
    }
    .shortanswercolor-question {
        background-color: var(--quiz-participation-footer-sa-background) !important;
    }
    .changed-question {
        background-color: var(--quiz-participation-footer-changed-background) !important;
    }
}

.quiz-content,
.quiz-footer-content {
    font-size: 16px;
}

.quiz-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control,
    .input-group-btn {
        width: auto;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }

    .invalid-reasons-tooltip .tooltip-inner {
        text-align: left;
        max-width: 300px;

        p {
            margin: 4px 0;
            padding: 4px;
        }
    }

    #remaining-time {
        margin: 0 10px;
        max-width: 35%;
        text-align: center;

        > div {
            text-align: center;
            width: 100%;
        }

        @media (max-width: 599px) {
            max-width: 50%;
            max-height: 55px;
            overflow-y: hidden;
        }
    }

    #remaining-time-value {
        font-weight: bold;
        white-space: nowrap;
    }

    #quiz-score {
        text-align: center;
        font-weight: bold;
        color: var(--quiz-participation-footer-content-quiz-score-color);

        &.incorrect {
            color: var(--quiz-participation-footer-content-quiz-score-incorrect-color);
        }
    }

    .time-warning {
        color: var(--quiz-participation-footer-content-time-warning-color);
    }

    .time-critical {
        color: var(--quiz-participation-footer-content-time-critical-color);
    }

    .connection-status-quiz {
        @media (max-width: 767.98px) {
            font-size: 11px;
        }
    }

    @media (max-width: 767.98px) {
        font-size: 12px;
    }
}

.quiz-submitted-overlay,
.quiz-waiting-for-start-overlay,
.quiz-is-active-overlay,
.quiz-is-over-overlay {
    position: fixed !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border-color: var(--quiz-participation-quiz-is-over-border-color);
    z-index: 8;
}

.in-parentheses:before {
    content: '(';
}

.in-parentheses:after {
    content: ')';
}

.align-text {
    max-height: 22px;
    white-space: nowrap;
}

.hide-mobile {
    @media (max-width: 699px) {
        display: none;
    }
}
.show-mobile {
    @media (min-width: 700px) {
        display: none;
    }
}

.quiz-icons {
    max-width: 40%;
}

.stepwizardquiz {
    display: flex;
    flex-wrap: wrap;
    max-height: 60px;
    overflow: hidden;
    position: relative;

    @media (max-width: 767.98px) {
        max-height: 45px;
    }

    @media (max-width: 450px) {
        max-width: 100px;
    }

    &__step {
        display: inline-block;
        text-align: center;
        position: relative;

        .fa {
            vertical-align: initial;
        }

        .btn {
            cursor: pointer;
            opacity: 1 !important;
        }
    }
}

.submit-button {
    width: 25%;

    button {
        float: right;
    }
}

.quiz-refresh-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 12;
    pointer-events: none;
    transition: 0.1s ease-out opacity;

    &.active {
        background-color: var(--quiz-participation-refresh-overlay-active-background);
        opacity: 1;
        pointer-events: none;
        transition: 0.2s ease-in opacity;
    }
    .ng-fa-icon {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.btn-circle.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border-spacing: 5px;
    padding: 6px 0;
    &.btn-light {
        border-color: var(--quiz-participation-btn-circle-light-border-color);
    }

    @media (max-width: 990px) {
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
            font-size: 10px;
        }
    }

    @media (max-width: 767.98px) {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
            font-size: 6px;
        }
    }
}

@media (max-width: 990px) {
    .btn-circle.btn-circle {
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
            font-size: 10px;
        }
    }
}
