<div [id]="'exercise-' + quizExercise?.id">
    @if (quizExercise) {
        <div class="quiz-header ms-5">
            <h2>
                {{ quizExercise.course?.title ? quizExercise.course?.title : quizExercise.exerciseGroup?.exam?.course?.title }} - {{ quizExercise.title }}
                @switch (mode) {
                    @case ('practice') {
                        <span class="in-parentheses" jhiTranslate="artemisApp.quizExercise.practiceMode"></span>
                    }
                    @case ('preview') {
                        <span class="in-parentheses" jhiTranslate="artemisApp.quizExercise.previewMode"></span>
                    }
                    @case ('solution') {
                        <span class="in-parentheses" jhiTranslate="artemisApp.quizExercise.solution"></span>
                    }
                }
            </h2>
            @if (!waitingForQuizStart && !submission.submitted && !showingResult && remainingTimeSeconds >= 0) {
                <p jhiTranslate="artemisApp.quizExercise.quizInstructions.live"></p>
            }
            @if (!waitingForQuizStart && submission.submitted && !showingResult) {
                <p jhiTranslate="artemisApp.quizExercise.quizInstructions.wait"></p>
            }
            @if (!waitingForQuizStart && showingResult && mode !== 'solution') {
                <p
                    jhiTranslate="artemisApp.quizExercise.quizInstructions.result"
                    [translateValues]="{
                        userScore: userScore,
                        maxScore: totalScore,
                        percentage: roundScoreSpecifiedByCourseSettings(result.score, getCourseFromExercise(quizExercise))
                    }"
                ></p>
            }
        </div>
    }
    <!-- TODO for a follow-up: Much of this template relies on method calls in the template. We should avoid this for performance reasons -->
    <div class="w-auto m-0 pb-5">
        @if (quizExercise) {
            <div class="position-fixed d-flex align-items-center align-self-end justify-content-center">
                <div class="p-0 col-md-auto quiz-navigation sticky-top">
                    <div class="stepwizardquiz col-6">
                        @for (question of quizExercise.quizQuestions; track question; let i = $index) {
                            <div class="stepwizardquiz__step mb-3">
                                @if (question.type === DRAG_AND_DROP) {
                                    <span
                                        class="btn btn-light btn-circle stepbutton stepwizardquiz-circle draganddropcolor-question"
                                        (click)="navigateToQuestion(i)"
                                        [ngbTooltip]="!!dragAndDropMappings.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                        [ngClass]="!!dragAndDropMappings.get(question.id!)?.length ? 'changed-question' : ''"
                                    >
                                        <b class="fa">DD</b>
                                    </span>
                                }
                                @if (question.type === MULTIPLE_CHOICE) {
                                    <span
                                        class="btn btn-light btn-circle stepbutton stepwizardquiz-circle multiplechoicecolor-question"
                                        (click)="navigateToQuestion(i)"
                                        [ngbTooltip]="!!selectedAnswerOptions.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                        [ngClass]="!!selectedAnswerOptions.get(question.id!)?.length ? 'changed-question' : ''"
                                    >
                                        <b class="fa">MC</b>
                                    </span>
                                }
                                @if (question.type === SHORT_ANSWER) {
                                    <span
                                        class="btn btn-light btn-circle stepbutton stepwizardquiz-circle shortanswercolor-question"
                                        (click)="navigateToQuestion(i)"
                                        [ngbTooltip]="!!shortAnswerSubmittedTexts.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                        [ngClass]="!!shortAnswerSubmittedTexts.get(question.id!)?.length ? 'changed-question' : ''"
                                    >
                                        <b class="fa">SA</b>
                                    </span>
                                }
                                <ng-template #tooltipExplanationTranslate>{{ 'artemisApp.quizExercise.explanationAnswered' | artemisTranslate }} </ng-template>
                                <ng-template #tooltipNotExplanationTranslate>{{ 'artemisApp.quizExercise.explanationNotAnswered' | artemisTranslate }} </ng-template>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="quiz-content ms-5 mb-3">
                @for (question of quizExercise.quizQuestions; track question; let i = $index) {
                    <div>
                        <!-- TODO: Map vs Array consistency -->
                        @if (question.type === MULTIPLE_CHOICE) {
                            <jhi-multiple-choice-question
                                id="question{{ i }}"
                                [question]="question"
                                [selectedAnswerOptions]="selectedAnswerOptions.get(question.id!)!"
                                (selectedAnswerOptionsChange)="selectedAnswerOptions.set(question.id!, $event)"
                                [fnOnSelection]="onSelectionChanged.bind(this)"
                                [clickDisabled]="submission.submitted || remainingTimeSeconds < 0"
                                [showResult]="showingResult"
                                [submittedResult]="result"
                                [quizQuestions]="quizExercise.quizQuestions"
                                [forceSampleSolution]="mode === 'solution'"
                                [questionIndex]="i + 1"
                                [score]="questionScores[question.id!]"
                            />
                        }
                        <!-- TODO: Map vs Array consistency -->
                        @if (question.type === DRAG_AND_DROP) {
                            <jhi-drag-and-drop-question
                                id="question{{ i }}"
                                [question]="question"
                                [mappings]="dragAndDropMappings.get(question.id!)!"
                                (mappingsChange)="dragAndDropMappings.set(question.id!, $event)"
                                [onMappingUpdate]="onSelectionChanged.bind(this)"
                                [clickDisabled]="submission.submitted || remainingTimeSeconds < 0"
                                [showResult]="showingResult"
                                [forceSampleSolution]="mode === 'solution'"
                                [questionIndex]="i + 1"
                                [score]="questionScores[question.id!]"
                            />
                        }
                        <!-- TODO: Map vs Array consistency -->
                        @if (question.type === SHORT_ANSWER) {
                            <jhi-short-answer-question
                                id="question{{ i }}"
                                [question]="question"
                                [submittedTexts]="shortAnswerSubmittedTexts.get(question.id!)!"
                                (submittedTextsChange)="shortAnswerSubmittedTexts.set(question.id!, $event)"
                                [fnOnSubmittedTextUpdate]="onSelectionChanged.bind(this)"
                                [clickDisabled]="submission.submitted || remainingTimeSeconds < 0"
                                [showResult]="showingResult"
                                [forceSampleSolution]="mode === 'solution'"
                                [questionIndex]="i + 1"
                                [score]="questionScores[question.id!]"
                            />
                        }
                    </div>
                }
            </div>
        }
    </div>
    @if (quizExercise) {
        <div class="quiz-footer mt-5">
            <div class="container">
                <div class="quiz-footer-content">
                    <div [class.invisible]="mode !== 'live' || showingResult" class="autosave-text">
                        <span jhiTranslate="artemisApp.quizExercise.quizInstructions.autoSave"></span>
                    </div>
                    @if (!showingResult) {
                        <div id="remaining-time">
                            @if (!waitingForQuizStart) {
                                <div>
                                    <span jhiTranslate="artemisApp.quizExercise.remainingTime" class="colon-suffix"></span>
                                    <span
                                        id="remaining-time-value"
                                        [ngClass]="{
                                            'time-critical': remainingTimeSeconds < 60 || remainingTimeSeconds < quizExercise.duration! / 4,
                                            'time-warning': remainingTimeSeconds < 120 || remainingTimeSeconds < quizExercise.duration! / 2
                                        }"
                                    >
                                        {{ remainingTimeText }}
                                    </span>
                                </div>
                            }
                            @if (mode === 'live' && waitingForQuizStart && quizExercise.remainingNumberOfAttempts !== 0) {
                                <div>
                                    <span jhiTranslate="artemisApp.quizExercise.waitingForStart"></span>
                                </div>
                            }
                            @if (mode === 'live' && !waitingForQuizStart) {
                                <div>
                                    @if (!isMobile) {
                                        <span ngbTooltip="{{ submission.submissionDate | artemisDate: 'long' : true }}" placement="right auto">
                                            @if (!submission.submitted) {
                                                <span jhiTranslate="artemisApp.quizExercise.lastSaved" class="colon-suffix"></span>
                                            }
                                            @if (submission.submitted) {
                                                <span jhiTranslate="artemisApp.quizExercise.submitted" class="colon-suffix"></span>
                                            }
                                            @if (justSaved) {
                                                <span jhiTranslate="justNow"></span>
                                            }
                                            @if (!justSaved && lastSavedTimeText !== '') {
                                                <span>{{ lastSavedTimeText }}</span>
                                            }
                                            @if (!justSaved && lastSavedTimeText === '') {
                                                <span jhiTranslate="artemisApp.quizExercise.lastSavedTimeNever"></span>
                                            }
                                        </span>
                                    }
                                    <!-- Only display save and submission hint without time stamps for mobile -->
                                    @if (isMobile) {
                                        <span ngbTooltip="{{ submission.submissionDate | artemisDate: 'long' : true }}" placement="right auto">
                                            @if (!submission.submitted) {
                                                <span jhiTranslate="artemisApp.quizExercise.lastSaved"></span>
                                            }
                                            @if (submission.submitted) {
                                                <span jhiTranslate="artemisApp.quizExercise.submitted"></span>
                                            }
                                        </span>
                                    }
                                </div>
                            }
                            @if (mode === 'live') {
                                <jhi-connection-status class="connection-status-quiz">
                                    <ng-container innerContent>
                                        @if (unsavedChanges) {
                                            <span jhiTranslate="artemisApp.quizExercise.unsavedChanges" class="in-parentheses"></span>
                                        }
                                    </ng-container>
                                </jhi-connection-status>
                            }
                            @if (mode === 'practice') {
                                <div>
                                    <span jhiTranslate="artemisApp.quizExercise.practiceMode"></span>
                                </div>
                            }
                            @if (mode === 'preview') {
                                <div>
                                    <span jhiTranslate="artemisApp.quizExercise.previewMode"></span>
                                </div>
                            }
                        </div>
                    }
                    @if (showingResult && mode !== 'solution') {
                        <div class="text-center">
                            <div id="quiz-score" [ngClass]="{ incorrect: userScore < totalScore }">
                                <span class="colon-suffix" jhiTranslate="artemisApp.quizExercise.totalScore"></span>
                                <span id="quiz-score-result"
                                    >{{ userScore }}/{{ totalScore }} ({{
                                        roundScoreSpecifiedByCourseSettings(result.score, quizExercise.course || quizExercise.exerciseGroup?.exam?.course)
                                    }}
                                    %)</span
                                >
                            </div>
                            @if (mode === 'practice') {
                                <div>
                                    <span jhiTranslate="artemisApp.quizExercise.practiceMode"></span>
                                </div>
                            }
                            @if (mode === 'preview') {
                                <div>
                                    <span jhiTranslate="artemisApp.quizExercise.previewMode"></span>
                                </div>
                            }
                        </div>
                    }
                    @if (mode === 'solution') {
                        <div>
                            <span jhiTranslate="artemisApp.quizExercise.solution"></span>
                        </div>
                    }
                    @if (mode === 'live' && !quizBatch?.started && !quizBatch?.startTime) {
                        <jhi-button
                            id="refresh-quiz"
                            (onClick)="refreshQuiz(true)"
                            [btnSize]="isMobile ? ButtonSize.SMALL : ButtonSize.LARGE"
                            [btnType]="ButtonType.PRIMARY"
                            [title]="'artemisApp.exercise.refresh'"
                            [disabled]="refreshingQuiz"
                            [icon]="faSync"
                        />
                    }
                    <div class="submit-button">
                        @if (!showingResult) {
                            <jhi-button
                                id="submit-quiz"
                                (onClick)="onSubmit()"
                                [btnSize]="isMobile ? ButtonSize.SMALL : ButtonSize.LARGE"
                                [btnType]="ButtonType.SUCCESS"
                                [title]="submission.submitted ? 'artemisApp.quizExercise.submitted' : 'entity.action.submit'"
                                [disabled]="submission.submitted || isSubmitting || waitingForQuizStart || remainingTimeSeconds < 0"
                            />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    @if (!waitingForQuizStart && !showingResult && !submission.submitted && remainingTimeSeconds < 0) {
        <div class="quiz-is-over-overlay alert alert-info">
            @if (submission.submissionDate) {
                <span jhiTranslate="artemisApp.quizExercise.quizIsOverText"></span>
            }
            @if (!submission.submissionDate) {
                <span jhiTranslate="artemisApp.quizExercise.notParticipatedText"></span>
            }
        </div>
    }
    @if (!waitingForQuizStart && submission.submitted && !showingResult && quizExercise?.quizMode === QuizMode.SYNCHRONIZED) {
        <div class="quiz-submitted-overlay alert alert-success">
            <span jhiTranslate="artemisApp.quizExercise.successfullySubmittedText"></span>
        </div>
    }
    @if (waitingForQuizStart) {
        <div class="quiz-waiting-for-start-overlay alert alert-info">
            @if (quizBatch || quizExercise.quizMode === QuizMode.SYNCHRONIZED) {
                <span jhiTranslate="artemisApp.quizExercise.quizInstructions.waitForStart"></span>
                @if (startDate) {
                    <div>
                        <hr />
                        <span jhiTranslate="artemisApp.quizExercise.quizInstructions.timeUntilPlannedStart"></span>
                        <span class="text-bold">{{ timeUntilStart }}</span>
                        <br />
                        <span>({{ quizExercise.releaseDate!.format('LT') }})</span>
                    </div>
                }
            }
            @if (!quizBatch && quizExercise.quizMode === QuizMode.BATCHED && (quizExercise.remainingNumberOfAttempts ?? 1) > 0) {
                <div jhiTranslate="artemisApp.quizExercise.quizInstructions.enterPassword"></div>
                <input id="join-patch-password" [(ngModel)]="password" />
                <jhi-button id="join-batch" [title]="'artemisApp.quizExercise.join'" [btnType]="ButtonType.SUCCESS" (onClick)="joinBatch()" />
            }
            @if (!quizBatch && quizExercise.quizMode === QuizMode.INDIVIDUAL && (quizExercise.remainingNumberOfAttempts ?? 1) > 0) {
                <div jhiTranslate="artemisApp.quizExercise.quizInstructions.startNow"></div>
                <jhi-button id="start-batch" [title]="'artemisApp.quizExercise.startBatch'" [btnType]="ButtonType.SUCCESS" (onClick)="joinBatch()" />
            }
            @if (!quizBatch && quizExercise.quizMode !== QuizMode.SYNCHRONIZED && quizExercise.remainingNumberOfAttempts === 0) {
                @if ((quizExercise.allowedNumberOfAttempts ?? 0) > 1) {
                    <div jhiTranslate="artemisApp.quizExercise.quizInstructions.noMoreAttempts"></div>
                }
                @if (quizExercise.allowedNumberOfAttempts === 1) {
                    <div jhiTranslate="artemisApp.quizExercise.quizInstructions.alreadyAttempted"></div>
                }
            }
        </div>
    }
    <div class="quiz-refresh-overlay" [class.active]="refreshingQuiz">
        <fa-icon size="lg" [icon]="faCircleNotch" [spin]="true" />
    </div>
</div>
