.inline-refinement-container {
    position: absolute;
    z-index: 1070;
}

.refinement-input {
    min-width: 20rem;
    max-width: 32rem;
    border: none;
    background: transparent;
    color: var(--p-text-color);
    outline: none;

    &::placeholder {
        color: var(--p-text-muted-color);
    }

    &:disabled {
        opacity: 0.6;
    }
}

.refinement-submit-btn {
    width: 1.75rem;
    height: 1.75rem;
}

.refinement-close-btn {
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
        color: var(--p-text-color);
    }
}
