<ng-container id="self-learning-feedback">
    @if (!this.selfLearningFeedbackRequest.successful) {
        @if (showIcon) {
            <fa-icon
                class="result-score-icon"
                [class]="getSelfLearningFeedbackTextColorClass(selfLearningFeedbackRequest)"
                [icon]="getSelfLearningIconClass(selfLearningFeedbackRequest)"
                size="lg"
            />
        }
        <span class="text-danger guided-tour result" id="self-learning-feedback-failed">
            <span
                [ngbTooltip]="'artemisApp.result.resultString.automaticAIFeedbackFailedTooltip' | artemisTranslate"
                jhiTranslate="artemisApp.result.resultString.automaticAIFeedbackFailed"
            >
            </span>
        </span>
    }
    @if (!this.timedOut && this.selfLearningFeedbackRequest.responseDateTime === undefined && this.selfLearningFeedbackRequest.successful === undefined) {
        @if (showIcon) {
            <fa-icon
                class="result-score-icon"
                [class]="getSelfLearningFeedbackTextColorClass(selfLearningFeedbackRequest)"
                [icon]="getSelfLearningIconClass(selfLearningFeedbackRequest)"
                size="lg"
            />
        }
        <span class="text-secondary guided-tour result" id="self-learning-feedback-loading">
            <span
                [ngbTooltip]="'artemisApp.result.resultString.automaticAIFeedbackInProgressTooltip' | artemisTranslate"
                jhiTranslate="artemisApp.result.resultString.automaticAIFeedbackInProgress"
            ></span>
        </span>
    }
    @if (this.timedOut) {
        @if (showIcon) {
            <fa-icon
                class="result-score-icon"
                [class]="getSelfLearningFeedbackTextColorClass(selfLearningFeedbackRequest)"
                [icon]="getSelfLearningIconClass(selfLearningFeedbackRequest)"
                size="lg"
            />
        }
        <span class="text-secondary guided-tour result" id="self-learning-feedback-timed-out">
            <span
                [ngbTooltip]="'artemisApp.result.resultString.automaticAIFeedbackTimedOutTooltip' | artemisTranslate"
                jhiTranslate="artemisApp.result.resultString.automaticAIFeedbackTimedOut"
            >
            </span>
        </span>
    }
</ng-container>
