@if (fileUploadExercise()) {
    <jhi-resizeable-container [isExerciseParticipation]="true" [expandProblemStatement]="expandProblemStatement()" [showRightPanel]="showProblemStatement() && examMode()">
        <!--region Left Panel-->
        <div
            left-body
            class="w-100"
            [class.px-2]="!showsAssessedSubmission()"
            [class.pb-2]="!showsAssessedSubmission()"
            [class.file-upload-submission__fill]="showsAssessedSubmission()"
        >
            <div class="row">
                @if ((isActive() || isLate()) && !result() && fileUploadExercise() && submission() && isOwnerOfParticipation()) {
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="fileUploadInput" class="form-control-label" jhiTranslate="artemisApp.fileUploadSubmission.selectFile"></label>
                            <div class="input-group background-file">
                                <div class="custom-file overflow-ellipsis">
                                    <input #fileInput id="fileUploadInput" type="file" class="custom-file-input" (change)="setFileSubmissionForExercise($event)" />
                                </div>
                            </div>
                            <p class="d-inline-block" jhiTranslate="artemisApp.fileUploadExercise.supportedFileExtensions"></p>
                            @if (fileUploadExercise()?.filePattern; as filePattern) {
                                @for (extension of filePattern.split(','); track extension) {
                                    <div class="d-inline-block">
                                        <span class="ms-1 badge bg-info">
                                            {{ extension | uppercase }}
                                        </span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            @if (showsAssessedSubmission()) {
                <!-- Framed like the assessed submission of a text exercise: the file type in the header, the submitted file and
                     the general feedback below. -->
                <jhi-assessment-submission-panel
                    titleKey="artemisApp.assessment.assessmentOfSubmission"
                    [flush]="!displayedInExamSummary()"
                    data-testid="file-upload-assessed-submission"
                >
                    <!-- The container carries the slot, so the tag inside the @if still lands in the panel header -->
                    <ng-container submissionPanelMeta>
                        @if (submittedFileExtension()) {
                            <tumaet-ui-tag severity="info">{{ submittedFileExtension() | uppercase }}</tumaet-ui-tag>
                        }
                    </ng-container>
                    <ng-container [ngTemplateOutlet]="submittedFile" [ngTemplateOutletContext]="{ inPanel: true }" />
                    <jhi-general-feedback [feedbacks]="unreferencedFeedback()" [course]="course()" [separated]="true" [columns]="true" />
                    <!-- In a course the exercise details panel asks for the rating; an exam summary has no such panel. -->
                    @if (isOwnerOfParticipation() && result() && participation() && displayedInExamSummary()) {
                        <jhi-rating
                            class="d-block mt-2 alert alert-info"
                            [result]="result()!"
                            [participation]="participation()!"
                            [isOwnerOfParticipation]="isOwnerOfParticipation()"
                        />
                    }
                </jhi-assessment-submission-panel>
            } @else {
                <ng-container [ngTemplateOutlet]="submittedFile" [ngTemplateOutletContext]="{ inPanel: false }" />
            }
            <ng-template #submittedFile let-inPanel="inPanel">
                @if (submittedFileName() && submission()?.filePathUrl) {
                    <div class="card-text">
                        @if (!displayedInExamSummary()) {
                            <h6>
                                {{ 'artemisApp.fileUploadSubmission.submittedFile' | artemisTranslate: { filename: submittedFileName() } }}
                                @if (submission()?.submissionDate) {
                                    <span> {{ submission()?.submissionDate | artemisTimeAgo }}</span>
                                }
                            </h6>
                        } @else {
                            <h5 jhiTranslate="artemisApp.exam.examSummary.yourSubmission"></h5>
                            <span jhiTranslate="artemisApp.fileUploadSubmission.submittedFile" [translateValues]="{ filename: submittedFileName() }"></span>
                        }
                        <!-- The panel spaces its content already -->
                        @if (!inPanel) {
                            <br />
                        }
                        <div class="mt-2">
                            @if (submission()?.filePathUrl; as filePathUrl) {
                                <button
                                    type="button"
                                    jhi-exercise-action-button
                                    [smallButton]="true"
                                    [buttonIcon]="faDownload"
                                    [buttonLabel]="'artemisApp.fileUploadSubmission.download' | artemisTranslate"
                                    (click)="downloadFile(filePathUrl)"
                                ></button>
                            }
                            <!-- In the panel the file type sits in its header -->
                            @if (submittedFileExtension() && !inPanel) {
                                <span class="ms-2 badge bg-info">
                                    {{ submittedFileExtension() | uppercase }}
                                </span>
                            }
                        </div>
                    </div>
                }
            </ng-template>
        </div>
        <!--endregion-->
        <!--region Right Panel-->
        <fa-icon right-header [icon]="farListAlt" />&nbsp;
        <span id="problem-statement" right-header jhiTranslate="artemisApp.exercise.problemStatement"></span>
        <p right-body class="mb-3 markdown-preview">
            @if (fileUploadExercise()?.problemStatement; as problemStatement) {
                <span [jhiMarkdown]="problemStatement"></span>
            }
        </p>
        <!--endregion-->
    </jhi-resizeable-container>
}
