.exam-navigation {
    background: #e1e1e1;
    margin: -1.25rem -1.25rem 1.25rem -1.25rem;
    z-index: 50;

    .remaining-time {
        background: white;
        text-align: center;
    }

    .critical {
        background: #fedc56;
    }
}

.navigation-item {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 3rem;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.synced {
    color: white;
    background-color: #3e8acc;
}
.notSynced {
    color: #1a1a1a;
    background-color: #e8bf48;
}
.inactive {
    background-color: gray;
}
.active {
    background-color: #276091;
}
.exerciseIndex {
    color: #6c757d;
    align-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}
.timer {
    color: #212529;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 5px;
}
