.exam-navigation {
    background: var(--exam-navigation-bar-background-color);
    margin: -1.25rem -1.25rem 1.25rem -1.25rem;
    z-index: 50;
}

.navigation-item {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    width: 3rem;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.synced {
    color: var(--exam-navigation-bar-synced-color);
    background-color: var(--exam-navigation-bar-synced-background-color);
}
.notSynced {
    color: var(--exam-navigation-bar-synced-color);
    background-color: var(--exam-navigation-bar-synced-background-color);
}
.inactive {
    background-color: var(--exam-navigation-bar-inactive-background);
}
.active {
    background-color: var(--exam-navigation-bar-active-background);
}
.exerciseIndex {
    color: var(--exam-navigation-bar-exercise-index-color);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.overview {
    margin-right: 20px;
}
