<ace-editor #editor
     [(text)]="editorText"
     [mode]="editorMode"
     [readOnly]="editorReadOnly"
     [autoUpdateContent]="editorAutoUpdate"
     [durationBeforeCallback]="editorDurationBeforeCallback"
     (textChanged)="onFileTextChanged($event)"
     class="panel panel-default"
     style="display: block; width:100%; min-height: 500px; overflow: auto;"
     [hidden]="!fileName">
</ace-editor>

<p class="text-center lead text-muted" [hidden]="fileName" style="padding-top: 50px">
    Select a file to get started!
</p>
