.course-users-selector {
    &.ng-invalid {
        border: none;
    }
}

/* ensure the user selection dropdown lives on top of the create conversation dialog */
body ngb-typeahead-window.dropdown-menu {
    $dialog-content-z-index: 1002;
    z-index: $dialog-content-z-index + 1 !important;
    max-height: 25rem;
    overflow-y: auto;
}
