$numbering-size: 1.5rem;
$numbering-border: 1px;
$numbering-margin: calc($numbering-size / 2 - $numbering-border); // To make number left borders align with page title.

.bonus-form-start {
    counter-reset: bonus-step-counter; // Set a custom counter with initial value 0.
    margin-right: calc($numbering-size + $numbering-margin);
}

.bonus-form-step {
    border-radius: $numbering-size;
    width: $numbering-size;
    height: $numbering-size;

    border: $numbering-border solid;
    text-align: center;
    margin-left: $numbering-margin;

    &::before {
        counter-increment: bonus-step-counter;
        content: counter(bonus-step-counter);
    }
}

.bonus-calculated {
    margin-left: calc($numbering-size + $numbering-margin);
}

.calculation-sign {
    font-size: 3rem;
}

.dynamic-example {
    padding-left: calc(0.5rem - 2px); // Padding of td above - border width of input
    width: 50%;
}
