<ng-container>
    <button
        jhi-exercise-action-button
        [buttonIcon]="faCode"
        class="code-button"
        [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
        [buttonLabel]="'artemisApp.exerciseActions.code' | artemisTranslate"
        [buttonLoading]="loading()"
        [smallButton]="smallButtons()"
        [hideLabelMobile]="hideLabelMobile()"
        [ngbPopover]="popContent"
        [autoClose]="'outside'"
        (click)="onClick()"
        placement="right auto"
        container="body"
    ></button>
    <ng-template #popContent>
        @if (selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.SSH && !doesUserHaveSSHkeys()) {
            <div class="alert alert-warning" [innerHTML]="sshKeyMissingTip()"></div>
        }
        @if (selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.SSH && areAnySshKeysExpired()) {
            <div class="alert alert-warning" [innerHTML]="sshKeysExpiredTip()"></div>
        }
        @if (selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.Token && isInCourseManagement && !userTokenPresent()) {
            <div class="alert alert-warning" [innerHTML]="tokenMissingTip()"></div>
        }
        @if (selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.Token && isInCourseManagement && userTokenPresent() && !userTokenStillValid()) {
            <div class="alert alert-warning" [innerHTML]="tokenExpiredTip()"></div>
        }
        @if (participations().length > 1) {
            <div class="form-check form-switch">
                <input mdbCheckbox id="switch-practice" class="form-check-input" type="checkbox" [checked]="effectivePracticeMode()" (click)="switchPracticeMode()" />
                <label class="form-check-label" for="switch-practice" jhiTranslate="artemisApp.exerciseActions.practiceMode.title"></label>
            </div>
        }
        <h5 [jhiTranslate]="clonedHeadline()"></h5>

        <div class="d-flex" style="margin: 0; max-width: 100%">
            <div aria-label="Button group with nested dropdown" class="btn-group" ngbDropdown role="group" style="margin-bottom: 10px">
                <button class="btn btn-primary btn-sm dropdown-toggle https-or-ssh-button" ngbDropdownToggle type="button">
                    {{
                        selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.SSH
                            ? 'SSH'
                            : selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.Token
                              ? 'Token'
                              : 'HTTPS'
                    }}
                </button>
                <div class="dropdown-menu" ngbDropdownMenu style="min-width: 100%">
                    @for (mechanism of authenticationMechanisms(); track mechanism) {
                        @if (mechanism === RepositoryAuthenticationMethod.Password) {
                            <a
                                (click)="useHttpsPassword()"
                                class="dropdown-item {{ selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.Password ? 'active' : '' }}"
                                id="useHTTPSButton"
                                >HTTPS</a
                            >
                        }
                        @if (mechanism === RepositoryAuthenticationMethod.Token) {
                            <a
                                (click)="useHttpsToken()"
                                class="dropdown-item {{ selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.Token ? 'active' : '' }}"
                                id="useHTTPSWithTokenButton"
                                >Token</a
                            >
                        }
                        @if (mechanism === RepositoryAuthenticationMethod.SSH) {
                            <a
                                (click)="useSshUrl()"
                                class="dropdown-item {{ selectedAuthenticationMechanism() === RepositoryAuthenticationMethod.SSH ? 'active' : '' }}"
                                id="useSSHButton"
                                >SSH</a
                            >
                        }
                    }
                </div>
            </div>
            <pre
                class="clone-url url-box-remove-line-left url-box-remove-line-right"
                [cdkCopyToClipboard]="getHttpOrSshRepositoryUri(false)"
                (cdkCopyToClipboardCopied)="copyEnabled() ? onCopyFinished($event) : null"
                >{{ getHttpOrSshRepositoryUri() }} </pre
            >
            <div class="d-flex align-items-center">
                <a
                    [style.flex]="1"
                    class="btn btn-secondary btn-sm me-2 open-repository-button"
                    [routerLink]="routerLinkForRepositoryView()"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <fa-icon [icon]="faExternalLink" />
                </a>
            </div>
        </div>
        <button
            [cdkCopyToClipboard]="getHttpOrSshRepositoryUri(false)"
            (cdkCopyToClipboardCopied)="onCopyFinished($event)"
            [disabled]="!copyEnabled()"
            [class.btn-success]="wasCopied()"
            class="btn btn-primary btn-sm me-2"
            data-testid="copyRepoUrlButton"
            type="button"
            style="min-width: 100px"
            jhiTranslate="{{ wasCopied() ? 'artemisApp.exerciseActions.copiedUrl' : 'artemisApp.exerciseActions.copyUrl' }}"
        ></button>
        @if (theiaEnabled()) {
            <a class="btn btn-primary btn-sm me-2" (click)="startOnlineIDE()" target="_blank" rel="noopener noreferrer">
                <span class="d-none d-md-inline" jhiTranslate="artemisApp.exerciseActions.openOnlineIDE" data-testid="openOnlineIDEButton"></span>
            </a>
        }
        <a
            class="btn btn-primary btn-sm"
            target="hidden-iframe"
            [href]="buildIdeUrl() | safeUrl"
            jhiTranslate="artemisApp.exerciseActions.ideButton.openIn"
            [translateValues]="{ ideName: ideName() }"
        >
        </a>
        <jhi-help-icon placement="right auto" text="artemisApp.exerciseActions.ideButton.helpIcon" />
        <a class="btn btn-primary btn-sm" target="hidden-iframe" [href]="buildSourceTreeUrl() | safeUrl" jhiTranslate="artemisApp.exerciseActions.cloneSourceTree.button"> </a>
        <!-- This hidden iframe is used to avoid "Do you want to leave the site" messages in the exam mode -->
        <iframe name="hidden-iframe" style="visibility: hidden; position: absolute"></iframe>
        <jhi-help-icon placement="right auto" text="artemisApp.exerciseActions.cloneSourceTree.helpIcon" />
    </ng-template>
</ng-container>
