@if (!chatOpen) {
    <div
        #chatBubble
        class="message-bubble"
        (click)="handleButtonClick()"
        [ngClass]="{ 'content-overflow': this.isOverflowing }"
        [@expandAnimation]="newIrisMessage ? 'visible' : 'hidden'"
    >
        @if (newIrisMessage) {
            <span [innerHTML]="newIrisMessage | htmlForMarkdown"></span>
            @if (this.isOverflowing) {
                <div class="read-more">
                    <span jhiTranslate="artemisApp.iris.chatBubble.seeFull"></span>
                    <fa-icon [icon]="faAngleDoubleDown" class="read-more-icon" />
                </div>
            }
        }
    </div>
    <div class="chatbot-button">
        @if (isChatGptWrapper) {
            <!-- TODO TW: This "feature" is only temporary for a paper. -->
            <img src="public/images/chatgpt-temp/ChatGPT_logo.svg" alt="Iris Logo" style="height: 70px" class="iris-logo" (click)="handleButtonClick()" />
        } @else {
            <jhi-iris-logo [size]="IrisLogoSize.MEDIUM" [look]="IrisLogoLookDirection.LEFT" (click)="handleButtonClick()" />
        }
        @if (hasNewMessages) {
            <fa-icon [icon]="faCircle" size="xl" class="unread-indicator" />
        }
    </div>
}
