@import '../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../../node_modules/bootstrap/scss/mixins';

.selected-learning-object {
    background: var(--overview-light-background-color);
    color: $blue-300;
}

.empty-learning-objects-label {
    color: var(--bs-secondary-color);
}

.next-learning-object-container {
    color: var(--bs-white);
    padding: 2px 8px;
    border-radius: var(--bs-border-radius-lg);
    background-color: var(--bs-yellow);
}
