<form name="editForm" role="form" novalidate (ngSubmit)="create()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">
            <span jhiTranslate="artemisApp.programmingExercise.auxiliaryRepository.addAuxiliaryRepository">Add Auxiliary Repository</span>
            ({{ exercise.title }})
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="form-group">
            <label class="control-label" jhiTranslate="artemisApp.programmingExercise.auxiliaryRepository.repositoryName">Repository Name</label>
            <jhi-help-icon placement="right" text="artemisApp.programmingExercise.shortNameTooltip"></jhi-help-icon>
            <input
                type="text"
                required
                class="form-control"
                name="repositoryName"
                id="repositoryName"
                [(ngModel)]="auxiliaryRepository.name"
                [pattern]="repositoryNamePattern"
                #repoName="ngModel"
            />
            <span
                class="text-danger"
                *ngIf="repoName?.invalid && repoName?.errors?.required"
                jhiTranslate="artemisApp.programmingExercise.auxiliaryRepository.repositoryNameRequired"
            >
                Repository Name is required.
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" jhiTranslate="artemisApp.programmingExercise.auxiliaryRepository.checkoutDirectory">Checkout Directory</label>
            <jhi-help-icon placement="right" text="artemisApp.programmingExercise.shortNameTooltip"></jhi-help-icon>
            <input type="text" class="form-control" name="checkoutDirectory" id="checkoutDirectory" [(ngModel)]="auxiliaryRepository.checkoutDirectory" />
        </div>
        <div class="form-group row align-items-end">
            <div class="col-md-6">
                <label class="control-label"> Description </label>
                <jhi-help-icon placement="top" text="artemisApp.programmingExercise.shortNameTooltip"></jhi-help-icon>
                <textarea type="text" class="form-control" id="description" name="description" [(ngModel)]="auxiliaryRepository.description"> </textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.invalid || isCreating" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.generate">Generate</span>
        </button>
    </div>
</form>
