.build-plan-editor {
    flex: 1 1 auto;
    display: flex;
    &__content {
        padding: 0;
        display: flex;
        flex: 1 1 auto;
        &__editor {
            flex: 1 1 auto;
            height: 500px;
        }
    }
}
