.form__editable-instructions ::ng-deep .editable-instruction-container__editor {
    height: 500px;
}

.label-preview {
    font-size: 9pt;
}

.update-programming-exercise-footer {
    padding: 1rem;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: var(--update-programming-exercise-footer-background);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .container {
        height: 100%;

        .update-programming-exercise-footer-content {
            flex-wrap: wrap;
        }
    }
}

.update-programming-exercise {
    padding-bottom: 100px;
}

.preview-box {
    background: var(--update-programming-exercise-plan-preview-box-background);
}

.guided-mode-button {
    float: right;
}
