<div>
    <h4 class="d-flex mb-3 flex-wrap justify-content-end">
        <span class="mb-1 me-auto">
            <span *ngIf="course && !showHeading"> {{ course.title }} - </span>
            <span *ngIf="programmingExercises && showHeading && !filter.isEmpty() && programmingExercises.length">
                {{ getAmountOfExercisesString(filteredProgrammingExercises) }} /
            </span>
            <span *ngIf="programmingExercises && showHeading">{{ getAmountOfExercisesString(programmingExercises) }} </span>
            <span jhiTranslate="artemisApp.programmingExercise.home.title">Programming Exercises</span>
        </span>

        <ng-container *jhiExtensionPoint="overrideGenerateAndImportButton">
            <a
                *ngIf="course && course.isAtLeastEditor"
                id="jh-create-entity"
                class="btn btn-primary jh-create-entity create-programming-exercise text-truncate mb-1 me-1"
                [jhiFeatureToggleLink]="FeatureToggle.ProgrammingExercises"
                [routerLink]="['/course-management', courseId, 'programming-exercises', 'new']"
                queryParamsHandling="merge"
            >
                <fa-icon [icon]="faPlus"></fa-icon>
                <span class="hidden-sm-down" jhiTranslate="artemisApp.programmingExercise.home.generateLabel">Generate new Programming Exercise</span>
            </a>
            <button
                *ngIf="course && course.isAtLeastEditor"
                id="jh-import-entity"
                class="btn btn-primary jh-create-entity create-programming-exercise text-truncate mb-1 me-1"
                [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                (click)="openImportModal()"
            >
                <fa-icon [icon]="faPlus"></fa-icon>
                <span class="hidden-sm-down" jhiTranslate="artemisApp.programmingExercise.home.importLabel"> Import new programming exercise </span>
            </button>
        </ng-container>
    </h4>
    <div class="table-responsive" *ngIf="programmingExercises && filteredProgrammingExercises.length > 0">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" (sortChange)="sortRows()">
                    <th *ngIf="course.isAtLeastEditor" class="d-md-table-cell">
                        <input class="form-check-input" type="checkbox" (change)="toggleAllProgrammingExercises()" />
                    </th>
                    <th class="d-md-table-cell" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="title"><span jhiTranslate="artemisApp.exercise.title">Title</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th class="d-md-table-cell" jhiSortBy="shortName">
                        <span jhiTranslate="artemisApp.exercise.shortName">Short Name</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th jhiSortBy="releaseDate"><span jhiTranslate="artemisApp.exercise.releaseDate">Release Date</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="dueDate"><span jhiTranslate="artemisApp.exercise.dueDate">Due Date</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th class="d-md-table-cell" jhiSortBy="maxPoints"><span jhiTranslate="artemisApp.exercise.points">Points</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="bonusPoints"><span jhiTranslate="artemisApp.exercise.bonusPoints">Bonus Points</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="includedInOverallScore">
                        <span jhiTranslate="artemisApp.exercise.includedInOverallScore">Included in Overall Score</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th *jhiExtensionPoint="overrideRepositoryAndBuildPlan"><span jhiTranslate="artemisApp.programmingExercise.repositories">Repositories</span></th>
                    <th *jhiExtensionPoint="overrideRepositoryAndBuildPlan"><span jhiTranslate="artemisApp.programmingExercise.buildplans">Build Plans</span>&nbsp;</th>
                    <th class="d-md-table-cell" jhiSortBy="publishBuildPlanUrl">
                        <span jhiTranslate="artemisApp.programmingExercise.publishBuildPlanUrl">Publish Build Plan Url</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th class="d-md-table-cell">
                        <span jhiTranslate="artemisApp.programmingExercise.participationMode">Participation Mode</span>
                    </th>
                    <th class="d-md-table-cell" jhiSortBy="presentationScoreEnabled" *ngIf="course.presentationScore !== 0">
                        <span jhiTranslate="artemisApp.exercise.presentationScoreEnabled.title">Presentation Score enabled</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let programmingExercise of filteredProgrammingExercises; trackBy: trackId" id="exercise-card-{{ programmingExercise.id }}">
                    <td *ngIf="programmingExercise.isAtLeastEditor" class="d-md-table-cell">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            (change)="toggleProgrammingExercise(programmingExercise)"
                            [ngModel]="isExerciseSelected(programmingExercise)"
                        />
                    </td>
                    <td class="d-md-table-cell">
                        <a
                            *ngIf="programmingExercise.isAtLeastEditor; else showId"
                            [routerLink]="['/course-management', courseId, 'programming-exercises', programmingExercise.id]"
                        >
                            {{ programmingExercise.id }}
                        </a>
                        <ng-template #showId>{{ programmingExercise.id }}</ng-template>
                    </td>
                    <td>
                        <a
                            *ngIf="programmingExercise.isAtLeastEditor; else showTitle"
                            [routerLink]="['/course-management', courseId, 'programming-exercises', programmingExercise.id]"
                        >
                            {{ programmingExercise.title }}
                        </a>
                        <ng-template #showTitle>{{ programmingExercise.title }}</ng-template>
                        <jhi-programming-exercise-grading-dirty-warning
                            class="ms-2"
                            [programmingExerciseId]="programmingExercise.id!"
                            [hasUpdatedGradingConfigInitialValue]="!!programmingExercise.testCasesChanged"
                        ></jhi-programming-exercise-grading-dirty-warning>
                    </td>
                    <td class="d-md-table-cell">{{ programmingExercise.shortName }}</td>
                    <td>{{ programmingExercise.releaseDate | artemisDate }}</td>
                    <td>{{ programmingExercise.dueDate | artemisDate }}</td>
                    <td class="d-md-table-cell">{{ programmingExercise.maxPoints }}</td>
                    <td>{{ programmingExercise.bonusPoints }}</td>
                    <td>{{ exerciseService.isIncludedInScore(programmingExercise) }}</td>
                    <td *jhiExtensionPoint="overrideRepositoryAndBuildPlan">
                        <div class="d-flex justify-content-between">
                            <span *ngIf="programmingExercise.templateParticipation && programmingExercise.templateParticipation.repositoryUrl">
                                <!--Checks if the programming exercise has a setup with VCS and CI, if this not the case
                                 the links are disabled--->
                                <a href="{{ programmingExercise.templateParticipation!.repositoryUrl! }}" target="_blank">Template</a></span
                            >
                            <jhi-programming-exercise-instructor-status
                                *ngIf="programmingExercise.templateParticipation?.results?.length"
                                [participationType]="templateParticipationType"
                                [participation]="programmingExercise.templateParticipation!"
                                [exercise]="programmingExercise"
                            ></jhi-programming-exercise-instructor-status>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span *ngIf="programmingExercise.solutionParticipation?.repositoryUrl"
                                ><a href="{{ programmingExercise.solutionParticipation!.repositoryUrl! }}" target="_blank">Solution</a></span
                            >
                            <jhi-programming-exercise-instructor-status
                                *ngIf="programmingExercise.solutionParticipation?.results?.length"
                                [participationType]="solutionParticipationType"
                                [participation]="programmingExercise.solutionParticipation!"
                                [exercise]="programmingExercise"
                            ></jhi-programming-exercise-instructor-status>
                        </div>
                        <div>
                            <span *ngIf="programmingExercise.testRepositoryUrl"><a href="{{ programmingExercise.testRepositoryUrl }}" target="_blank">Test</a></span>
                        </div>
                    </td>
                    <td *jhiExtensionPoint="overrideRepositoryAndBuildPlan">
                        <!-- TODO get the correct URL from the server instead of hardcoding Bamboo here -->
                        <span *ngIf="programmingExercise.templateParticipation?.buildPlanId">
                            <a target="_blank" rel="noreferrer" href="{{ programmingExercise.templateParticipation!.buildPlanUrl }}">Template</a>
                        </span>
                        <span *ngIf="programmingExercise.solutionParticipation && programmingExercise.solutionParticipation.buildPlanId">
                            <a target="_blank" rel="noreferrer" href="{{ programmingExercise.solutionParticipation!.buildPlanUrl }}">Solution</a>
                        </span>
                    </td>

                    <td class="d-md-table-cell">{{ programmingExercise.publishBuildPlanUrl }}</td>
                    <td class="d-md-table-cell">
                        <div class="d-flex justify-content-between">
                            {{ 'artemisApp.programmingExercise.offlineIde' | artemisTranslate }}: {{ programmingExercise.allowOfflineIde }}
                        </div>
                        <div class="d-flex justify-content-between">
                            {{ 'artemisApp.programmingExercise.onlineEditor' | artemisTranslate }}: {{ programmingExercise.allowOnlineEditor }}
                        </div>
                    </td>
                    <td class="d-md-table-cell" *ngIf="course.presentationScore !== 0">{{ programmingExercise.presentationScoreEnabled }}</td>
                    <td *jhiExtensionPoint="overrideButtons; context: { exercise: programmingExercise }" class="text-end">
                        <div class="btn-group flex-btn-group-container">
                            <div class="btn-group-vertical me-1 mb-1">
                                <a
                                    *ngIf="programmingExercise.isAtLeastEditor"
                                    [routerLink]="['/course-management', courseId, 'programming-exercises', programmingExercise.id, 'submissions']"
                                    class="btn btn-success btn-sm me-1 mb-1"
                                >
                                    <fa-icon [icon]="faBook"></fa-icon>
                                    <span class="d-md-inline" jhiTranslate="artemisApp.exercise.submissions">Submissions</span>
                                </a>
                                <a
                                    *ngIf="programmingExercise.isAtLeastTutor"
                                    [routerLink]="['/course-management', courseId, 'programming-exercises', programmingExercise.id, 'scores']"
                                    class="btn btn-info btn-sm me-1 mb-1"
                                    style="display: flex; justify-content: center; align-items: center"
                                >
                                    <div>
                                        <fa-icon [icon]="faTable"></fa-icon>
                                        <span class="d-md-inline" jhiTranslate="entity.action.scores">Scores</span>
                                    </div>
                                </a>
                                <a
                                    *ngIf="programmingExercise.teamMode && programmingExercise.isAtLeastTutor"
                                    [routerLink]="['/course-management', courseId, 'exercises', programmingExercise.id, 'teams']"
                                    class="btn btn-primary btn-sm me-1 mb-1"
                                >
                                    <fa-icon [icon]="faUsers"></fa-icon>
                                    <span class="d-md-inline" jhiTranslate="artemisApp.exercise.teams">Teams</span>
                                </a>
                            </div>
                            <div class="btn-group-vertical me-1 mb-1">
                                <a
                                    *ngIf="programmingExercise.isAtLeastTutor"
                                    [routerLink]="['/course-management', courseId, 'programming-exercises', programmingExercise.id, 'participations']"
                                    class="btn btn-primary btn-sm me-1 mb-1"
                                    style="display: flex; justify-content: center; align-items: center"
                                >
                                    <div>
                                        <fa-icon [icon]="faListAlt"></fa-icon>
                                        <span class="d-md-inline" jhiTranslate="artemisApp.exercise.participations">Participations</span>
                                    </div>
                                </a>
                                <a
                                    [jhiFeatureToggleLink]="FeatureToggle.ProgrammingExercises"
                                    *ngIf="programmingExercise.isAtLeastEditor"
                                    [routerLink]="['/course-management', courseId, 'programming-exercises', programmingExercise.id, 'grading', 'test-cases']"
                                    class="btn btn-info btn-sm me-1 mb-1"
                                    style="display: flex; justify-content: center; align-items: center"
                                >
                                    <div>
                                        <fa-icon [icon]="faFileSignature"></fa-icon>
                                        <span class="d-md-inline" jhiTranslate="artemisApp.programmingExercise.configureGrading.shortTitle">Grading</span>
                                    </div>
                                </a>
                            </div>
                            <div class="btn-group-vertical me-1 mb-1">
                                <a
                                    [jhiFeatureToggleLink]="FeatureToggle.ProgrammingExercises"
                                    [attr.disabled]="false"
                                    *ngIf="programmingExercise.isAtLeastEditor && programmingExercise.templateParticipation"
                                    [routerLink]="[
                                        '/course-management',
                                        courseId,
                                        'programming-exercises',
                                        programmingExercise.id,
                                        'code-editor',
                                        programmingExercise.templateParticipation.id
                                    ]"
                                    class="btn btn-warning btn-sm me-1 mb-1"
                                    style="display: flex; justify-content: center; align-items: center"
                                >
                                    <div>
                                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.editInEditor">Edit in Editor</span>
                                    </div>
                                </a>
                                <a
                                    *ngIf="programmingExercise.isAtLeastEditor"
                                    [routerLink]="['/course-management', courseId, 'programming-exercises', programmingExercise.id, 'edit']"
                                    class="btn btn-warning btn-sm me-1 mb-1"
                                    style="display: flex; justify-content: center; align-items: center"
                                >
                                    <div>
                                        <fa-icon [icon]="faWrench"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </div>
                                </a>
                            </div>
                            <div class="btn-group-vertical me-1 mb-1">
                                <button
                                    *ngIf="programmingExercise.isAtLeastInstructor"
                                    [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                                    jhiDeleteButton
                                    [actionType]="ActionType.Reset"
                                    [entityTitle]="programmingExercise.title!"
                                    deleteQuestion="artemisApp.programmingExercise.reset.question"
                                    (delete)="resetProgrammingExercise(programmingExercise.id!)"
                                    [dialogError]="dialogError$"
                                    deleteConfirmationText="artemisApp.exercise.delete.typeNameToConfirm"
                                    class="mb-1"
                                >
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </button>
                                <button
                                    *ngIf="programmingExercise.isAtLeastInstructor"
                                    [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                                    jhiDeleteButton
                                    [entityTitle]="programmingExercise.title!"
                                    deleteQuestion="artemisApp.programmingExercise.delete.question"
                                    (delete)="deleteProgrammingExercise(programmingExercise.id!, $event)"
                                    [dialogError]="dialogError$"
                                    deleteConfirmationText="artemisApp.exercise.delete.typeNameToConfirm"
                                    [additionalChecks]="{
                                        deleteStudentReposBuildPlans: 'artemisApp.programmingExercise.delete.studentReposBuildPlans',
                                        deleteBaseReposBuildPlans: 'artemisApp.programmingExercise.delete.baseReposBuildPlans'
                                    }"
                                    class="mb-1"
                                    id="delete-exercise"
                                >
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="selectedProgrammingExercises.length > 0">
            <button type="submit" (click)="openEditSelectedModal()" class="btn btn-warning btn-sm me-1">
                <fa-icon [icon]="faWrench"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.editSelected">Edit selected</span>
            </button>
            <button type="submit" *ngIf="course.isAtLeastInstructor" (click)="openRepoExportModal()" class="btn btn-info btn-sm me-1">
                <fa-icon [icon]="faDownload"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="artemisApp.instructorDashboard.exportSubmissions.title">Download Repos</span>
            </button>
            <jhi-exercise-scores-export-button *ngIf="course.isAtLeastInstructor" [exercises]="selectedProgrammingExercises"></jhi-exercise-scores-export-button>
            <button *ngIf="course.isAtLeastInstructor" (click)="checkConsistencies()" class="btn btn-outline-primary btn-sm me-1">
                <fa-icon [icon]="faCheckDouble"></fa-icon>
                <span jhiTranslate="artemisApp.consistencyCheck.button">Check consistency</span>
            </button>
        </div>
    </div>
</div>
