<div class="row justify-content-center programming-exercise-detail-wrapper-class">
    <div class="col-md-8">
        <div *ngIf="programmingExercise">
            <div class="d-flex align-items-center">
                <h2><span jhiTranslate="artemisApp.programmingExercise.detail.title">Programming Exercise</span> {{ programmingExercise.id }}</h2>
                <jhi-documentation-button [type]="documentationType"></jhi-documentation-button>
            </div>
            <hr />
            <div class="button-header">
                <div class="d-flex flex-wrap gap-2">
                    <a *ngIf="programmingExercise.isAtLeastEditor" [routerLink]="baseResource + 'edit'" class="btn btn-warning btn-sm">
                        <fa-icon [icon]="faWrench"></fa-icon>&nbsp;
                        <span jhiTranslate="entity.action.edit"> Edit</span>
                    </a>
                    <!-- Edit in editor button -->
                    <a
                        [jhiFeatureToggleLink]="FeatureToggle.ProgrammingExercises"
                        *ngIf="programmingExercise.isAtLeastEditor && programmingExercise.templateParticipation"
                        jhiOrionFilter
                        [showInOrionWindow]="false"
                        [routerLink]="baseResource + 'code-editor/' + programmingExercise.templateParticipation.id"
                        class="btn btn-warning btn-sm"
                    >
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                        <span jhiTranslate="entity.action.editInEditor">Edit in Editor</span>
                    </a>

                    <!-- Edit build plan button -->
                    <a
                        [jhiFeatureToggleLink]="FeatureToggle.ProgrammingExercises"
                        *ngIf="programmingExercise.isAtLeastEditor && isBuildPlanEditable"
                        jhiOrionFilter
                        [showInOrionWindow]="false"
                        [routerLink]="baseResource + 'edit-build-plan'"
                        class="btn btn-warning btn-sm"
                    >
                        <fa-icon [icon]="faPencilAlt"></fa-icon>
                        <span jhiTranslate="entity.action.editBuildPlan">Edit build plan</span>
                    </a>

                    <a
                        *ngIf="programmingExercise.isAtLeastEditor && programmingExercise.course && !isExamExercise"
                        [routerLink]="['/course-management', programmingExercise.course.id, 'programming-exercises', programmingExercise.id, 'exercise-hints']"
                        class="btn btn-warning btn-sm position-relative"
                    >
                        <fa-icon [icon]="faLightbulb"></fa-icon>
                        <span jhiTranslate="entity.action.hints">Hints</span>
                    </a>

                    <a *ngIf="programmingExercise.isAtLeastEditor" [routerLink]="baseResource + 'grading/test-cases'" class="btn btn-warning btn-sm">
                        <fa-icon [icon]="faFileSignature"></fa-icon>
                        <span jhiTranslate="artemisApp.programmingExercise.configureGrading.shortTitle">Grading</span>
                    </a>
                    <a
                        *ngIf="irisEnabled && programmingExercise.isAtLeastInstructor && programmingExercise.course && !isExamExercise"
                        [routerLink]="['/course-management', programmingExercise.course.id, 'programming-exercises', programmingExercise.id, 'iris-settings']"
                        ngbTooltip="{{ 'artemisApp.iris.settings.button.programmingExercise.tooltip' | artemisTranslate }}"
                        class="btn btn-warning btn-sm me-1"
                        style="margin-bottom: 10px"
                    >
                        <fa-icon [icon]="faRobot"></fa-icon>
                        <span jhiTranslate="artemisApp.iris.settings.button.programmingExercise.title">Iris</span>
                    </a>
                    <a *ngIf="programmingExercise.isAtLeastTutor" [routerLink]="baseResource + 'participations'" class="btn btn-primary btn-sm">
                        <fa-icon [icon]="faListAlt"></fa-icon>
                        <span jhiTranslate="artemisApp.exercise.participations">Participations</span>
                    </a>
                    <!-- Teams -->
                    <a *ngIf="programmingExercise.teamMode && programmingExercise.isAtLeastTutor" [routerLink]="teamBaseResource + 'teams'" class="btn btn-primary btn-sm">
                        <fa-icon [icon]="faUsers"></fa-icon>
                        <span jhiTranslate="artemisApp.exercise.teams">Teams</span>
                    </a>
                    <a
                        *ngIf="programmingExercise.assessmentType === AssessmentType.SEMI_AUTOMATIC || programmingExercise.allowComplaintsForAutomaticAssessments"
                        [routerLink]="shortBaseResource + 'assessment-dashboard/' + programmingExercise.id"
                        class="btn btn-info btn-sm"
                    >
                        <fa-icon [icon]="faUserCheck"></fa-icon>
                        <span class="d-none d-md-inline">{{ 'artemisApp.exercise.exerciseAssessmentDashboard' | artemisTranslate }}</span>
                    </a>
                    <a
                        *ngIf="programmingExercise.isAtLeastEditor && plagiarismCheckSupported"
                        [jhiFeatureToggleLink]="FeatureToggle.ProgrammingExercises"
                        class="btn btn-outline-primary btn-sm"
                        routerLink="plagiarism"
                    >
                        <span jhiTranslate="artemisApp.programmingExercise.checkPlagiarism">Check Plagiarism</span>
                    </a>
                    <a *ngIf="programmingExercise.isAtLeastTutor" [routerLink]="baseResource + 'scores'" class="btn btn-info btn-sm">
                        <fa-icon [icon]="faTable"></fa-icon>
                        <span jhiTranslate="entity.action.scores">Scores</span>
                    </a>
                    <a
                        *ngIf="programmingExercise.isAtLeastTutor && programmingExercise.course && !isExamExercise"
                        [routerLink]="['/course-management', programmingExercise.course!.id!, 'programming-exercises', programmingExercise.id!, 'exercise-statistics']"
                        class="btn btn-info btn-sm"
                    >
                        <fa-icon [icon]="faChartBar"></fa-icon>&nbsp;<span jhiTranslate="statistics.statistics-title">Statistics</span>
                    </a>
                </div>
                <hr />
                <div>
                    <jhi-programming-exercise-instructor-exercise-download
                        *ngIf="programmingExercise.isAtLeastInstructor"
                        [exerciseId]="programmingExercise.id!"
                        class="me-1"
                    ></jhi-programming-exercise-instructor-exercise-download>
                    <span class="me-1" *ngIf="programmingExercise.isAtLeastEditor">
                        <button
                            [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                            type="button"
                            (click)="combineTemplateCommits()"
                            class="btn btn-secondary btn-sm"
                            ngbTooltip="{{ 'artemisApp.programmingExercise.combineTemplateCommitsWarning' | artemisTranslate }}"
                        >
                            <span jhiTranslate="artemisApp.programmingExercise.combineTemplateCommits">Combine Template Commits</span>
                        </button>
                    </span>
                    <span *ngIf="programmingExercise.programmingLanguage === ProgrammingLanguage.JAVA && programmingExercise.isAtLeastEditor" class="me-1">
                        <button
                            [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                            type="button"
                            (click)="generateStructureOracle()"
                            class="btn btn-secondary btn-sm"
                            ngbTooltip="{{ 'artemisApp.programmingExercise.structureTestOracleWarning' | artemisTranslate }}"
                        >
                            <span jhiTranslate="artemisApp.programmingExercise.structureTestOracle">Update Structure Test Oracle</span>
                        </button>
                    </span>
                    <span *ngIf="programmingExercise.isAtLeastEditor">
                        <span
                            class="me-1"
                            *ngIf="
                                (programmingExercise.programmingLanguage === ProgrammingLanguage.JAVA || programmingExercise.programmingLanguage === ProgrammingLanguage.KOTLIN) &&
                                programmingExercise.testwiseCoverageEnabled
                            "
                        >
                            <button
                                [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                                type="button"
                                (click)="getAndShowTestwiseCoverage()"
                                class="btn btn-secondary btn-sm"
                                ngbTooltip="{{ 'artemisApp.programmingExercise.testwiseCoverageReport.tooltip' | artemisTranslate }}"
                            >
                                <span jhiTranslate="artemisApp.programmingExercise.testwiseCoverageReport.button">Show Testwise Coverage</span>
                            </button>
                        </span>
                    </span>
                    <button
                        id="unlockAllRepositoriesButton"
                        class="btn btn-danger btn-sm me-1"
                        (click)="handleUnlockAllRepositories()"
                        *ngIf="programmingExercise.isAtLeastInstructor && !localVCEnabled"
                        [disabled]="lockingOrUnlockingRepositories"
                    >
                        <span *ngIf="lockingOrUnlockingRepositories" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <fa-icon [icon]="faExclamationTriangle" class="text-warning"></fa-icon>
                        <span jhiTranslate="artemisApp.programmingExercise.unlockAllRepositories">Unlock all repositories</span>
                    </button>
                    <button
                        id="lockAllRepositoriesButton"
                        class="btn btn-danger btn-sm me-1"
                        (click)="handleLockAllRepositories()"
                        *ngIf="programmingExercise.isAtLeastInstructor && !localVCEnabled"
                        [disabled]="lockingOrUnlockingRepositories"
                    >
                        <span *ngIf="lockingOrUnlockingRepositories" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <fa-icon [icon]="faExclamationTriangle" class="text-warning"></fa-icon>
                        <span jhiTranslate="artemisApp.programmingExercise.lockAllRepositories">Lock all repositories</span>
                    </button>
                    <button
                        *ngIf="programmingExercise.isAtLeastEditor"
                        [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                        jhiProgrammingExerciseResetButton
                        [programmingExercise]="programmingExercise"
                        class="me-1"
                    >
                        <fa-icon [icon]="faTimes"></fa-icon>
                        <span jhiTranslate="entity.action.reset">Reset</span>
                    </button>
                    <button
                        *ngIf="programmingExercise.course !== undefined && programmingExercise.isAtLeastInstructor"
                        jhiDeleteButton
                        [entityTitle]="programmingExercise.title || ''"
                        deleteQuestion="artemisApp.programmingExercise.delete.question"
                        (delete)="deleteProgrammingExercise($event)"
                        [dialogError]="dialogError$"
                        deleteConfirmationText="artemisApp.exercise.delete.typeNameToConfirm"
                        [additionalChecks]="{
                            deleteStudentReposBuildPlans: 'artemisApp.programmingExercise.delete.studentReposBuildPlans',
                            deleteBaseReposBuildPlans: 'artemisApp.programmingExercise.delete.baseReposBuildPlans'
                        }"
                        class="me-1"
                    >
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </button>
                    <button
                        [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
                        *ngIf="programmingExercise.isAtLeastEditor"
                        (click)="checkConsistencies(programmingExercise)"
                        class="btn btn-outline-primary btn-sm me-1"
                        style="margin-bottom: 10px"
                    >
                        <fa-icon [icon]="faCheckDouble"></fa-icon> <span jhiTranslate="artemisApp.consistencyCheck.button">Check consistency</span>
                    </button>
                </div>
            </div>
            <div *ngIf="!programmingExercise.releaseDate || dayjs(programmingExercise.releaseDate).isBefore(dayjs())" class="mt-3">
                <jhi-exercise-detail-statistics
                    [exercise]="programmingExercise"
                    [doughnutStats]="doughnutStats"
                    [exerciseType]="PROGRAMMING"
                    class="d-flex justify-content-around"
                ></jhi-exercise-detail-statistics>
            </div>
            <jhi-detail-overview-list *ngIf="exerciseDetailSections" [sections]="exerciseDetailSections"></jhi-detail-overview-list>
            <div *ngIf="irisEnabled && irisChatEnabled && programmingExercise.course && !isExamExercise">
                <dt><span jhiTranslate="artemisApp.iris.settings.subSettings.enabled.chat">Iris Chat</span></dt>
                <dd>
                    <jhi-iris-enabled [exercise]="programmingExercise" [irisSubSettingsType]="CHAT" [disabled]="!programmingExercise.isAtLeastInstructor"></jhi-iris-enabled>
                </dd>
            </div>
        </div>
    </div>
</div>
