.programming-exercise-detail-wrapper-class {
    .button-header {
        button {
            margin-bottom: 10px;
        }
    }

    .repository-status-icon {
        font-size: 2.5em;
    }

    .custom-tag {
        margin-right: 5px;
        padding: 0 0.45rem;
        background: #cccccc;
        border-radius: 0.25rem;
        color: white;
    }

    .repository-url {
        display: block;
    }

    .clone-buttons {
        display: inline;
    }

    .auxiliaryRepositoryDescription {
        display: block;
    }
}
