.empty-pdf-container {
    height: 60vh;
    border: 1px solid var(--border-color);
    margin: 10px 0;
    box-shadow: 0 2px 5px var(--pdf-preview-pdf-container-shadow);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--gray-500);
    text-align: center;
}

.empty-pdf-container fa-icon {
    font-size: 3rem;
    color: var(--gray-500);
}
