.wrapper {
    float: left;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background: var(--fo-wrapper-background);

    .header {
        position: relative;
        text-align: center;
        background: var(--fo-blue-font-color);

        h1 {
            color: var(--fo-header-font-color);
            margin: 0;
            padding: 10px 10px;
            font-size: min(50px, 9vw);
            box-sizing: border-box;
        }
    }

    .content {
        justify-content: center;
        max-width: 1400px;

        .features-overview {
            margin: 0;
            text-align: center;
            color: var(--fo-blue-font-color);
        }

        h2 {
            margin: 0;
            text-align: center;
            color: var(--fo-blue-font-color);
            font-size: min(40px, 7vw);
            padding: 1em 0;
            box-sizing: border-box;
        }

        .custom-container {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;
            box-sizing: border-box;
            cursor: pointer;

            .box {
                position: relative;
                flex: 1 0 250px;
                height: 250px;
                max-width: 100%;
                background: var(--fo-container-box-icon-background);
                padding: 15px 15px 15px;
                text-align: left;
                box-sizing: border-box;
                overflow: hidden;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--fo-blue-font-color);

                .fa {
                    font-size: 60px;
                    transition: 0.2s;
                    flex: 0;
                }

                .title {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 20px 10px;
                    text-align: center;
                    opacity: 1;
                }

                .feature-short-description {
                    position: absolute;
                    top: 100%;
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 18px;
                    transition: 0.2s;
                    opacity: 0;
                    background: var(--fo-box-overlay-background);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 20px;
                }

                &:hover {
                    .feature-short-description {
                        top: 0;
                        opacity: 1;
                        text-align: center;
                    }
                }
            }
        }

        .feature-content {
            margin: 0;
            box-sizing: border-box;

            &:last-child > .hr-text:last-child {
                display: none;
            }

            h3 {
                margin: 0;
                text-align: center;
                color: var(--fo-blue-font-color);
                font-size: min(30px, 6vw);
                padding: 1em 20% 0.5em;
                box-sizing: border-box;
            }

            .feature-full-description {
                overflow: auto;
                padding: 35px 0;

                p {
                    width: 100%;
                    font-size: min(18px, 4.25vw);
                    word-wrap: break-word;
                    overflow-wrap: break-word;
                    white-space: pre-wrap;
                    hyphens: auto;
                    text-align: center;
                }

                p::before {
                    content: ' ';
                    display: table;
                    width: 15em;
                }

                img {
                    max-width: 800px;
                    width: 100%;
                }

                .text-wrap-right {
                    float: right;
                    margin-left: 15px;
                    margin-bottom: 7px;
                }

                .text-wrap-left {
                    clear: right;
                    float: left;
                    margin-right: 15px;
                    margin-bottom: 7px;
                }

                .center {
                    clear: right;
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }
        }
    }
}

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background-color: var(--fo-blue-font-color);
}
