<div class="row">
    <div class="col-12 col-lg-8">
        <div class="mt-3 position-relative">
            <div class="exercise-row-container mb-3">
                <jhi-learning-goal-card
                    *ngFor="let learningGoal of learningGoals; index as i; trackBy: identify"
                    [learningGoal]="learningGoal"
                    [progress]="getProgressOfLearningGoal(learningGoal)"
                ></jhi-learning-goal-card>
            </div>
        </div>
    </div>
</div>
