<button id="importDialogButton" (click)="openTutorialGroupImportDialog($event)" ngbDropdownItem>
    <span jhiTranslate="artemisApp.tutorialGroupImportDialog.importButton"></span>
</button>

<jhi-tutorial-groups-import-dialog #importDialog [courseId]="courseId()" (importCompleted)="onImportCompleted()" />

<p-dialog
    [header]="'artemisApp.tutorialGroupImportDialog.warning' | artemisTranslate"
    [modal]="true"
    [visible]="warningDialogVisible()"
    [closable]="true"
    (visibleChange)="warningDialogVisible.set($event)"
    [style]="{ width: '30rem' }"
    appendTo="body"
>
    <p jhiTranslate="artemisApp.tutorialGroupImportDialog.finishedWarning"></p>
    <ng-template pTemplate="footer">
        <button type="button" class="btn btn-light" (click)="closeWarningDialog()">Ok</button>
    </ng-template>
</p-dialog>
