<div class="container mx-0 mt-3 mb-3 mw-100">
    <div ngbAccordion [closeOthers]="true">
        <div ngbAccordionItem>
            <div ngbAccordionHeader>
                <button ngbAccordionButton jhiTranslate="artemisApp.competency.relation.competencyRelations"></button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <form class="row p-3 pb-0 g-3 align-items-end">
                            <div class="col">
                                <div class="form-group">
                                    <label for="tail" jhiTranslate="artemisApp.competency.relation.tailCompetency"></label>
                                    <select
                                        [ngClass]="{ 'border-danger': relationError }"
                                        class="form-select"
                                        id="tail"
                                        name="tail"
                                        [(ngModel)]="tailCompetencyId"
                                        (change)="validate()"
                                    >
                                        @for (competency of competencies(); track competency) {
                                            <option [value]="competency.id">{{ competency.title }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="type" jhiTranslate="artemisApp.competency.relation.relationType"></label>
                                    <select
                                        [ngClass]="{ 'border-danger': relationError }"
                                        class="form-select"
                                        id="type"
                                        name="type"
                                        [(ngModel)]="relationType"
                                        (change)="validate()"
                                    >
                                        @for (relationType of competencyRelationType | keyvalue: keepOrder; track relationType) {
                                            <option
                                                [jhiTranslate]="'artemisApp.competency.relation.type.' + relationType.value"
                                                [title]="'artemisApp.competency.relation.typeExplanation.' + relationType.value | artemisTranslate"
                                            ></option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="head" jhiTranslate="artemisApp.competency.relation.headCompetency"></label>
                                    <select
                                        [ngClass]="{ 'border-danger': relationError }"
                                        class="form-select"
                                        id="head"
                                        name="head"
                                        [(ngModel)]="headCompetencyId"
                                        (ngModelChange)="validate()"
                                    >
                                        @for (competency of competencies(); track competency) {
                                            <option [value]="competency.id">{{ competency.title }}</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-group">
                                    <button
                                        class="btn btn-primary"
                                        jhiTranslate="artemisApp.competency.relation.createRelation"
                                        (click)="createRelation()"
                                        [disabled]="!headCompetencyId || !tailCompetencyId || !relationType || relationError"
                                    ></button>
                                </div>
                            </div>
                            <div class="d-flex m-0 justify-content-end">
                                @if (relationError) {
                                    <span jhiTranslate="{{ errorMessage[relationError] }}" id="relation-not-valid-text" class="invalid-feedback"></span>
                                }
                                <button
                                    id="center-button"
                                    class="btn btn-primary"
                                    (click)="centerView()"
                                    ngbTooltip="{{ 'artemisApp.learningPath.graph.progressNav.center' | artemisTranslate }}"
                                >
                                    <fa-icon [icon]="faArrowsToEye" />
                                </button>
                            </div>
                        </form>
                        <ngx-graph
                            class="m-1 chart-container"
                            [nodes]="nodes()"
                            [links]="edges()"
                            layout="dagreCluster"
                            [draggingEnabled]="false"
                            [showMiniMap]="true"
                            [miniMapMaxWidth]="250"
                            [miniMapMaxHeight]="250"
                            [update$]="update$"
                            [center$]="center$"
                            [zoomToFit$]="zoomToFit$"
                        >
                            <ng-template #defsTemplate>
                                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                                </svg:marker>
                            </ng-template>
                            <ng-template #nodeTemplate let-node>
                                <svg:g class="node">
                                    <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" />
                                    <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                                        {{ node.label }}
                                    </svg:text>
                                </svg:g>
                            </ng-template>
                            <ng-template #linkTemplate let-link>
                                <svg:g class="edge" (click)="removeRelation(link)">
                                    <svg:path class="line" stroke-width="2" marker-end="url(#arrow)" />
                                    <svg:text class="edge-label" text-anchor="middle">
                                        <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                            {{ ('artemisApp.competency.relation.type.' + link.label | artemisTranslate).toUpperCase() }}
                                        </textPath>
                                    </svg:text>
                                </svg:g>
                            </ng-template>
                        </ngx-graph>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
