<div class="col">
    <h2>Complaints form</h2>
    <p>
        Please try to be as descriptive as possible, including which parts of the submission you think we need to
        re-evaluate. If you don't have any complaint, but you think the feedback is not clear enough, just press the
        relative button.
    </p>

    <textarea [(ngModel)]="complaintText" style="width: 100%; height: 50vh;"></textarea>

    <div class="row">
        <div class="col-6">
            <button [disabled]="complaintText.length <= 0">Submit a complaint</button>
        </div>

        <div class="col-6">
            <button>Request more feedback</button>
        </div>
    </div>
</div>



