<div class="col-12 mt-4">
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-12">
            <h3>{{ 'arTeMiSApp.complaint.complaints' | translate }}</h3>
            <p>{{ 'arTeMiSApp.complaint.description' | translate }}</p>
        </div>

        <!--TODO: uncomment again when the 'request more feedback' feature is implemented-->
        <!--<div class="col-6">-->
            <!--<h3>{{ 'arTeMiSApp.complaint.moreFeedback' | translate }}</h3>-->
            <!--<p>{{ 'arTeMiSApp.complaint.moreFeedbackDescription' | translate }}</p>-->
            <!--<button class="btn btn-default" [disabled]="true" (click)="requestMoreFeedback()">{{ 'arTeMiSApp.complaint.moreFeedbackButton' | translate }}</button>-->
        <!--</div>-->
    </div>

    <p *ngIf="!alreadySubmitted" class="mt-4">
        <!--TODO: use the non-temp message when the 'request more feedback' feature is implemented-->
        {{ 'arTeMiSApp.complaint.beDescriptive_temp' | translate }}
    </p>

    <p *ngIf="alreadySubmitted" class="mt-4">
        {{ 'arTeMiSApp.complaint.alreadySubmitted' | translate }} {{ submittedDate | date: 'MMM d, y HH:mm:ss' }}.
        <span *ngIf="handled && accepted" class="text-light bg-success">
            &nbsp;{{ 'arTeMiSApp.complaint.acceptedLong' | translate}}&nbsp;
        </span>
        <span *ngIf="handled && !accepted" class="text-light bg-danger">
            &nbsp;{{ 'arTeMiSApp.complaint.rejectedLong' | translate}}&nbsp;
        </span>
    </p>

    <textarea class="col-6 px-1" [(ngModel)]="complaintText" [readOnly]="alreadySubmitted" [disabled]="alreadySubmitted" style="height: 10vh;"></textarea>

    <p class="col-12" *ngIf="complaintResponse" class="mt-4">
        {{complaintResponse.reviewer.firstName}} {{ 'arTeMiSApp.complaint.hasReplied' | translate }}  {{ complaintResponse.submittedTime | date: 'MMM d, y HH:mm:ss' }}:<br/>
    </p>

    <textarea class="col-6 px-1" *ngIf="complaintResponse" [(ngModel)]="complaintResponse.responseText" [readOnly]="true" [disabled]="true" style="height: 10vh;"></textarea>

    <div class="row" *ngIf="!alreadySubmitted">
        <div class="col-6">
            <button class="btn btn-primary" [disabled]="complaintText.length <= 0" (click)="createComplaint()">{{ 'arTeMiSApp.complaint.submit' | translate }}</button>
        </div>
    </div>
</div>
