.info-icon {
    color: #ffc107;
}

.complaint-response-block,
.complaint-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & textarea {
        margin-top: auto;
    }
}
