/*
if the chart will be wider than the wrapper a horizontal scroll bar will appear and the user can scroll through all the
exercises
*/

.chart-wrapper {
    width: 1200px;
    overflow-x: auto;
}

.chart {
    height: 350px;
}
