:host {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.left {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    max-height: 100%;
    min-width: 0;
    width: 100%;

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        min-height: 45px;
    }
}

.left-body {
    display: flex;
    height: 100%;
    width: 100%;
}

[left-body] {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.right {
    display: flex;
    height: 100%;
    touch-action: none;
}

.expanded {
    width: 30vw;

    .card {
        width: inherit;
        min-width: 200px;

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            fa-icon {
                /*increased hitbox*/
                padding: 15px;
                margin: -15px;
            }

            .card-title {
                display: flex;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .card-body {
            max-height: 100vh;
            overflow-y: auto;
        }
    }

    .draggable-left {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 15px;
        z-index: 10;
    }
}

.collapsed {
    width: 50px;
    justify-content: space-between;
    flex-flow: column nowrap;
    margin-left: 15px;
    cursor: pointer;
    .header {
        writing-mode: vertical-rl;
        margin: auto;
    }
    fa-icon {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
}

.expandable-header {
    cursor: pointer;
    fa-icon {
        padding-left: 5px;
    }
}
// for smaller screens (tablets, phones)
@media (max-width: 992px) {
    :host {
        flex-flow: column-reverse;
    }

    .expanded {
        width: 100% !important;

        .draggable-left {
            display: none;
        }
        .card {
            margin-bottom: 30px;
        }

        #right-header-icon {
            display: none;
        }
    }
}
