<div class="resizable-container" [style.display]="isBeingPrinted ? 'block' : 'flex'">
    <!--region LEFT SIDE-->
    <div class="left card" [class.border-0]="isExerciseParticipation">
        @if (!isExerciseParticipation) {
            <div class="card-header bg-primary text-white">
                <ng-content select="span[left-header]" />
                <span class="flex-fill"></span>
                <ng-content select="jhi-score-display[left-header]" />
            </div>
        }
        <div class="left-body card-body" [class.p-0]="isExerciseParticipation">
            <ng-content select="[left-body]" />
        </div>
    </div>
    <!--endregion LEFT SIDE-->
    <!--region RIGHT SIDE-->
    @if (!examTimeline) {
        @if (collapsed && !expandProblemStatement) {
            <div class="collapsed right text-white bg-primary" (click)="collapsed = !collapsed">
                <fa-icon [icon]="faChevronLeft" />
                <div class="header">
                    <ng-container *ngTemplateOutlet="rightHeaderSpan" />
                </div>
                <fa-icon [icon]="faChevronLeft" />
            </div>
        } @else {
            <div class="expanded right" [style.width]="isBeingPrinted ? 'fit-content' : '30vw'">
                <div class="draggable-left">
                    <fa-icon [icon]="faGripLinesVertical" />
                </div>
                <div class="card">
                    <div class="card-header text-white bg-primary" (click)="collapsed = !collapsed">
                        <h3 class="card-title">
                            <span class="me-1">
                                <ng-content select="fa-icon[right-header]" />
                            </span>
                            <ng-container *ngTemplateOutlet="rightHeaderSpan" />
                            <ng-container *ngTemplateOutlet="Highlighter" />
                        </h3>
                        <fa-icon id="right-header-icon" [icon]="faChevronRight" />
                    </div>
                    <div class="card-body">
                        <ng-content select="[right-body]" />
                    </div>
                </div>
            </div>
        }
    }
    <ng-template #rightHeaderSpan>
        <ng-content select="span[right-header]" />
    </ng-template>
    <ng-template #Highlighter>
        <ng-content select="jhi-exam-exercise-update-highlighter" />
    </ng-template>
    <!--endregion RIGHT SIDE-->
</div>
