.long-text {
    max-width: 100%;
}

.free-period-row {
    .extra-buttons {
        visibility: hidden;
    }

    &:hover {
        .extra-buttons {
            visibility: visible;
        }
    }
}

.table {
    table-layout: fixed;
}

.table .col-0 {
    width: 30px;
}

.table .col-1-2 {
    width: 180px;
}

.table .col-3-4 {
    width: 100px;
}

.table .col-5 {
    width: 300px;
}

.table .col-6 {
    width: 200px;
}
