@if (isProgrammingExerciseResults) {
    <div ngbDropdown class="d-inline">
        <button id="export-results-dropdown" class="btn btn-info btn-sm me-1" ngbDropdownToggle>
            <fa-icon [icon]="faDownload" />
            <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.export.results.title"></span>
        </button>
        <div ngbDropdownMenu="export-results-dropdown">
            <button ngbDropdownItem (click)="exportResults(false, false)" jhiTranslate="artemisApp.exercise.export.results.withoutTestCases"></button>
            <button
                ngbTooltip="{{ 'artemisApp.exercise.export.results.withTestCasesTooltip' | artemisTranslate }}"
                placement="left"
                ngbDropdownItem
                (click)="exportResults(true, false)"
                jhiTranslate="artemisApp.exercise.export.results.withTestCases"
            ></button>
            <button
                ngbTooltip="{{ 'artemisApp.exercise.export.results.withTestCasesAndFeedbackTooltip' | artemisTranslate }}"
                placement="left"
                ngbDropdownItem
                (click)="exportResults(true, true)"
                jhiTranslate="artemisApp.exercise.export.results.withTestCasesAndFeedback"
            >
                With test cases<br />and feedback
            </button>
        </div>
    </div>
}
@if (!isProgrammingExerciseResults) {
    <button class="btn btn-info btn-sm me-1" (click)="exportResults(false, false)">
        <fa-icon [icon]="faDownload" />
        <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.export.results.title"></span>
    </button>
}
