@import 'src/main/webapp/app/shared/metis/metis.component';

.post-tag {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--metis-light-blue);
    border-radius: 3px;
    white-space: nowrap;
    font-size: smaller;
    color: var(--metis-blue);
    padding-bottom: 0.1rem;
}
