.exam-footer {
    width: 100vw;
    height: 50px;
    position: fixed;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 3px var(--exam-participation-footer-box-shadow);
    background: var(--exam-participation-footer-background);

    .container {
        height: 100%;
    }
}
.exam-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    .connection-status-exam-participation {
        @media (max-width: 767.98px) {
            font-size: 11px;
        }
    }
}
.connected {
    background-color: var(--exam-participation-footer-connected-background);
}
.disconnected {
    background-color: var(--exam-participation-footer-disconnected-background);
}
