.exam-footer {
    height: 50px;
    position: fixed;
    padding: 0 10px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background: white;

    .container {
        height: 100%;
    }
}
.exam-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    .connection-status-exam-participation {
        @media (max-width: 767.98px) {
            font-size: 11px;
        }
    }
}
.connected {
    background-color: #d1ecf1;
}
.disconnected {
    background-color: #fff2cc;
}

.quiz-waiting-for-start-overlay {
    position: fixed !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border-color: #3c763d;
    z-index: 8;
}
