<div
    class="mc-question markdown-preview"
    [ngClass]="{ disabled: clickDisabled && !showResult, result: showResult && !forceSampleSolution, incorrect: (score || 0) < question.points! && !forceSampleSolution }"
>
    <h4 class="question-title-display">
        <span>{{ questionIndex }})</span> {{ question.title }}
    </h4>
    <p [innerHTML]="renderedQuestion.text"></p>
    @if (question.invalid) {
        <span style="color: red" jhiTranslate="artemisApp.quizQuestion.invalidText"></span>
    }
    @if (!isSingleChoice) {
        <h6 jhiTranslate="artemisApp.quizQuestion.allOptions"></h6>
    }
    @if (isSingleChoice) {
        <h6 jhiTranslate="artemisApp.quizQuestion.singleOption"></h6>
    }
    @if (question.hint || (question.explanation && showResult)) {
        <div class="hint">
            <ng-template #renderedHint>
                <div [innerHTML]="renderedQuestion.hint"></div>
            </ng-template>
            @if (question.hint) {
                <span class="label label-info" [ngbPopover]="renderedHint" triggers="mouseenter:mouseleave">
                    <fa-icon [icon]="faQuestionCircle" />
                    <span jhiTranslate="artemisApp.quizQuestion.hint"></span>
                </span>
            }
            <br />
            <ng-template #renderedExplanation>
                <div [innerHTML]="renderedQuestion.explanation"></div>
            </ng-template>
            @if (question.explanation && showResult) {
                <span class="label label-primary" [ngbPopover]="renderedExplanation" placement="right auto" triggers="mouseenter:mouseleave">
                    <fa-icon [icon]="faExclamationCircle" />
                    <span jhiTranslate="artemisApp.quizQuestion.explanation"></span>
                </span>
            }
        </div>
    }
    @if (!showResult || forceSampleSolution) {
        <div class="question-score">
            <span jhiTranslate="artemisApp.quizQuestion.score" class="colon-suffix"></span>
            <span>{{ question.points }}</span>
        </div>
    }
    @if (showResult && !forceSampleSolution) {
        <div class="question-score result" [ngClass]="{ incorrect: (score || 0) < question.points! }">
            <span jhiTranslate="artemisApp.quizQuestion.yourScore" class="colon-suffix"></span>
            <span class="show-explanation">{{ score || 0 }}/{{ question.points }}</span>
            <span class="show-explanation">
                <jhi-quiz-scoring-infostudent-modal
                    [score]="score"
                    [question]="question"
                    [multipleChoiceMapping]="selectedAnswerOptions"
                    [questionIndex]="questionIndex"
                    [multipleChoiceSubmittedResult]="submittedResult"
                    [quizQuestions]="quizQuestions"
                />
            </span>
        </div>
    }
    @if (!showResult) {
        <div class="answer-options">
            @for (answerOption of question.answerOptions; track answerOption; let i = $index) {
                <div
                    id="answer-option-{{ i }}"
                    class="answer-option"
                    [ngClass]="{ 'click-disabled': clickDisabled, selected: isAnswerOptionSelected(answerOption) }"
                    (click)="toggleSelection(answerOption)"
                >
                    <div class="content">
                        <div class="text" [innerHTML]="renderedQuestion.renderedSubElements[i]?.text ?? ''"></div>
                        <div class="hint">
                            <ng-template #renderedAnswerOptionsHint>
                                <div [innerHTML]="renderedQuestion.renderedSubElements[i]?.hint ?? ''"></div>
                            </ng-template>
                            @if (answerOption.hint) {
                                <span class="label label-info" [ngbPopover]="renderedAnswerOptionsHint" triggers="mouseenter:mouseleave">
                                    <fa-icon [icon]="faQuestionCircle" />
                                    <span jhiTranslate="artemisApp.quizQuestion.hint"></span>
                                </span>
                            }
                        </div>
                    </div>
                    <div class="selection" id="mc-answer-selection-{{ i }}">
                        @if (isAnswerOptionSelected(answerOption)) {
                            <fa-icon [icon]="question.singleChoice ? faDotCircle : faCheckSquare" size="2x" />
                        }
                        @if (!isAnswerOptionSelected(answerOption)) {
                            <fa-icon [icon]="question.singleChoice ? faCircle : faSquare" size="2x" />
                        }
                    </div>
                </div>
            }
        </div>
    }
    @if (showResult) {
        <table class="answer-options-result">
            <tr>
                <th class="content" jhiTranslate="artemisApp.multipleChoiceQuestion.answer"></th>
                <th class="solution" jhiTranslate="artemisApp.multipleChoiceQuestion.solution"></th>
                @if (!forceSampleSolution) {
                    <th class="result-symbol"></th>
                }
                @if (!forceSampleSolution) {
                    <th class="selection" jhiTranslate="artemisApp.multipleChoiceQuestion.you"></th>
                }
            </tr>
            @for (answerOption of question.answerOptions; track answerOption; let i = $index) {
                <tr class="answer-option" id="answer-option-{{ i }}">
                    <td class="content">
                        <div class="text" [innerHTML]="renderedQuestion.renderedSubElements![i].text"></div>
                        <div class="hint">
                            <ng-template #renderedAnswerOptionsHint2>
                                <div [innerHTML]="renderedQuestion.renderedSubElements![i].hint"></div>
                            </ng-template>
                            @if (answerOption.hint) {
                                <span class="label label-info" [ngbPopover]="renderedAnswerOptionsHint2" triggers="mouseenter:mouseleave">
                                    <fa-icon [icon]="faQuestionCircle" />
                                    <span jhiTranslate="artemisApp.quizQuestion.hint"></span>
                                </span>
                            }
                            <ng-template #renderedAnswerOptionsExplanation>
                                <div [innerHTML]="renderedQuestion.renderedSubElements![i].explanation"></div>
                            </ng-template>
                            @if (answerOption.explanation) {
                                <span class="label label-primary" [ngbPopover]="renderedAnswerOptionsExplanation" triggers="mouseenter:mouseleave">
                                    <fa-icon [icon]="faExclamationCircle" />
                                    <span jhiTranslate="artemisApp.quizQuestion.explanation"></span>
                                </span>
                            }
                        </div>
                    </td>
                    <td class="solution">
                        @if (!answerOption.invalid && !question.invalid && answerOption.isCorrect) {
                            <span id="answer-option-{{ i }}-correct" class="correct" jhiTranslate="artemisApp.multipleChoiceQuestion.correct"></span>
                        }
                        @if (!answerOption.invalid && !question.invalid && !answerOption.isCorrect) {
                            <span id="answer-option-{{ i }}-wrong" class="wrong" jhiTranslate="artemisApp.multipleChoiceQuestion.wrong"></span>
                        }
                        @if (answerOption.invalid || question.invalid) {
                            <span id="answer-option-{{ i }}-invalid" class="wrong" jhiTranslate="artemisApp.quizQuestion.invalid"></span>
                        }
                        @if (answerOption.invalid || question.invalid) {
                            <fa-icon ngbTooltip="{{ 'artemisApp.multipleChoiceQuestion.invalid' | artemisTranslate }}" style="color: black" [icon]="faQuestionCircle" />
                        }
                    </td>
                    @if (!forceSampleSolution) {
                        <td class="result-symbol">
                            @if (
                                !question.invalid &&
                                !answerOption.invalid &&
                                ((isAnswerOptionSelected(answerOption) && !answerOption.isCorrect) || (!isAnswerOptionSelected(answerOption) && answerOption.isCorrect))
                            ) {
                                <fa-icon size="2x" [icon]="faExclamationTriangle" class="warning" />
                            }
                        </td>
                    }
                    @if (!forceSampleSolution) {
                        <td class="selection">
                            @if (isAnswerOptionSelected(answerOption)) {
                                <fa-icon [icon]="question.singleChoice ? faDotCircle : faCheckSquare" size="2x" />
                            }
                            @if (!isAnswerOptionSelected(answerOption)) {
                                <fa-icon [icon]="question.singleChoice ? faCircle : faSquare" size="2x" />
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    }
</div>
