<div class="container">
    <div class="d-flex flex-wrap">
        <div class="d-flex align-items-center">
            <h2 jhiTranslate="artemisApp.standardizedCompetency.manage.title"></h2>
        </div>
        <div class="ms-auto justify-content-end">
            <!-- TODO link to knowledgeArea Management when ready -->
            <a class="btn btn-primary" id="knowledgeAreaButton" [routerLink]="['']">
                <span jhiTranslate="artemisApp.standardizedCompetency.manage.knowledgeAreasButton"></span>
            </a>
        </div>
    </div>
    <h4 jhiTranslate="artemisApp.standardizedCompetency.manage.filter"></h4>
    <div class="row">
        <div class="form-group col">
            <label for="title-filter" jhiTranslate="artemisApp.standardizedCompetency.model.title"> </label>
            <input id="title-filter" class="form-control" [(ngModel)]="competencyTitleFilter" (input)="titleFilterSubject.next()" />
        </div>
        <div class="form-group col">
            <label for="knowledge-area-filter" jhiTranslate="artemisApp.standardizedCompetency.model.knowledgeArea"></label>
            <select [(ngModel)]="knowledgeAreaFilter" (ngModelChange)="filterByKnowledgeArea()" class="form-select" id="knowledge-area-filter">
                <option [ngValue]="undefined"></option>
                @for (knowledgeArea of knowledgeAreasForSelect; track knowledgeArea.id) {
                    <option [ngValue]="knowledgeArea">
                        {{ knowledgeArea.title }}
                    </option>
                }
            </select>
        </div>
    </div>
    <button class="btn btn-primary btn-sm" (click)="filterByKnowledgeArea()">FILTER BY KA</button>
    <button class="btn btn-primary btn-sm" (click)="filterByCompetencyTitle()">FILTER BY TITLE</button>
    <div class="d-flex">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [trackBy]="trackBy" class="card d-flex flex-grow-1 w-50 me-1">
            <mat-nested-tree-node *matTreeNodeDef="let node" [class.d-none]="!node.isVisible">
                <div class="card tree-card">
                    <div class="tree-card-row clickable me-2" matTreeNodeToggle>
                        <div class="icon-container me-2">
                            <fa-icon [icon]="faChevronRight" class="rotate-icon chevron-position" [class.rotated]="treeControl.isExpanded(node)" />
                        </div>
                        <h5 class="mb-0">{{ node.title }}</h5>
                        <!-- TODO: add #children, #competencies -->
                    </div>
                    <div class="tree-card-row">
                        <jhi-button [btnSize]="ButtonSize.SMALL" [icon]="faPlus" (onClick)="openNewCompetency(node)" />
                    </div>
                </div>
                <div [ngbCollapse]="!treeControl.isExpanded(node)" class="tree-indent">
                    <ng-container matTreeNodeOutlet />
                    @for (competency of node.competencies; track competency.id) {
                        <div class="card tree-card" [class.d-none]="!competency.isVisible">
                            <div class="tree-card-row clickable" (click)="selectCompetency(competency)">
                                <fa-icon class="me-2" [icon]="getIcon(competency.taxonomy)" [fixedWidth]="true" />
                                <h6 class="mb-0">{{ competency.title }}</h6>
                            </div>
                        </div>
                    }
                </div>
            </mat-nested-tree-node>
        </mat-tree>
        @if (selectedCompetency) {
            <div class="card p-3 d-flex flex-grow-1 w-100">
                <jhi-standardized-competency-detail
                    class="h-100"
                    [competency]="selectedCompetency"
                    [knowledgeAreas]="knowledgeAreasForSelect"
                    [(isInEditMode)]="isEditing"
                    (onSave)="saveCompetency($event)"
                    (onDelete)="deleteCompetency()"
                    (onClose)="closeCompetency()"
                    [dialogError]="dialogError"
                />
            </div>
        }
    </div>
</div>
