<div class="monaco-review-comment-widget monaco-review-comment-thread" [class.monaco-review-comment-thread--collapsed]="!showThreadBody()">
    <div class="monaco-review-comment-thread-header">
        <div class="monaco-review-comment-thread-title">
            @if (showLocationWarning()) {
                <span class="monaco-review-comment-thread-warning" [title]="'artemisApp.review.threadLocationWarning' | artemisTranslate">
                    <fa-icon [icon]="faTriangleExclamation" />
                </span>
            }
            <span class="monaco-review-comment-thread-title-text">
                {{ 'artemisApp.review.threadTitle' | artemisTranslate }}
            </span>
            @if (thread().resolved) {
                <span class="monaco-review-comment-thread-tag monaco-review-comment-thread-tag--resolved">
                    {{ 'artemisApp.review.threadResolved' | artemisTranslate }}
                </span>
            }
            @if (thread().outdated) {
                <span class="monaco-review-comment-thread-tag monaco-review-comment-thread-tag--outdated">
                    {{ 'artemisApp.review.threadOutdated' | artemisTranslate }}
                </span>
            }
        </div>
        <button pButton type="button" text size="small" class="monaco-review-comment-thread-toggle" (click)="toggleThreadBody()">
            <span class="monaco-review-comment-thread-toggle-icon" [class.monaco-review-comment-thread-toggle--collapsed]="!showThreadBody()" aria-hidden="true"></span>
        </button>
    </div>
    @if (showThreadBody()) {
        <div class="monaco-review-comment-thread-divider"></div>
        @for (commentVm of renderedComments(); track commentVm.comment.id; let first = $first) {
            <div class="monaco-review-comment-item" [class.monaco-review-comment-item--with-divider]="!first">
                <div class="monaco-review-comment-header">
                    <div class="monaco-review-comment-title">
                        @if (commentVm.authorName) {
                            {{ commentVm.authorName }}
                        } @else {
                            {{ 'artemisApp.review.systemAuthor' | artemisTranslate }}
                        }
                        @if (commentVm.comment.createdDate) {
                            <div class="monaco-review-comment-meta">
                                {{ 'artemisApp.review.commentedOn' | artemisTranslate: { date: commentVm.comment.createdDate | artemisDate } }}
                                @if (commentVm.isEdited) {
                                    <span class="monaco-review-comment-meta-separator">|</span>
                                    {{ 'artemisApp.review.lastEdited' | artemisTranslate: { date: commentVm.comment.lastModifiedDate | artemisDate } }}
                                }
                            </div>
                        }
                    </div>
                    <div class="monaco-review-comment-menu">
                        <button
                            pButton
                            type="button"
                            text
                            size="small"
                            class="monaco-review-comment-menu-trigger"
                            [attr.aria-label]="'artemisApp.review.commentMenu' | artemisTranslate"
                            [title]="'artemisApp.review.commentMenu' | artemisTranslate"
                            [disabled]="commentVm.comment.id === undefined"
                            aria-haspopup="true"
                            (click)="commentMenu.toggle($event)"
                        >
                            <fa-icon [icon]="faEllipsisVertical" />
                        </button>
                        <p-menu
                            #commentMenu
                            [popup]="true"
                            appendTo="body"
                            styleClass="monaco-review-comment-menu-overlay"
                            [model]="isUserComment(commentVm.comment) ? userCommentMenuItems : nonUserCommentMenuItems"
                        >
                            <ng-template #item let-item>
                                <button
                                    pButton
                                    type="button"
                                    text
                                    size="small"
                                    class="monaco-review-comment-menu-item"
                                    [class.monaco-review-comment-menu-item-delete]="item.id === 'delete'"
                                    [attr.aria-label]="(item.id === 'edit' ? 'artemisApp.review.editComment' : 'artemisApp.review.deleteComment') | artemisTranslate"
                                    (click)="handleCommentMenuAction(item.id, commentVm.comment); commentMenu.hide()"
                                >
                                    @if (item.id === 'edit') {
                                        <fa-icon [icon]="faPen" />
                                        <span>{{ 'artemisApp.review.editComment' | artemisTranslate }}</span>
                                    } @else {
                                        <fa-icon [icon]="faTrash" />
                                        <span>{{ 'artemisApp.review.deleteComment' | artemisTranslate }}</span>
                                    }
                                </button>
                            </ng-template>
                        </p-menu>
                    </div>
                </div>
                @if (editingCommentId() === commentVm.comment.id) {
                    <textarea class="monaco-review-comment-textarea" [ngModel]="editText()" (ngModelChange)="editText.set($event)"></textarea>
                    <div class="monaco-review-comment-actions">
                        <button pButton type="button" severity="secondary" size="small" (click)="cancelEditing()">
                            {{ 'artemisApp.review.editCancel' | artemisTranslate }}
                        </button>
                        <button pButton type="button" size="small" (click)="saveEditing()">
                            {{ 'artemisApp.review.editSubmit' | artemisTranslate }}
                        </button>
                    </div>
                } @else {
                    <div class="monaco-review-comment-text">{{ commentVm.displayText }}</div>
                }
            </div>
        }
        <div class="monaco-review-comment-reply">
            <div class="monaco-review-comment-separator"></div>
            <textarea
                class="monaco-review-comment-textarea monaco-review-comment-textarea--compact"
                [placeholder]="'artemisApp.review.replyPlaceholder' | artemisTranslate"
                [ngModel]="replyText()"
                (ngModelChange)="replyText.set($event)"
                rows="1"
            ></textarea>
            <div class="monaco-review-comment-actions">
                <button pButton type="button" severity="secondary" size="small" (click)="toggleResolved()">
                    @if (thread().resolved) {
                        {{ 'artemisApp.review.unresolveThread' | artemisTranslate }}
                    } @else {
                        {{ 'artemisApp.review.resolveThread' | artemisTranslate }}
                    }
                </button>
                <button pButton type="button" size="small" (click)="submitReply()">
                    {{ 'artemisApp.review.replySubmit' | artemisTranslate }}
                </button>
            </div>
        </div>
    }
</div>
