@import 'src/main/webapp/content/scss/artemis-variables';

$background-color: #353d47;
$inactive-icon: rgba(0, 0, 0, 0.4);

.postings-container {
    display: flex;
    height: 100%;
    margin-left: auto;
}

.labels {
    color: $background-color;

    &.answer-approved {
        color: green;
    }
}

.action-icon {
    color: $inactive-icon;

    &.answer-approved {
        color: green;
    }
}

.line {
    width: auto;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
    content: ' ';
}

.vote {
    color: $inactive-icon;

    &.vote-active {
        color: $background-color;
    }
}

.expanded-posts {
    width: 30vw;

    .draggable-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 15px;
    }

    .card {
        width: inherit;
        min-width: 200px;

        .card-header {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color;
            cursor: pointer;

            .card-title {
                display: flex;
            }

            .row > .col-auto:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

.collapsed-postings {
    width: 50px;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-color: $background-color;
    margin-left: auto;
    cursor: pointer;

    span {
        writing-mode: vertical-rl;
        margin: auto;
    }

    fa-icon {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
}

.post-row {
    border-radius: 3px;
}

.posting-subtitle {
    font-size: 12px;
}

.posting-content {
    padding: 8px 15px;
    border-radius: 3px;

    ::ng-deep p {
        margin: 0;
    }
}

.answer-post {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 4px;

    &.answer-approved {
        color: green;
        background-color: #f2f9f2;

        .posting-content {
            color: initial;
        }
    }
}

@media screen and (max-width: 992px) {
    .expanded-posts {
        width: 94vw;

        .draggable-left {
            display: none;
        }
    }
}
