@import 'src/main/webapp/content/scss/artemis-variables';

$border-color: #979797;
$light-border-color: lighten($border-color, 30%);
$light-background-color: rgba($light-border-color, 0.3);
$light-primary-background-color: rgba($primary, 0.3);
$blue-border-color: $primary;

h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: 500;
}
