@import './_overview-vars.scss';

/* ==========================================================================
Course Info Bar
========================================================================== */
.course-info-bar {
    background-color: $artemis-dark;
    padding: 1em 1em;
    margin: -1.25rem -1.25rem 0 -1.25rem;
    min-height: 160px;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
}

/* ==========================================================================
Course Info Bar
========================================================================== */
.tab-bar {
    display: flex;
    height: 60px;
    align-items: center;
    margin: 0 -1.25rem;
    border-bottom: 1px solid $border-color;
    .tab-item {
        cursor: pointer;
        margin: 0 1em;
        &.active {
            box-shadow: 0 2px 0 $artemis-dark;
        }
    }
}

.current-week-row {
    ::ng-deep {
        > div {
            background-color: $light-primary-background-color;
        }
    }
}
.exercise-row {
    cursor: pointer;
    ::ng-deep {
        > div {
            padding: 5px 0;
            border-left: 1px solid $light-border-color;
            border-right: 1px solid $light-border-color;
            background-color: $light-background-color;
            .exercise-link {
                color: $gray-900;
            }
        }
    }
    &:last-of-type {
        ::ng-deep {
            > div {
                margin-bottom: 10px;
                border-bottom: 1px solid $light-border-color;
                border-radius: 0 0 3px 3px;
            }
            .exercise-divider {
                display: none;
            }
        }
    }
    &:first-of-type {
        ::ng-deep {
            > div {
                margin-top: 10px;
                border-top: 1px solid $light-border-color;
                border-radius: 3px 3px 0 0;
            }
        }
    }
    &:only-of-type {
        ::ng-deep {
            > div {
                margin-top: 10px;
                margin-bottom: 10px;
                border-top: 1px solid $light-border-color;
                border-bottom: 1px solid $light-border-color;
                border-radius: 3px;
            }
            .exercise-divider {
                display: none;
            }
        }
    }
}

.statistic-summary {
    margin-top: 25px;
    .chart-container {
        position: relative;
        display: flex;
        justify-content: center;
        .chart-text {
            position: absolute;
            top: calc(50% - 35px);
        }
    }
}

.exercise-row-container {
    .control-label {
        cursor: pointer;
    }
    .collapsed {
        margin-top: 16px;
        margin-left: -12px;
        margin-right: -12px;
        border-bottom: 1px solid $light-border-color;
    }
}

.exercise-controls {
    position: absolute;
    top: -64px;
    right: -14px;
}

.exercise-divider {
    height: 0;
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    border-top: 1px solid $light-border-color;
}

.color-indicator {
    height: 25px;
    width: 25px;
    background-color: #0f6ab4;
    position: relative;
    top: -3px;
    margin-right: 15px;

}

