.exam-container {
    cursor: pointer;
    transition: box-shadow 0.1s linear;
    border: 1px solid var(--overview-blue-border-color);
    background-color: var(--overview-light-background-color);
    border-radius: 3px;
}
.exam-container:hover {
    box-shadow: 0 2px 4px 0 #3e8acc;
}

.liveQuiz-modal {
    display: block;
    opacity: 1;
}

.course-grid {
    display: grid;
    // cards can shrink to 325px
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

.course-card-wrapper {
    width: 100%;
    max-width: 400px;
}

.container-fluid {
    // ensure that horizontal spacing in container is consistent
    --bs-gutter-x: 2rem;
}
