/* ==========================================================================
Course Info Bar
========================================================================== */
.tab-bar-exercise-details {
    jhi-submission-result-status {
        width: auto;
        flex-basis: auto;
        flex-grow: 0;
    }

    // switch from two column to one column layout for small devices
    // 2 buttons have to fit in one row e.g. for programming exercises
    @media (max-width: 640px) {
        flex-direction: column;

        jhi-submission-result-status {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
        }
    }

    @media (max-width: 1000px) {
        flex-wrap: wrap;

        // prevent result status from breaking due to flex wrap
        jhi-submission-result-status {
            flex-basis: auto; // needed for Safari and JavaFX
            flex-grow: 1;
        }

        // move instructor actions onto their own line for small/medium devices
        .instructor-actions {
            width: 100%;
            flex-basis: 100%;
            justify-content: flex-end;
            margin-top: 10px;
        }
    }
}

.course-body-container {
    position: relative;
}

.refresh-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    opacity: 0;
    pointer-events: none;
    transition: 0.1s ease-out opacity;

    &.active {
        background-color: var(--overview-refresh-overlay-bg-color);
        opacity: 1;
        pointer-events: auto;
        transition: 0.2s ease-in opacity;
    }

    .ng-fa-icon {
        position: relative;
        top: calc(50vh - 150px - 2.5vh);
        transform: translateY(-50%);
        color: var(--overview-refresh-overlay-color);
    }
}

.back-button {
    cursor: pointer;
}

.current-week-row {
    ::ng-deep {
        > div {
            background-color: var(--overview-light-primary-background-color);
        }
    }
}

.statistic-summary {
    margin-top: 25px;

    .chart-container {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;

        .chart-text {
            margin-right: 130px;
            position: absolute;
        }
    }

    .color-legend-container {
        margin-bottom: 40px;

        .color-legend-entry {
            display: inline-flex;
            align-items: center;
            width: 100%;
        }
    }
}

.exercise-row-container {
    .control-label {
        cursor: pointer;
    }

    .collapsed {
        margin-top: 16px;
        margin-left: -12px;
        margin-right: -12px;
        border-bottom: 1px solid var(--overview-light-border-color);
    }
}

.course-information {
    padding-top: 29px;

    .exercise-panel {
        .row.has-exercises {
            cursor: pointer;
            border-radius: 3px;
            &:hover {
                background-color: var(--overview-light-background-color);
                .icon {
                    color: var(--primary);
                }
            }
        }
    }
}

.exercise-divider {
    height: 0;
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    border-top: 1px solid var(--overview-light-border-color);
}

.color-indicator {
    height: 20px;
    width: 20px;
    background-color: #0f6ab4;
    position: relative;
    top: -4px;
    margin-right: 5px;
    border-radius: 3px;
}

canvas#complete-chart {
    z-index: 99;
}

.dev-button {
    text-align: left;
    color: white;
    background-color: #3e8acc;
    &:hover {
        background-color: #0f6ab4;
    }
    &:active {
        box-shadow: 0 2px 0 var(--artemis-dark);
    }
    &:disabled {
        background-color: gray;
    }
    border: none;
    border-radius: 1px;
}

/* Default the color to white even on bootstrap 5 */
.btn-primary,
.btn-primary:hover,
.btn-primary:disabled,
.btn-info,
.btn-info:hover,
.btn-success,
.btn-success:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .col-12 {
        width: 100% !important;
    }
}
