<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="artemisApp.courseOverview.exerciseList.details.unenrollmentModal.title"></h4>
</div>
<div class="modal-body">
    <div class="unenrollment-info">
        <div>
            {{ 'artemisApp.courseOverview.exerciseList.details.unenrollmentModal.confirmationQuestion' | artemisTranslate }}
            <b>{{ course?.title }}</b> ?
        </div>
        @if (!canEnrollAgain) {
            <div jhiTranslate="artemisApp.courseOverview.exerciseList.details.unenrollmentModal.reenrollmentNotPossible"></div>
        }
        @if (canEnrollAgain) {
            <div>
                {{ 'artemisApp.courseOverview.exerciseList.details.unenrollmentModal.reenrollmentPossible' | artemisTranslate }}
                <b>{{ course?.enrollmentEndDate | artemisDate }}</b>
            </div>
        }
    </div>
    <form class="unenrollment-confirmation" [formGroup]="confirmationForm" style="margin-top: 1rem">
        <label class="form-control-label" for="field_confirmation_input" jhiTranslate="artemisApp.courseOverview.exerciseList.details.unenrollmentModal.confirmationInput"></label>
        <input type="text" class="form-control" name="confirmationInput" id="field_confirmation_input" formControlName="confirmationInput" required />
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-secondary" id="course-unenrollment-cancel-button" (click)="onCancel()">
        <fa-icon [icon]="faXmark" />
        <span class="d-sm-inline" jhiTranslate="artemisApp.courseOverview.exerciseList.details.unenrollmentModal.cancelButton"></span>
    </button>
    <button class="btn btn-danger" id="course-unenrollment-accept-button" [disabled]="!isValidInput" (click)="onUnenroll()">
        <span class="d-sm-inline" jhiTranslate="artemisApp.courseOverview.exerciseList.details.unenrollmentModal.acceptButton"></span>
    </button>
</div>
