.card {
    height: 320px;
    cursor: pointer;
    .card-header {
        min-height: 60px;
        max-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
