@import './_overview-vars.scss';

/* ==========================================================================
Course Info Bar
========================================================================== */
.tab-bar {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0 -1.25rem;
    $padding-y: 11px;
    padding-top: $padding-y;
    padding-bottom: $padding-y;
    border-bottom: 1px solid $border-color;

    .tab-item {
        cursor: pointer;
        margin: 0 1em;

        &.active {
            box-shadow: 0 2px 0 $artemis-dark;
        }
    }
}

.tab-bar-course-overview {
    // ensure enough vertical space below for absolutely positioned exercise controls
    // when tab bar is shown on course overview page
    @media (max-width: 690px) {
        min-height: 100px;
        padding-bottom: 40px;
    }
}

.tab-bar-exercise-details {
    .submission-result-status {
        width: auto;
        flex-basis: auto;
        flex-grow: 0;
    }

    // switch from two column to one column layout for small devices
    // 2 buttons have to fit in one row e.g. for programming exercises
    @media (max-width: 640px) {
        flex-direction: column;

        .submission-result-status {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
        }
    }

    @media (max-width: 1000px) {
        flex-wrap: wrap;

        // prevent result status from breaking due to flex wrap
        .submission-result-status {
            flex-basis: 0;
            flex-grow: 1;
        }

        // move instructor actions onto their own line for small/medium devices
        .instructor-actions {
            width: 100%;
            flex-basis: 100%;
            justify-content: flex-end;
            margin-top: 10px;
        }
    }
}

.back-button {
    cursor: pointer;
}

.current-week-row {
    ::ng-deep {
        > div {
            background-color: $light-primary-background-color;
        }
    }
}

.statistic-summary {
    margin-top: 25px;

    .chart-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .chart-text {
            position: absolute;
        }
    }
}

.exercise-row-container {
    .control-label {
        cursor: pointer;
    }

    .collapsed {
        margin-top: 16px;
        margin-left: -12px;
        margin-right: -12px;
        border-bottom: 1px solid $light-border-color;
    }
}

.exercise-controls {
    position: absolute;
    top: -64px;
    right: -14px;
}

.course-information {
    padding-top: 29px;

    .exercise-panel {
        .row.has-exercises {
            cursor: pointer;
            border-radius: 3px;
            &:hover {
                background-color: $light-background-color;
                .icon {
                    color: $primary;
                }
            }
        }
    }
}

.course-icon {
    ::ng-deep {
        img {
            border-radius: 50%;
            max-width: 100%;
            max-height: 130px;
        }
    }
}

.exercise-divider {
    height: 0;
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    border-top: 1px solid $light-border-color;
}

.color-indicator {
    height: 25px;
    width: 25px;
    background-color: #0f6ab4;
    position: relative;
    top: -3px;
    margin-right: 15px;
}

canvas#complete-chart {
    z-index: 99;
}
