.card {
    height: 320px;
    min-width: 360px;
    transition: transform 0.2s linear;
    border-radius: 20px;

    &:hover {
        transform: scale(1.012);
        background-color: var(--hover-slightly-darker-body-bg);
    }

    .card-header {
        position: relative;
        padding: 15px;
        height: 100px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        filter: alpha(opacity = 100);
        transition: 0.15s;
        background-color: var(--background-color-for-hover) !important;

        &:hover {
            background-color: color-mix(in srgb, var(--background-color-for-hover), transparent 15%) !important;
        }

        .container {
            height: 80px;

            .row {
                height: 80px;
            }
        }

        .card-title {
            overflow: hidden;
            padding-bottom: 1px;
            max-height: 80px;
        }
    }

    .card-body {
        .information-box-wrapper {
            height: 145px;
        }

        .chart-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .chart-level {
                z-index: 2;
                cursor: pointer;
            }
        }

        .btn-management {
            z-index: 2;
            position: relative;
        }

        .exercise-title {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .btn-exercise {
            color: var(--bs-body-color);
            z-index: 2;
            position: relative;

            &:hover {
                text-decoration: none !important;
            }
        }
    }
}

.container {
    max-width: unset;
}

jhi-secured-image {
    ::ng-deep img {
        border-radius: 50%;
        height: 65px;
        width: auto;
    }
}
