.course-info-bar--header {
    padding: 0.6rem 0.6rem;
}

.show-more {
    margin-bottom: 0;
}

.wrapper-btn-manage-course {
    display: flex;
    align-items: center;
}

.course-icon {
    ::ng-deep {
        img {
            border-radius: 50%;
            max-width: 100%;
            max-height: 100px;
        }
    }
}
