<div class="submission-container d-flex flex-column">
    <jhi-alert></jhi-alert>
    <div class="row" [ngClass]="{ 'align-items-center': submission?.submitted }">
        <div class="col-12 col-lg-8">
            <h2>
                <span *ngIf="!modelingExercise" jhiTranslate="artemisApp.modelingSubmission.modelingEditor">Modeling Editor</span>
                <span *ngIf="modelingExercise">{{ modelingExercise.title }}</span>
            </h2>
        </div>
        <div class="col-12 col-lg-4 text-right" *ngIf="!isLoading">
            <div *ngIf="participation"><jhi-result [participation]="isAfterAssessmentDueDate ? participation : null"></jhi-result></div>
            <br />
            <jhi-button
                class="submission-button"
                [disabled]="(!isActive && !isLate) || !submission || !!result"
                [title]="!isLate ? 'entity.action.submit' : 'entity.action.submitDeadlineMissed'"
                (onClick)="submit()"
                [isLoading]="isSaving"
                [btnType]="!isLate ? ButtonType.PRIMARY : ButtonType.WARNING"
                [tooltip]="submitButtonTooltip"
            ></jhi-button>
            <!--TODO: enable retry button again-->
            <!--<button class="btn btn-info" (click)="retry()" *ngIf="isActive && submission?.submitted && result?.rated && !retryStarted">-->
            <!--<fa-icon [icon]="'sync'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.retry">Retry</span>-->
            <!--</button>-->
        </div>
    </div>
    <br />

    <div class="row" *ngIf="modelingExercise">
        <div [ngClass]="{ 'col-12': submission?.submitted, 'col-9': !submission?.submitted }">
            <p class="mb-3 markdown-preview">
                <span jhiTranslate="artemisApp.modelingSubmission.problemStatement"><strong>Problem Statement:</strong></span>
                <span class="background-editor-color">
                    <span [innerHTML]="modelingExercise!.problemStatement! | htmlForMarkdown"></span>
                </span>
            </p>
        </div>
        <div class="col-3 text-right" *ngIf="!submission?.submitted">
            <p jhiTranslate="artemisApp.modelingSubmission.maxScore" [translateValues]="{ maxScore: modelingExercise!.maxScore }">
                <strong>Max. Score: {{ modelingExercise!.maxScore }}</strong>
            </p>
        </div>
    </div>

    <div class="row flex-grow-1">
        <div *ngIf="submission && (isActive || isLate) && !result" class="col-12 editor-large">
            <jhi-modeling-editor [umlModel]="umlModel" [diagramType]="modelingExercise.diagramType"></jhi-modeling-editor>
        </div>
        <div *ngIf="(!isActive || result) && modelingExercise" class="col-9">
            <jhi-modeling-assessment
                [model]="umlModel"
                [feedbacks]="assessmentResult?.feedbacks"
                [diagramType]="modelingExercise.diagramType"
                [maxScore]="modelingExercise.maxScore"
                [readOnly]="true"
                [enablePopups]="false"
                [displayPoints]="false"
                (selectionChanged)="onSelectionChanged($event)"
            ></jhi-modeling-assessment>
        </div>
        <div class="col-3" *ngIf="submission?.submitted && (!isActive || result)">
            <h4 jhiTranslate="artemisApp.modelingSubmission.assessment.title">Assessment</h4>
            <div class="alert alert-info" *ngIf="generalFeedbackText && generalFeedbackText.length >= 0">
                <b><fa-icon [icon]="['far', 'comment-dots']"></fa-icon>&nbsp;<span jhiTranslate="artemisApp.assessment.generalFeedback">General Feedback</span>:</b>
                <br />
                {{ generalFeedbackText }}
            </div>
            <p
                *ngIf="!assessmentResult || !assessmentResult.feedbacks || assessmentResult?.feedbacks.length === 0"
                jhiTranslate="artemisApp.modelingSubmission.assessment.noAssessment"
            >
                There is no assessment available yet.
            </p>
            <ng-container *ngIf="assessmentResult?.feedbacks?.length > 0">
                <p jhiTranslate="artemisApp.modelingSubmission.assessment.instructions">
                    Select elements in the editor to filter the assessment.
                </p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th jhiTranslate="artemisApp.modelingSubmission.assessment.element">Element</th>
                            <th class="text-center" jhiTranslate="artemisApp.modelingSubmission.assessment.score">Score</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="assessmentsNames">
                        <!--TODO CZ: replace function call 'isSelected' in html-->
                        <tr *ngFor="let feedback of assessmentResult?.feedbacks" [hidden]="(feedback.credits === 0 && !feedback.text) || !isSelected(feedback)">
                            <td>
                                <span>{{ assessmentsNames[feedback.referenceId]['type'] }} </span>
                                <code class="text-primary">{{ assessmentsNames[feedback.referenceId]['name'] }}</code
                                ><br />
                                <span *ngIf="feedback.text" [ngClass]="{ 'text-success': feedback.credits > 0, 'text-danger': feedback.credits < 0 }"
                                    ><strong>Feedback:</strong> {{ feedback.text }}</span
                                >
                            </td>
                            <td class="text-center">{{ feedback.credits | number: '1.0-1' }}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
    <jhi-complaint-interactions *ngIf="modelingExercise" [exercise]="modelingExercise" [participation]="participation" [result]="result"> </jhi-complaint-interactions>
</div>
