.submission-container {
    display: flex;
    flex-flow: column nowrap;
}

.assessment-result-container {
    display: flex;
    height: calc(100vh - 148px);
    flex-flow: column nowrap;
}

.editor-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;

    jhi-modeling-editor {
        width: 100%;
    }

    jhi-modeling-assessment {
        width: 100%;
    }
}
