<div class="d-flex horizontal-scroll">
    @if (course()) {
        @if (!isShownViaLti()) {
            <div [ngClass]="{ 'sidebar-collapsed': isCollapsed }">
                @if (sidebarData(); as data) {
                    <jhi-sidebar
                        [itemSelected]="exerciseSelected()"
                        [courseId]="courseId()"
                        [sidebarData]="data"
                        [collapseState]="DEFAULT_COLLAPSE_STATE"
                        [sidebarItemAlwaysShow]="DEFAULT_SHOW_ALWAYS"
                        [showFilter]="true"
                    />
                }
            </div>
        } @else if (isMultiLaunch()) {
            @if (sidebarData(); as data) {
                <jhi-sidebar
                    [itemSelected]="exerciseSelected()"
                    [courseId]="courseId()"
                    [sidebarData]="data"
                    [collapseState]="DEFAULT_COLLAPSE_STATE"
                    [sidebarItemAlwaysShow]="DEFAULT_SHOW_ALWAYS"
                    [showFilter]="true"
                />
            }
        }

        @if (exerciseSelected()) {
            <div
                [ngClass]="{ 'content-sidebar-width': !isCollapsed }"
                class="content-width module-bg rounded-3"
                [ngStyle]="isShownViaLti() ? { height: '90vh', position: 'relative' } : {}"
            >
                <router-outlet (deactivate)="onSubRouteDeactivate()" />
            </div>
        } @else {
            <div class="vw-100 module-bg rounded-3 p-3 d-flex justify-content-between">
                <div class="col-12 text-center my-auto" jhiTranslate="artemisApp.courseOverview.exerciseDetails.selectExercise"></div>
            </div>
        }
    }
</div>
