.mat-expansion-panel-header {
    padding: 0;
}

.mat-expansion-panel .mat-expansion-panel-body {
    padding: 0 !important;
    text-align: center;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.mat-expansion-panel .mat-expansion-indicator::after {
    margin-right: 2px !important;
    margin-left: 2px !important;
}
