.modal-body {
    max-height: 75vh;
    overflow-y: auto;

    .build-config-grid {
        display: grid;
        grid-template-columns: minmax(180px, 1fr) 1fr 1fr;
        gap: 0.5rem 1rem;
    }
}
