<div>
    <h4 class="d-flex mb-3 flex-wrap justify-content-end">
        <span class="mb-1 me-auto">
            <span *ngIf="course && !showHeading">{{ course.title }} - </span>
            <span *ngIf="fileUploadExercises && showHeading && !filter.isEmpty() && fileUploadExercises.length">
                {{ getAmountOfExercisesString(filteredFileUploadExercises) }} /
            </span>
            <span *ngIf="fileUploadExercises && showHeading">{{ getAmountOfExercisesString(fileUploadExercises) }} </span>
            <span jhiTranslate="artemisApp.fileUploadExercise.home.title">File Upload Exercises</span>
        </span>
        <a
            *ngIf="course && course.isAtLeastEditor"
            class="btn btn-primary jh-create-entity create-file-upload-exercise text-truncate mb-1 me-1"
            [routerLink]="['/course-management', course.id, 'file-upload-exercises', 'new']"
        >
            <fa-icon [icon]="faPlus"></fa-icon>
            <span jhiTranslate="artemisApp.fileUploadExercise.home.createLabel"> Create File Upload Exercise </span>
        </a>
    </h4>
    <div class="row"></div>
    <br />
    <div class="table-responsive" *ngIf="fileUploadExercises && filteredFileUploadExercises.length > 0">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" (sortChange)="sortRows()">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="title"><span jhiTranslate="artemisApp.exercise.title">Title</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="releaseDate"><span jhiTranslate="artemisApp.exercise.releaseDate">Release Date</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="dueDate"><span jhiTranslate="artemisApp.exercise.dueDate">Due Date</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="assessmentDueDate">
                        <span jhiTranslate="artemisApp.exercise.assessmentDueDate">Assessment Due Date</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th jhiSortBy="maxPoints"><span jhiTranslate="artemisApp.exercise.points">Points</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="bonusPoints"><span jhiTranslate="artemisApp.exercise.bonusPoints">Bonus Points</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon></th>
                    <th jhiSortBy="includedInOverallScore">
                        <span jhiTranslate="artemisApp.exercise.includedInOverallScore">Included in Overall Score</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th jhiSortBy="presentationScoreEnabled" *ngIf="course.presentationScore !== 0">
                        <span jhiTranslate="artemisApp.exercise.presentationScoreEnabled.title">Presentation</span>&nbsp;<fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th><span jhiTranslate="artemisApp.fileUploadExercise.filePattern">File Pattern</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="markdown-preview">
                <tr *ngFor="let fileUploadExercise of filteredFileUploadExercises; trackBy: trackId">
                    <td>
                        <a
                            *ngIf="fileUploadExercise.isAtLeastEditor; else showId"
                            [routerLink]="['/course-management', courseId, 'file-upload-exercises', fileUploadExercise.id]"
                            >{{ fileUploadExercise.id }}</a
                        >
                        <ng-template #showId>{{ fileUploadExercise.id }}</ng-template>
                    </td>
                    <td>
                        <a
                            *ngIf="fileUploadExercise.isAtLeastEditor; else showTitle"
                            [routerLink]="['/course-management', courseId, 'file-upload-exercises', fileUploadExercise.id]"
                            >{{ fileUploadExercise.title }}</a
                        >
                        <ng-template #showTitle>{{ fileUploadExercise.title }}</ng-template>
                    </td>
                    <td>{{ fileUploadExercise.releaseDate | artemisDate }}</td>
                    <td>{{ fileUploadExercise.dueDate | artemisDate }}</td>
                    <td>{{ fileUploadExercise.assessmentDueDate | artemisDate }}</td>
                    <td>{{ fileUploadExercise.maxPoints }}</td>
                    <td>{{ fileUploadExercise.bonusPoints }}</td>
                    <td>{{ exerciseService.isIncludedInScore(fileUploadExercise) }}</td>
                    <td *ngIf="course.presentationScore !== 0">{{ fileUploadExercise.presentationScoreEnabled }}</td>
                    <td>{{ fileUploadExercise.filePattern }}</td>
                    <td class="text-end">
                        <div class="btn-group flex-btn-group-container">
                            <a
                                *ngIf="fileUploadExercise.isAtLeastTutor"
                                [routerLink]="['/course-management', courseId, 'file-upload-exercises', fileUploadExercise.id, 'scores']"
                                class="btn btn-info btn-sm me-1"
                            >
                                <fa-icon [icon]="faTable"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.scores">Scores</span>
                            </a>
                            <a
                                *ngIf="fileUploadExercise.isAtLeastTutor"
                                [routerLink]="['/course-management', courseId, 'file-upload-exercises', fileUploadExercise.id, 'participations']"
                                class="btn btn-primary btn-sm me-1"
                            >
                                <fa-icon [icon]="farListAlt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.participations">Participations</span>
                            </a>
                            <a
                                *ngIf="fileUploadExercise.isAtLeastInstructor"
                                [routerLink]="['/course-management', courseId, 'file-upload-exercises', fileUploadExercise.id, 'submissions']"
                                class="btn btn-success btn-sm me-1"
                            >
                                <fa-icon [icon]="faBook"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="artemisApp.courseOverview.exerciseDetails.instructorActions.submissions">Submissions</span>
                            </a>
                            <a
                                *ngIf="fileUploadExercise.teamMode && fileUploadExercise.isAtLeastTutor"
                                [routerLink]="['/course-management', courseId, 'exercises', fileUploadExercise.id, 'teams']"
                                class="btn btn-primary btn-sm me-1"
                            >
                                <fa-icon [icon]="faUsers"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.teams">Teams</span>
                            </a>
                            <a
                                *ngIf="fileUploadExercise.isAtLeastEditor"
                                [routerLink]="['/course-management', courseId, 'file-upload-exercises', fileUploadExercise.id, 'edit']"
                                class="btn btn-warning btn-sm me-1"
                            >
                                <fa-icon [icon]="faWrench"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </a>
                            <button
                                *ngIf="fileUploadExercise.isAtLeastInstructor"
                                jhiDeleteButton
                                [entityTitle]="fileUploadExercise.title!"
                                deleteQuestion="artemisApp.exercise.delete.question"
                                deleteConfirmationText="artemisApp.exercise.delete.typeNameToConfirm"
                                (delete)="deleteFileUploadExercise(fileUploadExercise.id!)"
                                [dialogError]="dialogError$"
                            >
                                <fa-icon [icon]="faTimes"></fa-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
