<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="!fileUploadExercise" [style]="{ height: '320px' }" class="d-flex align-items-center justify-content-center">
            <fa-icon class="ml-2" size="2x" [icon]="'circle-notch'" [spin]="true"></fa-icon>
        </div>
        <div *ngIf="fileUploadExercise">
            <h2><span jhiTranslate="artemisApp.fileUploadExercise.detail.title">File Upload Exercise</span> {{ fileUploadExercise.id }}</h2>
            <hr />
            <jhi-alert></jhi-alert>
            <jhi-alert-error></jhi-alert-error>
            <div class="text-right">
                <jhi-external-submission [exercise]="fileUploadExercise"></jhi-external-submission>
            </div>
            <dl class="row-md jh-entity-details markdown-preview">
                <jhi-exercise-details [superExerciseDetails]="fileUploadExercise"></jhi-exercise-details>
                <dt><span jhiTranslate="artemisApp.fileUploadExercise.filePattern">File Pattern</span></dt>
                <dd>
                    <span>{{ fileUploadExercise.filePattern }}</span>
                </dd>
                <dt><span jhiTranslate="artemisApp.exercise.sampleSolution">Sample Solution</span></dt>
                <dd class="editor-outline-background" [innerHTML]="fileUploadExercise.sampleSolution! | htmlForMarkdown"></dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button
                type="button"
                [routerLink]="['/course-management', fileUploadExercise.course?.id, 'file-upload-exercises', fileUploadExercise.id, 'edit']"
                class="btn btn-primary"
            >
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
