:host {
    max-width: 100%;
}

.list-group-horizontal.student-group {
    padding: 3px 0;
    overflow-x: auto;
    max-width: 100%;

    // show custom thinner scrollbar for Webkit-based browsers
    $size: 4px;
    $thumb-color: #bbbbbb;

    &::-webkit-scrollbar-track {
        border-radius: $size;
        -webkit-box-shadow: inset 0 0 $size rgba(0, 0, 0, 0.15);
    }

    &::-webkit-scrollbar {
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $size;
        background-color: $thumb-color;
    }
}

.list-group-item.student-group-item {
    padding: 0.175rem 0.75rem;
    white-space: nowrap;

    &.has-error {
        color: var(--artemis-alert-danger-color);
        background-color: var(--artemis-alert-danger-background);
    }
}
