.team-participate-info-box {
    $side-padding: 24px;

    position: relative;
    right: -20px;
    min-width: 250px;

    &.sticky-enabled {
        height: 100%;

        .sticky-box {
            position: sticky;
            top: 25px;
        }
    }

    .sticky-box {
        margin-top: 2px;
        padding: 18px $side-padding 20px;
        transition: 0.2s box-shadow;

        box-shadow: 0 0 3px rgba(0, 0, 0, 0.08), 0 0 14px rgba(0, 0, 0, 0.05);
        border-radius: 10px;

        &.docked-to-left-side {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &.docked-to-right-side {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
