@import 'src/main/webapp/content/scss/artemis-variables';

@mixin status-change-transition() {
    transition: 0.1s color ease-out;

    .online & {
        transition: 0.05s color ease-in;
    }
}

:host {
    display: block;
}

.team-students-online-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .student-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 400;

        &:not(:first-of-type) {
            margin-top: 5px;
        }
    }

    .indicator {
        margin-right: 5px;
        display: flex;
        align-items: center;
    }

    .student-status {
        @include status-change-transition;

        display: inline-flex;
        color: var(--secondary);
    }

    .student-name {
        @include status-change-transition;

        max-width: 190px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: var(--secondary);
    }

    .online {
        .student-status {
            color: var(--success);
        }

        .student-name {
            color: var(--bs-body-color);
        }
    }

    .student-last-action-trigger {
        margin: -1px 0;
        opacity: 0.25;
        background: none;
        border: none;

        &:hover {
            opacity: 0.75;
        }

        &:focus {
            opacity: 1;
            outline: none;
        }
    }

    .student-last-action-tooltip {
        width: unset !important;

        .tooltip-inner {
            min-width: unset !important;
        }
    }
}

.typing-indicator {
    display: flex;
    width: 18px;
    opacity: 0.6;

    & > div {
        $size: 6px;
        width: $size;
        height: $size;
        border-radius: 100%;
        -webkit-animation: bounce-delay 1.4s infinite ease-in-out both;
        animation: bounce-delay 1.4s infinite ease-in-out both;
        background: var(--bs-body-color);
    }

    .bounce1 {
        animation-delay: -0.32s;
    }

    .bounce2 {
        animation-delay: -0.16s;
    }

    @keyframes bounce-delay {
        0%,
        80%,
        100% {
            transform: scale(0);
        }
        40% {
            transform: scale(1);
        }
    }
}
