<ng-template #info let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="artemisApp.quizExercise.matchingInfoModalTitle"></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d()"></button>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th jhiTranslate="artemisApp.quizExercise.matchLetterCase.title"></th>
                <td jhiTranslate="artemisApp.quizExercise.matchLetterCase.explanation"></td>
            </tr>

            <tr>
                <th jhiTranslate="artemisApp.quizExercise.matchPercentage.explanationTitle"></th>
                <td jhiTranslate="artemisApp.quizExercise.matchPercentage.explanation"></td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="c()">Close</button>
    </div>
</ng-template>
<div>
    <button class="btn" (click)="open(info)"><fa-icon [icon]="farQuestionCircle" /></button>
</div>
