.show-more {
    margin-bottom: 0;
}

.course-icon {
    ::ng-deep {
        img {
            border-radius: 50%;
            max-width: 100%;
            max-height: 80px;
        }
    }
}

@media (max-width: 1024px) {
    .row {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
    }
}

.rotate180 {
    transform: rotate(180deg);
}

.manage-button-container {
    margin-left: 0.5em;
}

.manage-button {
    margin-top: 0;
    margin-bottom: 0;
}

.course-description {
    overflow-wrap: anywhere;
    justify-content: space-between;
}
