<div class="competency-graph-container h-100" xmlns:svg="http://www.w3.org/2000/svg">
    <ngx-graph
        [layout]="layout()"
        [draggingEnabled]="false"
        [enableZoom]="false"
        [links]="edges()"
        [nodes]="nodes()"
        [update$]="update$"
        [center$]="center$"
        [zoomToFit$]="zoomToFit$"
        [showMiniMap]="true"
        [miniMapMaxWidth]="200"
        [miniMapMaxHeight]="150"
    >
        <ng-template #defsTemplate>
            <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
            </svg:marker>
        </ng-template>
        <ng-template #nodeTemplate let-node>
            <svg:g [attr.width]="node.dimension.width" [attr.height]="node.dimension.height">
                <svg:foreignObject class="node" [attr.width]="node.dimension.width" [attr.height]="node.dimension.height">
                    <jhi-learning-path-competency-node [competencyNode]="node" (onSizeSet)="setNodeDimension($event)" />
                </svg:foreignObject>
            </svg:g>
        </ng-template>
        <ng-template #linkTemplate let-link>
            <svg:g class="edge">
                <svg:path class="line" stroke-width="1" marker-end="url(#arrow)" />
            </svg:g>
        </ng-template>
    </ngx-graph>
</div>
