<div class="d-flex justify-content-between my-1">
    <div class="align-items-center">
        <span class="fs-medium header-author-date">
            @if (posting.author) {
                <span class="fs-6" ngbTooltip="{{ userAuthorityTooltip | artemisTranslate }}">
                    <span id="role-badge" class="badge fs-small p-1 rounded-3" [class]="'badge-' + userAuthority"> </span>
                </span>
                <span class="fs-large pe-1 fw-bold">
                    {{ posting.author!.name }}
                </span>
            }
            <span class="px-1"> - </span>
            @if (postingIsOfToday) {
                <span class="today-flag">{{ todayFlag | artemisTranslate }}</span>
            }
            <span [disableTooltip]="postingIsOfToday" ngbTooltip="{{ posting.creationDate | artemisDate: 'time' }}">
                {{ postingIsOfToday ? (posting.creationDate | artemisDate: 'time') : (posting.creationDate | artemisDate: 'short-date') }}
            </span>
        </span>
        @if (posting.resolved) {
            <fa-icon
                [icon]="faCheckSquare"
                iconSize="xs"
                class="col-auto pe-0 resolved px-1"
                [ngbTooltip]="'artemisApp.metis.post.postMarkedAsResolvedTooltip' | artemisTranslate"
            />
        }
        @if (isCommunicationPage && (!lastReadDate || (lastReadDate && posting.creationDate && posting.creationDate.isAfter(lastReadDate))) && !isAuthorOfPosting) {
            <span class="badge bg-secondary hideAfter5Seconds">{{ 'global.generic.new' | artemisTranslate }}</span>
        }
    </div>
    <div class="mx-2 my-1">
        @if (mayEditOrDelete) {
            <fa-icon
                size="xs"
                class="ms-1 mx-2 allign-right editIcon clickable icon"
                [ngbTooltip]="'artemisApp.metis.editPosting' | artemisTranslate"
                [icon]="faPencilAlt"
                (click)="posting.title !== '' ? createEditModal.open() : isModalOpen.emit()"
            />
        }
        <jhi-post-create-edit-modal #createEditModal [posting]="posting" [isCommunicationPage]="isCommunicationPage" (isModalOpen)="isModalOpen.emit()" />
        @if (mayEditOrDelete) {
            <jhi-confirm-icon
                iconSize="xs"
                (confirmEvent)="deletePosting()"
                [ngClass]="'deleteIcon clickable icon'"
                [initialTooltip]="'artemisApp.metis.deletePost' | artemisTranslate"
                [confirmTooltip]="'artemisApp.metis.confirmDeletePost' | artemisTranslate"
            />
        }
        @if (!!isCommunicationPage && (!lastReadDate || (lastReadDate && posting.creationDate && posting.creationDate.isAfter(lastReadDate))) && !isAuthorOfPosting) {
            <span class="badge bg-secondary hideAfter5Seconds">{{ 'global.generic.new' | artemisTranslate }}</span>
        }
    </div>
</div>
