<div class="d-flex justify-content-between">
    <div id="header-author-date" class="d-flex justify-content-between align-items-center gap-2 flex-wrap">
        @if (posting.author) {
            <span ngbTooltip="{{ userAuthorityTooltip | artemisTranslate }}" class="badge fs-xx-small rounded-3" [ngClass]="'badge-' + userAuthority" id="role-badge">{{
                userRoleBadge | artemisTranslate
            }}</span>
            <span class="fs-small fw-semibold">
                {{ posting.author?.name }}
            </span>
        }
        <span>-</span>
        @if (postingIsOfToday) {
            <span id="today-flag" class="fs-x-small">{{ todayFlag | artemisTranslate }}</span>
        }
        <span class="fs-x-small" [disableTooltip]="postingIsOfToday" ngbTooltip="{{ posting.creationDate | artemisDate: 'time' }}">
            {{ postingIsOfToday ? (posting.creationDate | artemisDate: 'time') : (posting.creationDate | artemisDate: 'short-date') }}
        </span>
        @if (posting.resolved) {
            <fa-icon
                [icon]="faCheckSquare"
                iconSize="xs"
                class="col-auto pe-0 resolved px-1"
                [ngbTooltip]="'artemisApp.metis.post.postMarkedAsResolvedTooltip' | artemisTranslate"
            />
        }
        @if (!!isCommunicationPage && (!lastReadDate || (lastReadDate && posting.creationDate && posting.creationDate.isAfter(lastReadDate))) && !isAuthorOfPosting) {
            <span class="badge bg-secondary hideAfter5Seconds">{{ 'global.generic.new' | artemisTranslate }}</span>
        }
    </div>
    <div class="mx-2 d-flex">
        @if (mayEditOrDelete) {
            <fa-icon
                size="xs"
                class="ms-1 mx-2 allign-right editIcon clickable icon"
                [ngbTooltip]="'artemisApp.metis.editPosting' | artemisTranslate"
                [icon]="faPencilAlt"
                (click)="posting.title !== '' ? createEditModal.open() : isModalOpen.emit()"
            />
        }
        <jhi-post-create-edit-modal #createEditModal [posting]="posting" [isCommunicationPage]="isCommunicationPage" (isModalOpen)="isModalOpen.emit()" />
        @if (mayEditOrDelete) {
            <jhi-confirm-icon
                iconSize="xs"
                (confirmEvent)="deletePosting()"
                [ngClass]="'deleteIcon clickable icon'"
                [initialTooltip]="'artemisApp.metis.deletePost' | artemisTranslate"
                [confirmTooltip]="'artemisApp.metis.confirmDeletePost' | artemisTranslate"
            />
        }
    </div>
</div>
