#user-settings-page {
    /*
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    padding: 20px;
    background: white;
    margin: 125px;
    box-shadow: 0 0 4px 0 rgba(136, 136, 136, 1);
     */
}

#user-header {
    font-size: x-large;
    font-weight: 600;
}

#login {
    color: gray;
    font-size: medium;
    font-weight: normal;
}

fa-icon {
    padding-top: 7px;
    padding-right: 10px;
}

dt {
    color: red;
    font-size: large;
}

dd {
    color: orange;
    font-size: medium;
}
