#apply-changes-button {
    width: 250px;
    height: 40px;
    font-size: large;
    border: 0;
}

h3 {
    font-weight: bold;
    text-underline-offset: 3px;
}

dt {
    font-size: large;
    font-weight: 500;
}

dd {
    font-size: larger;
}

span {
    color: gray;
    font-size: smaller;
}

.userSettings-info {
    span {
        font-style: italic;
        color: gray;
        font-size: large;
        font-weight: bolder;
    }

    .ng-fa-icon {
        color: gray;
    }
}

.form-check {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pat-button {
    min-width: 100px;
}
