@import 'src/main/webapp/content/scss/artemis-variables';

$metis-light-gray: #979797;

.post-separation-line {
    width: auto;
    height: 1px;
    background: $metis-light-gray;
    content: ' ';
}
