<div class="row mb-2">
    <div class="col-12">
        <jhi-post [posting]="post" (toggleAnswersChange)="toggleAnswers()"></jhi-post>
        <div class="row">
            <div class="col-12">
                <ng-container *ngIf="showAnswers">
                    <jhi-answer-post *ngFor="let answerPost of sortedAnswerPosts" [posting]="answerPost"></jhi-answer-post>
                </ng-container>
                <!-- new answer -->
                <button *ngIf="showAnswers || sortedAnswerPosts.length === 0" class="btn btn-sm btn-outline-secondary mt-2" (click)="createAnswerPostModal.open()">
                    <fa-icon [icon]="'comments'"></fa-icon>
                    <span class="d-none d-md-inline">{{
                        (sortedAnswerPosts.length === 0 ? 'artemisApp.metis.startDiscussion' : 'artemisApp.metis.answerNow') | artemisTranslate
                    }}</span>
                </button>
                <jhi-answer-post-create-edit-modal
                    #createAnswerPostModal
                    [posting]="createdAnswerPost"
                    (onCreate)="showAnswers = true; createdAnswerPost = createEmptyAnswerPost()"
                ></jhi-answer-post-create-edit-modal>
            </div>
        </div>
    </div>
</div>
<div class="post-separation-line"></div>
