.nav-overview-competencies {
    max-height: 400px;
    overflow-y: scroll;

    .accordion-item {
        .accordion-button {
            background: var(--module-bg);
            color: var(--module-text);
            box-shadow: none;
            border-bottom: var(--bs-border-width) solid var(--bs-dropdown-border-color);

            &:not(.collapsed)::after {
                background-image: var(--bs-accordion-btn-icon);
            }
        }

        .accordion-body {
            background: var(--module-bg);
        }
    }
}
