.update-footer {
    // negative margin is used to revert the padding of .card-body
    margin-bottom: -1rem;
    padding: 0.5rem 0;
    width: 100%;
    position: sticky;
    bottom: -0.75rem;
    left: 0;
    z-index: 10;
    background: var(--update-footer-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.toggle-width {
    // standard toggle button size
    min-width: 40px;
}
