<div class="row table-responsive mt-3">
    <table class="table">
        <thead>
            <tr jhiSort [(predicate)]="sortPredicate" [(ascending)]="reverseOrder" [callback]="callback">
                <th>#</th>
                <th jhiSortBy="name">
                    <a class="th-link">{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.name' | translate }}</a> <fa-icon icon="sort"></fa-icon>
                </th>
                <th jhiSortBy="login">
                    <a class="th-link">{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.username' | translate }}</a> <fa-icon icon="sort"></fa-icon>
                </th>
                <th jhiSortBy="numberOfAssessments">
                    <a class="th-link">{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.numberOfAssessments' | translate }}</a> <fa-icon icon="sort"></fa-icon>
                </th>
                <th jhiSortBy="numberOfComplaints">
                    <a class="th-link">{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.numberOfComplaints' | translate }}</a> <fa-icon icon="sort"></fa-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tutor of tutorsData | sortBy: sortPredicate:reverseOrder; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ tutor.name }}</td>
                <td>{{ tutor.login }}</td>
                <td>{{ tutor.numberOfAssessments }}</td>
                <td *ngIf="courseId">
                    <a routerLink="/complaints" [queryParams]="{ courseId: courseId, tutorId: tutor.tutorId }">
                        {{ tutor.numberOfComplaints }}
                    </a>
                </td>
                <td *ngIf="exerciseId">
                    <a routerLink="/complaints" [queryParams]="{ exerciseId: exerciseId, tutorId: tutor.tutorId }">
                        {{ tutor.numberOfComplaints }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
