<div class="row table-responsive mt-3">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.name' | translate }}</th>
                <th>{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.username' | translate }}</th>
                <th>{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.numberOfAssessments' | translate }}</th>
                <th>{{ 'arTeMiSApp.instructorCourseDashboard.tutorLeaderboard.numberOfComplaints' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tutor of tutorsData | keyvalue: orderByNumberOfAssessments; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ tutor.value.name }}</td>
                <td>{{ tutor.value.login }}</td>
                <td>{{ tutor.value.numberOfAssessments }}</td>
                <td *ngIf="courseId">
                    <a routerLink="/complaints" [queryParams]="{ courseId: courseId, tutorId: tutor.value.tutorId }">
                        {{ tutor.value.numberOfComplaints }}
                    </a>
                </td>
                <td *ngIf="exerciseId">
                    <a routerLink="/complaints" [queryParams]="{ exerciseId: exerciseId, tutorId: tutor.value.tutorId }">
                        {{ tutor.value.numberOfComplaints }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
