.container {
    display: inline-flex;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: border-box;
}
input {
    resize: both;
    overflow: auto;
}
.count {
    width: auto;
    height: auto;
}
span {
    padding-left: 20px;
    margin-right: 0.5em;
}
button {
    float: right;
}
#addButton {
    display: inline-flex;
}
