.lp-participation-view-container {
    width: 100%;
    margin-left: 0;
}

.graph-wrapper {
    max-width: min-content;
}

.learning-object-wrapper {
    border-style: none;
}

.sticky-sidebar {
    position: sticky;
    top: 0;
    text-align: center;
}

.path {
    display: flex;
    width: 100px;
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: thin;

    jhi-learning-path {
        width: 100%;
        min-height: fit-content;
    }
}

.view-progress-button {
    margin: 0.5em;
}
