<div class="row mt-2 lp-participation-view-container">
    <div class="col px-0 me-1 graph-wrapper">
        <div class="sticky-sidebar">
            <button
                type="button"
                class="view-progress-button btn btn-secondary"
                (click)="viewProgress()"
                ngbTooltip="{{ 'artemisApp.learningPath.participate.viewProgress' | artemisTranslate }}"
            >
                <fa-icon [icon]="faEye" />
            </button>
            <button
                type="button"
                class="btn btn-primary"
                (click)="onPrevTask()"
                [disabled]="!learningPathStorageService.hasPrevRecommendation(this.learningPathId, currentStateToEntry())"
                ngbTooltip="{{ 'artemisApp.learningPath.participate.prevHint' | artemisTranslate }}"
            >
                <fa-icon [icon]="faChevronUp" />
            </button>
            <div class="path my-2">
                @if (learningPathId) {
                    <jhi-learning-path #learningPathComponent [courseId]="courseId" [learningPathId]="learningPathId" (nodeClicked)="onNodeClicked($event)" />
                }
            </div>
            <button
                type="button"
                class="btn btn-primary"
                (click)="onNextTask()"
                [disabled]="!learningPathStorageService.hasNextRecommendation(this.learningPathId, currentStateToEntry())"
                ngbTooltip="{{ 'artemisApp.learningPath.participate.nextHint' | artemisTranslate }}"
            >
                <fa-icon [icon]="faChevronDown" />
            </button>
        </div>
    </div>
    <div class="col pe-0 flex-grow-1">
        <div class="card learning-object-wrapper">
            @if (!lectureUnit && !exercise) {
                <div>
                    <span jhiTranslate="artemisApp.learningPath.participate.noTaskSelected"></span>
                </div>
            }
            @if (lectureUnit || exercise) {
                <router-outlet (activate)="onChildActivate($event)" />
            }
        </div>
    </div>
</div>
