.main-container {
    width: 100%;
    margin-left: 0;
}

.course-info-bar {
    margin: 0 !important;
}

.tab-bar-exercise-details {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sticky-sidebar {
    position: sticky;
    top: 0;
    text-align: center;
}

.path {
    display: flex;
    width: 100px;
    max-height: 65vh;
    overflow-y: auto;
    scrollbar-width: thin;

    jhi-learning-path {
        width: 100%;
        min-height: fit-content;
    }
}
