.main-container {
    width: 100%;
    margin-left: 0;
}

.graph-wrapper {
    max-width: min-content;
}

.learning-object-wrapper {
    border-style: none;
}

.exercise-wrapper {
    padding: 1rem;
}
