.learning-path-student-page {
    height: calc(100vh - var(--sidebar-footer-height-dev) - 6.25rem);

    .learning-path-student-content {
        height: calc(100vh - var(--sidebar-footer-height-dev) - 10.65rem);
        overflow: auto;
    }

    .learning-path-no-content-container {
        max-width: 500px;
        text-align: center;
    }
}
