@import 'src/main/webapp/content/scss/artemis-variables';

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.plagiarism-split-view {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;

    .plagiarism-split-pane {
        position: relative;

        &-header {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: white;
            border-bottom: 1px solid $body-bg;
            padding: 2px 4px;
        }

        &-body {
            margin-top: 26px;
            height: 100%;
        }
    }
}
