<div class="plagiarism-split-view">
    <div class="plagiarism-split-pane" jhiPane>
        @if (plagiarismComparison) {
            @if (isModelingExercise) {
                <jhi-modeling-submission-viewer [exercise]="exercise" [plagiarismSubmission]="getModelingSubmissionA()" />
            }
            @if (isProgrammingOrTextExercise) {
                <jhi-text-submission-viewer [exercise]="exercise" [matches]="matchesA" [plagiarismSubmission]="getTextSubmissionA()" />
            }
        }
    </div>
    <div class="plagiarism-split-pane" jhiPane>
        @if (plagiarismComparison) {
            @if (isModelingExercise) {
                <jhi-modeling-submission-viewer [exercise]="exercise" [plagiarismSubmission]="getModelingSubmissionB()" />
            }
            @if (isProgrammingOrTextExercise) {
                <jhi-text-submission-viewer [exercise]="exercise" [matches]="matchesB" [plagiarismSubmission]="getTextSubmissionB()" />
            }
        }
    </div>
</div>
