@if (irisSettings) {
    <div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="autoUpdateChat" [(ngModel)]="irisSettings!.enableAutoUpdateChat" />
            <label class="form-check-label" for="autoUpdateChat" jhiTranslate="artemisApp.iris.settings.autoUpdate.chatLabel"></label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="autoUpdateHestia" [(ngModel)]="irisSettings!.enableAutoUpdateHestia" />
            <label class="form-check-label" for="autoUpdateHestia" jhiTranslate="artemisApp.iris.settings.autoUpdate.hestiaLabel"></label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="autoUpdateLectureIngestion" [(ngModel)]="irisSettings!.enableAutoUpdateLectureIngestion" />
            <label class="form-check-label" for="autoUpdateLectureIngestion" jhiTranslate="artemisApp.iris.settings.autoUpdate.lectureIngestionLabel"></label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="autoUpdateCompetencyGeneration" [(ngModel)]="irisSettings!.enableAutoUpdateCompetencyGeneration" />
            <label class="form-check-label" for="autoUpdateCompetencyGeneration" jhiTranslate="artemisApp.iris.settings.autoUpdate.competencyGenerationLabel"></label>
        </div>
    </div>
}
