<div>
    <h5 *adminTitleBarTitle id="organization-detail-heading" class="mb-0">
        <span jhiTranslate="artemisApp.organizationManagement.detail.title"></span> [<b>{{ organization().name }}</b
        >]
    </h5>
    <div class="p-4">
        <dl class="grid grid-cols-1 md:grid-cols-[12rem_1fr] gap-x-4 gap-y-1">
            <dt class="font-semibold"><span jhiTranslate="global.field.id"></span></dt>
            <dd>{{ organization().id ?? '-' }}</dd>
            <dt class="font-semibold"><span jhiTranslate="artemisApp.organizationManagement.name"></span></dt>
            <dd>{{ organization().name ?? '-' }}</dd>
            <dt class="font-semibold"><span jhiTranslate="artemisApp.organizationManagement.shortName"></span></dt>
            <dd>{{ organization().shortName ?? '-' }}</dd>
            <dt class="font-semibold"><span jhiTranslate="artemisApp.organizationManagement.url"></span></dt>
            <dd>{{ organization().url ?? '-' }}</dd>
            <dt class="font-semibold"><span jhiTranslate="artemisApp.organizationManagement.logoUrl"></span></dt>
            <dd>{{ organization().logoUrl ?? '-' }}</dd>
            <dt class="font-semibold"><span jhiTranslate="artemisApp.organizationManagement.description"></span></dt>
            <dd>{{ organization().description ?? '-' }}</dd>
            <dt class="font-semibold"><span jhiTranslate="artemisApp.organizationManagement.emailPattern"></span></dt>
            <dd>{{ organization().emailPattern ?? '-' }}</dd>
        </dl>

        <h3 class="mt-4">
            <span jhiTranslate="artemisApp.organizationManagement.courses"></span>
        </h3>
        <jhi-table-view
            [cols]="courseColumns()"
            [vals]="courses()"
            [totalRows]="coursesTotal()"
            [loading]="coursesLoading()"
            (onLazyLoad)="loadCourses($event)"
            [options]="tableOptions"
        />

        <h3 class="mt-4">
            <span jhiTranslate="artemisApp.organizationManagement.users"></span>
        </h3>
        <jhi-table-view
            [cols]="userColumns()"
            [vals]="users()"
            [totalRows]="usersTotal()"
            [loading]="usersLoading()"
            [rowActions]="userActions"
            (onLazyLoad)="loadUsers($event)"
            [options]="tableOptions"
        />
    </div>
</div>

<ng-template #userIdTemplate let-cell>
    <a [routerLink]="['/admin/user-management', cell.data.login]">{{ cell.value }}</a>
</ng-template>

<ng-template #courseIdTemplate let-cell>
    <a [routerLink]="['/course-management', cell.value]">{{ cell.value }}</a>
</ng-template>

<ng-template #userActions let-user>
    <button
        jhiDeleteButton
        [actionType]="ActionType.Remove"
        [entityTitle]="user.login || user.email || ''"
        deleteQuestion="artemisApp.organizationManagement.userSearch.removeFromOrganization.modalQuestion"
        (delete)="removeFromOrganization(user)"
        [dialogError]="dialogError$"
        data-testid="remove-user-btn"
    >
        <fa-icon [icon]="faUserSlash" class="me-1" />
    </button>
</ng-template>
