@import 'src/main/webapp/content/scss/artemis-variables';

/* ==========================================================================
Navbar
========================================================================== */
/* Don't underline the menu items on hover */
a:not(.btn):hover {
    text-decoration: none !important;
}

.jh-navbar {
    background-color: var(--artemis-dark);
    white-space: nowrap;
    padding: 0.2em 1em;

    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: var(--navbar-bg);
    }

    .dropdown-toggle::after {
        margin-left: 0.15em;
    }

    ul.navbar-nav {
        .nav-item {
            margin-left: 1.5rem;
        }

        .navbar-bottom-bar {
            display: flex;
            gap: 5px;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            > .nav-item {
                flex: 0 1 auto;
                margin-left: 0;
            }
        }
    }

    a.nav-link {
        font-weight: 400;
    }

    .jh-logo-container {
        display: flex;
        flex: 1;
        align-items: center;
        flex-wrap: nowrap;
        gap: 10px;
        height: 50px;

        .navbar-brand {
            display: flex;
            gap: 10px;
            padding: 10px 15px;
            align-items: center;
            margin-right: 0;
            height: 100%;

            img {
                height: 30px;
                vertical-align: middle;
                margin-right: 10px;
            }

            .navbar-version {
                padding-top: 3px;
                font-size: 10px;
                color: var(--navbar-foreground);
            }

            &:hover {
                color: var(--navbar-foreground);
            }
        }

        .indicators {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            font-size: 18px;
            height: 50px;
        }

        .toggler-wrapper {
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;

            .toggler {
                color: var(--navbar-foreground);
                font-size: 1.5em;
                padding: 10px;

                &:hover {
                    color: var(--navbar-foreground);
                }
            }
        }
    }
}

.dropdown-menu-index {
    z-index: 2000;
}

.breadcrumb-container {
    background-color: var(--navbar-breadcrumb-background);
    overflow: auto;
    margin-left: -15px;
    min-height: 0.5rem;

    .breadcrumb {
        color: var(--navbar-breadcrumb-color);
        background-color: var(--navbar-breadcrumb-background);
        margin-left: 1rem;
        margin-bottom: 0;
        padding: 10px 16px 10px 16px;

        .breadcrumb-link {
            font-weight: lighter;
            display: inline;
        }
    }

    .breadcrumb-item::before {
        content: '>';
    }

    // Hide the first divider
    .breadcrumb-item:first-of-type::before {
        content: '';
    }
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .breadcrumb-item:first-of-type {
            .breadcrumb-link {
                display: block !important;
            }
        }
    }
}
