.edit-mc-question {
    .card-header {
        padding: 0;

        .row {
            width: 100%;
        }

        .question-collapse {
            width: 3.25rem;
        }

        .form-group {
            margin: 0;

            span {
                width: 100%;
            }

            .badge {
                width: 60px;
            }
        }
    }

    .card-body {
        .reset-question-group {
            padding-top: 10px;
        }

        .form-group {
            button.question-invalid {
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .form-control:disabled {
                background-color: var(--gray-200);
            }
        }

        .question-options-actions {
            margin-top: 10px;
        }

        .drag-handle {
            padding-right: 0;
        }

        .option-text {
            padding-left: 0;
        }
    }

    .delete-button {
        cursor: pointer;
    }

    .delete-button:hover {
        color: var(--red);
    }

    .point-input {
        width: 100%;
    }

    .answer-border {
        border-radius: 0.1rem;
        border-width: 1px;
        border-style: solid;
        border-color: lightgrey;
        height: auto;
        cursor: default;

        .re-evaluate-order-button {
            height: 13rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            cursor: move;
        }
    }
}
