.git-diff-file-panel {
    .accordion-body {
        max-height: inherit;
        overflow: inherit;
    }
}

.file-path-with-badge {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
