.bg-module {
    background-color: var(--module-bg);
}

.border-module {
    border-color: var(--module-bg) !important;
}

.bg-selected {
    background-color: var(--sidebar-card-selected-bg);

    &.border-module,
    &.item-border {
        border-color: var(--bs-border-color) !important;
    }
}

.item-border {
    border-width: 1px !important;
    border-style: solid;
    border-color: var(--bs-border-color) !important;
}
