<div class="card">
    <div class="card-header">
        <h5 class="mb-0" jhiTranslate="artemisApp.competency.import.search.title"></h5>
    </div>
    <div class="card-body pb-1">
        <div class="form-group">
            <label for="competency-title-input" jhiTranslate="artemisApp.competency.import.search.labelCompetencyTitle"></label>
            <input id="competency-title-input" class="form-control" [(ngModel)]="search.title" (keydown.enter)="performSearch()" />
        </div>
        <div [ngbCollapse]="!advancedSearchEnabled">
            <div class="form-group">
                <label for="competency-description-input" jhiTranslate="artemisApp.competency.import.search.labelCompetencyDescription"></label>
                <textarea id="competency-description-input" rows="3" class="form-control" [(ngModel)]="search.description" (keydown.enter)="performSearch()"></textarea>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="course-title-input" jhiTranslate="artemisApp.competency.import.search.labelCourseTitle"></label>
                    <input id="course-title-input" class="form-control" [(ngModel)]="search.courseTitle" (keydown.enter)="performSearch()" />
                </div>
                <div class="form-group col">
                    <label for="course-semester-select" jhiTranslate="artemisApp.competency.import.search.labelCourseSemester"></label>
                    <select id="course-semester-select" class="form-select" [(ngModel)]="search.semester" (keydown.enter)="performSearch()">
                        @for (semester of semesters; track semester) {
                            <option [value]="semester">{{ semester }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end flex-wrap">
            <jhi-button id="resetFilterButton" class="me-2" [btnType]="ButtonType.SECONDARY" [title]="'entity.action.reset'" (click)="reset()" />
            <jhi-button id="submitFilterButton" [btnType]="ButtonType.PRIMARY" [title]="'entity.action.search'" (click)="performSearch()" />
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div id="toggleAdvancedSearch" class="clickable" (click)="toggleAdvancedSearch()">
                <fa-icon [icon]="advancedSearchEnabled ? faChevronUp : faChevronDown" />
                <span
                    jhiTranslate="{{ advancedSearchEnabled ? 'artemisApp.competency.import.search.hideAdvancedSearch' : 'artemisApp.competency.import.search.showAdvancedSearch' }}"
                ></span>
            </div>
        </div>
    </div>
</div>
