<div class="frame">
    <div class="controls">
        <p-iconfield class="search-field">
            <p-inputicon class="pi pi-search" />
            <input pInputText class="search-input p-inputtext-sm" type="text" [placeholder]="searchFieldPlaceholder()" [(ngModel)]="searchString" />
        </p-iconfield>
        <button
            pButton
            class="p-button-secondary p-button-sm"
            jhiTranslate="artemisApp.pages.tutorialGroupRegistrations.importButtonLabel"
            data-testid="import-button"
            (click)="importModal.open()"
        ></button>
        <button
            pButton
            class="p-button-secondary p-button-sm"
            jhiTranslate="artemisApp.pages.tutorialGroupRegistrations.exportButtonLabel"
            data-testid="export-button"
            (click)="exportRegisteredStudents()"
        ></button>
        <button
            pButton
            class="p-button-primary p-button-sm"
            jhiTranslate="artemisApp.pages.tutorialGroupRegistrations.addStudentsButtonLabel"
            data-testid="new-students-button"
            (click)="registerModal.open()"
        ></button>
    </div>
    <jhi-tutorial-registrations-students-table [students]="filteredRegisteredStudents()" [removeActionColumnInfo]="studentsTableRemoveActionColumnInfo" />
</div>
<p-confirmDialog />
<jhi-tutorial-registrations-import-modal [courseId]="courseId()" [tutorialGroupId]="tutorialGroupId()" #importModal />
<jhi-tutorial-registrations-register-modal [courseId]="courseId()" [tutorialGroupId]="tutorialGroupId()" #registerModal />
