$current-exercise-bg-color: lighten(#d4edda, 5%);
$current-exercise-text-color: #155724;

$space-left-from-divider: 50px;

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
    border-bottom: none !important;
}

.datatable-row-wrapper:last-child .datatable-body-row {
    border-bottom: 1px solid #d1d4d7;
}

.datatable-row-left {
    & > .datatable-body-cell:last-child {
        position: relative;
        overflow: visible !important;

        &:after {
            $border-width: 1px;
            content: ' ';
            position: absolute;
            width: 5px;
            right: -5px;
            top: -$border-width;
            height: calc(100% + #{$border-width});
            box-shadow: 8px 0 12px -15px inset;
        }
    }

    .datatable-row-even & {
        background-color: #f2f2f2;
    }

    .datatable-row-odd &,
    .datatable-header-inner & {
        background-color: white;
    }
}

.datatable-cell-space-left {
    .datatable-header-cell-template-wrap,
    .datatable-body-cell-label {
        padding-left: $space-left-from-divider;
    }
}

.datatable-row-current-exercise {
    background-color: $current-exercise-bg-color !important;

    &.datatable-row-even,
    &.datatable-row-odd {
        .datatable-row-left {
            background-color: $current-exercise-bg-color;
        }
    }
}

.current-team {
    font-weight: bold;
    color: $current-exercise-text-color;
}
