<div class="d-flex justify-content-between align-items-center">
    <h3 class="text-align-left fw-normal mb-0">
        <span>
            {{ quizConfiguration().exerciseGroup?.title }}
        </span>
        <span jhiTranslate="artemisApp.examParticipation.points" [translateValues]="{ points: quizConfiguration().maxPoints }"></span>
        @if (quizConfiguration().includedInOverallScore !== IncludedInOverallScore.INCLUDED_COMPLETELY) {
            <jhi-included-in-score-badge [includedInOverallScore]="quizConfiguration().includedInOverallScore" />
        }
    </h3>
    <jhi-exercise-save-button [submission]="studentSubmission()" (save)="notifyTriggerSave()" />
</div>
<hr />

<!-- TODO this is duplicated with quiz-participation.component.html, we should add a shared component merging bought approaches instead of copy pasting things -->
<div class="row m-0 pb-5">
    @if (quizConfiguration().quizQuestions) {
        @if (!examTimeline()) {
            <div class="col-md-auto ps-0">
                <div class="p-0 col-md-auto quiz-navigation stepwizardquiz sticky-top-stepwizard sticky-top-quiz quiz-navigation-container">
                    @for (question of quizConfiguration().quizQuestions; track question; let index = $index) {
                        <div class="stepwizardquiz__step mb-3" [class.mb-3]="!$last">
                            @switch (question.type) {
                                @case (DRAG_AND_DROP) {
                                    <ng-template
                                        [ngTemplateOutlet]="stepwizardCircle"
                                        [ngTemplateOutletContext]="{
                                            questionId: question.id,
                                            questionAnswers: dragAndDropMappings,
                                            abbreviation: 'DD',
                                            questionColorClass: 'draganddropcolor-question',
                                        }"
                                    />
                                }
                                @case (MULTIPLE_CHOICE) {
                                    <ng-template
                                        [ngTemplateOutlet]="stepwizardCircle"
                                        [ngTemplateOutletContext]="{
                                            questionId: question.id,
                                            questionAnswers: selectedAnswerOptions,
                                            abbreviation: 'MC',
                                            questionColorClass: 'multiplechoicecolor-question',
                                        }"
                                    />
                                }
                                @case (SHORT_ANSWER) {
                                    <ng-template
                                        [ngTemplateOutlet]="stepwizardCircle"
                                        [ngTemplateOutletContext]="{
                                            questionId: question.id,
                                            questionAnswers: shortAnswerSubmittedTexts,
                                            abbreviation: 'SA',
                                            questionColorClass: 'shortanswercolor-question',
                                        }"
                                    />
                                }
                            }
                            <ng-template #tooltipExplanationTranslate>{{ 'artemisApp.quizExercise.explanationAnswered' | artemisTranslate }} </ng-template>
                            <ng-template #tooltipNotExplanationTranslate>{{ 'artemisApp.quizExercise.explanationNotAnswered' | artemisTranslate }} </ng-template>
                            <ng-template
                                #stepwizardCircle
                                let-questionAnswers="questionAnswers"
                                let-abbreviation="abbreviation"
                                let-questionColorClass="questionColorClass"
                                let-questionId="questionId"
                            >
                                <span
                                    class="btn btn-light btn-circle"
                                    [class]="questionColorClass"
                                    (click)="navigateToQuestion(questionId)"
                                    [ngbTooltip]="!!questionAnswers.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                    [ngClass]="!!questionAnswers.get(question.id!)?.length ? 'changed-question' : ''"
                                >
                                    <b class="fa">{{ abbreviation }}</b>
                                </span>
                            </ng-template>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="col p-0 quiz-content mb-3">
            @for (question of quizConfiguration().quizQuestions; track question; let index = $index) {
                <div>
                    <!-- TODO: Map vs Array consistency -->
                    @if (question.type === MULTIPLE_CHOICE) {
                        <jhi-multiple-choice-question
                            id="question{{ question.id }}"
                            [question]="question"
                            [selectedAnswerOptions]="selectedAnswerOptions.get(question.id!)!"
                            (selectedAnswerOptionsChange)="selectedAnswerOptions.set(question.id!, $event)"
                            [fnOnSelection]="onSelectionChanged.bind(this)"
                            [quizQuestions]="quizConfiguration().quizQuestions"
                            [questionIndex]="index + 1"
                            [clickDisabled]="readonly()"
                        />
                    }
                    <!-- TODO: Map vs Array consistency -->
                    @if (question.type === DRAG_AND_DROP) {
                        <jhi-drag-and-drop-question
                            id="question{{ question.id }}"
                            [question]="question"
                            [mappings]="dragAndDropMappings.get(question.id!)!"
                            (mappingsChange)="dragAndDropMappings.set(question.id!, $event)"
                            [onMappingUpdate]="onSelectionChanged.bind(this)"
                            [questionIndex]="index + 1"
                            [clickDisabled]="readonly()"
                        />
                    }
                    <!-- TODO: Map vs Array consistency -->
                    @if (question.type === SHORT_ANSWER) {
                        <jhi-short-answer-question
                            id="question{{ question.id }}"
                            [question]="question"
                            [submittedTexts]="shortAnswerSubmittedTexts.get(question.id!)!"
                            (submittedTextsChange)="shortAnswerSubmittedTexts.set(question.id!, $event)"
                            [fnOnSubmittedTextUpdate]="onSelectionChanged.bind(this)"
                            [questionIndex]="index + 1"
                            [clickDisabled]="readonly()"
                        />
                    }
                </div>
            }
        </div>
    }
</div>
