.table {
    td {
        text-align: center;
    }
    tr {
        text-align: start;
    }
}

.table td {
    font-size: x-large;
    font-weight: bolder;
}

.table th {
    font-size: small;
    font-weight: normal;
}
