.bg-module {
    background-color: var(--module-bg);
}

hr {
    all: unset;
    display: block;
    border-top: 1px solid var(--bs-border-color);
    transition: border-color 0.2s ease;
}

.unread-count {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 50%;
    font-size: 0.6rem;
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.icon-container {
    display: flex;
    align-items: center;
}

.sidebar-group {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--module-bg);

    &--clickable {
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: var(--link-item-bg);
        }
    }
}

.sidebar-group-content {
    margin-top: 0.5rem;
}

.sidebar-group-label {
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;

    &--clickable {
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: var(--link-item-bg);
        }
    }
}

.sidebar-group-title {
    font-size: 0.9em;
}

.sidebar-group-hint {
    font-size: 0.875em;
}

.sidebar-group-variant {
    position: relative;
}

.sidebar-group-checkbox {
    position: absolute;
    top: 0.4rem;
    right: 0.05rem;
    z-index: 2;
}

:host ::ng-deep .sidebar-group-checkbox {
    .p-checkbox,
    .p-checkbox-box {
        width: 0.85rem;
        height: 0.85rem;
    }

    .p-checkbox-icon {
        width: 0.6rem;
        height: 0.6rem;
        font-size: 0.6rem;
    }
}

// Connected variant
.sidebar-group--connected {
    padding: 0;
    overflow: hidden;
    border-top: 5px solid var(--purple);

    .sidebar-group-content {
        margin-top: 0;
        border-top: 2px solid var(--border-color);
    }

    .sidebar-group-variant:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }
}
