.tab-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
    $padding-y: 11px;

    padding-top: $padding-y;
    margin-bottom: $padding-y;
    border-bottom: 1px solid #979797;

    .tab-item {
        margin-bottom: $padding-y;
    }
}

.tab-bar-course-detail {
    @media (max-width: 750px) {
        min-height: 100px;
        padding-bottom: 40px;
    }
}
