<h4 class="fw-medium me-1 mb-1" *ngIf="exercise.releaseDate && dayjs(exercise.releaseDate).isAfter(dayjs()) && shouldShowNotReleasedTag">
    <a [routerLink]="['/courses', exercise.course?.id, 'exercises', exercise.id!]">
        <jhi-not-released-tag [exercise]="exercise"></jhi-not-released-tag>
    </a>
</h4>
<h4 class="fw-medium me-1 mb-1" *ngIf="asQuizExercise(exercise).isActiveQuiz && shouldShowQuizLiveTag">
    <span class="badge bg-success">{{ 'artemisApp.courseOverview.exerciseList.live' | artemisTranslate }}</span>
</h4>
<h4 class="fw-medium me-1 mb-1" *ngFor="let category of exercise.categories">
    <span class="badge" [ngStyle]="{ backgroundColor: category.color }">{{ category.category }}</span>
</h4>
<h4 class="fw-medium me-1 mb-1" *ngIf="exercise.difficulty && shouldShowDifficultyTag">
    <jhi-difficulty-badge [exercise]="exercise" [showNoLevel]="shouldShowDifficultyTagIfNoLevel"></jhi-difficulty-badge>
</h4>
<h4 class="fw-medium me-1 mb-1" *ngIf="exercise.includedInOverallScore !== IncludedInOverallScore.INCLUDED_COMPLETELY && shouldShowIncludedInScoreBadge">
    <a [routerLink]="['/courses', exercise.course?.id, 'exercises', exercise.id!]">
        <jhi-included-in-score-badge [includedInOverallScore]="exercise.includedInOverallScore"></jhi-included-in-score-badge>
    </a>
</h4>
