h4 {
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
}

.remove-button {
    color: #fff;
    background: transparent !important;
    border: none !important;

    &:hover {
        opacity: 0.8;
    }
}
