.frame {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        border-top: 1px solid var(--border-color);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;

        .title-close-button-row {
            display: flex;
            align-items: center;
            padding: 12px 12px 8px;

            .header-spacer {
                width: calc(100% / 7);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .header-button {
                all: unset;
                cursor: pointer;
            }

            .month-title {
                flex: 1;
                font-size: 16px;
                font-weight: 800;
                text-align: center;
            }
        }

        .day-name-row {
            display: flex;
            padding: 0px 12px 12px;
            border-bottom: 1px solid var(--border-color);

            .weekday-label {
                flex: 1;
                font-size: 14px;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}
