.frame {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--white);
    overflow: hidden;
}

.mobile-month-section-swiping-content {
    width: 300vw;
    display: flex;
    flex-direction: row;
}

.mobile-week-section-frame {
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    .mobile-week-section-swiping-content {
        width: 300vw;
        display: flex;
        flex-direction: row;

        .mobile-week-section {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 12px 12px;
        }
    }
}

.mobile-day-section-swiping-content {
    width: 300vw;
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;

    .mobile-day-section {
        width: 100vw;
        display: flex;
        flex-direction: column;
        min-height: 0;
    }
}
