.frame {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;

        .header-button {
            all: unset;
            cursor: pointer;
            border-radius: 0.5rem;
            line-height: 0;

            .button-label {
                height: 1.25rem;
                line-height: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .chevron {
                width: 1.25rem;
                height: 1.25rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .secondary-button {
            color: var(--secondary);
            border: 1px solid var(--secondary);
            padding: 0.125rem 0.25rem;
        }

        .primary-button {
            color: var(--primary);
            border: 1px solid var(--primary);
            padding: 0.125rem;
        }
    }

    .calendar-presentation-container {
        position: relative;

        .loading-overlay {
            position: absolute;
            inset: 0;
            background-color: var(--calendar-loading-overlay-background);
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: delayLoading 0s 0.5s forwards;
            opacity: 0;
        }

        .presentation-header {
            display: flex;
            flex-direction: column;
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            border-top: 1px solid var(--border-color);
            border-top-left-radius: 0.75rem;
            border-top-right-radius: 0.75rem;

            .title-and-control-row {
                display: flex;
                align-items: center;
                padding: 0.75rem 0.75rem 0.5rem;

                .close-button {
                    all: unset;
                    cursor: pointer;
                    color: var(--secondary);
                }

                .header-spacer {
                    width: calc(100% / 7);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .month-title {
                    flex: 1;
                    font-size: 1rem;
                    font-weight: 800;
                    text-align: center;
                }
            }

            .day-name-row {
                display: flex;
                padding: 0 0.75rem 0.75rem;
                border-bottom: 1px solid var(--border-color);

                .weekday-label {
                    flex: 1;
                    font-size: 0.75rem;
                    font-weight: 500;
                    text-align: center;
                }
            }
        }
    }
}

@keyframes delayLoading {
    to {
        opacity: 1;
    }
}

.popover-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
