:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.table-frame {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    .table-header {
        width: 100%;

        .header-row {
            display: flex;
            border-bottom: 1px solid var(--border-color);

            th {
                flex: 1;
                display: flex;
                align-items: center;
                padding-top: 0;
                padding-bottom: 0.75rem;
                white-space: normal;
                overflow-wrap: break-word;
            }

            th:last-child {
                flex: none;
                width: 5rem;
                justify-content: end;
            }
        }
    }

    .scroll-container {
        flex: 1;
        min-height: 0;
        overflow-y: auto;

        .table-body {
            width: 100%;

            .body-row {
                display: flex;

                td {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    padding-top: 0.75rem;
                    white-space: normal;
                    overflow-wrap: break-word;
                }

                td:last-child {
                    flex: none;
                    width: 5rem;
                    justify-content: end;
                }

                .student-property {
                    display: flex;
                    gap: 0.5rem;
                    justify-content: start;
                    align-items: center;
                }

                .remove-button {
                    background: none;
                    border: none;
                    padding: 0;
                    color: var(--danger);

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
