.bg-module {
    background-color: var(--module-bg);
}

.border-module {
    border-color: var(--module-bg) !important;
}

.hover-effect {
    &:hover {
        background-color: var(--link-item-bg);

        &.border-module {
            border-color: var(--link-item-bg) !important;
        }

        &.item-border {
            border-color: var(--bs-card-border-color) !important;
        }
    }
}

.bg-selected {
    background-color: var(--sidebar-card-selected-bg);

    &.border-module {
        border-color: var(--sidebar-card-selected-bg) !important;
    }

    &.item-border {
        border-color: var(--bs-border-color) !important;
    }
}

.item-border {
    border-width: 1px !important;
    border-style: solid;
    border-color: var(--bs-border-color) !important;
}
