.bg-module {
    background-color: var(--module-bg);
}

.border-module {
    border-color: var(--module-bg) !important;
}

.hover-effect {
    &:hover {
        background-color: var(--hover-slightly-darker-body-bg);
        border-color: var(--hover-slightly-darker-body-bg) !important;

        &.border-module {
            border-color: var(--hover-slightly-darker-body-bg) !important;
        }
    }
}

.bg-selected {
    background-color: var(--sidebar-card-selected-bg);

    &.border-module {
        border-color: var(--sidebar-card-selected-bg) !important;
    }
}

.item-border {
    border-width: 2px !important;
    border-style: solid;
    border-color: var(--body-bg) !important;
}
