.long-text {
    max-width: 300px;
}

.free-period-row {
    .extra-buttons {
        visibility: hidden;
    }

    &:hover {
        .extra-buttons {
            visibility: visible;
        }
    }
}

tr.text-past td {
    color: gray;
}

.free-period-reason-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
