<ng-container *ngIf="exercise">
    <td class="align-middle">
        {{ exercise.shortName || '' }}
    </td>
    <td class="align-middle">
        <div>
            <span *ngIf="exercise.templateParticipation?.repositoryUrl">
                <!--Checks if the programming exercise has a setup with VCS and CI, if this not the case
                                            the links are disabled--->
                <a
                    *ngIf="
                        !noVersionControlAndContinuousIntegrationAvailableCheck(exercise.templateParticipation?.repositoryUrl || '');
                        else noVersionControlAndContinuousIntegrationAvailableTemplate
                    "
                    href="{{ exercise.templateParticipation?.repositoryUrl || '' }}"
                    target="_blank"
                    >Template</a
                >
            </span>
            <ng-template #noVersionControlAndContinuousIntegrationAvailableTemplate>Template</ng-template>
            <jhi-programming-exercise-instructor-status
                *ngIf="exercise.templateParticipation?.results?.length"
                [participationType]="participationType.TEMPLATE"
                [participation]="exercise.templateParticipation!"
                [exercise]="exercise"
            ></jhi-programming-exercise-instructor-status>
        </div>
        <div>
            <span *ngIf="exercise.solutionParticipation?.repositoryUrl">
                <a
                    *ngIf="
                        !noVersionControlAndContinuousIntegrationAvailableCheck(exercise.solutionParticipation?.repositoryUrl || '');
                        else noVersionControlAndContinuousIntegrationAvailableSolution
                    "
                    href="{{ exercise.solutionParticipation!.repositoryUrl! }}"
                    target="_blank"
                    >Solution</a
                >
            </span>
            <ng-template #noVersionControlAndContinuousIntegrationAvailableSolution>Solution</ng-template>
            <jhi-programming-exercise-instructor-status
                *ngIf="exercise.solutionParticipation?.results?.length"
                [participationType]="participationType.SOLUTION"
                [participation]="exercise.solutionParticipation!"
                [exercise]="exercise"
            ></jhi-programming-exercise-instructor-status>
        </div>
        <div>
            <span *ngIf="exercise.testRepositoryUrl">
                <a
                    *ngIf="!noVersionControlAndContinuousIntegrationAvailableCheck(exercise.testRepositoryUrl || ''); else noVersionControlAndContinuousIntegrationAvailableTest"
                    href="{{ exercise.testRepositoryUrl }}"
                    target="_blank"
                    >Test</a
                >
            </span>
            <ng-template #noVersionControlAndContinuousIntegrationAvailableTest>Test</ng-template>
        </div>
    </td>
    <td class="align-middle">
        <span *ngIf="exercise.templateParticipation?.buildPlanId"
            ><a
                *ngIf="
                    !noVersionControlAndContinuousIntegrationAvailableCheck(exercise.templateParticipation?.repositoryUrl || '');
                    else noVersionControlAndContinuousIntegrationAvailableTemplate
                "
                jhiBuildPlanLink
                [projectKey]="exercise.projectKey || ''"
                [buildPlanId]="exercise.templateParticipation?.buildPlanId || ''"
                >Template</a
            ></span
        >
        <ng-template #noVersionControlAndContinuousIntegrationAvailableTemplate>Template</ng-template>
        <br />
        <span *ngIf="exercise.solutionParticipation?.buildPlanId"
            ><a
                *ngIf="
                    !noVersionControlAndContinuousIntegrationAvailableCheck(exercise.solutionParticipation?.repositoryUrl || '');
                    else noVersionControlAndContinuousIntegrationAvailableSolution
                "
                jhiBuildPlanLink
                [projectKey]="exercise.projectKey || ''"
                [buildPlanId]="exercise.solutionParticipation?.buildPlanId || ''"
                >Solution</a
            ></span
        >
        <ng-template #noVersionControlAndContinuousIntegrationAvailableSolution>Solution</ng-template>
        <br />
    </td>
    <td class="align-middle d-none d-md-table-cell">
        <div class="d-flex justify-content-between">
            {{ 'artemisApp.programmingExercise.offlineIde' | artemisTranslate }}
            : {{ exercise.allowOfflineIde || false }}
        </div>
        <div class="d-flex justify-content-between">
            {{ 'artemisApp.programmingExercise.onlineEditor' | artemisTranslate }}
            : {{ exercise.allowOnlineEditor || false }}
        </div>
    </td>
</ng-container>
