.import-table-container {
    min-height: 280px;
    max-height: 50vh;
    overflow-y: auto;

    table {
        thead th {
            position: sticky;
            top: 0;

            // z-index is required that the table rows scroll under the header
            z-index: 1;
            background-color: var(--bs-modal-bg);
        }
    }
}
