.message-inline-input-form__wrapper {
    padding-top: 5px;

    .markdown-editor-wrapper {
        background-color: transparent !important;

        .markdown-editor {
            border: 1px solid var(--border-color);
            background-color: transparent !important;
        }
    }

    .ng-invalid {
        border: none;
    }

    .message-checkbox {
        input[type='checkbox']:disabled + label {
            color: var(--bs-gray-500) !important;
            opacity: 0.6;
            cursor: not-allowed;
        }

        input[type='checkbox']:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }

        &.disabled-checkbox {
            opacity: 0.6;

            label {
                color: var(--bs-gray-500) !important;
                cursor: not-allowed;
            }
        }
    }
}
