.test-case--inactive {
    color: grey;
}

.run-after-due-date-disabled {
    max-width: 200px;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);

    .tab-item {
        cursor: pointer;
        margin: 0 0.5em;

        &.active {
            box-shadow: 0 2px 0 var(--artemis-dark);
        }
    }
}

.grading-table-layout {
    display: flex;
    flex-wrap: wrap;

    & > div {
        padding: 20px;
    }

    & > div:last-child {
        border-left: 1px solid #ddd;
    }
}

.datatable-header-cell-wrapper {
    display: flex;
    align-items: center;

    .datatable-header-cell-label {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 2px;
    }
}

@media screen and (max-width: 1200px) {
    .grading-table-layout {
        flex-flow: column;

        & > div {
            width: 100% !important;
        }

        & > div:last-child {
            border-left: hidden;
            border-top: 1px solid #ddd;
        }
    }
}
