#remaining-time-value {
    font-weight: bold;
    white-space: nowrap;
}

#quiz-score {
    text-align: center;
    font-weight: bold;
    color: var(--quiz-participation-footer-content-quiz-score-color);

    &.incorrect {
        color: var(--quiz-participation-footer-content-quiz-score-incorrect-color);
    }
}

.time-warning {
    color: var(--quiz-participation-footer-content-time-warning-color);
}

.time-critical {
    color: var(--quiz-participation-footer-content-time-critical-color);
}

.quiz-submitted-overlay,
.quiz-waiting-for-start-overlay,
.quiz-is-active-overlay,
.quiz-is-over-overlay {
    position: fixed !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border-color: var(--quiz-participation-quiz-is-over-border-color);

    // Needs to be higher than the z-index of the sticky-top class
    z-index: 1030;
}

.draganddropcolor-question {
    background-color: var(--quiz-participation-footer-dnd-background) !important;
}

.multiplechoicecolor-question {
    background-color: var(--quiz-participation-footer-mc-background) !important;
}

.shortanswercolor-question {
    background-color: var(--quiz-participation-footer-sa-background) !important;
}

.changed-question {
    background-color: var(--quiz-participation-footer-changed-background) !important;
}

.stepwizardquiz {
    max-height: calc(100vh - var(--header-height) - var(--exam-height-offset) - var(--exam-update-footer-offset));
    overflow-y: auto;

    &__step {
        .btn {
            cursor: help;
        }
    }
}

.quiz-refresh-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 12;
    pointer-events: none;
    transition: 0.1s ease-out opacity;

    &.active {
        background-color: var(--quiz-participation-refresh-overlay-active-background);
        opacity: 1;
        pointer-events: none;
        transition: 0.2s ease-in opacity;
    }

    .ng-fa-icon {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.btn-circle.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    border-spacing: 5px;
    padding: 6px 0;

    &.btn-light {
        border-color: var(--quiz-participation-btn-circle-light-border-color);
    }

    @media (max-width: 990px) {
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa {
            font-size: 10px;
        }
    }

    @media (max-width: 767.98px) {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa {
            font-size: 6px;
        }
    }
}

@media (max-width: 990px) {
    .btn-circle.btn-circle {
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;

        .fa {
            font-size: 10px;
        }
    }
}

.sticky-top-quiz {
    position: sticky;
    top: 85px;
    z-index: 18;
}

.sticky-top-stepwizard {
    position: sticky;
    top: 0; // Stick overview to the top, if not set explicitly sticky does not work
    z-index: 18;
}

.sticky-bottom-quiz-footer {
    position: sticky;
    bottom: -1rem; // Removes margin from 'course-body' class to improve layout alignment
    z-index: 18;
}
