<div [id]="'exercise-' + quizExercise?.id" class="position-relative min-h-100 d-flex flex-column">
    @if (quizExercise) {
        <div #quizHeader class="row sticky-top module-bg">
            <div class="d-flex justify-content-between align-items-center module-bg gap-2" [ngClass]="'pt-2 mt-n3'">
                <h5 class="mb-0 d-flex gap-2 align-items-center">
                    {{ quizExercise.course?.title ? quizExercise.course?.title : quizExercise.exerciseGroup?.exam?.course?.title }}
                    - {{ quizExercise.title }}
                    @switch (mode) {
                        @case ('practice') {
                            <ng-template [ngTemplateOutlet]="modeBadge" [ngTemplateOutletContext]="{ $implicit: 'practiceMode' }" />
                        }
                        @case ('preview') {
                            <ng-template [ngTemplateOutlet]="modeBadge" [ngTemplateOutletContext]="{ $implicit: 'preview' }" />
                        }
                        @case ('solution') {
                            <ng-template [ngTemplateOutlet]="modeBadge" [ngTemplateOutletContext]="{ $implicit: 'solution' }" />
                        }
                    }
                    <ng-template #modeBadge let-modeTranslation>
                        <span class="small">
                            <span class="badge bg-secondary" [jhiTranslate]="'artemisApp.quizExercise.' + modeTranslation"></span>
                        </span>
                    </ng-template>
                </h5>
                <div>
                    @if (!showingResult) {
                        <div class="d-flex gap-2 align-items-center">
                            @if (!waitingForQuizStart && !submission.submitted) {
                                <div class="align-content-center">
                                    <span jhiTranslate="artemisApp.quizExercise.remainingTime" class="colon-suffix"></span>
                                    <span
                                        id="remaining-time-value"
                                        [ngClass]="{
                                            'time-critical': remainingTimeSeconds < 60 || remainingTimeSeconds < quizExercise.duration! / 4,
                                            'time-warning': remainingTimeSeconds < 120 || remainingTimeSeconds < quizExercise.duration! / 2,
                                        }"
                                    >
                                        {{ remainingTimeText }}
                                    </span>
                                </div>
                            } @else if (submission.submitted && quizExercise.dueDate && !quizExercise.quizEnded) {
                                <div class="align-content-center">
                                    <span jhiTranslate="artemisApp.quizExercise.resultsAvailable" class="colon-suffix"></span>
                                    <span id="results-available-value">
                                        {{ quizExercise.dueDate | artemisDate }}
                                    </span>
                                </div>
                            }
                            <jhi-button
                                id="submit-quiz"
                                (onClick)="onSubmit()"
                                [btnSize]="ButtonSize.SMALL"
                                [btnType]="ButtonType.PRIMARY"
                                [title]="submission.submitted ? 'artemisApp.quizExercise.submitted' : 'entity.action.submit'"
                                [disabled]="submission.submitted || isSubmitting || waitingForQuizStart || remainingTimeSeconds < 0"
                            />
                        </div>
                    } @else if (mode !== 'solution') {
                        <div class="text-center">
                            <div id="quiz-score" [ngClass]="{ incorrect: userScore < totalScore }">
                                <span class="colon-suffix" jhiTranslate="artemisApp.quizExercise.totalScore"></span>
                                <span id="quiz-score-result"
                                    >{{ userScore }}/{{ totalScore }} ({{
                                        roundScoreSpecifiedByCourseSettings(result.score, quizExercise.course || quizExercise.exerciseGroup?.exam?.course)
                                    }}
                                    %)</span
                                >
                            </div>
                        </div>
                    }
                </div>
            </div>
            <hr class="mt-2" />
        </div>
        <!-- STEPWIZARD SECTION -->
        <!-- TODO the STEPWIZARD SECTION is duplicated it quiz-exam-submission.component.html, should be merged to a shared component -->
        <!-- TODO for a follow-up: Much of this template relies on method calls in the template. We should avoid this for performance reasons -->
        <div class="row m-0">
            <div class="col-md-auto ps-0">
                <div
                    #stepWizard
                    class="p-0 col-md-auto quiz-navigation stepwizardquiz sticky-top-stepwizard hide-scrollbar-unless-scrolling"
                    [ngClass]="{ 'sticky-top-quiz': mode === 'preview' }"
                >
                    @for (question of quizExercise.quizQuestions; track question; let index = $index) {
                        <div class="stepwizardquiz__step mb-3" [class.mb-3]="!$last">
                            @switch (question.type) {
                                @case (DRAG_AND_DROP) {
                                    <ng-template
                                        [ngTemplateOutlet]="stepwizardCircle"
                                        [ngTemplateOutletContext]="{ questionAnswers: dragAndDropMappings, abbreviation: 'DD', questionColorClass: 'draganddropcolor-question' }"
                                    />
                                }
                                @case (MULTIPLE_CHOICE) {
                                    <ng-template
                                        [ngTemplateOutlet]="stepwizardCircle"
                                        [ngTemplateOutletContext]="{
                                            questionAnswers: selectedAnswerOptions,
                                            abbreviation: 'MC',
                                            questionColorClass: 'multiplechoicecolor-question',
                                        }"
                                    />
                                }
                                @case (SHORT_ANSWER) {
                                    <ng-template
                                        [ngTemplateOutlet]="stepwizardCircle"
                                        [ngTemplateOutletContext]="{
                                            questionAnswers: shortAnswerSubmittedTexts,
                                            abbreviation: 'SA',
                                            questionColorClass: 'shortanswercolor-question',
                                        }"
                                    />
                                }
                            }
                            <ng-template #tooltipExplanationTranslate>{{ 'artemisApp.quizExercise.explanationAnswered' | artemisTranslate }} </ng-template>
                            <ng-template #tooltipNotExplanationTranslate>{{ 'artemisApp.quizExercise.explanationNotAnswered' | artemisTranslate }} </ng-template>
                            <ng-template #stepwizardCircle let-questionAnswers="questionAnswers" let-abbreviation="abbreviation" let-questionColorClass="questionColorClass">
                                <span
                                    class="btn btn-light btn-circle"
                                    [class]="questionColorClass"
                                    (click)="navigateToQuestion(index)"
                                    [ngbTooltip]="!!questionAnswers.get(question.id!)?.length ? tooltipExplanationTranslate : tooltipNotExplanationTranslate"
                                    [ngClass]="!!questionAnswers.get(question.id!)?.length ? 'changed-question' : ''"
                                >
                                    <b class="fa">{{ abbreviation }}</b>
                                </span>
                            </ng-template>
                        </div>
                    }
                </div>
            </div>
            <!-- END STEPWIZARD SECTION -->
            <!-- QUESTION CONTENT SECTION -->
            <!-- TODO the QUESTION CONTENT SECTION is duplicated it quiz-exam-submission.component.html, should be merged to a shared component -->
            <div class="col p-0 quiz-content mb-3">
                @if (!waitingForQuizStart) {
                    @if (!submission.submitted && !showingResult && remainingTimeSeconds >= 0) {
                        <p jhiTranslate="artemisApp.quizExercise.quizInstructions.live"></p>
                    }
                    @if (submission.submitted && !showingResult) {
                        <p jhiTranslate="artemisApp.quizExercise.quizInstructions.wait"></p>
                    }
                    @if (showingResult && mode !== 'solution') {
                        <p
                            jhiTranslate="artemisApp.quizExercise.quizInstructions.result"
                            [translateValues]="{
                                userScore: userScore,
                                maxScore: totalScore,
                                percentage: roundScoreSpecifiedByCourseSettings(result.score, getCourseFromExercise(quizExercise)),
                            }"
                        ></p>
                    }
                }
                @for (question of quizExercise.quizQuestions; track question; let index = $index) {
                    <div>
                        <!-- TODO: Map vs Array consistency -->
                        @if (question.type === MULTIPLE_CHOICE) {
                            <jhi-multiple-choice-question
                                id="question{{ index }}"
                                [question]="question"
                                [selectedAnswerOptions]="selectedAnswerOptions.get(question.id!)!"
                                (selectedAnswerOptionsChange)="selectedAnswerOptions.set(question.id!, $event)"
                                [fnOnSelection]="onSelectionChanged.bind(this)"
                                [clickDisabled]="submission.submitted || remainingTimeSeconds < 0"
                                [showResult]="showingResult"
                                [submittedResult]="result"
                                [quizQuestions]="quizExercise.quizQuestions"
                                [forceSampleSolution]="mode === 'solution'"
                                [questionIndex]="index + 1"
                                [score]="questionScores[question.id!]"
                            />
                        }
                        <!-- TODO: Map vs Array consistency -->
                        @if (question.type === DRAG_AND_DROP) {
                            <jhi-drag-and-drop-question
                                id="question{{ index }}"
                                [question]="question"
                                [mappings]="dragAndDropMappings.get(question.id!)!"
                                (mappingsChange)="dragAndDropMappings.set(question.id!, $event)"
                                [onMappingUpdate]="onSelectionChanged.bind(this)"
                                [clickDisabled]="submission.submitted || remainingTimeSeconds < 0"
                                [showResult]="showingResult"
                                [forceSampleSolution]="mode === 'solution'"
                                [questionIndex]="index + 1"
                                [score]="questionScores[question.id!]"
                            />
                        }
                        <!-- TODO: Map vs Array consistency -->
                        @if (question.type === SHORT_ANSWER) {
                            <jhi-short-answer-question
                                id="question{{ index }}"
                                [question]="question"
                                [submittedTexts]="shortAnswerSubmittedTexts.get(question.id!)!"
                                (submittedTextsChange)="shortAnswerSubmittedTexts.set(question.id!, $event)"
                                [fnOnSubmittedTextUpdate]="onSelectionChanged.bind(this)"
                                [clickDisabled]="submission.submitted || remainingTimeSeconds < 0"
                                [showResult]="showingResult"
                                [forceSampleSolution]="mode === 'solution'"
                                [questionIndex]="index + 1"
                                [score]="questionScores[question.id!]"
                            />
                        }
                    </div>
                }
            </div>
            <!-- END QUESTION SECTION -->
        </div>
        <div class="row sticky-bottom mb-0 mt-auto">
            @if (mode === 'live') {
                <hr class="mb-0" />
                <div class="container d-flex fs-small align-items-center justify-content-between module-bg mb-n3 py-2">
                    @if (!showingResult) {
                        @if (!waitingForQuizStart) {
                            <div>
                                <span ngbTooltip="{{ submission.submissionDate | artemisDate: 'long' : true }}" placement="right auto">
                                    @if (submission.submitted) {
                                        <span jhiTranslate="artemisApp.quizExercise.submitted" [ngClass]="{ 'colon-suffix': !isMobile() }"></span>
                                    } @else {
                                        <span jhiTranslate="artemisApp.quizExercise.lastSaved" [ngClass]="{ 'colon-suffix': !isMobile() }"></span>
                                    }
                                    <!-- Only display save and submission hint without time stamps for mobile -->
                                    @if (!isMobile()) {
                                        @if (justSaved) {
                                            <span jhiTranslate="justNow"></span>
                                        } @else {
                                            <span>{{ lastSavedTimeText !== '' ? lastSavedTimeText : ('artemisApp.quizExercise.lastSavedTimeNever' | artemisTranslate) }}</span>
                                        }
                                    }
                                </span>
                            </div>
                        } @else if (quizExercise.remainingNumberOfAttempts !== 0) {
                            <div>
                                <span jhiTranslate="artemisApp.quizExercise.waitingForStart"></span>
                            </div>
                        }
                        <!-- CONNECTION STATUS -->
                        <div class="d-flex justify-content-end align-items-center flex-grow-1 gap-2">
                            <div jhiTranslate="artemisApp.quizExercise.quizInstructions.autoSave"></div>
                            @if (unsavedChanges) {
                                <span class="badge bg-warning fs-x-small" jhiTranslate="artemisApp.quizExercise.unsavedChanges"></span>
                            }
                            <jhi-connection-status class="connection-status-quiz" />
                        </div>
                    }
                    <!-- REFRESH BUTTON -->
                    @if (!quizBatch?.started && !quizBatch?.startTime) {
                        <jhi-button
                            class="ms-2"
                            id="refresh-quiz"
                            (onClick)="refreshQuiz(true)"
                            [btnSize]="ButtonSize.SMALL"
                            [btnType]="ButtonType.PRIMARY"
                            [title]="'artemisApp.exercise.refresh'"
                            [disabled]="refreshingQuiz"
                            [icon]="faSync"
                        />
                    }
                </div>
            }
        </div>
        <div>
            <!-- OVERLAY SECTION -->
            @if (!waitingForQuizStart && !showingResult) {
                @if (!submission.submitted && remainingTimeSeconds < 0) {
                    <div class="quiz-is-over-overlay alert alert-info">
                        @if (submission.submissionDate) {
                            <span jhiTranslate="artemisApp.quizExercise.quizIsOverText"></span>
                        } @else {
                            <span jhiTranslate="artemisApp.quizExercise.notParticipatedText"></span>
                        }
                    </div>
                }
                @if (submission.submitted && quizExercise?.quizMode === QuizMode.SYNCHRONIZED) {
                    <div class="quiz-submitted-overlay alert alert-success">
                        <span jhiTranslate="artemisApp.quizExercise.successfullySubmittedText"></span>
                    </div>
                }
            }
        </div>
        @if (waitingForQuizStart) {
            <div class="quiz-waiting-for-start-overlay alert alert-info">
                @if (quizBatch || quizExercise.quizMode === QuizMode.SYNCHRONIZED) {
                    <span jhiTranslate="artemisApp.quizExercise.quizInstructions.waitForStart"></span>
                    @if (startDate) {
                        <div>
                            <hr />
                            <span jhiTranslate="artemisApp.quizExercise.quizInstructions.timeUntilPlannedStart"></span>
                            <span class="text-bold">{{ timeUntilStart }}</span>
                            <br />
                            <span>({{ quizExercise.releaseDate!.format('LT') }})</span>
                        </div>
                    }
                }
                @if (!quizBatch) {
                    @if (quizExercise.quizMode === QuizMode.BATCHED && (quizExercise.remainingNumberOfAttempts ?? 1) > 0) {
                        <div jhiTranslate="artemisApp.quizExercise.quizInstructions.enterPassword"></div>
                        <input id="join-patch-password" [(ngModel)]="password" />
                        <jhi-button id="join-batch" [title]="'artemisApp.quizExercise.join'" [btnType]="ButtonType.SUCCESS" (onClick)="joinBatch()" />
                    }
                    @if (quizExercise.quizMode === QuizMode.INDIVIDUAL && (quizExercise.remainingNumberOfAttempts ?? 1) > 0) {
                        <div jhiTranslate="artemisApp.quizExercise.quizInstructions.startNow"></div>
                        <jhi-button id="start-batch" [title]="'artemisApp.quizExercise.startBatch'" [btnType]="ButtonType.SUCCESS" (onClick)="joinBatch()" />
                    }
                    @if (quizExercise.quizMode !== QuizMode.SYNCHRONIZED && quizExercise.remainingNumberOfAttempts === 0) {
                        @if ((quizExercise.allowedNumberOfAttempts ?? 0) > 1) {
                            <div jhiTranslate="artemisApp.quizExercise.quizInstructions.noMoreAttempts"></div>
                        }
                        @if (quizExercise.allowedNumberOfAttempts === 1) {
                            <div jhiTranslate="artemisApp.quizExercise.quizInstructions.alreadyAttempted"></div>
                        }
                    }
                }
            </div>
        }
        <div class="quiz-refresh-overlay" [class.active]="refreshingQuiz">
            <fa-icon size="lg" [icon]="faCircleNotch" animation="spin" />
        </div>
        <!-- END OVERLAY SECTION -->
    }
</div>
