.edit-mc-question {
    .answer-border {
        padding: 10px;
        border-radius: 0.1rem;
        border-width: 1px;
        border-style: solid;
        border-color: lightgrey;
        height: auto;

        .re-evaluate-order-button {
            display: inline-block;
            padding: 4px;
            cursor: move;

            &:hover {
                color: blue;
            }
        }
    }

    .re-evaluate-button {
        display: inline-block;
        padding: 4px;

        &:hover {
            color: blue;
        }
    }
}
