@import '../../../../content/scss/artemis-mixins';

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    & > span {
        margin-bottom: 10px;
    }

    .badge.max-score {
        background: var(--quiz-exercise-detail-max-score-background);
        color: var(--quiz-exercise-detail-max-score-color);
    }
}

.btn-block {
    display: block;
    width: 100%;
}

.quiz-is-active-background {
    @include position-style(fixed, 0, 0, 0, 0, 6);

    background: rgba(0, 0, 0, 0.4);
}
