.unit-card {
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 var(--lecture-unit-card-shadow);
    min-width: 100%;
}

.unit-card:hover {
    box-shadow: 0 2px 4px 0 var(--lecture-unit-card-hover-shadow);
}

.unit-card-body {
    background-color: var(--lecture-unit-card-body-background);
    border-radius: 0 0 8px 8px;
}

.unit-card-header {
    min-height: 50px;
    min-width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: var(--lecture-unit-card-header-background);
    cursor: pointer;
}

.rounded {
    border-radius: 8px;
}
