<jhi-loading-indicator-container [isLoading]="isLoading">
    <div class="row" *ngIf="tutorialGroup && upcomingSessions">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <h4>{{ 'artemisApp.manageSessions.title' | artemisTranslate }}</h4>
                <div>
                    <a class="btn btn-primary" [routerLink]="['/course-management', courseId, 'tutorial-groups-management', tutorialGroup.id, 'sessions', 'create']">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        <span>{{ 'artemisApp.manageSessions.createButton' | artemisTranslate }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <span>{{ 'artemisApp.manageSessions.legend.legend' | artemisTranslate }}:</span>
            <span class="badge bg-danger">{{ 'artemisApp.manageSessions.legend.cancelled' | artemisTranslate }}</span>
            <span class="badge bg-warning">{{ 'artemisApp.manageSessions.legend.individual' | artemisTranslate }}</span>
        </div>
        <div class="table-responsive" *ngIf="upcomingSessions && upcomingSessions.length > 0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{ 'artemisApp.manageSessions.columns.date' | artemisTranslate }}</th>
                        <th scope="col">{{ 'artemisApp.manageSessions.columns.followsSchedule' | artemisTranslate }}</th>
                        <th scope="col">{{ 'artemisApp.manageSessions.columns.isCancelled' | artemisTranslate }}</th>
                        <th scope="col">{{ 'artemisApp.manageSessions.columns.actions' | artemisTranslate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let session of pastSessions" [class]="determineRowClass(session)">
                        <td>{{ session.start | artemisDate: 'short-date' }} {{ session.start | artemisDate: 'time' }} - {{ session.end | artemisDate: 'time' }}</td>
                        <td>{{ (session.tutorialGroupSchedule ? 'global.generic.yes' : 'global.generic.no') | artemisTranslate }}</td>
                        <td>{{ (session.status === tutorialGroupSessionStatus.CANCELLED ? 'global.generic.yes' : 'global.generic.no') | artemisTranslate }}</td>
                        <td>
                            <jhi-tutorial-group-session-row-buttons-component
                                [tutorialGroupSession]="session"
                                [courseId]="courseId"
                                [tutorialGroupId]="tutorialGroup.id!"
                                (cancelOrActivatePressed)="loadAll()"
                                (tutorialGroupSessionDeleted)="loadAll()"
                            ></jhi-tutorial-group-session-row-buttons-component>
                        </td>
                    </tr>
                    <tr class="table-dark text-center">
                        <td colspan="4">UPCOMING ↑ PAST ↓</td>
                    </tr>
                    <tr *ngFor="let session of upcomingSessions" [class]="determineRowClass(session)">
                        <td>{{ session.start | artemisDate: 'short-date' }} {{ session.start | artemisDate: 'time' }} - {{ session.end | artemisDate: 'time' }}</td>
                        <td>{{ (session.tutorialGroupSchedule ? 'global.generic.yes' : 'global.generic.no') | artemisTranslate }}</td>
                        <td>{{ (session.status === tutorialGroupSessionStatus.CANCELLED ? 'global.generic.yes' : 'global.generic.no') | artemisTranslate }}</td>
                        <td>
                            <jhi-tutorial-group-session-row-buttons-component
                                [tutorialGroupSession]="session"
                                [courseId]="courseId"
                                [tutorialGroupId]="tutorialGroup.id!"
                                (cancelOrActivatePressed)="loadAll()"
                                (tutorialGroupSessionDeleted)="loadAll()"
                            ></jhi-tutorial-group-session-row-buttons-component>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</jhi-loading-indicator-container>
