<!-- ngIf online-code-editor -->
<div *ngIf="exercise.allowOnlineEditor">
    <div class="d-flex mb-3">
        <div class="d-flex flex-wrap flex-column justify-content-center">
            <h4 class="mb-0 me-1">Online Code Editor</h4>
        </div>
        <!-- ngIf offline-ide clone button -->
        <jhi-exercise-details-student-actions
            *ngIf="exercise.allowOfflineIde"
            [exerciseOperationMode]="ExerciseOperationMode.EXAM"
            [exercise]="exercise"
            [courseId]="courseId"
            [showResult]="true"
        ></jhi-exercise-details-student-actions>
    </div>

    <jhi-code-editor-container
        [editable]="!repositoryIsLocked"
        [participation]="studentParticipation"
        [showEditorInstructions]="showEditorInstructions"
        [course]="getCourseFromExercise(exercise)"
        (onCommitStateChange)="onCommitStateChange($event)"
        (onFileChanged)="onFileChanged()"
    >
        <div editorTitle>
            <span>{{ exercise?.title }}</span>
            <!-- prettier-ignore -->
            <span>&nbsp;[{{ exercise?.maxPoints }} {{ 'artemisApp.examParticipation.points' | artemisTranslate }}<span
                *ngIf="exercise.bonusPoints">, {{ exercise.bonusPoints }} {{ 'artemisApp.examParticipation.bonus' | artemisTranslate }}</span>]
            <jhi-included-in-score-badge
                *ngIf="exercise.includedInOverallScore !== IncludedInOverallScore.INCLUDED_COMPLETELY"
                [includedInOverallScore]="exercise.includedInOverallScore"></jhi-included-in-score-badge></span>
        </div>
        <div editorToolbar>
            <jhi-updating-result
                *ngIf="studentParticipation"
                [exercise]="exercise"
                [showUngradedResults]="true"
                [showGradedBadge]="true"
                [participation]="studentParticipation"
                [short]="true"
                [personalParticipation]="true"
                class="me-2"
            ></jhi-updating-result>
            <jhi-programming-exercise-student-trigger-build-button
                class="me-2"
                [exercise]="exercise"
                [participation]="studentParticipation"
                [btnSize]="ButtonSize.MEDIUM"
            ></jhi-programming-exercise-student-trigger-build-button>
        </div>
        <jhi-programming-exercise-instructions
            editorSidebar
            (onNoInstructionsAvailable)="showEditorInstructions = false"
            [exercise]="exercise"
            [participation]="studentParticipation"
            [personalParticipation]="true"
            class="instructions-wrapper__content card-body p-0"
        ></jhi-programming-exercise-instructions>
    </jhi-code-editor-container>
</div>
<!-- ngIf Offline IDE clone button start -->
<div *ngIf="!exercise.allowOnlineEditor && exercise.allowOfflineIde">
    <h4 class="mb-1">
        <span>{{ exercise.title }}</span>
        <span>&nbsp;[{{ exercise.maxPoints }} {{ 'artemisApp.examParticipation.points' | artemisTranslate }}]</span>
    </h4>
    <jhi-exercise-details-student-actions [exercise]="exercise" [courseId]="courseId" [showResult]="true"></jhi-exercise-details-student-actions>
    <div style="display: flex; justify-content: flex-end">
        <jhi-updating-result
            *ngIf="studentParticipation"
            [exercise]="exercise"
            [showUngradedResults]="true"
            [showGradedBadge]="true"
            [participation]="studentParticipation"
            [short]="true"
            [personalParticipation]="true"
            class="me-2"
        ></jhi-updating-result>
    </div>
    <jhi-submission-result-status [exercise]="exercise" [studentParticipation]="studentParticipation" [showGradedBadge]="true"></jhi-submission-result-status>
    <jhi-programming-exercise-instructions
        *ngIf="exercise"
        [exercise]="exercise"
        [participation]="studentParticipation"
        [personalParticipation]="true"
    ></jhi-programming-exercise-instructions>
</div>
