<input
    #instance="ngbTypeahead"
    id="owner-search-input"
    name="search-filter"
    type="text"
    class="form-control"
    [disabled]="inputDisabled"
    [placeholder]="'artemisApp.team.selectOwnerForTeam' | artemisTranslate"
    [(ngModel)]="owner"
    (selectItem)="onAutocompleteSelect($event.item)"
    (focus)="focus.next('')"
    (click)="click.next('')"
    [ngbTypeahead]="onSearch"
    [resultFormatter]="searchResultFormatter"
    [inputFormatter]="searchInputFormatter"
    autocomplete="nope"
    role="searchbox"
    aria-autocomplete="list"
    data-1p-ignore="true"
    data-lpignore="true"
    data-form-type="other"
/>
