.group-tag-list {
    width: 100%;
    color: var(--bs-border-color);

    .group-tag {
        padding: 0 !important;
        height: 30px !important;
        border-radius: 0.25rem !important;
        background: transparent !important;

        .custom-tag {
            padding: 0.15rem 0.45rem;
            background: #0275d8;
            border-radius: 0.25rem;
            color: #fff;

            &:hover {
                opacity: 0.8;
            }

            .group-tag-remove {
                color: #fff;
            }
        }
    }

    .group-tag-input {
        height: 30px !important;
        color: var(--text-editor-color);
    }
}

::ng-deep .group-panel {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border: 1px solid var(--bs-gray-400);
}
