.course-dropdown {
    width: 200px;
    max-height: 300px;
    list-style-type: none;
    overflow-y: scroll;

    & .course-dropdown-title {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 160px;
    }
}

.course-selection {
    width: 80%;
}
