:host {
    display: flex;
    flex: 1;
    height: calc(100%); // 32px is the padding of the container

    .dashboard-container {
        > div {
            flex: 1;
        }
    }
}

.competency-accordion-body-collapsed {
    max-height: 285px;
}
.competency-accordion-body-open {
    max-height: 560px;
}
.competency-accordion-body {
    min-height: min-content;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
