.popover-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &.mobile {
        width: 15rem;
    }

    &.desktop {
        width: 39rem;
    }

    h5 {
        margin: 0;
    }

    .configuration-controls-row {
        display: flex;
        gap: 1rem;

        .configuration-controls-column {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .events-checkbox-and-label {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }

    .subscription-link-copy-section {
        display: flex;

        .subscription-link-field {
            flex: 1;
            border: 1px solid var(--border-color);
            border-right: none;
            border-bottom-left-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            padding: 0.375rem;

            textarea {
                width: 100%;
                border: none;
                font-size: 0.75rem;
                line-height: 1rem;
                resize: none;
                overflow: hidden;
                word-break: break-all;
                background: transparent;
            }

            textarea:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .subscription-link-copy-button {
            padding: 0.25rem 0.375rem;
            border: 1px solid var(--border-color);
            background-color: transparent;
            border-bottom-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem;

            &.hover-indication:hover {
                background-color: var(--primary);
                color: white;
            }
        }
    }
}
