@import 'src/main/webapp/content/scss/artemis-variables';

$label-color: #6a737d;

.icon {
    color: $label-color;
}

.answer-count,
.posting-header {
    font-size: smaller;
}

.resolved {
    color: green;
}
