.markdown-editor-wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: inherit;
    background-color: var(--md-wrapper-body-bg);
    color: var(--md-wrapper-color);

    // This is a fix for using the fullscreen mode on Safari.
    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
    }

    .md-resize-icon {
        color: var(--md-resize-icon-color);
    }

    .tab-list {
        background: var(--md-tab-list-bg);
    }
    .tab-content,
    .tab-content > .active {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;
    }

    .markdown-editor {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        touch-action: none;
        min-height: 200px;

        // Fix for full screen mode, otherwise the color is black.
        background-color: var(--md-editor-background);

        &__content {
            height: 100% !important;
            width: 100%;
            flex: 1 1 auto;
            overflow: auto;
        }

        .file-input {
            border-bottom: 1px dotted var(--md-file-input-border-color);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &__file-input {
            // cannot be set to 'display: false' or similar
            // input value would not be sent
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        &__file-input:focus,
        &__file-label:focus {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
        }

        &__file-label {
            cursor: pointer;
            width: 100%;
            border: 1px solid var(--border-color);
            border-top: none;
            border-radius: 0 0.15em 0.15em 0;

            .upload-subtitle {
                font-size: 12px;
                color: var(--bs-secondary);
            }
        }

        &__markdown {
            height: inherit;
            overflow: auto;
            padding: 1rem;
        }

        &__commands {
            margin: 0 5px 5px 5px;

            &-default,
            &-domain {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }

            &-default > * {
                margin-top: 5px;
            }
        }

        .rg-bottom {
            align-self: center;
        }
    }
}

.background-editor-high {
    min-height: 150px;
    overflow: scroll;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;

    li {
        position: relative;
    }
}

.nested {
    padding-left: 30px;
}
