:host {
    display: block;
}

mat-card-content {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;

    a {
        padding-left: 0;
        padding-right: 0;
    }
}

.img-container {
    margin-right: 1rem;
    place-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 20%;
    padding: 24px 16px;
}

.center-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
}
