<div class="btn-group flex-btn-group-container">
    @if (course.isAtLeastInstructor) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, exercise.type + '-exercises', exercise.id, 'participations']"
            class="btn btn-primary btn-sm me-1"
        >
            <fa-icon [icon]="farListAlt" />
            <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.participations"></span>
        </a>
    }
    @if (course.isAtLeastInstructor) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, exercise.type + '-exercises', exercise.id, 'scores']"
            class="btn btn-info btn-sm me-1"
        >
            <fa-icon [icon]="faTable" />
            <span class="d-none d-md-inline" jhiTranslate="entity.action.scores"></span>
        </a>
    }
    @if (course.isAtLeastEditor && exercise.type === exerciseType.PROGRAMMING) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, 'programming-exercises', exercise.id, 'grading', 'test-cases']"
            class="btn btn-warning btn-sm me-1"
        >
            <fa-icon [icon]="faFileSignature" />
            <span class="d-none d-md-inline" jhiTranslate="artemisApp.programmingExercise.configureGrading.shortTitle"></span>
        </a>
    }
    <!-- Example Submission -->
    @if (course.isAtLeastEditor && exercise.type !== exerciseType.QUIZ && exercise.type !== exerciseType.PROGRAMMING && exercise.type !== exerciseType.FILE_UPLOAD) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, exercise.type + '-exercises', exercise.id, 'example-submissions']"
            class="btn btn-success btn-sm me-1"
        >
            <fa-icon [icon]="faBook" />
            <span class="d-none d-md-inline" jhiTranslate="entity.action.exampleSubmissions"></span>
        </a>
    }
    @if (course.isAtLeastInstructor && exercise.type === exerciseType.QUIZ) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, 'quiz-exercises', exercise.id, 'quiz-point-statistic']"
            class="btn btn-info btn-sm me-1"
        >
            <fa-icon [icon]="faSignal" />
            <span class="d-none d-md-inline" jhiTranslate="artemisApp.quizExercise.statistics"></span>
        </a>
    }
    @if (course.isAtLeastInstructor && exercise.teamMode) {
        <a [routerLink]="['/course-management', course.id, 'exercises', exercise.id, 'teams']" class="btn btn-primary btn-sm me-1">
            <fa-icon [icon]="faUsers" />
            <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.teams"></span>
        </a>
    }
    <!-- The route expects a preferred participationId. As we only have Exercises and not ProgrammingExercises with
  participation, we pass a hardcoded number. The code editor component will load the proper ProgrammingExercise, choose
  a participation and update the url displayed in the browser -->
    @if (course.isAtLeastEditor && exercise.type === exerciseType.PROGRAMMING) {
        <a [routerLink]="['/course-management', course.id, 'programming-exercises', exercise.id, 'code-editor', RepositoryType.TEMPLATE, -1]" class="btn btn-warning btn-sm me-1">
            <fa-icon [icon]="faPencilAlt" />
            <span class="d-none d-md-inline" jhiTranslate="entity.action.editInEditor"></span>
        </a>
    }
    @if (course.isAtLeastEditor && exercise.type === exerciseType.QUIZ) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, 'quiz-exercises', exercise.id, 'preview']"
            class="btn btn-success btn-sm me-1"
        >
            <fa-icon [icon]="faEye" />
            <span class="d-none d-md-inline" jhiTranslate="artemisApp.quizExercise.preview"></span>
        </a>
    }
    @if (course.isAtLeastEditor && exercise.type === exerciseType.QUIZ) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, 'quiz-exercises', exercise.id, 'solution']"
            class="btn btn-success btn-sm me-1"
        >
            <fa-icon [icon]="faEye" />
            <span class="d-none d-md-inline" jhiTranslate="artemisApp.quizExercise.solution"></span>
        </a>
    }
    <!-- Edit or re-evaluate for quizzes -->
    @if (course.isAtLeastEditor && exercise.type === exerciseType.QUIZ) {
        <!-- Only show the re-evaluate button after the exam has ended -->
        @if (isExamOver() && course.isAtLeastInstructor) {
            <a
                [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, 'quiz-exercises', exercise.id, 're-evaluate']"
                class="btn btn-warning btn-sm me-1"
            >
                <fa-icon [icon]="faWrench" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.re-evaluate"></span>
            </a>
        }
        <!-- Only show the edit button if the exam has not ended. Disable the button if the exam is running -->
        @if (!isExamOver()) {
            <div style="display: flex">
                <!-- Display a warning next to the edit button if test run participations for this exercise exist -->
                @if (exercise.testRunParticipationsExist) {
                    <fa-icon
                        style="margin: 0.3em"
                        [icon]="faExclamationTriangle"
                        class="text-warning"
                        [ngbTooltip]="'artemisApp.quizExercise.edit.testRunSubmissionsExist' | artemisTranslate"
                    />
                }
                <a
                    [class.disabled]="hasExamStarted()"
                    [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, exercise.type + '-exercises', exercise.id, 'edit']"
                    class="btn btn-warning btn-sm me-1"
                >
                    <fa-icon [icon]="faWrench" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
                </a>
            </div>
        }
    }
    @if (course.isAtLeastEditor && exercise.type !== exerciseType.QUIZ) {
        <a
            [routerLink]="['/course-management', course.id, 'exams', exam.id, 'exercise-groups', exerciseGroupId, exercise.type + '-exercises', exercise.id, 'edit']"
            class="btn btn-warning btn-sm me-1"
        >
            <fa-icon [icon]="faWrench" />
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
        </a>
    }
    @if (course.isAtLeastInstructor && exercise.type !== exerciseType.PROGRAMMING) {
        <button
            jhiDeleteButton
            [entityTitle]="exercise.title || ''"
            deleteQuestion="artemisApp.exercise.delete.question"
            deleteConfirmationText="artemisApp.exercise.delete.typeNameToConfirm"
            (delete)="deleteExercise()"
            [dialogError]="dialogError$"
        >
            <fa-icon [icon]="faTrash" />
        </button>
    }
    @if (course.isAtLeastInstructor && exercise.type === exerciseType.PROGRAMMING) {
        <button
            jhiDeleteButton
            [entityTitle]="exercise.title || ''"
            entitySummaryTitle="artemisApp.programmingExercise.delete.summary.title"
            [fetchEntitySummary]="fetchProgrammingExerciseDeletionSummary(exercise.id!)"
            deleteQuestion="artemisApp.programmingExercise.delete.question"
            [translateValues]="{
                courseTitle: course.title,
                courseType: course.testCourse
                    ? ('artemisApp.programmingExercise.delete.testCourse' | artemisTranslate)
                    : ('artemisApp.programmingExercise.delete.realCourse' | artemisTranslate),
            }"
            (delete)="deleteProgrammingExercise($event)"
            [dialogError]="dialogError$"
            deleteConfirmationText="artemisApp.exercise.delete.typeNameToConfirm"
            [additionalChecks]="
                localCIEnabled
                    ? {}
                    : {
                          deleteStudentReposBuildPlans: 'artemisApp.programmingExercise.delete.studentReposBuildPlans',
                          deleteBaseReposBuildPlans: 'artemisApp.programmingExercise.delete.baseReposBuildPlans',
                      }
            "
        >
            <fa-icon [icon]="faTrash" />
        </button>
    }
</div>
