.container {
    position: relative;
}

.chat-widget {
    position: fixed;
    bottom: 100px;
    right: 60px;
    width: 300px;
    height: 400px;
    background-color: var(--iris-chat-widget-background);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: var(--artemis-dark);
    color: white;
    font-weight: bold;
    padding: 10px;
}

.header-icon {
    border: none;
    background: transparent;
    color: var(--secondary);
}

.chat-body {
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.client-chat {
    background-color: var(--iris-client-chat-background);
    color: var(--bs-body-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.client-chat-error {
    background-color: var(--artemis-alert-danger-background);
    color: var(--bs-body-color);
    padding: 10px;
    border: 1px solid var(--artemis-alert-danger-border);
    border-radius: 10px;
    margin-top: 10px;
}

.my-chat {
    width: fit-content;
    margin-left: auto;
    background-color: var(--iris-my-chat-background);
    color: var(--bs-body-color);
    padding: 10px;
    border-radius: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--iris-client-chat-input);
}

.chat-input input {
    flex: 1;
    margin-right: 10px;
    padding: 5px 15px;
    border: 1px solid var(--gray-300);
    border-radius: 20px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--green);
    border: none;
}

.btn-circle:hover,
.btn-circle:active {
    background-color: var(--iris-btn-circle-hover);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-dots {
    animation: blink 1s infinite;
}

.unread-message {
    display: flex;
    justify-content: center;
    color: var(--gray-600);
    padding-top: 8px;
    padding-bottom: 8px;
}

.rate-message-buttons {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.thumbs-up-clicked {
    color: var(--yellow);
}

.thumbs-down-clicked {
    color: var(--red);
}

.rate-button-not-clicked {
    color: var(--secondary);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake-animation {
    animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}
