.selectedRow {
    background-color: var(--primary);
}

.exerciseGroupNotSelected {
    background-color: grey;
}

.smallbox {
    width: 50px;
}
.mediumbox {
    width: 125px;
}

.largebox {
    width: 250px;
}
