<form id="teamUpdateDialogForm" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title">
            <span [jhiTranslate]="pendingTeam.id ? 'artemisApp.team.updateTeam.label' : 'artemisApp.team.createTeam.label'">
                {{ pendingTeam.id ? 'Update Team' : 'Create Team' }}
            </span>
            <span>({{ exercise.title }})</span>
        </h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="label-narrow" jhiTranslate="artemisApp.team.name.label" for="teamName">Name</label>
            <input
                type="text"
                class="form-control"
                name="name"
                id="teamName"
                required
                minlength="3"
                [(ngModel)]="pendingTeam.name"
                (ngModelChange)="onTeamNameChanged($event)"
                #name="ngModel"
            />
            <ng-container *ngFor="let e of name.errors! | keyvalue | removekeys: ['required']">
                <div class="form-control-error text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <span [jhiTranslate]="'artemisApp.team.name' + '.' + e.key"></span>
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <div>
                <label class="label-narrow" jhiTranslate="artemisApp.team.shortName.label" for="teamShortName">Short Name</label>
                <jhi-help-icon text="artemisApp.team.shortName.tooltip"></jhi-help-icon>
            </div>
            <input
                type="text"
                class="form-control"
                name="shortName"
                id="teamShortName"
                required
                minlength="3"
                [pattern]="shortNamePattern"
                [(ngModel)]="pendingTeam.shortName"
                (ngModelChange)="onTeamShortNameChanged($event)"
                [readonly]="shortNameReadOnly"
                #shortName="ngModel"
            />
            <ng-container *ngFor="let e of shortName.errors! | keyvalue | removekeys: ['required']">
                <div class="form-control-error text-danger" *ngIf="shortName.invalid && (shortName.dirty || shortName.touched)">
                    <span [jhiTranslate]="'artemisApp.team.shortName' + '.' + e.key"></span>
                </div>
            </ng-container>
        </div>
        <div class="form-group">
            <div class="d-flex align-items-end">
                <div>
                    <label class="label-narrow" jhiTranslate="artemisApp.team.owner.label">Tutor</label>
                    <jhi-help-icon text="artemisApp.team.owner.tooltip" class="me-1"></jhi-help-icon>
                </div>
                <fa-icon class="search-searching" [icon]="faSpinner" [spin]="true" *ngIf="searchingOwner"></fa-icon>
                <span *ngIf="searchingOwnerQueryTooShort" class="label-inline-message text-danger" jhiTranslate="artemisApp.team.ownerSearch.queryTooShort">
                    Please enter at least 3 characters.
                </span>
                <span *ngIf="searchingOwnerNoResultsForQuery" class="label-inline-message text-danger">
                    <span jhiTranslate="artemisApp.team.ownerSearch.noResults">No tutors found in course for search:</span>
                    <strong>{{ searchingOwnerNoResultsForQuery }}</strong>
                </span>
                <span *ngIf="searchingOwnerFailed" class="label-inline-message text-danger" jhiTranslate="artemisApp.team.ownerSearch.failed">
                    Search failed. Please try again.
                </span>
                <span
                    *ngIf="team.id && team.owner?.id !== pendingTeam.owner?.id"
                    jhiTranslate="artemisApp.team.ownerChangeWarning"
                    [translateValues]="{ shortName: team.shortName }"
                    class="label-inline-message text-danger"
                >
                    This will change the tutor for the team {{ team.shortName }} in the whole course!
                </span>
            </div>
            <jhi-team-owner-search
                id="teamOwner"
                [inputDisabled]="!exercise.isAtLeastInstructor"
                [course]="exercise.course!"
                [exercise]="exercise"
                [team]="team"
                (selectOwner)="onSelectOwner($event)"
                (searching)="searchingOwner = $event"
                (searchQueryTooShort)="searchingOwnerQueryTooShort = $event"
                (searchNoResults)="searchingOwnerNoResultsForQuery = $event"
                (searchFailed)="searchingOwnerFailed = $event"
            >
            </jhi-team-owner-search>
        </div>
        <div class="form-group">
            <div class="d-flex align-items-end">
                <label class="label-narrow me-1" jhiTranslate="artemisApp.team.students">Students</label>
                <fa-icon class="search-searching" [icon]="faSpinner" [spin]="true" *ngIf="searchingStudents"></fa-icon>
                <span *ngIf="searchingStudentsQueryTooShort" class="label-inline-message text-danger" jhiTranslate="artemisApp.team.studentSearch.queryTooShort">
                    Please enter at least 3 characters.
                </span>
                <span *ngIf="searchingStudentsNoResultsForQuery" class="label-inline-message text-danger">
                    <span jhiTranslate="artemisApp.team.studentSearch.noResults">No students found in course for search:</span>
                    <strong>{{ searchingStudentsNoResultsForQuery }}</strong>
                </span>
                <span *ngIf="searchingStudentsFailed" class="label-inline-message text-danger" jhiTranslate="artemisApp.team.studentSearch.failed">
                    Search failed. Please try again.
                </span>
            </div>
            <jhi-team-student-search
                id="teamStudents"
                [course]="exercise.course!"
                [exercise]="exercise"
                [team]="team"
                [studentsFromPendingTeam]="pendingTeam.students || []"
                (selectStudent)="onAddStudent($event)"
                (searching)="searchingStudents = $event"
                (searchQueryTooShort)="searchingStudentsQueryTooShort = $event"
                (searchNoResults)="searchingStudentsNoResultsForQuery = $event"
                (searchFailed)="searchingStudentsFailed = $event"
            >
            </jhi-team-student-search>
            <ul class="list-group list-group--students my-3">
                <li *ngFor="let student of pendingTeam.students; index as i" class="list-group-item-container d-flex align-items-center">
                    <div class="list-group-item-index">
                        {{ i + 1 }}
                    </div>
                    <div class="list-group-item d-flex align-items-center" [class.has-error]="hasConflictingTeam(student)">
                        <div class="student-name">{{ student.name }} ({{ student.login }})</div>
                        <button class="jest-student-remove-link student-remove-link ms-4" (click)="onRemoveStudent(student)">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>
                    </div>
                    <div class="list-group-item-error hidden-md-down" *ngIf="hasConflictingTeam(student)">
                        <fa-icon class="me-1" [icon]="faExclamationTriangle"></fa-icon>
                        Already assigned to team with id {{ getConflictingTeam(student) }}.
                    </div>
                </li>
                <li *ngIf="pendingTeam.students && pendingTeam.students.length === 0" class="list-group-item-container d-flex align-items-center">
                    <div class="list-group-item-index text-muted">1</div>
                    <div class="list-group-item d-flex align-items-center">
                        <div class="text-muted" jhiTranslate="artemisApp.team.noStudentsAddedYet">No students added yet.</div>
                    </div>
                </li>
            </ul>
            <div class="alert mt-3" [class.alert-info]="!showIgnoreTeamSizeRecommendationOption" [class.alert-warning]="showIgnoreTeamSizeRecommendationOption" role="alert">
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="font-weight-bold" jhiTranslate="artemisApp.team.teamSizeNote">Recommended team size:</span>
                        {{ config.minTeamSize }} - {{ config.maxTeamSize }}
                        <span jhiTranslate="artemisApp.team.teamSizeUnit">students</span>
                    </div>
                    <div *ngIf="showIgnoreTeamSizeRecommendationOption" class="form-check">
                        <input
                            id="ignoreTeamSizeRecommendation"
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            [(ngModel)]="ignoreTeamSizeRecommendation"
                            [ngModelOptions]="{ standalone: true }"
                        />
                        <label class="form-check-label" for="ignoreTeamSizeRecommendation">
                            <span jhiTranslate="artemisApp.team.ignoreTeamSizeRecommendation">Proceed against recommendation</span>
                            <fa-icon class="ms-1" [icon]="faExclamationTriangle"></fa-icon>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default cancel" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="faBan"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.invalid || isSaving || teamSizeViolationUnconfirmed" class="btn btn-primary">
            <fa-icon [icon]="faSave"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
