<div>
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="artemisApp.consistencyCheck.title">Consistency checks</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <div class="justify-content-center p-1">
            <jhi-alert></jhi-alert>
            <jhi-alert-error></jhi-alert-error>
            <span jhiTranslate="artemisApp.consistencyCheck.text">Checks on programming exercises are performed and occurring consistency errors will be displayed below.</span>
            <br />
            <small jhiTranslate="artemisApp.consistencyCheck.warning">For courses with many programming exercises this will take some time.</small>
            <div *ngIf="isLoading" class="d-flex justify-content-center m-5">
                <div class="spinner-border" role="status">
                    <span class="sr-only">{{ 'loading' | artemisTranslate }}</span>
                </div>
            </div>
            <div *ngIf="!isLoading" class="mt-3 text-center">
                <div *ngIf="inconsistencies != undefined && inconsistencies.length == 0">
                    <span class="h1 text-success"><fa-icon [icon]="faCheck"></fa-icon></span>
                    <br />
                    <span jhiTranslate="artemisApp.consistencyCheck.noInconsistencies">No inconsistencies found</span>
                </div>
                <div *ngIf="inconsistencies != undefined && inconsistencies.length > 0">
                    <span class="h1 text-danger"><fa-icon [icon]="faTimes"></fa-icon></span>
                    <br />
                    <span jhiTranslate="artemisApp.consistencyCheck.inconsistenciesFound">Following inconsistencies have been found</span>
                </div>
            </div>
            <div class="table-responsive p-1 my-5" *ngIf="!isLoading && inconsistencies != undefined && inconsistencies.length > 0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span jhiTranslate="artemisApp.programmingExercise.detail.title">Programming Exercise</span></th>
                            <th><span jhiTranslate="artemisApp.consistencyCheck.error.type">Error type</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let error of inconsistencies">
                            <td>
                                <a [routerLink]="['/course-management', error.programmingExerciseCourseId, 'programming-exercises', error.programmingExercise!.id]">
                                    <ngb-highlight [result]="error.programmingExercise!.title!"></ngb-highlight>
                                </a>
                                <ngb-highlight *ngIf="error.programmingExerciseCourseId == undefined" [result]="error.programmingExercise!.title!"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [jhiTranslate]="'artemisApp.consistencyCheck.error.' + error.type"></ngb-highlight>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
