.icon-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-general-settings {
    padding: 5px 0;
    border: 1px;
    border-radius: 3px;
    transition: box-shadow 0.1s linear;
}
