<div *ngIf="exam" (click)="openExam()" id="exam-{{ exam.id }}">
    <div class="row card-header text-white bg-secondary">
        <h4 class="card-title text-center">{{ exam.title }}</h4>
    </div>
    <div class="row card-body justify-content-center">
        <h4 class="col-auto"><fa-icon [icon]="faPenAlt" size="3x"></fa-icon></h4>
    </div>
    <div class="row card-footer">
        <div *ngIf="exam.startDate" class="col-12">{{ 'artemisApp.exam.overview.start' | artemisTranslate: { start: exam.startDate | artemisDate } }}</div>
        <div *ngIf="exam.startDate && exam.endDate" class="col-12">
            {{ 'artemisApp.exam.overview.duration' | artemisTranslate }} {{ examDuration | artemisDurationFromSeconds }}
        </div>
        <div *ngIf="exam.maxPoints" class="col-12">{{ 'artemisApp.exam.overview.maxPoints' | artemisTranslate: { points: exam.maxPoints } }}</div>
    </div>
</div>
