$draggable-width: 15px;

jhi-score-display {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.modeling-assessment {
    position: relative;
    height: 100%;
}

.resizable {
    display: flex;
    .draggable-right {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $draggable-width;
    }
    jhi-score-display {
        right: $draggable-width;
    }
}

.apollon-container {
    height: 100%;
    overflow: scroll;
}
