<div *ngIf="course">
    <div class="d-flex">
        <h4 id="course-page-heading" jhiTranslate="artemisApp.examManagement.title">Exams</h4>
        <div class="ms-auto d-flex" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INSTRUCTOR']">
            <a class="btn btn-primary jh-create-entity create-exam" id="create-exam" *ngIf="course.isAtLeastInstructor" [routerLink]="['new']">
                <fa-icon [icon]="faPlus"></fa-icon>
                <span class="hidden-sm-down">{{ 'artemisApp.examManagement.createExam' | artemisTranslate }}</span>
            </a>
        </div>
    </div>
    <div class="row"></div>
    <br />
    <div class="table-responsive" id="exams-table" *ngIf="exams">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="sortRows()">
                    <th class="d-md-table-cell" jhiSortBy="id">
                        <span>{{ 'global.field.id' | artemisTranslate }}</span>
                        <fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th jhiSortBy="title">
                        <span>{{ 'artemisApp.exam.title' | artemisTranslate }}</span>
                        <fa-icon [icon]="faSort"></fa-icon>
                    </th>
                    <th class="d-md-table-cell">
                        <span>{{ 'artemisApp.examStatus.columnTitle' | artemisTranslate }}</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exam of exams; trackBy: trackId">
                    <td class="d-md-table-cell">
                        <span *ngIf="course.isAtLeastInstructor; else notClickableExamId">
                            <a [routerLink]="[exam.id]">{{ exam.id }}</a>
                        </span>
                        <ng-template #notClickableExamId>
                            {{ exam.id }}
                        </ng-template>
                    </td>
                    <td class="d-md-table-cell">
                        <ng-container>
                            <div class="bold" *ngIf="course.isAtLeastInstructor; else notClickableExamTitle">
                                <a id="exam-{{ exam.id }}-title" [routerLink]="[exam.id]">{{ exam.title }}</a>
                            </div>
                            <div class="badge bg-success" *ngIf="!exam.testExam">{{ 'artemisApp.examManagement.testExam.realExam' | artemisTranslate }}</div>
                            <div class="badge bg-primary" *ngIf="exam.testExam">{{ 'artemisApp.examManagement.testExam.testExam' | artemisTranslate }}</div>
                        </ng-container>
                        <ng-template #notClickableExamTitle>
                            <span>
                                {{ exam.title }}
                            </span>
                        </ng-template>
                    </td>
                    <td class="d-md-table-cell">
                        <jhi-exam-status [exam]="exam" [isAtLeastInstructor]="!!course.isAtLeastInstructor" class="d-flex justify-content-center"></jhi-exam-status>
                    </td>
                    <td class="d-md-table-cell">
                        <div class="btn-group flex-btn-group-container">
                            <div class="btn-group-vertical me-1 mb-1 exam-management-button-section">
                                <a
                                    *ngIf="course.isAtLeastEditor"
                                    [routerLink]="[exam.id, 'exercise-groups']"
                                    class="btn btn-primary btn-sm me-1 mb-1 exercise-button d-flex align-items-center justify-content-center"
                                    id="exercises-button-{{ exam.id }}-groups"
                                >
                                    <div>
                                        <fa-icon [icon]="faListAlt"></fa-icon>
                                        <span class="d-none d-md-inline">{{ 'artemisApp.examManagement.exerciseGroups' | artemisTranslate }}</span>
                                    </div>
                                </a>
                                <a
                                    *ngIf="course.isAtLeastInstructor"
                                    [routerLink]="[exam.id, 'student-exams']"
                                    class="btn btn-primary btn-sm me-1 mb-1 d-flex align-items-center justify-content-center"
                                    id="student-exams-{{ exam.id }}"
                                >
                                    <div>
                                        <fa-icon [icon]="faEye"></fa-icon>
                                        <span class="d-none d-md-inline">{{ 'artemisApp.examManagement.studentExams' | artemisTranslate }}</span>
                                    </div>
                                </a>
                                <a
                                    *ngIf="!exam.testExam && ((course.isAtLeastTutor && examHasFinished(exam)) || course.isAtLeastInstructor)"
                                    [routerLink]="[exam.id, 'assessment-dashboard']"
                                    class="btn btn-primary btn-sm me-1 mb-1 exercise-button d-flex align-items-center justify-content-center"
                                    id="exercises-button-{{ exam.id }}"
                                >
                                    <div>
                                        <fa-icon [icon]="faThList"></fa-icon>
                                        <span class="d-none d-md-inline">{{ 'artemisApp.examManagement.assessmentDashboard' | artemisTranslate }}</span>
                                    </div>
                                </a>
                                <a
                                    *ngIf="course.isAtLeastInstructor"
                                    [routerLink]="[exam.id, 'edit']"
                                    class="btn btn-warning btn-sm me-1 mb-1 d-flex align-items-center justify-content-center"
                                >
                                    <div>
                                        <fa-icon [icon]="faWrench"></fa-icon>
                                        <span class="d-none d-md-inline">{{ 'entity.action.edit' | artemisTranslate }}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="btn-group-vertical me-1 mb-1 exam-management-button-section">
                                <a *ngIf="course.isAtLeastInstructor" [routerLink]="[exam.id, 'test-runs']" class="btn btn-info btn-sm me-1 mb-1 assessment-dashboard">
                                    <fa-icon [icon]="faUser"></fa-icon>
                                    <span class="d-none d-md-inline">{{ 'artemisApp.examManagement.testRun.testRun' | artemisTranslate }}</span>
                                </a>
                                <a
                                    *ngIf="!exam.testExam && course.isAtLeastInstructor"
                                    [routerLink]="[exam.id, 'students']"
                                    class="btn btn-info btn-sm me-1 mb-1 assessment-dashboard"
                                    id="student-button-{{ exam.id }}"
                                >
                                    <fa-icon [icon]="faUser"></fa-icon>
                                    <span class="d-none d-md-inline">{{ 'artemisApp.examManagement.students' | artemisTranslate }}</span>
                                </a>
                                <a
                                    *ngIf="course.isAtLeastInstructor"
                                    [routerLink]="['/course-management', course.id, 'exams', exam.id, 'scores']"
                                    class="btn btn-info btn-sm me-1 mb-1"
                                >
                                    <fa-icon [icon]="faEye"></fa-icon>
                                    <span class="d-none d-md-inline">{{ 'entity.action.scores' | artemisTranslate }}</span>
                                </a>
                                <a *ngIf="course.isAtLeastInstructor" [routerLink]="[exam.id]" class="btn btn-info btn-sm me-1 mb-1" id="checklist-button-{{ exam.id }}">
                                    <fa-icon [icon]="faThList"></fa-icon>
                                    <span class="d-none d-md-inline">{{ 'artemisApp.examManagement.examChecklist' | artemisTranslate }}</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
