<div class="exam-status-wrapper" [ngClass]="course?.isAtLeastInstructor ? 'instructor-view' : 'tutor-view'">
    <!-- 1. Exam preparation -->
    @if (course?.isAtLeastInstructor) {
        <div class="status-step">
            <!-- If all preparation tasks are finished, show a green check as header, show a red cross else -->
            <div class="d-flex justify-content-center header-icon">
                @if (examPreparationFinished) {
                    <fa-icon [icon]="faCheckCircle" class="check" />
                }
                @if (!examPreparationFinished) {
                    <fa-icon [icon]="faTimesCircle" class="cross" />
                }
            </div>
            <div class="status-step-content">
                <h6 class="text-center" jhiTranslate="artemisApp.examStatus.preparation.{{ isTestExam ? 'testExam.' : '' }}examPreparation"></h6>
                <ol>
                    <li class="d-flex align-items-center">
                        <span
                            jhiTranslate="artemisApp.examStatus.preparation.configureExercises"
                            [translateValues]="{ amount: exam.exerciseGroups ? exam.exerciseGroups.length : 0 }"
                        ></span>
                        @if (configuredExercises) {
                            <fa-icon [icon]="faCheckCircle" class="check" />
                        }
                        @if (!configuredExercises) {
                            <fa-icon [icon]="faTimes" class="cross" />
                        }
                    </li>
                    @if (isTestExam) {
                        <li class="d-flex align-items-center">
                            @if (maxPointExercises === exam.examMaxPoints) {
                                <span>{{ 'artemisApp.examStatus.preparation.testExam.maxPointsCorrect' | artemisTranslate }}{{ exam.examMaxPoints }}</span>
                                <fa-icon [icon]="faCheckCircle" class="check" />
                            }
                            @if (maxPointExercises !== exam.examMaxPoints) {
                                <span jhiTranslate="artemisApp.examStatus.preparation.testExam.maxPointsWrong" [translateValues]="{ points: maxPointExercises }"></span>
                                <fa-icon [icon]="faTimes" class="cross" />
                            }
                        </li>
                    }
                    @if (!isTestExam) {
                        <li class="d-flex align-items-center">
                            <span jhiTranslate="artemisApp.examStatus.preparation.registerStudents" [translateValues]="{ registered: exam.numberOfExamUsers }"></span>
                            @if (registeredStudents) {
                                <fa-icon [icon]="faCheckCircle" class="check" />
                            }
                            @if (!registeredStudents) {
                                <fa-icon [icon]="faTimes" class="cross" />
                            }
                        </li>
                    }
                    @if (!isTestExam) {
                        <li class="d-flex align-items-center">
                            <span jhiTranslate="artemisApp.examStatus.preparation.generateStudentExams"></span>
                            <!-- If no students are registered yet, we do not want to display "0 of 0" -->
                            @if (!registeredStudents) {
                                <span jhiTranslate="artemisApp.examStatus.preparation.notRegistered"></span>
                            }
                            @if (registeredStudents) {
                                <span
                                    jhiTranslate="artemisApp.examStatus.preparation.registered"
                                    [translateValues]="{
                                        generated: numberOfGeneratedStudentExams,
                                        total: exam.numberOfExamUsers,
                                    }"
                                ></span>
                            }
                            @if (generatedStudentExams) {
                                <fa-icon [icon]="faCheckCircle" class="check" />
                            }
                            @if (!generatedStudentExams) {
                                <fa-icon [icon]="faTimes" class="cross" />
                            }
                        </li>
                    }
                    @if (!isTestExam) {
                        <li class="d-flex align-items-center">
                            <span jhiTranslate="artemisApp.examStatus.preparation.prepareExerciseStart"></span>
                            @if (preparedExerciseStart) {
                                <fa-icon [icon]="faCheckCircle" class="check" />
                            }
                            @if (!preparedExerciseStart) {
                                <fa-icon [icon]="faTimes" class="cross" />
                            }
                        </li>
                    }
                </ol>
            </div>
        </div>
        <div class="connector" [ngClass]="mandatoryPreparationFinished ? 'check' : 'cross'"></div>
    }
    <!-- 2. Exam conduction -->
    <div class="status-step">
        <!-- If exam conduction is planned, but not started yet, show a red cross,
  If exam is currently conducted, show a yellow dot
  If the exam preparation and the conduction period are finished, show a green check
  If the test eam preparation is not yet finished, but the test eam has already started, show a warning-->
        <div class="d-flex justify-content-center header-icon">
            @switch (examConductionState) {
                @case (examConductionStateEnum.PLANNED) {
                    <fa-icon [icon]="faTimesCircle" class="cross" />
                }
                @case (examConductionStateEnum.RUNNING) {
                    <fa-icon [icon]="faDotCircle" class="running" />
                }
                @case (examConductionStateEnum.FINISHED) {
                    <fa-icon [icon]="faCheckCircle" class="check" />
                }
                @case (examConductionStateEnum.ERROR) {
                    <fa-icon [icon]="faCircleExclamation" class="cross" />
                }
            }
        </div>
        <div class="status-step-content">
            <div class="text-center mb-1">
                <h6 jhiTranslate="artemisApp.examStatus.conduction.{{ isTestExam ? 'testExam.' : '' }}examConduction"></h6>
                <b>{{ exam.startDate | artemisDate }} - {{ exam.endDate | artemisDate }}</b>
            </div>
            <!-- In case the exercise configuration is wrong, but the test eam already started, students are not able to start a test eam -->
            @if (examConductionState === examConductionStateEnum.ERROR) {
                <div class="text-center mb-1">
                    <h6 jhiTranslate="artemisApp.examStatus.conduction.{{ isTestExam ? 'testExam.' : '' }}conductionSuspended"></h6>
                </div>
            }
            @if (course?.isAtLeastInstructor && examChecklist && examConductionState !== examConductionStateEnum.ERROR) {
                <ol>
                    <li>
                        <span> {{ 'artemisApp.examStatus.conduction.workingTime' | artemisTranslate }}: {{ exam.workingTime! | artemisDurationFromSeconds: true }} </span>
                    </li>
                    @if (isTestExam) {
                        <li>
                            <span> {{ 'artemisApp.examStatus.conduction.testExam.numberOfStudents' | artemisTranslate }}: {{ exam.numberOfExamUsers }} </span>
                        </li>
                    }
                    <li>
                        <span>
                            {{ 'artemisApp.examStatus.conduction.' + (isTestExam ? 'testExam.' : '') + 'startedExams' | artemisTranslate }}
                            :
                            {{ numberOfStarted }}
                            ({{ numberOfGeneratedStudentExams > 0 ? round((numberOfStarted * 100) / examChecklist.numberOfGeneratedStudentExams!, 1) : 0 }}
                            %)
                        </span>
                    </li>
                    <li>
                        <span>
                            {{ 'artemisApp.examStatus.conduction.' + (isTestExam ? 'testExam.' : '') + 'submittedExams' | artemisTranslate }}
                            :
                            {{ numberOfSubmitted }}
                            ({{ numberOfGeneratedStudentExams > 0 ? round((numberOfSubmitted * 100) / numberOfGeneratedStudentExams!, 1) : 0 }}
                            %)
                        </span>
                    </li>
                </ol>
            }
        </div>
    </div>
    @if (!isTestExam) {
        <div class="connector" [ngClass]="examConductionState === examConductionStateEnum.FINISHED ? 'check' : ''"></div>
    }
    <!-- 3. Exam correction -->
    @if (!isTestExam) {
        <div class="status-step">
            <!-- If exam review phase is running or there are still open complaints, show a yellow dot,
    If exam review phase is finished and all complaints are resolved, show a green check
    Else, show a red cross -->
            <div class="d-flex justify-content-center header-icon">
                @switch (examCorrectionState) {
                    @case (examReviewStateEnum.RUNNING) {
                        <fa-icon [icon]="faDotCircle" class="running" />
                    }
                    @case (examReviewStateEnum.FINISHED) {
                        <fa-icon [icon]="faCheckCircle" class="check" />
                    }
                    @default {
                        <fa-icon [icon]="faTimesCircle" class="cross" />
                    }
                }
            </div>
            <div class="status-step-content">
                <h6 class="text-center" jhiTranslate="artemisApp.examStatus.correction.examCorrection"></h6>
                @if (examChecklist) {
                    <ol>
                        @if (examChecklist.numberOfTotalExamAssessmentsFinishedByCorrectionRound !== null && numberOfSubmitted !== 0) {
                            <div>
                                @for (
                                    finishedByCorrectionRound of examChecklist.numberOfTotalExamAssessmentsFinishedByCorrectionRound;
                                    track finishedByCorrectionRound;
                                    let i = $index
                                ) {
                                    <li>
                                        <span>
                                            {{ 'artemisApp.examStatus.correction.correctionRoundProgress' | artemisTranslate: { index: i + 1 } }}
                                            :
                                            {{
                                                Math.min(
                                                    examChecklist.numberOfTotalParticipationsForAssessment > 0
                                                        ? round((finishedByCorrectionRound * 100) / examChecklist.numberOfTotalParticipationsForAssessment, 1)
                                                        : 0,
                                                    100
                                                )
                                            }}%
                                        </span>
                                    </li>
                                }
                            </div>
                        }
                        <li class="d-flex align-items-center">
                            <span>{{ 'artemisApp.examStatus.correction.publishResultDate' | artemisTranslate }}: </span>
                            @if (exam.publishResultsDate) {
                                <b>
                                    {{ exam.publishResultsDate | artemisDate }}
                                    <fa-icon [icon]="faCheckCircle" class="check" />
                                </b>
                            }
                            @if (!exam.publishResultsDate) {
                                <b class="unset" jhiTranslate="artemisApp.examStatus.correction.notSet"></b>
                            }
                            <br />
                        </li>
                        <li>
                            <span>{{ 'artemisApp.examStatus.correction.examReview' | artemisTranslate }}:</span>
                            @if (examReviewState) {
                                <b [ngClass]="examReviewState">{{ 'artemisApp.examStatus.correction.' + examReviewState | artemisTranslate }}</b>
                            }
                        </li>
                        <li>
                            <span>
                                {{ 'artemisApp.examStatus.correction.complaints' | artemisTranslate }}:
                                {{
                                    examChecklist.numberOfAllComplaintsDone !== undefined && examChecklist.numberOfAllComplaints && examChecklist.numberOfAllComplaints > 0
                                        ? round((examChecklist.numberOfAllComplaintsDone * 100) / examChecklist.numberOfAllComplaints, 1)
                                        : 100
                                }}%
                                {{
                                    'artemisApp.examStatus.correction.complaintsCount'
                                        | artemisTranslate
                                            : {
                                                  done: examChecklist.numberOfAllComplaintsDone!,
                                                  total: examChecklist.numberOfAllComplaints!,
                                              }
                                }}
                            </span>
                        </li>
                    </ol>
                }
            </div>
        </div>
    }
</div>
