.instructor-view {
    max-width: 750px;
    min-width: 650px;
}

.tutor-view {
    max-width: 450px;
    min-width: 350px;
}

.exam-status-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 170px;

    .planned,
    .finished,
    .check {
        color: var(--success);
    }

    .unset,
    .cross {
        color: var(--danger);
    }

    li {
        display: list-item !important;
    }

    .running {
        color: var(--warning);
    }

    .connector {
        width: 100%;
        min-width: 50px;
        border-top: 2px solid;
        margin-top: 1.5em;
    }

    .status-step {
        width: 25px;
        overflow-x: visible;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        align-items: center;

        .status-step-content {
            min-width: fit-content;
            white-space: nowrap;
        }
    }

    .header-icon {
        z-index: 2;
        font-size: 2em;
    }
}
