.drag-item {
    background: transparent;
    border: none;
    position: relative;
    max-width: 360px;
    margin: 5px 4px;

    img {
        max-width: 160px;
        max-height: 160px;
    }

    &.no-click {
        * {
            cursor: default !important;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .drag-item-picture {
        cursor: move;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .drag-item-text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        white-space: pre-wrap;

        div {
            display: flex;
            overflow: hidden;
        }

        span {
            border: 1px solid #000;
            background: white;
            color: black;
            padding: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.cdk-drag-preview {
    img {
        max-height: 158px;
        max-width: 160px;
    }
}
