.list-without-numeration {
    list-style-type: none;
    padding-left: 0;
}

.working-time-form {
    width: fit-content;
}

.form-number-input {
    width: 100px;
}

.exam-session-table-wrapper {
    max-width: 100%;
    overflow-x: auto;

    thead {
        white-space: nowrap;
    }

    .user-agent {
        min-width: 350px;
    }
}

.tooltip-wrapper {
    display: inline-block; /* display: block works as well */
    margin: 50px; /* make some space so the tooltip is visible */
}

.tooltip-wrapper .btn[disabled] {
    /* don't let button block mouse events from reaching wrapper */
    pointer-events: none;
}

.tooltip-wrapper.disabled {
    /* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
    cursor: not-allowed;
}
