.competency-node {
    white-space: nowrap;
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius-lg);
    padding: 10px 12px;

    .progress-container {
        color: var(--bs-white);
        padding: 2px 8px;
        border-radius: var(--bs-border-radius-lg);
    }

    .green-competency {
        background-color: var(--bs-green);
    }

    .gray-competency {
        background-color: var(--bs-gray);
    }

    .yellow-competency {
        background-color: var(--bs-yellow);
    }
}
