@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import 'src/main/webapp/content/scss/artemis-variables';

span {
    white-space: pre-wrap;

    &:hover {
        &.clickable {
            background: var(--textblock-assessment-span-hover-background);
            padding: 2px 4px;
            border-radius: 4px;
        }
    }

    &.highlighted {
        color: var(--textblock-assessment-text-feedback-highlighted-color);
        background-color: var(--textblock-assessment-text-feedback-highlighted-background);
    }

    &.text-with-feedback {
        padding: 2px 4px;
        border-radius: 4px;

        &.active {
            text-decoration-line: underline;
        }

        &.positive-feedback {
            color: var(--textblock-assessment-text-feedback-positive-color);
            background-color: var(--textblock-assessment-text-feedback-positive-background);

            &.active {
                text-decoration-style: double;
                text-decoration-color: var(--textblock-assessment-text-feedback-positive-active-decoration);
            }
        }

        &.negative-feedback {
            color: var(--textblock-assessment-text-feedback-negative-color);
            background-color: var(--textblock-assessment-text-feedback-negative-background);

            &.active {
                text-decoration-style: wavy;
                text-decoration-color: var(--textblock-assessment-text-feedback-negative-active-decoration);
            }
        }

        &.neutral-feedback {
            color: var(--textblock-assessment-text-feedback-neutral-color);
            background-color: var(--textblock-assessment-text-feedback-neutral-background);

            &.active {
                text-decoration-style: dashed;
                text-decoration-color: var(--textblock-assessment-text-feedback-neutral-active-decoration);
            }
        }

        &.conflicting-feedback {
            color: var(--textblock-assessment-text-feedback-conflicting-color);
            background-color: var(--textblock-assessment-text-feedback-conflicting-background);

            &.active {
                text-decoration-style: dashed;
                text-decoration-color: var(--textblock-assessment-text-feedback-conflicting-active-decoration);
            }
        }
    }
}

jhi-textblock-feedback-editor {
    margin-top: 1em;
    border-width: 0;

    &.active {
        border: 2px var(--textblock-assessment-textblock-feedback-editor-active-border) solid;
    }
}
