.feedback-item {
    border-radius: 4px;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-weight: normal;

    span:first-child {
        font-size: 0.7em;
        font-weight: bold;
        text-transform: uppercase;
    }

    span.feedback-points {
        float: right;
        font-weight: bold;
    }

    span.feedback-title {
        font-size: 0.9em;

        &::before {
            content: '·';
            display: inline;
            font-weight: 900;
            margin: 0 8px 0 4px;
        }
    }

    p {
        white-space: pre-wrap;
        margin: 0.2em 0;
        word-break: break-word;
    }
}

.feedback-text {
    font-family: monospace;
    p {
        display: inline;
        white-space: pre-wrap;
        word-break: break-word;
    }
}

.result-score-chart {
    margin-bottom: 1rem;

    .result-score-chart-title {
        display: inline-block;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 5px;
        font-size: 0.9em;

        .badge {
            float: right;
        }
    }

    .chart-tooltip-space {
        margin-top: -10px;

        .chart-tooltip-space-content {
            width: 250px;
            height: 20px;
            top: -15px;
            position: absolute;
        }
    }
}

.fa-angle {
    cursor: pointer;
}

.chart-space {
    height: 100px;
}

:host::ng-deep .legend-labels {
    background-color: transparent !important;
    text-align: center !important;
    font-weight: bolder;
}

:host::ng-deep .legend-label {
    color: var(--artemis-dark) !important;
}

:host::ng-deep .legend-label-color {
    border: 1px solid;
}
