span {
    display: inline-block;
    line-height: 1.25;
}

.clickable-result span {
    text-decoration: underline;
    cursor: pointer;
}

.mw-custom {
    max-width: fit-content;
    min-width: 230px;
}

.no-transition {
    transition: opacity 0.5s !important;
}
