<jhi-header-exercise-page-with-details *ngIf="exercise" [exercise]="exercise" [exam]="exam" [isTestRun]="isTestRun" [displayBackButton]="false">
    <span *ngIf="!isTestRun" pagetitle>{{ 'artemisApp.exerciseAssessmentDashboard.pageHeader' | artemisTranslate }} {{ exercise?.title }}</span>
    <span *ngIf="isTestRun" pagetitle>{{ 'artemisApp.exerciseAssessmentDashboard.testRunPageHeader' | artemisTranslate }} {{ exercise?.title }}</span>
</jhi-header-exercise-page-with-details>

<jhi-alert></jhi-alert>

<div *ngIf="exercise">
    <div class="row my-3 d-flex justify-content-between">
        <div class="col-lg-5 col-sm-6" *ngIf="!isTestRun">
            <p class="h3" style="text-align: left">
                {{ 'artemisApp.exerciseAssessmentDashboard.yourStatus' | artemisTranslate }}:
                {{ 'artemisApp.exerciseAssessmentDashboard.tutorParticipationStatus.title.' + tutorParticipation.status!.toString() | artemisTranslate }}
            </p>
            <jhi-tutor-participation-graph
                [exercise]="exercise"
                [tutorParticipation]="tutorParticipation"
                [numberOfSubmissions]="numberOfSubmissions"
                [totalNumberOfAssessments]="totalNumberOfAssessments"
                [numberOfComplaints]="numberOfComplaints"
                [numberOfOpenComplaints]="numberOfOpenComplaints"
                [numberOfMoreFeedbackRequests]="numberOfMoreFeedbackRequests"
                [numberOfOpenMoreFeedbackRequests]="numberOfOpenMoreFeedbackRequests"
                [numberOfAssessmentsOfCorrectionRounds]="numberOfAssessmentsOfCorrectionRounds"
                style="display: block"
            >
            </jhi-tutor-participation-graph>
            <p style="text-align: left; float: left; font-size: 16px">
                {{ 'artemisApp.exerciseAssessmentDashboard.tutorParticipationStatus.description.' + tutorParticipation.status!.toString() | artemisTranslate }}
            </p>
        </div>
        <div
            class="col-lg-3 col-md-6 col-sm-6 align-self-center"
            *ngIf="isAtLeastInstructor && exam?.numberOfCorrectionRoundsInExam && exam!.numberOfCorrectionRoundsInExam! > 1 && isExamMode && !isTestRun"
        >
            <ng-container *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INSTRUCTOR']">
                <jhi-second-correction-enable-button
                    (ngModelChange)="toggleSecondCorrection()"
                    [secondCorrectionEnabled]="secondCorrectionEnabled"
                    [toggelingSecondCorrectionButton]="togglingSecondCorrectionButton"
                ></jhi-second-correction-enable-button>
                <a class="btn btn-primary btn-sm ms-1" [routerLink]="getSubmissionsLinkForExercise(exercise)">
                    <span jhiTranslate="artemisApp.assessmentDashboard.submissions">Submissions</span>
                </a>
            </ng-container>
        </div>

        <div class="col-sm-4" style="min-width: 400px">
            <jhi-side-panel
                *ngIf="!isExamMode"
                [panelHeader]="'artemisApp.exerciseAssessmentDashboard.exerciseInformation' | artemisTranslate"
                [panelDescriptionHeader]="'artemisApp.exerciseAssessmentDashboard.totalYours' | artemisTranslate"
            >
                <div class="row mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.submissions' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        {{ numberOfSubmissions.inTime }}
                        <span *ngIf="numberOfSubmissions.late > 0" class="ms-1 result--late text-nowrap">| {{ numberOfSubmissions.late }}</span>
                        /
                        <a
                            [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id, 'submissions']"
                            [queryParams]="{ tutorId: tutor?.id }"
                            title="{{ 'artemisApp.exerciseAssessmentDashboard.numberOfSubmissionsAssessedByYou' | artemisTranslate }}"
                            >{{ numberOfTutorAssessments }} ({{ tutorAssessmentPercentage }}%)</a
                        >
                    </div>
                </div>

                <div class="row mb-1" *ngIf="complaintsEnabled">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.complaints' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        {{ numberOfComplaints }} /
                        <a
                            [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id, 'complaints']"
                            [queryParams]="{ tutorId: tutor?.id }"
                            title="{{ 'artemisApp.assessmentDashboard.complaintsAboutYourAssessments' | artemisTranslate }}"
                            >{{ numberOfTutorComplaints }}</a
                        >
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.moreFeedbackRequests' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        {{ numberOfMoreFeedbackRequests }} /
                        <a
                            [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id, 'more-feedback-requests']"
                            [queryParams]="{ tutorId: tutor?.id }"
                            title="{{ 'artemisApp.assessmentDashboard.moreFeedbackRequestsForYourAssessments' | artemisTranslate }}"
                            >{{ numberOfTutorMoreFeedbackRequests }}</a
                        >
                    </div>
                </div>
            </jhi-side-panel>
        </div>
    </div>

    <div class="guided-tour-markdown-preview markdown-preview" *ngIf="tutorParticipationStatus === NOT_PARTICIPATED && !isTestRun">
        <jhi-info-panel
            *ngIf="exercise.problemStatement && exercise.problemStatement.length > 0"
            [panelHeader]="'artemisApp.exerciseAssessmentDashboard.problemStatement' | artemisTranslate"
        >
            <div *ngIf="exercise.type !== ExerciseType.PROGRAMMING; else programmingInstructions" [innerHTML]="formattedProblemStatement" style="margin-bottom: -15px"></div>
            <div>
                <!-- Programming exercises have a couple of custom render modules, so we load the instructions component here.-->
                <ng-template #programmingInstructions>
                    <jhi-programming-exercise-instructions
                        [exercise]="programmingExercise"
                        [participation]="programmingExercise.templateParticipation!"
                        [personalParticipation]="false"
                    ></jhi-programming-exercise-instructions>
                </ng-template>
            </div>
        </jhi-info-panel>

        <jhi-info-panel
            *ngIf="(exercise.type === ExerciseType.TEXT || exercise.type === ExerciseType.FILE_UPLOAD) && formattedSampleSolution"
            [panelHeader]="'artemisApp.exerciseAssessmentDashboard.exampleSolution' | artemisTranslate"
        >
            <div [innerHTML]="formattedSampleSolution" style="margin-bottom: -15px"></div>
        </jhi-info-panel>

        <jhi-info-panel
            *ngIf="exercise.type === ExerciseType.MODELING && exampleSolutionModel"
            [panelHeader]="'artemisApp.exerciseAssessmentDashboard.exampleSolution' | artemisTranslate"
        >
            <div>
                <jhi-modeling-editor [umlModel]="exampleSolutionModel" [diagramType]="modelingExercise.diagramType" [readOnly]="true"></jhi-modeling-editor>
            </div>
        </jhi-info-panel>

        <jhi-info-panel
            *ngIf="exercise.type === ExerciseType.MODELING && exampleSolutionModel"
            [panelHeader]="'artemisApp.exerciseAssessmentDashboard.exampleSolutionExplanation' | artemisTranslate"
        >
            <div [innerHTML]="formattedSampleSolution" style="margin-bottom: -15px"></div>
        </jhi-info-panel>

        <div class="col-12" *ngIf="exercise.type === ExerciseType.PROGRAMMING">
            <h4>{{ 'artemisApp.exerciseAssessmentDashboard.exampleSolution' | artemisTranslate }}</h4>
            <a jhiSecureLink [href]="programmingExercise.solutionParticipation?.repositoryUrl || ''">
                <jhi-button jhiTranslate="artemisApp.exerciseAssessmentDashboard.programmingExercise.exampleSolution"> Example solution repository </jhi-button>
            </a>
        </div>

        <jhi-info-panel
            *ngIf="exercise.gradingInstructions && exercise.gradingInstructions.length > 0"
            [panelHeader]="'artemisApp.exerciseAssessmentDashboard.gradingInstructions' | artemisTranslate"
        >
            <div [innerHTML]="formattedGradingInstructions" style="margin-bottom: -15px"></div>
        </jhi-info-panel>

        <div *ngIf="exercise.gradingCriteria && exercise.gradingCriteria.length > 0" class="col-12 mt-4">
            <h4>Structured {{ 'artemisApp.exerciseAssessmentDashboard.gradingInstructions' | artemisTranslate }}</h4>
            <jhi-structured-grading-instructions-assessment-layout
                [readonly]="true"
                [criteria]="exercise.gradingCriteria || []"
            ></jhi-structured-grading-instructions-assessment-layout>
        </div>
    </div>

    <div class="col-12 text-center mt-2 mb-4" *ngIf="tutorParticipationStatus === NOT_PARTICIPATED && !isTestRun">
        <p>{{ 'artemisApp.exerciseAssessmentDashboard.pleaseContactIfUnclear' | artemisTranslate }}</p>

        <button class="btn btn-primary guided-tour-instructions-button p-1" (click)="readInstruction()" style="font-size: 17px">
            <span *ngIf="exercise.gradingInstructions && exercise.gradingInstructions.length > 0">
                {{ 'artemisApp.exerciseAssessmentDashboard.readAndUnderstood' | artemisTranslate }}
            </span>

            <span *ngIf="!exercise.gradingInstructions || exercise.gradingInstructions.length == 0">
                {{ 'artemisApp.exerciseAssessmentDashboard.startYourParticipation' | artemisTranslate }}
            </span>
        </button>
    </div>

    <div class="d-flex" *ngIf="tutorParticipationStatus !== NOT_PARTICIPATED || isTestRun">
        <div
            *ngIf="!isOrionAndProgramming || (orionState.opened === exercise.id && orionState.view === ExerciseView.TUTOR); else orionStartButton"
            class="guided-tour-exercise-dashboard-table flex-grow-1"
        >
            <div *ngIf="tutorParticipationStatus === REVIEWED_INSTRUCTIONS && !isTestRun" class="alert alert-warning row" role="alert">
                <span
                    jhiTranslate="artemisApp.exerciseAssessmentDashboard.totalExampleSubmissions"
                    [translateValues]="{
                        total: stats.toReview.total + stats.toAssess.total,
                        toReview: stats.toReview.total,
                        toAssess: stats.toAssess.total
                    }"
                >
                </span>
            </div>

            <div class="row" *ngIf="tutorParticipationStatus !== NOT_PARTICIPATED && !isTestRun">
                <div class="col-6" *ngIf="stats.toReview.total > 0">
                    <p class="h3">{{ 'artemisApp.exerciseAssessmentDashboard.reviewSubmissions' | artemisTranslate }} ({{ stats.toReview.done }} / {{ stats.toReview.total }})</p>

                    <button
                        *ngIf="stats.toReview.done < stats.toReview.total"
                        class="btn btn-primary review-example-submission mb-4"
                        [class.guided-tour]="exercise === exerciseForGuidedTour"
                        (click)="openExampleSubmission(nextExampleSubmissionId, true, false)"
                    >
                        <span *ngIf="stats.toReview.done <= 0; else elseBlockSubmissionSForTutorialButton">
                            {{ 'artemisApp.exerciseAssessmentDashboard.start' | artemisTranslate }}
                        </span>
                        <ng-template #elseBlockSubmissionSForTutorialButton>
                            {{ 'artemisApp.exerciseAssessmentDashboard.continue' | artemisTranslate }}
                        </ng-template>
                        {{ 'artemisApp.exerciseAssessmentDashboard.reviewingExampleSubmissions' | artemisTranslate }}
                    </button>

                    <ul *ngIf="stats.toReview.done >= stats.toReview.total">
                        <li *ngFor="let exampleSubmission of exampleSubmissionsToReview; let i = index">
                            <button
                                class="btn btn-link review-example-submission"
                                [class.guided-tour]="exercise === exerciseForGuidedTour"
                                (click)="openExampleSubmission(exampleSubmission.id!, true, false)"
                            >
                                {{ 'artemisApp.exerciseAssessmentDashboard.reviewExampleSubmission' | artemisTranslate }} {{ i + 1 }}
                            </button>
                            <fa-icon [icon]="'check-circle'" *ngIf="hasBeenCompletedByTutor(exampleSubmission.id!)" style="color: #28a745"></fa-icon>
                        </li>
                    </ul>
                </div>

                <div class="col-6" *ngIf="stats.toAssess.total > 0 && stats.toReview.done >= stats.toReview.total">
                    <p class="h3">{{ 'artemisApp.exerciseAssessmentDashboard.tutorialSubmissions' | artemisTranslate }} ({{ stats.toAssess.done }} / {{ stats.toAssess.total }})</p>
                    <button
                        *ngIf="stats.toAssess.done < stats.toAssess.total"
                        class="btn btn-primary assess-example-submission mb-4"
                        [class.guided-tour]="exercise === exerciseForGuidedTour"
                        (click)="openExampleSubmission(nextExampleSubmissionId, false, true)"
                    >
                        <span *ngIf="stats.toAssess.done <= 0; else elseBlockSubmissionsForReviewButton">
                            {{ 'artemisApp.exerciseAssessmentDashboard.start' | artemisTranslate }}
                        </span>
                        <ng-template #elseBlockSubmissionsForReviewButton>
                            {{ 'artemisApp.exerciseAssessmentDashboard.continue' | artemisTranslate }}
                        </ng-template>
                        {{ 'artemisApp.exerciseAssessmentDashboard.assessingExampleSubmission' | artemisTranslate }}
                    </button>

                    <ul *ngIf="stats.toAssess.done >= stats.toAssess.total">
                        <li *ngFor="let exampleSubmission of exampleSubmissionsToAssess; let i = index">
                            <button
                                class="btn btn-link assess-example-submission"
                                [class.guided-tour]="exercise === exerciseForGuidedTour"
                                (click)="openExampleSubmission(exampleSubmission.id!, false, true)"
                            >
                                {{ 'artemisApp.exerciseAssessmentDashboard.assessExampleSubmission' | artemisTranslate }} {{ i + 1 }}
                            </button>
                            <fa-icon [icon]="'check-circle'" *ngIf="hasBeenCompletedByTutor(exampleSubmission.id!)" style="color: #28a745"></fa-icon>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="submissionLockLimitReached && tutorParticipationStatus !== REVIEWED_INSTRUCTIONS">
                {{ 'artemisApp.submission.lockedSubmissionsLimitReached' | artemisTranslate }}
            </div>
            <div *ngFor="let roundState of numberOfAssessmentsOfCorrectionRounds; let correctionRound = index">
                <ng-container *ngIf="numberOfCorrectionRoundsEnabled > correctionRound">
                    <h4 *ngIf="(tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED) && !isTestRun && !isExamMode">
                        {{ 'artemisApp.exerciseAssessmentDashboard.studentsSubmissions' | artemisTranslate }}
                    </h4>

                    <h4 *ngIf="(tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED) && !isTestRun && isExamMode">
                        {{ 'artemisApp.exerciseAssessmentDashboard.studentsSubmissions' | artemisTranslate }}, Correction Round {{ correctionRound + 1 }}:
                    </h4>

                    <h4 *ngIf="isTestRun">
                        {{ 'artemisApp.exerciseAssessmentDashboard.testRunSubmissions' | artemisTranslate }}
                    </h4>
                    <div class="table-responsive" *ngIf="tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED || isTestRun">
                        <table
                            class="table table-striped exercise-table"
                            *ngIf="
                                (unassessedSubmissionByCorrectionRound &&
                                    unassessedSubmissionByCorrectionRound!.get(correctionRound) &&
                                    unassessedSubmissionByCorrectionRound!.get(correctionRound)!.id! > 0) ||
                                    (submissionsByCorrectionRound.get(correctionRound) && submissionsByCorrectionRound.get(correctionRound)!.length > 0);
                                else noSubmissions
                            "
                        >
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{ 'artemisApp.exerciseAssessmentDashboard.submissionDate' | artemisTranslate }}</th>
                                    <th>{{ 'artemisApp.exerciseAssessmentDashboard.result' | artemisTranslate }}</th>
                                    <th>{{ 'artemisApp.exerciseAssessmentDashboard.status' | artemisTranslate }}</th>
                                    <th>{{ 'artemisApp.exerciseAssessmentDashboard.score' | artemisTranslate }}</th>
                                    <th *ngIf="exercise.type === ExerciseType.TEXT">{{ 'artemisApp.exerciseAssessmentDashboard.language' | artemisTranslate }}</th>
                                    <th>{{ 'artemisApp.exerciseAssessmentDashboard.action' | artemisTranslate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let submission of submissionsByCorrectionRound.get(correctionRound); let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ submission.submissionDate | artemisDate }}</td>
                                    <td>
                                        <jhi-result
                                            [result]="getSubmissionResultByCorrectionRound(submission, correctionRound)"
                                            [participation]="submission.participation!"
                                        ></jhi-result>
                                    </td>
                                    <td>
                                        {{ calculateSubmissionStatus(submission, correctionRound) }}
                                    </td>
                                    <td>
                                        <span
                                            *ngIf="
                                                !!submission.results && submission.results[correctionRound] != undefined && submission.results[correctionRound]!.score != undefined
                                            "
                                            >{{ round(submission.results![correctionRound]!.score) }} %</span
                                        >
                                    </td>
                                    <td *ngIf="exercise.type === ExerciseType.TEXT">
                                        <jhi-language-table-cell [submission]="submission"></jhi-language-table-cell>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="(isTestRun && complaints.length === 0) || !isTestRun">
                                            <ng-container *ngIf="!isOrionAndProgramming; else orionOpenButton">
                                                <button
                                                    *ngIf="submission && calculateSubmissionStatus(submission, correctionRound) === 'DRAFT'; else continueButton"
                                                    (click)="openAssessmentEditor(submission, correctionRound)"
                                                    class="btn btn-warning btn-sm"
                                                >
                                                    <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>&nbsp;{{
                                                        'artemisApp.exerciseAssessmentDashboard.continueAssessment' | artemisTranslate
                                                    }}
                                                </button>
                                                <ng-template #continueButton>
                                                    <button
                                                        *ngIf="!!submission.results && !!submission.results[correctionRound]"
                                                        (click)="openAssessmentEditor(submission, correctionRound)"
                                                        class="btn btn-primary btn-sm"
                                                    >
                                                        <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                                        &nbsp;{{ 'artemisApp.exerciseAssessmentDashboard.openAssessment' | artemisTranslate }}
                                                    </button>
                                                </ng-template>
                                            </ng-container>
                                            <ng-template #orionOpenButton>
                                                <jhi-ide-button
                                                    class="btn btn-sm"
                                                    [buttonLoading]="orionState.cloning"
                                                    buttonLabel="{{
                                                        (submission && calculateSubmissionStatus(submission, correctionRound) === 'DRAFT'
                                                            ? 'artemisApp.exerciseAssessmentDashboard.orion.continueAssessment'
                                                            : 'artemisApp.exerciseAssessmentDashboard.orion.openAssessment'
                                                        ) | artemisTranslate
                                                    }}"
                                                    (clickHandler)="downloadSubmissionInOrion(submission, correctionRound)"
                                                >
                                                </jhi-ide-button>
                                            </ng-template>
                                        </ng-container>
                                    </td>
                                </tr>
                                <ng-container
                                    *ngIf="
                                        unassessedSubmissionByCorrectionRound &&
                                        unassessedSubmissionByCorrectionRound!.get(correctionRound) &&
                                        unassessedSubmissionByCorrectionRound!.get(correctionRound)!.id! > 0 &&
                                        !exercise.teamMode &&
                                        !isTestRun
                                    "
                                >
                                    <tr>
                                        <td></td>
                                        <td>{{ unassessedSubmissionByCorrectionRound.get(correctionRound)?.submissionDate | artemisDate }}</td>

                                        <td></td>
                                        <td>{{ 'artemisApp.exerciseAssessmentDashboard.new' | artemisTranslate }}</td>
                                        <td></td>
                                        <td *ngIf="exercise.type === ExerciseType.TEXT">
                                            <jhi-language-table-cell [submission]="unassessedSubmissionByCorrectionRound.get(correctionRound)!"></jhi-language-table-cell>
                                        </td>

                                        <td>
                                            <button
                                                *ngIf="!isOrionAndProgramming; else orionNewButton"
                                                class="btn btn-success btn-sm guided-tour-new-assessment-btn"
                                                (click)="openAssessmentEditor('new', correctionRound)"
                                                [disabled]="exercise === exerciseForGuidedTour || openingAssessmentEditorForNewSubmission"
                                                [class.guided-tour]="exercise === exerciseForGuidedTour"
                                                [ngStyle]="exercise === exerciseForGuidedTour ? { cursor: 'not-allowed' } : {}"
                                            >
                                                <fa-icon *ngIf="openingAssessmentEditorForNewSubmission" [icon]="'spinner'" [spin]="true"></fa-icon>
                                                <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                                {{ 'artemisApp.exerciseAssessmentDashboard.startAssessment' | artemisTranslate }}
                                            </button>
                                            <ng-template #orionNewButton>
                                                <jhi-ide-button
                                                    class="btn btn-sm"
                                                    [buttonLoading]="orionState.cloning"
                                                    buttonLabel="{{ 'artemisApp.exerciseAssessmentDashboard.orion.startAssessment' | artemisTranslate }}"
                                                    (clickHandler)="downloadSubmissionInOrion('new', correctionRound)"
                                                >
                                                </jhi-ide-button>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <ng-container
                            *ngIf="
                                isExamMode &&
                                !(
                                    unassessedSubmissionByCorrectionRound &&
                                    unassessedSubmissionByCorrectionRound!.get(correctionRound) &&
                                    unassessedSubmissionByCorrectionRound!.get(correctionRound)!.id! > 0 &&
                                    !exercise.teamMode &&
                                    !isTestRun
                                ) &&
                                numberOfSubmissions.inTime != roundState.inTime
                            "
                        >
                            <div class="alert alert-info">
                                <span
                                    jhiTranslate="artemisApp.exerciseAssessmentDashboard.noSubmissionsInfo"
                                    [translateValues]="{
                                        notYetAssessed: notYetAssessed[correctionRound],
                                        lockedSubmissionsByOtherTutor: lockedSubmissionsByOtherTutor[correctionRound]
                                    }"
                                >
                                </span>
                                <ng-container *ngIf="correctionRound === 1">
                                    <span
                                        jhiTranslate="artemisApp.exerciseAssessmentDashboard.noSubmissionsInfoSecondCorrection"
                                        [translateValues]="{ firstRoundAssessments: firstRoundAssessments }"
                                    >
                                    </span>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="alert alert-info" *ngIf="correctionRound == 1">
                    {{ 'artemisApp.exerciseAssessmentDashboard.noSubmissionsBecauseFirstAssessedByYourself' | artemisTranslate }}
                </div>
                <ng-template #noSubmissions>
                    <jhi-assessment-warning [exercise]="exercise"></jhi-assessment-warning>
                    <div class="alert alert-info" *ngIf="!exercise.teamMode; else teamAssessmentInfo">
                        {{ 'artemisApp.exerciseAssessmentDashboard.noSubmissions' | artemisTranslate }}
                    </div>
                    <ng-template #teamAssessmentInfo>
                        <div class="alert alert-warning">
                            {{ 'artemisApp.exerciseAssessmentDashboard.startAssessmentFromTeamPages' | artemisTranslate }}
                        </div>
                    </ng-template>
                </ng-template>
            </div>
            <!-- Complaints -->
            <ng-container *ngIf="tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED || isTestRun">
                <h4 class="d-inline-block">
                    {{ 'artemisApp.exerciseAssessmentDashboard.complaints' | artemisTranslate }}
                </h4>
                <fa-icon [icon]="'question-circle'" [ngbTooltip]="'artemisApp.exerciseAssessmentDashboard.complaintHint' | artemisTranslate" style="color: #3e8acc"></fa-icon>
                <div class="table-responsive">
                    <table class="table table-striped exercise-table" *ngIf="submissionsWithComplaints && submissionsWithComplaints!.length > 0; else noComplaints">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.submissionDate' | artemisTranslate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.result' | artemisTranslate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.status' | artemisTranslate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.action' | artemisTranslate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let submissionWithComplaint of submissionsWithComplaints; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ submissionWithComplaint.complaint.submittedTime | artemisDate }}</td>
                                <td>
                                    <jhi-result
                                        [result]="submissionWithComplaint.submission.latestResult"
                                        [participation]="submissionWithComplaint.complaint.result!.participation!"
                                    ></jhi-result>
                                </td>
                                <td>
                                    {{ calculateComplaintStatus(submissionWithComplaint.complaint) }}
                                </td>
                                <td>
                                    <button
                                        *ngIf="submissionWithComplaint.complaint.accepted === undefined; else continueButton"
                                        [disabled]="isComplaintLocked(submissionWithComplaint.complaint)"
                                        class="btn btn-success btn-sm"
                                        (click)="viewComplaint(submissionWithComplaint.complaint)"
                                    >
                                        <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                        {{ 'artemisApp.exerciseAssessmentDashboard.evaluateComplaint' | artemisTranslate }}
                                    </button>
                                    <ng-template #continueButton>
                                        <button class="btn btn-primary btn-sm" (click)="viewComplaint(submissionWithComplaint.complaint)">
                                            <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                            {{ 'artemisApp.exerciseAssessmentDashboard.showComplaint' | artemisTranslate }}
                                        </button>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ng-template #noComplaints>
                        <div *ngIf="numberOfTutorComplaints === 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noComplaints' | artemisTranslate }}
                        </div>
                        <div *ngIf="numberOfTutorComplaints !== 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noComplaintsDisplayed' | artemisTranslate }}
                        </div>
                    </ng-template>
                </div>
            </ng-container>

            <!-- More Feedback Requests -->
            <ng-container *ngIf="(tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED) && !isExamMode">
                <h4 class="d-inline-block">
                    {{ 'artemisApp.exerciseAssessmentDashboard.moreFeedback' | artemisTranslate }}
                </h4>
                <fa-icon
                    [icon]="'question-circle'"
                    [ngbTooltip]="'artemisApp.exerciseAssessmentDashboard.moreFeedbackRequestHint' | artemisTranslate"
                    style="color: #3e8acc"
                ></fa-icon>
                <div class="table-responsive">
                    <table class="table table-striped exercise-table" *ngIf="moreFeedbackRequests && moreFeedbackRequests!.length > 0; else noComplaints">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.submissionDate' | artemisTranslate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.result' | artemisTranslate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.status' | artemisTranslate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.action' | artemisTranslate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let moreFeedbackRequest of moreFeedbackRequests; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ moreFeedbackRequest.submittedTime | artemisDate }}</td>
                                <td>
                                    <jhi-result [result]="moreFeedbackRequest.result"></jhi-result>
                                </td>
                                <td>
                                    <span *ngIf="moreFeedbackRequest.accepted !== undefined">{{
                                        'artemisApp.exerciseAssessmentDashboard.moreFeedbackRequestEvaluated' | artemisTranslate
                                    }}</span>
                                    <span *ngIf="moreFeedbackRequest.accepted === undefined"
                                        >{{ 'artemisApp.exerciseAssessmentDashboard.moreFeedbackRequestNotEvaluated' | artemisTranslate }}
                                    </span>
                                </td>
                                <td>
                                    <button
                                        *ngIf="moreFeedbackRequest.accepted === undefined; else continueButton"
                                        class="btn btn-success btn-sm"
                                        (click)="viewComplaint(moreFeedbackRequest)"
                                    >
                                        <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                        {{ 'artemisApp.exerciseAssessmentDashboard.evaluateMoreFeedbackRequest' | artemisTranslate }}
                                    </button>
                                    <ng-template #continueButton>
                                        <button class="btn btn-primary btn-sm" (click)="viewComplaint(moreFeedbackRequest)">
                                            <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                            {{ 'artemisApp.exerciseAssessmentDashboard.showMoreFeedbackRequests' | artemisTranslate }}
                                        </button>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ng-template #noComplaints>
                        <div *ngIf="numberOfMoreFeedbackRequests === 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noMoreFeedbackRequests' | artemisTranslate }}
                        </div>
                        <div *ngIf="numberOfMoreFeedbackRequests !== 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noMoreFeedbackRequestsDisplayed' | artemisTranslate }}
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>
        <jhi-collapsable-assessment-instructions [readOnly]="true" [exercise]="exercise" [collapsed]="true"></jhi-collapsable-assessment-instructions>
    </div>

    <div *ngIf="this.tutorParticipation.status! === TRAINED || isAtLeastInstructor">
        <h2 *ngIf="!isExamMode">{{ 'artemisApp.instructorExerciseDashboard.leaderboardTitle' | artemisTranslate }}</h2>
        <jhi-tutor-leaderboard [exam]="exam" [tutorsData]="statsForDashboard.tutorLeaderboardEntries" [exercise]="exercise"></jhi-tutor-leaderboard>
    </div>

    <ng-template #orionStartButton>
        <jhi-ide-button
            [buttonLoading]="orionState.cloning"
            buttonLabel="{{ 'artemisApp.exerciseAssessmentDashboard.orion.startYourParticipation' | artemisTranslate }}"
            (clickHandler)="openAssessmentInOrion()"
        >
        </jhi-ide-button>
    </ng-template>
</div>
