<jhi-header-exercise-page-with-details [exercise]="exercise" [exam]="exam" [isTestRun]="isTestRun" [onBackClick]="back.bind(this)">
    <span *ngIf="!isTestRun" pagetitle>{{ 'artemisApp.exerciseAssessmentDashboard.pageHeader' | translate }} {{ exercise?.title }}</span>
    <span *ngIf="isTestRun" pagetitle>{{ 'artemisApp.exerciseAssessmentDashboard.testRunPageHeader' | translate }} {{ exercise?.title }}</span>
</jhi-header-exercise-page-with-details>

<jhi-alert></jhi-alert>

<div *ngIf="exercise !== undefined">
    <div class="row my-3 justify-content-around">
        <div class="col-5 text-center" *ngIf="!isTestRun">
            <p class="h3">{{ 'artemisApp.exerciseAssessmentDashboard.yourStatus' | translate }}:</p>
            <jhi-tutor-participation-graph
                [exercise]="exercise"
                [tutorParticipation]="tutorParticipation"
                [numberOfSubmissions]="numberOfSubmissions"
                [totalNumberOfAssessments]="totalNumberOfAssessments"
                [numberOfComplaints]="numberOfComplaints"
                [numberOfOpenComplaints]="numberOfOpenComplaints"
                [numberOfMoreFeedbackRequests]="numberOfMoreFeedbackRequests"
                [numberOfOpenMoreFeedbackRequests]="numberOfOpenMoreFeedbackRequests"
                [numberOfAssessmentsOfCorrectionRounds]="numberOfAssessmentsOfCorrectionRounds"
            >
            </jhi-tutor-participation-graph>
        </div>
        <div class="col-5">
            <jhi-side-panel *ngIf="!isExamMode" [panelHeader]="'artemisApp.exerciseAssessmentDashboard.exerciseInformation' | translate">
                <div class="row mb-1 small" *ngIf="numberOfSubmissions.late > 0">
                    <div class="col-8"></div>
                    <div class="col-4">
                        {{ 'artemisApp.exerciseAssessmentDashboard.stats.intime' | translate }}
                        <span class="ml-1 result--late text-nowrap">| {{ 'artemisApp.exerciseAssessmentDashboard.stats.late' | translate }} </span>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.exerciseAssessmentDashboard.numberOfSubmissions' | translate }}</div>
                    <div class="col-4">
                        {{ numberOfSubmissions.inTime }}
                        <span *ngIf="numberOfSubmissions.late > 0" class="ml-1 result--late text-nowrap">| {{ numberOfSubmissions.late }}</span>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.exerciseAssessmentDashboard.numberOfAssessedSubmissions' | translate }}</div>
                    <div class="col-4">
                        {{ totalNumberOfAssessments.inTime }} ({{ totalAssessmentPercentage.inTime }}%)
                        <span *ngIf="numberOfSubmissions.late > 0" class="ml-2 result--late text-nowrap"
                            >| {{ totalNumberOfAssessments.late }} ({{ totalAssessmentPercentage.late }}%)</span
                        >
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.exerciseAssessmentDashboard.numberOfUnassessedSubmissions' | translate }}</div>
                    <div class="col-4">
                        {{ numberOfSubmissions.inTime - totalNumberOfAssessments.inTime }} ({{ 100 - totalAssessmentPercentage.inTime }}%)
                        <span *ngIf="numberOfSubmissions.late > 0" class="ml-2 result--late text-nowrap"
                            >| {{ numberOfSubmissions.late - totalNumberOfAssessments.late }} ({{ 100 - totalAssessmentPercentage.late }}%)</span
                        >
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.exerciseAssessmentDashboard.numberOfSubmissionsAssessedByYou' | translate }}</div>
                    <div class="col-4">{{ numberOfTutorAssessments }} ({{ tutorAssessmentPercentage }}%)</div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.assessmentDashboard.totalComplaints' | translate }}</div>
                    <div class="col-4">{{ numberOfComplaints }}</div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.assessmentDashboard.complaintsAboutYourAssessments' | translate }}</div>
                    <div class="col-4">
                        <a [routerLink]="['/course-management', courseId, 'exercises', exercise.id, 'complaints']" [queryParams]="{ tutorId: tutor?.id }">{{
                            numberOfTutorComplaints
                        }}</a>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.assessmentDashboard.totalMoreFeedbackRequests' | translate }}</div>
                    <div class="col-4">{{ numberOfMoreFeedbackRequests }}</div>
                </div>
                <div class="row mb-1">
                    <div class="col-8">{{ 'artemisApp.assessmentDashboard.moreFeedbackRequestsForYourAssessments' | translate }}</div>
                    <div class="col-4">
                        <a [routerLink]="['/course-management', courseId, 'exercises', exercise.id, 'more-feedback-requests']" [queryParams]="{ tutorId: tutor?.id }">{{
                            numberOfTutorMoreFeedbackRequests
                        }}</a>
                    </div>
                </div>
            </jhi-side-panel>
        </div>
    </div>

    <div class="guided-tour-markdown-preview markdown-preview" *ngIf="tutorParticipationStatus === NOT_PARTICIPATED && !isTestRun">
        <div class="col-12" *ngIf="exercise.problemStatement && exercise.problemStatement.length > 0">
            <h4>{{ 'artemisApp.exerciseAssessmentDashboard.problemStatement' | translate }}</h4>

            <p *ngIf="exercise.type !== ExerciseType.PROGRAMMING; else programmingInstructions" [innerHTML]="formattedProblemStatement"></p>
            <!-- Programming exercises have a couple of custom render modules, so we load the instructions component here.-->
            <ng-template #programmingInstructions>
                <jhi-programming-exercise-instructions
                    [exercise]="asProgrammingExercise(exercise)"
                    [participation]="asProgrammingExercise(exercise).templateParticipation"
                    [personalParticipation]="false"
                ></jhi-programming-exercise-instructions>
            </ng-template>
        </div>

        <div class="col-12" *ngIf="exercise.type === ExerciseType.TEXT && formattedSampleSolution">
            <h4>{{ 'artemisApp.exerciseAssessmentDashboard.exampleSolution' | translate }}</h4>

            <p [innerHTML]="formattedSampleSolution"></p>
        </div>

        <div class="col-12" *ngIf="exercise.type === ExerciseType.MODELING && exampleSolutionModel">
            <h4>{{ 'artemisApp.exerciseAssessmentDashboard.exampleSolution' | translate }}</h4>
            <jhi-modeling-editor [umlModel]="exampleSolutionModel" [diagramType]="modelingExercise.diagramType" [readOnly]="true"> </jhi-modeling-editor>
            <p class="mt-2" *ngIf="formattedSampleSolution" [innerHTML]="formattedSampleSolution"></p>
        </div>

        <div class="col-12" *ngIf="exercise.type === ExerciseType.PROGRAMMING">
            <h4>{{ 'artemisApp.exerciseAssessmentDashboard.exampleSolution' | translate }}</h4>
            <a jhiSecureLink [href]="asProgrammingExercise(exercise).solutionParticipation!.repositoryUrl">
                <jhi-button jhiTranslate="artemisApp.exerciseAssessmentDashboard.programmingExercise.exampleSolution">Example solution repository</jhi-button>
            </a>
        </div>

        <div class="col-12 mt-4" *ngIf="exercise.gradingInstructions && exercise.gradingInstructions.length > 0">
            <h4>{{ 'artemisApp.exerciseAssessmentDashboard.gradingInstructions' | translate }}</h4>

            <p [innerHTML]="formattedGradingInstructions"></p>
        </div>
        <jhi-structured-grading-instructions-assessment-layout [readonly]="true" [criteria]="exercise.gradingCriteria"></jhi-structured-grading-instructions-assessment-layout>
    </div>

    <div class="col-12 text-center" *ngIf="tutorParticipationStatus === NOT_PARTICIPATED && !isTestRun">
        <button class="btn btn-primary guided-tour-instructions-button" (click)="readInstruction()">
            <span *ngIf="exercise.gradingInstructions && exercise.gradingInstructions.length > 0">
                {{ 'artemisApp.exerciseAssessmentDashboard.readAndUnderstood' | translate }}
            </span>

            <span *ngIf="!exercise.gradingInstructions || exercise.gradingInstructions.length == 0">
                {{ 'artemisApp.exerciseAssessmentDashboard.startYourParticipation' | translate }}
            </span>
        </button>
    </div>

    <div class="d-flex" *ngIf="tutorParticipationStatus !== NOT_PARTICIPATED || isTestRun">
        <div class="guided-tour-exercise-dashboard-table flex-grow-1">
            <div *ngIf="tutorParticipationStatus === REVIEWED_INSTRUCTIONS && !isTestRun" class="alert alert-warning row" role="alert">
                <span
                    jhiTranslate="artemisApp.exerciseAssessmentDashboard.totalExampleSubmissions"
                    [translateValues]="{
                        total: stats.toReview.total + stats.toAssess.total,
                        toReview: stats.toReview.total,
                        toAssess: stats.toAssess.total
                    }"
                >
                </span>
            </div>

            <div class="row" *ngIf="tutorParticipationStatus !== NOT_PARTICIPATED && !isTestRun">
                <div class="col-6" *ngIf="stats.toReview.total > 0">
                    <p class="h3">{{ 'artemisApp.exerciseAssessmentDashboard.reviewSubmissions' | translate }} ({{ stats.toReview.done }} / {{ stats.toReview.total }})</p>

                    <button
                        *ngIf="stats.toReview.done < stats.toReview.total"
                        class="btn btn-primary review-example-submission"
                        [class.guided-tour]="exercise === exerciseForGuidedTour"
                        (click)="openExampleSubmission(nextExampleSubmissionId, true, false)"
                    >
                        <span *ngIf="stats.toReview.done <= 0; else elseBlockSubmissionSForTutorialButton">
                            {{ 'artemisApp.exerciseAssessmentDashboard.start' | translate }}
                        </span>
                        <ng-template #elseBlockSubmissionSForTutorialButton>
                            {{ 'artemisApp.exerciseAssessmentDashboard.continue' | translate }}
                        </ng-template>
                        {{ 'artemisApp.exerciseAssessmentDashboard.reviewingExampleSubmissions' | translate }}
                    </button>

                    <ul *ngIf="stats.toReview.done >= stats.toReview.total">
                        <li *ngFor="let exampleSubmission of exampleSubmissionsToReview; let i = index">
                            <button
                                class="btn btn-link review-example-submission"
                                [class.guided-tour]="exercise === exerciseForGuidedTour"
                                (click)="openExampleSubmission(exampleSubmission.id, true, false)"
                            >
                                {{ 'artemisApp.exerciseAssessmentDashboard.reviewExampleSubmission' | translate }} {{ i + 1 }}
                            </button>
                            <fa-icon [icon]="'check-circle'" *ngIf="hasBeenCompletedByTutor(exampleSubmission.id)"></fa-icon>
                        </li>
                    </ul>
                </div>

                <div class="col-6" *ngIf="stats.toAssess.total > 0 && stats.toReview.done >= stats.toReview.total">
                    <p class="h3">{{ 'artemisApp.exerciseAssessmentDashboard.tutorialSubmissions' | translate }} ({{ stats.toAssess.done }} / {{ stats.toAssess.total }})</p>
                    <button
                        *ngIf="stats.toAssess.done < stats.toAssess.total"
                        class="btn btn-primary assess-example-submission"
                        [class.guided-tour]="exercise === exerciseForGuidedTour"
                        (click)="openExampleSubmission(nextExampleSubmissionId, false, true)"
                    >
                        <span *ngIf="stats.toAssess.done <= 0; else elseBlockSubmissionsForReviewButton">
                            {{ 'artemisApp.exerciseAssessmentDashboard.start' | translate }}
                        </span>
                        <ng-template #elseBlockSubmissionsForReviewButton>
                            {{ 'artemisApp.exerciseAssessmentDashboard.continue' | translate }}
                        </ng-template>
                        {{ 'artemisApp.exerciseAssessmentDashboard.assessingExampleSubmission' | translate }}
                    </button>

                    <ul *ngIf="stats.toAssess.done >= stats.toAssess.total">
                        <li *ngFor="let exampleSubmission of exampleSubmissionsToAssess; let i = index">
                            <button
                                class="btn btn-link assess-example-submission"
                                [class.guided-tour]="exercise === exerciseForGuidedTour"
                                (click)="openExampleSubmission(exampleSubmission.id, false, true)"
                            >
                                {{ 'artemisApp.exerciseAssessmentDashboard.assessExampleSubmission' | translate }} {{ i + 1 }}
                            </button>
                            <fa-icon [icon]="'check-circle'" *ngIf="hasBeenCompletedByTutor(exampleSubmission.id)"></fa-icon>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="submissionLockLimitReached && tutorParticipationStatus !== REVIEWED_INSTRUCTIONS">
                {{ 'artemisApp.submission.lockedSubmissionsLimitReached' | translate }}
            </div>
            <div *ngFor="let roundState of numberOfAssessmentsOfCorrectionRounds; let correctionRound = index">
                <h4 *ngIf="(tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED) && !isTestRun && !isExamMode">
                    {{ 'artemisApp.exerciseAssessmentDashboard.studentsSubmissions' | translate }}
                </h4>

                <h4 *ngIf="(tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED) && !isTestRun && isExamMode">
                    {{ 'artemisApp.exerciseAssessmentDashboard.studentsSubmissions' | translate }}, Correction Round {{ correctionRound + 1 }}:
                </h4>

                <h4 *ngIf="isTestRun">
                    {{ 'artemisApp.exerciseAssessmentDashboard.testRunSubmissions' | translate }}
                </h4>
                <div class="table-responsive" *ngIf="tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED || isTestRun">
                    <table
                        class="table table-striped exercise-table"
                        *ngIf="
                            (unassessedSubmissionByCorrectionRound && unassessedSubmissionByCorrectionRound.get(correctionRound)?.id > 0) ||
                                submissionsByCorrectionRound.get(correctionRound)?.length > 0;
                            else noSubmissions
                        "
                    >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.submissionDate' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.result' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.status' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.score' | translate }}</th>
                                <th *ngIf="exercise.type === ExerciseType.TEXT">{{ 'artemisApp.exerciseAssessmentDashboard.language' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let submission of submissionsByCorrectionRound.get(correctionRound); let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ submission.submissionDate | artemisDate }}</td>
                                <td>
                                    <jhi-result [participation]="submission.participation" [correctionRound]="correctionRound"></jhi-result>
                                </td>
                                <td>
                                    {{ calculateSubmissionStatus(submission, correctionRound) }}
                                </td>
                                <td>
                                    <span *ngIf="submission.results[correctionRound] != undefined && submission.results[correctionRound]!.score != undefined"
                                        >{{ submission.results[correctionRound]!.score }} %</span
                                    >
                                </td>
                                <td *ngIf="exercise.type === ExerciseType.TEXT">
                                    {{ 'artemisApp.exerciseAssessmentDashboard.languages.' + (submission.language ? submission.language : 'UNKNOWN') | translate }}
                                </td>
                                <td>
                                    <ng-container *ngIf="(isTestRun && complaints.length === 0) || !isTestRun">
                                        <ng-container>
                                            <button
                                                *ngIf="submission && calculateSubmissionStatus(submission, correctionRound) === 'DRAFT'; else continueButton"
                                                (click)="openAssessmentEditor(submission, correctionRound)"
                                                class="btn btn-warning btn-sm"
                                            >
                                                <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>&nbsp;{{
                                                    'artemisApp.exerciseAssessmentDashboard.continueAssessment' | translate
                                                }}
                                            </button>
                                            <ng-template #continueButton>
                                                <button
                                                    *ngIf="submission?.results[correctionRound]"
                                                    (click)="openAssessmentEditor(submission, correctionRound)"
                                                    class="btn btn-primary btn-sm"
                                                >
                                                    <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                                    &nbsp;{{ 'artemisApp.exerciseAssessmentDashboard.openAssessment' | translate }}
                                                </button>
                                            </ng-template>
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                            <tr
                                *ngIf="
                                    unassessedSubmissionByCorrectionRound && unassessedSubmissionByCorrectionRound.get(correctionRound)?.id > 0 && !exercise.teamMode && !isTestRun
                                "
                            >
                                <td></td>
                                <td>{{ unassessedSubmissionByCorrectionRound.get(correctionRound)?.submissionDate | artemisDate }}</td>

                                <td></td>
                                <td>{{ 'artemisApp.exerciseAssessmentDashboard.new' | translate }}</td>
                                <td></td>
                                <td *ngIf="exercise.type === ExerciseType.TEXT">
                                    {{ 'artemisApp.exerciseAssessmentDashboard.languages.' + language(unassessedSubmissionByCorrectionRound.get(correctionRound)!) | translate }}
                                </td>
                                <td>
                                    <button
                                        class="btn btn-success btn-sm"
                                        (click)="openAssessmentEditor('new', correctionRound)"
                                        [disabled]="exercise === exerciseForGuidedTour || openingAssessmentEditorForNewSubmission"
                                        [class.guided-tour]="exercise === exerciseForGuidedTour"
                                        [ngStyle]="exercise === exerciseForGuidedTour && { cursor: 'not-allowed' }"
                                    >
                                        <fa-icon *ngIf="openingAssessmentEditorForNewSubmission" [icon]="'spinner'" [spin]="true"></fa-icon>
                                        <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                        {{ 'artemisApp.exerciseAssessmentDashboard.startAssessment' | translate }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <ng-template #noSubmissions>
                    <jhi-assessment-warning [exercise]="exercise"></jhi-assessment-warning>
                    <div class="alert alert-info" *ngIf="!exercise.teamMode; else teamAssessmentInfo">
                        {{ 'artemisApp.exerciseAssessmentDashboard.noSubmissions' | translate }}
                    </div>
                    <ng-template #teamAssessmentInfo>
                        <div class="alert alert-warning">
                            {{ 'artemisApp.exerciseAssessmentDashboard.startAssessmentFromTeamPages' | translate }}
                        </div>
                    </ng-template>
                </ng-template>
            </div>
            <!-- Complaints -->
            <ng-container *ngIf="tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED || isTestRun">
                <h4 class="d-inline-block">
                    {{ 'artemisApp.exerciseAssessmentDashboard.complaints' | translate }}
                </h4>
                <fa-icon [icon]="'question-circle'" [ngbTooltip]="'artemisApp.exerciseAssessmentDashboard.complaintHint' | translate"></fa-icon>
                <div class="table-responsive">
                    <table class="table table-striped exercise-table" *ngIf="complaints?.length > 0; else noComplaints">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.submissionDate' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.result' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.status' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let complaint of complaints; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ complaint.submittedTime | artemisDate }}</td>
                                <td>
                                    <jhi-result [result]="complaint.result" [participation]="complaint.result.participation"></jhi-result>
                                </td>
                                <td>
                                    {{ calculateComplaintStatus(complaint) }}
                                </td>
                                <td>
                                    <button
                                        *ngIf="complaint.accepted === undefined; else continueButton"
                                        [disabled]="isComplaintLocked(complaint)"
                                        class="btn btn-success btn-sm"
                                        (click)="viewComplaint(complaint)"
                                    >
                                        <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                        {{ 'artemisApp.exerciseAssessmentDashboard.evaluateComplaint' | translate }}
                                    </button>
                                    <ng-template #continueButton>
                                        <button class="btn btn-primary btn-sm" (click)="viewComplaint(complaint)">
                                            <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                            {{ 'artemisApp.exerciseAssessmentDashboard.showComplaint' | translate }}
                                        </button>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ng-template #noComplaints>
                        <div *ngIf="numberOfTutorComplaints === 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noComplaints' | translate }}
                        </div>
                        <div *ngIf="numberOfTutorComplaints !== 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noComplaintsDisplayed' | translate }}
                        </div>
                    </ng-template>
                </div>
            </ng-container>

            <!-- More Feedback Requests -->
            <ng-container *ngIf="(tutorParticipationStatus === TRAINED || tutorParticipationStatus === COMPLETED) && !isExamMode">
                <h4 class="d-inline-block">
                    {{ 'artemisApp.exerciseAssessmentDashboard.moreFeedback' | translate }}
                </h4>
                <fa-icon [icon]="'question-circle'" [ngbTooltip]="'artemisApp.exerciseAssessmentDashboard.moreFeedbackRequestHint' | translate"></fa-icon>
                <div class="table-responsive">
                    <table class="table table-striped exercise-table" *ngIf="moreFeedbackRequests?.length > 0; else noComplaints">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.submissionDate' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.result' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.status' | translate }}</th>
                                <th>{{ 'artemisApp.exerciseAssessmentDashboard.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let moreFeedbackRequest of moreFeedbackRequests; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ moreFeedbackRequest.submittedTime | artemisDate }}</td>
                                <td>
                                    <jhi-result [result]="moreFeedbackRequest.result"></jhi-result>
                                </td>
                                <td>
                                    <span *ngIf="moreFeedbackRequest.accepted !== undefined">{{
                                        'artemisApp.exerciseAssessmentDashboard.moreFeedbackRequestEvaluated' | translate
                                    }}</span>
                                    <span *ngIf="moreFeedbackRequest.accepted === undefined"
                                        >{{ 'artemisApp.exerciseAssessmentDashboard.moreFeedbackRequestNotEvaluated' | translate }}
                                    </span>
                                </td>
                                <td>
                                    <button
                                        *ngIf="moreFeedbackRequest.accepted === undefined; else continueButton"
                                        class="btn btn-success btn-sm"
                                        (click)="viewComplaint(moreFeedbackRequest)"
                                    >
                                        <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                        {{ 'artemisApp.exerciseAssessmentDashboard.evaluateMoreFeedbackRequest' | translate }}
                                    </button>
                                    <ng-template #continueButton>
                                        <button class="btn btn-primary btn-sm" (click)="viewComplaint(moreFeedbackRequest)">
                                            <fa-icon [icon]="'folder-open'" [fixedWidth]="true"></fa-icon>
                                            {{ 'artemisApp.exerciseAssessmentDashboard.showMoreFeedbackRequests' | translate }}
                                        </button>
                                    </ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <ng-template #noComplaints>
                        <div *ngIf="numberOfMoreFeedbackRequests === 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noMoreFeedbackRequests' | translate }}
                        </div>
                        <div *ngIf="numberOfMoreFeedbackRequests !== 0" class="alert alert-info">
                            {{ 'artemisApp.exerciseAssessmentDashboard.noMoreFeedbackRequestsDisplayed' | translate }}
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>
        <jhi-collapsable-assessment-instructions [readOnly]="true" [exercise]="exercise" [collapsed]="true"></jhi-collapsable-assessment-instructions>
    </div>

    <h2 *ngIf="!isExamMode">{{ 'artemisApp.instructorExerciseDashboard.leaderboardTitle' | translate }}</h2>

    <jhi-tutor-leaderboard *ngIf="!isExamMode" [tutorsData]="statsForDashboard.tutorLeaderboardEntries" [exercise]="exercise"></jhi-tutor-leaderboard>
</div>
