<div>
    <h2>
        <span jhiTranslate="arTeMiSApp.submittedAnswer.home.title">Submitted Answers</span>
        <button class="btn btn-primary float-right jh-create-entity create-submitted-answer" [routerLink]="['/', { outlets: { popup: ['submitted-answer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="arTeMiSApp.submittedAnswer.home.createLabel">
            Create new Submitted Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="submittedAnswers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="arTeMiSApp.submittedAnswer.question">Question</span></th>
            <th><span jhiTranslate="arTeMiSApp.submittedAnswer.submission">Submission</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let submittedAnswer of submittedAnswers ;trackBy: trackId">
                <td><a [routerLink]="['../submitted-answer', submittedAnswer.id ]">{{submittedAnswer.id}}</a></td>
                <td>
                    <div *ngIf="submittedAnswer.question">
                        <a [routerLink]="['../question', submittedAnswer.question?.id ]" >{{submittedAnswer.question?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="submittedAnswer.submission">
                        <a [routerLink]="['../quiz-submission', submittedAnswer.submission?.id ]" >{{submittedAnswer.submission?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../submitted-answer', submittedAnswer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'submitted-answer/'+ submittedAnswer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'submitted-answer/'+ submittedAnswer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
