.exam-bar {
    margin-bottom: 0.75rem !important;
}

.end-view {
    max-width: 900px;
    margin: 0 auto;

    @media (max-width: 900px) {
        max-width: 600px;
    }

    @media (max-width: 600px) {
        max-width: 500px;
    }
}
