.frame {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    p {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    .from-section {
        display: flex;
        gap: 2rem;
    }
}
