<h5 class="mb-3" jhiTranslate="artemisApp.examManagement.suspiciousBehavior.suspiciousSessions.title"></h5>
@for (suspiciousSessionsSet of suspiciousSessions; track suspiciousSessionsSet; let i = $index) {
    <p class="mb-0">
        {{ 'artemisApp.examManagement.suspiciousBehavior.suspiciousSessions.case' | artemisTranslate }}
        <span class="bold">{{ i + 1 }}</span>
    </p>
    <p>
        {{ 'artemisApp.examManagement.suspiciousBehavior.suspiciousSessions.reasons' | artemisTranslate }}
        <!-- all sessions have the same reasons, so we can just use the first one -->
        @for (reason of suspiciousSessionsSet.examSessions.at(0)?.suspiciousReasons; track reason; let i = $index) {
            <span class="bold" [jhiTranslate]="mapEnumToTranslationString(reason)" [translateValues]="{ range: ipSubnet }"></span>
            @if (i < suspiciousSessionsSet.examSessions.at(0)?.suspiciousReasons?.length! - 1) {
                <span>,</span>
            }
        }
    </p>
    <div style="overflow-x: auto" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" jhiTranslate="artemisApp.examSession.id"></th>
                    <th scope="col" jhiTranslate="artemisApp.examSession.browserFingerprintHash"></th>
                    <th scope="col" jhiTranslate="artemisApp.examSession.ipAddress"></th>
                    <th scope="col" jhiTranslate="artemisApp.examSession.createdDate"></th>
                    <th scope="col" jhiTranslate="artemisApp.examSession.studentExamId"></th>
                    <th scope="col" jhiTranslate="artemisApp.examSession.userLogin"></th>
                </tr>
            </thead>
            <tbody jhi-suspicious-sessions [suspiciousSessions]="suspiciousSessionsSet"></tbody>
        </table>
    </div>
}
