@media (max-width: 600px) {
    .mobile-container {
        display: block;
    }
    .desktop-container {
        display: none;
    }
}
@media (min-width: 601px) {
    .mobile-container {
        display: none;
    }
    .desktop-container {
        display: block;
    }
}
