<ng-container *ngFor="let group of textBlockRefGroups">
    <jhi-textblock-assessment-card
        *ngIf="group.singleRef; else selectionInterface"
        [textBlockRef]="group.singleRef"
        [selected]="selectedRef === group.singleRef"
        (didSelect)="selectedRef = $event; selectedRefChange.emit($event)"
        (didChange)="textBlockRefsChangeEmit()"
        [readOnly]="readOnly"
    ></jhi-textblock-assessment-card>
    <ng-template #selectionInterface>
        <!-- DO NOT ADD LINEBREAKS INSIDE <jhi-manual-text-selection> -->
        <jhi-manual-text-selection [positionRelative]="true" (assess)="handleTextSelection($event, group)"
            ><span [textContent]="group.getText(submission)"></span
        ></jhi-manual-text-selection>
    </ng-template>
</ng-container>
