.tutorial-group-session-row {
    .extra-buttons {
        visibility: hidden;
    }

    &:hover {
        .extra-buttons {
            visibility: visible;
        }
    }

    .attendance-input {
        background-color: var(--bs-table-bg);
        width: 50px;
    }
}
