.editor-container-outer {
    min-width: 0; // prevent the min-width of the editor from pushing the instructions out the right side of the screen when resizing
}

.editor-container-inner {
    min-height: 80vh;
}

.button-resize {
    min-width: 245px; // prevent buttons from cutting text when resizing
}

.legend-icon-wrapper {
    background-color: var(--bs-body-color);
    height: 29px;
    width: 29px;
    border-radius: 100%;
}

.warning-icon-wrapper {
    background-color: var(--bs-yellow);
    color: var(--bs-bg-color);
}
