@import '../../../content/scss/_artemis-variables';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.datatable-icon-right {
    color: white !important;
}

.datatable-scroll {
    width: 100% !important;
}

.loading-container {
    height: 40vh;
}

ngb-typeahead-window.dropdown-menu.show {
    max-height: calc(100vh - 380px);
    overflow-y: auto;
}

.dropdown-item.selected {
    background-color: $primary;
}
