<p>participation-submission works!</p>
<!-- <div class="table-responsive" *ngIf="submissions">
    <table class="table table-striped">
        <thead>
        <tr jhiSort [(predicate)]="'id'" [(ascending)]="true">
            <th jhiSortBy="id">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon icon="sort"></fa-icon>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let submission of submissions | sortBy: 'id':true;">
            <td><p> {{ participationId }}}</p></td>
            <td>123</td>

        </tr>
        </tbody>
    </table>
</div> -->
