@if (copyText().length > 0) {
    <button
        id="copyButton"
        type="button"
        tumAetUiButton
        variant="text"
        size="small"
        [severity]="wasCopied() ? 'success' : 'secondary'"
        [class]="'ms-1! ' + class()"
        [cdkCopyToClipboard]="copyText()"
        (cdkCopyToClipboardCopied)="onCopyFinished()"
        [tumAetUiTooltip]="'global.generic.copy' | artemisTranslate"
        [attr.aria-label]="'global.generic.copy' | artemisTranslate"
    >
        <fa-icon [icon]="wasCopied() ? faCheck : faCopy" />
    </button>
}
