.synced {
    --fa-secondary-color: var(--bs-body-color);
    --fa-secondary-opacity: 1;
    --fa-primary-color: var(--success);
}

.exercise-table {
    background-color: var(--exam-exercise-overview-table-background);
}
