.feedback-text-positive {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #3d9970;
}

.feedback-text-negative {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ff4136;
}

.feedback-text-neutral {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #aaa;
}
