<form name="editForm" role="form" novalidate>
    <h5 *adminTitleBarTitle id="lti-configuration-heading" class="mb-0" jhiTranslate="artemisApp.lti.version13Configuration"></h5>
    <tum-ui-message severity="info" class="mt-3 w-full" data-testid="lti-documentation-message">
        <span jhiTranslate="artemisApp.lti.edit.documentationLink"></span>
        <a
            href="https://docs.artemis.tum.de/instructor/lti-configuration/"
            target="_blank"
            rel="external noopener noreferrer"
            jhiTranslate="artemisApp.lti.edit.documentationLinkText"
        ></a
        >.
    </tum-ui-message>
    <tum-ui-tabs [value]="activeTab()" (valueChange)="setActiveTab($event)" class="mt-4">
        <tum-ui-tab-list>
            <tum-ui-tab [value]="1"><span jhiTranslate="artemisApp.lti.platformRegistration"></span></tum-ui-tab>
            <tum-ui-tab [value]="2"><span jhiTranslate="artemisApp.lti.serviceUrls"></span></tum-ui-tab>
        </tum-ui-tab-list>
        <tum-ui-tab-panels>
            <tum-ui-tab-panel [value]="1">
                <dt class="flex items-center">
                    <h4 jhiTranslate="artemisApp.lti.dynamicRegistrationUrl"></h4>
                    <jhi-help-icon text="artemisApp.lti.dynamicRegistrationTooltip" />
                </dt>
                <dd>
                    <span>{{ getDynamicRegistrationUrl() }}</span>
                    <jhi-copy-to-clipboard-button [copyText]="getDynamicRegistrationUrl()" />
                </dd>
                <dt class="flex w-full items-center justify-between">
                    <div class="flex items-center gap-1">
                        <h4 class="mb-0" jhiTranslate="artemisApp.lti.configuredPlatforms"></h4>
                        <jhi-help-icon text="artemisApp.lti.configuredPlatformsTooltip" />
                    </div>
                    <a [routerLink]="['/admin', 'lti-configuration', 'new']" tumUiButton size="small" data-testid="add-platform-button">
                        <fa-icon [icon]="faPlus" />
                        <span jhiTranslate="artemisApp.lti13.addNewPlatform"></span>
                    </a>
                </dt>
                <div class="mt-3 overflow-x-auto">
                    <table
                        tumUiTable
                        [sortField]="predicate()"
                        [sortOrder]="ascending() ? 1 : -1"
                        (sortChange)="onTableSort($event)"
                        size="small"
                        aria-describedby="lti-configuration-heading"
                        data-testid="lti-platforms-table"
                    >
                        <thead>
                            <tr class="whitespace-nowrap">
                                <th [tumUiSortableColumn]="'id'">
                                    <span jhiTranslate="global.field.id"></span>
                                </th>
                                <th [tumUiSortableColumn]="'customName'">
                                    <span jhiTranslate="artemisApp.lti.customName"></span>
                                </th>
                                <th [tumUiSortableColumn]="'registrationId'">
                                    <span jhiTranslate="artemisApp.lti.registrationId"></span>
                                </th>
                                <th [tumUiSortableColumn]="'clientId'">
                                    <span jhiTranslate="artemisApp.lti.clientId"></span>
                                </th>
                                <th [tumUiSortableColumn]="'originalURL'">
                                    <span jhiTranslate="artemisApp.lti.toolUrl"></span>
                                </th>
                                <th [tumUiSortableColumn]="'authorizationUri'">
                                    <span jhiTranslate="artemisApp.lti.authorizationUri"></span>
                                </th>
                                <th [tumUiSortableColumn]="'jwkSetUri'">
                                    <span jhiTranslate="artemisApp.lti.jwkSetUri"></span>
                                </th>
                                <th [tumUiSortableColumn]="'tokenUri'">
                                    <span jhiTranslate="artemisApp.lti.tokenUri"></span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (platform of platforms(); track platform.id) {
                                <tr id="platform-{{ platform.id }}" data-testid="lti-platform-row">
                                    <td>{{ platform.id }}</td>
                                    <td>{{ platform.customName }}</td>
                                    <td>{{ platform.registrationId }}</td>
                                    <td>{{ platform.clientId }}</td>
                                    <td>{{ platform.originalUrl }}</td>
                                    <td>{{ platform.authorizationUri }}</td>
                                    <td>{{ platform.jwkSetUri }}</td>
                                    <td>{{ platform.tokenUri }}</td>
                                    <td class="text-end">
                                        <div class="flex items-center justify-end gap-2">
                                            <a
                                                [routerLink]="['/admin', 'lti-configuration', platform.id, 'edit']"
                                                tumUiButton
                                                size="small"
                                                severity="warn"
                                                [tumUiTooltip]="'entity.action.edit' | artemisTranslate"
                                                [attr.aria-label]="'entity.action.edit' | artemisTranslate"
                                                data-testid="edit-platform-button"
                                            >
                                                <fa-icon [icon]="faPencil" />
                                                <span class="hidden md:inline" jhiTranslate="entity.action.edit"></span>
                                            </a>
                                            <button
                                                tumUiButton
                                                severity="danger"
                                                size="small"
                                                [renderButtonStyle]="false"
                                                jhiDeleteButton
                                                (delete)="deleteLtiPlatform(platform.id!)"
                                                [dialogError]="dialogError$"
                                                data-testid="delete-platform-button"
                                            >
                                                <fa-icon [icon]="faTrash" />
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="mt-3">
                    <div class="flex justify-center">
                        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage }" />
                    </div>
                    <div class="flex justify-center">
                        <tum-ui-paginator
                            [page]="page() - 1"
                            [pageSize]="itemsPerPage"
                            [totalRecords]="totalItems()"
                            [showCurrentPageReport]="false"
                            [showRowsPerPage]="false"
                            (pageChange)="onPageChange($event)"
                        />
                    </div>
                </div>
            </tum-ui-tab-panel>
            <tum-ui-tab-panel [value]="2">
                <dt>
                    <span jhiTranslate="artemisApp.lti.deepLinkingUrl"></span>
                </dt>
                <dd>
                    <span>{{ getDeepLinkingUrl() }}</span>
                    <jhi-copy-to-clipboard-button [copyText]="getDeepLinkingUrl()" />
                </dd>
                <dt>
                    <span jhiTranslate="artemisApp.lti.toolUrl"></span>
                </dt>
                <dd>
                    <span>{{ getToolUrl() }}</span>
                    <jhi-copy-to-clipboard-button [copyText]="getToolUrl()" />
                </dd>
                <dt>
                    <span jhiTranslate="artemisApp.lti.keysetUrl"></span>
                </dt>
                <dd>
                    <span>{{ getKeysetUrl() }}</span>
                    <jhi-copy-to-clipboard-button [copyText]="getKeysetUrl()" />
                </dd>
                <dt>
                    <span jhiTranslate="artemisApp.lti.initiateLoginUrl"></span>
                </dt>
                <dd>
                    <span>{{ getInitiateLoginUrl() }}</span>
                    <jhi-copy-to-clipboard-button [copyText]="getInitiateLoginUrl()" />
                </dd>
                <dt>
                    <span jhiTranslate="artemisApp.lti.redirectUri"></span>
                </dt>
                <dd>
                    <span>{{ getRedirectUri() }}</span>
                    <jhi-copy-to-clipboard-button [copyText]="getRedirectUri()" />
                </dd>
            </tum-ui-tab-panel>
        </tum-ui-tab-panels>
    </tum-ui-tabs>
</form>
