@import '../communication.component';

.toggle-content {
    font-size: smaller;
    color: var(--communication-light-gray);
}

.announcement-post {
    background-color: var(--communication-light-blue);
    border-radius: 7px;
}

.edited-text {
    color: var(--communication-gray);
    font-size: smaller;
}
