.second-layer-modal-bg {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-radius: var(--bs-border-radius-lg);

    .p-dialog-content {
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
        border-radius: var(--bs-border-radius-lg);
    }
}
