<p-dialog [(visible)]="dialogVisible" [modal]="true" [closable]="true" [dismissableMask]="false" (onHide)="resetDialog()" [style]="{ width: '50rem', height: '35rem' }">
    <ng-template pTemplate="header">
        <h4>
            <span [jhiTranslate]="'artemisApp.exam.examUsers.dialogTitle'"></span>
        </h4>
    </ng-template>
    <form id="userImportDialogForm" name="importForm" role="form" novalidate>
        <div class="form-group">
            <p class="intro-text" jhiTranslate="artemisApp.exam.examUsers.introText"></p>
            <p class="intro-text" jhiTranslate="artemisApp.exam.examUsers.pdfExampleText"></p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img class="border" width="300" src="/content/images/upload_student_images_pdf_example_img.png" />
        </div>
        <div class="form-group">
            <div class="d-flex align-items-end">
                <div>
                    <label for="importPDF" class="label-narrow font-weight-bold" jhiTranslate="artemisApp.exam.examUsers.pdfFile.label"></label>
                    <jhi-help-icon text="artemisApp.exam.examUsers.pdfFile.tooltip" class="me-1" />
                </div>
                @if (isParsing) {
                    <fa-icon class="loading-spinner ms-1" [icon]="faSpinner" animation="spin" />
                }
            </div>
            <div class="mt-2">
                <input id="importPDF" type="file" accept=".pdf" (change)="onPDFFileSelect($event)" />
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        @let usersNotFound = notFoundUsers?.numberOfUsersNotFound ?? 0;
        @let imagesSaved = notFoundUsers?.numberOfImagesSaved ?? 0;
        <div class="d-flex justify-content-between w-100">
            <div class="flex-shrink-0 me-2 d-flex">
                @if (hasParsed && (usersNotFound > 0 || imagesSaved === 0)) {
                    <div>
                        <div class="ms-2">
                            <strong jhiTranslate="artemisApp.importUsers.numberOfUsersNotImported"></strong>
                            <span
                                ><b style="color: red">{{ usersNotFound }}</b></span
                            >
                        </div>
                        <div class="ms-2">
                            <strong>{{ 'artemisApp.exam.examUsers.numberOfImagesSaved' | artemisTranslate }}:</strong>
                            <span
                                ><b style="color: green">{{ imagesSaved }}</b></span
                            >
                        </div>
                    </div>
                }
                @if (hasParsed && imagesSaved > 0 && usersNotFound === 0) {
                    <div class="ms-2">
                        <strong style="color: green" jhiTranslate="artemisApp.exam.examUsers.allImagesSaved"></strong>
                    </div>
                }
            </div>
            <div class="flex-grow-1 d-flex justify-content-end align-items-center gap-2">
                @if (!hasParsed) {
                    <button type="button" class="btn btn-secondary cancel" (click)="clear()">
                        <fa-icon [icon]="faBan" />&nbsp;<span jhiTranslate="entity.action.cancel"></span>
                    </button>
                    <button type="submit" id="import" name="importButton" class="btn btn-primary" [disabled]="!file || isParsing" (click)="parsePDFFile()">
                        <fa-icon [icon]="faUpload" class="me-2" />
                        <span jhiTranslate="artemisApp.exam.examUsers.saveImages"></span>
                        <fa-icon class="ms-1" [hidden]="!isParsing" animation="spin" [icon]="faCircleNotch" />
                    </button>
                } @else {
                    <button class="btn" [ngClass]="usersNotFound === 0 ? 'btn-success' : 'btn-danger'" id="finish-button" (click)="onFinish()">
                        <fa-icon [icon]="faCheck" class="me-2" />
                        <span jhiTranslate="entity.action.finish"></span>
                    </button>
                }
            </div>
        </div>
    </ng-template>
</p-dialog>
