<!-- TODO: Refactor Special Case 'Exercise' -->
@if (sidebarItem) {
    <div class="mx-1">
        @if (sidebarType === 'exam') {
            <div class="d-flex justify-content-between align-items-baseline">
                <span id="test-sidebar-card-title" class="me-2 mb-2" [title]="sidebarItem.title">
                    @if (sidebarItem.icon) {
                        <fa-icon [fixedWidth]="true" [icon]="sidebarItem.icon" />
                    }
                    {{ sidebarItem.title }}
                </span>
            </div>
            <div class="d-flex justify-content-between mb-1 align-items-baseline">
                <div class="me-2 text-truncate" [ngClass]="{ 'fw-bold': sidebarItem.isAttempt }">
                    {{ sidebarItem.subtitleLeft }}
                </div>
            </div>
            <div class="d-flex flex-column align-items-baseline">
                <small
                    class="me-2 text-truncate fw-semibold small-title-color"
                    jhiTranslate="{{ sidebarItem.isAttempt ? 'artemisApp.courseOverview.sidebar.submissionDate' : 'artemisApp.courseOverview.sidebar.start' }}"
                ></small>
                <small class="me-2 text-truncate fw-semibold">
                    @if (sidebarItem.isAttempt) {
                        {{ sidebarItem.submissionDate | artemisDate: 'long-date' }}
                        -
                        {{ sidebarItem.submissionDate | artemisDate: 'time' }}
                    } @else {
                        @if (sidebarItem.startDateWithTime) {
                            {{ sidebarItem.startDateWithTime | artemisDate: 'long-date' }}
                            -
                            {{ sidebarItem.startDateWithTime | artemisDate: 'time' }}
                        }
                    }
                </small>
            </div>
            <hr class="my-1 mx-0" />
            @if (sidebarItem.isAttempt) {
                <div class="d-flex flex-column align-items-baseline">
                    <small class="me-2 text-truncate fw-semibold small-title-color" jhiTranslate="artemisApp.courseOverview.sidebar.usedWorkingTime"></small>
                    <small class="me-2 fw-semibold">
                        @if (sidebarItem.usedWorkingTime) {
                            {{ sidebarItem.usedWorkingTime | artemisDurationFromSeconds }}
                        } @else {
                            {{ '-' }}
                        }
                    </small>
                </div>
            } @else {
                <div class="d-flex flex-column align-items-baseline">
                    <small class="me-2 text-truncate fw-semibold small-title-color" jhiTranslate="artemisApp.courseOverview.sidebar.workingTime"></small>
                    <small class="me-2 text-truncate fw-semibold">
                        @if (sidebarItem.studentExam) {
                            <jhi-student-exam-working-time [studentExam]="sidebarItem.studentExam" />
                        } @else if (sidebarItem.workingTime) {
                            {{ sidebarItem.workingTime | artemisDurationFromSeconds }}
                        }
                    </small>
                </div>
                <hr class="my-1 mx-0" />
                @if (sidebarItem.testExam) {
                    <div class="d-flex flex-column align-items-baseline">
                        <small class="me-2 text-truncate fw-semibold small-title-color" jhiTranslate="artemisApp.courseOverview.sidebar.attempts"></small>
                        <small class="me-2 text-truncate fw-semibold">
                            {{ sidebarItem.attempts }}
                        </small>
                    </div>
                } @else {
                    <div class="d-flex flex-column align-items-baseline">
                        <small class="me-2 text-truncate fw-semibold small-title-color" jhiTranslate="artemisApp.courseOverview.sidebar.attainablePoints"></small>
                        <small class="me-2 text-truncate fw-semibold">
                            @if (sidebarItem.attainablePoints) {
                                {{ sidebarItem.attainablePoints }}
                            }
                        </small>
                    </div>
                }
            }
        } @else {
            <div class="d-flex justify-content-between align-items-baseline">
                <span
                    id="test-sidebar-card-title"
                    class="small text-truncate me-2"
                    [title]="sidebarItem.title"
                    [class.muted]="sidebarItem.conversation?.isMuted"
                    [ngClass]="unreadCount() > 0 ? 'fw-bold' : 'fw-normal'"
                >
                    @if (sidebarItem.icon) {
                        <fa-icon [fixedWidth]="true" [icon]="sidebarItem.icon" />
                    }
                    {{ sidebarItem.title }}</span
                >
                <span>
                    @if (sidebarItem.rightIcon) {
                        <fa-icon [fixedWidth]="true" [icon]="sidebarItem.rightIcon" />
                    }
                </span>
                @if (unreadCount() > 0) {
                    <span class="unread-count me-n2">{{ formattedUnreadCount }}</span>
                }
            </div>
            <div class="d-flex justify-content-between align-items-baseline small" [ngClass]="{ 'mt-1': sidebarItem.subtitleLeft }">
                <small class="me-2 text-truncate">
                    {{ sidebarItem.subtitleLeft }}
                </small>
                <small class="text-truncate d-inline">
                    @if (sidebarType === 'exercise' && sidebarItem.studentParticipation && sidebarItem.exercise) {
                        <jhi-submission-result-status
                            class="text-truncate result"
                            [exercise]="sidebarItem.exercise"
                            [studentParticipation]="sidebarItem.studentParticipation"
                            [triggerLastGraded]="false"
                            [isInSidebarCard]="true"
                        />
                    } @else {
                        {{ sidebarItem.subtitleRight }}
                    }
                </small>
            </div>
        }
    </div>
}
