.small-title-color {
    color: var(--gray-600);
}

.muted {
    color: var(--metis-conversation-sidebar-muted);
}

.unread-count {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    border-radius: 50%;
    font-size: 0.6rem;
    width: 1.1rem;
    min-width: 1.1rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-divider {
    all: unset;
    display: block;
    border-top: 1px solid var(--bs-border-color) !important;
}

.attendance-chip {
    display: flex;
    border-radius: 0.75rem;
    padding: 0.25rem 0.35rem;
    font-size: 0.6rem;
    line-height: 0.6rem;
}
