.small-title-color {
    color: var(--gray-600);
}

.muted {
    color: var(--metis-conversation-sidebar-muted);
}

.unread-count {
    background-color: var(--bs-primary);
    color: white;
    border-radius: 50%;
    font-size: 0.6rem;
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}
