<div class="p-4">
    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col">
            <h2>
                Assessment <span
                *ngIf="result">for Submission: {{result.participation.student.firstName}} {{result.participation.student.lastName}}</span>
            </h2>
        </div>
        <div class="col text-right">
            <span *ngIf="result && result.participation"><jhi-result
                [participation]="result.participation"></jhi-result></span>
            <button class="btn btn-primary" (click)="saveAssessment()"
                    [disabled]="!result?.feedbacks || !assessmentsAreValid || (result?.assessor && result.assessor.id !== userId && !isAuthorized)"
                    [hidden]="result && result.rated">Save Assessment
            </button>
            <button class="btn btn-success" (click)="submit()"
                    [disabled]="!result?.feedbacks || !assessmentsAreValid || (result?.assessor && result.assessor.id !== userId && !isAuthorized)"
                    [hidden]="result && result.rated">Submit Assessment
            </button>
            <button class="btn btn-danger" (click)="submit()"
                    [disabled]="!result?.feedbacks || !assessmentsAreValid"
                    [hidden]="!result || !result.rated">Override Assessment
            </button>
            <div *ngIf="conflicts && conflicts.size > 0" class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="ignoreConflicts">
                <label class="custom-control-label" for="customSwitches">Ignore Conflict</label>
            </div>

        </div>
    </div>

    <h2>
        <span *ngIf="busy" style="color:grey"><fa-icon icon="spinner" [spin]="true"></fa-icon>&nbsp;<span>Please wait while finding the next submission!</span></span>
    </h2>

    <div class="row" *ngIf="modelingExercise">
        <div class="col">
            <p class="mb-3">
                <strong>Exercise:</strong> {{ modelingExercise.title }}<br>
                <strong>Problem Statement:</strong> {{ modelingExercise.problemStatement }}
            </p>
        </div>
        <div class="col text-right">
            <span><h5><strong>Score:</strong> {{ totalScore | number : '1.0-2' }} / {{ modelingExercise.maxScore }}</h5></span>
            <span *ngIf="result && result.assessor"
                  style="color:red"><h6>Reviewer: {{result.assessor.firstName + (isAuthorized ? '' : ' - submission locked')}}</h6></span>
        </div>
    </div>

    <div>
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>
        <button *ngIf="(result?.rated && !done) || (result?.assessor && result.assessor.id !== userId && !result?.rated)" [disabled]="busy" class="btn btn-success" (click)="assessNextOptimal(0)">
            <fa-icon icon="folder-open" [fixedWidth]="true"></fa-icon>&nbsp;Assess next submission
        </button>
    </div>
    <br>

    <div class="row">
        <div class="col-8 col-xl-9">
            <div #editorContainer style="width: 100%; height: 100vh;"></div>
            <div class="assessments">
                <div class="assessments__container">
                    <div class="assessments__canvas">
                        <ng-container *ngIf="result?.feedbacks && positions">
                            <div *ngFor="let feedback of result.feedbacks"
                                 [style.top.px]="positions[feedback.referenceId].y"
                                 [style.left.px]="positions[feedback.referenceId].x">
                                <fa-icon [icon]="feedback.credits > 0 ? 'check' : feedback.credits < 0 ? 'times': ''" *ngFor="let i of numberToArray(feedback.credits, 0)"></fa-icon>
                                <fa-icon class="half" [icon]="feedback.credits > 0 ? 'check' : feedback.credits < 0 ? 'times': ''" *ngIf="feedback.credits % 1 !== 0"></fa-icon>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 col-xl-3">
            <div *ngIf="invalidError !== ''" class="alert alert-danger" role="alert">{{invalidError}}</div>
            <div
                *ngIf="(!selectedEntities && !selectedRelationships) || (selectedEntities?.length === 0 && selectedRelationships?.length === 0)">
                Select an element to grade the element.
            </div>
            <ng-container>
                <div *ngFor="let feedback of result?.feedbacks" [hidden]="!isSelected(feedback.referenceId, feedback.referenceType)">
                    <div class="card">
                        <div class="card-header" [class.conflict]="conflicts && conflicts.get(feedback.referenceId)">
                            <h4 class="card-title"
                                *ngIf="assessmentsNames">Score for
                                <span>{{assessmentsNames[feedback.referenceId]['type']}} </span> <code
                                    class="text-primary">{{assessmentsNames[feedback.referenceId]['name']}}</code></h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Score </label>
                                <input type="number" step="0.5" [(ngModel)]="feedback.credits" (ngModelChange)="checkScoreBoundaries()">
                                <div class="form-text text-muted" *ngIf="conflicts && conflicts.get(feedback.referenceId)">
                                    <small class="header-text row-container conflicting-scores-label">
                                        Others assessed similar elements with:
                                        <div class="row-container">
                                            <small
                                                *ngFor="let score of conflicts.get(feedback.referenceId).scoresInConflict; let isLast=last">{{score.points}}{{isLast ? '' : ', '}}</small>
                                        </div>
                                    </small>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-auto">Feedback</label>
                                <textarea class="col form-control" rows="2" [(ngModel)]="feedback.text"></textarea>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </ng-container>
        </div>
    </div>
</div>
