.conflicting-scores-label{
    font-size: 14px;
    font-weight: 200;
    label{
        margin: 0;
    }
}

.editor-container{
    display: flex;
    width: 100%;
    overflow: hidden;
}

jhi-apollon-diagram-tutor{
    max-width: 100%;
    min-width: 0%;
}

.conflict {
    background-color: rgb(248, 214, 217);
}
