hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.color-preview {
    cursor: pointer;
    height: 35px;
}

.headline {
    align-items: center;
    display: flex;
    width: 100%;

    .no-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--gray-400);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        text-align: center;
        color: var(--black);
    }

    jhi-image {
        ::ng-deep img {
            border-radius: 50%;
            height: 100px;
            width: auto;
        }
    }
}

.icon-button-wrapper {
    position: absolute;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.nested-form-group-head {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.nested-form-group {
    margin-left: 1.35rem;
    margin-bottom: 0.5rem;
}

.row.nested-form-group {
    margin-left: calc(1.35rem - var(--bs-gutter-x) / 2);
}

.nested-form-group.last {
    margin-bottom: 1rem;
}
