<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="lecture">
            <h2><span jhiTranslate="artemisApp.lecture.attachments.title">Lecture</span>: {{ lecture.title }} - {{ lecture.course?.shortName }}</h2>
            <hr />
            <div class="row">
                <div class="col-6">
                    <dt><span jhiTranslate="artemisApp.lecture.startDate">Start Date</span></dt>
                    <dd>
                        <span>{{ lecture.startDate | artemisDate }}</span>
                    </dd>
                </div>
                <div class="col-6">
                    <dt><span jhiTranslate="artemisApp.lecture.endDate">End Date</span></dt>
                    <dd>
                        <span>{{ lecture.endDate | artemisDate }}</span>
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <dt><span jhiTranslate="artemisApp.lecture.description">Description</span></dt>
                    <dd class="markdown-preview editor-outline-background" [innerHTML]="lecture.description | htmlForMarkdown"></dd>
                </div>
            </div>
            <hr class="mt-2 mb-2" />
            <div class="row">
                <div class="col-12">
                    <h4 jhiTranslate="artemisApp.lecture.attachments.attachments">Attachments</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <td class="table-responsive" *ngIf="attachments">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><span jhiTranslate="global.field.id">ID</span></th>
                                    <th><span jhiTranslate="artemisApp.lecture.attachments.name">Title</span></th>
                                    <th><span jhiTranslate="artemisApp.lecture.attachments.type">Type</span></th>
                                    <th><span jhiTranslate="artemisApp.lecture.attachments.link">Link</span></th>
                                    <th><span jhiTranslate="artemisApp.lecture.attachments.releaseDate">Release Date</span></th>
                                    <th><span jhiTranslate="artemisApp.lecture.attachments.uploadDate">Upload Date</span></th>
                                    <th><span jhiTranslate="artemisApp.lecture.attachments.version">Version</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let attachment of attachments; trackBy: trackId" class="position-relative">
                                    <td>
                                        {{ attachment.id }}
                                        <div *ngIf="attachmentToBeCreated?.id === attachment?.id" class="edit-overlay">
                                            {{ 'artemisApp.lecture.attachments.isBeingEdited' | artemisTranslate }}
                                        </div>
                                    </td>
                                    <td>{{ attachment.name }}</td>
                                    <td>{{ attachment.attachmentType }}</td>
                                    <td>
                                        <a class="text-primary" (click)="downloadAttachment(attachment.link || '')" *ngIf="!isDownloadingAttachmentLink">
                                            {{ attachment.name }}
                                        </a>
                                        <a class="text-primary" *ngIf="isDownloadingAttachmentLink === attachment.link">
                                            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> {{ 'artemisApp.courseOverview.lectureDetails.isDownloading' | artemisTranslate }}
                                        </a>
                                    </td>
                                    <td>{{ attachment.releaseDate | artemisDate }}</td>
                                    <td>{{ attachment.uploadDate | artemisDate }}</td>
                                    <td>
                                        {{ attachment.version }}
                                    </td>
                                    <td class="text-end">
                                        <div class="flex-btn-group-container">
                                            <button type="submit" (click)="editAttachment(attachment)" class="btn btn-primary btn-sm me-1">
                                                <fa-icon [icon]="faPencilAlt"></fa-icon>
                                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                            </button>
                                            <button
                                                *ngIf="lecture.isAtLeastInstructor"
                                                jhiDeleteButton
                                                [entityTitle]="attachment?.name || ''"
                                                deleteQuestion="artemisApp.attachment.deleteQuestion"
                                                (delete)="deleteAttachment(attachment)"
                                                [dialogError]="dialogError$"
                                            ></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </div>
            </div>

            <div *ngIf="attachmentToBeCreated">
                <div class="row">
                    <div class="col-12">
                        <h4 jhiTranslate="artemisApp.lecture.attachments.newAttachment" *ngIf="!attachmentToBeCreated.id">New Attachment</h4>
                        <h4 jhiTranslate="artemisApp.lecture.attachments.editAttachment" *ngIf="attachmentToBeCreated.id">Edit Attachment</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="attachmentName" jhiTranslate="artemisApp.lecture.attachments.name">Name</label>
                            <input type="text" class="form-control" id="attachmentName" name="attachmentName" [(ngModel)]="attachmentToBeCreated.name" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="artemisApp.lecture.attachments.file">File</label>
                            <small id="fileHelp" class="form-text text-muted">{{ 'artemisApp.lecture.attachments.fileLimitation' | artemisTranslate }} </small>
                            <fa-icon
                                [icon]="faQuestionCircle"
                                [ngbTooltip]="'artemisApp.lecture.attachments.fileLimitationTooltip' | artemisTranslate: { extensions: allowedFileExtensionsString }"
                            ></fa-icon>
                            <div class="input-group background-file">
                                <div class="custom-file overflow-ellipsis">
                                    <input
                                        #fileInput
                                        id="lectureAttachmentInput{{ attachmentToBeCreated.name }}"
                                        type="file"
                                        class="custom-file-input"
                                        [accept]="allowedFileExtensions"
                                        [placeholder]="'artemisApp.lecture.attachments.chooseFile' | artemisTranslate"
                                        (change)="setLectureAttachment($event)"
                                    />
                                </div>
                            </div>
                            <ng-container *ngIf="erroredFile">
                                <div id="too-large-file-alert" class="alert alert-danger">
                                    {{ errorMessage }}
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <jhi-date-time-picker
                                labelName="{{ 'artemisApp.lecture.attachments.releaseDate' | artemisTranslate }}"
                                [(ngModel)]="attachmentToBeCreated.releaseDate"
                                name="endDate"
                            ></jhi-date-time-picker>
                        </div>
                        <div class="form-group" *ngIf="attachmentToBeCreated.id">
                            <label for="attachmentName" jhiTranslate="artemisApp.lecture.attachments.notificationText">Notification Text</label>
                            <input
                                type="text"
                                class="form-control"
                                id="notificationText"
                                name="attachmentName"
                                [placeholder]="'artemisApp.lecture.attachments.notificationPlaceholder' | artemisTranslate"
                                [(ngModel)]="notificationText"
                            />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button
                            id="upload-attachment"
                            type="submit"
                            [disabled]="isUploadingAttachment || !isSubmitPossible"
                            (click)="uploadLectureAttachmentAndSave()"
                            class="btn btn-primary me-2"
                        >
                            <fa-icon [icon]="faPaperclip"></fa-icon>&nbsp;
                            <span *ngIf="isUploadingAttachment" jhiTranslate="artemisApp.lecture.attachments.uploading"></span>
                            <span *ngIf="!isUploadingAttachment" jhiTranslate="entity.action.saveAttachment"></span>
                        </button>
                        <button type="submit" (click)="cancel()" class="btn btn-default">
                            <fa-icon [icon]="faTimes"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="!attachmentToBeCreated">
                <div class="col-12">
                    <button type="submit" (click)="addAttachment()" class="btn btn-primary" id="add-attachment">
                        <fa-icon [icon]="faPaperclip"></fa-icon>&nbsp;<span jhiTranslate="entity.action.addAttachment"> Add attachment</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
