.step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gray;
    margin-left: 2%;
    margin-right: 2%;
}

.stepContainer {
    height: 100%;
}

.completed {
    background: #3e8acc;
}

.current {
    background: #3e8acc;
    opacity: 0.5;
}
