.step {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gray;
    margin-left: 2%;
    margin-right: 2%;
}

.completed {
    background: #3e8acc;
}

.current {
    background: #3e8acc;
    opacity: 0.5;
}

.form-step + .form-step:before {
    content: '';
    display: block;
    height: 1px;
    background: gray;
    margin-bottom: 1rem;
}

.edit-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lecture-attachment-edit-overlay-color);
    z-index: 9;
    font-size: 18px;
    height: calc(100% + 1px);
    border: none;
}
