.icon-full-size {
    height: 1rem;
    width: 1rem;
}

.calendar-event-toggle:hover .icon-static,
.calendar-event-toggle .icon-remove {
    display: none;
}

.calendar-event-toggle:hover .icon-remove {
    display: inline;
}
