/* Style for the navigation bubbles in the guided tour */

.dotstyle {
    width: 260px;
    overflow: hidden;
    display: block;
    padding: 0;
    position: relative;
    text-align: center;

    &.dotstyle--scaleup {
        li {
            span {
                -webkit-transition:
                    -webkit-transform 0.3s ease,
                    background-color 0.3s ease;
                transition:
                    transform 0.3s ease,
                    background-color 0.3s ease;
            }

            &.p-small,
            &.n-small {
                span {
                    -webkit-transform: scale(0.8);
                    transform: scale(0.8);
                }
            }

            &.current {
                span {
                    background-color: #17a2b8;
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
            }
        }
    }

    ul {
        position: relative;
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
        vertical-align: bottom;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform: translateX(0);

        li {
            display: block;
            position: relative;
            float: left;
            margin: 8px;
            width: 10px;
            height: 10px;
            cursor: default;

            span {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                outline: none;
                border-radius: 50%;
                background-color: #17a2b8;
                background-color: rgba(23, 162, 184, 0.3);
                text-indent: -999em; /* make the text accessible to screen readers */
                cursor: default;
                position: absolute;
            }
        }
    }
}
