@import 'dot-navigation';

// Variables
$tour-zIndex: 1081 !default;

// Mixins
@mixin tour-button($background-color, $hover-background-color, $position) {
    background-color: $background-color;
    color: var(--gt-tour-button-text-color);

    $opposite-pos: left;
    @if $position==right {
        $opposite-pos: left;
    }
    @if $position==left {
        $opposite-pos: right;
    }

    &:hover {
        background-color: $hover-background-color;
        color: var(--gt-tour-button-text-color);
    }

    fa-icon {
        padding-#{$opposite-pos}: 10px;
    }
}

@mixin tour-triangle($direction, $color: currentColor, $size: 1rem) {
    @if not index(top right bottom left, $direction) {
        @error 'Direction must be either `top`, `right`, `bottom` or `left`.';
    }

    $opposite-direction: top;
    @if $direction==top {
        $opposite-direction: bottom;
    }
    @if $direction==bottom {
        $opposite-direction: top;
    }
    @if $direction==right {
        $opposite-direction: left;
    }
    @if $direction==left {
        $opposite-direction: right;
    }

    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    border-#{$opposite-direction}: $size solid $color;
    $perpendicular-borders: $size solid transparent;
    @if $direction==top or $direction==bottom {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
    } @else if $direction==right or $direction==left {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.tour-open {
    overflow: hidden;
}

.guided-tour-button {
    background-color: var(--gt-tour-next-button-color);
    border-radius: 50%;
    cursor: pointer;
    float: right;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 11px;

    &:hover {
        background-color: var(--gt-tour-next-button-hover);
    }
}

jhi-guided-tour {
    .guided-tour-overlay {
        background: var(--gt-overlay-background);
        opacity: 0.5;
        text-align: center;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: $tour-zIndex;
    }

    .guided-tour-element-overlay {
        background: none;
        border: 5px var(--gt-tour-border-color) solid;
        display: block;
        position: fixed;
        z-index: $tour-zIndex;

        &.click-through {
            pointer-events: none;
        }
    }

    .tour-step {
        min-width: 400px;
        max-width: 1000px;
        position: fixed;
        z-index: $tour-zIndex + 2;

        &.startFade {
            opacity: 1;
            animation: fade 0.6s ease;
        }

        &.page-tour-step {
            min-width: 500px;
            width: 80vh;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            @media (max-height: 600px) {
                width: 100vh;
            }

            @media (max-width: 650px) {
                min-width: initial;
                width: 40vh;
            }

            &.video-tour {
                @media (max-width: 992px) {
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    transform: none;
                }
                @media (min-width: 993px) and (max-width: 1200px) {
                    width: 60%;
                }

                .tour-block__content {
                    @media (max-height: 600px) {
                        max-height: 75vh;
                    }
                }
            }
        }

        .tour-block {
            background-color: var(--gt-tour-step-bg-color);
            box-shadow: 0 0.4rem 0.6rem var(--gt-tour-shadow-color);
            color: var(--gt-tour-text-color);
            padding: 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;

            @media (max-width: 992px) {
                height: 100%;
            }

            &__header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .headline {
                    display: block;
                    font-size: 18px;
                    padding-bottom: 5px;
                }

                .close {
                    width: 20px;
                    height: 20px;
                    margin: 1px -10px;
                    opacity: 0.3;

                    &:hover {
                        opacity: 1;
                    }

                    &:before,
                    &:after {
                        background-color: var(--gt-tour-block-after-background);
                        content: ' ';
                        height: 20px;
                        width: 2px;
                        position: absolute;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }
                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }

            &__content {
                font-size: 15px;
                min-height: 40px;
                max-height: 80vh;
                overflow-y: auto;
                margin-bottom: 20px;

                @media (max-height: 600px) {
                    max-height: 60vh;
                }

                p {
                    margin-bottom: 0;
                }

                tt {
                    background-color: var(--gt-tour-block-content-tt-background);
                    padding: 4px;
                }

                ul {
                    margin-right: 15px;

                    li {
                        padding: 4px;
                    }
                }

                .red {
                    color: var(--gt-tour-block-content-red);
                }

                div > .btn,
                .step-link a,
                iframe,
                img {
                    display: block;
                    margin-top: 10px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .step-hint {
                    border-radius: 3px;
                    display: flex;
                    margin: 10px 0 0 0;
                    padding: 8px;

                    &:not(.interaction) {
                        background: var(--gt-tour-block-step-hint-not-interaction-background);
                    }

                    &.interaction:not(.alert-success) {
                        background: var(--gt-tour-block-step-hint-interaction-background);
                    }

                    &__icon {
                        display: inline-block;
                        margin: 0 10px 0 8px;
                    }

                    &__label {
                        display: inline-block;
                        font-size: 13px;
                        padding-top: 3px;
                        vertical-align: text-bottom;
                    }
                }

                .sub-headline {
                    padding-bottom: 10px;
                }

                img {
                    max-width: 100%;
                }

                iframe {
                    width: 100%;
                    min-height: 400px;
                }
            }

            &__buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;

                button {
                    cursor: pointer;
                    float: right;
                    font-size: 14px;
                    border: none;
                    outline: none;
                    padding: 8px 15px;
                    white-space: nowrap;

                    &:disabled {
                        color: var(--gt-tour-button-text-disabled) !important;
                        background-color: var(--gt-tour-button-color-disabled) !important;
                        cursor: default;

                        fa-icon {
                            color: var(--gt-tour-button-text-disabled) !important;
                        }
                    }

                    &.back-button {
                        @include tour-button(var(--gt-tour-back-button-color), var(--gt-tour-back-button-hover), left);
                    }

                    &.next-button {
                        @include tour-button(var(--gt-tour-next-button-color), var(--gt-tour-next-button-hover), right);
                    }

                    &.restart-button {
                        @include tour-button(var(--gt-tour-restart-button-color), var(--gt-tour-restart-button-hover), left);
                    }
                }
            }
        }

        &.tour-bottom,
        &.tour-bottom-right,
        &.tour-bottom-left {
            .tour-arrow::before {
                @include tour-triangle(top, var(--gt-tour-step-bg-color));
                position: absolute;
            }
            .tour-block {
                margin-top: 15px;
            }
        }

        &.tour-top,
        &.tour-top-right,
        &.tour-top-left {
            .tour-arrow::before {
                @include tour-triangle(bottom, var(--gt-tour-step-bg-color));
                position: absolute;
                bottom: 0;
            }
            .tour-block {
                margin-bottom: 15px;
            }
        }

        &.tour-bottom,
        &.tour-top {
            .tour-arrow::before {
                transform: translateX(-50%);
                left: 50%;
            }
        }

        &.tour-bottom-right,
        &.tour-top-right {
            .tour-arrow::before {
                transform: translateX(-100%);
                left: calc(100% - 5px);
            }
        }

        &.tour-bottom-left,
        &.tour-top-left {
            .tour-arrow::before {
                left: 15px;
            }
        }

        &.tour-left {
            .tour-arrow::before {
                @include tour-triangle(right, var(--gt-tour-step-bg-color));
                position: absolute;
                left: 100%;
                transform: translateX(-100%);
                top: 15px;
            }
            .tour-block {
                margin-right: 15px;
            }
        }

        &.tour-right {
            .tour-arrow::before {
                @include tour-triangle(left, var(--gt-tour-step-bg-color));
                position: absolute;
                left: 0;
                top: 15px;
            }
            .tour-block {
                margin-left: 15px;
            }
        }
    }
}
