<div *ngIf="currentTourStep">
    <div class="guided-tour-user-input-mask" (click)="backdropClick($event)"></div>
    <div
        class="guided-tour-spotlight-overlay"
        [style.top.px]="getOverlayTop(this.selectedElementRect, this.currentTourStep)"
        [style.left.px]="getOverlayLeft(this.selectedElementRect, this.currentTourStep)"
        [style.height.px]="getOverlayHeight(this.selectedElementRect, this.currentTourStep)"
        [style.width.px]="getOverlayWidth(this.selectedElementRect, this.currentTourStep)"
    ></div>
</div>
<div *ngIf="currentTourStep">
    <div
        #tourStep
        *ngIf="currentTourStep"
        class="tour-step tour-{{ currentTourStep.orientation }}"
        [ngClass]="{ 'page-tour-step': !currentTourStep.selector }"
        [style.top.px]="getTopPosition(this.selectedElementRect, this.currentTourStep, this.isBottom())"
        [style.left.px]="getLeftPosition(this.selectedElementRect, this.currentTourStep, this.tourStepWidth, this.minimalTourStepWidth)"
        [style.width.px]="getCalculatedTourStepWidth(this.selectedElementRect, this.currentTourStep, this.tourStepWidth, this.minimalTourStepWidth)"
        [style.transform]="getTransform(this.selectedElementRect, this.currentTourStep)"
    >
        <div *ngIf="currentTourStep.selector" class="tour-arrow"></div>
        <div class="tour-block">
            <div class="tour-block__header">
                <h3 jhiTranslate="{{ currentTourStep.headlineTranslateKey }}" class="headline" *ngIf="currentTourStep.headlineTranslateKey"></h3>
                <div class="close" (click)="guidedTourService.skipTour()"></div>
            </div>
            <div class="tour-block__content">
                <h5 jhiTranslate="{{ currentTourStep.subHeadlineTranslateKey }}" class="subHeadline" *ngIf="currentTourStep.subHeadlineTranslateKey"></h5>
                <span jhiTranslate="{{ currentTourStep.contentTranslateKey }}"></span>
                <div *ngIf="currentTourStep.externalUrl && currentTourStep.externalUrlTranslateKey">
                    <a jhiTranslate="{{ currentTourStep.externalUrlTranslateKey }}" [href]="currentTourStep.externalUrl" target="_blank"></a>
                </div>
                <div *ngIf="currentTourStep.contentType === ContentType.IMAGE && currentTourStep.imageUrl">
                    <img src="{{ currentTourStep.imageUrl }}" />
                </div>
                <div *ngIf="currentTourStep.contentType === ContentType.VIDEO && currentTourStep.videoUrl">
                    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(currentTourStep.videoUrl)" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="tour-block__buttons">
                <button [disabled]="guidedTourService.isOnFirstStep || guidedTourService.isOnResizeMessage" class="back-button" (click)="guidedTourService.backStep()">
                    <fa-icon icon="chevron-left"></fa-icon>
                    <span jhiTranslate="tour.navigation.back"></span>
                </button>
                <div class="dotstyle dotstyle-scaleup">
                    <ul>
                        <li
                            *ngFor="let i of guidedTourService.currentTourSteps"
                            [ngClass]="guidedTourService.currentTourStepDisplay === guidedTourService.currentTourSteps.indexOf(i) + 1 ? 'current' : ''"
                        >
                            <span>{{ guidedTourService.currentTourSteps.indexOf(i) }}</span>
                        </li>
                    </ul>
                </div>
                <button *ngIf="!guidedTourService.isOnLastStep && !guidedTourService.isOnResizeMessage" class="next-button" (click)="guidedTourService.nextStep()">
                    <span jhiTranslate="tour.navigation.next"></span>
                    <fa-icon icon="chevron-right"></fa-icon>
                </button>
                <button *ngIf="guidedTourService.isOnLastStep" class="next-button" jhiTranslate="tour.navigation.done" (click)="guidedTourService.nextStep()"></button>
                <button *ngIf="guidedTourService.isOnResizeMessage" class="next-button" jhiTranslate="tour.navigation.close" (click)="guidedTourService.resetTour()"></button>
            </div>
        </div>
    </div>
</div>
