.no-transition {
    transition: opacity 0.5s !important;
}

.progress-bar-status-text {
    font-size: 0.82rem;
}

.mw-custom {
    max-width: fit-content;
    min-width: 14.4rem;
    max-height: 2.22rem;
    overflow: hidden;
}
