.manual-text-selection-area {
    white-space: pre-wrap;
}

span {
    &:hover,
    &:focus {
        background: var(--manual-text-selection-span-hover-background-color);
        padding: 2px 4px;
        border-radius: 4px;
        cursor: default;
    }
}

.indicator {
    background-color: rgba(gold, 10%);
    z-index: 999;

    &__cta {
        top: 20px;
        left: 50%;
        position: absolute;
        color: #ffffff;

        &:hover {
            background-color: gold;
            color: #000000;
        }
    }

    &__cta-link {
        background-color: #333333;
        border-radius: 5px 5px 5px 5px;
        bottom: 0px;
        box-shadow: 2px 2px 5px rgba(#000000, 30%);
        color: #ffffff;
        cursor: pointer;
        left: 0px;
        padding: 11px 22px 10px 22px;
        position: absolute;
        transform: translateX(-50%);
        white-space: nowrap;

        &:after {
            bottom: -11px;
            font-size: 15px;
            left: 50%;
            line-height: 15px;
            content: '▼';
            color: #333333;
            position: absolute;
            transform: translateX(-50%);
        }

        &:hover {
            background-color: gold;
            color: #000000;

            &:after {
                color: gold;
            }
        }
    }
}
