::ng-deep ngb-typeahead-window.dropdown-menu {
    max-height: 25rem !important;
    overflow-y: auto !important;
}

.no-left-margin-padding:first-child {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

/* otherwise the dropdown changes the color on hover if no further options can be selected */
.form-control:disabled,
.form-control[disabled] {
    pointer-events: none;
}
