@import 'src/main/webapp/content/scss/artemis-variables';

$card-body-padding: 1.25rem;
$navbar-height: 57px;
$footer-height: 31px;

.plagiarism-inspector {
    height: calc(100vh - 2 * #{$card-body-padding} - #{$navbar-height} - #{$footer-height});
    // JHipster .card-body has default padding of 1.25
    margin: -1.25rem;

    .plagiarism-sidebar {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-right: 1px solid $body-bg;

        &-header {
            flex-shrink: 0;
            border-bottom: 1px solid $body-bg;
            padding: 0.75rem;

            .btn-link {
                border: none;
                padding: 0;
            }

            h6 {
                margin: 0;
            }
        }

        &-body {
            flex-grow: 1;

            .plagiarism-list {
                padding: 0;
                margin: 0;
                list-style: none;
                height: 100%;
                overflow-y: auto;

                &-item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 0.75rem;

                    .plagiarism-indicator {
                        border-radius: 50%;
                        background-color: slategrey;
                        height: 8px;
                        width: 8px;
                        margin-right: 0.75rem;
                    }

                    &:hover {
                        background-color: lightskyblue;
                    }

                    &.selected {
                        font-weight: bold;
                    }
                }
            }
        }

        &-footer {
            border-top: 1px solid $body-bg;
            padding: 0.75rem;
            flex-shrink: 0;
        }
    }

    .plagiarism-main {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-left: 200px;
    }

    .plagiarism-empty {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        opacity: 0.5;
    }

    .plagiarism-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
