@import 'src/main/webapp/content/scss/artemis-variables';

$card-body-padding: 1.25rem;
$navbar-height: 57px;
$breadcrumbs-height: 41px;
$footer-height: 31px;

.plagiarism-inspector {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 2 * #{$card-body-padding} - #{$navbar-height} - #{$footer-height} - #{$breadcrumbs-height});
    // JHipster's .card-body has default padding of 1.25
    margin: -1.25rem;

    .plagiarism-header {
        background-color: $artemis-dark;
        color: white;
        flex-shrink: 0;
        padding: 1.5rem;

        &-top {
            align-items: center;
            display: flex;
            margin-bottom: 1rem;
        }

        .plagiarism-page-title {
            margin-bottom: 0;
            margin-right: 1rem;
        }

        .plagiarism-buttons {
            align-items: center;
            display: flex;

            .check-plagiarism,
            .dropdown {
                margin-right: 1rem;
            }
        }
    }

    .plagiarism-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 240px;
        position: relative;
        overflow: hidden;

        .plagiarism-content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    .plagiarism-warning {
        align-items: center;
        display: flex;
        color: darken($body-bg, 20);
        padding-top: 1px;

        #plagiarismCaution {
            margin-right: 0.5rem;
        }
    }

    .plagiarism-checkbox {
        align-items: center;
        display: flex;
        margin: 0;

        #generateJPlagReport {
            margin-right: 0.5rem;
        }
    }

    .plagiarism-empty {
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;

        &-label {
            opacity: 0.5;
        }
    }
}
