.legend-section-frame {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .legend-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;

        .legend-circle {
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 0.25rem;
        }

        .exercise-indicator {
            background-color: var(--pastel-cyan);
        }

        .lecture-indicator {
            background-color: var(--pastel-blue);
        }

        .tutorial-indicator {
            background-color: var(--pastel-purple);
        }

        .exam-indicator {
            background-color: var(--pastel-teal);
        }
    }
}
