.live-events-modal-window {
    .modal-content {
        background: transparent !important;
        border: 0 !important;
    }

    .modal-header,
    .modal-body,
    .modal-footer {
        border: 0 !important;
    }
}
