.chevron-position {
    display: inline-block;
    vertical-align: middle;
}

.rotate-icon {
    transition: transform 0.3s ease;
}

.rotate-icon.rotated {
    transform: rotate(90deg);
}

.card {
    background-color: var(--overview-light-background-color);
    margin-bottom: 0.5rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
