@import '../../../../content/scss/_artemis-mixins.scss';

.dnd-question {
    overflow: auto;

    .drag-and-drop-area {
        display: flex;
        justify-content: center;

        @media (max-width: 1199.98px) {
            display: block;
        }

        .background-area .click-layer .drop-location {
            @include dnd-drop-location-item;

            &.drop-hover,
            &.drop-allowed > *,
            .dnd-drag-over > * {
                opacity: 0.5;
            }

            &.results {
                border-color: green;
                background: rgb(170, 255, 170);

                > * {
                    opacity: 0.8;
                }

                &.incorrect {
                    border-color: red;
                    background: rgb(255, 170, 170);
                }
            }

            &.sampleSolution {
                border-color: black;
                background: white;

                > * {
                    opacity: 1;
                }
            }

            .result-symbol {
                color: orange;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 1;
                -webkit-transform: translate3d(-63%, -63%, 0);
                -moz-transform: translate3d(-63%, -63%, 0);
                -ms-transform: translate3d(-63%, -63%, 0);
                -o-transform: translate3d(-63%, -63%, 0);
                transform: translate3d(-63%, -63%, 0);
            }

            .invalid {
                color: red;
                position: absolute;
                bottom: 0px;
                left: 2px;
                z-index: 1;
                opacity: 1;
            }

            .drag-item {
                background: transparent;
                border: none;
                position: relative;
                min-width: 160px;
                max-width: 360px;

                img {
                    @include dnd-drag-item-image;
                }

                div {
                    @media (max-width: 991.98px) {
                        padding: 0 !important;
                    }
                }
            }
        }

        .drag-and-drop-items {
            @media (min-width: 1200px) {
                margin: -6px 0 0 20px;
            }

            .dnd-instructions {
                @media (min-width: 1200px) {
                    margin: 0 0 10px 0;
                }
            }

            .drag-items {
                background: #eee;
                margin-left: auto;
                margin-right: auto;
            }

            > div {
                @media (min-width: 1200px) {
                    width: 200px;
                }
            }
        }
    }
}
