<div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">{{ 'loading' | artemisTranslate }}</span>
    </div>
</div>

<div *ngIf="!isLoading">
    <div *ngIf="!course?.learningPathEnabled">
        <span jhiTranslate="artemisApp.learningPath.isDisabled">Disabled</span>
        <div [ngbTooltip]="'artemisApp.learningPath.enableHint' | artemisTranslate">
            <button *jhiHasAnyAuthority="['ROLE_INSTRUCTOR', 'ROLE_ADMIN']" type="button" class="btn" (click)="enableLearningPaths()" jhiTranslate="artemisApp.learningPath.enable">
                Enable
            </button>
        </div>
    </div>
    <div *ngIf="course?.learningPathEnabled">
        <!-- create list of learning paths -->
    </div>
</div>
