.edit-group-dates-button {
    padding: 0;
    border: 0;
    color: var(--bs-link-color);
    font: inherit;
    background: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
