$tutor-image-size: 4.5rem;

.tutorial-group-detail {
    .scrollbar {
        position: relative;
        max-height: 1000px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .markdown-preview {
        margin-bottom: -1rem;
    }
}

.tutorial-group-detail-tutor-image {
    width: $tutor-image-size;
    height: $tutor-image-size;
    object-fit: cover;
}

.tutorial-group-detail-tutor-default-image {
    width: $tutor-image-size;
    height: $tutor-image-size;
    font-size: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-400);
    color: var(--white);
}
