<div class="tutorial-group-detail">
    <h2>{{ tutorialGroup.title }}</h2>
    <hr />
    <ng-container *ngIf="header">
        <ng-template [ngTemplateOutlet]="header" [ngTemplateOutletContext]="{ $implicit: tutorialGroup }"></ng-template>
        <hr />
    </ng-container>
    <h3>{{ 'artemisApp.pages.tutorialGroupDetail.title' | artemisTranslate }}:</h3>
    <dl class="row-md jh-entity-details markdown-preview">
        <!-- Course -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.course' | artemisTranslate }}</span>
        </dt>
        <dd>
            <ng-container *ngIf="tutorialGroup.courseTitle">
                <ng-container *ngIf="courseClickHandler; else noCourseClickHandler">
                    <a id="courseLink" [routerLink]="" class="link-primary" (click)="courseClickHandler()">{{ tutorialGroup.courseTitle }}</a>
                </ng-container>
                <ng-template #noCourseClickHandler>
                    <span>{{ tutorialGroup.courseTitle }}</span>
                </ng-template>
            </ng-container>
        </dd>
        <!-- Title -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.title' | artemisTranslate }}</span>
        </dt>
        <dd>
            <span *ngIf="tutorialGroup.title">{{ tutorialGroup.title }}</span>
        </dd>
        <!-- Tutor -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.teachingAssistant' | artemisTranslate }}</span>
        </dt>
        <dd>
            <span *ngIf="tutorialGroup.teachingAssistantName; else teachingAssistantNotSet">{{ tutorialGroup.teachingAssistantName }}</span>
            <ng-template #teachingAssistantNotSet>
                <span>{{ 'artemisApp.pages.tutorialGroupDetail.teachingAssistantNotSet' | artemisTranslate }}</span>
            </ng-template>
        </dd>
        <!-- Capacity -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.capacity' | artemisTranslate }}</span>
        </dt>
        <dd>
            <span *ngIf="tutorialGroup.capacity; else capacityNotSet">{{ tutorialGroup.capacity }}</span>
            <ng-template #capacityNotSet>
                <span>{{ 'artemisApp.pages.tutorialGroupDetail.capacityNotSet' | artemisTranslate }}</span></ng-template
            >
        </dd>
        <!-- Registered Students -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.registrations' | artemisTranslate }}</span>
        </dt>
        <dd>
            <ng-container *ngIf="tutorialGroup.numberOfRegisteredUsers !== undefined">
                <ng-container *ngIf="registrationClickHandler; else noRegistrationClickHandler">
                    <a id="registrationLink" [routerLink]="" class="link-primary" (click)="registrationClickHandler()">{{ tutorialGroup.numberOfRegisteredUsers }}</a>
                </ng-container>
                <ng-template #noRegistrationClickHandler>
                    <span>{{ tutorialGroup.numberOfRegisteredUsers }}</span>
                </ng-template>
            </ng-container>
        </dd>
        <!-- Online/Offline -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.isOnline' | artemisTranslate }}</span>
        </dt>
        <dd>
            <span>
                {{ (tutorialGroup.isOnline ? 'artemisApp.generic.online' : 'artemisApp.generic.offline') | artemisTranslate }}
            </span>
        </dd>
        <!-- Language -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.language' | artemisTranslate }}</span>
        </dt>
        <dd>
            <span *ngIf="tutorialGroup.language">
                {{ (tutorialGroup.language === GERMAN ? 'artemisApp.generic.german' : 'artemisApp.generic.english') | artemisTranslate }}
            </span>
        </dd>
        <!-- Campus -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.campus' | artemisTranslate }}</span>
        </dt>
        <dd>
            <span *ngIf="tutorialGroup.campus; else campusNotSet">{{ tutorialGroup.campus }}</span>
            <ng-template #campusNotSet>
                <span>{{ 'artemisApp.pages.tutorialGroupDetail.campusNotSet' | artemisTranslate }}</span></ng-template
            >
        </dd>
        <!-- Additional Information -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.additionalInformation' | artemisTranslate }}</span>
        </dt>
        <dd *ngIf="formattedAdditionalInformation; else additionalInformationNotSet" class="editor-outline-background" [innerHTML]="formattedAdditionalInformation"></dd>
        <ng-template #additionalInformationNotSet
            ><span>{{ 'artemisApp.pages.tutorialGroupDetail.additionalInformationNotSet' | artemisTranslate }}</span>
        </ng-template>
        <!-- Schedule -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.schedule' | artemisTranslate }}</span>
        </dt>
        <dd>
            <ng-container *ngIf="tutorialGroup.tutorialGroupSchedule; else scheduleNotSet">
                <span>{{
                    (getDayTranslationKey(tutorialGroup.tutorialGroupSchedule?.dayOfWeek) | artemisTranslate) +
                        ' ' +
                        tutorialGroup.tutorialGroupSchedule?.startTime +
                        '-' +
                        tutorialGroup.tutorialGroupSchedule?.endTime
                }}</span>
                <br />
                <span *ngIf="tutorialGroup.isOnline">{{ 'artemisApp.forms.scheduleForm.locationInput.labelOnline' | artemisTranslate }}</span>
                <span *ngIf="!tutorialGroup.isOnline">{{ 'artemisApp.forms.scheduleForm.locationInput.labelOffline' | artemisTranslate }}</span>
                : {{ tutorialGroup.tutorialGroupSchedule?.location }}
                <br />
                <span>
                    {{
                        (tutorialGroup.tutorialGroupSchedule!.repetitionFrequency! === 1
                            ? 'artemisApp.entities.tutorialGroupSchedule.repetitionOneWeek'
                            : 'artemisApp.entities.tutorialGroupSchedule.repetitionNWeeks'
                        ) | artemisTranslate: { n: tutorialGroup.tutorialGroupSchedule!.repetitionFrequency! }
                    }}
                </span>
            </ng-container>
            <br />
            <ng-template #scheduleNotSet>
                <span>{{ 'artemisApp.pages.tutorialGroupDetail.scheduleNotSet' | artemisTranslate }}</span></ng-template
            >
        </dd>
        <!-- Sessions -->
        <dt>
            <span>{{ 'artemisApp.entities.tutorialGroup.sessions' | artemisTranslate }}</span>
        </dt>
        <dd>
            <ng-container *ngIf="sessions && sessions.length > 0; else sessionsNotFound">
                <div class="scrollbar table-wrapper-scroll-y border border-lightgrey p-3">
                    <jhi-tutorial-group-sessions-table [timeZone]="timeZone" [sessions]="sessions" [tutorialGroup]="tutorialGroup" [showIdColumn]="false">
                    </jhi-tutorial-group-sessions-table>
                </div>
            </ng-container>
            <ng-template #sessionsNotFound>
                <span>{{ 'artemisApp.pages.tutorialGroupDetail.sessionsNotFound' | artemisTranslate }}</span>
            </ng-template>
        </dd>
    </dl>
</div>
