.open-repository-button {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.https-or-ssh-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

@mixin url-box-remove-line($direction) {
    border-top-#{$direction}-radius: 0;
    border-bottom-#{$direction}-radius: 0;
    border-#{$direction}: none;
}

.url-box-remove-line-left {
    @include url-box-remove-line(left);
}

.url-box-remove-line-right {
    @include url-box-remove-line(right);
}

.clone-url {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 50vw;
    padding: 4.5px;
}
