@import '../metis.component';

.linked-context-information,
.context-information {
    font-weight: 600;
    color: var(--metis-blue);
}

.post-title {
    font-weight: 600;
    display: inline-block;
    padding-top: 8px;
}

.announcement-icon {
    color: var(--metis-blue);
}

.reference-hash {
    color: inherit;
}

.hover-actions {
    position: absolute;
    top: -1.8rem;
    right: 1%;
    display: flex;
    max-height: 2.2rem;
    gap: 10px;
    visibility: hidden;
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;
    background: var(--metis-selection-option-background);
    padding: 5px;
    border-radius: 5px;
    border: 0.01rem solid var(--metis-gray);
}

.hover-container {
    position: relative;
}

.non-consecutive .hover-actions {
    top: -2rem;
}

.hover-container:hover {
    background: var(--metis-selection-option-hover-background);
    transition: background-color 0.2s ease-in-out;
}

.hover-container:hover .hover-actions {
    visibility: visible;
    opacity: 1;
}

.message-container {
    position: relative;
}

.post-is-saved-message,
.message-container,
.post-reactions-bar,
.post-context-information-wrap,
.post {
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;

    &.is-saved {
        background-color: rgba($primary, 0.1);
    }
}

.message-content,
.post-is-saved-message-content {
    padding-left: 0.25rem;
}

.clickable {
    cursor: pointer;
}

.item-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.2rem;
}

.pinned-message {
    background-color: var(--artemis-alert-warning-background);
}

.post-time {
    position: absolute;
    top: 5%;
    left: 0.5rem;
    margin-left: 0.7rem;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    font-size: 0.75rem;
    color: var(--metis-gray-dark);
}

.hover-container:hover .post-time {
    visibility: visible;
    opacity: 1;
}
