<div>
    <jhi-alert></jhi-alert>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="!isLoading">
        <div class="d-flex">
            <h2 class="font-weigth-bold" *ngIf="examScoreDTO.title">
                {{ examScoreDTO.title }}
            </h2>
            <button class="ml-auto btn btn-primary btn-sm" (click)="exportToCsv()">
                <fa-icon [icon]="'download'" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="artemisApp.examScores.exportCSV">&nbsp;Export Results as CSV</span>
            </button>
        </div>
        <div class="d-flex mb-2">
            <h6 *ngIf="examScoreDTO.maxPoints" jhiTranslate="artemisApp.examScores.pointsAchievable" [translateValues]="{ maxPoints: examScoreDTO.maxPoints }">
                {{ toLocaleString(examScoreDTO.maxPoints) }} Points achievable
            </h6>
            <h6
                class="ml-2"
                jhiTranslate="artemisApp.examScores.examResultSummary"
                [translateValues]="{ exercisesLength: exerciseGroups.length, studentsLength: studentResults.length }"
            >
                {{ exerciseGroups.length }} exercise groups, {{ studentResults.length }} registered students
            </h6>
        </div>

        <div class="mb-3">
            <h4>
                <span>Exercise Statistics</span>
            </h4>
            <div class="d-flex align-content-center mb-2">
                <div class="d-flex align-items-center">
                    <label class="radio-inline mb-0 d-flex align-items-center">
                        <input type="checkbox" [checked]="filterForSubmittedExams" (change)="toggleFilterForSubmittedExam()" />
                        <span class="ml-1">{{ 'artemisApp.examScores.filterForSubmittedExams' | translate }}</span>
                    </label>
                    <label class="radio-inline ml-2 mb-0 d-flex align-items-center">
                        <input type="checkbox" [checked]="filterForNonEmptySubmissions" (change)="toggleFilterForNonEmptySubmission()" />
                        <span class="ml-1">{{ 'artemisApp.examScores.filterForNonEmptySubmissions' | translate }}</span>
                    </label>
                </div>
            </div>

            <!-- Exercise Statistics Table -->
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th jhiTranslate="artemisApp.examScores.titleExerciseGroupColumn">Exercise Group</th>
                        <th jhiTranslate="artemisApp.examScores.titleExerciseColumn">Exercise</th>
                        <th jhiTranslate="artemisApp.examScores.averagePointsExerciseColumn">Average Points (Exercise)</th>
                        <th jhiTranslate="artemisApp.examScores.noExerciseParticipantsColumn"># Exercise Participants (Filtered/Total)</th>
                        <th jhiTranslate="artemisApp.examScores.averagePointsGroupColumn">Average Points (Exercise Group)</th>
                        <th jhiTranslate="artemisApp.examScores.maximumPointsColumn">Maximum Points</th>
                        <th jhiTranslate="artemisApp.examScores.noExerciseGroupParticipantsFilteredColumn"># Exercise Group Participants Filtered</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let exerciseGroupResult of aggregatedExerciseGroupResults">
                        <tr *ngFor="let exerciseResult of exerciseGroupResult.exerciseResults; first as isFirst">
                            <td *ngIf="isFirst" [rowSpan]="exerciseGroupResult.exerciseResults.length">{{ exerciseGroupResult.title }}</td>
                            <td>{{ exerciseResult.title }}</td>
                            <td>{{ exerciseResult.averagePoints !== null ? roundAndPerformLocalConversion(exerciseResult.averagePoints, 2, 2) : '-' }}</td>
                            <td>{{ exerciseResult.noOfParticipantsWithFilter }}/{{ exerciseResult.totalParticipants }}</td>
                            <td *ngIf="isFirst" [rowSpan]="exerciseGroupResult.exerciseResults.length">
                                {{ exerciseGroupResult.averagePoints !== null ? roundAndPerformLocalConversion(exerciseGroupResult.averagePoints, 2, 2) : '-' }}
                            </td>
                            <td *ngIf="isFirst" [rowSpan]="exerciseGroupResult.exerciseResults.length">{{ toLocaleString(exerciseGroupResult.maxPoints) }}</td>
                            <td *ngIf="isFirst" [rowSpan]="exerciseGroupResult.exerciseResults.length">{{ exerciseGroupResult.noOfParticipantsWithFilter }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

        <!-- Student Result Table -->
        <h4>
            <span>Student Results</span>
        </h4>
        <div class="table-responsive table-bordered table-hover">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="sortRows.bind(this)">
                        <th jhiSortBy="name">
                            <span jhiTranslate="artemisApp.examScores.nameColumn">Name</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th jhiSortBy="login">
                            <span jhiTranslate="artemisApp.examScores.loginColumn">Login</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th jhiSortBy="eMail">
                            <span jhiTranslate="artemisApp.examScores.eMailColumn">E-Mail</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <th jhiSortBy="registrationNumber">
                            <span jhiTranslate="artemisApp.examScores.registrationNumberColumn">Matriculation Number</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                        <ng-container *ngFor="let exerciseGroup of examScoreDTO.exerciseGroups">
                            <th [jhiSortBy]="'exerciseGroupIdToExerciseResult.' + exerciseGroup.id + '.achievedPoints'">
                                <span>{{ exerciseGroup.title }}</span>
                                <fa-icon [icon]="'sort'"></fa-icon>
                            </th>
                        </ng-container>
                        <th jhiSortBy="overallPointsAchieved">
                            <span jhiTranslate="artemisApp.examScores.overallPointsColumn">Overall Points</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>

                        <th jhiSortBy="overallScoreAchieved">
                            <span jhiTranslate="artemisApp.examScores.overallScoreColumn">Overall Score (%)</span>
                            <fa-icon [icon]="'sort'"></fa-icon>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let studentResult of studentResults">
                        <td>{{ studentResult.name }}</td>
                        <td>{{ studentResult.login }}</td>
                        <td>{{ studentResult.eMail ? studentResult.eMail : '-' }}</td>
                        <td>{{ studentResult.registrationNumber ? studentResult.registrationNumber : '-' }}</td>
                        <ng-container *ngFor="let exerciseGroup of examScoreDTO.exerciseGroups">
                            <td *ngIf="studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id]; else empty">
                                {{ studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id].title }}
                                :
                                {{ roundAndPerformLocalConversion(studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id].achievedPoints, 1) }}

                                (
                                {{ roundAndPerformLocalConversion(studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id].achievedScore, 2, 2) }}
                                %)
                            </td>
                            <ng-template #empty>
                                <td>
                                    -
                                </td>
                            </ng-template>
                        </ng-container>
                        <td>{{ roundAndPerformLocalConversion(studentResult.overallPointsAchieved, 1) }}</td>
                        <td>{{ roundAndPerformLocalConversion(studentResult.overallScoreAchieved, 2, 2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
