.body-striped {
    tbody {
        &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.color-box {
    border-radius: 3px;
    height: 15px;
    width: 15px;
}

.sufficient-performance {
    background: rgba(127, 127, 127, 255);
}

.insufficient-performance {
    background: rgba(204, 0, 0, 1);
}

.critical-performance {
    background: rgba(230, 174, 6, 1);
}

.table-clear-width {
    width: unset;
}
