<div>
    @if (isLoading) {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    @if (!isLoading && (!studentResults || !exerciseGroups)) {
        <div>
            @if (!exerciseGroups) {
                <div class="alert alert-warning">
                    <fa-icon [icon]="faExclamationTriangle" />
                    <span jhiTranslate="artemisApp.examScores.noExerciseGroupAvailable"></span>
                </div>
            }
            @if (!studentResults) {
                <div class="alert alert-info">
                    <span jhiTranslate="artemisApp.examScores.noStudentResultAvailable"></span>
                </div>
            }
        </div>
    }
    @if (!isLoading && studentResults && exerciseGroups) {
        <div>
            <div class="d-flex">
                @if (examScoreDTO.title) {
                    <h2 class="font-weigth-bold">
                        {{ examScoreDTO.title }}
                    </h2>
                }
                <jhi-csv-export-button class="ms-auto" title="entity.action.export" [icon]="faDownload" [buttonSize]="ButtonSize.SMALL" (onExport)="exportExamResults($event)" />
            </div>
            <div class="d-flex mb-1">
                @if (examScoreDTO.maxPoints) {
                    <h6>{{ 'artemisApp.examScores.maxPoints' | artemisTranslate }}: {{ localize(examScoreDTO.maxPoints) }},</h6>
                }
                <a [routerLink]="['/course-management', course!.id, 'exams', examScoreDTO.examId, 'exercise-groups']">
                    <h6 class="ms-2">{{ exerciseGroups.length }} {{ 'artemisApp.examScores.noExerciseGroups' | artemisTranslate }}</h6>
                </a>
                <h6>,</h6>
                <a [routerLink]="['/course-management', course!.id, 'exams', examScoreDTO.examId, 'students']">
                    <h6 class="ms-2">{{ aggregatedExamResults.noOfRegisteredUsers }} {{ 'artemisApp.examScores.registered' | artemisTranslate }}</h6>
                </a>
            </div>
            <div class="mb-2">
                <h4>
                    <span jhiTranslate="artemisApp.examScores.examStatisticsTitle"></span>
                </h4>
            </div>
            <!-- Filter settings -->
            <div class="d-flex align-items-center align-content-center mb-2">
                <div class="form-check form-check-inline">
                    <input
                        id="toggleFilterForSubmittedExam"
                        class="form-check-input"
                        type="checkbox"
                        [checked]="filterForSubmittedExams"
                        (change)="toggleFilterForSubmittedExam()"
                    />
                    <label for="toggleFilterForSubmittedExam" class="form-check-label" jhiTranslate="artemisApp.examScores.filterForSubmittedExams"></label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                        id="toggleFilterForNonEmptySubmission"
                        class="form-check-input"
                        type="checkbox"
                        [checked]="filterForNonEmptySubmissions"
                        (change)="toggleFilterForNonEmptySubmission()"
                    />
                    <label for="toggleFilterForNonEmptySubmission" class="form-check-label" jhiTranslate="artemisApp.examScores.filterForNonEmptySubmissions"></label>
                </div>
            </div>
            <!-- Exam Point Statistics -->
            <table class="table table-bordered table-sm table-striped table-clear-width mb-3">
                @if (hasSecondCorrectionAndStarted) {
                    <thead class="table-dark">
                        <tr>
                            <th></th>
                            @if (gradingScaleExists && !isBonus) {
                                <th colspan="3" jhiTranslate="artemisApp.examScores.secondCorrectionColumn"></th>
                            }
                            @if (gradingScaleExists && !isBonus) {
                                <th colspan="3" style="border-left: 3px solid grey" jhiTranslate="artemisApp.examScores.firstCorrectionColumn"></th>
                            }
                            @if (!gradingScaleExists || isBonus) {
                                <th colspan="2" jhiTranslate="artemisApp.examScores.secondCorrectionColumn"></th>
                            }
                            @if (!gradingScaleExists || isBonus) {
                                <th colspan="2" style="border-left: 3px solid grey" jhiTranslate="artemisApp.examScores.firstCorrectionColumn"></th>
                            }
                        </tr>
                    </thead>
                }
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        @if (gradingScaleExists && !isBonus) {
                            <th jhiTranslate="artemisApp.examScores.passedColumn"></th>
                        }
                        <th jhiTranslate="artemisApp.examScores.submittedColumn"></th>
                        <th jhiTranslate="artemisApp.examScores.totalColumn"></th>
                        @if (hasSecondCorrectionAndStarted && gradingScaleExists && !isBonus) {
                            <th style="border-left: 3px solid grey" jhiTranslate="artemisApp.examScores.passedColumn"></th>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <th [ngStyle]="!gradingScaleExists || isBonus ? { 'border-left': '3px solid grey' } : {}" jhiTranslate="artemisApp.examScores.submittedColumn"></th>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <th jhiTranslate="artemisApp.examScores.totalColumn"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" jhiTranslate="artemisApp.examScores.noOfExams"></th>
                        @if (gradingScaleExists && !isBonus) {
                            <td>
                                {{ aggregatedExamResults.noOfExamsFilteredForPassed }}
                                ({{ tableState.relativeAmountOfPassedExams }}%)
                            </td>
                        }
                        <td>
                            {{ tableState.absoluteAmountOfSubmittedExams }}
                            ({{ tableState.relativeAmountOfSubmittedExams }}%)
                        </td>
                        <td>
                            {{ tableState.absoluteAmountOfTotalExams }}
                        </td>
                        @if (hasSecondCorrectionAndStarted && gradingScaleExists && !isBonus) {
                            <td style="border-left: 3px solid lightgrey"></td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td [ngStyle]="!gradingScaleExists || isBonus ? { 'border-left': '3px solid lightgrey' } : {}"></td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td></td>
                        }
                    </tr>
                    <tr>
                        <th scope="row" jhiTranslate="artemisApp.examScores.averagePointsColumn"></th>
                        @if (gradingScaleExists && !isBonus) {
                            <td>
                                {{ aggregatedExamResults.meanPointsPassed !== null ? roundAndPerformLocalConversion(aggregatedExamResults.meanPointsPassed) : '-' }}
                                ({{
                                    aggregatedExamResults.meanPointsRelativePassed !== null ? roundAndPerformLocalConversion(aggregatedExamResults.meanPointsRelativePassed) : '-'
                                }}
                                %)
                            </td>
                        }
                        <td>{{ tableState.averagePointsSubmitted }} ({{ tableState.averageScoreSubmitted }}%)</td>
                        <td>{{ tableState.averagePointsTotal }} ({{ tableState.averageScoreTotal }}%)</td>
                        @if (hasSecondCorrectionAndStarted && gradingScaleExists && !isBonus) {
                            <td style="border-left: 3px solid lightgrey">
                                {{
                                    aggregatedExamResults.meanPointsPassedInFirstCorrection !== null
                                        ? roundAndPerformLocalConversion(aggregatedExamResults.meanPointsPassedInFirstCorrection)
                                        : '-'
                                }}
                                ({{
                                    aggregatedExamResults.meanPointsRelativePassedInFirstCorrection !== null
                                        ? roundAndPerformLocalConversion(aggregatedExamResults.meanPointsRelativePassedInFirstCorrection)
                                        : '-'
                                }}
                                %)
                            </td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td [ngStyle]="!gradingScaleExists || isBonus ? { 'border-left': '3px solid lightgrey' } : {}">
                                {{ tableState.averagePointsSubmittedInFirstCorrection }}
                                ({{ tableState.averageScoreSubmittedInFirstCorrection }}%)
                            </td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td>
                                {{ tableState.averagePointsTotalInFirstCorrection }}
                                ({{ tableState.averageScoreTotal }}%)
                            </td>
                        }
                    </tr>
                    @if (gradingScaleExists) {
                        <tr>
                            <th scope="row" jhiTranslate="{{ isBonus ? 'artemisApp.examScores.averageBonusColumn' : 'artemisApp.examScores.averageGradeColumn' }}"></th>
                            @if (!isBonus) {
                                <td>{{ aggregatedExamResults.meanGradePassed !== null ? aggregatedExamResults.meanGradePassed : '-' }}</td>
                            }
                            <td>{{ tableState.averageGradeSubmitted }}</td>
                            <td>{{ tableState.averageGradeTotal }}</td>
                            @if (hasSecondCorrectionAndStarted && !isBonus) {
                                <td style="border-left: 3px solid lightgrey">
                                    {{ aggregatedExamResults.meanGradePassedInFirstCorrection !== null ? aggregatedExamResults.meanGradePassedInFirstCorrection : '-' }}
                                </td>
                            }
                            @if (hasSecondCorrectionAndStarted) {
                                <td [ngStyle]="isBonus ? { 'border-left': '3px solid lightgrey' } : {}">
                                    {{ tableState.averageGradeSubmittedInFirstCorrection }}
                                </td>
                            }
                            @if (hasSecondCorrectionAndStarted) {
                                <td>
                                    {{ tableState.averageGradeTotalInFirstCorrection }}
                                </td>
                            }
                        </tr>
                    }
                    <tr>
                        <th scope="row" jhiTranslate="artemisApp.examScores.medianColumn"></th>
                        @if (gradingScaleExists && !isBonus) {
                            <td>
                                {{ aggregatedExamResults.medianPassed !== null ? roundAndPerformLocalConversion(aggregatedExamResults.medianPassed) : '-' }}
                                ({{ aggregatedExamResults.medianRelativePassed !== null ? roundAndPerformLocalConversion(aggregatedExamResults.medianRelativePassed) : '-' }}
                                %)
                            </td>
                        }
                        <td>
                            {{ tableState.medianPointsSubmitted }}
                            ({{ tableState.medianScoreSubmitted }}%)
                        </td>
                        <td>
                            {{ tableState.medianPointsTotal }}
                            ({{ tableState.medianScoreTotal }}%)
                        </td>
                        @if (hasSecondCorrectionAndStarted && gradingScaleExists && !isBonus) {
                            <td style="border-left: 3px solid lightgrey">
                                {{
                                    aggregatedExamResults.medianPassedInFirstCorrection !== null
                                        ? roundAndPerformLocalConversion(aggregatedExamResults.medianPassedInFirstCorrection)
                                        : '-'
                                }}
                                ({{
                                    aggregatedExamResults.medianRelativePassedInFirstCorrection !== null
                                        ? roundAndPerformLocalConversion(aggregatedExamResults.medianRelativePassedInFirstCorrection)
                                        : '-'
                                }}
                                %)
                            </td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td [ngStyle]="!gradingScaleExists || isBonus ? { 'border-left': '3px solid lightgrey' } : {}">
                                {{ tableState.medianPointsSubmittedInFirstCorrection }}
                                ({{ tableState.medianScoreSubmittedInFirstCorrection }}%)
                            </td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td>
                                {{ tableState.medianPointsTotalInFirstCorrection }}
                                ({{ tableState.medianScoreTotalInFirstCorrection }}%)
                            </td>
                        }
                    </tr>
                    @if (gradingScaleExists) {
                        <tr>
                            <th scope="row" jhiTranslate="{{ isBonus ? 'artemisApp.examScores.medianBonusColumn' : 'artemisApp.examScores.medianGradeColumn' }}"></th>
                            @if (!isBonus) {
                                <td>{{ aggregatedExamResults.medianGradePassed !== null ? aggregatedExamResults.medianGradePassed : '-' }}</td>
                            }
                            <td>{{ tableState.medianGradeSubmitted }}</td>
                            <td>{{ tableState.medianGradeTotal }}</td>
                            @if (!isBonus && hasSecondCorrectionAndStarted) {
                                <td style="border-left: 3px solid lightgrey">
                                    >{{ aggregatedExamResults.medianGradePassedInFirstCorrection !== null ? aggregatedExamResults.medianGradePassedInFirstCorrection : '-' }}
                                </td>
                            }
                            @if (hasSecondCorrectionAndStarted) {
                                <td [ngStyle]="isBonus ? { 'border-left': '3px solid lightgrey' } : {}">
                                    {{ tableState.medianGradeSubmittedInFirstCorrection }}
                                </td>
                            }
                            @if (hasSecondCorrectionAndStarted) {
                                <td>
                                    {{ tableState.medianGradeTotalInFirstCorrection }}
                                </td>
                            }
                        </tr>
                    }
                    <tr>
                        <th scope="row" jhiTranslate="artemisApp.examScores.standardDeviationColumn"></th>
                        @if (gradingScaleExists && !isBonus) {
                            <td>
                                {{ aggregatedExamResults.standardDeviationPassed !== null ? roundAndPerformLocalConversion(aggregatedExamResults.standardDeviationPassed) : '-' }}
                            </td>
                        }
                        <td>
                            {{ tableState.standardDeviationSubmitted }}
                        </td>
                        <td>{{ tableState.standardDeviationTotal }}</td>
                        @if (hasSecondCorrectionAndStarted && gradingScaleExists && !isBonus) {
                            <td style="border-left: 3px solid lightgrey">
                                {{
                                    aggregatedExamResults.standardDeviationPassedInFirstCorrection !== null
                                        ? roundAndPerformLocalConversion(aggregatedExamResults.standardDeviationPassedInFirstCorrection)
                                        : '-'
                                }}
                            </td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td [ngStyle]="!gradingScaleExists || isBonus ? { 'border-left': '3px solid lightgrey' } : {}">
                                {{ tableState.standardDeviationSubmittedInFirstCorrection }}
                            </td>
                        }
                        @if (hasSecondCorrectionAndStarted) {
                            <td>
                                {{ tableState.standardDeviationTotalInFirstCorrection }}
                            </td>
                        }
                    </tr>
                    @if (gradingScaleExists && hasNumericGrades) {
                        <tr>
                            <th scope="row" jhiTranslate="artemisApp.examScores.standardGradeDeviationColumn"></th>
                            @if (!isBonus) {
                                <td>
                                    {{
                                        aggregatedExamResults.standardGradeDeviationPassed !== null
                                            ? roundAndPerformLocalConversion(aggregatedExamResults.standardGradeDeviationPassed)
                                            : '-'
                                    }}
                                </td>
                            }
                            <td>
                                {{ tableState.standardGradeDeviationSubmitted }}
                            </td>
                            <td>
                                {{ tableState.standardGradeDeviationTotal }}
                            </td>
                            @if (hasSecondCorrectionAndStarted && !isBonus) {
                                <td style="border-left: 3px solid lightgrey">
                                    {{
                                        aggregatedExamResults.standardGradeDeviationPassedInFirstCorrection !== null
                                            ? roundAndPerformLocalConversion(aggregatedExamResults.standardGradeDeviationPassedInFirstCorrection)
                                            : '-'
                                    }}
                                </td>
                            }
                            @if (hasSecondCorrectionAndStarted) {
                                <td [ngStyle]="isBonus ? { 'border-left': '3px solid lightgrey' } : {}">
                                    {{ tableState.standardGradeDeviationSubmittedInFirstCorrection }}
                                </td>
                            }
                            @if (hasSecondCorrectionAndStarted) {
                                <td>
                                    {{ tableState.standardGradeDeviationTotalInFirstCorrection }}
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-block">
                @if (gradingScaleExists && this.aggregatedExamResults.medianRelativePassed !== null) {
                    <div class="form-check">
                        <input id="toggleMedianPassed" class="form-check-input" type="checkbox" [checked]="showPassedMedian" (change)="toggleMedian(medianType.PASSED)" />
                        <label
                            for="toggleMedianPassed"
                            class="form-check-label"
                            jhiTranslate="artemisApp.examScores.highlightPassedMedian"
                            [translateValues]="{
                                median: this.aggregatedExamResults.medianRelativePassed
                                    ? roundScoreSpecifiedByCourseSettings(this.aggregatedExamResults.medianRelativePassed, course)
                                    : 0,
                            }"
                        ></label>
                    </div>
                }
                <div class="form-check">
                    <input id="toggleMedianOverall" class="form-check-input" type="checkbox" [checked]="showOverallMedian" (change)="toggleMedian(overallChartMedianType)" />
                    <label
                        for="toggleMedianOverall"
                        class="form-check-label"
                        jhiTranslate="artemisApp.examScores.highlightOverallMedian"
                        [translateValues]="{ median: this.overallChartMedian }"
                    ></label>
                </div>
                <!-- Histogram -->
                @if (hasBonus) {
                    <h4 class="text-center mb-0" jhiTranslate="artemisApp.examScores.gradesBeforeBonus"></h4>
                }
                <div class="row d-flex justify-content-center">
                    <jhi-participant-scores-distribution
                        [scores]="scores"
                        [scoreToHighlight]="highlightedValue"
                        [gradingScale]="gradingScale"
                        [isCourseScore]="false"
                        [dataLabelFormatting]="dataLabelFormatting"
                        class="col-lg-11"
                    />
                </div>
                <!-- Histogram with bonus -->
                @if (hasBonus) {
                    <h4 class="text-center mt-5 mb-0" jhiTranslate="artemisApp.examScores.gradesAfterBonus"></h4>
                }
                @if (hasBonus) {
                    <div class="row d-flex justify-content-center">
                        <jhi-participant-scores-distribution
                            [gradeNames]="gradesWithBonus"
                            [scoreToHighlight]="highlightedValue"
                            [gradingScale]="gradingScale"
                            [isCourseScore]="false"
                            [dataLabelFormatting]="dataLabelFormatting"
                            class="col-lg-11"
                        />
                    </div>
                }
            </div>
            <!-- Exercise Statistics -->
            @if (aggregatedExerciseGroupResults) {
                <div>
                    <h4 class="mt-3">
                        <span jhiTranslate="artemisApp.examScores.ExerciseGroupsTitle"></span>
                    </h4>
                    @if (course) {
                        <div class="col mb-3">
                            @for (exerciseGroup of aggregatedExerciseGroupResults; track exerciseGroup.exerciseGroupId) {
                                <div>
                                    <jhi-exam-scores-average-scores-graph [averageScores]="exerciseGroup" [course]="course" />
                                </div>
                            }
                        </div>
                    }
                    <!-- Exercise Statistics Table -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm body-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th jhiTranslate="artemisApp.examScores.titleExerciseGroupColumn"></th>
                                    <th>
                                        {{ 'artemisApp.examScores.participantsColumn' | artemisTranslate }}
                                        <jhi-help-icon text="artemisApp.examScores.participantsExerciseGroupTooltip" />
                                    </th>
                                    <th>
                                        {{ 'artemisApp.examScores.averagePointsColumn' | artemisTranslate }}
                                        <jhi-help-icon text="artemisApp.examScores.averageExerciseGroupTooltip" />
                                    </th>
                                    @if (gradingScaleExists) {
                                        <th jhiTranslate="{{ isBonus ? 'artemisApp.examScores.averageBonusColumn' : 'artemisApp.examScores.averageGradeColumn' }}"></th>
                                    }
                                    <th jhiTranslate="artemisApp.examScores.titleExerciseColumn"></th>
                                    <th>
                                        {{ 'artemisApp.examScores.participantsColumn' | artemisTranslate }}
                                        <jhi-help-icon text="artemisApp.examScores.participantsExerciseTooltip" />
                                    </th>
                                    <th>
                                        {{ 'artemisApp.examScores.averagePointsColumn' | artemisTranslate }}
                                        <jhi-help-icon text="artemisApp.examScores.averageExerciseTooltip" />
                                    </th>
                                </tr>
                            </thead>
                            @for (exerciseGroupResult of aggregatedExerciseGroupResults; track exerciseGroupResult.exerciseGroupId; let i = $index) {
                                <tbody>
                                    @for (exerciseResult of exerciseGroupResult.exerciseResults; track exerciseResult.exerciseId; let isFirst = $first) {
                                        <tr>
                                            @if (isFirst) {
                                                <td [rowSpan]="exerciseGroupResult.exerciseResults.length">
                                                    {{ i + 1 }}
                                                </td>
                                            }
                                            @if (isFirst) {
                                                <td [rowSpan]="exerciseGroupResult.exerciseResults.length">
                                                    {{ exerciseGroupResult.title }}
                                                </td>
                                            }
                                            @if (isFirst) {
                                                <td [rowSpan]="exerciseGroupResult.exerciseResults.length">
                                                    {{ exerciseGroupResult.noOfParticipantsWithFilter }}
                                                    / {{ exerciseGroupResult.totalParticipants }} ({{
                                                        roundAndPerformLocalConversion(
                                                            (exerciseGroupResult.noOfParticipantsWithFilter / exerciseGroupResult.totalParticipants) * 100
                                                        )
                                                    }}
                                                    %)
                                                </td>
                                            }
                                            @if (isFirst) {
                                                <td [rowSpan]="exerciseGroupResult.exerciseResults.length">
                                                    {{ exerciseGroupResult.averagePoints !== null ? roundAndPerformLocalConversion(exerciseGroupResult.averagePoints) : '-' }}
                                                    /
                                                    {{ localize(exerciseGroupResult.maxPoints) }}
                                                    ({{
                                                        exerciseGroupResult.averagePercentage !== null ? roundAndPerformLocalConversion(exerciseGroupResult.averagePercentage) : '-'
                                                    }}
                                                    %)
                                                </td>
                                            }
                                            @if (gradingScaleExists && isFirst) {
                                                <td [rowSpan]="exerciseGroupResult.exerciseResults.length">
                                                    {{ exerciseGroupResult.averageGrade !== null ? exerciseGroupResult.averageGrade : '-' }}
                                                </td>
                                            }
                                            <td>{{ exerciseResult.title }}</td>
                                            <td>
                                                {{ exerciseResult.noOfParticipantsWithFilter }} / {{ exerciseResult.totalParticipants }} ({{
                                                    roundAndPerformLocalConversion((exerciseResult.noOfParticipantsWithFilter / exerciseResult.totalParticipants) * 100)
                                                }}
                                                %)
                                            </td>
                                            <td>
                                                {{ exerciseResult.averagePoints !== null ? roundAndPerformLocalConversion(exerciseResult.averagePoints) : '-' }}
                                                /
                                                {{ localize(exerciseResult.maxPoints) }}
                                                ({{ exerciseResult.averagePercentage !== null ? roundAndPerformLocalConversion(exerciseResult.averagePercentage) : '-' }}
                                                %)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            }
            <!-- Student Result Table -->
            <h4>
                <span jhiTranslate="artemisApp.examScores.studentResultsTitle"></span>
            </h4>
            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered">
                    <thead class="table-dark">
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" (sortChange)="sortRows()">
                            <th>#</th>
                            <th jhiSortBy="name">
                                <span jhiTranslate="artemisApp.examScores.nameColumn"></span>
                                <fa-icon [icon]="faSort" />
                            </th>
                            <th jhiSortBy="login">
                                <span jhiTranslate="artemisApp.examScores.loginColumn"></span>
                                <fa-icon [icon]="faSort" />
                            </th>
                            <th jhiSortBy="email">
                                <span jhiTranslate="artemisApp.examScores.eMailColumn"></span>
                                <fa-icon [icon]="faSort" />
                            </th>
                            <th jhiSortBy="registrationNumber">
                                <span jhiTranslate="artemisApp.examScores.registrationNumberColumn"></span>
                                <fa-icon [icon]="faSort" />
                            </th>
                            @for (exerciseGroup of examScoreDTO.exerciseGroups; track exerciseGroup.id) {
                                <th [jhiSortBy]="'exerciseGroupIdToExerciseResult.' + exerciseGroup.id + '.achievedPoints'">
                                    <span>{{ exerciseGroup.title }}</span>
                                    <fa-icon [icon]="faSort" />
                                </th>
                            }
                            <th jhiSortBy="overallPointsAchieved">
                                <span jhiTranslate="artemisApp.examScores.overallPointsColumn"></span>
                                <fa-icon [icon]="faSort" />
                            </th>
                            <th jhiSortBy="overallScoreAchieved">
                                <span jhiTranslate="artemisApp.examScores.overallScoreColumn"></span>
                                <fa-icon [icon]="faSort" />
                            </th>
                            @if (gradingScaleExists) {
                                <th jhiSortBy="overallScoreAchieved">
                                    <span jhiTranslate="{{ isBonus ? 'artemisApp.examScores.overallBonusColumn' : 'artemisApp.examScores.overallGradeColumn' }}"></span>
                                    <fa-icon [icon]="faSort" />
                                </th>
                            }
                            @if (hasBonus) {
                                @if (presentationScoreThreshold !== undefined) {
                                    <th jhiSortBy="gradeWithBonus.achievedPresentationScore">
                                        <span
                                            jhiTranslate="artemisApp.examScores.presentationScoreThresholdColumn"
                                            [translateValues]="{ threshold: presentationScoreThreshold }"
                                        ></span>
                                        <fa-icon [icon]="faSort" />
                                    </th>
                                }
                                <th jhiSortBy="gradeWithBonus.bonusGrade">
                                    <span
                                        [jhiTranslate]="hasBonus === BonusStrategy.POINTS ? 'artemisApp.examScores.bonusPointsColumn' : 'artemisApp.examScores.bonusGradeColumn'"
                                    ></span>
                                    <fa-icon [icon]="faSort" />
                                </th>
                                <th jhiSortBy="gradeWithBonus.finalGrade">
                                    <span jhiTranslate="artemisApp.examScores.finalGradeColumn"></span>
                                    <fa-icon [icon]="faSort" />
                                </th>
                            }
                            @if (gradingScaleExists && !isBonus) {
                                <th jhiTranslate="artemisApp.examScores.passedColumn"></th>
                            }
                            @if (hasPlagiarismVerdicts) {
                                <th jhiSortBy="mostSeverePlagiarismVerdict">
                                    <span jhiTranslate="artemisApp.examScores.mostSeverePlagiarismVerdictColumn"></span>
                                    <fa-icon [icon]="faSort" />
                                </th>
                            }
                            @if (hasPlagiarismVerdictsInBonusSource) {
                                <th jhiSortBy="gradeWithBonus.mostSeverePlagiarismVerdict">
                                    <span jhiTranslate="artemisApp.examScores.mostSeverePlagiarismVerdictInBonusColumn"></span>
                                    <fa-icon [icon]="faSort" />
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (studentResult of studentResults; track studentResult.userId; let i = $index) {
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td>{{ studentResult.name }}</td>
                                <td>{{ studentResult.login }}</td>
                                <td>{{ studentResult.email ? studentResult.email : '-' }}</td>
                                <td>{{ studentResult.registrationNumber ? studentResult.registrationNumber : '-' }}</td>
                                @for (exerciseGroup of examScoreDTO.exerciseGroups; track exerciseGroup.id) {
                                    @if (studentResult.exerciseGroupIdToExerciseResult && studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id]) {
                                        <td>
                                            {{ studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id].title }}
                                            :
                                            {{ roundAndPerformLocalConversion(studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id].achievedPoints) }}
                                            (
                                            {{ roundAndPerformLocalConversion(studentResult.exerciseGroupIdToExerciseResult[exerciseGroup.id].achievedScore) }}
                                            %)
                                        </td>
                                    } @else {
                                        <td>-</td>
                                    }
                                }
                                <td>{{ roundAndPerformLocalConversion(studentResult.overallPointsAchieved) }}</td>
                                <td>{{ roundAndPerformLocalConversion(studentResult.overallScoreAchieved) }}</td>
                                @if (gradingScaleExists) {
                                    <td>
                                        {{ studentResult.overallGrade !== null ? studentResult.overallGrade : '-' }}
                                    </td>
                                }
                                @if (hasBonus) {
                                    @if (presentationScoreThreshold !== undefined) {
                                        <td>
                                            {{ studentResult.gradeWithBonus?.achievedPresentationScore ?? '-' }}
                                        </td>
                                    }
                                    <td>
                                        {{ studentResult.gradeWithBonus?.bonusGrade ?? '-' }}
                                    </td>
                                    <td>
                                        {{ studentResult.gradeWithBonus?.finalGrade ?? studentResult.overallGrade ?? '-' }}
                                    </td>
                                }
                                @if (gradingScaleExists && !isBonus && studentResult.overallGrade && studentResult.hasPassed) {
                                    <td style="text-align: center">
                                        <fa-icon [icon]="faCheckCircle" style="color: #28a745; font-size: 1.5em" />
                                    </td>
                                }
                                @if (gradingScaleExists && !isBonus && studentResult.overallGrade && !studentResult.hasPassed) {
                                    <td style="text-align: center">
                                        <fa-icon [icon]="faTimes" style="color: #ca2024; font-size: 1.5em" />
                                    </td>
                                }
                                @if (hasPlagiarismVerdicts) {
                                    <td>
                                        {{ studentResult.mostSeverePlagiarismVerdict ?? '-' }}
                                    </td>
                                }
                                @if (hasPlagiarismVerdictsInBonusSource) {
                                    <td>
                                        {{ studentResult.gradeWithBonus?.mostSeverePlagiarismVerdict ?? '-' }}
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
