/* Monaco editor styling (code editor) */
.card-body-monaco {
    padding: unset;
}

/* Applied e.g. to hover messages of build annotations. Makes them visible even when there are line widgets. */
.monaco-hover {
    z-index: 1;
}

.monaco-add-feedback-button {
    cursor: pointer;
    font-size: 2.2em;
}

.monaco-add-feedback-button:before {
    display: flex;
    align-items: center;
    content: '+';
    // Cosmetic adjustment to center the + vertically
    padding-bottom: 10%;
    height: 100%;
}

.monaco-diff-line-highlight {
    background-color: var(--monaco-editor-diff-line-highlight);
}

.monaco-diff-margin-highlight {
    background-color: var(--monaco-editor-diff-margin-highlight);
}
