@import 'src/main/webapp/content/scss/artemis-mixins';

:host {
    display: flex;
    height: 100%;
}

.sidebar-wrap {
    display: flex;
}

.sidebar {
    background-color: var(--module-bg);
}

// hide sidebar when printing webpage
@media print {
    .hide-on_print {
        display: none !important;
    }
}

hr {
    all: unset;
    display: block;
    border-top: 1px solid var(--bs-border-color);
    transition: border-color 0.2s ease;
}

.accordion-header {
    transition: background-color 0.15s ease-in-out;

    &:hover {
        background-color: var(--link-item-bg);
    }
}
