<div class="sidebar-wrap">
    <div class="flex sidebar rounded-md px-2 sidebar-width hide-on_print">
        <div class="w-full bg-module">
            <div class="sidebar-content">
                <div class="flex items-center justify-between gap-2 py-2">
                    <div class="flex items-center">
                        @if (pageTitle()) {
                            <a [routerLink]="['/course-management', course().id, 'exams']" class="text-decoration-none text-body">
                                <jhi-course-title-bar-title [title]="pageTitle()" />
                            </a>
                        }
                        <jhi-documentation-button [type]="documentationType" />
                    </div>
                    @if (!isCollapsed()) {
                        <jhi-course-sidebar-toggle-button [isCollapsed]="isCollapsed()" (toggleSidebar)="toggleSidebar.emit()" />
                    }
                </div>
                <div class="scrollable-content">
                    @for (exam of exams(); track exam.id; let first = $first) {
                        <div class="pointer" [id]="'exam-' + exam.id">
                            @if (first) {
                                <hr />
                            }
                            <div class="accordion-header flex items-center justify-between bg-module px-1 py-2" (click)="toggleExam(exam.id!)">
                                <div class="truncate">
                                    {{ exam.title }}
                                </div>
                                <div class="icon-container">
                                    <fa-icon [icon]="faChevronRight" class="rotate-icon chevron-position" [class.rotated]="expandedExams().has(exam.id!)" />
                                </div>
                            </div>
                            <div [ngbCollapse]="!expandedExams().has(exam.id!)" class="bg-module">
                                @if (course().isAtLeastInstructor) {
                                    <div class="flex flex-col pl-4 pr-1">
                                        <jhi-sidebar-subpage-item [subjectId]="exam.id" subpage="" [icon]="faInfoCircle" [title]="'artemisApp.exam.details' | artemisTranslate" />
                                        <jhi-sidebar-subpage-item [subjectId]="exam.id" subpage="edit" [icon]="faWrench" [title]="'entity.action.edit' | artemisTranslate" />
                                        <jhi-sidebar-subpage-item
                                            [subjectId]="exam.id"
                                            subpage="exercise-groups"
                                            [icon]="faListAlt"
                                            [title]="'artemisApp.examManagement.exerciseGroups' | artemisTranslate"
                                        />
                                        <jhi-sidebar-subpage-item
                                            [subjectId]="exam.id"
                                            subpage="students"
                                            [icon]="faUser"
                                            [title]="'artemisApp.examManagement.students' | artemisTranslate"
                                        />
                                        <jhi-sidebar-subpage-item
                                            [subjectId]="exam.id"
                                            subpage="test-runs"
                                            [icon]="faFlaskVial"
                                            [title]="'artemisApp.examManagement.testRun.testRun' | artemisTranslate"
                                        />
                                        @if (!exam.testExam) {
                                            <jhi-sidebar-subpage-item
                                                [subjectId]="exam.id"
                                                subpage="assessment-dashboard"
                                                [icon]="faThList"
                                                [title]="'artemisApp.examManagement.assessmentDashboard' | artemisTranslate"
                                            />
                                            <jhi-sidebar-subpage-item
                                                [subjectId]="exam.id"
                                                subpage="grading"
                                                [icon]="faClipboard"
                                                [title]="'artemisApp.examManagement.gradingSystem' | artemisTranslate"
                                            />
                                        }
                                        <jhi-sidebar-subpage-item [subjectId]="exam.id" subpage="scores" [icon]="faEye" [title]="'entity.action.scores' | artemisTranslate" />
                                    </div>
                                }
                            </div>
                            <hr />
                        </div>
                    } @empty {
                        <div class="p-2 text-center text-muted">
                            <span jhiTranslate="artemisApp.exam.overview.noExams"></span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
