.temp-tab-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;

    border-bottom: 1px solid var(--overview-border-color);

    a {
        display: inline-block;
        position: relative;
        color: var(--tab-bar-color);
        text-decoration: none !important; // override bootstrap

        padding-bottom: 2px;
        margin: 0.5rem 0.5rem 0.5rem 0;

        &:hover {
            color: var(--tab-bar-color-hover) !important; // override bootstrap
            box-shadow: 0 2px 0 var(--tab-bar-color-hover);
        }

        &.active {
            color: var(--tab-bar-color-active) !important; // override :hover
            box-shadow: 0 2px 0 var(--tab-bar-color-active);
        }

        &.newMessage:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            background-color: var(--bs-danger);
            padding: 0.5rem;
            top: 0;
            transform: translate(-50%, -50%);
        }
    }

    .controls {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;

        button.active {
            box-shadow: 0 2px 0 var(--overview-tab-active-border-color);
        }

        button {
            margin: 0 !important; // override bootstrap
        }
        //
        //button:first-child {
        //    margin-left: 0 !important; // override margin above
        //}
    }
}

//.tab-bar {
//    display: flex;
//    align-items: center;
//    min-height: 60px;
//    margin: 0 -1rem;
//    padding: 0.5rem 1rem;
//    border-bottom: 1px solid var(--overview-border-color);
//
//    .tab-item {
//        cursor: pointer;
//        margin: 0 0.5em;
//
//        &:first-child {
//            margin-left: 0;
//        }
//
//        &:last-child {
//            margin-right: 0;
//        }
//
//        &.active {
//            box-shadow: 0 2px 0 var(--overview-tab-active-border-color);
//        }
//    }
//}

//.tab-bar-overview {
//    > div:first-child {
//        display: flex;
//        flex-wrap: wrap;
//        align-items: center;
//        justify-content: space-between;
//        gap: 0.5rem;
//
//        > div:first-child {
//            display: flex;
//            align-items: center;
//        }
//
//        .controls {
//            display: flex;
//            align-items: center;
//            gap: 0.5rem;
//        }
//    }
//
//    > div:first-child.no-indent {
//        justify-content: start;
//
//        .controls {
//            padding-right: 0.5rem;
//            margin-right: 0;
//        }
//    }
//}

//@media screen and (max-width: 991px) {
//    .tab-bar-overview > div:first-child {
//        flex-wrap: wrap;
//
//        .controls {
//            padding-right: 0.5rem;
//            margin-right: 0;
//        }
//    }
//}
