<dt *ngIf="exercise.course || exercise.exerciseGroup"><span jhiTranslate="artemisApp.exercise.course">Course</span></dt>
<dd *ngIf="exercise.course">
    <div>
        <a [routerLink]="['/course-management', exercise.course.id]">{{ exercise.course.title }}</a>
    </div>
</dd>
<dd *ngIf="exercise.exerciseGroup">
    <div>
        <a [routerLink]="['/course-management', exercise.exerciseGroup.exam?.course?.id]">{{ exercise.exerciseGroup.exam?.course?.title }}</a>
    </div>
</dd>
<dt *ngIf="exercise.exerciseGroup"><span jhiTranslate="artemisApp.exercise.exam">Exam</span></dt>
<dd *ngIf="exercise.exerciseGroup">
    <div>
        <a [routerLink]="['/course-management', exercise.exerciseGroup.exam?.course?.id, 'exams', exercise.exerciseGroup.exam?.id]">{{ exercise.exerciseGroup.exam?.title }}</a>
    </div>
</dd>
<dt><span jhiTranslate="artemisApp.exercise.title">Title</span></dt>
<dd>
    <span id="exercise-detail-title">{{ exercise.title }}</span>
</dd>
<ng-container *ngIf="exercise.type === ExerciseType.PROGRAMMING">
    <dt><span jhiTranslate="artemisApp.exercise.shortName">short Name</span></dt>
    <dd>
        <span>{{ exercise.shortName }}</span>
    </dd>
</ng-container>
<dt><span jhiTranslate="artemisApp.exercise.categories">Categories</span></dt>
<dd *ngIf="exercise.categories">
    <span class="custom-tag" *ngFor="let item of exercise.categories" [ngStyle]="{ backgroundColor: item.color }">
        <span>{{ item.category }}</span>
    </span>
</dd>
<dd *ngIf="!exercise.categories">
    <span jhiTranslate="artemisApp.exercise.noCategory">No categories</span>
</dd>
<dt><span jhiTranslate="artemisApp.exercise.difficulty">Difficulty</span></dt>
<dd>
    <span *ngIf="exercise.difficulty">{{ exercise.difficulty }}</span>
    <span *ngIf="!exercise.difficulty" jhiTranslate="artemisApp.exercise.noLevel"></span>
</dd>
<dt><span jhiTranslate="artemisApp.exercise.mode">Mode</span></dt>
<dd>
    <span>{{ exercise.mode }}</span>
</dd>
<ng-container *ngIf="exercise.teamAssignmentConfig">
    <dt><span jhiTranslate="artemisApp.exercise.teamAssignmentConfig.teamSize">Team Size</span></dt>
    <dd>
        <span>Min.</span>
        <span>{{ exercise.teamAssignmentConfig.minTeamSize }}</span>
        <span>Max.</span>
        <span>{{ exercise.teamAssignmentConfig.maxTeamSize }}</span>
        <span jhiTranslate="artemisApp.exercise.teamAssignmentConfig.participants">Participants</span>
    </dd>
</ng-container>
<ng-container *ngIf="exercise.type !== ExerciseType.PROGRAMMING">
    <dt><span jhiTranslate="artemisApp.exercise.releaseDate">Release Date</span></dt>
    <dd>
        <span *ngIf="exercise.releaseDate">{{ exercise.releaseDate | artemisDate }}</span>
        <span *ngIf="!exercise.releaseDate" jhiTranslate="artemisApp.exercise.dateNotSet"></span>
    </dd>
    <dt><span jhiTranslate="artemisApp.exercise.dueDate">Due Date</span></dt>
    <dd>
        <span *ngIf="exercise.dueDate">{{ exercise.dueDate | artemisDate }}</span>
        <span *ngIf="!exercise.dueDate" jhiTranslate="artemisApp.exercise.dateNotSet"></span>
    </dd>
    <dt><span jhiTranslate="artemisApp.exercise.assessmentDueDate">Due Date</span></dt>
    <dd>
        <span *ngIf="exercise.assessmentDueDate">{{ exercise.assessmentDueDate | artemisDate }}</span>
        <span *ngIf="!exercise.assessmentDueDate" jhiTranslate="artemisApp.exercise.dateNotSet"></span>
    </dd>
</ng-container>
<ng-container *ngIf="exercise.type === ExerciseType.PROGRAMMING">
    <dt><span jhiTranslate="artemisApp.programmingExercise.timeline.timelineLabel">Timeline</span></dt>
    <dd>
        <jhi-programming-exercise-lifecycle [isExamMode]="isExamExercise" [exercise]="exercise" [readOnly]="true"></jhi-programming-exercise-lifecycle>
    </dd>
</ng-container>
<dt><span jhiTranslate="artemisApp.exercise.points">Points</span></dt>
<dd>
    <span>{{ exercise.maxPoints }}</span>
</dd>
<dt *ngIf="exercise.bonusPoints"><span jhiTranslate="artemisApp.exercise.bonusPoints">Bonus points</span></dt>
<dd *ngIf="exercise.bonusPoints">
    <span>{{ exercise.bonusPoints }}</span>
</dd>
<dt><span jhiTranslate="artemisApp.exercise.includedInOverallScore">Score Calculation</span></dt>
<dd>
    <span>{{ exerciseService.isIncludedInScore(exercise) }}</span>
</dd>
<dt><span jhiTranslate="artemisApp.exercise.presentationScoreEnabled.title">Presentation Score enabled</span></dt>
<dd>
    <span *ngIf="exercise.presentationScoreEnabled">{{ 'global.generic.yes' | artemisTranslate }}</span>
    <span *ngIf="!exercise.presentationScoreEnabled">{{ 'global.generic.no' | artemisTranslate }}</span>
</dd>
<dt><span jhiTranslate="artemisApp.exercise.problemStatement">Problem Statement</span></dt>
<ng-container *ngIf="exercise.type !== ExerciseType.PROGRAMMING">
    <dd class="editor-outline-background" [innerHTML]="formattedProblemStatement"></dd>
</ng-container>
<ng-container *ngIf="exercise.type === ExerciseType.PROGRAMMING && programmingExercise">
    <dd>
        <jhi-programming-exercise-instructions
            [exercise]="exercise"
            [participation]="programmingExercise!.templateParticipation!"
            [personalParticipation]="true"
        ></jhi-programming-exercise-instructions>
    </dd>
</ng-container>
<ng-container *ngIf="exercise.gradingInstructions">
    <dt><span jhiTranslate="artemisApp.exercise.assessmentInstructions">Assessment Instructions</span></dt>
    <dd class="editor-outline-background"><span [innerHTML]="formattedGradingInstructions"></span></dd>
</ng-container>
<ng-container *ngIf="exercise.gradingCriteria">
    <dt><span jhiTranslate="artemisApp.exercise.structuredAssessmentInstructions">Structured Assessment Instructions</span></dt>
    <dd class="col-md-6 mt-4">
        <jhi-structured-grading-instructions-assessment-layout
            [readonly]="true"
            [criteria]="exercise.gradingCriteria || []"
        ></jhi-structured-grading-instructions-assessment-layout>
    </dd>
</ng-container>
<ng-container *ngIf="isExamExercise === false && exercise.course?.onlineCourse === true && exercise.isAtLeastEditor === true">
    <dt><span jhiTranslate="artemisApp.exerciseLtiConfiguration.lti">LTI</span></dt>
    <dd>
        <a [routerLink]="['/course-management', exercise.course?.id, exercise.type + '-exercises', exercise.id, 'lti-configuration']">LTI Configuration</a>
    </dd>
</ng-container>
