:host {
    display: block;
}

.loading-spinner {
    position: relative;
    top: -2px;
}

.label-narrow {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.import-success,
.import-fail {
    position: relative;

    &:nth-child(odd)::before {
        content: '';
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.03);
    }
}

.import-success {
    td,
    th {
        color: var(--success);
        background-color: color-mix(in srgb, var(--success) 12%, transparent);
    }
}

.import-fail {
    td,
    th {
        color: var(--danger);
        background-color: color-mix(in srgb, var(--danger) 12%, transparent);
    }
}

.header-fixed {
    width: 100%;

    .p-datatable-table-container {
        min-height: 150px;
    }

    td,
    th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.csv-example-table {
    border-collapse: collapse;

    th,
    td {
        border: 1px solid var(--p-content-border-color);
        padding: 0.4rem 0.75rem;
    }
}

button[disabled] {
    cursor: not-allowed;
}
