.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: min(45rem, 85vw);

    .description {
        width: 100%;
    }

    .table-container-scroll-container {
        width: 100%;
        overflow-x: auto;

        .table-container {
            display: flex;
            justify-content: center;
            width: max-content;
            min-width: 100%;
        }
    }

    .success-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25rem;
        gap: 0.5rem;
        color: var(--success);
    }

    .controls-footer {
        display: flex;
        justify-content: end;
        width: 100%;

        .file-upload-input {
            display: none;
        }

        .spacer {
            flex: 1;
        }
    }
}
