/*!* ==========================================================================
Ace Editor
========================================================================== *!*/

.code-editor-ace {
    flex: 1 1 auto;
    display: flex;
    &__content {
        padding: 0;
        display: flex;
        flex: 1 1 auto;
        &__editor {
            flex: 1 1 auto;
        }
        &__no-selected {
            justify-self: center;
            width: 100%;
        }
    }
}
