/*!* ==========================================================================
Ace Editor
========================================================================== *!*/

.code-editor-ace {
    flex: 1 1 auto;
    display: flex;
    &__content {
        padding: 0;
        display: flex;
        flex: 1 1 auto;
        &__editor {
            flex: 1 1 auto;
        }

        .inline-feedback-d-none {
            display: none;
        }

        .inline-feedback {
            display: block;
        }

        .btn-inline-comment {
            display: none;
            color: var(--primary);
            height: 16px;
        }

        .ace_gutter-cell {
            position: relative;
        }

        .ace_gutter-cell:hover .btn-inline-comment {
            display: inline-flex;
            position: absolute;
            top: 8px; // standard gutter height is 16px
            left: 25%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            fa-icon {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% - 6px);
                    height: calc(100% - 6px);
                    top: 3px;
                    left: 3px;
                    background: white;
                    z-index: -1;
                }
            }
        }

        .ace_gutter-cell.ace_warning,
        .ace_gutter-cell.ace_error {
            background-position: unset;
        }

        &__no-selected {
            justify-self: center;
            width: 100%;
        }
    }

    .diff-newLine {
        position: absolute;
        background: var(--code-editor-diff-newline-background);
        z-index: 20;
    }

    .ace_gutter-cell.gutter-diff-newLine {
        transition: background 0s;
        background: var(--code-editor-gutter-newline-background);
    }
}
