<form name="editForm" role="form" novalidate>
    @if (currentStep >= 1) {
        <jhi-programming-exercise-info
            class="form-step"
            [programmingExercise]="programmingExercise"
            [programmingExerciseCreationConfig]="programmingExerciseCreationConfig"
            [isExamMode]="isExamMode"
        />
    }
    @if (currentStep >= 2) {
        <jhi-programming-exercise-difficulty
            class="form-step"
            [programmingExercise]="programmingExercise"
            [programmingExerciseCreationConfig]="programmingExerciseCreationConfig"
        />
    }
    @if (currentStep >= 3) {
        <jhi-programming-exercise-language class="form-step" [programmingExercise]="programmingExercise" [programmingExerciseCreationConfig]="programmingExerciseCreationConfig" />
    }
    @if (currentStep >= 4) {
        <jhi-programming-exercise-problem class="form-step" [(exercise)]="exercise" [programmingExerciseCreationConfig]="programmingExerciseCreationConfig" />
    }
    @if (currentStep >= 5) {
        <jhi-programming-exercise-grading class="form-step" [programmingExercise]="programmingExercise" [programmingExerciseCreationConfig]="programmingExerciseCreationConfig" />
    }
    <!-- Bottom Navigation Bar -->
    <jhi-programming-exercise-update-wizard-bottom-bar
        (onNextStep)="nextStep()"
        [currentStep]="currentStep"
        [toggleMode]="toggleMode"
        [isSaving]="isSaving"
        [getInvalidReasons]="getInvalidReasons"
    />
</form>
