<h1><span jhiTranslate="artemisApp.programmingExercise.wizardMode.detailedSteps.generalInfoStepTitle">General Info</span></h1>
<p><span jhiTranslate="artemisApp.programmingExercise.wizardMode.detailedSteps.generalInfoStepMessage">Add general info.</span></p>
<jhi-programming-exercise-info
    [isImport]="isImport"
    [isEdit]="false"
    [isExamMode]="false"
    [programmingExercise]="programmingExercise"
    [shouldHidePreview]="true"
    [infoInputs]="infoStepInputs"
>
</jhi-programming-exercise-info>
