<div class="timeline-box">
    @let isFieldDisplayed = isEditFieldDisplayedRecord();
    <div class="test-schedule">
        <div class="test-schedule-row d-flex justify-content-around">
            @if ((!isFieldDisplayed || isFieldDisplayed.releaseDate) && !isExamMode()) {
                <jhi-programming-exercise-test-schedule-date-picker
                    [(ngModel)]="releaseDate"
                    (ngModelChange)="updateReleaseDate($event)"
                    [readOnly]="readOnly()"
                    class="test-schedule-date px-1"
                    label="artemisApp.exercise.releaseDate"
                    tooltipText="artemisApp.programmingExercise.timeline.releaseDateTooltip"
                />
            }
            @if ((!isFieldDisplayed || isFieldDisplayed.startDate) && !isExamMode()) {
                <jhi-programming-exercise-test-schedule-date-picker
                    [(ngModel)]="startDate"
                    (ngModelChange)="updateStartDate($event)"
                    (onDateReset)="exercise().startDate = undefined"
                    [startAt]="releaseDate()"
                    [min]="releaseDate()"
                    [readOnly]="readOnly()"
                    class="test-schedule-date px-1"
                    label="artemisApp.exercise.startDate"
                    tooltipText="artemisApp.programmingExercise.timeline.startDateTooltip"
                />
            }
            <div class="test-schedule-date px-1">
                <div class="test-schedule-date-title test-schedule-date-title-small-button">
                    <span jhiTranslate="artemisApp.programmingExercise.timeline.automaticTests"></span>
                    <jhi-help-icon text="artemisApp.programmingExercise.timeline.automaticTestsMandatoryTooltip" />
                </div>
                <div class="btn btn-light scheduled-test btn-lifecycle" [class.btn-lifecycle--disabled]="readOnly()">
                    <fa-icon [icon]="faCogs" size="lg" />
                </div>
            </div>
            @if ((!isFieldDisplayed || isFieldDisplayed.dueDate) && !isExamMode()) {
                <jhi-programming-exercise-test-schedule-date-picker
                    [(ngModel)]="dueDate"
                    (ngModelChange)="updateExampleSolutionPublicationDate($event)"
                    (onDateReset)="exercise().buildAndTestStudentSubmissionsAfterDueDate = undefined"
                    [startAt]="startDate() ?? releaseDate()"
                    [min]="startDate() ?? releaseDate()"
                    [readOnly]="readOnly()"
                    class="test-schedule-date px-1"
                    label="artemisApp.exercise.dueDate"
                    tooltipText="artemisApp.programmingExercise.timeline.dueDateTooltip"
                    id="programming-exercise-due-date-picker"
                />
            }
            @if (isDatePickableForRunningTestsAfterDueDate()) {
                <jhi-programming-exercise-test-schedule-date-picker
                    class="test-schedule-date px-1"
                    [(ngModel)]="buildAndTestStudentSubmissionsAfterDueDate"
                    [startAt]="dueDate()"
                    [min]="dueDate()"
                    [readOnly]="readOnly()"
                    label="artemisApp.programmingExercise.timeline.afterDueDate"
                    tooltipText="artemisApp.programmingExercise.timeline.afterDueDateTooltip"
                />
            }
            @if (isDatePickableForSemiAutomaticAssessmentDueDate() && !isExamMode() && !allowFeedbackRequests()) {
                <jhi-programming-exercise-test-schedule-date-picker
                    class="test-schedule-date"
                    [(ngModel)]="assessmentDueDate"
                    [startAt]="dueDate()"
                    [min]="dueDate()"
                    [readOnly]="readOnly()"
                    label="artemisApp.programmingExercise.timeline.assessmentDueDate"
                    tooltipText="artemisApp.programmingExercise.timeline.assessmentDueDateTooltip"
                />
            }
            @if (isDatePickableForExampleSolutionPublicationDate()) {
                <div>
                    <jhi-programming-exercise-test-schedule-date-picker
                        [(ngModel)]="exampleSolutionPublicationDate"
                        [readOnly]="readOnly() || isImport()"
                        [startAt]="dueDate() ?? startDate() ?? releaseDate()"
                        [min]="(exercise().includedInOverallScore !== IncludedInOverallScore.NOT_INCLUDED ? dueDate() : undefined) ?? startDate() ?? releaseDate()"
                        class="test-schedule-date px-1"
                        label="artemisApp.exercise.exampleSolutionPublicationDate"
                        [tooltipText]="
                            isImport()
                                ? 'artemisApp.programmingExercise.timeline.exampleSolutionPublicationDateTooltipOnImport'
                                : 'artemisApp.programmingExercise.timeline.exampleSolutionPublicationDateTooltip'
                        "
                    />
                </div>
            }
        </div>
    </div>
    <!-- Checkboxes -->
    <h6 jhiTranslate="artemisApp.assessment.assessment"></h6>
    <div class="form-check">
        <input
            type="checkbox"
            class="form-check-input"
            name="defineDateForRunningTestsAfterDueDate"
            [(ngModel)]="isDatePickableForRunningTestsAfterDueDate"
            [disabled]="!isEnablingToRunTestsAfterDueDateToggleEnabled()"
            id="defineDateForRunningTestsAfterDueDate"
        />
        <label [ngStyle]="!isEnablingToRunTestsAfterDueDateToggleEnabled() ? { color: 'grey' } : {}" class="form-control-label" for="defineDateForRunningTestsAfterDueDate"
            >Enable running tests after due date</label
        >
    </div>
    <div class="form-check">
        <input
            type="checkbox"
            class="form-check-input"
            name="manualAssessmentEnabled"
            [(ngModel)]="isDatePickableForSemiAutomaticAssessmentDueDate"
            [disabled]="!isSemiAutomaticAssessmentToggleEnabled()"
            id="manualAssessmentEnabled"
        />
        <label [ngStyle]="!isSemiAutomaticAssessmentToggleEnabled() ? { color: 'grey' } : {}" class="form-control-label" for="manualAssessmentEnabled"
            >Enable manual assessment</label
        >
    </div>
    <div class="form-check">
        <input
            type="checkbox"
            class="form-check-input"
            name="exampleSolutionPublicationDateEnabled"
            [(ngModel)]="isDatePickableForExampleSolutionPublicationDate"
            [disabled]="!isExampleSolutionPublicationDateToggleEnabled()"
            id="exampleSolutionPublicationDateEnabled"
        />
        <label [ngStyle]="!isExampleSolutionPublicationDateToggleEnabled() ? { color: 'grey' } : {}" class="form-control-label" for="exampleSolutionPublicationDateEnabled"
            >Enable example solution publication</label
        >
    </div>
    @if (
        !readOnly() &&
        (!isFieldDisplayed ||
            isFieldDisplayed.complaintOnAutomaticAssessment ||
            isFieldDisplayed.manualFeedbackRequests ||
            isFieldDisplayed.showTestNamesToStudents ||
            isFieldDisplayed.includeTestsIntoExampleSolution)
    ) {
        @if ((!isFieldDisplayed || isFieldDisplayed.complaintOnAutomaticAssessment) && (isExamMode() || exercise().course?.complaintsEnabled)) {
            <div class="form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    name="allowComplaintsForAutomaticAssessment"
                    [checked]="exercise().allowComplaintsForAutomaticAssessments"
                    [disabled]="assessmentType() !== AssessmentType.AUTOMATIC || (!isExamMode() && !dueDate())"
                    id="allowComplaintsForAutomaticAssessment"
                    (change)="toggleComplaintsType()"
                />
                <label
                    [ngStyle]="assessmentType() !== AssessmentType.AUTOMATIC || (!isExamMode() && !dueDate()) ? { color: 'grey' } : {}"
                    class="form-control-label"
                    for="allowComplaintsForAutomaticAssessment"
                    jhiTranslate="artemisApp.programmingExercise.timeline.complaintOnAutomaticAssessment"
                ></label>
                <jhi-help-icon placement="right auto" [text]="'artemisApp.programmingExercise.timeline.complaintOnAutomaticAssessmentTooltip'" />
            </div>
        }
        @if (isExamMode() && isImport() && importOptions(); as currentImportOptions) {
            <div class="form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    name="setTestCaseVisibilityToAfterDueDate"
                    [checked]="currentImportOptions.setTestCaseVisibilityToAfterDueDate"
                    id="setTestCaseVisibilityToAfterDueDate-checkbox"
                    (change)="toggleSetTestCaseVisibilityToAfterDueDate()"
                />
                <label
                    class="form-control-label"
                    for="setTestCaseVisibilityToAfterDueDate-checkbox"
                    jhiTranslate="artemisApp.programmingExercise.timeline.setTestCaseVisibilityToAfterReleaseDateOfResults"
                ></label>
                <jhi-help-icon placement="right auto" [text]="'artemisApp.programmingExercise.timeline.setTestCaseVisibilityToAfterReleaseDateOfResultsTooltip'" />
            </div>
        }
        @if ((!isFieldDisplayed || isFieldDisplayed.manualFeedbackRequests) && !isExamMode()) {
            <div class="form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    name="allowFeedbackRequests"
                    [checked]="exercise().allowFeedbackRequests"
                    [disabled]="assessmentType() !== AssessmentType.SEMI_AUTOMATIC"
                    id="allowFeedbackRequests"
                    (change)="toggleFeedbackRequests()"
                />
                @if (isAthenaEnabled) {
                    <label
                        [ngStyle]="assessmentType() !== AssessmentType.SEMI_AUTOMATIC ? { color: 'grey' } : {}"
                        class="form-control-label"
                        for="allowFeedbackRequests"
                        jhiTranslate="artemisApp.programmingExercise.timeline.allowFeedbackRequests"
                    ></label>
                    <jhi-help-icon placement="right auto" [text]="'artemisApp.programmingExercise.timeline.allowFeedbackRequestsTooltip'" />
                } @else {
                    <label
                        [ngStyle]="assessmentType() !== AssessmentType.SEMI_AUTOMATIC ? { color: 'grey' } : {}"
                        class="form-control-label"
                        for="allowFeedbackRequests"
                        jhiTranslate="artemisApp.programmingExercise.timeline.manualFeedbackRequests"
                    ></label>
                    <jhi-help-icon placement="right auto" [text]="'artemisApp.programmingExercise.timeline.manualFeedbackRequestsTooltip'" />
                }
            </div>
        }
        @if (!isFieldDisplayed || isFieldDisplayed.showTestNamesToStudents) {
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="showTestNamesToStudents"
                    id="field_showTestNamesToStudents"
                    [disabled]="readOnly()"
                    [(ngModel)]="exercise().showTestNamesToStudents"
                    checked
                />
                <label class="form-control-label" for="field_showTestNamesToStudents" jhiTranslate="artemisApp.programmingExercise.showTestNamesToStudents"></label>
                <jhi-help-icon placement="right auto" [text]="'artemisApp.programmingExercise.showTestNamesToStudentsTooltip'" />
            </div>
        }
        @if (!isFieldDisplayed || isFieldDisplayed.includeTestsIntoExampleSolution) {
            <div class="form-check">
                <input
                    type="checkbox"
                    class="form-check-input"
                    name="releaseTestsWithExampleSolution"
                    [checked]="exercise().releaseTestsWithExampleSolution"
                    [disabled]="!exercise().exampleSolutionPublicationDate && !exercise().exerciseGroup?.exam?.exampleSolutionPublicationDate"
                    id="releaseTestsWithExampleSolution"
                    (change)="toggleReleaseTests()"
                />
                <label
                    [ngStyle]="!exercise().exampleSolutionPublicationDate && !exercise().exerciseGroup?.exam?.exampleSolutionPublicationDate ? { color: 'grey' } : {}"
                    class="form-control-label"
                    for="releaseTestsWithExampleSolution"
                    jhiTranslate="artemisApp.programmingExercise.timeline.releaseTestsWithExampleSolution"
                ></label>
                <jhi-help-icon placement="right auto" [text]="'artemisApp.programmingExercise.timeline.releaseTestsWithExampleSolutionTooltip'" />
            </div>
        }
        @if (!isExamMode()) {
            <jhi-exercise-feedback-suggestion-options [exercise]="exercise()" [dueDate]="dueDate()" [readOnly]="readOnly()" />
        }
    }
    <div style="height: 1rem"></div>
    <jhi-exercise-timeline [timelineItems]="timelineItems()" />
</div>
