<p-dialog header="Competency Detail Dev Settings" [visible]="visible()" (visibleChange)="visibleChange.emit($event)" [modal]="true" appendTo="body" [style]="{ width: '400px' }">
    <div class="d-flex flex-column gap-3">
        <div>
            <label class="fw-semibold d-block mb-2">Exercise View</label>
            <p-selectbutton
                [options]="exerciseViewOptions"
                [ngModel]="devSettings.exerciseViewVariant()"
                (ngModelChange)="devSettings.setExerciseViewVariant($event)"
                optionValue="value"
                [allowEmpty]="false"
            />
        </div>
    </div>
</p-dialog>
