<div class="d-flex flex-column mt-3">
    <jhi-monitoring-box
        title="{{ 'artemisApp.examMonitoring.menu.students.title' | artemisTranslate }}"
        description="{{ 'artemisApp.examMonitoring.menu.students.description' | artemisTranslate }}"
    >
        <ng-container content>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <jhi-students-started-chart [registeredStudents]="this.exam.numberOfRegisteredUsers!"></jhi-students-started-chart>
                    </div>
                    <div class="col-lg-6">
                        <jhi-students-active-chart [registeredStudents]="this.exam.numberOfRegisteredUsers!"></jhi-students-active-chart>
                    </div>
                </div>
                <div class="row pt-4 separator"></div>
                <div class="row pt-3">
                    <jhi-data-table
                        id="registered-students"
                        entityType="exercise"
                        [allEntities]="this.exam.registeredUsers ?? []"
                        entitiesPerPageTranslation="artemisApp.examMonitoring.menu.students.studentsPerPage"
                        showAllEntitiesTranslation="artemisApp.examMonitoring.menu.students.showAllStudents"
                        [searchEnabled]="false"
                    >
                        <ng-template let-settings="settings" let-controls="controls">
                            <ngx-datatable
                                #dataTable
                                class="bootstrap expandable"
                                [limit]="settings.limit"
                                [sortType]="settings.sortType"
                                [columnMode]="settings.columnMode"
                                [headerHeight]="settings.headerHeight"
                                [footerHeight]="settings.footerHeight"
                                [rowHeight]="settings.rowHeight"
                                [rows]="settings.rows"
                                [scrollbarH]="settings.scrollbarH"
                                (activate)="onActivate($event)"
                            >
                                <!-- Row Detail Template -->
                                <ngx-datatable-row-detail>
                                    <ng-template let-row="row" ngx-datatable-row-detail-template> </ng-template>
                                </ngx-datatable-row-detail>

                                <!-- We cannot set the maxWidth as undefined, so we have to set a large number -->
                                <ngx-datatable-column
                                    *ngFor="let column of this.columns"
                                    [prop]="column.prop"
                                    [minWidth]="column.minWidth"
                                    [width]="column.width"
                                    [maxWidth]="column.maxWidth ?? 10000"
                                >
                                    <ng-template ngx-datatable-header-template>
                                        <span *ngIf="column.prop !== 'collapse'" class="datatable-header-cell-wrapper" (click)="controls.onSort(column.prop)">
                                            <span class="datatable-header-cell-label bold sortable" [jhiTranslate]="'artemisApp.examMonitoring.menu.students.' + column.prop">
                                                {{ column.prop }}
                                            </span>
                                            <fa-icon [icon]="controls.iconForSortPropField(column.prop)"></fa-icon>
                                        </span>
                                    </ng-template>
                                    <ng-template let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                                        <span *ngIf="column.prop !== 'collapse'">{{ value }}</span>
                                        <ng-container *ngIf="column.prop === 'collapse'">
                                            <div [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"></div>
                                        </ng-container>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </ng-template>
                    </jhi-data-table>
                </div>
            </div>
        </ng-container>
    </jhi-monitoring-box>
</div>
