#avatar {
    padding-top: 8px;
    padding-right: 15px;
}

#user-header {
    font-size: x-large;
    font-weight: 600;
    color: var(--bs-body-color);
}

#login {
    color: var(--bs-secondary);
    font-size: medium;
    font-weight: normal;
}

#navigation-bar {
    .btn {
        font-size: medium;
        text-align: left;
    }
}

.section {
    padding-top: 20px;
}
