.progress {
    margin-left: -1rem;
    margin-right: -1rem;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    width: 500px;
    box-shadow: 0 8px 12px 0 var(--lecture-unit-card-shadow);
}

.loading-icon-container {
    width: 15px;
}
