<ng-container [formGroup]="parentFormGroup">
    <div formGroupName="schedule" style="border: 0">
        <div>
            <h3 jhiTranslate="artemisApp.forms.scheduleForm.formTitle"></h3>
        </div>
        <div>
            <!-- repetition frequency -->
            <label for="repetitionFrequency" jhiTranslate="artemisApp.forms.scheduleForm.repetitionFrequencyInput.label"></label>
            <div class="input-group small-input">
                <input id="repetitionFrequency" type="number" class="form-control" formControlName="repetitionFrequency" />
                <div class="input-group-text" jhiTranslate="artemisApp.forms.scheduleForm.repetitionFrequencyInput.weeks"></div>
            </div>
            @if (repetitionFrequencyControl?.invalid && (repetitionFrequencyControl?.dirty || repetitionFrequencyControl?.touched)) {
                <div class="alert alert-danger">
                    @if (repetitionFrequencyControl?.errors?.min) {
                        <div jhiTranslate="artemisApp.forms.scheduleForm.repetitionFrequencyInput.minValidationError" [translateValues]="{ min: 1 }"></div>
                    }
                    @if (repetitionFrequencyControl?.errors?.max) {
                        <div jhiTranslate="artemisApp.forms.scheduleForm.repetitionFrequencyInput.maxValidationError" [translateValues]="{ max: 7 }"></div>
                    }
                    @if (repetitionFrequencyControl?.errors?.required) {
                        <div jhiTranslate="artemisApp.forms.scheduleForm.repetitionFrequencyInput.requiredValidationError"></div>
                    }
                </div>
            }
            <!-- weekday -->
            <div>
                <div>
                    <label jhiTranslate="artemisApp.forms.scheduleForm.weekDayInput.label"></label>
                </div>
                @for (weekDay of weekDays; track weekDay) {
                    <input formControlName="dayOfWeek" type="radio" class="btn-check" name="dayOfWeek" id="{{ weekDay.id }}" autocomplete="off" [value]="weekDay.value" checked />
                    <label class="btn btn-outline-primary" for="{{ weekDay.id }}">{{ 'artemisApp.generic.weekdays.' + weekDay.translationKey | artemisTranslate }}</label>
                }
            </div>
            <!-- Time -->
            <div>
                <div class="row">
                    <div class="col-auto my-auto">
                        <span jhiTranslate="artemisApp.forms.scheduleForm.timeInput.from"></span>
                    </div>
                    <div class="col-auto">
                        <ngb-timepicker formControlName="startTime" [hourStep]="1" [minuteStep]="15" />
                    </div>
                    <div class="col-auto my-auto">
                        <span jhiTranslate="artemisApp.forms.scheduleForm.timeInput.to"></span>
                    </div>
                    <div class="col-auto my-auto">
                        <ngb-timepicker formControlName="endTime" [hourStep]="1" [minuteStep]="15" />
                    </div>
                </div>
                @if (startTimeControl?.invalid && (startTimeControl?.dirty || startTimeControl?.touched)) {
                    <div class="alert alert-danger">
                        @if (startTimeControl?.errors?.required) {
                            <div jhiTranslate="artemisApp.forms.scheduleForm.timeInput.invalidTimeRange"></div>
                        }
                    </div>
                }
                @if (endTimeControl?.invalid && (endTimeControl?.dirty || endTimeControl?.touched)) {
                    <div class="alert alert-danger">
                        @if (endTimeControl?.errors?.required) {
                            <div jhiTranslate="artemisApp.forms.scheduleForm.timeInput.invalidTimeRange"></div>
                        }
                    </div>
                }
                @if (formGroup?.invalid && (formGroup?.dirty || formGroup?.touched)) {
                    <div>
                        @if (formGroup?.errors?.invalidTimeRange) {
                            <div class="alert alert-danger" jhiTranslate="artemisApp.forms.scheduleForm.timeInput.invalidTimeRange"></div>
                        }
                    </div>
                }
            </div>
        </div>
        <!-- Location -->
        <div class="form-group">
            @if (parentIsOnlineControl!.value) {
                <label for="location" jhiTranslate="artemisApp.forms.scheduleForm.locationInput.labelOnline"></label>
            }
            @if (!parentIsOnlineControl!.value) {
                <label for="location" jhiTranslate="artemisApp.forms.scheduleForm.locationInput.labelOffline"></label>
            }
            <textarea
                class="form-control"
                id="location"
                rows="1"
                formControlName="location"
                [placeholder]="
                    (parentIsOnlineControl!.value
                        ? 'artemisApp.forms.scheduleForm.locationInput.placeholderOnline'
                        : 'artemisApp.forms.scheduleForm.locationInput.placeholderOffline'
                    ) | artemisTranslate
                "
            ></textarea>
            @if (locationControl?.invalid && (locationControl?.dirty || locationControl?.touched)) {
                <div class="alert alert-danger">
                    @if (locationControl?.errors?.maxlength) {
                        <div jhiTranslate="artemisApp.forms.scheduleForm.locationInput.maxLengthValidationError" [translateValues]="{ max: '2000' }"></div>
                    }
                    @if (locationControl?.errors?.required) {
                        <div jhiTranslate="artemisApp.forms.scheduleForm.locationInput.requiredValidationError"></div>
                    }
                </div>
            }
        </div>
        <!-- Period -->
        <div>
            @if (defaultPeriodChanged) {
                <div class="alert alert-warning" role="alert" jhiTranslate="artemisApp.forms.scheduleForm.periodInput.periodWarning"></div>
            }
            <label class="form-label" for="period" jhiTranslate="artemisApp.forms.scheduleForm.periodInput.label"></label>
            <div class="input-group">
                <input formControlName="period" [owlDateTime]="period" class="d-none" [selectMode]="'range'" />
                <input
                    name="period"
                    id="period"
                    required
                    [class.is-invalid]="isPeriodInvalid"
                    (focus)="markPeriodAsTouched()"
                    [value]="periodControl?.value | artemisDateRange: 'long-date' : undefined : true"
                    [owlDateTimeTrigger]="period"
                    readonly
                    class="form-control"
                />
                <button type="button" class="btn btn-secondary" [owlDateTimeTrigger]="period"><fa-icon [icon]="faCalendarAlt" /></button>
                <owl-date-time [firstDayOfWeek]="1" [pickerType]="'calendar'" [pickerMode]="'dialog'" #period />
            </div>
            @if (periodControl?.invalid && (periodControl?.dirty || periodControl?.touched)) {
                <div class="alert alert-danger">
                    @if (periodControl?.errors?.owlRequiredDateTimeRange || periodControl?.errors?.required) {
                        <div jhiTranslate="artemisApp.createConfiguration.periodInput.requiredValidationError"></div>
                    }
                    @if (periodControl?.errors?.owlDateTimeRange) {
                        <div jhiTranslate="artemisApp.forms.scheduleForm.periodInput.invalidRangeError"></div>
                    }
                </div>
            }
        </div>
        @if (createdSessions.length > 0) {
            <div>
                <span jhiTranslate="artemisApp.forms.scheduleForm.sessionCreationInfo"></span>
                @for (session of createdSessions; track session) {
                    <span class="badge bg-info m-1"> {{ session | artemisDate: 'long-date' : false : undefined : true }} </span>
                }
            </div>
        }
    </div>
</ng-container>
