.monaco-diff-editor-container {
    min-height: 100px;
    min-width: 100px;
}

// TODO: explain
.diff-hidden-lines .top {
    visibility: hidden;
}

.diff-hidden-lines .bottom {
    visibility: hidden;
}
