/*
 * Hide the drag handles of the hidden lines, as this feature would result in unintuitive behavior.
 */

.diff-hidden-lines .top {
    visibility: hidden;
}

.diff-hidden-lines .bottom {
    visibility: hidden;
}

.monaco-editor {
    // Prevents the editor from highlighting the entire line with char-insert when the line is new.
    .cdr.line-insert[style*='width:100%;'] + .cdr.char-insert[style*='width:100%;'] {
        background-color: transparent;
    }
    // Prevents the editor from highlighting the entire line with char-delete when the line is removed.
    .cdr.line-delete[style*='width:100%;'] + .cdr.char-delete[style*='width:100%;'] {
        background-color: transparent;
    }
}
