.chat-status-bar {
    transition: all 0.3s;
    opacity: 0;
    overflow: hidden;
    background: var(--iris-client-chat-background);
    border-top: 0 solid var(--border-color);

    .display {
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.3s;
        max-height: 0;
        min-height: 0;
        padding: 0 5px;
        display: flex;
        align-items: center;
        gap: 5px;

        &.active {
            max-height: 1.5lh;
            min-height: 1.5lh;
            padding: 3px 5px;

            &.has-message {
                max-height: 2.1lh;
                min-height: 2.1lh;
            }
        }

        &.error {
            background-color: var(--artemis-alert-danger-background);
            color: var(--artemis-alert-danger-color);
        }

        .message {
            font-size: 80%;
        }
    }

    .progress-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        .part {
            flex: 1;
            min-height: 3px;
            max-height: 3px;
            opacity: 0;
            background-color: gray;
            transform: scaleX(0);
            transform-origin: left center;
            transition: all 0.5s linear;

            &.done {
                background-color: var(--success);
                transform: scaleX(1);
            }

            &.in_progress {
                background-color: var(--warning);
                transition: transform 10s linear;
                transform: scaleX(0.05);
            }

            &.skipped {
                transform: scaleX(1);
            }

            &.error {
                background-color: var(--danger);
                transform: scaleX(1);
            }
        }
    }

    &.open {
        border-top-width: 1px;
        opacity: 1;

        .progress-bar .part {
            opacity: 1;
        }
    }
}

@keyframes growX {
    0% {
        transform: scaleX(0.1);
    }

    100% {
        transform: scaleX(0.9);
    }
}
