.doughnut-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .doughnut-chart-text {
        position: absolute;
        min-height: 50px;
    }
}

.clickable {
    cursor: pointer;
}
