<div *ngIf="exercise">
    <div class="alert" *ngIf="showWelcomeAlert" [ngClass]="'alert-info'" style="bottom: 11px">
        <div [innerHTML]="'artemisApp.exercise.welcome' | translate"></div>
    </div>
    <!-- HEADER INFORMATION START -->
    <jhi-header-exercise-page-with-details [exercise]="exercise" [onBackClick]="backToCourse.bind(this)">
        <span pagetitle>{{ exercise.title }}</span>
    </jhi-header-exercise-page-with-details>
    <!-- HEADER INFORMATION END -->
    <jhi-alert></jhi-alert>
    <jhi-alert-error></jhi-alert-error>
    <!-- EXERCISE ACTIONS START -->
    <div class="tab-bar tab-bar-exercise-details pl-2 pr-2 mb-2 justify-content-between">
        <jhi-programming-exercise-student-ide-actions jhiOrionFilter [showInOrionWindow]="true" [courseId]="courseId" [exercise]="exercise">
        </jhi-programming-exercise-student-ide-actions>
        <jhi-exercise-details-student-actions
            jhiOrionFilter
            [showInOrionWindow]="false"
            [courseId]="courseId"
            [exercise]="exercise"
            [showResult]="showResults && currentResult !== null"
        >
        </jhi-exercise-details-student-actions>
        <!-- These buttons will be only shown in dev environment and if the programming exercise has no
        connection to the VCS and CI
        This functionality is only for testing purposes-->
        <button class="dev-button" *ngIf="!inProductionEnvironment && noVersionControlAndContinuousIntegrationServerAvailable" (click)="simulateSubmission()">Submission</button>
        <button
            class="dev-button"
            [disabled]="!wasSubmissionSimulated"
            *ngIf="!inProductionEnvironment && noVersionControlAndContinuousIntegrationServerAvailable"
            (click)="simulateResult()"
        >
            Result
        </button>
        <jhi-submission-result-status [exercise]="exercise" [studentParticipation]="studentParticipation" updatingResultClass="mr-2" [showGradedBadge]="true">
        </jhi-submission-result-status>
        <div class="col-auto d-md-flex align-items-center" *ngIf="exercise.isAtLeastInstructor">
            <span class="mr-1">{{ 'artemisApp.courseOverview.exerciseDetails.instructorActions.title' | translate }}</span>
            <div class="btn-group flex-btn-group-container">
                <a
                    *ngIf="exercise.type !== QUIZ"
                    type="submit"
                    [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id]"
                    class="btn btn-info btn-sm mr-1"
                >
                    <fa-icon [icon]="'eye'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </a>
                <a type="submit" [routerLink]="['/course-management', courseId, 'exercises', exercise.id, 'scores']" class="btn btn-info btn-sm mr-1">
                    <fa-icon [icon]="'eye'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.scores">Scores</span>
                </a>
                <a type="submit" *ngIf="exerciseRouterLink" [routerLink]="[exerciseRouterLink]" class="btn btn-primary btn-sm mr-1">
                    <fa-icon [icon]="['far', 'list-alt']"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.courseOverview.exerciseDetails.instructorActions.submissions">Submissions</span>
                </a>
                <a
                    type="submit"
                    *ngIf="exercise.type === MODELING"
                    [routerLink]="['/course-management', courseId, 'modeling-exercises', exercise.id, 'statistics']"
                    class="btn btn-info btn-sm mr-1"
                >
                    <fa-icon [icon]="'signal'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.courseOverview.exerciseDetails.instructorActions.statistics">Statistics</span>
                </a>
                <a
                    type="submit"
                    *ngIf="exercise.type === PROGRAMMING"
                    [routerLink]="['/course-management', courseId, 'exercises', exercise.id, 'participations']"
                    class="btn btn-primary btn-sm mr-1"
                >
                    <fa-icon [icon]="'list-alt'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.exercise.participations">Participations</span>
                </a>
                <a
                    type="submit"
                    *ngIf="exercise.type === PROGRAMMING"
                    [routerLink]="['/course-management', courseId, 'programming-exercises', exercise.id, 'grading', 'test-cases']"
                    class="btn btn-info btn-sm mr-1"
                >
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="artemisApp.programmingExercise.configureGrading.shortTitle">Grading</span>
                </a>
                <a
                    type="submit"
                    *ngIf="!QUIZ_ENDED_STATUS.includes(quizExerciseStatus)"
                    [class.disabled]="quizExerciseStatus === QuizStatus.ACTIVE"
                    [routerLink]="['/course-management', courseId, exercise.type + '-exercises', exercise.id, 'edit']"
                    class="btn btn-primary btn-sm mr-1"
                >
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </a>
                <a
                    type="submit"
                    *ngIf="QUIZ_ENDED_STATUS.includes(quizExerciseStatus)"
                    [routerLink]="['/course-management', courseId, 'quiz-exercises', exercise.id, 're-evaluate']"
                    class="btn btn-primary btn-sm mr-1"
                >
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.re-evaluate">Re-evaluate</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col pr-0 flex-grow-1">
            <!-- EXERCISE ACTIONS END -->
            <!-- PROBLEM STATEMENT START -->
            <div *ngIf="exercise.type === PROGRAMMING; else exerciseTemplate" class="mb-4">
                <button
                    class="mb-2"
                    jhi-exercise-action-button
                    jhiBuildPlanButton
                    buttonIcon="external-link-alt"
                    [buttonLabel]="'artemisApp.exerciseActions.goToBuildPlan' | translate"
                    [buttonLoading]="exercise.loading"
                    [hideLabelMobile]="false"
                    [projectKey]="projectKey()"
                    [buildPlanId]="buildPlanId(exercise.studentParticipations![0])"
                    *ngIf="publishBuildPlanUrl() && buildPlanActive()"
                ></button>
                <jhi-programming-exercise-instructions
                    *ngIf="exercise"
                    [exercise]="exercise"
                    [participation]="exercise.studentParticipations && exercise.studentParticipations[0]"
                    [personalParticipation]="true"
                >
                </jhi-programming-exercise-instructions>
            </div>
            <ng-template #exerciseTemplate>
                <div class="row mb-2 align-items-baseline" *ngIf="exercise.problemStatement">
                    <div class="col-12 col-md-12 markdown-preview problem-statement">
                        <h3>{{ 'artemisApp.courseOverview.exerciseDetails.problemStatement' | translate }}</h3>
                        <p [innerHTML]="exercise!.problemStatement! | htmlForMarkdown"></p>
                    </div>
                </div>
            </ng-template>
            <!-- PROBLEM STATEMENT END -->
            <!-- RESULTS START -->
            <div class="row mb-2 mt-2 align-items-baseline d-none d-md-flex" *ngIf="showResults && (sortedHistoryResult?.length > 1 || !currentResult?.rated)">
                <div class="col-auto">
                    <h3>{{ 'artemisApp.courseOverview.exerciseDetails.recentResults' | translate }}</h3>
                </div>
            </div>
            <div class="row mb-2 d-none d-md-flex" *ngIf="showResults && sortedHistoryResult?.length > 1">
                <div class="col-12 col-md-12">
                    <jhi-result-history [results]="sortedHistoryResult" [showPreviousDivider]="hasMoreResults" [maxScore]="exercise.maxScore"></jhi-result-history>
                </div>
            </div>
            <div class="row justify-content-between" *ngIf="showResults && !currentResult?.rated && studentParticipation?.results?.length === 1">
                <div class="col">
                    <h4>
                        <span class="badge w-100 badge-info">
                            {{ 'artemisApp.courseOverview.exerciseDetails.notGraded' | translate | uppercase }}
                        </span>
                    </h4>
                </div>
                <div class="col text-left">
                    <jhi-result [result]="studentParticipation!.results![0]" [participation]="studentParticipation" showUngradedResults="true" short="true"></jhi-result>
                </div>
                <div class="col text-left d-none d-md-flex">
                    <h6 [ngbTooltip]="studentParticipation!.results![0].completionDate | artemisDate">({{ studentParticipation!.results![0].completionDate! | amTimeAgo }})</h6>
                </div>
            </div>
            <div class="row mb-2 mt-2 align-items-baseline" *ngIf="showMoreResults && showResults">
                <div class="col-auto">
                    <h3>{{ 'artemisApp.courseOverview.exerciseDetails.allResults' | translate }}</h3>
                </div>
            </div>
            <div class="row" *ngIf="showMoreResults && showResults">
                <div class="col-12 col-md-12">
                    <div *ngFor="let result of studentParticipation?.results">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h4>
                                    <span class="badge w-100 badge-success" [ngClass]="exerciseRatedBadge(result)">
                                        {{
                                            (result.rated ? 'artemisApp.courseOverview.exerciseDetails.graded' : 'artemisApp.courseOverview.exerciseDetails.notGraded')
                                                | translate
                                                | uppercase
                                        }}
                                    </span>
                                </h4>
                            </div>
                            <div class="col text-left">
                                <jhi-result [result]="result" [participation]="exercise.studentParticipations![0]" showUngradedResults="true" short="true"></jhi-result>
                            </div>
                            <div class="col text-left d-none d-md-flex">
                                <h6 [ngbTooltip]="result.completionDate | artemisDate">({{ result.completionDate! | amTimeAgo }})</h6>
                            </div>
                        </div>
                    </div>
                    <div class="no-results" *ngIf="!studentParticipation || !studentParticipation.results">
                        {{ 'artemisApp.courseOverview.exerciseDetails.noResults' | translate }}
                    </div>
                </div>
            </div>
            <div class="row mb-2 mt-2 align-items-baseline" *ngIf="showResults && studentParticipation?.results?.length > 1">
                <div class="col-auto">
                    <a class="text-primary" (click)="showMoreResults = !showMoreResults">{{
                        showMoreResults
                            ? ('artemisApp.courseOverview.exerciseDetails.hideResults' | translate)
                            : ('artemisApp.courseOverview.exerciseDetails.showResults' | translate)
                    }}</a>
                </div>
            </div>
            <div class="row mb-2 mt-2 align-items-baseline no-results" *ngIf="!showResults">
                <div class="col-auto">
                    <h3>{{ 'artemisApp.courseOverview.exerciseDetails.noResults' | translate }}</h3>
                </div>
            </div>
            <!-- RESULTS END -->
            <jhi-complaint-interactions
                *ngIf="
                    exercise &&
                    exercise.type === PROGRAMMING &&
                    studentParticipation &&
                    currentResult &&
                    (currentResult.assessmentType === AssessmentType.MANUAL || currentResult.assessmentType === AssessmentType.SEMI_AUTOMATIC)
                "
                class="mb-2 mt-2 ml-3"
                [exercise]="exercise"
                [participation]="studentParticipation"
                [result]="currentResult"
            >
            </jhi-complaint-interactions>
            <div
                class="row"
                *ngIf="
                    exercise?.type === PROGRAMMING &&
                    studentParticipation &&
                    currentResult &&
                    (currentResult.assessmentType === AssessmentType.MANUAL || currentResult.assessmentType === AssessmentType.SEMI_AUTOMATIC)
                "
            >
                <jhi-rating class="mt-2 alert alert-info" [result]="currentResult"></jhi-rating>
            </div>
        </div>
        <router-outlet *ngIf="exercise.course && exercise.course.studentQuestionsEnabled" class="ml-3" (activate)="onChildActivate($event)"></router-outlet>
    </div>
</div>
