$footer-height-dev: 164px;
$header-height: 84px;
$footer-height-prod: 142px;

.tab-bar-exercise-details {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0 -1rem 0.5rem -1rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--overview-border-color);
}

.scrollable-content {
    height: calc(100vh - $footer-height-prod - $header-height);
    overflow-y: auto;

    &.content-height-dev {
        height: calc(100vh - $footer-height-dev - $header-height);
    }
}
