.tab-bar-exercise-details {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0 -1rem 0.5rem -1rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--overview-border-color);
}
