<div *ngIf="exercise">
    <!-- HEADER INFORMATION START -->
    <div class="course-info-bar">
        <div class="row">
            <div class="col general-info">
                <h3>
                    <fa-icon [icon]="'arrow-left'" (click)="backToCourse()" class="back-button mr-2"></fa-icon>
                    <span>{{exercise.title}}</span>
                </h3>
                <h4 *ngIf="exercise.dueDate">
                    <span class="mr-2">Due Date: {{exercise.dueDate | date:'dd/MM/yy HH:MM'}}</span>
                    <span [ngClass]="exerciseStatusBadge" class="badge"
                          exercise.dueDate>{{exercise.dueDate | amTimeAgo}}</span>
                </h4>
                <h4 *ngIf="!exercise.dueDate">
                    <span class="mr-2">Due Date: N/A</span>
                </h4>
                <!--<h4>Categories: Homework, Group exercise</h4>-->
            </div>
            <div class="col-4 d-none d-md-flex">
                <div class="row">
                    <div class="col-6"><h5>Exercise type:</h5></div>
                    <div class="col-6">
                        <h5>
                            {{exercise.type | exerciseTypeLabel}}
                            <fa-icon [icon]="exerciseIcon.faIcon" placement="right"></fa-icon>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6"><h5>Level:</h5></div>
                    <div class="col-6"><h5>{{"N/A"}}</h5></div>
                </div>
                <div class="row">
                    <div class="col-6"><h5>Exercise status:</h5></div>
                    <div class="col-6" *ngIf="exercise.participations && exercise.participations.length > 0">
                        <h5>{{exercise.participations[0].initializationState}}</h5></div>
                </div>
                <div class="row">
                    <div class="col-6"><h5>Max. points:</h5></div>
                    <div class="col-6"><h5>{{exercise.maxScore}} pts.</h5></div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER INFORMATION END -->
    <!-- EXERCISE ACTIONS START -->
    <div class="tab-bar pl-2 pr-2 mb-2 justify-content-between">
        <jhi-exercise-details-student-actions [exercise]="exercise"></jhi-exercise-details-student-actions>
        <div class="col-auto d-none d-md-flex" *ngIf="exercise.isAtLeastTutor">
            <span class="mr-1">Instructor actions:</span>
            <div class="btn-group">
                <div class="btn btn-outline-primary"
                     routerLink="/course/{{courseId}}/exercise/{{exercise.id}}/dashboard">
                    Information
                </div>
                <div class="btn btn-outline-primary" *ngIf="exerciseRouterLink" routerLink="{{exerciseRouterLink}}">
                    Assessments
                </div>
                <div class="btn btn-outline-primary" *ngIf="exercise.type === MODELING"
                     routerLink="/course/{{courseId}}/exercise/{{exercise.id}}/statistics">Statistics
                </div>
            </div>
        </div>
    </div>
    <!-- EXERCISE ACTIONS END -->
    <!-- PROBLEM STATEMENT START -->
    <div class="row mb-2 align-items-baseline" *ngIf="exercise.problemStatement">
        <div class="col-12 col-md-8">
            <h3>Problem statement:</h3>
            <p>{{exercise.problemStatement}}</p>
        </div>
    </div>
    <!-- PROBLEM STATEMENT END -->
    <!-- RESULTS START -->
    <div class="row mb-2 align-items-baseline">
        <div class="col-auto">
            <h3>Your result:</h3>
        </div>
    </div>
    <div class="row mb-2" *ngIf="hasResults && currentResult">
        <div class="col-12 col-md-8">
            <div class="row justify-content-between">
                <div class="col">
                    <h4><span class="badge w-100 badge-success"
                              [ngClass]="exerciseRatedBadge(currentResult)">{{currentResult.rated ? 'RATED' : 'PRACTICE'}}</span>
                    </h4>
                </div>
                <div class="col text-center">
                    <h5>{{currentResult.resultString}}</h5>
                </div>
                <div class="col text-center d-none d-md-flex">
                    <h5>{{currentResult.score}}%</h5>
                </div>
                <div class="col text-center">
                    <h5>{{currentResult.completionDate | date: 'dd/MM/yy'}}</h5>
                </div>
                <div class="col text-left d-none d-md-flex">
                    <h5>({{currentResult.completionDate | amTimeAgo}})</h5>
                </div>
            </div>
            <div class="row mb-2" *ngIf="!currentResult">
                <div class="col-auto">
                    <h6>No Rated Result available</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2" *ngIf="hasResults && !currentResult">
        <div class="col-auto">
            <h6>You have no rated result.</h6>
        </div>
    </div>
    <div class="row mb-2 mt-2 align-items-baseline d-none d-md-flex"
         *ngIf="hasResults">
        <div class="col-auto">
            <h3>Recent results:</h3>
        </div>
    </div>
    <div class="row mb-2 d-none d-md-flex" *ngIf="hasResults">
        <div class="col-12 col-md-8">
            <jhi-result-history [results]="sortedHistoryResult"
                                [showPreviousDivider]="hasMoreResults"
                                [maxScore]="exercise.maxScore"></jhi-result-history>
        </div>
    </div>
    <div class="row mb-2 mt-2 align-items-baseline"
         *ngIf="showMoreResults && hasResults">
        <div class="col-auto">
            <h3>Other Results:</h3>
        </div>
    </div>
    <div class="row" *ngIf="showMoreResults && hasResults">
        <div class="col-12 col-md-8">
            <div *ngFor="let result of sortedResults">
                <div class="row justify-content-between">
                    <div class="col">
                        <h4><span class="badge w-100 badge-success"
                                  [ngClass]="exerciseRatedBadge(result)">{{result.rated ? 'RATED' : 'PRACTICE'}}</span>
                        </h4>
                    </div>
                    <div class="col text-center">
                        <h5>{{result.resultString}}</h5>
                    </div>
                    <div class="col text-center d-none d-md-flex">
                        <h5>{{result.score}}%</h5>
                    </div>
                    <div class="col text-center">
                        <h5>{{result.completionDate | date: 'dd/MM/yy'}}</h5>
                    </div>
                    <div class="col text-left d-none d-md-flex">
                        <h5>({{result.completionDate | amTimeAgo}})</h5>
                    </div>
                </div>
            </div>
            <div *ngIf="!exercise.participations">
                No results to show.
            </div>
        </div>
    </div>
    <div class="row mb-2 mt-2 align-items-baseline" *ngIf="hasResults && exercise.participations[0].results.length > 1">
        <div class="col-auto">
            <a class="text-primary"
               (click)="showMoreResults = !showMoreResults">{{showMoreResults ? 'Hide results' : 'Show all results'}}</a>
        </div>
    </div>
    <div class="row mb-2 mt-2 align-items-baseline" *ngIf="!hasResults">
        <div class="col-auto">
            <h3>You have no result yet.</h3>
        </div>
    </div>
    <!-- RESULTS END -->
</div>
