<div class="row justify-content-center overflow-hidden">
    <ul>
        <li class="not_participated" [ngClass]="calculateClasses(NOT_PARTICIPATED)">0</li>
        <li
            class="ms-0"
            [ngClass]="calculateClasses(REVIEWED_INSTRUCTIONS)"
            (click)="navigate()"
            [ngbTooltip]="'artemisApp.assessmentDashboard.readGradingInstructions' | artemisTranslate"
        >
            <fa-icon [icon]="faBook" />
        </li>
        @if (exercise.type !== ExerciseType.PROGRAMMING) {
            <li [ngClass]="calculateClasses(TRAINED)" (click)="navigate()" [ngbTooltip]="'artemisApp.assessmentDashboard.trainOnExampleSubmissions' | artemisTranslate">
                <fa-icon [icon]="faChalkboardTeacher" />
            </li>
        }
        @if (shouldShowManualAssessments) {
            @for (numberOfAssessedSubmissions of numberOfAssessmentsOfCorrectionRounds; track numberOfAssessedSubmissions; let i = $index) {
                <li class="progress-bar-li stacked-li" [ngClass]="calculateClassProgressBar()">
                    <div class="stacked-item">
                        <jhi-progress-bar
                            [tooltip]="'artemisApp.assessmentDashboard.assessStudentsSubmissions' | artemisTranslate"
                            [percentage]="percentageInTimeAssessmentProgressOfCorrectionRound[i]"
                            [numerator]="numberOfAssessedSubmissions.inTime"
                            [denominator]="numberOfSubmissions?.inTime || 0"
                        />
                    </div>
                    @if (numberOfSubmissions && numberOfSubmissions!.late > 0) {
                        <div class="stacked-item">
                            <jhi-progress-bar
                                [tooltip]="'artemisApp.assessmentDashboard.assessStudentsLateSubmissions' | artemisTranslate"
                                [percentage]="percentageLateAssessmentProgressOfCorrectionRound[i]"
                                [numerator]="numberOfAssessedSubmissions.late"
                                [denominator]="numberOfSubmissions?.late || 0"
                            />
                        </div>
                    }
                </li>
            }
        }
        <li class="progress-bar-li me-0" [ngClass]="calculateClassProgressBar()">
            <jhi-progress-bar
                [tooltip]="'artemisApp.assessmentDashboard.evaluateStudentsComplaints' | artemisTranslate"
                [percentage]="percentageComplaintsProgress"
                [numerator]="calculateComplaintsNumerator()"
                [denominator]="calculateComplaintsDenominator()"
            />
        </li>
    </ul>
</div>
