jhi-tutor-participation-graph {
    ul {
        padding-left: 0;
        z-index: 1;
        position: relative;
        white-space: nowrap;
    }

    li {
        width: 2em;
        height: 2em;
        text-align: center;
        line-height: 2em;
        border-radius: 1rem;
        background: green;
        margin: 0 1rem;
        display: inline-block;
        color: white;
        position: relative;
        /*z-index: 1;*/
    }

    li::before {
        content: '';
        position: absolute;
        top: 0.9em;
        left: -4em;
        width: 4em;
        height: 0.2em;
        background: green;
        z-index: -1;
    }

    li:first-child::before {
        display: none;
    }

    .active {
        background: green;
    }

    .active + .tooltip + li,
    .active + li {
        background: red;
    }

    .not_participated {
        display: none;

        &.active + li + li::before,
        &.active + li + ngb-tooltip-window + li::before {
            background: red !important;
        }
    }

    .not_participated + li::before {
        display: none !important;
    }

    .opaque {
        background: darkred !important;
    }

    .opaque::before {
        background: darkred;
    }

    .orange {
        background: orange !important;
    }

    .orange ~ li::before,
    .orange ~ li::after {
        background: orange !important;
    }

    .progress-bar-li {
        width: 8em;
        background: transparent !important;
        top: 0.2em;
    }

    .progress-bar-li::before {
        top: 0.5em;
    }

    .stacked-li {
        display: inline-flex;
        flex-flow: column nowrap;
        height: auto;
        margin-bottom: 1rem;

        .stacked-item {
            &:first-child {
                margin-top: 0;

                &::before {
                    width: 4em;
                    left: -4em;
                }
                &::after {
                    width: 2em;
                    right: -2em;
                }
            }

            margin-top: 0.5em;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0.5em;
                width: 1rem;
                height: 0.2em;
                background: green;
                z-index: -1;
            }

            &::before {
                left: -1rem;
            }
            &::after {
                right: -1rem;
            }
        }
    }

    .stacked-li::before {
        width: 0.2em;
        left: -1rem;
        height: calc(100% - 1rem);
    }

    .stacked-li::after {
        content: '';
        position: absolute;
        top: 0.5em;
        width: 0.2em;
        right: -1rem;
        height: calc(100% - 1rem);
        background: green;
        z-index: -1;
    }

    .opaque::after,
    .opaque .stacked-item::before,
    .opaque .stacked-item::after {
        background: darkred;
    }

    .orange ~ li .stacked-item::before,
    .orange ~ li .stacked-item::after,
    .orange::after,
    .orange .stacked-item::after {
        background: orange !important;
    }
}
