<jhi-header-participation-page class="d-block mb-4" [exercise]="textExercise" [participation]="participation">
    <span pagetitle>
        {{ 'artemisApp.textSubmission.textEditor' | artemisTranslate }}: <span class="font-weight-normal">{{ textExercise?.title }}</span>
    </span>
    <jhi-button
        id="submit"
        *ngIf="isOwnerOfParticipation"
        submitbutton
        [title]="!isAllowedToSubmitAfterDeadline ? 'entity.action.submit' : 'entity.action.submitDeadlineMissed'"
        (onClick)="submit()"
        [disabled]="!isActive || !submission"
        [isLoading]="isSaving"
        [btnType]="isAllowedToSubmitAfterDeadline ? ButtonType.WARNING : ButtonType.PRIMARY"
        [tooltip]="submitButtonTooltip"
    >
    </jhi-button>
</jhi-header-participation-page>

<!--resizable container-->
<jhi-resizeable-container *ngIf="textExercise" [isExerciseParticipation]="true">
    <!--region Left Panel-->
    <div left-body class="text-editor-grid ps-2 pb-2 w-100">
        <div class="grid-area-team-info pb-4 ps-md-2" *ngIf="textExercise?.teamMode && isActive">
            <jhi-team-participate-info-box
                [exercise]="textExercise"
                [participation]="participation"
                [typing$]="textEditorInputObservable"
                [dockedToRightSide]="true"
            ></jhi-team-participate-info-box>
        </div>

        <div class="grid-area-main">
            <div>
                <span class="badge bg-primary mb-2" id="word-count">
                    {{ 'artemisApp.textExercise.wordCount' | artemisTranslate: { count: wordCount } }}
                </span>
                <span class="badge bg-primary mb-2" id="character-count">
                    {{ 'artemisApp.textExercise.characterCount' | artemisTranslate: { count: characterCount } }}
                </span>
            </div>

            <ng-container *ngIf="!result; else hasFeedback">
                <textarea
                    id="text-editor"
                    #textEditor
                    class="text-editor-textarea"
                    maxlength="30000"
                    [(ngModel)]="answer"
                    [readonly]="!isActive || !submission || !isOwnerOfParticipation"
                    [disabled]="!isActive || !submission"
                    (keydown.tab)="onTextEditorTab(textEditor, $event)"
                    (input)="onTextEditorInput($event)"
                ></textarea>
                <jhi-team-submission-sync
                    *ngIf="textExercise?.teamMode"
                    [exerciseType]="textExercise.type!"
                    [submissionObservable]="submissionObservable"
                    [participation]="participation"
                    (receiveSubmission)="onReceiveSubmissionFromTeam($event)"
                ></jhi-team-submission-sync>
            </ng-container>

            <ng-template #hasFeedback>
                <div class="row">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <b>
                            {{
                                isOwnerOfParticipation
                                    ? ('artemisApp.textExercise.assessedSubmission' | artemisTranslate)
                                    : ('artemisApp.textExercise.assessedSubmissionInstructor' | artemisTranslate)
                            }}:
                        </b>
                        <hr />
                        <jhi-text-result [result]="result" [course]="course"></jhi-text-result>
                        <hr />
                    </div>
                    <jhi-additional-feedback
                        *ngIf="unreferencedFeedback && unreferencedFeedback!.length > 0"
                        class="col-xl-8 alert unreferencedFeedback"
                        [feedback]="unreferencedFeedback || []"
                        [additional]="true"
                        [course]="course"
                    >
                    </jhi-additional-feedback>
                    <jhi-rating *ngIf="isOwnerOfParticipation" class="col-md-12 col-lg-10 col-xl-8 mt-2 alert alert-info" [result]="result"></jhi-rating>
                </div>
            </ng-template>

            <jhi-complaint-student-view
                *ngIf="textExercise && result && participation && !examMode"
                [exercise]="textExercise"
                [result]="resultWithComplaint ? resultWithComplaint : result"
                [participation]="participation"
            ></jhi-complaint-student-view>
        </div>
    </div>
    <!--endregion-->
    <!--region Right Panel-->
    <fa-icon right-header [icon]="farListAlt"></fa-icon>&nbsp;
    <span id="problem-statement" right-header jhiTranslate="artemisApp.exercise.problemStatement">Problem Statement</span>
    <p right-body class="markdown-preview mb-3" *ngIf="textExercise!.problemStatement">
        <span [innerHTML]="textExercise!.problemStatement! | htmlForMarkdown"></span>
    </p>
    <!--endregion-->
</jhi-resizeable-container>
