@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

@import 'src/main/webapp/content/scss/artemis-variables';

.text-editor-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'problem-statement'
        'team-info'
        'main';

    @media (min-width: map-get($grid-breakpoints, 'md')) {
        grid-template-columns: 1fr min-content;
        grid-template-areas:
            'problem-statement team-info'
            'main              team-info';
    }

    .grid-area-problem-statement {
        grid-area: problem-statement;
    }

    .grid-area-team-info {
        justify-self: flex-start;
    }

    .grid-area-main {
        grid-area: main;
    }
}

.text-editor-textarea {
    width: 100%;
    max-width: 750px;
    height: 50vh;
    padding: 10px 12px;
    border: 1px solid var(--text-editor-border-color);
    border-radius: 2px;
    background-color: var(--text-editor-background);
    color: var(--text-editor-color);

    &:focus {
        outline: none;
        border: 1px solid var(--artemis-dark);
        background-color: var(--text-editor-focus-background);
        box-shadow: 0 0 20px rgba(0, 0, 200, 0.04);
    }
}
div {
    &.positive-feedback {
        color: var(--textblock-assessment-text-feedback-positive-color);
        background-color: var(--textblock-assessment-text-feedback-positive-background);
    }
    &.negative-feedback {
        color: var(--textblock-assessment-text-feedback-negative-color);
        background-color: var(--textblock-assessment-text-feedback-negative-background);
    }
    &.neutral-feedback {
        color: var(--textblock-assessment-text-feedback-neutral-color);
        background-color: var(--textblock-assessment-text-feedback-neutral-background);
    }
    &.missed-feedback {
        color: var(--textblock-assessment-text-feedback-neutral-color);
        background-color: lightblue;
    }
}
