@if (show()) {
    <div>
        <div class="w100 row justify-content-center card-header">
            <div class="btn-group">
                @for (state of State | keyvalue; track state; let i = $index) {
                    <div
                        class="btn"
                        [ngClass]="{ 'btn-primary': currentState === state.value, 'btn-default': currentState !== state.value }"
                        (click)="setCurrentState(state.value)"
                    >
                        <span [jhiTranslate]="stateTexts[i]"></span>
                    </div>
                }
            </div>
        </div>
        <hr />
        <div class="form-group question-options existing-question-container">
            @if (currentState === State.COURSE) {
                <div class="existing-question-select-course w-100">
                    <span jhiTranslate="artemisApp.quizExercise.selectCourse" class="font-weight-bold align-middle"></span>
                    <select class="form-select ms-5" [(ngModel)]="selectedCourseId" (change)="onCourseSelect()" style="flex: 1">
                        @for (course of courses; track course) {
                            <option [value]="course.id">{{ course.title }}</option>
                        }
                    </select>
                </div>
            }
            @if (currentState === State.EXAM) {
                <div class="existing-question-select-course w-100">
                    <span jhiTranslate="artemisApp.quizExercise.selectExam" class="font-weight-bold align-middle"></span>
                    <select class="form-select ms-5" [(ngModel)]="selectedExamId" (change)="onExamSelect()" style="flex: 1">
                        @for (exam of exams; track exam) {
                            <option [value]="exam.id">{{ exam.title }}</option>
                        }
                    </select>
                </div>
            }
            @if (currentState === State.FILE) {
                <div class="question-options row d-flex justify-content-start">
                    <div class="me-2 col flex-grow-0" style="white-space: nowrap">
                        <span jhiTranslate="artemisApp.quizExercise.importJSON" class="font-weight-bold colon-suffix no-flex-shrink"></span>
                    </div>
                    <div class="input-group flex-grow-1 col">
                        <input id="importFileInput" type="file" accept=".json,.zip" class="form-control" (change)="setImportFile($event)" placeholder="Upload file..." />
                        <button class="btn btn-outline-primary" (click)="importQuiz()" jhiTranslate="entity.action.import" [ngClass]="{ disabled: !importFile }"></button>
                    </div>
                </div>
            }
            @if (currentState !== State.FILE) {
                @if (allExistingQuestions.length !== 0) {
                    <div class="existing-question-filter w-100">
                        <input class="form-control search-query" [(ngModel)]="searchQueryText" placeholder="Search Query" />
                        <div class="checkboxes">
                            <div class="form-check">
                                <input type="checkbox" id="cbDnDFilter" class="form-check-input" [(ngModel)]="dndFilterEnabled" />
                                <label class="form-check-label" for="cbDnDFilter" jhiTranslate="artemisApp.quizExercise.filter.dnd"></label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" id="cbMCFilter" class="form-check-input" [(ngModel)]="mcqFilterEnabled" />
                                <label class="form-check-label" for="cbMCFilter" jhiTranslate="artemisApp.quizExercise.filter.mcq"></label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" id="cbShortAnswerFilter" class="form-check-input" [(ngModel)]="shortAnswerFilterEnabled" />
                                <label class="form-check-label" for="cbShortAnswerFilter" jhiTranslate="artemisApp.quizExercise.filter.sa"></label>
                            </div>
                        </div>
                        <button class="btn btn-outline-secondary" (click)="applyFilter()" jhiTranslate="artemisApp.quizExercise.filter.applyFilter"></button>
                    </div>
                }
                @if (allExistingQuestions.length === 0 && selectedCourseId !== undefined) {
                    <div>
                        <div>&nbsp;</div>
                        <span jhiTranslate="artemisApp.quizExercise.noQuestionsFoundCourse"></span>
                    </div>
                }
                @if (existingQuestions.length !== 0) {
                    <div class="table-responsive existing-question-table">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th width="55%">
                                        <span jhiTranslate="artemisApp.quizExercise.export.questionTitle"></span>
                                    </th>
                                    <th width="30%">
                                        <span jhiTranslate="artemisApp.quizExercise.export.quizExerciseTitle"></span>
                                    </th>
                                    <th width="10%">
                                        <span jhiTranslate="artemisApp.exercise.type"></span>
                                    </th>
                                    <th width="5%">
                                        <span jhiTranslate="entity.action.add"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (question of existingQuestions; track question) {
                                    <tr>
                                        <td width="55%">{{ question.title }}</td>
                                        <td width="30%">{{ question.exercise?.title }}</td>
                                        <td width="10%" class="mb-0">
                                            <h5>
                                                @if (question.type === MULTIPLE_CHOICE) {
                                                    <span class="badge bg-info align-text-top">MC</span>
                                                }
                                            </h5>
                                            <h5>
                                                @if (question.type === DRAG_AND_DROP) {
                                                    <span class="badge bg-warning align-text-top">DnD</span>
                                                }
                                            </h5>
                                            <h5>
                                                @if (question.type === SHORT_ANSWER) {
                                                    <span class="badge bg-success align-text-top">SA</span>
                                                }
                                            </h5>
                                        </td>
                                        <td width="5%">
                                            <div class="form-check">
                                                <input
                                                    type="checkbox"
                                                    id="cbExportQuizQuestion{{ question.id }}"
                                                    class="form-check-input"
                                                    [(ngModel)]="question.exportQuiz"
                                                    style="margin-left: 0"
                                                />
                                                <label class="form-check-label" for="cbExportQuizQuestion{{ question.id }}">&nbsp;</label>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                @if (allExistingQuestions.length !== 0 && existingQuestions.length === 0 && selectedCourseId !== undefined) {
                    <div jhiTranslate="artemisApp.quizExercise.noMatchingQuestionsFound" class="ms-3"></div>
                }
                @if (existingQuestions.length !== 0) {
                    <button class="btn btn-outline-primary" (click)="addExistingQuestions()" jhiTranslate="artemisApp.quizExercise.addSelectedQuestions"></button>
                }
            }
        </div>
    </div>
}
