@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.header {
    position: relative;
    text-align: center;
    background: #3e8acc;
}

.curve {
    fill: #fff;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header h1 {
    color: #fff;
    margin: 0;
    font-size: 5em;
    padding: 2em;
    text-shadow: 1px 1px 40px #333333;
    box-sizing: border-box;
}

.content {
    padding: 20px;
}

.wrapper {
    float: left;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
}

.features-overview {
    margin: 0;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    color: #3e8acc;
}
.features-overview h2 {
    font-size: 3em;
    padding-top: 2em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.container .box {
    position: relative;
    height: 250px;
    background: #3e8acc;
    padding: 15px 15px 15px;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}
.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    transition: 0.5s;
    z-index: 1;
}
.container .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.container .box .icon .title {
    position: absolute;
    display: inline-block;
    top: calc(50% + 10px);
    padding: 20px;
    color: #3e8acc;
    font-size: 22px;
    width: calc(100% - 40px);
    text-align: center;
    opacity: 1;
}

.container .box .icon .fa {
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color: #3e8acc;
}
.container .box:hover .icon .fa {
    top: 50%;
    font-size: 40px;
}

.container .box:hover .icon .title {
    opacity: 0;
}
.container .box .feature-short-description {
    position: absolute;
    top: 100%;
    height: calc(100% - 120px);
    width: calc(100% - 40px);
    box-sizing: border-box;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0;
}
.container .box:hover .feature-short-description {
    top: 100px;
    opacity: 1;
}
.container .box .feature-short-description h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.container .box .feature-short-description p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
}

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background-color: #3e8acc;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background-color: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #fff;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature-content {
    margin: 0;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
}

.feature-full-description {
    overflow: auto;
    padding: 35px;
}
.text-wrap-right {
    float: right;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 7px;
}

.text-wrap-left {
    clear: right;
    float: left;
    margin-right: 15px;
    margin-bottom: 7px;
}

.text-wrap-left-no-second-text {
    float: left;
    margin-right: 15px;
    margin-bottom: 7px;
}
