.message-inline-input-form__wrapper {
    padding-top: 5px;

    .markdown-editor-wrapper {
        background-color: transparent !important;

        .markdown-editor {
            border: 1px solid var(--border-color);
            background-color: transparent !important;
        }
    }

    .ng-invalid {
        border: none;
    }
}
