:host {
    /* Shift the feedback content down a bit to make space for the badge */
    display: inline-block;
    height: 12px;
}

.suggestion-badge {
    position: absolute;
    top: -8px;
    vertical-align: middle;
    background-color: var(--feedback-suggestions-primary);
    cursor: default;
}
