#result-overview-table tr:not(thead tr):not(tfoot tr) {
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
        transition: transform 0.1s;
    }
}

.not-included-in-score {
    opacity: 0.5;
}

.grade {
    color: var(--white);
    padding: 0.25em 0.5em;
    margin-left: 0.25em;
    border-radius: 0.25em;
}

.passing-grade {
    background-color: var(--success);
}

.failing-grade {
    background-color: var(--danger);
}

.total-footer {
    border-top-width: 2px;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.grade-results-table-container {
    width: fit-content;
}
