<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myApollonDiagramLabel" jhiTranslate="artemisApp.apollonDiagram.home.createLabel">Create or edit a Apollon Diagram</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group-narrow">
            <label class="form-control-label" jhiTranslate="artemisApp.apollonDiagram.title" for="field_title">Title</label>
            <input #titleInput type="text" class="form-control" name="title" id="field_title" [(ngModel)]="apollonDiagram.title" />
        </div>
        <div class="form-group-narrow">
            <label class="form-control-label" jhiTranslate="artemisApp.modelingExercise.diagramType" for="field_diagramType">Diagram Type</label>
            <select class="form-select" name="diagramType" [(ngModel)]="apollonDiagram.diagramType" id="field_diagramType">
                <option value="ClassDiagram">{{ 'artemisApp.DiagramType.ClassDiagram' | artemisTranslate }}</option>
                <option value="ActivityDiagram">{{ 'artemisApp.DiagramType.ActivityDiagram' | artemisTranslate }}</option>
                <option value="ObjectDiagram">{{ 'artemisApp.DiagramType.ObjectDiagram' | artemisTranslate }}</option>
                <option value="UseCaseDiagram">{{ 'artemisApp.DiagramType.UseCaseDiagram' | artemisTranslate }}</option>
                <option value="CommunicationDiagram">{{ 'artemisApp.DiagramType.CommunicationDiagram' | artemisTranslate }}</option>
                <option value="ComponentDiagram">{{ 'artemisApp.DiagramType.ComponentDiagram' | artemisTranslate }}</option>
                <option value="DeploymentDiagram">{{ 'artemisApp.DiagramType.DeploymentDiagram' | artemisTranslate }}</option>
                <option value="PetriNet">{{ 'artemisApp.DiagramType.PetriNet' | artemisTranslate }}</option>
                <option value="SyntaxTree">{{ 'artemisApp.DiagramType.SyntaxTree' | artemisTranslate }}</option>
                <option value="Flowchart">{{ 'artemisApp.DiagramType.Flowchart' | artemisTranslate }}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismiss()">
            <fa-icon [icon]="faBan"></fa-icon>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <fa-icon [icon]="faSave"></fa-icon>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
