<div class="p-4">
    <div class="row">
        <div class="col text-end">
            <label class="me-1">
                <input class="form-check-input" type="checkbox" name="keepOriginalSize" [(ngModel)]="crop" />&nbsp;<span jhiTranslate="artemisApp.apollonDiagram.detail.crop"
                    >Crop</span
                >
            </label>
            <fa-icon class="me-1" [icon]="faQuestionCircle" ngbTooltip="{{ 'artemisApp.apollonDiagram.detail.help' | artemisTranslate }}"></fa-icon>
            <button class="btn btn-info me-1" (click)="downloadSelection()" [hidden]="!apollonDiagram" [disabled]="!hasSelection">
                <fa-icon [icon]="faDownload"></fa-icon>&nbsp;<span jhiTranslate="entity.action.download">Download</span>
            </button>
            <span class="border-right border-secondary me-2"></span>
            <button class="btn btn-info me-1" (click)="generateExercise()" [hidden]="!apollonDiagram" [disabled]="!hasInteractive">
                {{ 'artemisApp.apollonDiagram.detail.createLabel' | artemisTranslate }} &hellip;
            </button>
            <button class="btn btn-success" (click)="saveDiagram()" [hidden]="!apollonDiagram" jhiTranslate="entity.action.save">Save</button>
        </div>
    </div>

    <div class="form-group mb-3" *ngIf="apollonDiagram">
        <label class="form-control-label" jhiTranslate="artemisApp.apollonDiagram.title" for="field_title">Title</label>
        <input type="text" class="form-control" name="title" id="field_title" [(ngModel)]="apollonDiagram.title" />
    </div>

    <div #editorContainer style="width: 100%; height: calc(100vh - 300px)"></div>
</div>
