$metis-light-gray: #979797;
$metis-gray: #6a737d;
$metis-blue: #0f6ab4;
$metis-green: #3c763d;

.post-result-information {
    font-size: small;
    font-style: italic;
}

.post-separation-line {
    height: 1px;
    background: $metis-light-gray;
}

.icon {
    color: $metis-gray;
}

.posting-header {
    font-size: 12px;
}
