.post-result-information {
    font-size: small;
    font-style: italic;
}

.post-separation-line {
    height: 1px;
    background: var(--metis-light-gray);
}

.icon {
    color: var(--metis-gray);
}

.posting-header {
    font-size: x-small;
}

.resolved {
    color: var(--metis-green);
}

.reference-hash {
    font-weight: 200;
    color: var(--metis-light-gray);
    display: inline-flex;
}
