.editable-instruction-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: 100%;

    // Override bootstrap tooltip width.
    .tooltip-inner {
        width: 500px;
    }

    &__instructions {
        height: 100%;
    }

    &__editor {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;
        overflow: hidden;
    }

    .markdown-editor {
        border-left: var(--border-color) 1px solid;
        border-right: var(--border-color) 1px solid;
        border-bottom: var(--border-color) 1px solid;
    }

    .markdown-editor-wrapper .nav {
        position: sticky;
        top: 0;
        background-color: var(--module-bg);
    }

    .instructions__content__markdown {
        background-color: var(--module-bg);
    }

    .card-second-header {
        padding: 10px 15px;
        background-color: var(--module-bg);
    }

    &__save {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__status {
        display: grid;
        grid-template-columns: repeat(2, minmax(max-content, 1fr));

        > :not(:first-child) {
            border-left: 1px solid rgba(0, 0, 0, 0.125);
        }

        &__container {
            display: flex;
            text-align: center;

            > :not(:first-child) {
                border-left: 1px solid rgba(0, 0, 0, 0.125);
                flex: 1;
            }
        }

        &__item {
            flex: 1;
        }
    }
}
