.editable-instruction-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: 100%;

    // Override bootstrap tooltip width.
    .tooltip-inner {
        width: 500px;
    }

    &__instructions {
        height: 100%;
    }

    &__editor {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;
        overflow: hidden;
    }

    .instructions__content__markdown {
        background-color: var(--markdown-preview-editor-background);
    }

    .card-second-header {
        padding: 10px 15px;
        background-color: var(--programming-exercise-instruction-step-wizard-card-header-background);
        border-bottom: 1px solid var(--programming-exercise-instruction-step-wizard-card-header-border);
    }

    &__save {
        position: absolute;
        top: 1px;
        right: 0;
    }

    &__status {
        display: grid;
        grid-template-columns: repeat(2, minmax(max-content, 1fr));

        > :not(:first-child) {
            border-left: 1px solid rgba(0, 0, 0, 0.125);
        }

        &__container {
            display: flex;
            flex-flow: row wrap;

            > :not(:first-child) {
                border-left: 1px solid rgba(0, 0, 0, 0.125);
                padding-left: 20px;
            }
        }
        &__item {
            flex: 1 1;
            display: flex;
            justify-content: center;
        }
    }

    .rg-bottom {
        align-self: center;
        cursor: row-resize;
    }
}
