<div class="form-step" [hidden]="currentStep < 1">
    <h1>Title</h1>
    <p>Add a title and meaningful description to the new lecture.</p>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="artemisApp.lecture.title" for="field_title">Title</label>
        <input required [disabled]="currentStep > 2" type="text" class="form-control" name="title" id="field_title" [(ngModel)]="lecture.title" />
    </div>
    <div class="form-group" id="field_description">
        <label class="form-control-label" jhiTranslate="artemisApp.lecture.description" for="field_description">Description</label>
        <jhi-markdown-editor
            class="markdown-editor"
            [domainCommands]="domainCommandsDescription"
            [(markdown)]="lecture.description"
            [editorMode]="EditorMode.LATEX"
            [disabled]="currentStep > 2"
        ></jhi-markdown-editor>
    </div>
</div>
