<div class="form-group">
    <div class="form-check custom-checkbox">
        <input class="form-check-input" type="checkbox" name="customizeBuildPlan" id="field_customizeBuildPlan" [(ngModel)]="programmingExercise.customizeBuildPlanWithAeolus" />
        <label class="form-check-label custom-control-label" for="field_customizeBuildPlan" jhiTranslate="artemisApp.programmingExercise.customizeBuildPlan"></label>
        <jhi-help-icon placement="auto" text="artemisApp.programmingExercise.customizeBuildPlansWithAeolusTooltip" />
    </div>
    @if (programmingExercise.customizeBuildPlanWithAeolus) {
        <div class="row m-1">
            @if (programmingExercise.buildConfig?.windfile && programmingExercise.buildConfig?.windfile?.metadata && programmingExercise.buildConfig?.windfile?.metadata?.docker) {
                <jhi-programming-exercise-build-configuration
                    [dockerImage]="programmingExercise.buildConfig!.windfile!.metadata.docker.image"
                    (dockerImageChange)="setDockerImage($event)"
                    [timeout]="programmingExercise.buildConfig!.timeoutSeconds === 0 ? 120 : programmingExercise.buildConfig!.timeoutSeconds!"
                    (timeoutChange)="setTimeout($event)"
                    [isAeolus]="false"
                />
            }
            <label jhiTranslate="artemisApp.programmingExercise.script" class="mb-2"></label>
            <div class="ms-1 p-0 card col-12 col-md-12">
                <div class="card-text d-flex flex-column" [style.height.vh]="40">
                    <div class="mh-100 flex-shrink-1 flex-grow-1">
                        <jhi-monaco-editor #editor [stickyScroll]="false" [shrinkToFit]="false" (textChanged)="codeChanged($event)" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>
