.label-preview {
    font-size: 9pt;
}

.preview-box {
    background: var(--update-programming-exercise-plan-preview-box-background);
}

.guided-mode-button {
    float: right;
}

.container-card {
    border-left: 3px solid var(--bs-border-color);
    margin-bottom: 0.5rem;

    &__header {
        padding: 0.5rem 0.75rem;
        cursor: pointer;
    }
}

.editable-name {
    cursor: pointer;

    .edit-icon {
        font-size: 0.75rem;
    }
}
