<div class="row mt-3 g-3">
    <div class="col-12 col-md-6 col-lg-7 mt-0">
        <span *ngIf="!isExamMode" style="font-size: 16px" jhiTranslate="artemisApp.assessmentDashboard.exerciseTable.courseInformation"></span>
        <span *ngIf="isExamMode" style="font-size: 16px" jhiTranslate="artemisApp.assessmentDashboard.exerciseTable.examInformation"></span>

        <!-- chart -->
        <div *ngIf="numberOfSubmissions.total !== 0" class="pie-chart pb-2" style="margin-top: -10px">
            <ngx-charts-pie-chart
                [customColors]="customColors"
                [view]="view"
                [results]="assessments"
                [legend]="true"
                [legendTitle]="''"
                [legendPosition]="legendPosition"
                [animations]="false"
            >
                <ng-template #tooltipTemplate let-model="model"> {{ ((model.value * 100) / this.numberOfSubmissions.total).toFixed(2) }}% </ng-template>
            </ngx-charts-pie-chart>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5 overflow-auto">
        <jhi-side-panel
            style="min-width: 360px"
            class="d-block"
            [panelHeader]="'artemisApp.assessmentDashboard.assessmentInformation' | artemisTranslate"
            [panelDescriptionHeader]="'artemisApp.exerciseAssessmentDashboard.totalYours' | artemisTranslate"
        >
            <div *ngIf="!isExamMode">
                <div class="row g-0 mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.assessments' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        {{ totalNumberOfAssessments.total }} / {{ numberOfSubmissions.total }} ({{ totalAssessmentPercentage }}%) | {{ numberOfTutorAssessments }}
                    </div>
                </div>
                <div class="row g-0 mb-1" *ngIf="complaintsEnabled">
                    <div class="col-7">{{ 'artemisApp.assessmentDashboard.complaints' | artemisTranslate }}</div>
                    <div class="col-5">
                        <div *ngIf="course?.isAtLeastInstructor">
                            <a id="open-complaints" [routerLink]="complaintsLink"> {{ complaints.done }} / {{ complaints.total }} ({{ complaints.doneToTotalPercentage }}) </a>
                            |
                            <a [routerLink]="complaintsLink" [queryParams]="{ tutorId: tutorId }">
                                {{ complaints.tutor }}
                            </a>
                        </div>
                        <div *ngIf="course && !course?.isAtLeastInstructor">
                            {{ complaints.done }} / {{ complaints.total }} ({{ complaints.doneToTotalPercentage }}) |
                            <a [routerLink]="complaintsLink" [queryParams]="{ tutorId: tutorId }">
                                {{ complaints.tutor }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-1" *ngIf="feedbackRequestEnabled">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.moreFeedbackRequests' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        <div *ngIf="course?.isAtLeastInstructor">
                            <a *ngIf="course?.isAtLeastInstructor" [routerLink]="moreFeedbackRequestsLink">
                                {{ moreFeedbackRequests.done }} / {{ moreFeedbackRequests.total }} ({{ moreFeedbackRequests.doneToTotalPercentage }})
                            </a>
                            |
                            <a [routerLink]="moreFeedbackRequestsLink" [queryParams]="{ tutorId: tutorId }">
                                {{ moreFeedbackRequests.tutor }}
                            </a>
                        </div>
                        <div *ngIf="course && !course?.isAtLeastInstructor">
                            {{ moreFeedbackRequests.done }} / {{ moreFeedbackRequests.total }} ({{ moreFeedbackRequests.doneToTotalPercentage }}) |
                            <a [routerLink]="moreFeedbackRequestsLink" [queryParams]="{ tutorId: tutorId }">
                                {{ moreFeedbackRequests.tutor }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row g-0 mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.assessmentLocks' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        {{ assessmentLocks.tutor }} |
                        <a [routerLink]="assessmentLocksLink" [queryParams]="{ tutorId: tutorId }">
                            {{ assessmentLocks.tutor }}
                        </a>
                    </div>
                </div>
                <div class="row g-0 mb-1">
                    <div class="col-7">{{ 'artemisApp.exerciseAssessmentDashboard.ratings' | artemisTranslate }}</div>
                    <div class="col-5">
                        <a *ngIf="course?.isAtLeastInstructor" [routerLink]="ratingsLink"> {{ ratings.total }} </a>
                        <span *ngIf="course && !course?.isAtLeastInstructor"> {{ ratings.total }} </span> |
                        {{ ratings.tutor }}
                    </div>
                </div>
            </div>
            <div *ngIf="isExamMode">
                <div class="row g-0 mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.assessments' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        ({{ totalNumberOfAssessments.total }} / {{ numberOfSubmissions.total * numberOfCorrectionRounds }}) ({{ totalAssessmentPercentage }}%) |
                        {{ numberOfTutorAssessments }}
                    </div>
                </div>
                <div class="row g-0 mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.complaints' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        <div *ngIf="course?.isAtLeastInstructor">
                            <a [routerLink]="complaintsLink" [queryParams]="{ correctionRound: numberOfCorrectionRounds - 1 }">
                                {{ complaints.done }} / {{ complaints.total }} ({{ complaints.doneToTotalPercentage }})
                            </a>
                            | {{ complaints.tutor }}
                        </div>
                        <!-- TODO: make those links work (REST calls to fetch for individual students do not exist yet) -->
                        <!-- this value is not yet available for exam mode. As soon as the leaderboards exist add it again. {{ complaints.tutor }} -->
                        <div *ngIf="course && !course?.isAtLeastInstructor">{{ complaints.done }} / {{ complaints.total }} ({{ complaints.doneToTotalPercentage }}) | -</div>
                    </div>
                </div>
                <div class="row g-0 mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.assessmentLocks' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        {{ assessmentLocks.total }}
                        |
                        <a [routerLink]="assessmentLocksLink" [queryParams]="{ tutorId: tutorId }">
                            {{ assessmentLocks.tutor }}
                        </a>
                    </div>
                </div>
                <div class="row g-0 mb-1">
                    <div class="col-7">
                        {{ 'artemisApp.assessmentDashboard.totalAssessmentsForCorrectionrounds' | artemisTranslate }}
                    </div>
                    <div class="col-5">
                        {{ numberOfAssessmentsOfCorrectionRounds[0].inTime }}
                        <span *ngIf="numberOfAssessmentsOfCorrectionRounds[1]"> - {{ numberOfAssessmentsOfCorrectionRounds[1].inTime }}</span>
                    </div>
                </div>
            </div>
        </jhi-side-panel>
    </div>
</div>
