/*!* ==========================================================================
Instructions wrapper styles
========================================================================== *!*/

.instructions {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: 100%;

    &__content {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: inherit;

        .card-second-header {
            padding: 10px 15px;
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;
        }

        &__markdown {
            height: inherit;
            overflow: auto;
            padding: 1.25rem;
        }
    }
}
