.editable-instruction-container {
    position: relative;
    &__status {
        position: absolute;
        left: 155px;
        top: 5px;
    }
    &__save {
        position: absolute;
        top: 1px;
        right: 0;
    }
}
