.progress-bar-container {
    width: 100%;
    padding: 5px;
}

.inline {
    display: inline-block;
}

.small .title {
    font-size: 12px;
}

.medium .title {
    font-size: 14px;
}

.large .title {
    font-size: 16px;
}

.progress-background {
    width: 100%;
    height: 20px;
    border-radius: 60px;
    overflow: hidden;
}

.progress {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 60px;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
}

.small .progress-background {
    height: 10px;
}

.large .progress-background {
    height: 30px;
}
