.settings-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 20px;
    &:not(:last-child) {
        border-bottom: 1px solid var(--bs-border-color);
    }
    .settings-content-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }

    .settings-content-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        .settings-content-item-label {
            margin-bottom: 5px;
        }
        .settings-content-item-input {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 5px;
        }
    }
}
.settings-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    background-color: var(--iris-chat-widget-background);
}

.button-toolbar {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.settings-header {
    display: flex;
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
    height: 36px;
    flex: 0;
    z-index: 10;
    background-color: var(--iris-chat-widget-background);
    border-radius: var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0 0;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid var(--bs-border-color);
    justify-content: space-between;
}

.toolbox {
    background: var(--iris-tool-background);
    border: 1px solid var(--border-color);
    border-radius: var(--bs-border-radius-lg);
    display: flex;

    button:hover {
        color: white !important;
    }
}

.header-icon {
    border: none;
    background: transparent;
    color: var(--secondary);
}
