.pdf-container {
    position: relative; /* Set as a positioning context */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    max-height: 75vh;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 95%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: start;
}

.enlarged-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1050;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .pdf-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .pdf-container {
        grid-template-columns: 1fr;
    }
}
