@import 'src/main/webapp/content/scss/themes/default-variables';

.remove-button {
    color: $white;
    background: transparent !important;
    border: none !important;

    &:hover {
        opacity: 0.8;
    }
}
