@if (isLoading) {
    <div class="text-center">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </div>
}
@if (!isLoading && gitDiffReport) {
    <div>
        <jhi-git-diff-report [report]="gitDiffReport" [templateFileContentByPath]="templateFileContentByPath" [solutionFileContentByPath]="solutionFileContentByPath" />
    </div>
}
@if (!isLoading && !gitDiffReport) {
    <div class="text-center">
        <span jhiTranslate="artemisApp.codeHint.management.step2.notGenerated">Git-Diff report has not been generated yet.</span>
    </div>
}
