.form-control-error {
    margin-top: 0.35rem;

    & + & {
        margin-top: 0;
    }
}

.search-searching {
    position: relative;
    top: -2px;
}

.label-inline-message {
    position: relative;
    top: -4.5px;
    line-height: 1rem;
    font-size: 0.8rem;
    margin-left: 5px;
}

.list-group--students {
    max-width: 450px;

    .list-group-item-container {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.15rem;
        }
    }

    .list-group-item-index {
        font-size: 1.1rem;
        margin-left: 1.5rem;
        margin-right: 1rem;
        font-weight: 500;
    }

    .list-group-item {
        flex-grow: 1;

        &.has-error {
            background-color: var(--artemis-alert-danger-background);
        }
    }

    .list-group-item-error {
        width: 280px;
        position: absolute;
        left: 100%;
        margin-left: 2rem;
        color: var(--danger);
    }

    .student-name {
        flex-grow: 1;
        width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .student-remove-link {
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        color: var(--bs-body-color);
    }
}

.modal-footer {
    button[disabled] {
        cursor: not-allowed;
    }
}

.hidden-md-down {
    display: none !important;

    @media (min-width: 992px) {
        display: block !important;
    }
}
