<div *ngIf="!noInstructionsAvailable" id="cardInstructions" class="instructions card resizable-instructions border border-lightgrey">
    <div class="card-header text-white bg-primary" (click)="toggleEditorCollapse($event)">
        <span class="float-right "><fa-icon icon="chevron-right"></fa-icon></span>
        <h3 class="card-title">
            <fa-icon [icon]="['far', 'list-alt']"></fa-icon>
            <span jhiTranslate="artemisApp.editor.instructions"> &nbsp; Instructions &nbsp; </span>
        </h3>
    </div>
    <jhi-programming-exercise-instructions
        *ngIf="!editable; else markdownEditorInstructions"
        (onNoInstructionsAvailable)="onNoInstructionsAvailable()"
        [exercise]="exercise"
        [participation]="participation"
        class="instructions__content"
    >
    </jhi-programming-exercise-instructions>
    <ng-template #markdownEditorInstructions>
        <jhi-programming-exercise-editable-instructions
            [(exercise)]="exercise"
            [(participation)]="participation"
            [templateParticipation]="templateParticipation"
            [markdownEditorHeight]="MarkdownEditorHeight.MEDIUM"
            [enableResize]="false"
            class="instructions__content"
        >
        </jhi-programming-exercise-editable-instructions>
    </ng-template>
    <!-- Required for resizing; don't remove empty span -->
    <div class="rg-left"><span></span></div>
</div>
