/*!* ==========================================================================
Instructions
========================================================================== *!*/

.instructions-wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: 100%;

    &__content {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;
    }
}
