<ng-container>
    @if (showIdColumn) {
        <td>
            <a [id]="'id-' + tutorialGroup.id" [routerLink]="['./', tutorialGroup.id!]" class="link-primary">{{ tutorialGroup.id }}</a>
        </td>
    }
    <td>
        <a [routerLink]="['./', tutorialGroup.id!]" class="link-primary">
            <span class="d-inline-block text-truncate title"> {{ tutorialGroup.title }} </span>
        </a>
    </td>
    <td>
        <jhi-tutorial-group-utilization-indicator [tutorialGroup]="tutorialGroup" />
    </td>
    <td>{{ (tutorialGroup.numberOfRegisteredUsers ?? '') + ' / ' + (tutorialGroup.capacity ?? '') }}</td>
    <td>{{ tutorialGroup.isUserTutor ? ('global.generic.you' | artemisTranslate) : tutorialGroup.teachingAssistantName }}</td>
    <td>
        @if (tutorialGroup.tutorialGroupSchedule) {
            <span>
                <!-- Only include repetition frequency if not the default of once per week -->
                {{ tutorialGroup.tutorialGroupSchedule | meetingPattern: tutorialGroup.tutorialGroupSchedule.repetitionFrequency !== 1 }}
            </span>
        } @else {}
    </td>
    @if (mixOfOfflineAndOfflineTutorialGroups) {
        <td jhiTranslate="{{ tutorialGroup.isOnline ? 'artemisApp.generic.online' : 'artemisApp.generic.offline' }}"></td>
    }
    @if (mifOfDifferentLanguages) {
        <td>
            {{ tutorialGroup.language ? tutorialGroup.language : '' }}
        </td>
    }
    @if (tutorialGroupsSplitAcrossMultipleCampuses) {
        <td>
            <span class="d-inline-block text-truncate long-text"> {{ tutorialGroup.campus }} </span>
        </td>
    }
    <td>
        @if (tutorialGroup.nextSession) {
            <span>
                {{ tutorialGroup.nextSession.start | artemisDate: 'short-date' : false : timeZone! : true }}
                {{ tutorialGroup.nextSession.start | artemisDate: 'time' : false : timeZone! }} -
                {{ tutorialGroup.nextSession.end | artemisDate: 'time' : false : timeZone! }}
            </span>
        } @else {}
    </td>
    @if (showChannelColumn && tutorialGroup.channel) {
        <td>
            @if (tutorialGroup.channel.isMember) {
                <a
                    [id]="'channel-' + tutorialGroup.id + '-' + tutorialGroup.channel.id"
                    [routerLink]="['/courses', course.id!, 'communication']"
                    [queryParams]="{ conversationId: tutorialGroup.channel.id }"
                    class="link-primary"
                    >{{ tutorialGroup.channel.name }}</a
                >
            } @else {
                <span>{{ tutorialGroup.channel.name }}</span>
            }
        </td>
    }
    <td>
        <ng-template [ngTemplateOutlet]="extraColumn" [ngTemplateOutletContext]="{ $implicit: tutorialGroup }" />
    </td>
</ng-container>
