.tutorial-group-row {
    .long-text {
        max-width: 150px;
    }

    .title {
        max-width: 300px;
    }

    &.is-user-tutor {
        border-color: var(--border-color);

        --bs-table-bg: var(--link-item-bg);
        --bs-table-hover-bg: var(--link-item-bg);
    }

    &.is-user-not-tutor {
        --bs-table-bg: transparent;
        --bs-table-hover-bg: transparent;
    }
}
