<mat-form-field class="example-chip-list" appearance="fill">
    <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let category of exerciseCategories" (removed)="onItemRemove(category)">
            <ng-template let-item="item" let-index="index">
                <div class="custom-tag" [ngStyle]="{ backgroundColor: item.color }">
                    <span class="category-name" (click)="openColorSelector($event, item)">
                        {{ item.category }}
                    </span>
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </ng-template>
        </mat-chip>
        <input
            placeholder="'artemisApp.exercise.tagPlaceholder' | artemisTranslate"
            #categoryInput
            [formControl]="categoryCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="onItemAdd($event)"
        />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onItemSelect($event)">
        <mat-option *ngFor="let category of uniqueCategories | async" [value]="category">
            {{ category }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<jhi-color-selector [tagColors]="categoryColors" (selectedColor)="onSelectedColor($event)"></jhi-color-selector>
