jhi-category-selector {
    .mat-chip-list {
        padding: 0 0.5rem;

        .ng2-tag-input.bootstrap {
            border: none !important;
            padding: 0 !important;

            .ng2-tag-input__text-input {
                height: 33px;
            }
        }

        mat-chip {
            padding: 0 !important;
            height: 30px !important;
            border-radius: 0.25rem !important;
            background: transparent !important;

            .custom-tag {
                padding: 0 0.45rem;
                background: #cccccc;
                border-radius: 0.25rem;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.tag-options {
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.category-name:hover + .tag-options,
.tag-options:hover {
    transform: scale(2);
    transform-origin: 50% 50%;
}

.delete {
    margin-left: 15px;
}
