jhi-category-selector {
    .category-chip-list {
        width: 100%;

        .mat-form-field-outline {
            top: -0.1em;
            color: #cccccc;
        }

        mat-chip {
            padding: 0 !important;
            height: 30px !important;
            border-radius: 0.25rem !important;
            background: transparent !important;

            .custom-tag {
                padding: 0.15rem 0.45rem;
                background: #cccccc;
                border-radius: 0.25rem;
                color: #ffffff;

                &:hover {
                    opacity: 0.8;
                }

                fa-icon {
                    color: #ffffff;
                }
            }
        }
    }
}

.tag-options {
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.tag-option {
    background: #ffffff;
    box-shadow: 4px 4px rgb(100, 100, 100);

    &:hover {
        background: #cccccc;
    }
}

.category-name:hover + .tag-options,
.tag-options:hover {
    transform: scale(2);
    transform-origin: 50% 50%;
}

.delete {
    margin-left: 15px;
}
