@if (!isLoading) {
    <form name="resetForm" role="form" (ngSubmit)="resetProgrammingExercise()" #resetForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title" jhiTranslate="entity.resetProgrammingExercise.title"></h4>
            <button type="button" class="btn-close" data-dismiss="modal" (click)="clear()"></button>
        </div>
        <div class="modal-body">
            <p [jhiTranslate]="'artemisApp.programmingExercise.reset.pleaseSelectOperations'" [translateValues]="{ title: programmingExercise.title }">
                Please select the operations you want to perform on <strong>{{ programmingExercise.title }}</strong
                >:
            </p>
            <ul class="list-unstyled">
                @if (programmingExercise.isAtLeastInstructor) {
                    <li>
                        <div class="checkbox">
                            <label class="control-label">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    name="deleteBuildPlans"
                                    [(ngModel)]="this.programmingExerciseResetOptions.deleteBuildPlans"
                                    (ngModelChange)="
                                        this.programmingExerciseResetOptions.deleteRepositories =
                                            this.programmingExerciseResetOptions.deleteBuildPlans && this.programmingExerciseResetOptions.deleteRepositories
                                    "
                                />
                                <span jhiTranslate="artemisApp.programmingExercise.reset.deleteBuildPlans.title" [translateValues]="{ ciPlatform: continuousIntegrationName }">
                                    Delete student build plans (on {{ continuousIntegrationName }})
                                </span>
                            </label>
                        </div>
                    </li>
                }
                @if (programmingExercise.isAtLeastInstructor && this.programmingExerciseResetOptions.deleteBuildPlans && !this.programmingExerciseResetOptions.deleteRepositories) {
                    <div class="alert alert-info my-2">
                        <span jhiTranslate="artemisApp.programmingExercise.reset.deleteBuildPlans.info"></span>
                    </div>
                }
                @if (programmingExercise.isAtLeastInstructor) {
                    <li>
                        <div class="checkbox">
                            <label class="control-label">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    name="deleteRepositories"
                                    [(ngModel)]="this.programmingExerciseResetOptions.deleteRepositories"
                                    (ngModelChange)="this.programmingExerciseResetOptions.deleteBuildPlans = !!$event || this.programmingExerciseResetOptions.deleteBuildPlans"
                                />
                                <span jhiTranslate="artemisApp.programmingExercise.reset.deleteRepositories.title" [translateValues]="{ vcPlatform: versionControlName }">
                                    Delete student repositories (on {{ versionControlName }}).
                                </span>
                            </label>
                        </div>
                    </li>
                }
                @if (programmingExercise.isAtLeastInstructor) {
                    <li>
                        <div class="checkbox">
                            <label class="control-label">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    name="deleteParticipationsSubmissionsAndResults"
                                    [(ngModel)]="this.programmingExerciseResetOptions.deleteParticipationsSubmissionsAndResults"
                                />
                                <span jhiTranslate="artemisApp.programmingExercise.reset.deleteParticipationsSubmissionsAndResults"></span>
                            </label>
                        </div>
                    </li>
                }
                @if (
                    programmingExercise.isAtLeastInstructor &&
                    !this.programmingExerciseResetOptions.deleteRepositories &&
                    this.programmingExerciseResetOptions.deleteParticipationsSubmissionsAndResults
                ) {
                    <div class="alert alert-warning my-2">
                        <span
                            jhiTranslate="artemisApp.programmingExercise.reset.artefactsWarning"
                            [translateValues]="{ vcPlatform: versionControlName, ciPlatform: continuousIntegrationName }"
                        >
                            Deleting student participations, submissions, and results without removing the associated repositories and build plans may lead to undeleted artifacts
                            on
                            {{ versionControlName }} and {{ continuousIntegrationName }}. Please carefully review if this is the desired action before proceeding.
                        </span>
                    </div>
                }
                @if (programmingExercise.isAtLeastEditor) {
                    <li>
                        <div class="checkbox">
                            <label class="control-label">
                                <input class="form-check-input" type="checkbox" name="recreateBuildPlans" [(ngModel)]="this.programmingExerciseResetOptions.recreateBuildPlans" />
                                <span jhiTranslate="artemisApp.programmingExercise.reset.recreateBuildPlans"></span>
                            </label>
                        </div>
                    </li>
                }
            </ul>
            <div class="form-group">
                <label
                    for="confirm-exercise-name"
                    class="text-danger"
                    [jhiTranslate]="'artemisApp.programmingExercise.reset.question'"
                    [translateValues]="{ title: programmingExercise.title }"
                >
                    Please type in the name to confirm
                </label>
                <input id="confirm-exercise-name" type="text" class="form-control" name="confirmExerciseName" [(ngModel)]="confirmText" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" [disabled]="resetInProgress">
                <fa-icon [icon]="faBan" />&nbsp;<span jhiTranslate="entity.action.cancel"></span>
            </button>
            <div [style.cursor]="this.resetForm.form.invalid || !this.canSubmit ? 'not-allowed' : 'pointer'">
                <button type="submit" class="btn btn-danger" [disabled]="this.resetForm.form.invalid || !this.canSubmit">
                    @if (resetInProgress) {
                        <span><fa-icon [icon]="faSpinner" animation="spin" />&nbsp;</span>
                    }
                    <fa-icon [icon]="faUndo" />&nbsp;
                    <span jhiTranslate="entity.action.reset"></span>
                </button>
            </div>
        </div>
    </form>
} @else {
    <div class="d-flex justify-content-center mt-4 mb-4">
        <fa-icon [icon]="faCircleNotch" animation="spin" />
    </div>
}
