/* This overrides monaco injected styles and makes sure that the monaco editor doesn't break the layout */
.row,
.col-12 {
    flex: 1 1 auto !important;
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
}

button#submitButton {
    max-width: fit-content;
}
