@import '../../../../../content/scss/artemis-mixins';

.drag-and-drop-quizStatistic-picture {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 18px;
    background: #fefefe;

    @include user-select(none);

    /* display drag and drop background image in full size */
    > jhi-image img {
        max-width: 100%;
    }

    /* drag items below click layer */
    .drag-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 6px 0;
        width: 100%;

        .drag-item {
            border: 1px solid #696969;
            background: #fafafa;

            .drag-item-picture {
                cursor: default !important;
            }

            .drag-item-text {
                span {
                    border: 1px solid transparent;
                    cursor: default !important;
                    padding: 0;
                }
            }
        }
    }

    /* click-layer on background image */
    .click-layer {
        width: 100%;
        height: 100%;

        /* dotted drop-location */
        .drop-location {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
            background: white;
            border: 1px dashed black;
        }

        /* drag-item on in click-layer */
        jhi-drag-item,
        .drag-item {
            width: 100%;
            height: 100%;
            margin: 0;
            background: white;

            .drag-item-text,
            .drag-item-picture {
                line-height: 1;

                span {
                    border: none;
                    padding: 0;
                    vertical-align: middle;
                    display: inline-block;
                    white-space: nowrap;
                }
            }
        }

        /* letter for solution mapping */
        .letter {
            @include quiz-mapping-letter-number(#428bca);
            @include dnd-letter-position(-63%, -63%, 0);
        }

        .letter-solution {
            @include quiz-mapping-letter-number(#5cb85c);
            @include dnd-letter-position(-63%, -63%, 0);
        }

        /* show solution style */
        .solution {
            .drag-item-picture {
                img {
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                }
            }
        }
    }
}
