.sa-question {
    background: var(--quiz-question-background);
    border: 1px solid var(--quiz-question-border-color);
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 20px;
    position: relative;
    width: 100%;
    word-break: break-word;

    .short-answer-question-display {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

        &__element {
            display: inline-flex;
        }

        .short-answer-question-container {
            display: inline-block;
            position: relative;

            &__input {
                border: 1px solid var(--sa-question-container-input-border);
                background-color: var(--sa-question-container-input-background);
                color: var(--bs-body-color);
                line-height: 35px;
                margin-bottom: 10px;
            }

            &__input.invalid {
                background: var(--sa-question-input-invalid-background);
            }

            &__input.wrong {
                background: var(--sa-question-input-wrong-background);
            }

            &__input.correct {
                background: var(--sa-question-input-correct-background);
            }

            &__input.completely-correct {
                background: var(--sa-question-input-completely-correct-background);
            }
        }
    }
}
