.edit-sqi {
    .grading-instructions-update-border {
        padding: 10px;
        border-radius: 0.1rem;
        border-width: 1px;
        border-style: solid;
        border-color: var(--edit-sqi-grading-instructions-update-border);
        height: auto;
    }

    .re-evaluate-button {
        display: inline-block;
        padding: 4px;
        cursor: pointer;

        &:hover {
            color: blue;
        }
    }

    .instruction-delete-button {
        display: inline-block;
        padding: 4px;
        cursor: pointer;
        color: #dc3545;
    }

    .instructions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        input,
        .input-group-btn {
            display: inline-block;
            width: auto;
        }

        .input-group > input {
            height: 100%;
        }

        .form-group {
            display: flex;
            align-items: center;
            margin: 0 5px 15px;

            > * {
                margin: 0 4px;
            }
        }

        .background-file {
            display: flex;
        }
    }

    .criterion-title-row {
        background-color: var(--edit-sqi-criterion-title-row-background);
    }
}
