$collapse-container-height: 35px;
$sidebar-width-open: 275px;
$sidebar-width-closed: 110px;
$management-header-height: 230px;
$exam-test-run-offset: 38px;

.scrollable-item-content {
    height: calc(100vh - var(--header-height) - var(--exam-height-offset));
    overflow-y: auto;

    &.sidebar-height-testRun {
        height: calc(100vh - $exam-test-run-offset - 410px);

        @media (max-width: 1349px) {
            height: calc(100vh - $exam-test-run-offset - 440px) !important;
        }

        @media (max-width: 768px) {
            height: calc(100vh - $exam-test-run-offset - 400px) !important;
        }
    }
}

.sidebar {
    background-color: var(--module-bg);
    height: calc(100vh - var(--exam-height-offset));
    width: $sidebar-width-open;
    transition: width 0.2s ease-in-out !important;

    &.collapsed {
        width: $sidebar-width-closed !important;
    }

    &.sidebar-height-testRun {
        height: calc(100vh - var(--sidebar-footer-height-prod) - $management-header-height);

        &.sidebar-height-testRun-dev {
            height: calc(100vh - var(--sidebar-footer-height-dev) - $management-header-height);

            @media (max-width: 1349px) {
                height: calc(100vh - var(--sidebar-footer-height-dev) - $management-header-height - 40px) !important;
            }

            @media (max-width: 768px) {
                height: calc(100vh - var(--sidebar-footer-height-prod) - $management-header-height - 20px) !important;
            }
        }

        @media (max-width: 1349px) {
            height: calc(100vh - var(--sidebar-footer-height-prod) - $management-header-height - 40px) !important;
        }

        @media (max-width: 768px) {
            height: calc(100vh - var(--sidebar-footer-height-prod) - $management-header-height - 20px) !important;
        }
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        width: $sidebar-width-closed !important;
    }
    .auto-collapse {
        display: none !important;
    }
}

.notSynced {
    --fa-secondary-color: var(--bs-body-color);
    --fa-secondary-opacity: 1; // necessary to set the opacity to 1, because it's 0.4 per default
    --fa-primary-color: var(--warning);
}

.saved {
    --fa-secondary-color: var(--bs-body-color);
    --fa-secondary-opacity: 1;
    --fa-primary-color: var(--success);
}

.bg-module {
    background-color: var(--module-bg);
}

.border-module {
    border-color: var(--module-bg) !important;
}

.bg-selected {
    background-color: var(--sidebar-card-selected-bg);

    &.border-module {
        border-color: var(--sidebar-card-selected-bg) !important;
    }
}

.double-arrow.menu-closed {
    transform: translate(40px);
}

.double-arrow {
    transform: translate(235px);
    transition: transform ease 0.3s;
    cursor: pointer;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.menu-closed .double-arrow-icon {
    transform: rotate(0deg);
}

.double-arrow-icon {
    transform: rotate(180deg);

    transition: transform ease 0.3s 0.3s;
}

.me-negative {
    margin-right: -5px;
}
