.second-layer-modal-bg {
    background-color: var(--secondary);
}

.module-bg {
    background-color: var(--module-bg);
}

.scroll-container {
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-badge {
    margin-top: 10px;
    margin-left: 4px;
}
