.faq-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.faq-container h2 {
    margin: 0;
}

.badge-container {
    display: flex;
    margin-left: auto;
    gap: 4px;
}
