.faq-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.badge-container {
    display: flex;
    margin-left: auto;
}
