@if (rateLimitSettable) {
    <div>
        <label class="form-check-label" for="rateLimit" jhiTranslate="artemisApp.iris.settings.subSettings.rateLimit">Rate Limit</label>
        <jhi-help-icon [text]="'artemisApp.iris.settings.subSettings.rateLimitTooltip'"></jhi-help-icon>
        <input id="rateLimit" name="rateLimit" class="form-control" type="number" [customMin]="-1" [customMax]="1000000" [(ngModel)]="subSettings!.rateLimit" />
    </div>
}
@if (rateLimitSettable) {
    <div>
        <label class="form-check-label" for="rateLimitTimeframeHours" jhiTranslate="artemisApp.iris.settings.subSettings.rateLimitTimeframeHours"
            >Rate Limit Timeframe (Hours)</label
        >
        <jhi-help-icon [text]="'artemisApp.iris.settings.subSettings.rateLimitTimeframeHoursTooltip'"></jhi-help-icon>
        <input
            id="rateLimitTimeframeHours"
            name="rateLimitTimeframeHours"
            class="form-control"
            type="number"
            [customMin]="0"
            [customMax]="1000000"
            [(ngModel)]="subSettings!.rateLimitTimeframeHours"
        />
    </div>
}
<div class="mb-3 mt-3">
    <h4 jhiTranslate="artemisApp.iris.settings.subSettings.template.title">Template</h4>
    @if (parentSubSettings) {
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="inheritTemplate" [checked]="!subSettings?.template" (change)="onInheritTemplateChanged()" />
            <label class="form-check-label" for="inheritTemplate" jhiTranslate="artemisApp.iris.settings.subSettings.template.inherit">Inherit</label>
        </div>
    }
    <textarea id="template-editor" class="form-control" rows="25" [(ngModel)]="templateContent" (change)="onTemplateChanged()" [disabled]="!subSettings?.template"></textarea>
</div>
