<ng-template #scoringexplanation let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">Scoring type explanation</h5>
        <button type="button" class="close" aria-label="Close" (click)="d()"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="this.question.scoringType === ALL_OR_NOTHING && this.question.type === MULTIPLE_CHOICE " >
        <h6>The scoring type was <span jhiTranslate="arTeMiSApp.quizExercise.scoringType.all_or_nothing"></span> This means you either get all the points for the question or non at all.</h6>
        <span *ngIf="this.wrongAnswers == 0"> You have achieved {{this.score}} of the {{this.question.score}} possible points. Since you have {{this.wrongAnswers}}
            wrong answers you have achieved all points in this exercise.</span>
        <span *ngIf="!(this.wrongAnswers == 0)"> You have achieved {{this.score}} of the {{this.question.score}} possible points. Since you made {{this.wrongAnswers}} mistakes when selecting the answer options you have achieved 0 points in this exercise.</span>
    </div>
    <div class="modal-body" *ngIf="this.question.scoringType === ALL_OR_NOTHING && this.question.type === DRAG_AND_DROP " >
        <h6>The scoring type was <span jhiTranslate="arTeMiSApp.quizExercise.scoringType.all_or_nothing"></span> This means you either get all the points for the question or non at all.</h6>
        <span *ngIf="this.wrongAnswers == 0"> You have achieved {{this.score}} of the {{this.question.score}} possible points. Since you have mapped all the items correctly you have achieved all the point. Great Job! </span>
        <span *ngIf="!(this.wrongAnswers == 0)"> You have achieved {{this.score}} of the {{this.question.score}} possible points. Since you made {{this.wrongAnswers}} mistakes when dragging the elements into the correct places you have achieved 0 points.</span>
    </div>
    <div class="modal-body" *ngIf="this.question.scoringType === PROPORTIONAL_WITH_PENALTY && this.question.type === MULTIPLE_CHOICE ">
        <h6>The scoring type was <span jhiTranslate="arTeMiSApp.quizExercise.scoringType.proportional_with_penalty"></span> Meaning each correct answer results in a fraction of the total score. To avoid guesswork, the same fraction is subtracted from the achieved points for each mistake.</h6>
        <span> You have achieved {{this.score}} of the {{this.question.score}}.
            possible points. Each of the {{this.amountOfAnswerOptions}} options grants you {{this.question.score}}/{{this.amountOfAnswerOptions}} points if you choose correctly.
            You have {{this.wrongAnswers}} wrongly chosen answers and {{this.correctAnswers}} correctly chosen answers. In total you have {{this.correctAnswers}} * {{this.question.score}}/{{this.amountOfAnswerOptions}} -  {{this.wrongAnswers}} * {{this.question.score}}/{{this.amountOfAnswerOptions}} points. Of course you can not have less than 0 points.
   </span>
    </div>
    <div class="modal-body" *ngIf="this.question.scoringType === PROPORTIONAL_WITH_PENALTY && this.question.type === DRAG_AND_DROP ">
        <h6>The scoring type was <span jhiTranslate="arTeMiSApp.quizExercise.scoringType.proportional_with_penalty"></span> Meaning each correct answer results in a fraction of the total score. To avoid guesswork, the same fraction is subtracted from the achieved points for each mistake.</h6>
        <span> You have achieved {{this.score}} of the {{this.question.score}} possible points. Each of the {{this.amountOfAnswerOptions}} drag and drop items grants you {{this.question.score}}/{{this.amountOfAnswerOptions}} points if you map it to the corresponding location. You have mismapped
            {{this.wrongAnswers}} items and correctly mapped {{this.correctAnswers}} items. In total you have {{this.correctAnswers}} * {{this.question.score}}/{{this.amountOfAnswerOptions}} -  {{this.wrongAnswers}} * {{this.question.score}}/{{this.amountOfAnswerOptions}} points. Of course you can not have less than 0 points.
   </span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="c()">Close</button>
    </div>
</ng-template>
<div>
    <button class="btn" (click)="open(scoringexplanation)"><i class="fa fa-question-circle-o"></i></button>
</div>
