.grading-scale-table-row td {
    width: 17%;

    input {
        min-width: 50%;
        background: var(--base-grading-input-background);
        color: var(--base-grading-input-color);
    }
}

.tab-bar {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin-bottom: 0.5rem;

    $padding-y: 11px;

    padding-top: $padding-y;
    padding-bottom: $padding-y;
    border-bottom: 1px solid var(--overview-border-color);

    .tab-item {
        cursor: pointer;
        margin-top: 0;
        margin-right: 1em;
        margin-bottom: 0;

        &.active {
            box-shadow: 0 2px 0 var(--artemis-dark);
        }
    }

    > div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        > div:first-child {
            display: flex;
            align-items: center;
        }

        .controls {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-right: 3px;
            margin-left: 3px;
        }
    }

    > div:first-child.no-indent {
        justify-content: start;

        .controls {
            padding-right: 0.5rem;
            margin-right: 0;
        }
    }
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    margin-right: 0;
    margin-left: 0;

    .form-group {
        width: 23%;
        min-width: 20%;
    }
}

.dropdown-container .form-group .form-control {
    margin-top: 0.25em;
}

@media screen and (max-width: 991px) {
    .tab-bar > div:first-child {
        flex-wrap: wrap;

        .controls {
            padding-right: 0.5rem;
            margin-right: 0;
        }
    }
}
