// Adapted from https://www.chilitime.design/2018/09/ActivityRings/

@keyframes ring-appear {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

svg {
    width: 100%;
    height: auto;

    .ring {
        transform-origin: 50%;
    }
    .progressbar {
        stroke-linecap: round;

        &-anim {
            animation: ring-appear 1s ease-in-out forwards;
            transition:
                stroke-dasharray 1s ease-in-out,
                opacity 1s linear;
        }

        &.hidden {
            // Use opacity: 0 instead of display: none to prevent animation when appearing
            opacity: 0;
        }
    }
    circle {
        fill: none;
    }

    .mastery-ring {
        transform: scale(0.75) rotate(-90deg);

        .background {
            stroke: var(--competency-rings-red-bg);
        }
        .progressbar {
            stroke: var(--competency-rings-red);
            &-anim {
                animation-duration: 1.3s;
                transition-duration: 1.3s;
            }
        }
    }

    .progress-ring {
        transform: scale(0.5) rotate(-90deg);

        .background {
            stroke: var(--competency-rings-green-bg);
        }
        .progressbar {
            stroke: var(--competency-rings-green);
            &-anim {
                animation-duration: 1s;
                transition-duration: 1s;
            }
        }
    }
}

.muted-competency-rings {
    --competency-rings-red-bg: var(--body-bg);
    --competency-rings-green-bg: var(--body-bg);
    --competency-rings-blue-bg: var(--body-bg);
}

.question-mark {
    color: var(--secondary);
}
