@import 'src/main/webapp/app/shared/metis/metis.component';

.toggle-content {
    font-size: smaller;
    color: var(--metis-light-gray);
}

.announcement-post {
    background-color: var(--metis-light-blue);
    border-radius: 7px;
}
