@import 'src/main/webapp/app/shared/metis/metis.component';

.toggle-content {
    font-size: smaller;
    color: $metis-light-gray;
}

.announcement-post {
    background-color: $metis-light-blue;
    border-radius: 7px;
}
