.enable-learning-paths-container {
    max-width: 500px;
    text-align: center;
}

.learning-paths-container {
    background: var(--bs-card-bg);
}

.learning-paths-management-container {
    max-height: 220px;
    overflow-y: auto;
}
