.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    jhi-alert {
        font-size: initial;
    }
}

.row-container {
    display: flex;
    align-items: center;
}
