@import '../../../../../content/scss/_artemis-mixins.scss';

.edit-sa-question {
    .short-answer-question-display {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

        &__element {
            display: inline-flex;
        }

        .short-answer-question-container {
            display: inline-block;
            position: relative;

            &__input {
                border: 1px solid #ced4da;
                line-height: 35px;
                margin-bottom: 10px;
            }

            &__div-input {
                background-color: white;
                border: 1px solid #ced4da;
                padding: 2px 3px;
                width: 170px;
                height: 40px;
            }
            /* highlight drop location in light blue when selecting a drag item */
            .cdk-drop-list-receiving {
                background: rgba(173, 216, 230, 0.8) !important;
            }

            /* change highlight color to light green when dragging the item above a drop location */
            .cdk-drop-list-dragging {
                background: rgb(144, 238, 144) !important;
                cursor: pointer !important;
            }
        }
    }

    /* change highlight color to light green when dragging the item above a drop location */
    .drop-hover,
    .dnd-drag-over {
        background: rgb(144, 238, 144) !important;
    }

    .match-percentage-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;

        .slider-container {
            display: flex;
            justify-content: center;
            width: 65%;

            .slider-with-label {
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;

                input[type='range'] {
                    cursor: pointer;
                    margin: auto;
                    width: 70%;
                }

                p {
                    margin: auto;
                }
            }
        }
    }
}

.cdk-drag-preview {
    border: 1px solid #696969;
    background: #fafafa;
    height: 160px;
    min-width: 160px;
    max-width: 360px;
    margin: 10px 4px;

    textarea {
        position: absolute;
        left: 0;
        top: 30px;
        width: 158px;
        height: 98px;
        padding: 0 14px;
        text-align: center;
        border: none;
        resize: none;
    }
}
