@import '../../../../../content/scss/_artemis-mixins.scss';

.edit-sa-question {
    .short-answer-question-display {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;

        &__element {
            display: inline-flex;
        }

        .short-answer-question-container {
            display: inline-block;
            position: relative;

            &__input {
                border: 1px solid var(--sa-question-container-input-border);
                line-height: 35px;
                margin-bottom: 10px;
            }

            &__div-input {
                background-color: var(--sa-question-container-input-background);
                border: 1px solid var(--sa-question-container-input-border);
                padding: 2px 3px;
                width: 170px;
                height: 40px;
            }
        }
    }

    .match-percentage-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        border: 1px solid var(--sa-question-container-input-border);

        .slider-container {
            display: flex;
            justify-content: center;
            width: 45%;

            .slider-with-label {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 50px;

                input[type='range'] {
                    cursor: pointer;
                    margin: auto;
                    width: 70%;
                }

                p {
                    margin: 0 10px;
                    min-width: 40px;
                }
            }
        }
    }
}
