<form *ngIf="!isLoading; else loadingContainer" name="exportForm" role="form" (ngSubmit)="exportRepos(exercise.id)" #exportForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.exportRepos.title">Confirm export operation</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p
            *ngIf="!singleStudentMode"
            jhiTranslate="instructorDashboard.exportRepos.question"
            [translateValues]="{ exerciseTitle: exercise.title, courseTitle: exercise.course?.title }"
        >
            Confirm export
        </p>
        <textarea
            *ngIf="!participationIdList"
            name="studentIds"
            class="export-textarea"
            [(ngModel)]="studentIdList"
            required
            [disabled]="singleStudentMode || repositoryExportOptions.exportAllStudents"
        ></textarea>

        <!--
        Only show download all checkbox for instructors & admins.
        -->
        <ng-container *ngIf="!singleStudentMode">
            <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INSTRUCTOR']" class="checkbox">
                <label class="control-label">
                    <input type="checkbox" name="allStudents" [(ngModel)]="repositoryExportOptions.exportAllStudents" />
                    <strong jhiTranslate="artemisApp.programmingExercise.export.downloadAllStudents">Or download the repositories of all students</strong>
                </label>
            </div>
        </ng-container>
        <ng-container *ngIf="!singleStudentMode">
            <div class="checkbox">
                <label class="control-label">
                    <input type="checkbox" name="filterLateSubmissions" [(ngModel)]="this.repositoryExportOptions.filterLateSubmissions" />
                    <strong jhiTranslate="artemisApp.programmingExercise.export.filterLateSubmissions">Filter late submissions</strong>
                </label>
            </div>
            <div class="form-group">
                <strong jhiTranslate="artemisApp.programmingExercise.export.filterLateSubmissionsDate"
                    >Date for filter late submissions (defaults to exercise due date if not set)</strong
                >
                <jhi-date-time-picker
                    [(ngModel)]="this.repositoryExportOptions.filterLateSubmissionsDate"
                    [disabled]="!this.repositoryExportOptions.filterLateSubmissions"
                    name="filterLateSubmissionsDate"
                ></jhi-date-time-picker>
            </div>
        </ng-container>
        <div *ngIf="!singleStudentMode" class="checkbox">
            <label class="control-label">
                <input type="checkbox" name="addStudentName" [(ngModel)]="this.repositoryExportOptions.addStudentName" />
                <strong jhiTranslate="artemisApp.programmingExercise.export.addStudentName">Add student name to project</strong>
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox" name="combineStudentCommits" [(ngModel)]="this.repositoryExportOptions.combineStudentCommits" />
                <strong jhiTranslate="artemisApp.programmingExercise.export.combineStudentCommits">Combine all changes after instructor into one commit</strong>
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox" name="normalizeCodeStyle" [(ngModel)]="this.repositoryExportOptions.normalizeCodeStyle" />
                <strong jhiTranslate="artemisApp.programmingExercise.export.normalizeCodeStyle">Normalize code style (line endings, encoding)</strong>
            </label>
        </div>
        <p *ngIf="!singleStudentMode" jhiTranslate="instructorDashboard.exportRepos.timeWarning">
            <b>Note:</b> This action can take several minutes depending on number and size of repositories.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button
            [jhiFeatureToggle]="FeatureToggle.PROGRAMMING_EXERCISES"
            type="submit"
            [disabled]="!participationIdList && !studentIdList && !this.repositoryExportOptions.exportAllStudents && !exportInProgress"
            class="btn btn-default"
        >
            <span *ngIf="this.exportInProgress" class="mr-1"><fa-icon [icon]="'circle-notch'" spin="true"></fa-icon></span>
            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;<span jhiTranslate="entity.action.export">Export</span>
        </button>
    </div>
</form>
<ng-template #loadingContainer>
    <div class="d-flex justify-content-center mt-4 mb-4">
        <fa-icon [icon]="'circle-notch'" [spin]="true"></fa-icon>
    </div>
</ng-template>
