<div>
    <!-- Inject resizing bar -->
    <ng-content select="[resizingbar]"></ng-content>

    <div class="card-header text-white bg-primary" (click)="toggleCollapse($event, toggleCollapseId)">
        <span class="float-end"><fa-icon [icon]="faChevronRight"></fa-icon></span>
        <h3 class="card-title">
            <fa-icon [icon]="farListAlt"></fa-icon>
            <span jhiTranslate="artemisApp.textAssessment.instructions"> &nbsp; Instructions &nbsp; </span>
        </h3>
    </div>

    <div class="card-body">
        <div *ngIf="problemStatement">
            <h4 jhiTranslate="artemisApp.exercise.problemStatement">Problem statement</h4>
            <p class="markdown-preview" [innerHTML]="problemStatement | htmlForMarkdown"></p>

            <hr />
        </div>

        <div *ngIf="sampleSolution">
            <h4 jhiTranslate="artemisApp.exercise.sampleSolution">Sample solution</h4>
            <p class="markdown-preview" [innerHTML]="sampleSolution | htmlForMarkdown"></p>

            <hr />
        </div>

        <div *ngIf="gradingInstructions">
            <h4 jhiTranslate="artemisApp.exercise.assessmentInstructions">Assessment instructions</h4>
            <p class="markdown-preview" [innerHTML]="gradingInstructions | htmlForMarkdown"></p>
        </div>
        <jhi-structured-grading-instructions-assessment-layout [readonly]="readOnly" [criteria]="criteria"></jhi-structured-grading-instructions-assessment-layout>
    </div>
</div>
