.card {
    height: 450px;

    .card-title {
        font-size: 1.575rem;
    }

    .card-heading {
        position: relative;
        display: flex;
        cursor: pointer;
        height: 100px;

        > div {
            flex: 0 1 auto;
        }

        .title-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 auto;
            min-width: 0;

            .course-title {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .course-description {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                max-width: 100%;
            }
        }

        .container-padding {
            padding: 10px;
        }

        .card-date {
            white-space: nowrap;
            display: flex;
            align-items: center;
            padding-left: 10px;
        }

        .card-groups {
            white-space: nowrap;
            display: flex;
            padding-right: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            flex-direction: column;
            align-self: center;
            z-index: 1;

            div {
                div {
                    padding-right: 7px;

                    a {
                        color: white;
                    }
                }
            }
        }

        .card-header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
        }

        jhi-secured-image {
            padding: 5px;

            ::ng-deep img {
                border-radius: 50%;
                height: 65px;
                width: auto;
            }
        }
    }

    .section-card {
        min-width: 30%;
        height: 300px;

        .collapsed {
            margin-top: 2px;
        }
    }

    .section-header {
        height: 40px;
        background-color: var(--primary);
        border-radius: 0.1rem;
        cursor: pointer;

        .text-center {
            line-height: 2;
        }
    }

    .section-content {
        overflow: auto;
        height: 300px;
    }

    .statistics-card {
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        height: 300px;

        .statistics-chart {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .control-label {
        cursor: pointer;
    }

    .control-icon {
        padding-right: 0.5rem;
    }

    .card-footer {
        height: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-left: 15px;
        padding-bottom: 0;
        padding-top: 5px;
    }

    .header-right {
        float: right;
        text-align: right;
    }

    .container {
        max-width: inherit;
    }

    .flex-container {
        flex: 1;
    }

    .align-center {
        display: flex;
        align-items: center;
    }

    .no-exercises {
        font-weight: 300;
    }
}

@media screen and (min-width: 2010px) {
    .exercises-cards {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1060px) {
    .card {
        .statistics-card {
            display: none;
        }

        .section-card {
            min-width: 100%;
        }

        .card-heading .title-container .course-description {
            display: none;
        }
    }
}

@media screen and (max-width: 850px) {
    .card {
        .card-heading {
            .card-header-left {
                flex-direction: column;
                max-width: 110px;
            }

            // see https://caniuse.com/css-line-clamp
            .title-container .course-title {
                font-size: 20px;
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .card-date {
                width: 100px;
                white-space: pre-wrap;
                margin-top: auto;
                margin-bottom: auto;
                font-size: 13px;
                padding-bottom: 5px;
            }

            .card-groups {
                font-size: 13px;
            }

            jhi-secured-image {
                margin-left: auto;
                margin-right: auto;
                display: flex;
                align-content: center;
            }

            height: unset;
            max-height: 135px;
        }

        height: unset;
    }
}

@media screen and (max-width: 500px) {
    .card .card-footer .hidden-if-mobile {
        display: none;
    }
}

/*
HACK: Something is bogus with the scss of top-level pages
      Redefine some rules with '!important' to prevent them from being overwritten bogusly
*/
.btn-primary,
.btn-primary:hover,
.btn-info,
.btn-info:hover,
.btn-success,
.btn-success:hover {
    color: #fff !important;
}
