<div class="card mb-4 hover-effect" id="course-{{ course.id }}">
    <div id="course-card-header" class="text-white card-heading" [ngStyle]="{ '--background-color-for-hover': courseColor }">
        <a class="stretched-link" [routerLink]="['/course-management', course.id]"></a>
        <div class="card-header-left">
            @if (course.courseIcon) {
                <jhi-secured-image class="header-item" [cachingStrategy]="CachingStrategy.LOCAL_STORAGE" [src]="course.courseIcon" />
            }
            <div class="card-date">
                @if (course.startDate && course.endDate) {
                    <div>{{ course.startDate | artemisDate: 'long-date' }} - {{ course.endDate | artemisDate: 'long-date' }}</div>
                }
                @if (course.startDate && !course.endDate) {
                    <div><span jhiTranslate="artemisApp.course.startDate"></span>: {{ course.startDate | artemisDate: 'long-date' }}</div>
                }
                @if (!course.startDate && course.endDate) {
                    <div><span jhiTranslate="artemisApp.course.endDate"></span>: {{ course.endDate | artemisDate: 'long-date' }}</div>
                }
            </div>
        </div>
        <div class="container container-padding title-container" [routerLink]="['/course-management', course.id]">
            <h3 class="card-title text-center fw-medium course-title">{{ course.title }} ({{ course.shortName }})</h3>
            @if (course.description && course.description !== '') {
                <div class="text-center course-description">
                    {{ course.description }}
                </div>
            }
        </div>
        @if (courseWithUsers && course.isAtLeastInstructor) {
            <div class="float-end card-groups">
                <div>
                    <div id="open-student-management-{{ course.id }}">
                        @if (courseWithUsers.numberOfStudents !== undefined && courseWithUsers.numberOfStudents === 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'students']">
                                {{ courseWithUsers.numberOfStudents }} {{ 'artemisApp.course.student' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfStudents !== undefined && courseWithUsers.numberOfStudents !== 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'students']">
                                {{ courseWithUsers.numberOfStudents }} {{ 'artemisApp.course.students' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfStudents === undefined) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'students']" jhiTranslate="artemisApp.course.students"></a>
                        }
                    </div>
                    <div>
                        @if (courseWithUsers.numberOfTeachingAssistants !== undefined && courseWithUsers.numberOfTeachingAssistants === 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'tutors']">
                                {{ courseWithUsers.numberOfTeachingAssistants }} {{ 'artemisApp.course.tutor' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfTeachingAssistants !== undefined && courseWithUsers.numberOfTeachingAssistants !== 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'tutors']">
                                {{ courseWithUsers.numberOfTeachingAssistants }} {{ 'artemisApp.course.tutors' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfTeachingAssistants === undefined) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'tutors']" jhiTranslate="artemisApp.course.tutors"></a>
                        }
                    </div>
                </div>
                <div>
                    <div>
                        @if (courseWithUsers.numberOfEditors !== undefined && courseWithUsers.numberOfEditors === 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'editors']">
                                {{ courseWithUsers.numberOfEditors }} {{ 'artemisApp.course.editor' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfEditors !== undefined && courseWithUsers.numberOfEditors !== 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'editors']">
                                {{ courseWithUsers.numberOfEditors }} {{ 'artemisApp.course.editors' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfEditors === undefined) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'editors']" jhiTranslate="artemisApp.course.editors"></a>
                        }
                    </div>
                    <div>
                        @if (courseWithUsers.numberOfInstructors !== undefined && courseWithUsers.numberOfInstructors === 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'instructors']">
                                {{ courseWithUsers.numberOfInstructors }} {{ 'artemisApp.course.instructor' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfInstructors !== undefined && courseWithUsers.numberOfInstructors !== 1) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'instructors']">
                                {{ courseWithUsers.numberOfInstructors }} {{ 'artemisApp.course.instructors' | artemisTranslate }}
                            </a>
                        }
                        @if (courseWithUsers.numberOfInstructors === undefined) {
                            <a [routerLink]="['/course-management', course.id, 'groups', 'instructors']" jhiTranslate="artemisApp.course.instructors"></a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container flex-container">
        <div class="row">
            <div class="col-md-8 section-card p-0">
                @if (!courseWithExercises) {
                    <div class="loading-spinner">
                        <fa-icon [icon]="faSpinner" animation="spin" />
                    </div>
                }
                @if (courseWithExercises) {
                    <div class="section-content px-3 py-1">
                        @if (futureExercises && futureExercises.length > 0) {
                            <div>
                                <div class="control-label" (click)="showFutureExercises = !showFutureExercises">
                                    <fa-icon class="control-icon" [icon]="showFutureExercises ? faAngleDown : faAngleUp" />
                                    <strong jhiTranslate="artemisApp.course.releasedSoon"></strong>
                                </div>
                                @if (showFutureExercises) {
                                    <div>
                                        @for (exercise of futureExercises; track exercise) {
                                            <jhi-course-management-exercise-row
                                                [course]="course"
                                                [rowType]="exerciseRowType.FUTURE"
                                                [details]="exercise"
                                                [statistic]="statisticsPerExercise.get(exercise.id!)"
                                            />
                                        }
                                    </div>
                                }
                                @if (!showFutureExercises) {
                                    <div class="collapsed"></div>
                                }
                            </div>
                        }
                        @if (currentExercises && currentExercises.length > 0) {
                            <div>
                                <div class="control-label" (click)="showCurrentExercises = !showCurrentExercises">
                                    <fa-icon class="control-icon" [icon]="showCurrentExercises ? faAngleDown : faAngleUp" />
                                    <strong jhiTranslate="artemisApp.course.currentWorking"></strong>
                                </div>
                                @if (showCurrentExercises) {
                                    <div>
                                        @for (exercise of currentExercises; track exercise) {
                                            <jhi-course-management-exercise-row
                                                [course]="course"
                                                [rowType]="exerciseRowType.CURRENT"
                                                [details]="exercise"
                                                [statistic]="statisticsPerExercise.get(exercise.id!)"
                                            />
                                        }
                                    </div>
                                }
                                @if (!showCurrentExercises) {
                                    <div class="collapsed"></div>
                                }
                            </div>
                        }
                        @if (exercisesInAssessment && exercisesInAssessment.length > 0) {
                            <div>
                                <div class="control-label" (click)="showExercisesInAssessment = !showExercisesInAssessment">
                                    <fa-icon class="control-icon" [icon]="showExercisesInAssessment ? faAngleDown : faAngleUp" />
                                    <strong jhiTranslate="artemisApp.course.inAssessment"></strong>
                                </div>
                                @if (showExercisesInAssessment) {
                                    <div>
                                        @for (exercise of exercisesInAssessment; track exercise) {
                                            <jhi-course-management-exercise-row
                                                [course]="course"
                                                [rowType]="exerciseRowType.ASSESSING"
                                                [details]="exercise"
                                                [statistic]="statisticsPerExercise.get(exercise.id!)"
                                            />
                                        }
                                    </div>
                                }
                                @if (!showExercisesInAssessment) {
                                    <div class="collapsed"></div>
                                }
                            </div>
                        }
                        @if (pastExercises && pastExercises.length > 0) {
                            <div>
                                <div class="control-label" (click)="showPastExercises = !showPastExercises">
                                    <fa-icon class="control-icon" [icon]="showPastExercises ? faAngleDown : faAngleUp" />
                                    <strong jhiTranslate="artemisApp.course.pastExercises" [translateValues]="{ amount: pastExercises.length, total: pastExerciseCount }"></strong>
                                </div>
                                @if (showPastExercises) {
                                    <div>
                                        @for (exercise of pastExercises; track exercise) {
                                            <jhi-course-management-exercise-row
                                                [course]="course"
                                                [rowType]="exerciseRowType.PAST"
                                                [details]="exercise"
                                                [statistic]="statisticsPerExercise.get(exercise.id!)"
                                            />
                                        }
                                    </div>
                                }
                                @if (!showPastExercises) {
                                    <div class="collapsed"></div>
                                }
                            </div>
                        }
                        @if ((futureExercises?.length || 0) + (currentExercises?.length || 0) + (exercisesInAssessment?.length || 0) + (pastExercises?.length || 0) === 0) {
                            <div>
                                <h4 class="text-center no-exercises mt-3 fw-medium" jhiTranslate="artemisApp.course.noExercises"></h4>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-4 statistics-card align-center">
                <div class="align-center w-100 h-100">
                    @if (courseStatistics) {
                        <jhi-course-management-overview-statistics
                            class="statistics-chart"
                            [initialStats]="courseStatistics?.activeStudents"
                            [amountOfStudentsInCourse]="!!courseWithUsers && courseWithUsers.numberOfStudents ? courseWithUsers.numberOfStudents : 0"
                            [course]="course"
                        />
                    }
                    @if (!courseStatistics) {
                        <div class="loading-spinner">
                            <fa-icon [icon]="faSpinner" animation="spin" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        @if (course.isAtLeastTutor) {
            <a
                [routerLink]="['/course-management', course.id, 'exams']"
                class="btn btn-primary me-1 mb-1"
                [ngbTooltip]="'entity.action.exams' | artemisTranslate"
                id="course-card-open-exams"
            >
                <fa-icon [icon]="faGraduationCap" />
                <span class="d-none d-xl-inline" jhiTranslate="entity.action.exams"></span>
            </a>
        }
        @if (course.isAtLeastTutor) {
            <a
                [routerLink]="['/course-management', course.id, 'exercises']"
                [class.guided-tour]="isGuidedTour"
                class="btn btn-primary me-1 mb-1"
                [ngbTooltip]="'entity.action.exercise' | artemisTranslate"
                id="course-card-open-exercises"
            >
                <fa-icon [icon]="faListAlt" />
                <span class="d-none d-xl-inline" jhiTranslate="entity.action.exercise"></span>
            </a>
        }
        @if (course.isAtLeastEditor) {
            <a
                [routerLink]="['/course-management', course.id, 'lectures']"
                class="btn btn-primary me-1 mb-1"
                [ngbTooltip]="'entity.action.lecture' | artemisTranslate"
                id="course-card-open-lectures"
            >
                <fa-icon [icon]="faFilePdf" />
                <span class="d-none d-xl-inline" jhiTranslate="entity.action.lecture"></span>
            </a>
        }
        @if (course.isAtLeastTutor) {
            <a
                [routerLink]="['/course-management', course.id, 'course-statistics']"
                class="btn btn-info me-1 mb-1 hidden-if-mobile"
                [ngbTooltip]="'artemisApp.courseStatistics.statistics' | artemisTranslate"
                id="course-card-open-open-statistics"
            >
                <fa-icon [icon]="faChartBar" />
                <span class="d-none d-xl-inline" jhiTranslate="artemisApp.courseStatistics.statistics"></span>
            </a>
        }
        @if (isCommunicationEnabled(course) && course.isAtLeastTutor) {
            <a
                [routerLink]="['/courses', course.id, 'communication']"
                class="btn btn-primary me-1 mb-1"
                [ngbTooltip]="'artemisApp.courseOverview.menu.communication' | artemisTranslate"
            >
                <fa-icon [icon]="faComments" />
                <span class="d-none d-xl-inline" jhiTranslate="artemisApp.metis.communication.label"></span>
            </a>
        }
        @if (course.timeZone || course.isAtLeastInstructor) {
            <a
                [routerLink]="['/course-management', course.id, 'tutorial-groups']"
                [jhiFeatureToggleLink]="FeatureToggle.TutorialGroups"
                class="btn btn-primary me-1 mb-1 hidden-if-mobile"
                [ngbTooltip]="'artemisApp.entities.tutorialGroup.plural' | artemisTranslate"
                id="course-card-open-tutorial-groups"
            >
                <fa-icon [icon]="faPersonChalkboard" />
                <span [innerHTML]="'artemisApp.entities.tutorialGroup.plural' | artemisTranslate" class="d-none d-xl-inline"></span>
            </a>
        }
        @if (course.isAtLeastInstructor) {
            <a
                [routerLink]="['/course-management', course.id, 'competency-management']"
                class="btn btn-primary me-1 mb-1 hidden-if-mobile"
                [ngbTooltip]="'artemisApp.competency.competencyButton' | artemisTranslate"
                id="course-card-open-competencies"
            >
                <fa-icon [icon]="faFlag" />
                <span [innerHTML]="'artemisApp.competency.competencyButton' | artemisTranslate" class="d-none d-xl-inline"></span>
            </a>
        }
        @if (course.isAtLeastInstructor) {
            <a
                [jhiFeatureToggleHide]="FeatureToggle.LearningPaths"
                [routerLink]="['/course-management', course.id, 'learning-path-management']"
                class="btn btn-primary me-1 mb-1 hidden-if-mobile"
                [ngbTooltip]="'artemisApp.learningPath.learningPathButton' | artemisTranslate"
                id="course-card-open-learning-paths"
            >
                <fa-icon [icon]="faNetworkWired" />
                <span [innerHTML]="'artemisApp.learningPath.learningPathButton' | artemisTranslate" class="d-none d-xl-inline"></span>
            </a>
        }
        @if (course.isAtLeastTutor) {
            <a
                [routerLink]="['/course-management', course.id, 'assessment-dashboard']"
                class="btn btn-info me-1 mb-1"
                [class]="isGuidedTour ? 'guided-tour-assessment-dashboard-btn' : ''"
                [ngbTooltip]="'entity.action.assessmentDashboard' | artemisTranslate"
                [class.guided-tour]="isGuidedTour"
                id="course-card-open-assessment-dashboard"
            >
                <fa-icon [icon]="faUserCheck" />
                <span class="d-none d-xl-inline" jhiTranslate="entity.action.assessmentDashboard"></span>
            </a>
        }
        @if (course.isAtLeastInstructor) {
            <a
                [routerLink]="['/course-management', course.id, 'scores']"
                class="btn btn-info me-1 mb-1"
                [ngbTooltip]="'entity.action.scores' | artemisTranslate"
                id="course-card-open-scores"
            >
                <fa-icon [icon]="faTable" />
                <span class="d-none d-xl-inline" jhiTranslate="entity.action.scores"></span>
            </a>
        }

        @if (course.isAtLeastTutor && course.faqEnabled) {
            <a
                [routerLink]="['/course-management', course.id, 'faqs']"
                class="btn btn-info me-1 mb-1"
                [ngbTooltip]="'entity.action.faq' | artemisTranslate"
                id="course-card-open-faq"
            >
                <fa-icon [icon]="faQuestion" />
                <span class="d-none d-xl-inline" jhiTranslate="entity.action.faq"></span>
            </a>
        }
    </div>
</div>
