.course-item {
    border: 1px solid var(--overview-blue-border-color);
    background-color: var(--overview-light-background-color);
    border-radius: 0.1rem;
    display: flex;
    align-items: center;
    align-content: center;
    height: 60px;

    .item-title-container {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        min-width: 0;
    }

    .item-title {
        font-weight: bold;
        margin-left: 15px;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 60ch;
        display: block;
    }

    .item-category {
        color: gray;
        margin-left: 15px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-around;

        h4 {
            margin-bottom: -5px;
            font-size: 1rem;

            .badge {
                max-width: 130px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .btn {
        margin-top: 5px;
        float: right;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row-flex {
        display: inline-flex;
        flex-direction: row;
    }

    .exercise-details-item {
        z-index: 1;
        display: flex;
        align-items: center;
    }

    .calender-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calender-icon-circle {
        width: 19px;
        height: 19px;
        background-color: var(--overview-light-border-color);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calender-icon {
        font-size: x-small;
    }

    .exercise-date-timeline {
        top: 50%;
        bottom: 0;
        position: relative;
        content: ' ';
        width: 100%;
        height: 4px;
        background-color: #3e8acc;
        z-index: -1;
    }

    .exercise-date-container {
        justify-content: center;
        min-width: 285px;
        max-width: max-content;
        padding: 0;
        margin: auto;
    }

    .exercise-date {
        text-align: center;
        z-index: 1;
        min-width: 95px;
        font-size: x-small;
        margin-top: -5px;
    }

    .exercise-no-date {
        opacity: 0.4;
    }

    .exercise-score-container {
        padding: 0;
        margin: auto;
        z-index: 1;
    }

    .exercise-score {
        width: 250px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            white-space: nowrap;
        }
    }

    .pointer-row {
        cursor: pointer;
        overflow: hidden;
        align-items: center;
    }

    .container {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .button-row {
        z-index: 1;
        width: 132px;
        align-items: center;
        justify-content: start;
        margin-right: 5px;
    }

    .grading-icon {
        font-size: large;
        margin-left: 5px;
    }

    .exercise-row {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        gap: 10px;

        .details-container {
            display: flex;
            position: relative;
            flex-wrap: nowrap;
            min-width: 0;
            flex: 1;
            gap: 10px;

            > * {
                width: unset;
                min-width: 0;
            }

            .exercise-details-container {
                flex: 2;
            }

            .exercise-date-container {
                flex: 1 0 auto;
            }

            .exercise-score-container {
                flex: 0 1 125px;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .hide-categories {
        display: none !important;
    }
}

@media screen and (max-width: 1300px) {
    .exercise-score-container {
        display: none !important;
    }

    .exercise-date-container {
        display: none !important;
    }
}

/*
HACK: Something is bogus with the scss of top-level pages
      Redefine some rules with '!important' to prevent them from being overwritten bogusly
*/
.btn-primary,
.btn-primary:hover,
.btn-info,
.btn-info:hover,
.btn-success,
.btn-success:hover {
    color: #fff !important;
}
