@import '../../../overview/_overview-vars.scss';

.card {
    min-height: 100%;
    max-width: 2000px;

    .card-heading {
        display: flex;
        cursor: pointer;

        .container-padding {
            padding: 10px;
        }

        .card-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
            display: inline-block;
        }

        .card-date {
            white-space: nowrap;
            display: flex;
            align-items: center;
            padding-left: 15px;
        }

        .card-groups {
            white-space: nowrap;
            display: flex;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            flex-direction: column;
            align-self: center;

            a {
                color: white;
                font-weight: normal;
            }
        }

        jhi-secured-image {
            padding: 5px 0 5px 5px;

            ::ng-deep img {
                border-radius: 50%;
                height: 100px;
                width: auto;
            }
        }
    }

    .section-card {
        border: 1px solid $light-border-color;
        border-radius: 0.1rem;
        min-width: 30%;

        .collapsed {
            margin-top: 2px;
        }
    }

    .section-header {
        height: 40px;
        background-color: $primary;
        border-radius: 0.1rem;
        cursor: pointer;

        .text-center {
            line-height: 2;
        }
    }

    .section-content {
        overflow: auto;
        max-height: 500px;
        min-height: 200px;
    }

    .control-label {
        cursor: pointer;
    }

    .control-icon {
        padding-right: 0.5rem;
    }

    .card-footer {
        background-color: $light-primary-background-color;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .float-right {
            float: right;
        }
    }

    .header-right {
        float: right;
        text-align: right;
    }

    .container {
        max-width: inherit;
    }

    .flex-container {
        flex: 1;
    }

    .align-center {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 2010px) {
    .exercises-cards {
        max-width: 1400px;
    }
}

@media screen and (max-width: 950px) {
    .card {
        .statistics-card {
            display: none;
        }

        .section-card {
            min-width: 100%;
        }
    }
}
