@if (currentCommit) {
    <h3>
        {{ 'artemisApp.repository.commitHistory.commitDetails.commit' | artemisTranslate }} <span class="text-primary">{{ currentCommit.hash }} </span>
    </h3>

    <div>
        <p>
            <strong>{{ 'artemisApp.repository.commitHistory.commitDetails.commitHash' | artemisTranslate }}</strong
            ><br />
            <span class="text-primary">{{ currentCommit.hash }}</span>
        </p>
        <p>
            <strong>{{ 'artemisApp.repository.commitHistory.commitDetails.author' | artemisTranslate }}</strong
            ><br />
            @if (user) {
                {{ user.name ?? currentCommit.author }}, <span class="text-primary">{{ user.email ?? '' }} </span>
            } @else {
                {{ currentCommit.author }}
            }
        </p>
        <p>
            <strong>{{ 'artemisApp.repository.commitHistory.commitDetails.date' | artemisTranslate }}</strong
            ><br />
            {{ currentCommit.timestamp | artemisDate: 'long' : true }}
        </p>
        <p>
            <strong>{{ 'artemisApp.repository.commitHistory.commitDetails.commitMessage' | artemisTranslate }}</strong
            ><br />
            {{ currentCommit.message }}
        </p>
    </div>

    @if (report && leftCommitFileContentByPath && rightCommitFileContentByPath) {
        <jhi-git-diff-report
            [report]="report"
            [diffForTemplateAndSolution]="diffForTemplateAndSolution"
            [templateFileContentByPath]="leftCommitFileContentByPath"
            [solutionFileContentByPath]="rightCommitFileContentByPath"
        ></jhi-git-diff-report>
    }
}
