<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 *ngIf="fileUploadExercise.id" id="jhi-file-upload-exercise-heading-edit">{{ 'artemisApp.fileUploadExercise.home.editLabel' | translate }}</h2>
            <h2 *ngIf="!fileUploadExercise.id" id="jhi-file-upload-exercise-heading-create">{{ 'artemisApp.fileUploadExercise.home.createLabel' | translate }}</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fileUploadExercise.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="fileUploadExercise.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.title" for="field_title">Title</label>
                    <input required minlength="3" type="text" class="form-control" name="title" id="field_title" [(ngModel)]="fileUploadExercise.title" />
                </div>
                <div class="form-group-narrow position-relative">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.categories">Categories</label>
                    <jhi-category-selector
                        [exerciseCategories]="exerciseCategories"
                        [existingCategories]="existingCategories"
                        (selectedCategories)="updateCategories($event)"
                    ></jhi-category-selector>
                </div>
                <div class="form-group-narrow">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.difficulty">Difficulty</label>
                    <div>
                        <jhi-difficulty-picker [exercise]="fileUploadExercise"></jhi-difficulty-picker>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group-narrow flex-grow-1">
                        <jhi-date-time-picker
                            labelName="{{ 'artemisApp.exercise.releaseDate' | translate }}"
                            [(ngModel)]="fileUploadExercise.releaseDate"
                            name="releaseDate"
                        ></jhi-date-time-picker>
                    </div>
                    <div class="form-group-narrow flex-grow-1 ml-3">
                        <jhi-date-time-picker
                            labelName="{{ 'artemisApp.exercise.dueDate' | translate }}"
                            [(ngModel)]="fileUploadExercise.dueDate"
                            name="dueDate"
                        ></jhi-date-time-picker>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.maxScore" for="field_maxScore">Max Score</label>
                    <input
                        required
                        type="number"
                        class="form-control"
                        [pattern]="maxScorePattern"
                        min="0"
                        max="9999"
                        name="maxScore"
                        id="field_maxScore"
                        [(ngModel)]="fileUploadExercise.maxScore"
                    />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.course" for="field_course">Course</label>
                    <select class="form-control" id="field_course" name="course" [(ngModel)]="fileUploadExercise.course">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="course.id === fileUploadExercise.course?.id ? fileUploadExercise.course : course"
                            *ngFor="let course of courses; trackBy: trackCourseById"
                            >{{ course.title }}</option
                        >
                    </select>
                </div>
                <div class="form-group" id="field_problemStatement">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.problemStatement" for="field_problemStatement">Problem Statement</label>
                    <jhi-markdown-editor
                        class="markdown-editor"
                        [domainCommands]="domainCommandsProblemStatement"
                        [(markdown)]="fileUploadExercise.problemStatement"
                        [editorMode]="EditorMode.LATEX"
                    ></jhi-markdown-editor>
                </div>
                <div class="form-group" id="field_sampleSolution">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.sampleSolution" for="field_sampleSolution">Sample Solution</label>
                    <jhi-markdown-editor
                        class="markdown-editor"
                        [domainCommands]="domainCommandsSampleSolution"
                        [(markdown)]="fileUploadExercise.sampleSolution"
                        [editorMode]="EditorMode.LATEX"
                    ></jhi-markdown-editor>
                </div>
                <div class="form-group" id="field_gradingInstructions">
                    <label class="form-control-label" jhiTranslate="artemisApp.exercise.gradingInstructions" for="field_gradingInstructions">Grading instructions</label>
                    <jhi-markdown-editor
                        class="markdown-editor"
                        [domainCommands]="domainCommandsGradingInstructions"
                        [(markdown)]="fileUploadExercise.gradingInstructions"
                        [editorMode]="EditorMode.LATEX"
                    ></jhi-markdown-editor>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="artemisApp.fileUploadExercise.filePattern" for="field_filePattern">File Pattern</label>
                    <input type="text" class="form-control" name="filePattern" id="field_filePattern" [(ngModel)]="fileUploadExercise.filePattern" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
