<div>
    <h4>
        <ng-container>
            <span *ngIf="course && !showHeading">{{course.title}} - </span><span *ngIf="fileUploadExercises && showHeading">{{fileUploadExercises.length}} </span>
            <span jhiTranslate="arTeMiSApp.fileUploadExercise.home.title">File Upload Exercises</span>
        </ng-container>
        <button *ngIf="course" class="btn btn-primary float-right jh-create-entity create-file-upload-exercise" [routerLink]="['/', { outlets: { popup: ['course', course.id, 'file-upload-exercise-new'] } }]">
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="arTeMiSApp.fileUploadExercise.home.createLabel">
            Create File Upload Exercise
            </span>
        </button>
    </h4>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="fileUploadExercises">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="callback">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>&nbsp;<fa-icon icon="sort"></fa-icon></th>
                <th jhiSortBy="title"><span jhiTranslate="arTeMiSApp.exercise.title">Title</span>&nbsp;<fa-icon icon="sort"></fa-icon></th>
                <th jhiSortBy="problemStatement"><span jhiTranslate="arTeMiSApp.exercise.problemStatement">Problem Statement</span>&nbsp;<fa-icon icon="sort"></fa-icon></th>
                <th jhiSortBy="releaseDate"><span jhiTranslate="arTeMiSApp.exercise.releaseDate">Release Date</span>&nbsp;<fa-icon icon="sort"></fa-icon></th>
                <th jhiSortBy="dueDate"><span jhiTranslate="arTeMiSApp.exercise.dueDate">Due Date</span>&nbsp;<fa-icon icon="sort"></fa-icon></th>
                <th jhiSortBy="maxScore"><span jhiTranslate="arTeMiSApp.exercise.maxScore">Max Score</span>&nbsp;<fa-icon icon="sort"></fa-icon></th>
                <th><span jhiTranslate="arTeMiSApp.fileUploadExercise.filePattern">File Pattern</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fileUploadExercise of fileUploadExercises | sortBy: predicate: reverse ;trackBy: trackId">
                <td><a [routerLink]="['/course', fileUploadExercise.course.id,'file-upload-exercise', fileUploadExercise.id ]">{{fileUploadExercise.id}}</a></td>
                <td>{{fileUploadExercise.title}}</td>
                <td>{{fileUploadExercise.problemStatement}}</td>
                <td>{{fileUploadExercise.releaseDate | date:'medium'}}</td>
                <td>{{fileUploadExercise.dueDate | date:'medium'}}</td>
                <td>{{fileUploadExercise.maxScore}}</td>
                <td>{{fileUploadExercise.filePattern}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/course', fileUploadExercise.course.id, 'exercise', fileUploadExercise.id, 'dashboard' ]"
                                class="btn btn-info btn-sm mr-1">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.dashboard">Dashboard</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exercise', fileUploadExercise.id, 'participation' ]"
                                class="btn btn-primary btn-sm mr-1">
                            <fa-icon [icon]="['far', 'list-alt']"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="arTeMiSApp.exercise.participations">Participations</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/file-upload-exercise', fileUploadExercise.id ]"
                                class="btn btn-info btn-sm mr-1">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'file-upload-exercise/'+ fileUploadExercise.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm mr-1">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'file-upload-exercise/'+ fileUploadExercise.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm mr-1">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
