<p-dialog [(visible)]="dialogVisible" [modal]="false" [closable]="true" [dismissableMask]="true" (onHide)="closeDialog()" [style]="{ width: '45dvw' }">
    <ng-template pTemplate="header">
        <h4>
            <span jhiTranslate="artemisApp.exam.examUsers.rooms.reseating.dialogTitle"></span>
        </h4>
    </ng-template>
    <form id="roomDistributionDialogForm" name="distributionForm" role="form" novalidate (keydown.enter)="$event.preventDefault()">
        <p jhiTranslate="artemisApp.exam.examUsers.rooms.reseating.introText" class="intro-text"></p>
        <b>
            <p
                jhiTranslate="artemisApp.exam.examUsers.rooms.reseating.selectedStudent"
                [translateValues]="{
                    studentLogin: examUser()?.user?.login ?? '',
                    studentName: getSelectedStudentName(),
                    plannedRoom: examUser()?.plannedRoom ?? '',
                    plannedSeat: examUser()?.plannedSeat ?? '',
                }"
            ></p>
        </b>
        <div class="form-check form-switch ms-auto">
            <label for="useCustomLocationToggle" jhiTranslate="artemisApp.exam.examUsers.rooms.reseating.useCustomLocation" class="form-check-label"></label>
            <input id="useCustomLocationToggle" type="checkbox" class="form-check-input" [checked]="useCustomLocation()" (change)="toggleCustomLocation()" />
            <jhi-help-icon class="ps-1" text="artemisApp.exam.examUsers.rooms.reseating.useCustomLocationTooltip" />
        </div>
        <p jhiTranslate="artemisApp.exam.examUsers.rooms.reseating.selectRoom"></p>
        @if (useCustomLocation()) {
            <input
                type="text"
                placeholder="{{ 'artemisApp.exam.examUsers.rooms.reseating.unassignedExamRoomSearchPlaceholder' | artemisTranslate }}"
                [defaultValue]="selectedRoomNumber()"
                (change)="setUnassignedRoomNumber($event)"
            />
        } @else {
            <input
                type="text"
                class="form-control"
                placeholder="{{ 'artemisApp.exam.examUsers.rooms.searchPlaceholder' | artemisTranslate }}"
                [ngbTypeahead]="roomSearch"
                container="body"
                [defaultValue]="getDefaultValueForRoomSelection()"
                [resultFormatter]="roomFormatter"
                [inputFormatter]="roomFormatter"
                (selectItem)="pickSelectedRoom($event)"
                (focusin)="selectAllTextAndOpenDropdown($event)"
            />
        }
        <p jhiTranslate="artemisApp.exam.examUsers.rooms.reseating.selectSeat"></p>
        @if (useCustomLocation()) {
            <input
                type="text"
                placeholder="{{ 'artemisApp.exam.examUsers.rooms.reseating.unassignedExamSeatSearchPlaceholder' | artemisTranslate }}"
                (change)="setUnassignedSeat($event)"
            />
        } @else {
            <input
                type="text"
                class="form-control"
                placeholder="{{ 'artemisApp.exam.examUsers.rooms.reseating.examSeatSearchPlaceholder' | artemisTranslate }}"
                [ngbTypeahead]="examSeatSearch"
                container="body"
                [resultFormatter]="examSeatFormatter"
                [inputFormatter]="examSeatFormatter"
                (selectItem)="pickSelectedSeat($event)"
                (focusin)="selectAllTextAndOpenDropdown($event)"
            />
        }
    </form>
    <ng-template pTemplate="footer">
        <button id="cancel-button" type="button" class="btn btn-secondary cancel" (click)="closeDialog()">
            <fa-icon [icon]="faBan" /><span jhiTranslate="entity.action.cancel" class="m-1"></span>
        </button>
        <button class="btn btn-success" id="finish-button" (click)="attemptReseatAndCloseDialogOnSuccess()">
            <fa-icon [icon]="faChair" /><span jhiTranslate="artemisApp.exam.examUsers.rooms.reseating.reseat" class="m-1"></span>
        </button>
    </ng-template>
</p-dialog>
