<button
    jhi-exercise-action-button
    [buttonIcon]="faBrain"
    [class.btn-success]="!needsAttention()"
    [class.btn-danger]="needsAttention()"
    [jhiFeatureToggle]="FeatureToggle.PromptingMode"
    [overwriteDisabled]="irisAssessment()?.verdict === undefined"
    [buttonLabel]="label() | artemisTranslate"
    [smallButton]="smallButton()"
    [hideLabelMobile]="hideLabelMobile()"
    [routerLink]="['/course-management', course().id, 'programming-exercises', exercise().id, 'iris-assessment', irisAssessment()?.id]"
    placement="right auto"
    container="body"
></button>
