<!-- If the exercise is not loaded or not programming, show regular component-->
@if (!exercise || exercise.type !== ExerciseType.PROGRAMMING || !orionState) {
    <jhi-exercise-assessment-dashboard />
} @else {
    <!-- If the exercise is programming, but not opened in Orion, show Orion open button-->
    @if (orionState.opened !== exerciseId || orionState.view !== ExerciseView.TUTOR) {
        <jhi-exercise-assessment-dashboard>
            <ng-template #overrideAssessmentTable>
                <jhi-ide-button
                    [buttonLoading]="orionState.cloning"
                    buttonLabel="{{ 'artemisApp.orionExerciseAssessmentDashboard.startYourParticipation' | artemisTranslate }}"
                    [buttonType]="OrionButtonType.Download"
                    (clickHandler)="openAssessmentInOrion()"
                />
            </ng-template>
        </jhi-exercise-assessment-dashboard>
    } @else {
        <jhi-exercise-assessment-dashboard>
            <ng-template #overrideOpenAssessmentButton let-submission="submission" let-queryParams="queryParams" let-buttonLabel="buttonLabel" let-disabled="disabled">
                <jhi-ide-button
                    class="btn btn-sm"
                    [buttonLoading]="orionState.cloning"
                    [disabled]="!!disabled"
                    buttonLabel="{{ 'artemisApp.orionExerciseAssessmentDashboard.' + buttonLabel | artemisTranslate }}"
                    (clickHandler)="downloadSubmissionInOrion(submission, queryParams['correction-round'], queryParams['testRun'])"
                />
            </ng-template>
        </jhi-exercise-assessment-dashboard>
    }
    <!-- If the exercise is opened, show download submission buttons -->
}
<!-- If the exercise is programming, but not opened in Orion, show Orion open button-->
