<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-drag-item-heading" jhiTranslate="arTeMiSApp.dragItem.home.createOrEditLabel">Create or edit a Drag Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dragItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dragItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arTeMiSApp.dragItem.pictureFilePath" for="field_pictureFilePath">Picture File Path</label>
                    <input type="text" class="form-control" name="pictureFilePath" id="field_pictureFilePath"
                        [(ngModel)]="dragItem.pictureFilePath" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arTeMiSApp.dragItem.text" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                        [(ngModel)]="dragItem.text" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arTeMiSApp.dragItem.correctScore" for="field_correctScore">Correct Score</label>
                    <input type="number" class="form-control" name="correctScore" id="field_correctScore"
                        [(ngModel)]="dragItem.correctScore" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arTeMiSApp.dragItem.incorrectScore" for="field_incorrectScore">Incorrect Score</label>
                    <input type="number" class="form-control" name="incorrectScore" id="field_incorrectScore"
                        [(ngModel)]="dragItem.incorrectScore" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arTeMiSApp.dragItem.correctLocation" for="field_correctLocation">Correct Location</label>
                    <select class="form-control" id="field_correctLocation" name="correctLocation" [(ngModel)]="dragItem.correctLocation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dropLocationOption.id === dragItem.correctLocation?.id ? dragItem.correctLocation : dropLocationOption" *ngFor="let dropLocationOption of correctlocations; trackBy: trackDropLocationById">{{dropLocationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arTeMiSApp.dragItem.question" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" [(ngModel)]="dragItem.question" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dragAndDropQuestionOption.id === dragItem.question?.id ? dragItem.question : dragAndDropQuestionOption" *ngFor="let dragAndDropQuestionOption of draganddropquestions; trackBy: trackDragAndDropQuestionById">{{dragAndDropQuestionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
