<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dragItem">
            <h2><span jhiTranslate="arTeMiSApp.dragItem.detail.title">Drag Item</span> {{dragItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="arTeMiSApp.dragItem.pictureFilePath">Picture File Path</span></dt>
                <dd>
                    <span>{{dragItem.pictureFilePath}}</span>
                </dd>
                <dt><span jhiTranslate="arTeMiSApp.dragItem.text">Text</span></dt>
                <dd>
                    <span>{{dragItem.text}}</span>
                </dd>
                <dt><span jhiTranslate="arTeMiSApp.dragItem.invalid">Invalid</span></dt>
                <dd>
                    <span>{{dragItem.invalid}}</span>
                </dd>
                <dt><span jhiTranslate="arTeMiSApp.dragItem.question">Question</span></dt>
                <dd>
                    <div *ngIf="dragItem.question">
                        <a [routerLink]="['/drag-and-drop-question', dragItem.question?.id, 'view']">{{dragItem.question?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/drag-item', dragItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
