.detail-body {
    margin-right: 2rem;

    .detail-row {
        margin-bottom: 1rem;

        h5 {
            margin-bottom: 0.25rem;
        }
    }

    > :last-child {
        margin-bottom: 0;
    }
}
