<button
    class="btn"
    [jhiFeatureToggle]="featureToggle"
    [overwriteDisabled]="buttonLoading"
    [class.btn-outline-primary]="outlined"
    [class.btn-primary]="btnPrimary"
    [class.btn-sm]="smallButton"
    (click)="handleClick()"
>
    <fa-icon [hidden]="!buttonLoading" animation="spin" [icon]="faCircleNotch" />
    <fa-icon [hidden]="buttonType !== OrionButtonType.Reload" [icon]="faRotateRight" />
    <fa-icon [hidden]="buttonType !== OrionButtonType.Submit" [icon]="faUpload" />
    <fa-icon [hidden]="buttonType !== OrionButtonType.Download" [icon]="faDownload" />
    <span>{{ buttonLabel }}</span>
</button>
