.hover-blue:hover {
    box-shadow: 0 2px 4px 0 var(--primary);
}

.hover-green:hover {
    box-shadow: 0 2px 4px 0 var(--success);
}

.btn-disabled {
    pointer-events: none;
}

.hover-effect:hover {
    transition: transform 0.2s linear;
    transform: scale(1.012);
    background-color: var(--hover-slightly-darker-body-bg);
}

.btn-group-disabled {
    cursor: not-allowed;
}
