.cross {
    width: 20px;
    height: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;

    span {
        font-size: 10px;
        line-height: 1;
    }
}
