@import '../../../../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../../../node_modules/bootstrap/scss/mixins';
@import '../../shared/course-base-container/course-variables';
@import '../../shared/course-base-container/course-base-container.component';

/* Component-specific styles only */
.controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    gap: 0.5rem;

    button.active {
        box-shadow: 0 2px 0 var(--overview-tab-active-border-color);
    }
}
