<div class="d-flex align-items-center">
    <h2>
        {{ isExam ? ('artemisApp.gradingSystem.titleExam' | artemisTranslate) : ('artemisApp.gradingSystem.titleCourse' | artemisTranslate) }}
        {{ isExam ? childComponent?.exam?.title : childComponent?.course?.title }}
    </h2>
    <jhi-documentation-button [type]="documentationType" />
</div>
@if (childComponent) {
    <div class="course-body-container">
        <div class="d-flex">
            <button (click)="childComponent.generateDefaultGradingScale()" class="btn btn-primary me-1 mb-1" type="button">
                <span jhiTranslate="artemisApp.gradingSystem.defaultButton"></span>
            </button>
            <jhi-grading-system-info-modal />
            <div class="ms-auto">
                <label class="btn btn-primary me-1 mb-1">
                    <span jhiTranslate="artemisApp.gradingSystem.csv.importButton"></span>
                    <input type="file" accept=".json,.csv" style="display: none" (change)="childComponent.onCSVFileSelect($event)" />
                </label>
                <button (click)="childComponent.exportGradingStepsToCsv()" class="btn btn-primary mb-1" type="button">
                    <span jhiTranslate="artemisApp.gradingSystem.csv.exportButton"></span>
                </button>
            </div>
        </div>
        <div class="dropdown-container">
            <div class="form-group">
                <span class="colon-suffix no-flex-shrink" jhiTranslate="{{ isExam ? 'artemisApp.examManagement.maxPoints.title' : 'artemisApp.course.maxPoints.title' }}"></span>
                @if (!isExam) {
                    <jhi-help-icon text="artemisApp.course.maxPoints.info" />
                }
                @if (isExam) {
                    <fa-icon [icon]="faExclamationTriangle" class="text-warning" ngbTooltip="{{ 'artemisApp.examManagement.maxPoints.warning' | artemisTranslate }}" />
                }
                <input type="number" class="form-control" [(ngModel)]="childComponent.maxPoints" min="1" (change)="childComponent.onChangeMaxPoints(childComponent.maxPoints)" />
            </div>
            <div class="form-group">
                <span class="colon-suffix no-flex-shrink" jhiTranslate="artemisApp.gradingSystem.gradeType.title"></span>
                <select class="form-select" [(ngModel)]="childComponent.gradingScale.gradeType" (change)="childComponent.deleteGradeNames()" title="grade type">
                    <option value="GRADE" jhiTranslate="artemisApp.gradingSystem.gradeType.grade"></option>
                    <option value="BONUS" jhiTranslate="artemisApp.gradingSystem.gradeType.bonus"></option>
                </select>
            </div>
            <div class="form-group">
                <span class="colon-suffix no-flex-shrink" jhiTranslate="artemisApp.gradingSystem.inclusivity.title"></span>
                <select class="form-select" [(ngModel)]="childComponent.lowerBoundInclusivity" (ngModelChange)="childComponent.setInclusivity()" title="inclusivity">
                    <option [ngValue]="true" jhiTranslate="artemisApp.gradingSystem.inclusivity.lower"></option>
                    <option [ngValue]="false" jhiTranslate="artemisApp.gradingSystem.inclusivity.upper"></option>
                </select>
            </div>
            <div class="form-group">
                @if (childComponent.gradingScale.gradeType === GradeType.GRADE) {
                    <span class="colon-suffix no-flex-shrink" jhiTranslate="artemisApp.gradingSystem.firstPassingGrade"></span>
                    <select class="form-select" title="first passing grade" [(ngModel)]="childComponent.firstPassingGrade">
                        @for (gradeStep of childComponent.gradeStepsWithNonemptyNames(); track gradeStep) {
                            <option [ngValue]="gradeStep.gradeName">
                                {{ gradeStep.gradeName }}
                            </option>
                        }
                    </select>
                }
            </div>
        </div>
        <jhi-grading-system-presentations [gradingScale]="childComponent.gradingScale" [presentationsConfig]="childComponent.presentationsConfig" />
    </div>
}
<div class="tab-bar" id="tab-bar">
    <div class="col-12 no-indent">
        <div>
            <div class="tab-item interval" routerLink="interval" routerLinkActive="active" jhiTranslate="artemisApp.gradingSystem.intervalTab.title"></div>
            <div class="tab-item detailed" routerLink="detailed" routerLinkActive="active" jhiTranslate="artemisApp.gradingSystem.detailedTab.title"></div>
        </div>
    </div>
</div>
<div class="course-body-container">
    <router-outlet (activate)="onChildActivate($event)" />
</div>
