.dropdown-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0;
}

.dropdown-container .form-group {
    width: 30%;

    .form-control {
        margin-top: 0.25em;
    }
}
