.tab-bar {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0 -1rem;
    margin-bottom: 0.5rem;

    $padding-y: 11px;

    padding-top: $padding-y;
    padding-bottom: $padding-y;
    border-bottom: 1px solid var(--overview-border-color);

    .tab-item {
        cursor: pointer;
        margin: 0 0.5em;

        &.active {
            box-shadow: 0 2px 0 var(--artemis-dark);
        }
    }

    > div:first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        > div:first-child {
            display: flex;
            align-items: center;
        }

        .controls {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-right: 3px;
            margin-left: 3px;
        }
    }

    > div:first-child.no-indent {
        justify-content: start;

        .controls {
            padding-right: 0.5rem;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 991px) {
    .tab-bar > div:first-child {
        flex-wrap: wrap;

        .controls {
            padding-right: 0.5rem;
            margin-right: 0;
        }
    }
}
