<div class="privacy-statement-container">
    <div>
        <h2>
            <span id="privacy-statement-update-heading" jhiTranslate="artemisApp.privacyStatement.createOrEditLabel" data-cy="privacyStatementPageHeading"
                >Create or edit privacy statement</span
            >
        </h2>

        <jhi-markdown-editor
            [markdown]="privacyStatement.text"
            (markdownChange)="checkUnsavedChanges($event)"
            [resizableMinHeight]="minHeight"
            [resizableMaxHeight]="maxHeight"
            [enableResize]="true"
            [minHeightEditor]="600"
        ></jhi-markdown-editor>
        <div class="btn-below-editor">
            <jhi-button
                id="update-privacy-statement-btn"
                (click)="updatePrivacyStatement()"
                [isLoading]="isSaving"
                [title]="'entity.action.save'"
                [icon]="faSave"
                [ngStyle]="{ 'marginRight.px': 10 }"
                >Save
            </jhi-button>
            <jhi-mode-picker [options]="languageOptions" [value]="currentLanguage" (valueChange)="onLanguageChange($event!)"></jhi-mode-picker>
        </div>
    </div>
</div>
