<div>
    <div>
        <div class="d-flex justify-content-between">
            <h4 jhiTranslate="artemisApp.programmingExercise.configureGrading.charts.testCaseWeights.title"></h4>
            @if (tableFiltered) {
                <button type="button" class="btn btn-info" (click)="resetTableFilter()" jhiTranslate="artemisApp.programmingExercise.configureGrading.charts.resetFilter"></button>
            }
        </div>
        <p>
            {{ 'artemisApp.programmingExercise.configureGrading.charts.testCaseWeights.sumOfTestWeights' | artemisTranslate }}
            {{ totalWeight }}
        </p>
        <p [innerHTML]="'artemisApp.programmingExercise.configureGrading.charts.testCaseWeights.description' | artemisTranslate"></p>
    </div>
    <div class="chart bg-light">
        <p-chart type="bar" [data]="weightChartData()" [options]="weightChartOptions()" (onDataSelect)="onSelectWeight($event)" />
    </div>
    <div class="mt-4">
        <h4 jhiTranslate="artemisApp.programmingExercise.configureGrading.charts.testCasePoints.title"></h4>
        <p [innerHTML]="'artemisApp.programmingExercise.configureGrading.charts.testCasePoints.description' | artemisTranslate"></p>
    </div>
    <div class="points-chart bg-light">
        <p-chart type="bar" [data]="pointsChartData()" [options]="pointsChartOptions()" (onDataSelect)="onSelectPoints()" />
    </div>
</div>
