/*!* ==========================================================================
File browser
========================================================================== *!*/

.file-browser {
    height: 100%;

    .card-body {
        overflow: auto;
        padding: 1rem 0.5rem 1rem 0.5rem;
    }

    .card-second-header {
        display: flex;
        background-color: var(--code-editor-file-browser-header-background);
        border-bottom: 1px solid var(--code-editor-file-browser-header-border);

        button {
            width: 60px;
        }
    }
}

/*!* ==========================================================================
File browser tree
========================================================================== *!*/

.file-browser {
    ::ng-deep .treeview-container {
        overflow-y: hidden !important;

        .treeview-item {
            .list-group-item {
                padding: 0.3rem 0.5rem 0.3rem 1rem;
                margin-bottom: 2px;
                border: none;
                display: flex;
                background: transparent;

                &--folder {
                    padding-left: 0.3rem;
                }

                &__fileName {
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &__input {
                    border: none;
                    padding-left: 5px;
                    background: var(--code-editor-file-browser-input-background);
                    color: var(--code-editor-file-browser-input-color);
                }
            }

            .list-group-item:hover {
                background-color: var(--code-editor-file-browser-tree-hover);
            }

            .list-group-item:hover .file-icons {
                opacity: 1;
            }
        }

        .node-selected {
            background-color: #428bca !important;
        }

        .file-icons {
            opacity: 0;
            transition: all 100ms ease-in-out;
            margin-left: auto;
            :not(:last-child) {
                margin-right: 5px;
            }
            button {
                padding: 0;
                fa-icon {
                    cursor: pointer;
                }
            }
        }
    }
}
