@import 'src/main/webapp/content/scss/artemis-variables';

.split-pane-header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid $body-bg;

    &-top {
        display: flex;
        justify-content: space-between;
        padding: 0.25rem 0.5rem;

        &.active fa-icon {
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    &-selected-file {
        margin-left: 0.5rem;
    }

    &-file {
        cursor: pointer;
        padding: 0.25rem 0.5rem;

        &:hover {
            background-color: lightskyblue;
        }
    }

    &-files {
        list-style: none;
        margin: 0.5rem 0;
        padding: 0;
    }
}
