.split-pane-header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bs-body-bg);
    border-bottom: 1px solid var(--body-bg);

    &-top {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding: 0.25rem 0.5rem;

        &.active .file-arrow-down {
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    &-selected-file {
        margin-left: 0.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-file {
        cursor: pointer;
        padding: 0.25rem 0.5rem;

        &:hover {
            background-color: lightskyblue;
        }
    }

    &-file-with-match {
        font-weight: bold;
    }

    &-file-name {
        white-space: nowrap;
    }

    &-files {
        list-style: none;
        margin: 0.5rem 0;
        padding: 0;
        max-height: 300px;
        overflow: scroll;
    }
}
