<div class="split-pane-header" ngbDropdown>
    <div class="split-pane-header-top" data-toggle="dropdown" [ngClass]="{ active: showFiles, clickable: hasFiles() }" (click)="toggleShowFiles()">
        @if (hasActiveFile()) {
            <div class="split-pane-header-file-name">
                <fa-icon class="file-arrow-down" [icon]="faChevronDown" />
                <span class="split-pane-header-selected-file">{{ getActiveFile() }}</span>
            </div>
        }
        <div>{{ studentLogin || ('artemisApp.plagiarism.unknownStudent' | artemisTranslate) }}</div>
    </div>
    @if (showFiles) {
        <ul class="split-pane-header-files">
            @for (file of files; track file; let idx = $index) {
                <li class="split-pane-header-file" ngbDropdownItem (click)="handleFileSelect(file, idx)">
                    <span [class.split-pane-header-file-with-match]="file.hasMatch">{{ file.file }}</span>
                </li>
            }
            @if (!hasFiles()) {
                <li jhiTranslate="artemisApp.plagiarism.noFilesFound"></li>
            }
        </ul>
    }
</div>
