@import 'src/main/webapp/content/scss/artemis-variables';

.questions-container {
    display: flex;
    height: 100%;
}

.expanded-questions {
    width: 30vw;

    .draggable-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 15px;
    }

    .card {
        width: inherit;
        min-width: 200px;

        .card-header {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .card-title {
                display: flex;
            }
        }

        .card-body {
            overflow-y: auto;
        }
    }
}

.collapsed-questions {
    width: 50px;
    justify-content: space-between;
    flex-flow: column nowrap;
    margin-left: 15px;
    cursor: pointer;

    span {
        writing-mode: vertical-rl;
        margin: auto;
    }

    fa-icon {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
}

.question-subtitle {
    font-size: 12px;
}

.answer-approved {
    color: green;
    background-color: #f2f9f2;
    border-radius: 4px;
}
