@import 'src/main/webapp/content/scss/artemis-variables';

$background-color: #353d47;

.questions-container {
    display: flex;
    height: 100%;
}

.expanded-questions {
    width: 30vw;

    .draggable-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 15px;
    }

    .card {
        width: inherit;
        min-width: 200px;

        .card-header {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color;
            cursor: pointer;

            .card-title {
                display: flex;
            }

            .row > .col-auto:last-child {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}

.collapsed-questions {
    width: 50px;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-color: $background-color;
    margin-left: 15px;
    cursor: pointer;

    span {
        writing-mode: vertical-rl;
        margin: auto;
    }

    fa-icon {
        display: flex;
        justify-content: center;
        padding: 15px 0;
    }
}

.question-row {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 3px;
}

.question-subtitle,
.answer-subtitle {
    font-size: 12px;
}

.question-text,
.answer-text {
    background: rgba(0, 0, 0, 0.05);
    padding: 8px 15px;
    border-radius: 3px;

    ::ng-deep p {
        margin: 0;
    }
}

.answer {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 4px;

    &.answer-approved {
        color: green;
        background-color: #f2f9f2;

        .answer-text {
            color: initial;
        }
    }
}

.line {
    width: auto;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    content: ' ';
    margin: auto 0;
}

.answers-line {
    height: auto;
    margin: 0 7px;
    background: rgba(0, 0, 0, 0.1);
    width: 2px;
    content: ' ';
}

@media screen and (max-width: 992px) {
    .expanded-questions {
        width: 94vw;

        .draggable-left {
            display: none;
        }
    }
}
