.course-notification-popup-overlay {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    min-height: 10rem;
    height: 10rem;
    min-width: 23rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: visible;
    transition:
        max-height 0.2s 0.2s ease-in-out,
        height 0.2s 0.2s ease-in-out;
}

.course-notification-popup-overlay::-webkit-scrollbar {
    background-color: transparent;
    display: none;
}

.course-notification-popup-overlay::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
}

.course-notification-popup-overlay::-webkit-scrollbar-thumb {
    background-color: transparent;
    display: none;
}

.course-notification-popup-overlay-notification {
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    transition:
        opacity 0.4s ease-out,
        bottom 0.4s ease-in-out;
}

.course-notification-popup-overlay-notification:nth-last-child(1) {
    bottom: 0;
    opacity: 1;
}

.course-notification-popup-overlay-notification:nth-last-child(2) {
    bottom: 0.5rem;
    opacity: 1;
}

.course-notification-popup-overlay-notification:nth-last-child(3) {
    bottom: 1rem;
    opacity: 1;
}

.course-notification-popup-overlay-collapse {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 2.5rem;
    right: 0;
    width: 20rem;
    text-align: right;
    transition: opacity 0.4s ease-in-out;
}

.course-notification-popup-overlay.is-expanded {
    max-height: 90vh;
    transition:
        max-height 0s linear,
        height 0s linear;

    & .course-notification-popup-overlay-notification {
        opacity: 1;
    }

    & .course-notification-popup-overlay-collapse {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.4s 0.5s ease-in-out;
    }
}
