.markdown-editor-wrapper {
    background-color: transparent !important;

    .markdown-editor {
        border: 1px solid var(--border-color);
        background-color: transparent !important;
    }
}
