<div>
    <div>
        <div jhiTranslate="artemisApp.buildAgents.clearDistributedData.descriptionFirst"></div>
        <div jhiTranslate="artemisApp.buildAgents.clearDistributedData.descriptionSecond"></div>
        <div jhiTranslate="artemisApp.buildAgents.clearDistributedData.descriptionThird"></div>
    </div>
    <input pInputText type="text" class="mt-2 w-full" required name="confirm" [(ngModel)]="confirmationText" [pattern]="'CLEAR DATA'" />
</div>
<div class="flex justify-end gap-2 mt-3">
    <p-button type="button" severity="secondary" size="small" (onClick)="cancel()">
        <fa-icon [icon]="faTimes" />
        <span class="ms-1" jhiTranslate="artemisApp.buildQueue.filter.close"></span>
    </p-button>
    <p-button type="button" severity="danger" size="small" (onClick)="confirm()" [disabled]="!buttonEnabled()">
        <fa-icon [icon]="faTrash" />
        <span class="ms-1" jhiTranslate="artemisApp.buildAgents.clearDistributedData.clearData"></span>
    </p-button>
</div>
