.wrap-long-text {
    word-break: break-all; /* This will break the text at any character */
}

.finish-jobs-column-tiny {
    max-width: 20px;
}

.finish-jobs-column {
    min-width: 100px;
}

.finish-jobs-column-strings {
    max-width: 180px;
}

.build-output {
    height: inherit;

    &__entry {
        &-date {
            width: 200px;
            margin-right: 10px;
            color: var(--secondary);
            font-weight: normal;
            float: left;
            clear: left;
        }

        &-text {
            margin-bottom: 0;
            color: var(--body-color);
        }
    }
}
