.color-selector {
    position: absolute;
    width: 220px;
    background-color: var(--color-selector-background);
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid var(--color-selector-border);
    box-shadow: 0 6px 12px var(--color-selector-box-shadow);

    .tag-color-selector {
        height: 50px;
        width: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 4px;
        flex: 1 0 25%;
        border-radius: 3px;

        &:hover {
            border: 1px solid var(--color-selector-border);
            padding: 3px;
        }

        .color-element {
            width: 42px;
            height: 42px;
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid var(--color-selector-border);
        }
    }
}
