@import 'src/main/webapp/content/scss/bootstrap-variables';

$success-text-color: #155724;
$success-bg-color: #d4edda;

$warning-text-color: #856404;
$warning-bg-color: #fff3cd;

$error-text-color: $danger;
$error-bg-color: #f8d7da;

:host {
    display: block;
}

.loading-spinner {
    position: relative;
    top: -2px;
}

.warning-message {
    position: relative;
    top: -4.5px;
    line-height: 1rem;
    font-size: 0.8rem;
    margin-left: 5px;
}

.list-group--teams {
    max-height: max(240px, 100vh - 560px);
    overflow-y: auto;

    .list-group-item-container {
        position: relative;
        margin-bottom: 0.15rem;
    }

    .list-group-item-index {
        min-width: 30px;
        text-align: right;
        margin-left: 0.5rem;
        margin-right: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .list-group-item {
        flex-grow: 1;
        overflow-x: hidden;
        padding: 0.3rem 1rem;

        &.has-success {
            color: $success-text-color;
            background-color: $success-bg-color;
        }

        &.has-warning {
            color: $warning-text-color;
            background-color: $warning-bg-color;
        }

        &.has-error {
            background-color: $error-bg-color;

            .team-name {
                color: $error-text-color;
            }
        }
    }
}

.team-name {
    width: 135px;
    margin-right: 15px;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-students {
    flex-grow: 1;
    overflow-x: hidden;
    font-size: 12.5px;
}

.label-narrow {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.radio-input-with-explanation {
    height: 0.9rem * 1.5;
}

.radio-label-with-explanation {
    .badge {
        position: relative;
        top: -1px;
        font-size: 85%;
    }

    .explanation {
        max-width: 66%;
    }
}

.modal-footer {
    justify-content: space-between;

    button[disabled] {
        cursor: not-allowed;
    }
}
