<!-- uncollapsed posts -->
<div *ngIf="!collapsed; else collapsedPosts" class="postings-container expanded-posts">
    <div class="draggable-left"><fa-icon [icon]="'grip-lines-vertical'"></fa-icon></div>
    <div class="card">
        <!-- header -->
        <div class="card-header text-white" [ngbTooltip]="'artemisApp.metis.discussion.hide' | artemisTranslate" (click)="collapsed = true">
            <div class="row flex-grow-1">
                <div class="col">
                    <h5 class="mb-0" jhiTranslate="artemisApp.metis.discussion.header">Discussion</h5>
                </div>
                <div class="col-auto">
                    <fa-icon [icon]="'chevron-right'"></fa-icon>
                </div>
            </div>
        </div>
        <!-- body -->
        <div class="card-body" *ngIf="user">
            <jhi-postings-thread
                *ngFor="let post of posts"
                [post]="post"
                [isAtLeastTutorInCourse]="isAtLeastTutorInCourse"
                [user]="user"
                [courseId]="courseId"
                [existingPostTags]="existingPostTags"
                (onDelete)="deletePost($event)"
                (interactPostRow)="interactPost($event)"
            ></jhi-postings-thread>
            <!-- new post button -->
            <div class="row mt-3">
                <div class="col-12">
                    <button class="btn btn-sm m-1 btn-outline-secondary" (click)="createEditModal.open()">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span class="d-none d-md-inline m-1">{{ 'artemisApp.metis.addNewPost' | artemisTranslate }}</span>
                    </button>
                    <jhi-post-create-edit-modal #createEditModal [posting]="createEmptyPost()" [courseId]="courseId" (onCreate)="onCreatePost($event)"></jhi-post-create-edit-modal>
                </div>
            </div>
            <!-- no posts -->
            <div class="row mt-2" *ngIf="!posts || posts.length === 0">
                <div class="col-12">{{ 'artemisApp.metis.noPosts' | artemisTranslate }}</div>
            </div>
        </div>
    </div>
</div>
<!-- collapsed posts -->
<ng-template #collapsedPosts>
    <div class="postings-container collapsed-postings text-white" (click)="collapsed = false" [ngbTooltip]="'artemisApp.metis.discussion.show' | artemisTranslate">
        <fa-icon [icon]="'chevron-left'"></fa-icon>
        <span class="h5" jhiTranslate="artemisApp.metis.discussion.header"></span>
        <fa-icon [icon]="'chevron-left'"></fa-icon>
    </div>
</ng-template>
