.lecture-unit-card {
    box-shadow: 0 2px 6px 0 var(--lecture-unit-card-shadow);
    border-radius: var(--bs-border-radius-lg);

    .lecture-unit-header {
        background: var(--overview-light-background-color);
        height: 50px;

        &:hover {
            background: var(--hover-slightly-darker-body-bg);
        }
    }

    .lecture-unit-body {
        background-color: var(--lecture-unit-card-body-background);
    }
}
