<div class="d-flex flex-column">
    <div class="col-auto">
        <fa-icon class="clickable fa-1x vote" [class.vote-active]="userVote && userVote.isPositive" [icon]="'angle-up'" (click)="toggleUpVote()"></fa-icon>
    </div>
    <div class="col-auto text-center">
        {{ votes > 0 ? votes : 0 }}
    </div>
    <div class="col-auto">
        <fa-icon
            class="clickable fa-1x vote"
            [class.vote-active]="userVote && !userVote.isPositive"
            [class.enabled]="votes <= 0 && !userVote"
            [icon]="'angle-down'"
            (click)="toggleDownVote()"
        ></fa-icon>
    </div>
</div>
