<jhi-post-header [previewMode]="previewMode" [posting]="posting" (toggleAnswersChange)="toggleAnswersChange.emit()"></jhi-post-header>
<div class="row align-items-center">
    <div class="col">
        <div class="mb-1">
            <fa-icon
                *ngIf="postIsResolved && posting.courseWideContext !== CourseWideContext.ANNOUNCEMENT"
                [icon]="'check-square'"
                iconSize="xs"
                class="col-auto pe-0 resolved"
                [ngbTooltip]="'artemisApp.post.postMarkedAsResolvedTooltip' | artemisTranslate"
            >
            </fa-icon>
            <fa-icon
                *ngIf="posting.courseWideContext === CourseWideContext.ANNOUNCEMENT"
                [icon]="'bullhorn'"
                iconSize="xs"
                class="col-auto pe-0"
                [ngbTooltip]="'artemisApp.post.postMarkedAsAnnouncementTooltip' | artemisTranslate"
                [styles]="{ color: '#0f6ab4' }"
            ></fa-icon>
            <span class="col-auto">
                <a
                    class="post-title"
                    [routerLink]="metisService.getLinkForPost(posting)"
                    [queryParams]="metisService.getQueryParamsForPost(posting)"
                    (click)="onNavigateToPostById($event)"
                    routerLinkActive="active"
                >
                    {{ posting.title }}
                </a>
                <span class="reference-hash">#{{ posting.id }}</span>
            </span>
        </div>
        <jhi-posting-content [previewMode]="previewMode" [content]="posting.content"></jhi-posting-content>
    </div>
</div>
<jhi-post-footer [modalRef]="modalRef" [previewMode]="previewMode" [posting]="posting"></jhi-post-footer>
