@import 'src/main/webapp/app/shared/metis/metis.component';

.post-title {
    font-weight: 600;
    color: $metis-blue;

    .reference-hash {
        font-weight: 200;
        color: $metis-light-gray;
    }
}
