@import 'src/main/webapp/app/shared/metis/metis.component';

.linked-context-information,
.context-information,
.post-title {
    font-weight: 600;
    color: var(--metis-blue);
}

.announcement-icon {
    color: var(--metis-blue);
}

.reference-hash {
    color: inherit;
}

.post {
    background-color: transparent;

    transition: background-color 0.2s ease-in-out;
}

.post.is-saved {
    background-color: rgba($primary, 0.1);
}
