.nav-link-subpage {
    transition:
        background-color 0.15s ease-in-out,
        color 0.15s ease-in-out;
    color: var(--tumaet-ui-text-color);
    cursor: pointer;

    &:hover,
    &.active {
        background-color: var(--link-item-bg);
        color: var(--link-item-color);
    }
}
