$menu-width-closed: 64px;
$menu-width-open: 220px;

// Sidebar Button Transition Variables
$transition-delay: 0.3s;
$transition-in-between-delay: 0.2s;
$transition-chevron-rotate-length: 0.2s;
$transition-chevron-max-width-length: 0.2s;
$transition-color-length: 0.2s;

.sidebar-container {
    width: $menu-width-open;

    &.collapsed {
        width: $menu-width-closed !important;
    }
}

// Displays a red circle at the top right corner of the tab item.
// Used to indicate that there are new messages.
%message-block {
    position: relative;
    content: '';
    border-radius: 50%;
    background-color: var(--bs-danger);
    padding-left: 0.7rem;
    top: -5px;
    right: 0;
    transform: translate(50%, -50%);
    font-size: xx-small;
}

.newMessage::after,
.dropdown-content > .nav-item > .newMessage::after {
    @extend %message-block;

    margin-left: 0.25rem;
}

.collapsed.newMessage::after {
    @extend %message-block;

    margin-left: -0.9rem;
}

jhi-image {
    ::ng-deep img {
        border-radius: 50%;
        height: 36px;
        width: auto;
    }
}

.double-arrow.menu-closed {
    transform: translate(16px);
}

.double-arrow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 10px;
}

.menu-closed.double-arrow {
    justify-content: center;
}

.double-arrow-icon {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    min-width: 40px;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.menu-closed .double-arrow-icon {
    transform: rotate(0deg);
}

.me-negative {
    margin-right: -10px;
}

.course-circle {
    height: 36px;
    min-width: 36px;
    background-color: var(--course-image-bg);
    border-radius: 50%;
    display: inline-block;
    color: var(--bs-body-color);
}

.course-title {
    margin-left: 0.75rem;
}

.max-width-collapsed {
    max-width: 44px !important;
    min-width: 44px !important;
}

@media screen and (max-width: 960px) {
    .sidebar-container {
        width: $menu-width-closed !important;
    }

    .auto-collapse {
        display: none;
    }

    .newMessage::after {
        @extend %message-block;

        margin-left: -0.9rem;
    }
}

.nav-link {
    white-space: nowrap;
    color: var(--bs-body-color);
}

.nav-link-sidebar:hover,
.nav-link-sidebar.active {
    width: 100%;
    background-color: var(--link-item-bg);
    color: var(--link-item-color);
}

// We have to override this style from globals.scss here as we only want to target the span with the text inside
a:not(.btn):not(.tab-link):hover {
    text-decoration: none !important;
}

.nav-link-sidebar:hover span {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.three-dots {
    cursor: pointer;

    &:hover {
        color: var(--link-item-color);
    }
}

.dropdown-li {
    display: block;
    text-decoration: none;
}

.dropdown-content {
    overflow-y: auto;
    position: absolute;
    background-color: var(--dropdown-bg);
    border: 1px solid var(--border-color);
    z-index: 3000;
    border-radius: 4px;

    &.fixedContentSize {
        max-height: 171px; // To avoid cut offs in the dropdown menu content (4 items)
    }
}

.dropdown-menu {
    min-width: 204px;
    max-width: 294px;
}

.dropdown-courses.active {
    display: block;
}

.dropdown-toggle::after {
    display: none;
}

@media print {
    :host {
        display: none; /* Hide the sidebar when printing */
    }
}

// Without ng-deep we fail to override the styles from the tooltip
::ng-deep .double-arrow-tooltip {
    // without this styling the tooltip is positioned with some distance to the left of the collapse icon when the sidebar is expanded.
    // the margin bottom ensures the tooltip does not overlap with the collapse icon
    left: 2rem !important;
    margin-bottom: 0.25rem !important;
}

::ng-deep .double-arrow-tooltip-no-bottom-items {
    left: 5.75rem !important;
    margin-bottom: 0.25rem !important;
}

::ng-deep .double-arrow-tooltip-collapsed {
    // without this styling the tooltip is positioned with too much distance to the right of the collapse icon when the sidebar is collapsed.
    left: -2.25rem !important;
}
