.connection-status {
    font-size: 14px;
    color: var(--connection-status);

    &.disconnected {
        font-size: 20px;
        color: var(--connection-status-disconnected);
    }

    i {
        font-size: 0.8em;
        vertical-align: 10%;
        margin-right: 2px;
    }
}
