/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background-size: contain;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.6rem;
    }
    .lead {
        font-size: 0.9rem;
    }
}

.login-form {
    width: 350px;
}

.registration-link {
    width: 450px;
}

.btn-space
{
  margin-right: 5px;
}
