/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background-size: contain;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.6rem;
    }
    .lead {
        font-size: 0.9rem;
    }
}

.login-col {
    min-width: 33%;
    min-height: 150px;
}

.registration-link {
    width: 450px;
}

.btn-space {
    margin-right: 5px;
}

.row-divided {
    position: relative;
}

/* Inspired by https://bootsnipp.com/snippets/AVbzx */
.vertical-divider {
    position: absolute;
    height: calc(50% - 0.5rem);
    width: auto;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        z-index: -1;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        width: 0;
        height: calc(100% - 1rem);
    }

    &:before {
        top: -100%;
    }

    &:after {
        top: auto;
        bottom: 0;
    }
}

// Inspired by https://stackoverflow.com/a/26634224
.horizontal-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-transform: uppercase;

    &:before,
    &:after {
        content: '';
        flex: 1;
        border-bottom: 2px solid var(--border-color);
    }

    &:before {
        margin-right: 1em;
    }

    &:after {
        margin-left: 1em;
    }
}

@media (min-width: 768px) {
    .saml2-center {
        margin-top: -40px;
    }
}
