/* ==========================================================================
Main page styles
========================================================================== */

.login-col {
    min-height: 150px;
    width: 455px;
    min-width: 455px;

    .login-form {
        max-width: 360px;
        margin: auto;
    }
}

.row-divided {
    position: relative;
}

/* Inspired by https://bootsnipp.com/snippets/AVbzx */
.vertical-divider {
    position: absolute;
    height: calc(50% - 0.5rem);
    width: auto;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        z-index: -1;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        width: 0;
        height: calc(100% - 1rem);
    }

    &::before {
        top: -100%;
    }

    &::after {
        top: auto;
        bottom: 0;
    }
}

/* Inspired by https://stackoverflow.com/a/26634224 */
.horizontal-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0;
    text-transform: uppercase;

    &::before,
    &::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid var(--border-color);
    }

    &::before {
        margin-right: 1em;
        margin-left: 15%;
    }

    &::after {
        margin-left: 1em;
        margin-right: 15%;
    }
}

@media (min-width: 1200px) {
    .saml2-center {
        margin-top: -40px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.6rem;
    }
    .lead {
        font-size: 0.85rem;
    }
    .login-col {
        width: 385px;
        min-width: 385px;
    }
}
