.grading-instruction-link-button {
    border: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.grading-instruction-link-icon-danger {
    color: var(--danger);
}
