@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../metis.component';

.answer-post {
    border-radius: 7px;
}

@include media-breakpoint-down(sm) {
    .answer-post-content-margin {
        padding-left: 0.5rem;
    }
}

.hover-actions {
    position: absolute;
    top: -1.8rem;
    right: 3%;
    display: flex;
    gap: 10px;
    visibility: hidden;
    max-height: 2.2rem;
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out;
    background: var(--metis-selection-option-background);
    padding: 5px;
    border-radius: 5px;
    border: 0.01rem solid var(--metis-gray);
}

.message-container {
    position: relative;
}

.post-is-saved-message,
.message-container,
.post-reactions-bar,
.answer-post {
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;

    &.is-saved {
        background-color: rgba($primary, 0.1);
    }
}

.message-content,
.post-is-saved-message-content {
    padding-left: 0.25rem;
}

.non-consecutive .hover-actions {
    top: -2rem;
}

.hover-container {
    position: relative;
}

.hover-container:hover {
    background: var(--metis-selection-option-hover-background);
    transition: background-color 0.2s ease-in-out;
}

.hover-container:hover .hover-actions {
    visibility: visible;
    opacity: 1;
}

.message-content:hover {
    background: var(--metis-selection-option-hover-background);
}

.message-container:hover .hover-actions {
    opacity: 1;
    visibility: visible;
}

.clickable {
    cursor: pointer;
}

.item-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.2rem;
}

.post-time {
    position: absolute;
    top: 5%;
    left: 0.5rem;
    margin-left: 0.7rem;
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    font-size: 0.75rem;
    color: var(--metis-gray-dark);
}

.hover-container:hover .post-time {
    visibility: visible;
    opacity: 1;
}

.fade-animation {
    animation: fade-in 0.3s ease-in forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    .fade-animation {
        animation: none !important;
    }
}
