.bg-module {
    background-color: var(--module-bg);
}

.border-module {
    border-color: var(--module-bg) !important;
}

.bg-selected {
    background-color: var(--sidebar-card-selected-bg);

    &.border-module {
        border-color: var(--sidebar-card-selected-bg) !important;
    }
}
