body.editor {
  height: 100%; }

body.editor .ribbon {
  display: none; }

.editor-wrapper, div.editor {
  height: 100%; }

body {
  margin: 0; }

.editor-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column; }

.editor-wrapper > * {
  flex: 0 0 auto; }

.editor-wrapper > .editor-bottom {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px; }

.editor-wrapper > .editor-main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden; }

.editor-wrapper > .editor-main > * {
  flex: 0 0 auto;
  overflow: scroll; }

.editor-wrapper > .editor-main > .editor-sidebar-left,
.editor-wrapper > .editor-main > .editor-sidebar-right {
  padding-left: 14px;
  padding-right: 14px; }

.editor-wrapper > .editor-main > .editor-sidebar-right {
  overflow: initial; }

.editor-wrapper > .editor-main > .editor-sidebar-right .panel-body {
  overflow: scroll;
  height: inherit;
  padding-bottom: 50px; }

.editor-wrapper > .editor-main > .editor-sidebar-left .panel:not(.collapsed) {
  max-width: 400px;
  min-width: 150px; }

.editor-wrapper > .editor-main > .editor-sidebar-right .panel:not(.collapsed) {
  min-width: 300px;
  height: 100%; }

.editor-wrapper > .editor-bottom .panel:not(.collapsed) {
  min-height: 100px; }

.editor-wrapper > .editor-bottom .panel-body {
  overflow: scroll;
  position: absolute;
  bottom: 5px;
  top: 40px;
  width: 100%; }

.editor-wrapper > .editor-main > .editor-center {
  flex: 1 1 auto; }

.editor-wrapper .navbar-right button, .editor-wrapper .navbar-right span {
  margin-right: 10px; }

.editor-wrapper .navbar-right span {
  vertical-align: baseline; }

.panel-heading {
  outline: none; }

.panel.collapsed .panel-body,
.panel.collapsed .panel-heading .pull-right,
.panel.collapsed .panel-heading h3 span {
  display: none; }

.panel.collapsed {
  width: 52px; }

.panel.collapsed .panel-footer span {
  display: none; }

.treeview .list-group-item,
body.editor .panel-heading h3,
body.editor .navbar-brand span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.ace_editor {
  height: 100%;
  margin-bottom: 0 !important; }

.buildoutput {
  font-family: Menlo,Monaco,"Courier New",monospace;
  font-size: 11px;
  overflow: scroll;
  margin: 0; }

.buildoutput dt {
  width: 130px;
  color: #505050;
  font-weight: normal; }

.buildoutput dd {
  margin-left: 140px;
  color: #003366; }

.editor .instructions h2 {
  font-size: 28px; }

.editor .instructions h1 {
  font-size: 30px; }

.editor .instructions :first-child {
  margin-top: 0 !important; }

.editor code {
  color: inherit;
  background-color: transparent; }
