.app-loading {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10em;
}
.app-loading p {
    display: block;
    font-size: 1.17em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}
