<jhi-loading-indicator-container [isLoading]="isLoading">
    <div class="row">
        <div class="col-12 col-xl-10">
            <div class="d-flex justify-content-between">
                <h4>{{ 'artemisApp.pages.tutorialGroupsManagement.title' | artemisTranslate }}</h4>
                <div *ngIf="isAtLeastInstructor">
                    <a
                        class="btn btn-primary"
                        *ngIf="course?.tutorialGroupsConfiguration"
                        [routerLink]="['/course-management', courseId, 'tutorial-groups', 'configuration', course!.tutorialGroupsConfiguration!.id, 'tutorial-free-days']"
                    >
                        <fa-icon [icon]="faUmbrellaBeach"></fa-icon>
                        <span>{{ 'artemisApp.pages.tutorialGroupsManagement.freePeriodsButtons' | artemisTranslate }}</span>
                    </a>
                    <a class="btn btn-primary" [routerLink]="['/course-management', courseId, 'tutorial-groups', 'create']">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        <span>{{ 'artemisApp.pages.tutorialGroupsManagement.creatTutorialGroupButton' | artemisTranslate }}</span>
                    </a>
                    <a
                        *ngIf="course?.tutorialGroupsConfiguration"
                        class="btn btn-secondary"
                        [routerLink]="['/course-management', courseId, 'tutorial-groups', 'configuration', course!.tutorialGroupsConfiguration!.id, 'edit']"
                    >
                        <fa-icon [icon]="faPencil"></fa-icon>
                        <span>{{ 'artemisApp.pages.tutorialGroupsManagement.editConfigurationButton' | artemisTranslate }}</span>
                    </a>
                    <jhi-tutorial-groups-import-button [courseId]="courseId" (importFinished)="loadTutorialGroups()"></jhi-tutorial-groups-import-button>
                </div>
            </div>
            <ng-container *ngIf="tutorialGroups?.length">
                <jhi-tutorial-groups-table [tutorialGroups]="tutorialGroups" [courseId]="courseId" [tutorialGroupClickHandler]="onTutorialGroupSelected" [showIdColumn]="true">
                    <ng-template let-tutorialGroup>
                        <jhi-tutorial-group-row-buttons
                            [courseId]="courseId"
                            [isAtLeastInstructor]="isAtLeastInstructor"
                            [tutorialGroup]="tutorialGroup"
                            (tutorialGroupDeleted)="loadTutorialGroups()"
                        >
                        </jhi-tutorial-group-row-buttons>
                    </ng-template>
                </jhi-tutorial-groups-table>
            </ng-container>
        </div>
        <div class="col-12 col-xl-2">
            <jhi-tutorial-groups-course-information [tutorialGroups]="tutorialGroups"></jhi-tutorial-groups-course-information>
            <div class="mt-1" *ngIf="tutorialGroupFreeDays && tutorialGroupFreeDays.length > 0">
                <jhi-tutorial-group-free-days-overview [timeZone]="course.timeZone" [tutorialGroupFreeDays]="tutorialGroupFreeDays"> </jhi-tutorial-group-free-days-overview>
            </div>
        </div>
    </div>
</jhi-loading-indicator-container>
