.course-competencies-graph-container {
    #arrow {
        stroke: var(--body-color);
        fill: var(--body-color);
    }

    .selected {
        stroke: var(--bs-primary);
    }

    .text-path {
        fill: var(--body-color);
    }
}
