.path-edge {
    display: block;
    text-align: center;

    fa-icon {
        font-size: 1em;
    }
}

.path-node {
    jhi-learning-path-graph-node {
        display: block;
        width: fit-content;
        font-size: 3em;
        margin: auto;
    }
}

.highlighted-node {
    color: var(--bs-warning);
}
