.graph-container {
    display: block;
    width: 100%;
    height: 100%;

    .ngx-graph {
        width: auto;
    }

    .node {
        display: flex;
        width: 100%;
        height: 100%;
    }
}
