.graph-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .node {
        display: flex;
        width: 100%;
        height: 100%;
    }

    #arrow {
        stroke: var(--body-color);
        fill: var(--body-color);
    }

    .edge {
        stroke: var(--body-color) !important;
        marker-end: url(#arrow);
    }

    .floating-icon-button {
        position: absolute;
        right: 0;
        padding: 0.25em;
    }
    .floating-icon-button:hover {
        cursor: pointer;
    }
}

jhi-learning-path-graph-node:hover {
    cursor: pointer;
}

.node-icon-container {
    width: 100%;
    display: flex;

    fa-icon {
        width: 100%;
        display: flex;
    }
}

:host::ng-deep .graph-container .node-icon-container fa-icon svg {
    margin: 10%;
    width: 80%;
    height: 80%;
}

.node-xs {
    width: 40%;
    margin: 30%;
}

.node-s {
    width: 60%;
    margin: 20%;
}

.completed {
    color: var(--bs-success);
}

.current {
    color: var(--bs-warning);
}

.node-details {
    display: block;
    max-width: 40vw;
}

.legend {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.legend-wrapper {
    background: var(--bs-body-bg);
    border-radius: 5px;
}
