.path-wrapper {
}

.path-node {
    .node-icon-container {
        display: block;
        width: fit-content;
        margin: auto;
        text-align: center;

        fa-icon {
            font-size: 3em;

            svg {
                margin: auto;
            }
        }
    }
}

.highlighted-node {
    color: var(--bs-warning);
}

.path-edge {
    display: block;
    text-align: center;
    fa-icon {
        font-size: 1em;
    }
}
