// only place declarations within this manual scope (otherwise other components could be affected)
jhi-course-group {
    $dropdown-item: (
        active-color: #28a745,
        already-member: (
            color: #212529,
            background-color: #e9f6ec,
            background-color-hover: #daf2e0,
        ),
    );

    $datatable-row: (
        newly-added-member: (
            background-color: #c4e7cc,
            animation-delay: 150ms,
            animation-duration: 1.5s,
        ),
    );

    ngb-typeahead-window {
        min-width: 400px;

        .dropdown-item {
            display: flex;
            justify-content: space-between;

            &.active {
                background-color: map-get($dropdown-item, active-color);
            }

            &.already-member {
                $vars: map-get($dropdown-item, already-member);

                color: map-get($vars, color);
                background-color: map-get($vars, background-color);
                opacity: 0.5;

                &.active {
                    background-color: map-get($vars, background-color-hover);
                    opacity: 0.8;
                }
            }
        }
    }

    .datatable-body-row {
        &.newly-added-member {
            $vars: map-get($datatable-row, newly-added-member);

            @keyframes flash-animation {
                30% {
                    background-color: map-get($vars, background-color);
                }
            }

            animation-name: flash-animation;
            animation-delay: map-get($vars, animation-delay);
            animation-duration: map-get($vars, animation-duration);
            animation-timing-function: ease-out;
        }
    }
}
