@import 'src/main/webapp/content/scss/artemis-variables';

.plagiarism-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $body-bg;

    h4 {
        margin-bottom: 0;
    }
}
