.plagiarism-header {
    align-items: center;
    border-bottom: 1px solid var(--body-bg);
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &-right {
        align-items: center;
        display: flex;

        & > * {
            margin: 0 8px;
        }

        .split-controls {
            display: flex;

            .split-control {
                border-radius: 4px;
                cursor: pointer;
                margin: 0 2px;

                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }

        .vertical-divider {
            background-color: var(--body-bg);
            height: 24px;
            width: 1px;
        }
    }

    h5 {
        margin-bottom: 0;
    }

    .plagiarism-warning {
        color: white;
    }
}
