@import 'src/main/webapp/content/scss/artemis-variables';

.plagiarism-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid $body-bg;

    h5 {
        margin-bottom: 0;
    }

    .plagiarism-warning {
        color: darken($body-bg, 20);
    }

    &-right {
        display: flex;
        align-items: center;

        & > * {
            margin: 0 8px;
        }

        .split-controls {
            display: flex;

            .split-control {
                margin: 0 2px;
                border-radius: 4px;
                cursor: pointer;

                &:hover {
                    background-color: #f5f5f5;
                }
            }
        }

        .vertical-divider {
            height: 24px;
            width: 1px;
            background-color: $body-bg;
        }
    }
}
