<div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">{{ 'loading' | artemisTranslate }}</span>
    </div>
</div>

<h3 *ngIf="!isLoading && complaint">
    {{ complaint.complaintType === ComplaintType.MORE_FEEDBACK ? ('artemisApp.moreFeedback.review' | artemisTranslate) : ('artemisApp.complaint.review' | artemisTranslate) }}
</h3>

<div class="col-12 mt-2" [class.px-0]="zeroIndent" *ngIf="!isLoading && complaint">
    <div class="alert alert-info" *ngIf="handled">
        {{
            complaint.complaintType === ComplaintType.MORE_FEEDBACK
                ? ('artemisApp.moreFeedback.alreadyHandled' | artemisTranslate)
                : ('artemisApp.complaint.complaintAlreadyHandled' | artemisTranslate)
        }}
    </div>
    <div class="mt-3 mb-3">
        <div id="lockDuration" class="alert alert-info" *ngIf="showLockDuration">
            <ng-container *ngIf="lockedByCurrentUser; else lockedByOther">
                {{ 'artemisApp.locks.lockInformationYou' | artemisTranslate: { endDate: this.complaintResponse.lockEndDate | artemisDate } }}
            </ng-container>
            <ng-template #lockedByOther>
                {{
                    'artemisApp.locks.lockInformation'
                        | artemisTranslate: { user: this.complaintResponse?.reviewer?.login, endDate: this.complaintResponse.lockEndDate | artemisDate }
                }}
            </ng-template>
        </div>
        <button id="lockButton" class="btn btn-secondary" *ngIf="lockedByCurrentUser" (click)="removeLock()">
            {{ 'artemisApp.locks.removeButton' | artemisTranslate }}
        </button>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>
                <span
                    >{{
                        complaint.complaintType === ComplaintType.MORE_FEEDBACK
                            ? ('artemisApp.moreFeedback.title' | artemisTranslate)
                            : ('artemisApp.complaint.title' | artemisTranslate)
                    }}
                </span>
                <small *ngIf="handled">
                    <span *ngIf="complaint?.accepted" class="badge bg-success">
                        &nbsp;{{
                            complaint.complaintType === ComplaintType.MORE_FEEDBACK
                                ? ('artemisApp.moreFeedback.accepted' | artemisTranslate)
                                : ('artemisApp.complaint.accepted' | artemisTranslate)
                        }}&nbsp;
                    </span>
                    <span *ngIf="!complaint?.accepted" class="badge bg-danger"> &nbsp;{{ 'artemisApp.complaint.rejected' | artemisTranslate }}&nbsp; </span>
                </small>
            </h4>
            <textarea id="complaintTextArea" class="col-12 px-1" rows="4" [(ngModel)]="complaintText" [readonly]="true" [disabled]="true"></textarea>
        </div>

        <div *ngIf="handled || isAllowedToRespond" class="col-12 col-md-6">
            <h3>
                {{
                    complaint.complaintType === ComplaintType.MORE_FEEDBACK
                        ? ('artemisApp.moreFeedbackResponse.title' | artemisTranslate)
                        : ('artemisApp.complaintResponse.title' | artemisTranslate)
                }}
            </h3>
            <div class="d-flex flex-column">
                <textarea
                    id="responseTextArea"
                    class="col-12 px-1"
                    rows="4"
                    [maxlength]="this.course!.maxComplaintResponseTextLimit!"
                    [(ngModel)]="complaintResponse.responseText"
                    [readonly]="handled || isLockedForLoggedInUser"
                    [disabled]="handled || isLockedForLoggedInUser"
                    ondrop="return false;"
                >
                </textarea>
                <jhi-textarea-counter [maxLength]="this.course!.maxComplaintResponseTextLimit!" [content]="complaintResponse.responseText" [visible]="!handled">
                </jhi-textarea-counter>
            </div>
            <div *ngIf="!handled && complaint.complaintType === ComplaintType.COMPLAINT" class="d-flex flex-wrap gap-1 justify-content-between mt-1">
                <button
                    id="acceptComplaintButton"
                    type="button"
                    class="btn btn-success btn-block"
                    (click)="respondToComplaint(true)"
                    [disabled]="isLockedForLoggedInUser || complaintResponseTextLength() > this.course!.maxComplaintResponseTextLimit!"
                    title="{{ 'artemisApp.complaintResponse.updateAssessmentTooltip' | artemisTranslate }}"
                >
                    {{ 'artemisApp.complaintResponse.updateAssessment' | artemisTranslate }}
                </button>
                <button
                    id="rejectComplaintButton"
                    type="button"
                    class="btn btn-danger btn-block"
                    (click)="respondToComplaint(false)"
                    [disabled]="isLockedForLoggedInUser || complaintResponseTextLength() > this.course!.maxComplaintResponseTextLimit!"
                    title="{{ 'artemisApp.complaintResponse.rejectComplaintTooltip' | artemisTranslate }}"
                >
                    {{ 'artemisApp.complaintResponse.rejectComplaint' | artemisTranslate }}
                </button>
                <!-- empty div to create additional spacing after the last button, but only for sm or up -->
                <div class="d-none d-sm-block"></div>
            </div>

            <div *ngIf="!complaint.accepted && complaint.complaintType === ComplaintType.MORE_FEEDBACK" class="row justify-content-end mt-3">
                <div class="col-12">
                    <button
                        id="respondToMoreFeedbackButton"
                        type="button"
                        class="btn btn-success btn-block"
                        [disabled]="isLockedForLoggedInUser"
                        (click)="respondToComplaint(true)"
                        title="{{ 'artemisApp.moreFeedbackResponse.sendResponseTooltip' | artemisTranslate }}"
                    >
                        {{ 'artemisApp.moreFeedbackResponse.provideFeedback' | artemisTranslate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
