:host {
    $feedback-header-fg: #fff;

    .feedback {
        &-header {
            color: $feedback-header-fg;
            background-color: var(--artemis-dark);
        }
    }

    .result-score-chart {
        margin-bottom: 3rem;
    }

    .feedback-footer {
        min-width: 100%;
    }
}
