@import '../../../../content/scss/artemis-mixins';

.edit-mc-question {
    .question-card-header {
        width: 100%;
        padding: 15px 5px 5px;

        .row {
            width: 100%;
        }

        .question-collapse {
            width: 3.25rem;
        }
    }

    .question-card-header-reevaluation {
        width: 100%;
        padding: 0;

        .row {
            width: 100%;
        }

        .question-collapse {
            width: 3.25rem;
        }
    }
}
