.btn-circle {
    width: 50px !important;
    height: 50px !important;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 100px;
}

.btn-circle:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.center-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
