<div>
    <!-- Inject resizing bar -->
    <ng-content select="[resizingbar]"></ng-content>

    <div class="card-header text-white bg-primary" (click)="toggleCollapse($event, toggleCollapseId)">
        <span class="float-right "><fa-icon [icon]="'chevron-right'"></fa-icon></span>
        <h3 class="card-title">
            <fa-icon [icon]="['far', 'list-alt']"></fa-icon>
            <span jhiTranslate="artemisApp.textAssessment.instructions"> &nbsp; Instructions &nbsp; </span>
        </h3>
    </div>

    <div class="card-body">
        <div *ngIf="problemStatement">
            <h4 jhiTranslate="artemisApp.exercise.problemStatement">Problem statement</h4>
            <p class="markdown-preview" [innerHTML]="problemStatement | htmlForMarkdown"></p>

            <hr />
        </div>

        <div *ngIf="sampleSolution">
            <h4 jhiTranslate="artemisApp.exercise.sampleSolution">Sample solution</h4>
            <p class="markdown-preview" [innerHTML]="sampleSolution | htmlForMarkdown"></p>

            <hr />
        </div>

        <div *ngIf="gradingInstructions">
            <h4 jhiTranslate="artemisApp.exercise.gradingInstructions">Grading instructions</h4>
            <p class="markdown-preview" [innerHTML]="gradingInstructions | htmlForMarkdown"></p>
            <!-- Todo: hanya refactor the SGI display -->
            <div *ngFor="let criterion of criteria; let criterionIndex = index">
                <p class="font-weight-bold" [innerHTML]="criterion!.title! | htmlForMarkdown"></p>
                <div
                    class="card-header"
                    *ngFor="let instruction of criterion!.structuredGradingInstructions; let instructionIndex = index"
                    draggable="true"
                    (dragstart)="drag($event, instruction)"
                    id="criterion-{{ criterionIndex }}-instruction-{{ instructionIndex }}"
                >
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td [innerHTML]="instruction.credits"></td>
                                <td [innerHTML]="instruction!.gradingScale! | htmlForMarkdown"></td>
                                <td [innerHTML]="instruction!.instructionDescription! | htmlForMarkdown"></td>
                                <td [innerHTML]="instruction!.feedback! | htmlForMarkdown"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
