
.edit-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

#quiz-title {
    margin-bottom: 8px;
}

.edit-quiz .quiz-options,
.question-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    input,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .checkbox,
    .input-group {
        display: inline-block;
    }

    .input-group > input {
        height: 100%;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }
}

.edit-quiz-footer,
.quiz-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    box-shadow: 0 0 3px rgba(0,0,0,0.7);

    background: white;

    .container {
        height: 100%;
    }
}

.edit-quiz-footer-content,
.quiz-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }
}

.question:first-of-type {
    margin-top: 18px;
}

.question {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    padding: 20px;
    background: #fefefe;

    .mc-question {
        width: 100%;
        box-sizing: border-box;
        border: none;
        margin-bottom: 0;
        padding: 0;
    }

    .delete-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px;
    }

    .delete-button:hover {
        color: red;
    }

    .question-title {
        flex: 1;

        input.form-control {
            width: 100%;
        }
    }

    .markupEditorArea {
        margin: 0 4px;

        .toolbar {
            margin: 4px 0;
        }
    }

    .question-content {
        > div {
            height: 12em;
        }
    }
}

.mc-question {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    padding: 20px;
    background: #fefefe;

    h2 {
        margin: 0;
    }

    p {
        margin: 10px 0;
        font-size: 16px;
    }

    .label {
        cursor: pointer;
    }

    .answer-options {
        margin-top: 20px;
    }

    .answer-option {
        display: flex;
        align-items: center;
        outline: none !important;
        border: 1px solid lightgrey;
        margin: 4px 0;
        padding: 6px 10px;

        .selection {
            width: 36px;
        }

        .content {
            display: flex;
            flex: 1;
            align-items: center;

            .text {
                flex: 1;
                padding-right: 8px;
                font-size: 16px;
            }

            .hint {
                display: flex;
                align-items: center;
                font-size: 18px;
            }
        }

        &:hover {
            background: #fafafa;
        }
    }
}

.quiz-header {
    h3 {
        margin: 0;
    }
}

.colon-suffix:after {
    content: ":";
}

.no-flex-shrink {
    flex-shrink: 0;
}
