
.edit-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

#quiz-title {
    margin-bottom: 8px;
}

.edit-quiz .quiz-options,
.question-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    input,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .checkbox,
    .input-group {
        display: inline-block;
    }

    .input-group > input {
        height: 100%;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }
}
 .statistic-footer {
     position: fixed;
     height: 60px;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 10;

     box-shadow: 0 0 3px rgba(0,0,0,0.7);

     background: white;

     .container {
         height: 100%;
     }
 }
.statistic-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }
}

.edit-quiz-footer,
.quiz-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

    background: white;

    .container {
        height: 100%;
    }
}

.edit-quiz-footer-content,
.quiz-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }
}

.question:first-of-type {
    margin-top: 18px;
}

.question {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    padding: 20px;
    background: #fefefe;

    .mc-question {
        width: 100%;
        box-sizing: border-box;
        border: none;
        margin-bottom: 0;
        padding: 0;
    }

    .delete-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px;
    }

    .delete-button:hover {
        color: red;
    }

    .question-title {
        flex: 1;

        input.form-control {
            width: 100%;
        }
    }

    .markupEditorArea {
        margin: 0 4px;

        .toolbar {
            margin: 4px 0;
        }
    }

    .question-content {
        > div {
            height: 12em;
        }
    }
}

.mc-question {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    padding: 20px;
    background: #fefefe;

    h2 {
        margin: 0 90px 0 0;

        span {
            color: grey;
        }
    }

    p {
        margin: 10px 0;
        font-size: 16px;
    }

    &.result {
        border-color: green;

        &.incorrect {
            border-color: orange;
        }
    }

    .question-score {
        position: absolute;
        top: 20px;
        right: 20px;

        &.result {
            font-weight: bold;
            color: green;

            &.incorrect {
                color: orange;
            }
        }
    }

    .label {
        cursor: pointer;
        margin: 2px 0;
    }

    .answer-options {
        margin-top: 20px;
    }

    .answer-option {
        display: flex;
        align-items: center;
        outline: none !important;
        border: 1px solid lightgrey;
        margin: 4px 0;
        padding: 6px 10px;

        .selection {
            width: 36px;
            margin-left: 16px;
        }

        .content {
            display: flex;
            flex: 1;
            align-items: center;

            .text {
                flex: 1;
                padding-right: 8px;
                font-size: 16px;
            }

            .hint {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-size: 18px;
            }
        }

        &:hover {
            background: #fafafa;
        }

        &.click-disabled {
            cursor: not-allowed;

            &:hover {
                background: inherit;
            }
        }
    }

    &.disabled {
        color: dimgrey;
        background: #fafafa;
    }
}

.quiz-header,
.quiz-content,
.quiz-footer-content {
    font-size: 16px;
}

.quiz-content {
    margin-top: 6px;
    margin-bottom: 120px;

    .question-index {
        padding: 2px 6px;
    }
}

.quiz-footer-content {
    #remaining-time {
        text-align: center;
    }

    #remaining-time-value {
        font-weight: bold;
    }

    #quiz-score {
        text-align: center;
        font-weight: bold;
        color: green;

        &.incorrect {
            color: black;
        }
    }

    .time-warning {
        color: orange;
    }

    .time-critical {
        color: red;
    }
}

.quiz-submitted-overlay {
    position: fixed;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border-color: #3c763d;
}

table.answer-options-result {
    width: 100%;

    .answer-option {
        display: table-row;
    }

    th {
        color: dimgray;
    }

    th, td {
        padding: 6px 10px;
    }

    .solution {
        width: 100px;
    }

    .result-symbol {
        padding: 0;
        color: orange;
        width: 50px;
    }

    .selection {
        width: 36px;
        margin-left: 0;
    }

    .correct {
        color: green;
    }

    .wrong {
        color: red;
    }
}

.colon-suffix:after {
    content: ":";
}

.no-flex-shrink {
    flex-shrink: 0;
}

.re-evaluate-button{
    display: inline-block;
    padding: 4px;
}

.re-evaluate-button:hover {
     color: blue;
 }

.answer-border {
    padding: .0em .0em .0em;
    border-radius: .1em;
    height: auto;
}
