.plagiarism-case {
    display: flex;
    flex-direction: column;
    // JHipster's .card-body has default padding of 1.25
    margin: -1.25rem;

    .case-header {
        background-color: var(--artemis-dark);
        color: white;
        flex-shrink: 0;
        padding: 1.5rem;
    }

    .case-body {
        padding: 1.5rem;
    }

    .verdict-container {
        position: relative;
        max-width: 800px;

        .disabled-overlay {
            position: absolute;
            z-index: 10;
            font-size: 16px;
            top: 0;
            left: 0;
            right: 0;
            height: calc(100% + 10px);
            margin-top: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--plagiarism-verdict-disabled-overlay-color);
        }
    }
}
