<div>
    <div class="d-flex">
        <div class="mb-3">
            <h2 class="mb-1">
                <span>{{ exercise.title }} - </span>{{ filteredTeamsSize }} <span jhiTranslate="artemisApp.team.home.title">Teams</span>
            </h2>
            <div class="d-flex align-items-center">
                <label class="radio-inline mb-0 d-flex align-items-center">
                    <input type="radio" [ngModel]="teamCriteria.filterProp" (click)="updateTeamFilter(FilterProp.ALL)" [value]="FilterProp.ALL" />
                    <span class="ms-1">{{ 'artemisApp.team.filters.all' | artemisTranslate }}</span>
                </label>
                <label class="radio-inline ms-2 mb-0 d-flex align-items-center">
                    <input type="radio" [ngModel]="teamCriteria.filterProp" (click)="updateTeamFilter(FilterProp.OWN)" [value]="FilterProp.OWN" />
                    <span class="ms-1">{{ 'artemisApp.team.filters.own' | artemisTranslate }}</span>
                </label>
            </div>
        </div>
        <div class="d-flex ms-auto">
            <jhi-teams-export-button
                class="me-2"
                *ngIf="exercise.isAtLeastEditor && teams && teams.length > 0"
                [teams]="teams"
                [buttonSize]="ButtonSize.MEDIUM"
            ></jhi-teams-export-button>
            <jhi-teams-import-button
                class="me-2"
                *ngIf="exercise.isAtLeastEditor"
                [exercise]="exercise"
                [teams]="teams"
                [buttonSize]="ButtonSize.MEDIUM"
                (save)="onTeamsImport($event)"
            ></jhi-teams-import-button>
            <jhi-team-update-button [exercise]="exercise" [buttonSize]="ButtonSize.MEDIUM" (save)="onTeamUpdate($event)"></jhi-team-update-button>
        </div>
    </div>
    <jhi-data-table
        [isLoading]="isLoading"
        entityType="team"
        [allEntities]="teams"
        entitiesPerPageTranslation="artemisApp.exercise.resultsPerPage"
        showAllEntitiesTranslation="artemisApp.exercise.showAllResults"
        searchPlaceholderTranslation="artemisApp.exercise.searchForTeams"
        [searchFields]="['name', 'shortName', 'students.name', 'students.login', 'owner.name', 'owner.login']"
        [searchTextFromEntity]="searchTextFromTeam"
        [searchResultFormatter]="searchResultFormatter"
        (entitiesSizeChange)="handleTeamsSizeChange($event)"
    >
        <ng-template let-settings="settings" let-controls="controls">
            <ngx-datatable
                class="bootstrap"
                [limit]="settings.limit"
                [sortType]="settings.sortType"
                [columnMode]="settings.columnMode"
                [headerHeight]="settings.headerHeight"
                [footerHeight]="settings.footerHeight"
                [rowHeight]="settings.rowHeight"
                [rows]="settings.rows"
                [rowClass]="settings.rowClass"
                [scrollbarH]="settings.scrollbarH"
            >
                <ngx-datatable-column prop="id" [minWidth]="60" [width]="60" [maxWidth]="60">
                    <ng-template ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper" (click)="controls.onSort('id')">
                            <span class="datatable-header-cell-label bold sortable" jhiTranslate="global.field.id"> ID </span>
                            <fa-icon [icon]="controls.iconForSortPropField('id')"></fa-icon>
                        </span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value">
                        <a [routerLink]="['/course-management', exercise.course?.id, 'exercises', exercise.id, 'teams', value]">
                            {{ value }}
                        </a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="name" [minWidth]="100" [width]="120" [maxWidth]="160">
                    <ng-template ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper" (click)="controls.onSort('name')">
                            <span class="datatable-header-cell-label bold sortable" jhiTranslate="artemisApp.team.name.label"> Name </span>
                            <fa-icon [icon]="controls.iconForSortPropField('name')"></fa-icon>
                        </span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value">
                        <span>{{ value }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [minWidth]="100" [width]="120" [maxWidth]="160">
                    <ng-template ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper" (click)="controls.onSort('shortName')">
                            <span class="datatable-header-cell-label bold sortable" jhiTranslate="artemisApp.team.shortName.label"> Short Name </span>
                            <fa-icon [icon]="controls.iconForSortPropField('shortName')"></fa-icon>
                        </span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="row">
                        <a [routerLink]="['/course-management', exercise.course?.id, 'exercises', exercise.id, 'teams', value.id]">
                            {{ value.shortName }}
                        </a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="owner" [minWidth]="140" [width]="160">
                    <ng-template ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper" (click)="controls.onSort('owner.name')">
                            <span class="datatable-header-cell-label bold sortable" jhiTranslate="artemisApp.team.tutor"> Tutor </span>
                            <fa-icon [icon]="controls.iconForSortPropField('owner.name')"></fa-icon>
                        </span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value">
                        <a *ngIf="isAdmin" [routerLink]="['/admin', 'user-management', value?.login]"> {{ value?.name }}</a>
                        <a *ngIf="!isAdmin && value" [href]="'mailto:' + value?.email">{{ value?.name }}</a>
                        <span *ngIf="!isAdmin && !value" class="font-weight-bold" jhiTranslate="artemisApp.team.detail.noOwner">No tutor</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="students" [minWidth]="200" [width]="600">
                    <ng-template ngx-datatable-header-template>
                        <span class="datatable-header-cell-wrapper" style="cursor: text">
                            <span class="datatable-header-cell-label bold" jhiTranslate="artemisApp.team.students"> Students </span>
                        </span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value">
                        <jhi-team-students-list [students]="value" [renderLinks]="isAdmin"></jhi-team-students-list>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="" [minWidth]="220" [width]="220" [maxWidth]="220">
                    <ng-template ngx-datatable-cell-template let-value="row">
                        <div class="w-100 text-end">
                            <jhi-team-update-button
                                *ngIf="exercise.isAtLeastInstructor || value.owner?.id === currentUser.id"
                                [exercise]="exercise"
                                [team]="value"
                                (save)="onTeamUpdate($event)"
                            ></jhi-team-update-button>
                            <jhi-team-delete-button
                                class="ms-1"
                                *ngIf="exercise.isAtLeastInstructor"
                                [exercise]="exercise"
                                [team]="value"
                                (delete)="onTeamDelete($event)"
                            ></jhi-team-delete-button>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </ng-template>
    </jhi-data-table>
</div>
