.date-tooltip {
    width: 115px !important;
}

.team-short-name {
    padding: 0.3rem 0.6rem 0;
    background: var(--team-short-name-background);
    border-radius: 3px;
    font-size: 100%;
    line-height: 1.2;
    color: var(--team-short-name-color);
}
