<div class="p-4">
    <jhi-alert></jhi-alert>

    <div class="row" [ngClass]="{'align-items-center': submission?.submitted}">
        <div class="col-12 col-lg-8">
            <h2>
                Text Editor <span *ngIf="textExercise">for Exercise: {{textExercise.title}}</span>
            </h2>
        </div>
        <div class="col-12 col-lg-4 text-right">
            <div *ngIf="participation"><jhi-result [participation]="participation"></jhi-result></div><br>
            <button class="btn btn-primary mr-2" (click)="saveText()" [hidden]="submission?.submitted" [disabled]="isSaving">
                <ng-container *ngIf="!isSaving">
                    <fa-icon icon="save"></fa-icon>
                    <span jhiTranslate="entity.action.save">Save</span>
                </ng-container>
                <ng-container *ngIf="isSaving">
                    <fa-icon icon="sync"></fa-icon>
                    <span>Saving...</span>
                </ng-container>
            </button>
            <button class="btn btn-success" (click)="submit()"
                    [disabled]="!submission"
                    *ngIf="!submission?.submitted  && isActive">Submit</button>
            <button class="btn btn-warning" (click)="submit()"
                    [disabled]="!submission"
                    *ngIf="!submission?.submitted && !isActive">Submit (deadline missed)</button>
        </div>
    </div><br>

    <div class="row" *ngIf="textExercise">
        <div class="col-9">
            <p class="mb-3"><span><strong>Problem Statement:</strong></span> {{ textExercise.problemStatement }}</p>
        </div>
        <div class="col-3 text-right" *ngIf="!submission?.submitted"><p><strong>Max. Score: {{ textExercise.maxScore }}</strong></p></div>
    </div>

    <div class="row">
        <div class="col-12" *ngIf="!result; else hasFeedback">
            <textarea [(ngModel)]="answer" style="width: 100%; height: 50vh;" [readonly]="submission?.submitted" [disabled]="submission?.submitted"></textarea>
        </div>

        <ng-template #hasFeedback>
            <div class="col-sm-12 col-md-7 col-xl-8 mb-sm-3">
                <jhi-highlighted-text-area [submissionText]="answer" [assessments]="result.feedbacks"></jhi-highlighted-text-area>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-4" *ngIf="submission?.submitted && result && result.feedbacks">
                <h4>Assessment</h4>
                <ng-container *ngFor="let feedback of result.feedbacks; let i = index">
                    <jhi-text-editor-score-card [feedback]="feedback" [highlightColor]="getColorForIndex(i)"></jhi-text-editor-score-card>
                </ng-container>
            </div>
        </ng-template>
    </div>

    <div class="row" *ngIf="hasFeedback">
        <div class="col-6">
            <h3>Complaints</h3>
            <p>You can submit a complaint if you feel like the assessment hasn't been fair: you will have the chance to describe what do you think is wrong, and why the submission should be reevaluated. The reevaluation will be performed by a different tutor.</p>

            <button class="btn btn-warning" (click)="showComplaintForm = !showComplaintForm">Submit complaint</button>
        </div>

        <div class="col-6">
            <h3>More feedback</h3>
            <p>If something is not clear enough, or you need more explanations, request the tutor to give you more feedback</p>
            <button class="btn btn-default">Request more feedback</button>
        </div>
    </div>

    <div class="row" *ngIf="showComplaintForm">
        <jhi-complaint-form></jhi-complaint-form>
    </div>
</div>
