.card {
    // best possible height to fit header, information, and manage course button: 80px header + 200px card content
    height: 283px;
    // ensure the card takes the full width of its column in the container
    width: 100%;
    transition: transform 0.2s linear;

    &:hover {
        transform: scale(1.012);
        background-color: var(--hover-slightly-darker-body-bg);
    }

    .card-body {
        .information-box-wrapper {
            height: 135px;
        }

        .chart-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .chart-text {
                position: absolute;
            }

            .chart-level {
                z-index: 2;
                cursor: pointer;
            }
        }

        .btn-wrapper {
            // needed, otherwise button won't work due to stretched-link class
            z-index: 2;
            position: relative;
        }

        .exercise-title {
            display: inline-block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.container {
    max-width: unset;
}

jhi-secured-image {
    ::ng-deep img {
        border-radius: 50%;
        height: 65px;
        width: auto;
    }
}

.card-header-title {
    max-width: 280px;
}
