.card-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.assessment-label > label {
    float: left;
}

fa-icon.exclamation-icon {
    width: 16px;
    margin-top: -6px;
}

.is-suggestion .card-header,
.is-suggestion .card-body {
    background-color: var(--feedback-suggestions-background);
}

.is-suggestion input,
.is-suggestion textarea {
    background-color: var(--feedback-suggestions-input-background);
}

/* Slight opacity for suggestions until they are hovered */
.is-suggestion .card-body > * {
    opacity: 0.6; /* grey out the suggestion content to indicate that it is not saved yet */
    transition: opacity 0.2s ease-in-out;
}

.is-suggestion:hover .card-body > * {
    opacity: 1; /* make the suggestion more readable on hover */
}

.suggestion-action-buttons button {
    width: fit-content;
}

.assessment-label {
    padding-left: 5px;
    padding-right: 5px;
}
