$result-element-size: 75px;
$result-icon-size: 25px;
.result-history-wrapper {
    display: flex;
    width: 100%;

    .result-history-element {
        display: flex;
        flex: 2;

        .result-score {
            width: $result-element-size;

            .result-score-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: $result-icon-size;
                height: $result-icon-size;
                border-radius: $result-icon-size;
                background-color: #0f6ab4;
                color: white;

                &.success {
                    background-color: var(--success);
                }

                &.warning {
                    background-color: var(--warning);
                }

                &.danger {
                    background-color: var(--danger);
                }
            }

            .result-score-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: -39px;
                margin-right: -39px;
                margin-top: 5px;
            }
        }

        .result-divider {
            width: 300%;
            border-top: 1px solid;
            margin-top: $result-icon-size * 0.5;
        }

        &:first-child {
            flex: 1;
        }

        &:last-child {
            flex: 1;
            .result-divider {
                border-top: 1px dashed;
            }
        }

        &.previous-history-element {
            .result-divider {
                border-top: 1px dashed;
                width: 100%;
            }
        }
    }
}
