<div class="row">
    <div class="col-12 mb-2">
        <div class="alert alert-info">
            {{ 'artemisApp.generic.timeZone' | artemisTranslate: { timeZone } }}
        </div>
    </div>
    <div class="col-12">
        @if (form) {
            <form class="row" [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="btn-group" role="group">
                    <input
                        type="radio"
                        class="btn-check"
                        name="timeFrame"
                        id="FreePeriod"
                        autocomplete="off"
                        [checked]="timeFrame === TimeFrame.Period"
                        (click)="setTimeFrame(TimeFrame.Period)"
                    />
                    <label class="btn btn-outline-primary" for="FreePeriod">{{ 'artemisApp.forms.tutorialFreePeriodForm.timeFrame.period' | artemisTranslate }}</label>

                    <input
                        type="radio"
                        class="btn-check"
                        name="timeFrame"
                        id="FreeDay"
                        autocomplete="off"
                        [checked]="timeFrame === TimeFrame.Day"
                        (click)="setTimeFrame(TimeFrame.Day)"
                    />
                    <label class="btn btn-outline-primary" for="FreeDay">{{ 'artemisApp.forms.tutorialFreePeriodForm.timeFrame.day' | artemisTranslate }}</label>

                    <input
                        type="radio"
                        class="btn-check"
                        name="timeFrame"
                        id="FreePeriodWithinDay"
                        autocomplete="off"
                        [checked]="timeFrame === TimeFrame.PeriodWithinDay"
                        (click)="setTimeFrame(TimeFrame.PeriodWithinDay)"
                    />
                    <label class="btn btn-outline-primary" for="FreePeriodWithinDay">{{
                        'artemisApp.forms.tutorialFreePeriodForm.timeFrame.periodWithinDay' | artemisTranslate
                    }}</label>
                </div>

                <!-- Date -->
                <div>
                    <label class="form-label" for="startDate">
                        {{
                            timeFrame !== TimeFrame.Period
                                ? ('artemisApp.forms.tutorialFreePeriodForm.dateInput.label' | artemisTranslate)
                                : ('artemisApp.forms.tutorialFreePeriodForm.dateInput.labelStart' | artemisTranslate)
                        }}
                    </label>
                    <div class="input-group">
                        <input
                            name="startDate"
                            id="startDate"
                            required
                            [class.is-invalid]="isStartDateInvalid"
                            [owlDateTimeTrigger]="startDatePicker"
                            formControlName="startDate"
                            [owlDateTime]="startDatePicker"
                            readonly
                            class="form-control"
                            jhiOwlDateTimeFormat
                        />
                        <button type="button" class="btn btn-secondary" [owlDateTimeTrigger]="startDatePicker"><fa-icon [icon]="faCalendarAlt" /></button>
                        <owl-date-time [firstDayOfWeek]="1" datePickerInput [pickerType]="'calendar'" #startDatePicker [pickerMode]="'dialog'" />
                    </div>
                    @if (startDateControl?.invalid && (startDateControl?.dirty || startDateControl?.touched) && startDateControl?.errors?.required) {
                        <div class="alert alert-danger">
                            {{ 'artemisApp.forms.tutorialFreePeriodForm.dateInput.requiredDateError' | artemisTranslate }}
                        </div>
                    }
                </div>

                @if (timeFrame === TimeFrame.Period) {
                    <label class="form-label" for="endDate">{{ 'artemisApp.forms.tutorialFreePeriodForm.dateInput.labelEnd' | artemisTranslate }}</label>
                    <div class="input-group">
                        <input
                            name="endDate"
                            id="endDate"
                            required
                            [class.is-invalid]="isEndDateInvalid"
                            [owlDateTimeTrigger]="endDatePicker"
                            formControlName="endDate"
                            [owlDateTime]="endDatePicker"
                            readonly
                            class="form-control"
                            jhiOwlDateTimeFormat
                        />
                        <button type="button" class="btn btn-secondary" [owlDateTimeTrigger]="endDatePicker"><fa-icon [icon]="faCalendarAlt" /></button>
                        <owl-date-time [firstDayOfWeek]="1" datePickerInput [pickerType]="'calendar'" #endDatePicker [pickerMode]="'dialog'" />
                    </div>
                    @if (endDateControl?.invalid && (endDateControl?.dirty || endDateControl?.touched) && endDateControl?.errors?.required) {
                        <div class="alert alert-danger">
                            {{ 'artemisApp.forms.tutorialFreePeriodForm.dateInput.requiredEndDateError' | artemisTranslate }}
                        </div>
                    } @else if (endDateControl?.touched && startDateControl?.touched && !isStartBeforeEnd) {
                        <div class="alert alert-danger">
                            {{ 'artemisApp.forms.tutorialFreePeriodForm.dateInput.invalidEndDateError' | artemisTranslate }}
                        </div>
                    }
                } @else if (timeFrame === TimeFrame.PeriodWithinDay) {
                    <label class="form-label" for="startTime">{{ 'artemisApp.forms.tutorialFreePeriodForm.dateInput.labelStartTime' | artemisTranslate }}</label>
                    <div class="input-group">
                        <input
                            name="startTime"
                            id="startTime"
                            required
                            [class.is-invalid]="isStartTimeInvalid"
                            [owlDateTimeTrigger]="startTimePicker"
                            formControlName="startTime"
                            [owlDateTime]="startTimePicker"
                            readonly
                            class="form-control"
                            jhiOwlDateTimeFormat
                        />
                        <owl-date-time timePickerInput [pickerType]="'timer'" #startTimePicker [pickerMode]="'dialog'" />
                    </div>

                    <label class="form-label" for="endTime">{{ 'artemisApp.forms.tutorialFreePeriodForm.dateInput.labelEndTime' | artemisTranslate }}</label>
                    <div class="input-group">
                        <input
                            name="endTime"
                            id="endTime"
                            required
                            [class.is-invalid]="isEndTimeInvalid"
                            [owlDateTimeTrigger]="endTimePicker"
                            formControlName="endTime"
                            [owlDateTime]="endTimePicker"
                            readonly
                            class="form-control"
                            jhiOwlDateTimeFormat
                        />
                        <owl-date-time [pickerType]="'timer'" #endTimePicker [pickerMode]="'dialog'" />
                    </div>
                    @if ((endTimeControl?.dirty || startTimeControl?.dirty) && startTimeControl && !isStartBeforeEnd) {
                        <div class="alert alert-danger">
                            {{ 'artemisApp.forms.tutorialFreePeriodForm.dateInput.invalidEndDateError' | artemisTranslate }}
                        </div>
                    }
                }
                <!-- Reason -->
                <div class="form-group">
                    <label for="reason">{{ 'artemisApp.forms.tutorialFreePeriodForm.reasonInput.label' | artemisTranslate }}</label>
                    <textarea
                        class="form-control"
                        id="reason"
                        rows="6"
                        formControlName="reason"
                        [placeholder]="'artemisApp.forms.tutorialFreePeriodForm.reasonInput.placeholder' | artemisTranslate"
                    ></textarea>
                    @if (reasonControl?.invalid && (reasonControl?.dirty || (reasonControl?.touched && reasonControl?.errors?.maxlength))) {
                        <div class="alert alert-danger">
                            {{ 'artemisApp.forms.tutorialFreePeriodForm.reasonInput.maxLengthValidationError' | artemisTranslate: { max: '256' } }}
                        </div>
                    }
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button id="submitButton" class="btn btn-primary" type="submit" [disabled]="!isSubmitPossible">
                            <span>{{ (isEditMode ? 'global.generic.edit' : 'global.generic.create') | artemisTranslate }}</span>
                        </button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>
