.diff-line-stat {
    white-space: nowrap;

    .diff-block {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 1px;
    }

    .diff-block-bar {
        font-size: 0;
    }
}
