/*!* ==========================================================================
Ace Editor
========================================================================== *!*/

.code-editor-ace {
    flex: 1 1 auto;
    height: 100%;
    &__content {
        padding: 0;
        &__editor {
            height: 100%;
        }
    }
}
