@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'src/main/webapp/app/shared/metis/metis.component';

.answer-post {
    border-radius: 7px;
    background-color: transparent;

    transition: background-color 0.2s ease-in-out;
}

.answer-post-content-margin {
    padding-left: 2.65rem;
}

.answer-post.is-saved {
    background-color: rgba($primary, 0.1);
}

@include media-breakpoint-down(sm) {
    .answer-post-content-margin {
        padding-left: 0.5rem;
    }
}
