<ng-container>
    <button
        jhi-exercise-action-button
        [buttonIcon]="faDownload"
        class="clone-repository"
        [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
        [buttonLabel]="'artemisApp.exerciseActions.cloneRepository' | artemisTranslate"
        [buttonLoading]="loading"
        [smallButton]="smallButtons"
        [hideLabelMobile]="false"
        [ngbPopover]="popContent"
        [autoClose]="'outside'"
        placement="right auto"
        container="body"
    ></button>
    <ng-template #popContent>
        @if (useSsh && !localVCEnabled) {
            <div class="alert alert-warning" [innerHTML]="getSshKeyTip()"></div>
        }
        @if (participations && participations.length > 1) {
            <div class="form-check form-switch">
                <input mdbCheckbox id="switch-practice" class="form-check-input" type="checkbox" [checked]="isPracticeMode" (click)="switchPracticeMode()" />
                <label class="form-check-label" for="switch-practice">
                    {{ 'artemisApp.exerciseActions.practiceMode.title' | artemisTranslate }}
                </label>
            </div>
        }
        <h5>{{ cloneHeadline | artemisTranslate }}</h5>
        <div class="d-flex" style="margin: 0; max-width: 100%">
            @if (sshEnabled) {
                <div aria-label="Button group with nested dropdown" class="btn-group" ngbDropdown role="group" style="margin-bottom: 10px">
                    <button class="btn btn-primary btn-sm dropdown-toggle https-or-ssh-button" ngbDropdownToggle type="button">
                        {{ useSsh ? 'SSH' : 'HTTPS' }}
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu style="min-width: 100%">
                        <a (click)="setUseSSH(false)" class="dropdown-item {{ !useSsh ? 'active' : '' }}" id="useHTTPSButton">HTTPS</a>
                        <a (click)="setUseSSH(true)" class="dropdown-item {{ useSsh ? 'active' : '' }}" id="useSSHButton">SSH</a>
                    </div>
                </div>
            }
            <!-- 'url-box-remove-line-left': Remove round edges and edge on the left side (due to dropdown to select ssh or https)
           `url-box-remove-line-right`: Remove round edges and edge on the right side (not available for LocalVC) -->
            <pre
                class="clone-url"
                [ngClass]="{
                    'url-box-remove-line-left': sshEnabled && ((useSsh && !localVCEnabled) || !useSsh),
                    'url-box-remove-line-right': !localVCEnabled && !(sshEnabled && ((useSsh && !localVCEnabled) || !useSsh))
                }"
                [cdkCopyToClipboard]="getHttpOrSshRepositoryUri(false)"
                (cdkCopyToClipboardCopied)="onCopyFinished($event)"
                >{{ getHttpOrSshRepositoryUri() }} </pre
            >
            @if (!useSsh && !localVCEnabled) {
                <div class="d-flex align-items-center">
                    <a
                        style="flex: 1"
                        class="btn btn-secondary btn-sm me-2 open-repository-button"
                        [href]="getHttpRepositoryUri() | safeUrl"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <fa-icon [icon]="faExternalLink" />
                    </a>
                </div>
            }
        </div>
        @if (repositoryPassword) {
            <p>
                {{ 'artemisApp.exerciseActions.repositoryPassword' | artemisTranslate }} <code class="password">{{ repositoryPassword }}</code>
                {{ 'artemisApp.exerciseActions.hoverToShow' | artemisTranslate }}
            </p>
        }
        <button
            [cdkCopyToClipboard]="getHttpOrSshRepositoryUri(false)"
            (cdkCopyToClipboardCopied)="onCopyFinished($event)"
            [class.btn-success]="wasCopied"
            class="btn btn-primary btn-sm me-2"
            type="button"
            style="min-width: 100px"
        >
            {{ wasCopied ? ('artemisApp.exerciseActions.copiedUrl' | artemisTranslate) : ('artemisApp.exerciseActions.copyUrl' | artemisTranslate) }}
        </button>
        @if (jetbrainsIdea) {
            <a class="btn btn-primary btn-sm me-2" [href]="buildJetbrainsUrl() | safeUrl" [jhiTranslate]="'artemisApp.exerciseActions.jetbrains.clone' + jetbrainsIdea" />
        }
        <a class="btn btn-primary btn-sm" target="hidden-iframe" [href]="buildSourceTreeUrl() | safeUrl" jhiTranslate="artemisApp.exerciseActions.cloneSourceTree.button" />
        <iframe name="hidden-iframe" style="visibility: hidden; position: absolute"></iframe>
        <jhi-help-icon placement="right auto" text="artemisApp.exerciseActions.cloneSourceTree.helpIcon" />
    </ng-template>
</ng-container>
