.indented-list {
    list-style-type: none;
}

.working-time-form {
    width: fit-content;
}

.form-number-input {
    width: 100px;
}

.exam-session-table-wrapper {
    max-width: 100%;
    overflow-x: auto;

    thead {
        white-space: nowrap;
    }

    .user-agent {
        min-width: 350px;
    }
}
