// this had to be added as the tag-input dropdown would otherwise not disappear when clicking somewhere else in the modal
.ng2-dropdown-menu {
    position: absolute !important;
    left: 2% !important;
    top: 100% !important;
}
