.post-tag-list {
    width: 100%;

    .post-tag {
        padding: 0 !important;
        height: 30px !important;
        border-radius: 0.25rem !important;
        background: transparent !important;

        .custom-tag {
            padding: 0.15rem 0.45rem;
            background: var(--metis-blue);
            border-radius: 0.25rem;
            color: var(--colored-btn-font);

            &:hover {
                opacity: 0.8;
            }

            .post-tag-remove {
                color: var(--colored-btn-font);
            }
        }
    }

    .post-tag-input {
        height: 30px;
    }
}

.tag-option {
    background: var(--metis-post-tag-selector-tag-option-background);

    &:hover {
        background: var(--metis-post-tag-selector-tag-option-hover-background);
    }
}
