@import '../../_overview-vars.scss';

.text-unit {
    border: 1px solid $blue-border-color;
    border-radius: 3px;
    min-width: 100%;
}

.text-unit:hover {
    box-shadow: 0 2px 4px 0 #3e8acc;
}

.text-unit-header {
    min-width: 100%;
    background-color: $light-background-color;
    cursor: pointer;
}
