<div class="row" *ngIf="quizExercise">
    <div class="col-md-8 offset-md-2 text-center">
        <h3>{{quizExercise.title}}</h3>

        <button *jhiHasAnyAuthority="['ROLE_TA', 'ROLE_ADMIN', 'ROLE_INSTRUCTOR']" class="btn btn-primary btn-sm float-right"
            (click)="recalculate()">
            <i class="fa fa-refresh fa-fw"></i>&nbsp;Recalculate Statistics
        </button>

        <div class="text-center">
            <p class="text-left" style="font-size: large"><span jhiTranslate="showStatistic.quizPointStatistic.maxScore"></span><span>{{maxScore}}</span></p>
            <div class="row">
                <div class="col-md-8 text-left"><p style="font-size: large">
                    <span *ngIf="rated" jhiTranslate="showStatistic.quizPointStatistic.titleRated"></span>
                    <span *ngIf="!rated" jhiTranslate="showStatistic.quizPointStatistic.titleUnrated"></span></p></div>
                <div class="col-md-3 text-right">
                    <p style="font-size: large"><span>{{participants}} </span><span jhiTranslate="showStatistic.participants"></span></p>
                </div>
            </div>
            <canvas baseChart
                    [datasets]="datasets" [labels]="labels" [options]="options" [chartType]="chartType" [colors]="colors">
            </canvas>


            <div class="text-center">
                <button (click)="switchRated()" type="button" class="btn btn-primary">
                    <span class="fa fa-refresh"></span>&nbsp;
                    <span *ngIf="rated" jhiTranslate="showStatistic.switchToUnrated"></span>
                    <span *ngIf="!rated" jhiTranslate="showStatistic.switchToRated"></span></button>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="statistic-footer">
        <div class="container">
            <div class="edit-quiz-footer-content">
                <div class="form-group">
                    <div class="d-inline-block" ngbDropdown placement="top-right">
                        <button class="btn btn-primary btn-sm" ngbDropdownToggle>
                            <span class="fa fa-list-alt"></span>
                            <span class="hidden-xs hidden-sm" jhiTranslate="showStatistic.chooseStatistic"></span>
                            <span class="caret"></span>
                        </button>
                        <div ngbDropdownMenu>
                            <button class="dropdown-item"
                                    routerLink="/quiz/{{quizExercise.id}}/quiz-point-statistic"
                                    jhiTranslate="showStatistic.quizPointStatisticTitle"
                            ></button>
                            <button class="dropdown-item"
                                    routerLink="/quiz/{{quizExercise.id}}/quiz-statistic"
                                    jhiTranslate="showStatistic.quizStatisticTitle"
                            ></button>
                            <div *ngIf="quizExercise.questions">
                                <div *ngFor="let question of quizExercise.questions; let i = index">
                                    <button *ngIf="question.type === MULTIPLE_CHOICE"
                                            class="dropdown-item"
                                            routerLink="/quiz/{{quizExercise.id}}/multiple-choice-question-statistic/{{question.id}}"
                                    >{{i + 1}}. {{question.title}}</button>
                                    <button *ngIf="question.type === DRAG_AND_DROP"
                                            class="dropdown-item"
                                            routerLink="/quiz/{{quizExercise.id}}/drag-and-drop-question-statistic/{{question.id}}"
                                    >{{i + 1}}. {{question.title}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group flex-btn-group-container">
                        <button (click)=previousStatistic()
                                jhiTranslate="showStatistic.previousStatistic"
                                class="btn btn-default"
                        ></button>
                        <button routerLink="/quiz/{{quizExercise.id}}/quiz-statistic"
                                jhiTranslate="showStatistic.nextStatistic"
                                class="btn btn-default"
                        ></button>
                    </div>
                </div>
                <div class="form-group" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INSTRUCTOR', 'ROLE_TA']">
                    <button *ngIf="!quizExercise.quizPointStatistic.released" (click)=releaseStatistics(true);
                            jhiTranslate="showStatistic.releaseStatistic"
                            [disabled]="releaseButtonDisabled()"
                            class="btn btn-success"
                    ></button>
                    <button *ngIf="quizExercise.quizPointStatistic.released" (click)=releaseStatistics(false);
                            jhiTranslate="showStatistic.rereleaseStatistic"
                            class="btn btn-danger"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
