<div class="sidebar-wrap">
    <div class="d-flex sidebar rounded-3 px-2 sidebar-width hide-on_print" [ngClass]="{ collapsed: isCollapsed }">
        <div class="w-100 bg-module">
            <div class="sidebar-content" [ngClass]="{ collapsed: isCollapsed }">
                @if (searchFieldEnabled) {
                    <div class="mt-2" [ngClass]="{ 'd-flex align-items-center': inCommunication() }">
                        <jhi-search-filter (newSearchEvent)="setSearchValue($event)" class="flex-grow-1 search-filter" />
                        @if (showFilter) {
                            <div class="ms-2 mt-2 text-primary">
                                <a (click)="openFilterExercisesDialog()">
                                    @if (isFilterActive) {
                                        <fa-icon [icon]="faFilterCurrentlyApplied" />
                                    } @else {
                                        <fa-icon [icon]="faFilter" />
                                    }
                                    <span jhiTranslate="artemisApp.courseOverview.exerciseFilter.filter"></span>
                                </a>
                            </div>
                        }

                        @if (inCommunication()) {
                            <div class="ms-2" ngbDropdown>
                                <button type="button" class="btn btn-primary btn-sm square-button" ngbDropdownToggle>
                                    <fa-icon [icon]="faPlusCircle" class="item-icon" />
                                </button>

                                <div ngbDropdownMenu>
                                    @if (sidebarData?.messagingEnabled) {
                                        <button (click)="createDirectChat()" class="p-2" ngbDropdownItem>
                                            <fa-icon [icon]="faUser" class="item-icon" [fixedWidth]="true" />
                                            <span jhiTranslate="artemisApp.courseOverview.sidebar.createDirectChat"></span>
                                        </button>
                                        <button (click)="createGroupChat()" class="p-2" ngbDropdownItem>
                                            <fa-icon [icon]="faPeopleGroup" class="item-icon" [fixedWidth]="true" />
                                            <span jhiTranslate="artemisApp.courseOverview.sidebar.createGroupChat"></span>
                                        </button>
                                    }
                                    @if (sidebarData?.canCreateChannel) {
                                        <button (click)="createNewChannel()" class="p-2 createChannel" ngbDropdownItem>
                                            <fa-icon [icon]="faHashtag" class="item-icon" />
                                            <span jhiTranslate="artemisApp.courseOverview.sidebar.createChannel"></span>
                                        </button>
                                    }
                                    <button (click)="browseChannels()" class="p-2" ngbDropdownItem>
                                        <fa-icon [icon]="faSearch" class="item-icon" />
                                        <span jhiTranslate="artemisApp.courseOverview.sidebar.browseChannels"></span>
                                    </button>
                                    <button (click)="markAllMessagesAsChecked()" class="p-2" ngbDropdownItem>
                                        <fa-icon [icon]="faCheckDouble" class="item-icon" />
                                        <span jhiTranslate="artemisApp.courseOverview.sidebar.setChannelAsRead"></span>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                }

                @if (!sidebarData?.ungroupedData || !(sidebarData?.ungroupedData | searchFilter: ['title', 'type'] : searchValue)?.length) {
                    <div
                        [jhiTranslate]="
                            (sidebarDataBeforeFiltering?.ungroupedData?.length ?? 0) > 0 && sidebarData.ungroupedData?.length === 0
                                ? 'artemisApp.courseOverview.general.noElementFoundWithAppliedFilter'
                                : 'artemisApp.courseOverview.general.noDataFound'
                        "
                        class="mt-2 text-center scrollable-item-content"
                    ></div>
                } @else {
                    <div
                        class="scrollable-item-content my-2"
                        [ngClass]="{
                            'filter-height': sidebarData?.sidebarType === 'exercise',
                            'channel-search-height': sidebarData?.sidebarType === 'conversation',
                        }"
                    >
                        @if (sidebarData?.groupByCategory && sidebarData.groupedData) {
                            <jhi-sidebar-accordion
                                [searchValue]="searchValue"
                                [groupedData]="sidebarData.groupedData"
                                [sidebarType]="sidebarData.sidebarType"
                                [storageId]="sidebarData.storageId"
                                [routeParams]="routeParams"
                                [courseId]="courseId"
                                [itemSelected]="itemSelected"
                                [showLeadingIcon]="sidebarData.showAccordionLeadingIcon ?? false"
                                [channelTypeIcon]="channelTypeIcon"
                                [sidebarItemAlwaysShow]="sidebarItemAlwaysShow()"
                                [collapseState]="collapseState"
                                (onUpdateSidebar)="onUpdateSidebar.emit()"
                                [isFilterActive]="isFilterActive"
                            />
                        } @else {
                            @for (sidebarItem of sidebarData?.ungroupedData | searchFilter: ['title', 'type'] : searchValue; track sidebarItem.id; let last = $last) {
                                <div [ngClass]="{ 'mb-2': !last }">
                                    <div
                                        jhiSidebarCard
                                        [size]="sidebarItem.size"
                                        [itemSelected]="itemSelected"
                                        [sidebarType]="sidebarData.sidebarType"
                                        [sidebarItem]="sidebarItem"
                                    ></div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
