.search-height-normal {
    --search-height: 97px;
}

.search-height-conversations {
    --search-height: 152px;
}

.scrollable-item-content {
    overflow-y: auto;
    height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height) - var(--search-height));
    &.content-height-dev {
        height: calc(100vh - var(--sidebar-footer-height-dev) - var(--header-height) - var(--search-height));
    }
    @media (max-width: 768px) {
        height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height) - var(--search-height)) !important;
    }
}

.sidebar {
    background-color: var(--module-bg);
    height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height));
    &.sidebar-height-dev {
        height: calc(100vh - var(--sidebar-footer-height-dev) - var(--header-height));
    }
    @media (max-width: 768px) {
        height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height)) !important;
    }
}

.bg-module {
    background-color: var(--module-bg);
}

.sidebar-width {
    width: 275px !important;
}

@media print {
    .hide-on_print {
        display: none !important;
    }
}

.dropdown-container,
.btn-primary,
.dropdown-menu,
.dropdown-item {
    box-sizing: border-box;
}

.btn-primary {
    width: 100%;
}

.btn {
    font-size: 0.88em;
}

.item-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--bs-white);
    border: 1px solid var(--bs-gray-400);
    z-index: 1000;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: block;
}

.dropdown-item {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    text-align: left;
    color: var(--neutral-dark);
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-menu .dropdown-item {
    display: flex;
    align-items: start;
    justify-content: left;
    min-width: 100px;
    max-width: 200px;
}
