.search-height-normal {
    --search-height: 97px;
}

.search-height-conversations {
    --search-height: 152px;
}

.scrollable-item-content {
    overflow-y: auto;
    height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height) - var(--search-height));
    &.content-height-dev {
        height: calc(100vh - var(--sidebar-footer-height-dev) - var(--header-height) - var(--search-height));
    }
    @media (max-width: 768px) {
        height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height) - var(--search-height)) !important;
    }
}

.sidebar {
    background-color: var(--module-bg);
    height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height));
    &.sidebar-height-dev {
        height: calc(100vh - var(--sidebar-footer-height-dev) - var(--header-height));
    }
    @media (max-width: 768px) {
        height: calc(100vh - var(--sidebar-footer-height-prod) - var(--header-height)) !important;
    }
}

.bg-module {
    background-color: var(--module-bg);
}

@media print {
    .hide-on_print {
        display: none !important;
    }
}

.item-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    display: flex;
    margin-left: 0.2rem;
}

.square-button {
    width: 45px;
    height: 35px;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
}

.search-filter {
    height: 35px;
}
