.grading-scale-table-row td {
    width: 17%;

    input {
        min-width: 50%;
        background: var(--base-grading-system-input-background);
        color: var(--base-grading-system-input-color);
    }
}
