<div class="row" *ngIf="quizExercise && quizExercise.isEditable">
    <div class="col-lg-12">
        <div class="title">
            <div class="col-sm d-flex align-items-center">
                <h4 *ngIf="!quizExercise.id" id="jhi-text-exercise-heading-create" jhiTranslate="artemisApp.quizExercise.home.createLabel">Create a new Quiz Exercise</h4>
                <h4 *ngIf="!isImport && quizExercise.id" id="jhi-text-exercise-heading-edit" jhiTranslate="artemisApp.quizExercise.home.editLabel">Edit Quiz Exercise</h4>
                <h4 *ngIf="isImport" id="jhi-text-exercise-heading-import" jhiTranslate="artemisApp.quizExercise.home.importLabel">Import Quiz Exercise</h4>
                <jhi-documentation-button [type]="documentationType"></jhi-documentation-button>
            </div>
            <h4>
                <span class="badge bg-info align-text-top float-end">
                    <span jhiTranslate="artemisApp.quizExercise.maxScore"></span>&nbsp;
                    <span class="badge max-score">{{ calculateMaxExerciseScore() }}</span>
                    <span class="sr-only" jhiTranslate="artemisApp.quizExercise.maxScore"></span>
                </span>
            </h4>
        </div>
        <div *ngIf="hasSavedQuizStarted">
            <div class="quiz-is-active-background"></div>
            <div class="quiz-is-active-overlay alert alert-warning">
                <span jhiTranslate="artemisApp.quizExercise.edit.quizHasStarted"></span>
            </div>
        </div>
        <div class="form-group" [hidden]="isImport || !quizExercise.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="quizExercise.id" readonly />
        </div>
        <div class="edit-quiz">
            <form name="editForm" role="form" novalidate>
                <jhi-title-channel-name
                    [title]="quizExercise.title"
                    (titleChange)="updateTitle($event)"
                    [channelName]="quizExercise.channelName"
                    (channelNameChange)="updateChannelName($event)"
                    channelNamePrefix="exercise-"
                    [emphasizeLabels]="true"
                    [hideChannelName]="this.isExamMode || (!this.isImport && this.quizExercise.channelName === undefined)"
                ></jhi-title-channel-name>
            </form>

            <div *ngIf="!isExamMode" class="form-group position-relative">
                <label class="form-control-label" jhiTranslate="artemisApp.exercise.categories">Categories</label>
                <jhi-help-icon text="artemisApp.exercise.categoriesTooltip"></jhi-help-icon>
                <jhi-category-selector
                    [categories]="exerciseCategories"
                    [existingCategories]="existingCategories"
                    (selectedCategories)="updateCategories($event)"
                    (ngModelChange)="cacheValidation()"
                ></jhi-category-selector>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="artemisApp.exercise.difficulty">Difficulty</label>
                        <div>
                            <jhi-difficulty-picker (ngModelChange)="cacheValidation()" [exercise]="quizExercise"></jhi-difficulty-picker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <ng-container *ngIf="!isExamMode">
                            <label for="quiz-duration-minutes" jhiTranslate="artemisApp.quizExercise.duration">Duration</label>
                            <div class="d-flex align-items-center">
                                <input
                                    id="quiz-duration-minutes"
                                    style="width: 70px"
                                    class="form-control me-2"
                                    title="Duration"
                                    type="number"
                                    min="0"
                                    max="600"
                                    [(ngModel)]="duration.minutes"
                                    (ngModelChange)="onDurationChange()"
                                />
                                <span jhiTranslate="artemisApp.quizExercise.minutes"></span>
                                <input
                                    id="quiz-duration-seconds"
                                    style="width: 70px"
                                    class="form-control me-2 ms-2"
                                    title="Duration"
                                    type="number"
                                    max="60"
                                    min="-1"
                                    [(ngModel)]="duration.seconds"
                                    (ngModelChange)="onDurationChange()"
                                />
                                <span jhiTranslate="artemisApp.quizExercise.seconds"></span>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="cbRandomizeOrder" jhiTranslate="artemisApp.quizExercise.options">Options</label>
                        <div class="form-check custom-control custom-checkbox">
                            <input
                                type="checkbox"
                                id="cbRandomizeOrder"
                                class="form-check-input custom-control-input"
                                [(ngModel)]="quizExercise.randomizeQuestionOrder"
                                (ngModelChange)="cacheValidation()"
                            />
                            <label class="form-check-label custom-control-label" for="cbRandomizeOrder" jhiTranslate="artemisApp.quizExercise.randomizeQuestionOrder"> </label>
                        </div>
                        <ng-container *ngIf="!isExamMode">
                            <label for="quizMode" jhiTranslate="artemisApp.quizExercise.quizMode.title" class="colon-suffix no-flex-shrink"></label>
                            <jhi-help-icon text="artemisApp.quizExercise.quizMode.explanation"></jhi-help-icon>
                            <select id="quizMode" class="form-select" [(ngModel)]="quizExercise.quizMode" (ngModelChange)="cacheValidation()">
                                <option [value]="QuizMode.SYNCHRONIZED">{{ 'artemisApp.quizExercise.quizMode.synchronized' | artemisTranslate }}</option>
                                <option [value]="QuizMode.BATCHED">{{ 'artemisApp.quizExercise.quizMode.batched' | artemisTranslate }}</option>
                                <option [value]="QuizMode.INDIVIDUAL">{{ 'artemisApp.quizExercise.quizMode.individual' | artemisTranslate }}</option>
                            </select>
                            <ng-container>
                                <!-- releaseDate works similar to Exam.visibleDate -->
                                <jhi-date-time-picker
                                    id="pick-releaseDate"
                                    class="form-element"
                                    labelName="{{ 'artemisApp.quizExercise.releaseDate' | artemisTranslate }}"
                                    labelTooltip="{{ 'artemisApp.quizExercise.releaseDateExplanation.' + quizExercise.quizMode | artemisTranslate }}"
                                    [(ngModel)]="quizExercise.releaseDate"
                                    (valueChange)="cacheValidation()"
                                    [error]="false"
                                    name="releaseDate"
                                ></jhi-date-time-picker>
                            </ng-container>
                            <ng-container *ngIf="quizExercise.quizMode !== QuizMode.SYNCHRONIZED">
                                <jhi-date-time-picker
                                    id="pick-dueDate"
                                    class="form-element"
                                    name="dueDate"
                                    [error]="!!quizExercise.dueDateError"
                                    labelName="{{ 'artemisApp.exercise.dueDate' | artemisTranslate }}"
                                    (valueChange)="cacheValidation()"
                                    [(ngModel)]="quizExercise.dueDate"
                                ></jhi-date-time-picker>
                                <span *ngIf="quizExercise.dueDateError" class="invalid-feedback">{{ 'artemisApp.quizExercise.dueDateError' | artemisTranslate }}</span>
                            </ng-container>
                            <div class="form-check custom-control custom-checkbox" *ngIf="quizExercise.quizMode === QuizMode.SYNCHRONIZED">
                                <input
                                    type="checkbox"
                                    id="cbScheduleQuizStart"
                                    class="form-check-input custom-control-input"
                                    [(ngModel)]="scheduleQuizStart"
                                    (ngModelChange)="cacheValidation()"
                                />
                                <label class="form-check-label custom-control-label" for="cbScheduleQuizStart" jhiTranslate="artemisApp.quizExercise.setStartTime"> </label>
                                <jhi-help-icon text="artemisApp.quizExercise.startTimeExplanation"></jhi-help-icon>
                            </div>
                            <div class="form-check custom-control custom-checkbox" *ngIf="quizExercise.quizMode === QuizMode.BATCHED && false">
                                <!-- no scheduled batched mode yet -->
                                <jhi-button (click)="addQuizBatch()" [btnType]="ButtonType.DEFAULT" title="artemisApp.quizExercise.addBatch"></jhi-button>
                            </div>
                            <ng-container *ngIf="quizExercise.quizBatches && quizExercise.quizMode === QuizMode.SYNCHRONIZED">
                                <!-- Change "quizExercise.quizMode === QuizMode.SYNCHRONIZED" above to "quizExercise.quizMode !== QuizMode.INDIVIDUAL" when scheduled batched mode is active -->
                                <div *ngFor="let quizBatch of quizExercise.quizBatches; let first = first">
                                    <!-- startTime works similar to Exam.startDate -->
                                    <jhi-date-time-picker
                                        class="form-element"
                                        name="startTime"
                                        [shouldDisplayTimeZoneWarning]="first"
                                        labelName="{{ 'artemisApp.quizExercise.startTime' | artemisTranslate }}"
                                        [error]="quizBatch.startTimeError ?? false"
                                        (valueChange)="cacheValidation()"
                                        [(ngModel)]="quizBatch.startTime"
                                    ></jhi-date-time-picker>
                                    <span *ngIf="quizBatch.startTimeError" class="invalid-feedback">{{
                                        (quizExercise.quizMode === QuizMode.SYNCHRONIZED
                                            ? 'artemisApp.quizExercise.startTimeErrorSynchronized'
                                            : 'artemisApp.quizExercise.startTimeError'
                                        ) | artemisTranslate
                                    }}</span>
                                    <!-- no scheduled batched mode yet -->
                                    <!-- Change *ngIf="false" below to "quizExercise.quizMode === QuizMode.BATCHED" when scheduled batched mode is active -->
                                    <jhi-button *ngIf="false" (click)="removeQuizBatch(quizBatch)" [btnType]="ButtonType.ERROR" [icon]="faXmark"></jhi-button>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label">{{
                            'artemisApp.exercise.includedInOverallScore' + (quizExercise.course ? 'Course' : 'Exam') + 'Label' | artemisTranslate
                        }}</label>
                        <div>
                            <jhi-included-in-overall-score-picker
                                *ngIf="quizExercise.includedInOverallScore"
                                [includedInOverallScore]="quizExercise.includedInOverallScore!"
                                (includedInOverallScoreChange)="includedInOverallScoreChange($event)"
                                [allowNotIncluded]="!isExamMode"
                            ></jhi-included-in-overall-score-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" *ngIf="!isExamMode">
                    <jhi-competency-selection
                        id="competencies"
                        [labelName]="'artemisApp.competency.link.title' | artemisTranslate"
                        [labelTooltip]="'artemisApp.competency.link.exercise' | artemisTranslate"
                        [(ngModel)]="quizExercise.competencies"
                        name="competencies"
                    ></jhi-competency-selection>
                </div>
            </div>
            <ng-container *ngIf="courseId">
                <jhi-quiz-question-list-edit
                    #quizQuestionsEdit
                    [courseId]="courseId"
                    [quizQuestions]="quizExercise.quizQuestions ?? []"
                    (onQuestionAdded)="handleQuestionChanged()"
                    (onQuestionDeleted)="handleQuestionChanged()"
                    (onQuestionUpdated)="handleQuestionChanged()"
                />
            </ng-container>
            <div class="edit-quiz-footer">
                <div class="container">
                    <div class="edit-quiz-footer-content">
                        <div class="form-group flex-fill ms-3" *ngIf="!isExamMode && quizExercise.id">
                            <div class="form-group flex-fill">
                                <input
                                    minlength="3"
                                    type="text"
                                    placeholder="{{ 'artemisApp.exercise.notificationText' | artemisTranslate }}"
                                    class="form-control flex-fill"
                                    name="notificationText"
                                    id="field_notification_text"
                                    [(ngModel)]="notificationText"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <span *ngIf="!pendingChangesCache && !isSaving" jhiTranslate="artemisApp.quizExercise.edit.saved" class="badge bg-success"> </span>
                            <span *ngIf="pendingChangesCache && quizIsValid && !isSaving" jhiTranslate="artemisApp.quizExercise.edit.pendingChanges" class="badge bg-secondary">
                            </span>
                            <span *ngIf="isSaving" jhiTranslate="artemisApp.quizExercise.edit.saving" class="badge bg-secondary"> </span>
                            <ng-template #tooltipTranslate>
                                <div *ngFor="let reason of computeInvalidReasons()">
                                    <p
                                        *ngIf="(reason.translateValues | json) !== '{}'"
                                        jhiTranslate="{{ reason.translateKey }}"
                                        [translateValues]="{ index: reason.translateValues.index, threshold: reason.translateValues.threshold }"
                                    ></p>
                                    <p *ngIf="(reason.translateValues | json) === '{}'" jhiTranslate="{{ reason.translateKey }}"></p>
                                </div>
                            </ng-template>
                            <ng-template #warningTranslate>
                                <div *ngFor="let warning of computeInvalidWarnings()">
                                    <p
                                        *ngIf="(warning.translateValues | json) !== '{}'"
                                        jhiTranslate="{{ warning.translateKey }}"
                                        [translateValues]="{ index: warning.translateValues.index }"
                                    ></p>
                                    <p *ngIf="(warning.translateValues | json) === '{}'" jhiTranslate="{{ warning.translateKey }}"></p>
                                </div>
                            </ng-template>
                            <span *ngIf="!quizIsValid" class="badge bg-danger" [ngbTooltip]="tooltipTranslate" tooltip-placement="top-right auto">
                                <fa-icon [icon]="faExclamationCircle"></fa-icon>
                                <span jhiTranslate="artemisApp.quizExercise.edit.invalidInput"></span>
                                <span>({{ computeInvalidReasons().length }})</span>
                            </span>
                            <span *ngIf="warningQuizCache" class="badge bg-warning" [ngbTooltip]="warningTranslate" tooltip-placement="top-right auto">
                                <span jhiTranslate="artemisApp.quizExercise.edit.warning"></span>
                                <span>({{ computeInvalidWarnings().length }})</span>
                            </span>
                            <button
                                id="quiz-cancel-back-button"
                                *ngIf="quizExercise.course || quizExercise.exerciseGroup"
                                class="btn btn-default"
                                [ngClass]="{ 'btn-secondary': !pendingChangesCache, 'btn-danger': pendingChangesCache }"
                                (click)="previousState()"
                                jhiTranslate="{{ pendingChangesCache ? 'entity.action.cancel' : 'entity.action.back' }}"
                            ></button>
                            <button
                                id="quiz-save"
                                class="btn btn-success"
                                (click)="save()"
                                [disabled]="isSaveDisabled()"
                                jhiTranslate="entity.action.save"
                                [ngbTooltip]="quizIsValid ? '' : tooltipTranslate"
                                tooltip-placement="top-right auto"
                                tooltip-class="invalid-reasons-tooltip"
                            ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
