@if (quizExercises && filteredQuizExercises.length > 0) {
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" (sortChange)="sortRows()">
                    @if (course.isAtLeastInstructor) {
                        <th class="d-md-table-cell">
                            <input class="form-check-input" type="checkbox" (change)="toggleMultipleExercises(quizExercises)" [ngModel]="allChecked" />
                        </th>
                    }
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="title"><span jhiTranslate="artemisApp.exercise.title"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="status"><span jhiTranslate="artemisApp.quizExercise.status"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="releaseDate"><span jhiTranslate="artemisApp.exercise.release"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <!-- releaseDate works similar to Exam.visibleDate -->
                    <th jhiSortBy="startTime"><span jhiTranslate="artemisApp.exercise.start"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <!-- startTime works similar to Exam.startDate -->
                    <th jhiSortBy="dueDate"><span jhiTranslate="artemisApp.exercise.due"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="duration"><span jhiTranslate="artemisApp.quizExercise.duration"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="maxPoints"><span jhiTranslate="artemisApp.exercise.points"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiSortBy="includedInOverallScore"><span jhiTranslate="artemisApp.exercise.includedCompletely"></span>&nbsp;<fa-icon [icon]="faSort" /></th>
                    <th jhiTranslate="artemisApp.quizExercise.quizLifecycle"></th>
                    <th class="d-md-table-cell"><span jhiTranslate="artemisApp.exercise.categories"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (quizExercise of filteredQuizExercises; track trackId($index, quizExercise)) {
                    <tr id="exercise-card-{{ quizExercise.id }}">
                        @if (quizExercise.isAtLeastInstructor) {
                            <td class="d-md-table-cell">
                                <input class="form-check-input" type="checkbox" (change)="toggleExercise(quizExercise)" [ngModel]="isExerciseSelected(quizExercise)" />
                            </td>
                        }
                        @if (quizExercise.isAtLeastTutor) {
                            <td>
                                <a [routerLink]="['/course-management', quizExercise.course?.id, 'quiz-exercises', quizExercise.id]">{{ quizExercise.id }} </a>
                            </td>
                            <td>
                                <a [routerLink]="['/course-management', quizExercise.course?.id, 'quiz-exercises', quizExercise.id]">
                                    {{ quizExercise.title }}
                                </a>
                            </td>
                        } @else {
                            <td>{{ quizExercise.id }}</td>
                            <td>{{ quizExercise.title }}</td>
                        }
                        <td>
                            @if (quizExercise.status === QuizStatus.CLOSED) {
                                <span jhiTranslate="artemisApp.quizExercise.quizStatus.closed"></span>
                            }
                            @if (quizExercise.status === QuizStatus.INVISIBLE) {
                                <span jhiTranslate="artemisApp.quizExercise.quizStatus.invisible"></span>
                            }
                            @if (quizExercise.status === QuizStatus.VISIBLE) {
                                <span jhiTranslate="artemisApp.quizExercise.quizStatus.visible"></span>
                            }
                            @if (quizExercise.status === QuizStatus.ACTIVE) {
                                <span jhiTranslate="artemisApp.quizExercise.quizStatus.active"></span>
                            }
                            @if (quizExercise.status === QuizStatus.OPEN_FOR_PRACTICE) {
                                <span jhiTranslate="artemisApp.quizExercise.quizStatus.openForPractice"></span>
                            }
                        </td>
                        <td>{{ quizExercise.releaseDate ? (quizExercise.releaseDate | artemisDate: 'long' : true) : '-' }}</td>
                        <td>{{ quizExercise.quizBatches?.[0]?.startTime ? (quizExercise.quizBatches![0]!.startTime | artemisDate: 'long' : true) : '-' }}</td>
                        <td>{{ quizExercise.dueDate ? (quizExercise.dueDate | artemisDate: 'long' : true) : '-' }}</td>
                        <td>
                            {{ fullMinutesForSeconds(quizExercise.duration!) }}
                            <span jhiTranslate="{{ quizExercise.duration! % 60 ? 'artemisApp.quizExercise.minutesShort' : 'artemisApp.quizExercise.minutes' }}"></span>
                            @if (quizExercise.duration! % 60) {
                                <span>
                                    {{ quizExercise.duration! % 60 }}
                                    <span jhiTranslate="artemisApp.quizExercise.secondsShort"></span>
                                </span>
                            }
                        </td>
                        <td>{{ quizExercise.maxPoints }}</td>
                        <td>{{ exerciseService.isIncludedInScore(quizExercise) }}</td>
                        <td class="text-end">
                            <div>
                                <jhi-quiz-exercise-lifecycle-buttons
                                    [quizExercise]="quizExercise"
                                    (loadOne)="loadOne($event)"
                                    (handleNewQuizExercise)="handleNewQuizExercise($event)"
                                />
                            </div>
                        </td>
                        <td class="d-md-table-cell"><jhi-exercise-categories [exercise]="quizExercise" /></td>
                        <td class="text-end">
                            <jhi-quiz-exercise-manage-buttons [quizExercise]="quizExercise" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (selectedExercises.length > 0) {
            <div>
                @if (course.isAtLeastInstructor) {
                    <button
                        jhiDeleteButton
                        [entityTitle]="'Delete All Quiz Exercises'"
                        deleteQuestion="artemisApp.exerciseActions.deleteMultipleExercisesQuestion"
                        (delete)="deleteMultipleExercises(selectedExercises, quizExerciseService)"
                        [dialogError]="dialogError$"
                        id="delete-all-quiz"
                        class="mb-1"
                    >
                        <fa-icon [icon]="faTrash" />
                    </button>
                }
            </div>
        }
    </div>
}
