.question-list {
    min-height: 2.5rem;
}

.cdk-drag {
    cursor: pointer;
    height: 2rem;
    line-height: 1.8rem;
}

.cdk-drag .question {
    width: 8rem !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: var(--text-editor-background);
    color: var(--text-editor-color);
}

.cdk-drag .question-type {
    width: 3rem;
    font-weight: bold;
}

.cdk-drag .question-points {
    width: 2rem;
    background: var(--text-editor-background);
    color: var(--text-editor-color);
}

.border-info {
    border: 1px solid var(--cyan);
}

.border-warning {
    border: 1px solid var(--yellow);
}

.border-success {
    border: 1px solid var(--green);
}

.cdk-drop-list-dragging {
    /* change highlight color to light green when dragging the item above a drop location */
    background: var(--dnd-question-drop-list-dragging-background) !important;
    cursor: pointer;

    .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drop-list-receiving {
    background: var(--dnd-question-drop-list-receiving-background) !important;
}
