.title-container {
    float: left;
}

.max-score-container {
    float: right;
}

.max-score {
    background: var(--quiz-exercise-detail-max-score-background);
    color: var(--quiz-exercise-detail-max-score-color);
}

.edit-quiz-footer {
    height: 100px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-top: 1px solid var(--border-color);
    background: var(--edit-quiz-footer-background);
    padding-top: 10px;

    .container {
        height: 100%;

        .edit-quiz-footer-content {
            flex-wrap: wrap;
        }
    }
}
