/* Monaco editor styling (code editor) */
.card-body-monaco {
    padding: unset;
}

/* Applied e.g. to hover messages of build annotations. Makes them visible even when there are line widgets. */
.monaco-hover {
    z-index: 1;
}

.monaco-add-feedback-button:hover::before {
    background-color: var(--monaco-editor-add-feedback-button-hover-background);
}

.monaco-add-feedback-button::before {
    cursor: pointer;
    content: '\ea60'; // codicon-plus
    font-family: codicon;
    font-size: 1.1em;
    background-color: var(--monaco-editor-add-feedback-button-background);
    color: var(--monaco-editor-add-feedback-button-text);
    border-radius: 35%;

    // Cosmetic adjustment: create a small gap between the button and the line number
    padding-left: 1px;
    margin-left: 1px;
}

.monaco-diff-line-highlight {
    background-color: var(--monaco-editor-diff-line-highlight);
}
