.feedback-item {
    &__header {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    &__category {
        margin-bottom: 0;
        font-size: var(--bs-body-font-size);
        font-weight: bold;
    }
}

.feedback-item-group {
    &__summary {
        display: flex;
        border-radius: 0.15rem;
        margin-bottom: 1rem;
        padding: 1rem;
        align-items: center;
        cursor: pointer;
    }
}
