.edit-overlay {
    position: absolute;
    display: inline-flex;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 9;
    font-size: 18px;
    box-shadow: none;
}

.edit-overlay-container {
    background-color: var(--lecture-attachment-edit-overlay-color);
}

.edit-overlay-container > td {
    opacity: 0.1;
}

.edit-overlay-container > td > a {
    pointer-events: none;
    cursor: default;
}

.invalid-file-input-margin {
    padding-left: 0.5em;
}
