.overlay-wrapper {
    max-height: 80svh;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .events-wrapper {
        flex: 1;
        min-height: 0;
        overflow-y: auto;

        // Firefox
        scrollbar-color: var(--bs-secondary-color) transparent;
    }

    // Chrome, Safari
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        width: 10px;
        border: 2px solid transparent;
        background-clip: padding-box;
        background-color: var(--bs-secondary-color);
        border-radius: 50px;
    }
}
