.frame {
    height: 2.25rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 2px solid var(--border-color);

    .info-cell {
        width: 4.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0.25rem;
        font-size: 0.5rem;
        font-weight: 550;
    }

    .event-stack-cell {
        flex: 1;
        border-left: 2px solid var(--border-color);
    }
}
