<div class="row p-3 justify-content-center" *ngIf="course">
    <div class="row col-9 justify-content-center">
        <div class="row ps-0">
            <!-- search bar -->
            <div class="input-group col-10 px-0 mb-4">
                <input
                    name="searchText"
                    [(ngModel)]="searchText"
                    class="form-control"
                    (keyup.enter)="onSearch()"
                    placeholder="{{ 'artemisApp.metis.overview.searchBarDefault' | artemisTranslate }}"
                />
                <jhi-button [btnType]="ButtonType.SECONDARY" [icon]="'times'" (onClick)="searchText = ''; onSearch()"></jhi-button>
                <jhi-button class="ms-1" [icon]="'search'" (onClick)="onSearch()"></jhi-button>
            </div>
            <!-- new post button -->
            <div class="col-2" *ngIf="createdPost">
                <button class="btn btn-md btn-primary" (click)="createEditModal.open()">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="d-none d-md-inline">{{ 'artemisApp.metis.addNewPost' | artemisTranslate }}</span>
                </button>
                <jhi-post-create-edit-modal #createEditModal [posting]="createdPost" (onCreate)="createEmptyPost()"></jhi-post-create-edit-modal>
            </div>
        </div>
        <form [formGroup]="formGroup">
            <!-- filter and sort controls -->
            <div class="row justify-content-between">
                <!-- context filter -->
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto p-0 filter-sort-prefix">
                            <span>{{ 'artemisApp.metis.overview.postContextFilter' | artemisTranslate }}</span>
                        </div>
                        <div class="col-auto p-0">
                            <select formControlName="context" class="form-select" [compareWith]="compareContextFilterOptionFn" (change)="onSelectContext()" name="context">
                                <option [ngValue]="{ courseId: course.id }">{{ course.title }}</option>
                                <optgroup [label]="'artemisApp.metis.post.courseWideContext' | artemisTranslate">
                                    <option *ngFor="let context of CourseWideContext | keyvalue" [ngValue]="{ courseWideContext: context.value }">
                                        {{ 'artemisApp.metis.overview.' + context.value | artemisTranslate }}
                                    </option>
                                </optgroup>
                                <optgroup *ngIf="exercises !== undefined && exercises!.length > 0" [label]="'artemisApp.metis.post.exercises' | artemisTranslate">
                                    <option *ngFor="let exercise of exercises" [ngValue]="{ exerciseId: exercise.id }">
                                        {{ exercise.title }}
                                    </option>
                                </optgroup>
                                <optgroup *ngIf="lectures !== undefined && lectures!.length > 0" [label]="'artemisApp.metis.post.lectures' | artemisTranslate">
                                    <option *ngFor="let lecture of lectures" [ngValue]="{ lectureId: lecture.id }">
                                        {{ lecture.title }}
                                    </option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- sort dropdown -->
                <div class="col-auto p-0">
                    <div class="row">
                        <div class="col-auto p-0 filter-sort-prefix">
                            <span>{{ 'artemisApp.metis.overview.sortPostsBy' | artemisTranslate }}</span>
                        </div>
                        <div class="col-auto p-0">
                            <select formControlName="sortBy" class="form-select" [compareWith]="comparePostSortOptionFn" (change)="onChangeSort()" name="sortBy">
                                <option *ngFor="let sortByOption of SortBy | keyvalue" [ngValue]="sortByOption.value">
                                    {{ 'artemisApp.metis.overview.' + sortByOption.value | artemisTranslate }}
                                </option>
                            </select>
                        </div>
                        <div class="col-auto p-0">
                            <select formControlName="sortDirection" class="form-select ps-0" [compareWith]="comparePostSortOptionFn" (change)="onChangeSort()" name="sortDirection">
                                <option *ngFor="let sortDirectionOption of SortDirection | keyvalue" [ngValue]="sortDirectionOption.value">
                                    {{ 'artemisApp.metis.overview.' + sortDirectionOption.value | artemisTranslate }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="bold-line row col-9 mt-1 mb-2"></div>
    <div class="class=row col-9">
        <!-- information on posts found -->
        <div class="col-12 post-result-information">
            {{ posts?.length === 0 ? ('artemisApp.metis.noPosts' | artemisTranslate) : ('artemisApp.metis.postNumberInformation' | artemisTranslate: { number: posts.length }) }}
        </div>
        <!-- list of posts -->
        <jhi-postings-thread *ngFor="let post of posts; trackBy: postsTrackByFn" [post]="post"></jhi-postings-thread>
    </div>
</div>
