$menu-width-closed: 64px;
$menu-width-open: 220px;
$spacing: 0.5rem;

.sidebar-wrapper {
    overflow-x: hidden;
    position: sticky;
    width: 100vw;
    padding: 0 $spacing 0 0;
}

.layout-container {
    display: flex;
    // Fixed height based on viewport minus navbar and footer
    height: calc(100vh - var(--sidebar-header-footer-combined-height, 105px) - 15px - var(--system-notification-height, 0px));

    .sidebar {
        flex: 0 0 auto;
        box-sizing: content-box;
        width: $menu-width-open;
        overflow-y: auto;
        overflow-x: hidden;
        transition: width 0.2s ease-in-out;
        background-color: var(--module-bg);
        border-radius: 0.5rem;

        &.collapsed {
            width: $menu-width-closed;
        }
    }

    .layout-content {
        flex: 1;
        min-width: 0;
        height: 100%;
        overflow: hidden;
        transition: width 0.2s ease-in-out;
    }

    &.container-closed .sidebar {
        width: $menu-width-closed;
    }

    @media screen and (max-width: 960px) {
        .sidebar {
            width: $menu-width-closed;
        }
    }
}

.admin-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-body-container {
    flex: 1;
    overflow-y: auto;
}

@media print {
    .sidebar {
        display: none !important;
    }

    .layout-content {
        width: 100% !important;
    }
}
