.day-badge {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    font-weight: 600;
    font-size: 0.75rem;
    text-align: center;

    &.today-normal {
        background-color: var(--primary);
        color: var(--white);
    }

    &.today-minimal {
        background-color: var(--body-bg);
        color: var(--primary);

        &.selected-day {
            background-color: var(--calendar-day-badge-selected);
            color: var(--primary);
        }
    }

    &.not-today {
        background-color: var(--body-bg);
    }

    &.selected-day {
        background-color: var(--calendar-day-badge-selected);
        color: var(--black);
    }
}
