.feedback-item {
    padding: 1rem;
    margin-bottom: 1rem;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__category {
        margin-bottom: 0;
        font-size: var(--bs-body-font-size);
        font-weight: bold;
        text-transform: uppercase;
    }

    &__points {
        float: right;
        font-weight: bold;
    }

    &__title {
        font-size: 0.9em;

        &::before {
            content: '·';
            display: inline;
            font-weight: 900;
            margin: 0 8px 0 4px;
        }
    }
}

.feedback-item-group {
    margin-bottom: 1rem;

    &__summary {
        padding: 1rem;
        //TODO: Dynamic background color depending on group
        background-color: green;
    }

    &__members {
        margin: 1rem;
    }
}
