<div *ngIf="feedbackItem" [ngClass]="['feedback-item', getClassNameForFeedbackItem(feedbackItem)]">
    <div class="feedback-item__header">
        <h4 class="feedback-item__category">{{ feedbackItem.category }}</h4>
        <span class="feedback-item__points" *ngIf="feedbackItem.credits">
            {{ roundValueSpecifiedByCourseSettings(feedbackItem.actualCredits ?? feedbackItem.credits, course) }}P
            <fa-icon
                *ngIf="feedbackItem.type === FeedbackItemType.Subsequent"
                [icon]="faExclamationTriangle"
                [ngbTooltip]="'artemisApp.assessment.subsequentFeedback' | artemisTranslate"
            ></fa-icon>
            <fa-icon
                *ngIf="feedbackItem.type === FeedbackItemType.Issue && feedbackItem.actualCredits !== feedbackItem.credits"
                [icon]="faExclamationTriangle"
                [ngbTooltip]="'artemisApp.programmingAssessment.codeIssueNotApplied' | artemisTranslate : { points: feedbackItem.credits }"
            >
            </fa-icon>
        </span>
        <!--        <span class="feedback-item__title" *ngIf="feedbackItem.title">{{ feedbackItem.title }}</span>-->
    </div>

    <jhi-feedback-collapse *ngIf="feedbackItem.text" [text]="feedbackItem.text!"></jhi-feedback-collapse>
    <p *ngElse jhiTranslate="artemisApp.result.noFeedback">No feedback available</p>
</div>

<details *ngIf="feedbackItemGroup" class="feedback-item-group" [ngClass]="feedbackItemGroup.color">
    <summary class="feedback-item-group__summary">
        <div class="feedback-item-group__summary__content">
            <h4 class="feedback-item__category">
                {{ feedbackItemGroup.name | titlecase }}
            </h4>

            <span *ngIf="feedbackItemGroup.credits !== 0" class="feedback-item__points">{{ roundValueSpecifiedByCourseSettings(feedbackItemGroup.credits, course) }}</span>
        </div>
    </summary>

    <div class="feedback-item-group__members">
        <jhi-feedback-item-node *ngFor="let feedbackItem of feedbackItemGroup.members" [feedbackNode]="feedbackItem" [course]="course"></jhi-feedback-item-node>
    </div>
</details>
