.feedback-item {
    &__header {
        display: flex;
        justify-content: space-between;
        background: var(--feedback-node-background);
    }

    &__category {
        margin-bottom: 0;
        font-size: var(--bs-body-font-size);
        font-weight: bold;
        text-transform: uppercase;
    }

    &__points {
        float: right;
        font-weight: bold;
    }

    &__title {
        font-size: 0.9em;

        &::before {
            content: '·';
            display: inline;
            font-weight: 900;
            margin: 0 8px 0 4px;
        }
    }
}

.feedback-item-group {
    margin-bottom: 1rem;

    &[open] > summary:before {
        transform: rotate(180deg);
    }

    &__summary {
        display: flex;
        padding: 1rem;
        align-items: center;
        background: var(--feedback-node-background);

        // CSS trick to create a triangle
        &:before {
            margin-right: 0.5rem;
            content: '';
            width: 0;
            height: 0;
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            border-top: 0.5rem solid var(--bs-modal-color);
        }

        &__content {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__members {
        padding: 1rem;

        .feedback-item-group__members__member {
            display: block;
            margin-bottom: 1rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
