alabaster==1.0.0
certifi==2025.7.14
docutils==0.21.2
Jinja2==3.1.6
requests==2.32.4
sphinx-autobuild==2024.10.3
sphinx-rtd-theme==3.0.2
Sphinx==8.2.3
sphinxcontrib-bibtex==2.6.5
starlette==0.47.2
urllib3==2.5.0
uvicorn==0.35.0
zipp==3.23.0
