alabaster==1.0.0
certifi==2025.11.12
docutils==0.22.4
Jinja2==3.1.6
requests==2.32.5
sphinx-autobuild==2025.8.25
sphinx-rtd-theme==3.1.0
Sphinx==9.1.0
sphinxcontrib-bibtex==2.6.5
starlette==0.52.1
urllib3==2.6.3
uvicorn==0.40.0
zipp==3.23.0
