.color-legend {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid;
    margin-right: 5px;
}

.legend-entry {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.legend-container {
    background: var(--stat-av-sc-legend-background);
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
}

.switch-forward {
    max-width: 30px !important;
}

.switch-forward-placeholder {
    width: 60px;
    height: 300px;
}

.hidden {
    visibility: hidden;
}

.critical-color {
    background: var(--stat-av-sc-legend-critical);
}

.median-color {
    background: var(--stat-av-sc-legend-median);
}

.best-color {
    background: var(--stat-av-sc-legend-best);
}

.chart-container {
    max-width: 83%;
}

.chart-row {
    > * {
        padding-left: 0;
        padding-right: 0;
    }
}
