.sliders_control {
    position: relative;

    input[type='range']#currentSlider::-webkit-slider-thumb {
        background-color: var(--primary);
        cursor: pointer;
    }

    input[type='range']#currentSlider::-moz-range-thumb {
        background-color: var(--primary);
        cursor: pointer;
    }

    input[type='range']#currentSlider::-ms-thumb {
        background-color: var(--primary);
        cursor: pointer;
    }

    #currentSlider::-webkit-slider-runnable-track {
        background: transparent;
    }

    #currentSlider::-moz-range-track {
        background-color: transparent;
    }

    #currentSlider::-ms-track {
        background-color: transparent;
    }

    input[type='range'] {
        position: absolute;
    }

    #currentSlider {
        z-index: 1;
    }

    #initialSlider {
        pointer-events: none;
    }

    datalist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    datalist > option {
        margin-top: 1.25em;
    }
}
