<!-- Show Text-->
<span
    [draggable]="true"
    (drop)="connectStructuredGradingInstructionsWithTextBlock($event)"
    (dragover)="$event.preventDefault()"
    [innerText]="textBlockRef.block.text"
    (click)="select()"
    [class.text-with-feedback]="!!textBlockRef.feedback"
    [class.active]="selected"
    [class.positive-feedback]="textBlockRef.feedback?.credits > 0"
    [class.negative-feedback]="textBlockRef.feedback?.credits < 0"
    [class.neutral-feedback]="textBlockRef.feedback?.credits === 0"
></span>
<!-- Display Feedback Editor -->
<jhi-textblock-feedback-editor
    *ngIf="textBlockRef.feedback || selected"
    [textBlock]="textBlockRef.block"
    [feedback]="textBlockRef.feedback"
    [class.active]="selected"
    (click)="select(false)"
    (onFocus)="select(false)"
    (close)="unselect()"
    (feedbackChange)="feedbackDidChange()"
    [disableEditScore]="disableEditScore"
    [readOnly]="readOnly"
></jhi-textblock-feedback-editor>
