@keyframes filling {
    from {
        height: 1%;
    }

    to {
        height: var(--fill-level);
    }
}

.vertical-progress-bar {
    display: block;
    position: relative;
    width: max-content;
    height: max-content;

    .progress-bar {
        background-color: white;
        margin: auto;
        display: block;
        transform: rotate(180deg);
        border: 1px solid var(--artemis-pre-color);
        border-radius: var(--border-radius);
        height: var(--progress-bar-height);
        width: var(--progress-bar-width);
        overflow: hidden;

        .fill-level {
            display: block;
            background-color: var(--fill-color);
            animation: filling var(--fill-duration);
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
        }
    }

    .fill-level-text {
        display: block;
        margin: auto;
    }
}
