// only place declarations within this manual scope (otherwise other components could be affected)
jhi-exam-students {
    $dropdown-item: (
        active-color: var(--exam-students-dropdown-item-active),
        already-registered: (
            color: var(--exam-students-dropdown-item-already-registered-color),
            background-color: var(--exam-students-dropdown-item-already-registered-background-color),
            background-color-hover: var(--exam-students-dropdown-item-already-registered-background-hover-color),
        ),
    );

    $datatable-row: (
        newly-registered: (
            background-color: var(--exam-students-datatable-row-newly-registered-background-color),
            animation-delay: 150ms,
            animation-duration: 1.5s,
        ),
    );

    ngb-typeahead-window {
        min-width: 400px;

        .dropdown-item {
            display: flex;
            justify-content: space-between;

            &.active {
                background-color: map-get($dropdown-item, active-color);
            }

            &.already-registered {
                $vars: map-get($dropdown-item, already-registered);

                color: map-get($vars, color);
                background-color: map-get($vars, background-color);
                opacity: 0.5;

                &.active {
                    background-color: map-get($vars, background-color-hover);
                    opacity: 0.8;
                }
            }
        }
    }

    .datatable-body-row {
        &.newly-registered {
            $vars: map-get($datatable-row, newly-registered);

            @keyframes flash-animation {
                30% {
                    background-color: map-get($vars, background-color);
                }
            }

            animation-name: flash-animation;
            animation-delay: map-get($vars, animation-delay);
            animation-duration: map-get($vars, animation-duration);
            animation-timing-function: ease-out;
        }
    }
}
