<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>{{ 'artemisApp.pages.tutorialGroupsManagement.import.dialogTitle' | artemisTranslate }} </span>
        </h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
    </div>
    <div class="modal-body">
        <!-- Intro Text-->
        <div class="form-group">
            <p class="intro-text">{{ 'artemisApp.pages.tutorialGroupsManagement.import.introText' | artemisTranslate }}</p>
            <p class="intro-text">{{ 'artemisApp.pages.tutorialGroupsManagement.import.dialogText' | artemisTranslate }}</p>
        </div>
        <!-- File Upload -->
        <div class="form-group">
            <div class="d-flex align-items-end">
                <div>
                    <label class="label-narrow font-weight-bold">
                        {{ 'artemisApp.pages.tutorialGroupsManagement.import.csvLabel' | artemisTranslate }}
                    </label>
                    <jhi-help-icon placement="top" text="artemisApp.pages.tutorialGroupsManagement.import.csvTooltip" class="me-1"> </jhi-help-icon>
                </div>
                <fa-icon class="loading-spinner ms-1" [icon]="faSpinner" [spin]="true" *ngIf="isCSVParsing"></fa-icon>
            </div>
            <div class="mt-2">
                <input #fileInput type="file" accept=".csv" (change)="onCSVFileSelected($event)" />
                <div *ngIf="validationError" class="mt-4 mb-2 text-danger">
                    <div>
                        {{ 'artemisApp.pages.tutorialGroupsManagement.import.importFailed' | artemisTranslate }}
                    </div>
                    <ul class="mt-1">
                        <li>
                            <b> {{ 'artemisApp.pages.tutorialGroupsManagement.import.failedRows' | artemisTranslate }}</b>
                            <b [innerHTML]="validationError"> </b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Fixed Place Filter Form -->
        <form [formGroup]="fixedPlaceForm">
            <!-- Specify Fixed Place -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox" formControlName="specifyFixedPlace" />
                <label class="form-check-label" for="checkbox">
                    {{ 'artemisApp.pages.tutorialGroupsManagement.import.fixedPlaceForm.checkbox.label' | artemisTranslate }}
                </label>
            </div>
            <div [hidden]="specifyFixedPlaceControl?.value === false">
                <!-- Status Header -->
                <div class="form-group">
                    <label for="status-header">{{ 'artemisApp.pages.tutorialGroupsManagement.import.fixedPlaceForm.statusHeaderInput.label' | artemisTranslate }}</label>
                    <input
                        type="text"
                        class="form-control"
                        id="status-header"
                        formControlName="statusHeader"
                        [placeholder]="'artemisApp.pages.tutorialGroupsManagement.import.fixedPlaceForm.statusHeaderInput.placeholder' | artemisTranslate"
                    />
                    <div *ngIf="statusHeaderControl?.invalid && (statusHeaderControl?.dirty || statusHeaderControl?.touched)" class="alert alert-danger">
                        <div *ngIf="statusHeaderControl?.errors?.maxlength">
                            {{ 'artemisApp.pages.tutorialGroupsManagement.import.fixedPlaceForm.statusHeaderInput.maxLengthValidationError' | artemisTranslate: { max: '255' } }}
                        </div>
                    </div>
                </div>
                <!-- Fixed Place Value -->
                <div class="form-group">
                    <label for="fixed-place">{{ 'artemisApp.pages.tutorialGroupsManagement.import.fixedPlaceForm.fixedPlaceValueInput.label' | artemisTranslate }}</label>
                    <input
                        type="text"
                        class="form-control"
                        id="fixed-place"
                        formControlName="fixedPlaceValue"
                        [placeholder]="'artemisApp.pages.tutorialGroupsManagement.import.fixedPlaceForm.fixedPlaceValueInput.placeholder' | artemisTranslate"
                    />
                    <div *ngIf="fixedPlaceValueControl?.invalid && (fixedPlaceValueControl?.dirty || fixedPlaceValueControl?.touched)" class="alert alert-danger">
                        <div *ngIf="fixedPlaceValueControl?.errors?.maxlength">
                            {{ 'artemisApp.pages.tutorialGroupsManagement.import.fixedPlaceForm.fixedPlaceValueInput.maxLengthValidationError' | artemisTranslate: { max: '255' } }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button type="button" class="btn btn-secondary" [disabled]="isParseDisabled" (click)="onParseClicked()">
                {{ 'artemisApp.pages.tutorialGroupsManagement.import.parseCSVButton' | artemisTranslate }}
            </button>
        </div>
        <hr *ngIf="registrations && registrations.length > 0" />
        <!-- Overview Table -->
        <div *ngIf="registrations && registrations.length > 0" class="form-group mt-4">
            <div>
                <label class="label-narrow font-weight-bold">{{ 'artemisApp.pages.tutorialGroupsManagement.import.label' | artemisTranslate }}</label>
                <jhi-help-icon placement="top" text="artemisApp.pages.tutorialGroupsManagement.import.tooltip" class="me-1"></jhi-help-icon>
            </div>
            <table class="table table-striped table-sm header-fixed mt-2">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="width: 300px">{{ 'artemisApp.pages.tutorialGroupsManagement.import.table.columns.title' | artemisTranslate }}</th>
                        <th scope="col" style="width: 300px">{{ 'artemisApp.pages.tutorialGroupsManagement.import.table.columns.registrationNumber' | artemisTranslate }}</th>
                        <th scope="col">{{ 'artemisApp.pages.tutorialGroupsManagement.import.table.columns.login' | artemisTranslate }}</th>
                        <th scope="col">{{ 'artemisApp.pages.tutorialGroupsManagement.import.table.columns.firstName' | artemisTranslate }}</th>
                        <th scope="col">{{ 'artemisApp.pages.tutorialGroupsManagement.import.table.columns.lastName' | artemisTranslate }}</th>
                    </tr>
                </thead>
                <tbody class="table-body--students">
                    <tr
                        *ngFor="let registration of registrations; let i = index"
                        [class.import-success]="wasImported(registration)"
                        [class.import-fail]="wasNotImported(registration)"
                    >
                        <th scope="row">{{ i + 1 }}</th>
                        <td style="width: 300px">{{ registration?.title ?? '' }}</td>
                        <td style="width: 300px">{{ registration?.student?.registrationNumber ?? '' }}</td>
                        <td>{{ registration?.student?.login ?? '' }}</td>
                        <td>{{ registration?.student?.firstName ?? '' }}</td>
                        <td>{{ registration?.student?.lastName ?? '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <div *ngIf="registrations && registrations.length > 0" class="flex-shrink-0 me-2 d-flex">
            <div *ngIf="!isImportDone; else numbersAfterImport">
                <strong>{{ 'artemisApp.pages.tutorialGroupsManagement.import.numberOfRegistrations' | artemisTranslate }}</strong>
                <span>&nbsp;{{ registrations.length }}</span>
            </div>
            <ng-template #numbersAfterImport>
                <div>
                    <strong>{{ 'artemisApp.pages.tutorialGroupsManagement.import.numberOfRegistrationsImported' | artemisTranslate }}</strong>
                    <span>{{ numberOfImportedRegistrations }}</span>
                </div>
                <div class="ms-2">
                    <strong>{{ 'artemisApp.pages.tutorialGroupsManagement.import.numberOfRegistrationsNotImported' | artemisTranslate }}</strong>
                    <span
                        ><b style="color: red">{{ numberOfUnImportedRegistration }}</b></span
                    >
                </div>
            </ng-template>
        </div>
        <div class="flex-grow-1 d-flex justify-content-end">
            <button *ngIf="!isImportDone" type="button" class="btn btn-default cancel" data-dismiss="modal" (click)="clear()">
                <fa-icon [icon]="faBan"></fa-icon>&nbsp;<span>{{ 'entity.action.cancel' | artemisTranslate }}</span>
            </button>
            <button
                *ngIf="!isImportDone; else buttonAfterImport"
                type="submit"
                id="import"
                name="importButton"
                class="btn btn-primary"
                [disabled]="isSubmitDisabled"
                (click)="import()"
            >
                <fa-icon [icon]="faUpload" class="me-2"></fa-icon>
                <span jhiTranslate="entity.action.to-import">Import</span>
                <fa-icon class="ms-1" [hidden]="!isImporting" [spin]="true" [icon]="faCircleNotch"></fa-icon>
            </button>
            <ng-template #buttonAfterImport>
                <button class="btn btn-success" id="finish-button" (click)="onFinish()">
                    <fa-icon [icon]="faCheck" class="me-2"></fa-icon>
                    <span>{{ 'entity.action.finish' | artemisTranslate }}</span>
                </button>
            </ng-template>
        </div>
    </div>
</div>
