@import '../../../../../content/scss/_artemis-mixins.scss';

.edit-dnd-question {
    .drag-items {
        background: white !important;
        .drag-item {
            img {
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto !important;
                margin: auto;
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
        }
    }

    .resize {
        position: absolute;
        width: 6px;
        height: 6px;
        background: mediumpurple;

        &.top {
            top: -3px;
        }

        &.middle {
            top: calc(50% - 3px);
            cursor: col-resize;
        }

        &.bottom {
            bottom: -3px;
        }

        &.left {
            left: -3px;
        }

        &.center {
            left: calc(50% - 3px);
            cursor: row-resize;
        }

        &.right {
            right: -3px;
        }

        &.top.left,
        &.bottom.right {
            cursor: nwse-resize;
        }

        &.top.right,
        &.bottom.left {
            cursor: nesw-resize;
        }
    }

    .dimensions,
    .invalid {
        position: absolute;
        left: 2px;
        bottom: 0;
        font-size: 14px;
    }

    .drag-item-file {
        display: flex;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .background-area {
        position: relative;
        margin: auto;
        @include user-select(none);

        img {
            max-width: 100%;
        }

        .click-layer {
            cursor: crosshair !important;
            @include position-style(absolute, 0, 0, 0, 0, 1);
            width: 100%;
            height: 100%;

            /* medium-purple dotted drop-location */
            .drop-location {
                align-items: center;
                border: 1px dashed mediumpurple;
                cursor: move;
                display: flex;
                flex-direction: row;
                justify-content: center;
                position: absolute;
                background: var(--edit-quiz-q-dnd-drop-location-background);
                color: var(--edit-quiz-q-dnd-drop-location-color);

                &:hover {
                    background: var(--edit-quiz-q-dnd-drop-location-hover-bg);
                }
            }

            &.disabled {
                cursor: not-allowed !important;
            }
        }
    }

    .drop-location-buttons {
        position: absolute;
        top: 1%;
        right: 1%;
    }

    .placeholder-dnd {
        max-height: 160px;
        max-width: 160px;

        img {
            max-height: 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
        }
    }
}
