<jhi-lecture-unit-layout [isLoading]="isLoading">
    <div class="col-4">
        <h2 id="page-heading">
            <span jhiTranslate="artemisApp.lecture.split.unit">Units</span>
        </h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span jhiTranslate="artemisApp.lecture.split.unitName">Unit Name</span></th>
                    <th>
                        <span jhiTranslate="artemisApp.lecture.split.releaseDate">Release Date</span>
                        <fa-stack ngbTooltip="{{ 'entity.timeZoneWarning' | artemisTranslate : { timeZone: currentTimeZone } }}" class="icon-full-size">
                            <fa-icon [icon]="faGlobe" stackItemSize="1x" class="text-lightgrey"></fa-icon>
                            <fa-icon [icon]="faClock" stackItemSize="1x" transform="shrink-6 down-5 right-5" class="text-secondary"></fa-icon>
                        </fa-stack>
                    </th>
                    <th><span jhiTranslate="artemisApp.lecture.split.startPage">Start Page</span></th>
                    <th><span jhiTranslate="artemisApp.lecture.split.endPage">End Page</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="markdown-preview" id="lecture-preview">
                <tr *ngFor="let unit of units; let i = index" id="unit-row-{{ i }}">
                    <td>
                        <input
                            required
                            type="text"
                            class="form-control"
                            name="unitName"
                            placeholder="Unit Name"
                            autocomplete="off"
                            [defaultValue]="unit.unitName"
                            [(ngModel)]="units[i].unitName"
                        />
                    </td>
                    <td>
                        <jhi-date-time-picker [shouldDisplayTimeZoneWarning]="false" [(ngModel)]="units[i].releaseDate" name="releaseDate" id="release-date"></jhi-date-time-picker>
                    </td>
                    <td>
                        <input
                            required
                            type="number"
                            class="form-control"
                            name="startPage"
                            placeholder="Start Page"
                            autocomplete="off"
                            [defaultValue]="unit.startPage"
                            [(ngModel)]="units[i].startPage"
                        />
                    </td>
                    <td>
                        <input
                            required
                            type="number"
                            class="form-control"
                            name="endPage"
                            placeholder="End Page"
                            autocomplete="off"
                            [defaultValue]="unit.endPage"
                            [(ngModel)]="units[i].endPage"
                        />
                    </td>
                    <td>
                        <button (click)="deleteRow(i)" class="btn btn-danger"><fa-icon [icon]="faTimes"></fa-icon></button>
                    </td>
                </tr>
                <button (click)="addRow()" class="btn btn-success mt-2"><fa-icon [icon]="faPlus"></fa-icon></button>
            </tbody>
        </table>
        <button (click)="createAttachmentUnits()" class="btn btn-primary">
            <span>{{ 'entity.action.submit' | artemisTranslate }}</span>
        </button>
        <button (click)="previousState()" class="btn btn-default"><fa-icon [icon]="faBan"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span></button>
    </div>
</jhi-lecture-unit-layout>
