.exercise-unit {
    .exercise-row {
        .course-exercise-row {
            border: none !important;
            box-shadow: 0 2px 6px 0 var(--lecture-unit-card-shadow) !important;
        }

        .course-exercise-row:hover {
            box-shadow: 0 2px 4px 0 var(--lecture-unit-card-hover-shadow) !important;
        }
    }
}
