<h5>{{ 'artemisApp.examManagement.plagiarismCasesOverview.title' | artemisTranslate }}</h5>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'artemisApp.examManagement.plagiarismCasesOverview.exerciseName' | artemisTranslate }}</th>
            <th scope="col">{{ 'artemisApp.examManagement.plagiarismCasesOverview.numberOfResults' | artemisTranslate }}</th>
            <th scope="col">{{ 'artemisApp.examManagement.plagiarismCasesOverview.numberOfCases' | artemisTranslate }}</th>
            <th scope="col">{{ 'artemisApp.examManagement.plagiarismCasesOverview.actions' | artemisTranslate }}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let exercise of exercises; let i = index">
            <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ exercise.title }}</td>
                <td>{{ plagiarismResultsPerExercise.get(exercise) }}</td>
                <td>{{ plagiarismCasesPerExercise.get(exercise) }}</td>
                <td>
                    <button id="view-plagiarism-results-btn-{{ i }}" class="btn btn-primary" (click)="goToPlagiarismDetection(exercise)">
                        {{ 'artemisApp.examManagement.plagiarismCasesOverview.viewResultsOrRunDetection' | artemisTranslate }}
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<button *ngIf="anyPlagiarismCases" class="btn btn-primary" id="view-plagiarism-cases-btn" (click)="goToPlagiarismCases()">
    {{ 'artemisApp.examManagement.plagiarismCasesOverview.viewCases' | artemisTranslate }}
</button>
