@if (!isExamExercise() && requestFeedbackEnabled() && athenaEnabled()) {
    @if (asTumAetUiButton()) {
        <tumaet-ui-button
            [size]="smallButtons() ? 'small' : 'default'"
            [icon]="faPenSquare"
            [disabled]="isFeedbackRequestBlocked()"
            [id]="buttonIdPrefix() + exercise().id"
            [ariaLabel]="buttonLabelKey() | artemisTranslate"
            (clicked)="requestAIFeedback()"
        >
            <span [class]="alwaysShowLabel() ? '' : 'hidden md:inline'" [jhiTranslate]="buttonLabelKey()"></span>
        </tumaet-ui-button>
    } @else {
        <button
            type="button"
            class="btn btn-primary"
            (click)="requestAIFeedback()"
            [class.btn-sm]="smallButtons()"
            [disabled]="isFeedbackRequestBlocked()"
            [id]="buttonIdPrefix() + exercise().id"
            [attr.aria-label]="buttonLabelKey() | artemisTranslate"
        >
            <fa-icon [icon]="faPenSquare" [fixedWidth]="true" />
            <span [class]="alwaysShowLabel() ? '' : 'd-none d-md-inline'" [jhiTranslate]="buttonLabelKey()"></span>
        </button>
    }
}
