<ng-template #info let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ 'artemisApp.gradingSystem.info.title' | artemisTranslate }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d()"><span aria-hidden="true"></span></button>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>{{ 'artemisApp.gradingSystem.info.general.title' | artemisTranslate }}</th>
                <td>{{ 'artemisApp.gradingSystem.info.general.explanation' | artemisTranslate }}</td>
            </tr>
            <hr />
            <tr>
                <th>{{ 'artemisApp.gradingSystem.info.maxPoints.title' | artemisTranslate }}</th>
                <td>{{ 'artemisApp.gradingSystem.info.maxPoints.explanation' | artemisTranslate }}</td>
            </tr>
            <hr />
            <tr>
                <th>{{ 'artemisApp.gradingSystem.info.gradeType.title' | artemisTranslate }}</th>
                <td>{{ 'artemisApp.gradingSystem.info.gradeType.explanation' | artemisTranslate }}</td>
            </tr>
            <hr />
            <tr>
                <th>{{ 'artemisApp.gradingSystem.info.inclusivity.title' | artemisTranslate }}</th>
                <td>{{ 'artemisApp.gradingSystem.info.inclusivity.explanation' | artemisTranslate }}</td>
            </tr>
            <hr />
            <tr>
                <th>{{ 'artemisApp.gradingSystem.info.firstPassingGrade.title' | artemisTranslate }}</th>
                <td>{{ 'artemisApp.gradingSystem.info.firstPassingGrade.explanation' | artemisTranslate }}</td>
            </tr>
            <hr />
            <tr>
                <th>{{ 'artemisApp.gradingSystem.info.importExport.title' | artemisTranslate }}</th>
                <td>{{ 'artemisApp.gradingSystem.info.importExport.explanation' | artemisTranslate }}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="c()">Close</button>
    </div>
</ng-template>
<div>
    <button class="btn" (click)="open(info)"><fa-icon [icon]="farQuestionCircle"></fa-icon></button>
</div>
