.frame {
    display: flex;
    flex-direction: column;
    width: 45rem;
    height: 30rem;

    .search-field {
        width: 100%;

        .search-input {
            width: 100%;
        }
    }
}

.search-panel {
    margin-top: 0.25rem;
    width: 100%;
    height: 15rem;
    background: #373737;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    padding: 0.25rem;

    .search-viewport {
        height: 100%;
        width: 100%;

        .loading-row {
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--secondary);
        }

        .student-row {
            height: 2rem;
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
            margin-bottom: 0.25rem;
            width: 100%;
            border: none;
            background: none;
            text-align: left;
            cursor: pointer;
            border-radius: 0.25rem;

            &.active {
                background-color: var(--secondary);
            }
        }
    }
}
