.doughnut {
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;

    .doughnut-chart-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .doughnut-chart-text {
            position: absolute;
            min-height: 50px;

            .spinner {
                z-index: 1;
            }
        }
    }

    .clickable {
        cursor: pointer;
    }
}
