.course-detail-parent-container {
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    padding-top: 10px;
}

.chart {
    display: flex;
    position: relative;
}

.tooltip-header {
    margin: 0 !important;
}

.hide-arrow {
    visibility: hidden;
}

.chart-title-line {
    margin-top: 15px;
}

.chart-explanation-tooltip {
    padding-left: 6px;
}

.spinner {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

:host ::ng-deep .refline-label {
    font-size: larger !important;
    font-weight: bolder;
}

:host ::ng-deep .refline-path {
    stroke-width: 2 !important;
    stroke-dasharray: 10 !important;
    stroke-dashoffset: 0 !important;
    stroke: var(--primary) !important;
}
