@media screen and (max-width: 767px) {
    .course-detail-line-chart {
        width: 80% !important;
        height: 80% !important;
    }
}

.course-detail-parent-container {
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    padding-top: 10px;
}

.chart {
    display: flex;
    position: relative;
}
