jhi-secured-image {
    padding-right: 20px;

    ::ng-deep img {
        border-radius: 50%;
        height: 100px;
        width: auto;
        margin-bottom: 10px;
    }

    + h2 {
        display: inline;
    }
}

.tab-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 60px;
    $padding-y: 11px;

    padding-top: $padding-y;
    border-bottom: 1px solid #979797;

    .tab-item {
        margin-bottom: $padding-y;
    }
}

.tab-bar-course-detail {
    // ensure enough vertical space below for absolutely positioned exercise controls
    // when tab bar is shown on course detail page
    @media (max-width: 750px) {
        min-height: 100px;
        padding-bottom: 40px;
    }
}

.doughnut-container {
    min-width: 200px;
}

.fullscreen {
    margin-top: 4px;
}

@media (min-width: 1400px) {
    .col-xxl-4 {
        width: 1/3%;
    }

    .col-xxl-8 {
        width: 2/3%;
    }
}
