@import './bootstrap-variables.scss';

$artemis-dark: #353d47;

// Colors:
// Grayscale and brand colors for use across Bootstrap.
$primary: #3e8acc;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

// Body:
// Settings for the `<body>` element.
$body-bg: #e4e5e6;
