/* user-select mixin */
@mixin user-select($value) {
    -webkit-user-select: $value;
    -moz-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}

/* apply transform translate3d */
@mixin transformTranslate3D($tx, $ty, $tz) {
    -webkit-transform: translate3d($tx, $ty, $tz);
    -moz-transform: translate3d($tx, $ty, $tz);
    -ms-transform: translate3d($tx, $ty, $tz);
    -o-transform: translate3d($tx, $ty, $tz);
    transform: translate3d($tx, $ty, $tz);
}

/* quiz letter/number mixin */
@mixin quiz-letter-number($color) {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: $color;
    color: white;
    border-radius: 50%;
    text-align: center;
}

/* dnd quiz statistic letter position mixin */
@mixin dnd-letter-position {
    position: absolute;
    top: 3%;
    left: 3%;
    z-index: 1;
    opacity: 1;
    @include transformTranslate3D(-63%, -63%, 0);
}

/* drag item in drop location mixin */
@mixin dnd-drop-location-item {
    jhi-drag-item,
    .drag-item {
        width: 100%;
        height: 100%;
        margin: 0;
        background: white;

        .drag-item-text,
        .drag-item-picture {
            line-height: 1;

            span {
                border: none;
                padding: 0;
                vertical-align: middle;
                display: inline-block;
                white-space: nowrap;
            }
        }
    }
}

/* drag item image in drop location mixin */
@mixin dnd-drag-item-image {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto !important;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
