[class^='datatable-icon-']:before,
[class*=' datatable-icon-']:before {
    display: inline-block;
    position: relative;
    transform: scale(1.5, 0.6);
    top: -0.2rem;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.datatable-icon-left::before {
    content: '⟨';
}

.datatable-icon-right::before {
    content: '⟩';
}

.datatable-icon-down::before {
    content: '∨';
}

.datatable-icon-skip::before {
    content: '⟫';
}

.datatable-icon-prev::before {
    content: '⟪';
}
