/*!* ==========================================================================
Online Editor Styles
========================================================================== *!

body.editor {
    height: 100%;
}

body.editor .ribbon {
    display: none;
}

.editor-wrapper,
div.editor {
    height: 100%;
}
body {
    margin: 0;
}
.editor-wrapper {
    .navbar {
        border-bottom: 1px solid #ccc;
    }
}
.editor-wrapper > * {
    flex: 0 0 auto;
}
.editor-wrapper > nav {
    border: 1px solid #e7e7e7;
    margin-bottom: 15px;
}
.editor-wrapper > nav > .editor-top-left {
    color: #5e5e5e;
    font-size: 18px;
}
.editor-wrapper > nav > .editor-top-right {
    font-size: 14px;
}
.editor-wrapper > nav > .editor-top-right > ul > li > jhi-result {
    margin-right: 10px;
    padding-right: 10px;
}
.editor-wrapper > .editor-bottom {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
}
.editor-wrapper > .editor-main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-column-gap: 10px;
    grid-template-rows: minmax(350px, 100%) 5px;
}
.editor-wrapper > .editor-main > * {
    flex: 0 0 auto;
}
.editor-wrapper > .editor-main > .editor-sidebar-left,
.editor-wrapper > .editor-main > .editor-sidebar-right {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 14px;
}

.editor-wrapper > .editor-main > .editor-sidebar-left,
.editor-wrapper > .editor-main > .editor-sidebar-right {
    overflow: initial;
}

.editor-wrapper > .editor-main > .editor-sidebar-right > .card:not(.collapsed) .card-body {
    height: inherit;
    overflow-y: scroll;
}

.editor-wrapper > .editor-main > .editor-sidebar-left .card-body {
    overflow-y: scroll;
    height: inherit;
}

.editor-wrapper > .editor-main > .editor-sidebar-left .card:not(.collapsed),
.editor-wrapper > .editor-main > .editor-sidebar-right .card:not(.collapsed) {
    height: 100%;
}

.editor-wrapper > .editor-main > .editor-center .card {
    height: 100%;
}

.editor-wrapper > .editor-bottom .card-body {
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    bottom: 5px;
    top: 40px;
    width: 100%;
    margin-top: 5px;
}

.editor-wrapper > .editor-main > .editor-center {
    flex: 1 1 auto;
}

.editor-center {
    overflow-y: hidden;
}

.editor-wrapper .navbar-right span {
    margin-right: 10px;
}

.editor-wrapper .navbar-right span {
    vertical-align: baseline;
}

.card-header {
    outline: none;
    .card-title {
        margin-bottom: 0;
    }
}
.card-header[role='button'] {
    cursor: pointer;
}

.card.collapsed .card-body,
.card.collapsed .card-second-header,
.card.collapsed .card-header .float-right,
.card.collapsed .card-header h3 span {
    display: none;
}

.card.collapsed {
    height: 100%;
}
.card.collapsed .card-header {
    height: 100%;
}

.card.collapsed .card-footer span {
    display: none;
}

.treeview .list-group-item,
.editor-wrapper .card-header h3,
body.editor .navbar-brand span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ace_editor {
    height: 100%;
    margin-bottom: 0 !important;
}

.buildoutput {
    font-family: Menlo, Monaco, 'Courier New', monospace;
    font-size: 11px;
    overflow: hidden;
    margin: 0;

    &__entry {
        &-date {
            width: 130px;
            margin-right: 10px;
            color: #505050;
            font-weight: normal;
            float: left;
            clear: left;
        }
        &-text {
            margin-bottom: 0;
            color: #003366;
        }
    }
}

.editor-wrapper .editor-sidebar-right .instructions {
    jhi-programming-exercise-instructions, jhi-programming-exercise-editable-instructions {
        height: inherit;
    }
    &__content {
        height: inherit;

        &__markdown {
            height: inherit;
            overflow: auto;
        }
    }
    .markdown-editor__content.ace_editor {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
}

.editor code {
    color: inherit;
    background-color: transparent;
}

.editor-center .card > .card-body {
    height: inherit;
    padding: 0;
    margin-top: 1px;
}

!* ==========================================================================
Instructor bar styles
========================================================================== *!

.instructor-bar {
    &__badge {
        font-size: 1em;
    }
}

!* ==========================================================================
File browser styles
========================================================================== *!

.treeview-container {
    overflow-y: hidden !important;

    .treeview-item {
        .list-group-item {
            padding: 0.3rem 0.5rem 0.3rem 1.25rem;
            margin-bottom: 2px;
            border: none;
            display: flex;

            &--folder {
                padding-left: 0.3rem;
            }

            &__fileName {
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__input {
                border: none;
                padding-left: 5px;
            }
        }

        .list-group-item:hover {
            background-color: #f5f5f5;
        }

        .list-group-item:hover .file-icons {
            opacity: 1;
        }
    }
}

.node-selected {
    background-color: #428bca !important;
}

.resizable-filebrowser {
    .card-body {
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .card-second-header {
        display: flex;
        button {
            width: 60px;
        }
    }
}

.file-icons {
    opacity: 0;
    transition: all 100ms ease-in-out;
    margin-left: auto;
    :not(:last-child) {
        margin-right: 5px;
    }
    button {
        padding: 0;
        fa-icon {
            cursor: pointer;
        }
    }
}

!* ==========================================================================
Angular-resizable styles
Required for resize-element-handler
========================================================================== *!

.resizable {
    position: relative;
}

.resizable.no-transition {
    transition: none !important;
}

.rg-main-bottom {
    cursor: row-resize;
    grid-column: 1 / 4;
}

.rg-bottom,
.rg-left,
.rg-right,
.rg-top {
    display: block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    z-index: 1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: 0 0;
}

.rg-main-bottom span,
.rg-bottom span,
.rg-left span,
.rg-right span,
.rg-top span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
}

.rg-left span,
.rg-right span {
    border-width: 0 1px;
    top: 50%;
    margin: -10px 0 0 3.5px;
    height: 20px;
    width: 7px;
}

.rg-main-bottom span,
.rg-bottom span,
.rg-top span {
    border-width: 1px 0;
    left: 50%;
    margin: 3.5px 0 0 -10px;
    width: 20px;
    height: 7px;
}

.rg-top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -14px;
}

.rg-right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -14px;
}

.rg-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -14px;
}

.rg-left {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -14px;
}

.rg-main-bottom {
}

!* ==========================================================================
Stepwizard styles (editor instructions)
========================================================================== *!

.card-second-header {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.editor-sidebar-left .card-second-header {
    padding: 3px 5px;
    min-height: 40px;
}

.editor-sidebar-right .card-second-header {
    min-height: 50px;
}

.card-second-header {
    overflow-y: hidden;
    overflow-x: hidden;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-step .fa {
    vertical-align: initial;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    cursor: default;
}

.stepwizard-step .btn {
    cursor: default;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;

    &--no-result.btn {
        cursor: default;
    }

    &--failed.btn {
        cursor: pointer;
    }
}

.btn-circle.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    &.btn-light {
        border-color: #ccc;
    }
}

.test-passing {
    cursor: default !important;
}

.test-passing:hover {
    background-color: #f8f9fa;
}

!* ==========================================================================
Bootstrap 3.3.7 fix
========================================================================== *!

.modal-open {
    .fade.in {
        opacity: 1;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

    .bootstrap-modal-fix {
        display: block;
    }
}*/

.editor-wrapper {
    display: grid;
    grid-template-rows: min-content auto auto;
    grid-row-gap: 10px;

    .collapsed--horizontal,
    .collapsed--vertical {
        flex: none !important;

        .card-header {
            height: 100%;
            width: 100%;
            > fa-icon {
                display: none;
            }
        }

        .card-body,
        .card-second-header {
            display: none !important;
        }

        .card-title span {
            display: none !important;
        }

        .card-footer span {
            display: none !important;
        }
    }
    .collapsed--horizontal {
        width: 75px !important;
    }
    .collapsed--vertical {
        height: 42px !important;
    }
}

.editor-statusbar {
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    padding: 10px;

    &__title {
        color: #5e5e5e;
        font-size: 18px;
    }
}

.editor-main {
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
    margin-bottom: 10px;

    &__content {
        display: flex;
        height: inherit;

        .editor-sidebar-left {
            flex: 0 1 auto;
            display: flex;
            width: 310px;
        }
    }

    .editor-center {
        flex: 1 1 auto;

        .card {
            height: 100%;
        }
    }
    .editor-sidebar-right {
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        width: 500px;
    }
}

.editor-bottom {
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;

    jhi-code-editor-build-output {
        height: inherit;
    }
}

/*!* ==========================================================================
Resizable drag elements
========================================================================== *!*/

.rg-main-bottom,
.rg-bottom-bottom,
.rg-sidebar-left,
.rg-sidebar-right {
    align-self: center;
}

.rg-main-bottom {
    cursor: row-resize;
}

.rg-sidebar-left,
.rg-sidebar-right {
    cursor: col-resize;
    margin-left: 4px;
    margin-right: 4px;
}

/*!* ==========================================================================
File browser
========================================================================== *!*/

jhi-code-editor-file-browser {
    flex: 1 1 auto;

    .file-browser {
        height: 100%;

        .card-body {
            overflow: auto;
            padding: 1rem 0.5rem 1rem 0.5rem;
        }

        .card-second-header {
            display: flex;
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;

            button {
                width: 60px;
            }
        }
    }
}

/*!* ==========================================================================
File browser tree
========================================================================== *!*/

.treeview-container {
    overflow-y: hidden !important;

    .treeview-item {
        .list-group-item {
            padding: 0.3rem 0.5rem 0.3rem 1.25rem;
            margin-bottom: 2px;
            border: none;
            display: flex;

            &--folder {
                padding-left: 0.3rem;
            }

            &__fileName {
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__input {
                border: none;
                padding-left: 5px;
            }
        }

        .list-group-item:hover {
            background-color: #f5f5f5;
        }

        .list-group-item:hover .file-icons {
            opacity: 1;
        }
    }

    .node-selected {
        background-color: #428bca !important;
    }

    .file-icons {
        opacity: 0;
        transition: all 100ms ease-in-out;
        margin-left: auto;
        :not(:last-child) {
            margin-right: 5px;
        }
        button {
            padding: 0;
            fa-icon {
                cursor: pointer;
            }
        }
    }
}

/*!* ==========================================================================
Instructions
========================================================================== *!*/

jhi-code-editor-instructions {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: inherit;

    .instructions {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;

        .editable-instruction-container,
        jhi-markdown-editor,
        .markdown-editor-wrapper,
        .tab-content,
        .tab-content > .active,
        jhi-programming-exercise-instructions,
        .markdown-editor {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            height: inherit;
        }

        .markdown-editor__content {
            flex: 1 1 auto;
        }

        &__content {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            height: inherit;

            .card-second-header {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-bottom: 1px solid #ddd;
            }

            &__markdown {
                height: inherit;
                overflow: auto;
                padding: 1.25rem;
            }
        }
    }

    .nav.nav-tabs {
        background-color: #f5f5f5;
    }
}

/*!* ==========================================================================
Ace Editor
========================================================================== *!*/

.code-editor-ace {
    flex: 1 1 auto;
    height: 100%;
    &__content {
        padding: 0;
        &__editor {
            height: 100%;
        }
    }
}

/*!* ==========================================================================
Instructions stepwizard
========================================================================== *!*/

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-step .fa {
    vertical-align: initial;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    cursor: default;
}

.stepwizard-step .btn {
    cursor: default;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;

    &--no-result.btn {
        cursor: default;
    }

    &--failed.btn {
        cursor: pointer;
    }
}

.btn-circle.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    &.btn-light {
        border-color: #ccc;
    }
}

.test-passing {
    cursor: default !important;
}

.test-passing:hover {
    background-color: #f8f9fa;
}

/*!* ==========================================================================
Build-output
========================================================================== *!*/

.build-output {
    height: inherit;

    &__content {
        font-family: Menlo, Monaco, 'Courier New', monospace;
        font-size: 11px;
        overflow: auto;
        margin: 0;

        &__entry {
            &-date {
                width: 130px;
                margin-right: 10px;
                color: #505050;
                font-weight: normal;
                float: left;
                clear: left;
            }
            &-text {
                margin-bottom: 0;
                color: #003366;
            }
        }
    }
}

/*!* ==========================================================================
Code-Editor-Status
========================================================================== *!*/

.code-editor-status {
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    grid-column-gap: 10px;

    > :not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        padding-left: 20px;
    }
}
