/*!* ==========================================================================
Code-Editor Layout Styles
========================================================================== *!*/

.editor-wrapper {
    display: grid;
    grid-template-rows: min-content auto auto;
    grid-row-gap: 10px;

    .collapsed--horizontal {
        width: 75px !important;
    }
    .collapsed--vertical {
        height: 42px !important;
    }
}

.editor-statusbar {
    display: flex;
    align-items: center;
    border: 1px solid #e7e7e7;
    padding: 10px;

    &__title {
        color: #5e5e5e;
        font-size: 18px;
    }
}

.editor-main {
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
    margin-bottom: 10px;

    &__content {
        display: flex;
        height: inherit;

        .editor-sidebar-left {
            flex: 0 1 auto;
            display: flex;
            width: 310px;
        }
    }

    .editor-center {
        flex: 1 1 auto;

        .card {
            height: 100%;
        }
    }
    .editor-sidebar-right {
        flex: 0 1 auto;
        display: flex;
        flex-flow: row nowrap;
        width: 500px;
    }
}

.editor-bottom {
    height: 200px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;

    jhi-code-editor-build-output {
        height: inherit;
    }
}

/*!* ==========================================================================
Resizable drag elements
========================================================================== *!*/

.rg-main-bottom,
.rg-bottom-bottom,
.rg-sidebar-left,
.rg-sidebar-right {
    align-self: center;
}

.rg-main-bottom {
    cursor: row-resize;
}

.rg-sidebar-left,
.rg-sidebar-right {
    cursor: col-resize;
    margin-left: 4px;
    margin-right: 4px;
}

/*!* ==========================================================================
File browser
========================================================================== *!*/

jhi-code-editor-file-browser {
    flex: 1 1 auto;

    .file-browser {
        height: 100%;

        .card-body {
            overflow: auto;
            padding: 1rem 0.5rem 1rem 0.5rem;
        }

        .card-second-header {
            display: flex;
            background-color: #f5f5f5;
            border-bottom: 1px solid #ddd;

            button {
                width: 60px;
            }
        }
    }
}

.editor-sidebar-left.collapsed--horizontal jhi-code-editor-file-browser {
    flex: none !important;

    .card-header {
        height: 100%;
        width: 100%;
        > fa-icon {
            display: none;
        }
    }

    .card-body,
    .card-second-header {
        display: none !important;
    }

    .card-title span {
        display: none !important;
    }
}

.editor-sidebar-left:not(.collapsed--horizontal) .code-editor-status {
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    grid-column-gap: 10px;

    > :not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        padding-left: 20px;
    }
}

.editor-sidebar-left.collapsed--horizontal .code-editor-status {
    > :not(:last-child) {
        padding-bottom: 5px;
    }
    > :not(:first-child) {
        padding-top: 5px;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
    span {
        display: none !important;
    }
}

/*!* ==========================================================================
File browser tree
========================================================================== *!*/

.treeview-container {
    overflow-y: hidden !important;

    .treeview-item {
        .list-group-item {
            padding: 0.3rem 0.5rem 0.3rem 1.25rem;
            margin-bottom: 2px;
            border: none;
            display: flex;

            &--folder {
                padding-left: 0.3rem;
            }

            &__fileName {
                cursor: pointer;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__input {
                border: none;
                padding-left: 5px;
            }
        }

        .list-group-item:hover {
            background-color: #f5f5f5;
        }

        .list-group-item:hover .file-icons {
            opacity: 1;
        }
    }

    .node-selected {
        background-color: #428bca !important;
    }

    .file-icons {
        opacity: 0;
        transition: all 100ms ease-in-out;
        margin-left: auto;
        :not(:last-child) {
            margin-right: 5px;
        }
        button {
            padding: 0;
            fa-icon {
                cursor: pointer;
            }
        }
    }
}

/*!* ==========================================================================
Instructions
========================================================================== *!*/

jhi-code-editor-instructions {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    height: inherit;

    .instructions {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        height: 100%;

        .editable-instruction-container,
        jhi-markdown-editor,
        .markdown-editor-wrapper,
        .tab-content,
        .tab-content > .active,
        jhi-programming-exercise-instructions {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            height: inherit;
        }

        .markdown-editor {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            height: auto;
        }

        .markdown-editor__content {
            flex: 1 1 auto;
        }

        &__content {
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 auto;
            height: inherit;

            .card-second-header {
                padding: 10px 15px;
                background-color: #f5f5f5;
                border-bottom: 1px solid #ddd;
            }

            &__markdown {
                height: inherit;
                overflow: auto;
                padding: 1.25rem;
            }
        }
    }

    .nav.nav-tabs {
        background-color: #f5f5f5;
    }
}

.editor-sidebar-right.collapsed--horizontal {
    flex: none !important;

    .card-header {
        height: 100%;
        width: 100%;
        > fa-icon {
            display: none;
        }
    }
    .card-body {
        .editable-instruction-container__save,
        jhi-markdown-editor {
            display: none;
        }
        .instructions__content {
            height: auto;
        }
    }

    .card-second-header {
        display: none !important;
    }

    .card-title span {
        display: none !important;
    }
}

.editor-sidebar-right:not(.collapsed--horizontal) .editable-instruction-container__status {
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    grid-column-gap: 10px;

    > :not(:first-child) {
        border-left: 1px solid rgba(0, 0, 0, 0.125);
        padding-left: 20px;
    }
}

.editor-sidebar-right.collapsed--horizontal {
    .instructions__content {
        height: auto;
    }
    .editable-instruction-container__status {
        display: flex;
        flex-flow: column;

        > :not(:last-child) {
            padding-bottom: 5px;
        }

        > :not(:first-child) {
            padding-left: 0;
            padding-top: 5px;
            border-top: 1px solid rgba(0, 0, 0, 0.125);
            border-left: none;
        }

        span {
            display: none !important;
        }

        .editable-instruction-container__status__testcase span,
        .instructions-status span {
            display: none !important;
        }
    }
}

/*!* ==========================================================================
Ace Editor
========================================================================== *!*/

.code-editor-ace {
    flex: 1 1 auto;
    height: 100%;
    &__content {
        padding: 0;
        &__editor {
            height: 100%;
        }
    }
}

/*!* ==========================================================================
Build-output
========================================================================== *!*/

.editor-bottom.collapsed--vertical .build-output {
    flex: none !important;

    .card-header {
        height: 100%;
        width: 100%;
        > fa-icon {
            display: none;
        }
    }

    .card-body,
    .card-second-header {
        display: none !important;
    }

    .card-title span {
        display: none !important;
    }
}

.build-output:not(.collapsed--vertical) {
    height: inherit;

    .build-output__content {
        font-family: Menlo, Monaco, 'Courier New', monospace;
        font-size: 11px;
        overflow: auto;
        margin: 0;

        &__entry {
            &-date {
                width: 130px;
                margin-right: 10px;
                color: #505050;
                font-weight: normal;
                float: left;
                clear: left;
            }
            &-text {
                margin-bottom: 0;
                color: #003366;
            }
        }
    }
}
