// Note: we first need to define our own customizations
@import 'src/main/webapp/content/scss/artemis-variables';

// Then, we include bootstrap so that it can use some magic functions to compute new values based on those customizations
// The order is very important, otherwise the background and the button colors might not work correctly
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@danielmoncada/angular-datetime-picker/assets/style/picker.min';
// Needed for mathematical formulas in markdown editor
@import '~katex/dist/katex.css';
@import '~@flaviosantoro92/ngx-datatable/themes/bootstrap.css';
// Needed for emojis in metis reactions
@import 'node_modules/@ctrl/ngx-emoji-mart/picker';

// Smooth transition between themes
* {
    transition: background-color 0.2s, background 0.2s;
}

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

/* like fw-bold or fw-normal, but with weight 500 */
.fw-medium {
    font-weight: 500 !important;
}

/* Increase contrast of links to get 100% on Lighthouse Accessibility Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a,
a:not(.btn):not(.dropdown-item):not(.page-link):not(.nav-link):hover {
    color: $link-color;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* bootstrap 5 underlines links by default */
a {
    text-decoration: none !important;
}

a:not(.btn):hover {
    text-decoration: underline !important;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.text-normal {
    color: $body-color !important;
}

.clickable {
    cursor: pointer;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.overflow-parent {
    min-width: 0;
}

/*
 The following line makes sure the behavior of the buttons is consistent with a previous Bootstrap version 4.1.x
 TODO: In the future, we should find a better solution to displays buttons with wraps
 */
.btn {
    white-space: nowrap;
}

/* Default the color to white even on bootstrap 5 */
.btn-primary,
.btn-primary:hover,
.btn-primary:disabled,
.btn-info,
.btn-info:hover,
.btn-success,
.btn-success:hover {
    color: $colored-btn-font !important;
}

a.btn {
    -webkit-appearance: none !important;
}

.btn-default {
    color: $default-btn-font;
    background-color: $default-btn-background;
    border-color: $default-btn-border;
}

.footer {
    &.fixed {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        background-color: $footer-bg;
        padding: 5px 0;
    }

    .footer-text {
        font-weight: normal;
        font-size: small;

        &:hover {
            font-weight: normal;
        }
    }
}

// make sure to align with the bootstrap rule here
// workaround for unsupported justify-content-evenly by bootstrap
@media (max-width: 576px) {
    .footer::before,
    .footer::after {
        content: '';
    }
}

.popover {
    max-width: 100%;
}

.border-lightgrey {
    border-color: $border-lightgrey;
}

.text-lightgrey {
    color: $text-lightgrey;
}

.form-group {
    margin-bottom: 1rem;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: left;
}

.form-control,
.form-select,
.form-check-input,
.form-control:not(.ace_editor):hover,
.form-control:focus,
.form-control:focus-visible,
textarea {
    background-color: $form-control-focus-background;
    color: $form-control-color !important;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
}

.form-check-input:checked {
    background-color: $primary;
}

.btn-primary input,
.btn input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

th {
    border-bottom-color: inherit !important;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: $browserupgrade-color-background;
    color: $browserupgrade-color;
    padding: 0.2em 0;
}

/* ==========================================================================
Narrow styles
========================================================================== */

.form-group-narrow {
    margin-bottom: 0.2rem;
}

.label-narrow {
    display: inline-block;
    margin-bottom: 0.1rem;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required,
.ng-invalid:not(form) {
    border-left: 5px solid $ng-valid-border;

    &.form-check-input {
        border: 1px solid $ng-valid-border;
    }
}

.ng-invalid:not(form) {
    border-left: 5px solid $ng-invalid-border;

    &.form-check-input {
        border: 1px solid $ng-invalid-border;
    }
}

/* other generic styles */

// This class refers to the gutter inserted by split.js for its split view
.gutter {
    background-color: $gutter-background;
    cursor: col-resize;
    position: relative;
    transition: background-color 0.2s;

    &::before {
        background-color: $slightly-darker-body-bg;
        border-radius: 1px;
        content: '';
        height: 24px;
        left: 50%;
        position: absolute;
        top: 50%;
        transition: background-color 0.2s;
        transform: translate(-50%, -50%);
        width: 2px;
    }

    &:active,
    &:hover {
        background-color: $body-bg;

        &::before {
            background-color: $darker-body-bg;
        }
    }
}

.error {
    color: $error-color;
    background-color: $error-background;
}

.invalid-feedback {
    display: block;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: $readonly-background;
    opacity: 1;
}

.page-wrapper {
    @media (min-width: 768px) {
        padding-bottom: 46px;
        min-height: 100vh;
        position: relative;
    }
}

.main-container {
    @media (max-width: 576px) {
        padding: 0;
    }
}

.no-flex-shrink {
    flex-shrink: 0;
}

.flex-basis-50 {
    flex-basis: 50%;
}

a:hover {
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
$padding-sides: 'left', 'right', 'top', 'bottom', 'all';
@each $side in $padding-sides {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }

        dd {
            border-bottom: 1px solid $jh-entity-details-dd-border;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

.editor-outline-background {
    background: $editor-outline-background;
    max-width: max-content;
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.card-header > .dropdown .dropdown-toggle {
    color: inherit;
}

.card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.card-resizable {
    user-select: none;
}

.card-title > a,
.card-title > small,
.card-title > .small,
.card-title > small > a,
.card-title > .small > a {
    color: inherit;
}

.card-body {
    input {
        max-width: 100%;
    }

    padding: 1.25rem 1.25rem;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.total-score-wrapper {
    margin-left: auto;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
}

.btn-total-score {
    color: $btn-total-score-color;
    border-radius: 6px;
    border: none;
}

.span-total-score {
    margin-right: 5px;
    font-weight: bold;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.result-orange {
    color: $result-orange;
}

a.result-orange:hover {
    color: $result-orange;
}

.result--late {
    color: $result-late;
}

a.result--late:hover {
    color: $result-late;
}

span.result {
    text-decoration: underline;
    font-weight: normal;
}

span.result:hover {
    text-decoration: underline;
    font-weight: normal;
    cursor: pointer;
}

span.score {
    font-weight: bold;
}

span.bold {
    font-weight: bold;
}

.negative,
.positive {
    padding: 2px 4px;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

.negative {
    color: $negative-color;
    background-color: $negative-background;
}

.positive {
    color: $positive-color;
    background-color: $positive-background;
}

table {
    .col-xs-1 {
        width: 8.33333%;
    }

    .col-xs-2 {
        width: 16.66667%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-6 {
        width: 50%;
    }
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
    color: $artemis-pre-color;
    background-color: $artemis-pre-background;
    border: 1px solid $artemis-pre-border;
    border-radius: 4px;
}

.code-error,
.code-warning,
.code-success {
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

.code-success {
    padding: 2px 4px;
    font-size: 90%;
    color: $code-success-color;
    background-color: $code-success-background;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.code-error {
    color: $code-error-color;
    background-color: $code-error-background;
}

.code-warning {
    color: $code-warning-color;
    background-color: $code-warning-background;
}

code.password {
    color: $code-password !important;
    background: $code-password-background;
}

code.password::selection {
    background: $code-password-selection-background;
    color: $code-password-selection !important;
}

code.password:hover {
    color: $code-password-hover !important;
}

.apollon-editor label {
    margin-bottom: 0;
}

.assessments {
    width: calc(100% - 30px);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 15px;
    overflow: hidden;
    pointer-events: none;

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 15px);
        height: calc(100% + 15px);
        overflow: scroll;
    }

    &__canvas {
        min-width: 3000px;
        min-height: 3000px;

        > div {
            position: absolute;
            z-index: 1;
            text-align: right;
            transform: translateX(-100%);
            min-width: 65px;
            padding: 5px;

            i {
                vertical-align: middle;

                &.half {
                    position: relative;

                    &:before {
                        display: block;
                        width: 60%;
                        overflow: hidden;
                    }

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0.3;
                    }
                }
            }

            .fa-check {
                color: $success;

                &.half {
                    &:after {
                        content: '\F00C';
                    }
                }

                ~ i {
                    margin-left: -0.5em;
                }
            }

            .fa-times {
                color: $danger;

                &.half {
                    &:after {
                        content: '\f00d';
                    }
                }

                ~ i {
                    margin-left: -0.2em;
                }
            }
        }
    }
}

.unreferencedFeedback {
    background-color: $unreferenced-feedback-background;
}

.displaycolor {
    background: $displaycolor-background;
}

// This puts the owl-datetime-picker on top of the ngbootstrap modal
.cdk-overlay-container {
    z-index: 1060;
}

.not-allowed {
    cursor: not-allowed;
}

.colon-suffix:after {
    content: ':';
}

/* ==========================================================================
Course Info Bar
========================================================================== */
.course-info-bar {
    background-color: $artemis-dark;
    padding: 1em 1em;
    margin: -1.25rem -1.25rem 0 -1.25rem;
    display: flex;
    color: $white;
    flex-direction: column;
    justify-content: center;
}

/* ==========================================================================
    Markdown preview
========================================================================== */
.markdown-preview {
    .background-editor-color {
        background: $markdown-preview-editor-background;
    }

    $color-options: 'red', 'green', 'white', 'black', 'yellow', 'blue', 'lila', 'orange';
    @each $col in $color-options {
        .#{$col} {
            color: var(--markdown-preview-#{$col});
        }
    }

    blockquote {
        padding: 0 1em;
        color: $markdown-preview-blockquote;
        border-left: 0.25em solid $markdown-preview-blockquote-border;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    // this class is required for rendering post references in between of post content without having linebreaks
    .inline-paragraph {
        margin-bottom: 0 !important;
        display: inline;
    }
}

.ngb-tooltip-window {
    padding: 0;
    width: 200px !important;

    > div {
        margin: auto !important;
    }
}

.warning-modal-window .modal-dialog {
    width: 50%;
}

/* additional style to overwrite form-control style from parent components */
.form-control.ace_editor {
    font-size: 12px;
    line-height: normal;
}

.connection-status {
    font-size: 14px;
    color: $connection-status;

    &.disconnected {
        color: $connection-status-disconnected;
    }

    i {
        font-size: 0.8em;
        vertical-align: 10%;
        margin-right: 2px;
    }
}

/* Bootstrap 5 specific fix for flickering tooltips */
.tooltip {
    pointer-events: none;
}

/* Boostrap 5 Print Styles (https://github.com/coliff/bootstrap-print-css/) */
@media print {
    *,
    *::before,
    *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    abbr[title]::after {
        content: ' (' attr(title) ')';
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #adb5bd;
        page-break-inside: avoid;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    @page {
        size: a3;
    }
    body {
        min-width: 992px !important;
    }
    .container {
        min-width: 992px !important;
    }
    .badge {
        border: 1px solid #000;
    }
    .table {
        border-collapse: collapse !important;
    }
    .table td,
    .table th {
        background-color: #fff !important;
    }
    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6 !important;
    }
    .table-dark {
        color: inherit;
    }
    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
        border-color: #dee2e6;
    }
}

/* Custom fixes for printing */
@media print {
    .container {
        min-width: 0 !important;
    }
    .card,
    .card-header,
    .card-footer {
        display: block !important;
        border: 1px solid #000;
    }
    /* Print detail views with full width */
    .row.justify-content-center > .col-8 {
        width: 100% !important;
    }
    /* Hide buttons that are not part of a group */
    :not(.btn-group) > {
        button,
        .btn {
            display: none !important;
        }
    }
    /* Adjust border with for button groups so they can be printed */
    div.btn-group > .btn.selected {
        border-width: 4px;
    }
    /* Hide navbar toggle */
    [data-toggle='collapse'] {
        display: none;
    }
    /* Add columns to description list to avoid long pages */
    dl {
        columns: 2;
    }
    /* Hide footer */
    .footer,
    .edit-quiz-footer {
        display: none;
    }
    /* Hide popovers and notifications */
    .connection-warning,
    .popover,
    .alert-wrap {
        display: none;
    }
    /* Fix progress bars */
    .progress {
        position: relative;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            border-bottom: 2rem solid #e9ecef;
        }
    }
    .progress-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-bottom: 2rem solid #5b9cd4;
    }
}

.accordion-body {
    background: $brighter-body-bg;
    max-height: 50vh;
    overflow: scroll;
    padding: 0 0.5rem;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
    box-shadow: 3px 3px 6px $mat-autocomplete-visible-box-shadow;
}

.mat-form-field-outline {
    top: -0.1em !important;
    color: $mat-form-field-outline;
}

/* Connection Warning Tooltip */
.connection-warning-popover {
    pointer-events: none;
    flex-wrap: nowrap;
    background-color: transparent;

    .popover-arrow::after {
        border-bottom-color: $artemis-alert-danger-background;
    }

    .popover-body {
        border: none;
        max-width: 70vw;
        width: 400px;
        background-color: $artemis-alert-danger-background;
        color: $artemis-alert-danger-color;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.55) 0 5px 15px;
    }
}

@media only screen and (max-width: 400px) {
    .connection-warning-popover .popover-body .ng-fa-icon {
        display: none;
    }
}
