.edit-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#quiz-title {
    margin-bottom: 8px;
}

.edit-quiz .quiz-options,
.question-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    input,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .datepicker-input {
        max-width: 140px;
    }

    .checkbox {
        display: inline-block;
    }

    .input-group > input {
        height: 100%;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin: 0 5px 15px;

        > * {
            margin: 0 4px;
        }
    }

    .background-file,
    drag-item-file {
        display: flex;
    }

    .drag-item-file {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
}

.statistic-footer {
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

    background: white;

    .container {
        height: 100%;
    }
}

.statistic-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }
}

.edit-quiz-footer,
.quiz-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

    background: white;

    .container {
        height: 100%;
    }
}

.edit-quiz-footer {
    height: 80px;
}

.quiz-footer {
    height: 90px;
}

.edit-quiz-footer-content,
.quiz-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control,
    .input-group-btn {
        width: auto;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }

    .invalid-reasons-tooltip .tooltip-inner {
        text-align: left;
        max-width: 300px;

        p {
            margin: 4px 0;
            padding: 4px;
        }
    }
}

.question:first-of-type {
    margin-top: 18px;
}

.edit-quiz .quiz-options .form-group > div.time-picker {
    margin-top: -15px;
    margin-left: 0px;
}

.question {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    background: #fefefe;

    .mc-question,
    .dnd-question {
        width: 100%;
        box-sizing: border-box;
        border: none;
        margin-bottom: 0;
        padding: 0;
    }

    .question-card-header {
        padding: 15px 5px 5px 5px;
    }

    .question-card-body,
    .preview-mc-question,
    .preview-dnd-question {
        padding: 20px;
    }

    .question-collapse {
        margin-top: -15px;
        width: 3.25rem;
    }

    .delete-button,
    .duplicate-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px;
    }

    .delete-button:hover {
        color: red;
    }

    .duplicate-button:hover {
        color: #0f6ab4;
    }

    .question-title {
        flex: 1;

        input.form-control {
            width: 100%;
        }
    }

    .markupEditorArea {
        margin: 0 4px;

        .toolbar {
            margin: 4px 0;
        }
    }

    .question-content {
        > div {
            height: 12em;
        }
    }
}

.mc-question,
.dnd-question {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    padding: 20px;
    background: #fefefe;

    h2 {
        margin: 0 90px 0 0;

        span {
            color: grey;
        }
    }

    p {
        margin: 10px 0;
        font-size: 16px;
    }

    &.result {
        border-color: green;

        &.incorrect {
            border-color: orange;
        }
    }

    .question-title-display {
        max-width: 80%;
    }

    .question-score {
        position: absolute;
        top: 20px;
        right: 20px;
        max-width: 15%;

        &.result {
            font-weight: bold;
            color: green;

            &.incorrect {
                color: orange;
            }
        }
    }

    .label {
        cursor: pointer;
        margin: 2px 0;
    }

    .answer-options {
        margin-top: 20px;
    }

    .answer-option {
        display: flex;
        align-items: center;
        outline: none !important;
        border: 1px solid lightgrey;
        margin: 4px 0;
        padding: 6px 10px;

        .selection {
            width: 36px;
            margin-left: 16px;
        }

        .content {
            display: flex;
            flex: 1;
            align-items: center;

            .text {
                flex: 1;
                padding-right: 8px;
                font-size: 16px;
            }

            .hint {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-size: 18px;
            }
        }

        &:hover {
            background: #fafafa;
        }

        &.click-disabled {
            cursor: not-allowed;

            &:hover {
                background: inherit;
            }
        }
    }

    &.disabled {
        color: dimgrey;
        background: #fafafa;
    }
}

.edit-dnd-question,
.dnd-question {
    .background-area {
        position: relative;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .click-layer {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;

            .drop-location {
                position: absolute;
                z-index: 1;

                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-end;
            }
        }

        img {
            width: 100%;
        }
    }

    .instructions {
        margin: 10px 0;
        font-weight: bold;
    }

    .drag-items {
        margin: 6px 0;

        width: 100%;
        min-height: 180px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .ellipsis {
        text-overflow: ellipsis;
        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }
}

.edit-dnd-question {
    .markupEditorArea {
        margin-bottom: 14px;

        .question-content {
            > div {
                height: 8em;
            }
        }
    }

    .mapping-numbers-wrapper {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transform: translate3d(0, 8px, 0);
        -moz-transform: translate3d(0, 8px, 0);
        -ms-transform: translate3d(0, 8px, 0);
        -o-transform: translate3d(0, 8px, 0);
        transform: translate3d(0, 8px, 0);

        .mapping-number {
            position: static;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    .mapping-number {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);

        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: dimgrey;
        color: white;
        border-radius: 50%;
        text-align: center;

        .unlink-mapping {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            line-height: 30px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            border-radius: 50%;
            text-align: center;

            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }
    }

    .mapping-color-1 {
        background: #2980b9;
    }
    .mapping-color-2 {
        background: #c0392b;
    }
    .mapping-color-3 {
        background: #27ae60;
    }
    .mapping-color-4 {
        background: #f1c40f;
    }
    .mapping-color-5 {
        background: #e67e22;
    }
    .mapping-color-6 {
        background: #8e44ad;
    }
    .mapping-color-7 {
        background: #1abc9c;
    }
    .mapping-color-0 {
        background: #2c3e50;
    }

    .background-area {
        .click-layer {
            cursor: crosshair !important;

            &.disabled {
                cursor: not-allowed !important;
            }

            .drop-location {
                border: 1px dashed mediumpurple;
                cursor: move !important;
                background: rgba(255, 255, 255, 0.5);

                &:hover {
                    background: rgba(255, 255, 255, 0.8);
                }

                .dimensions {
                    position: absolute;
                    left: 2px;
                    bottom: 0;
                    font-size: 14px;
                }

                .invalid {
                    position: absolute;
                    left: 2px;
                    top: 0;
                    font-size: 14px;
                }

                .resize {
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background: mediumpurple;

                    &.top {
                        top: -3px;
                    }

                    &.middle {
                        top: calc(50% - 3px);
                        cursor: col-resize;
                    }

                    &.bottom {
                        bottom: -3px;
                    }

                    &.left {
                        left: -3px;
                    }

                    &.center {
                        left: calc(50% - 3px);
                        cursor: row-resize;
                    }

                    &.right {
                        right: -3px;
                    }

                    &.top.left,
                    &.bottom.right {
                        cursor: nwse-resize;
                    }

                    &.top.right,
                    &.bottom.left {
                        cursor: nesw-resize;
                    }
                }
            }
        }
    }

    .drop-allowed {
        background: rgba(173, 216, 230, 0.8) !important; //light blue
    }

    .drop-hover,
    .dnd-drag-over {
        background: rgba(144, 238, 144, 0.8) !important; //light green
    }

    .drag-item {
        border: 1px solid dimgrey;
        background: #fafafa;

        textarea {
            position: absolute;
            left: 0;
            top: 30px;
            width: 158px;
            height: 98px;
            padding: 0 14px;
            text-align: center;
            border: none;
            resize: none;

            &:focus {
                z-index: 3;
            }
        }

        .delete-button {
            position: absolute;
            top: 4px;
            right: 2px;

            .re-evaluate-button {
                display: inline-block;
                padding: 2px;
            }
        }
        .dimensions {
            position: absolute;
            left: 2px;
            bottom: 0;
            font-size: 14px;
        }

        .drag-handle-wrapper {
            position: absolute;
            top: 4px;
            left: 2px;
            cursor: move;
            display: flex;
            align-items: center;
            padding: 4px;
        }
    }
}

.dnd-question {
    .background-area {
        .click-layer {
            .drop-location {
                background: white;
                border: 1px dashed black;

                .drag-item,
                jhi-drag-item {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    background: white;
                }

                .drag-item {
                    div {
                        padding: 6px;

                        span {
                            border: none;
                            padding: 0;
                        }
                    }
                }

                &.drop-allowed > *,
                &.drop-hover,
                .dnd-drag-over > * {
                    opacity: 0.5;
                }

                &.results {
                    border-color: green;
                    background: rgb(170, 255, 170);

                    > * {
                        opacity: 0.8;
                    }

                    &.incorrect {
                        border-color: red;
                        background: rgb(255, 170, 170);
                    }
                }

                &.sampleSolution {
                    border-color: black;
                    background: white;

                    > * {
                        opacity: 1;
                    }
                }

                .result-symbol {
                    color: orange;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    opacity: 1;
                    -webkit-transform: translate3d(-63%, -63%, 0);
                    -moz-transform: translate3d(-63%, -63%, 0);
                    -ms-transform: translate3d(-63%, -63%, 0);
                    -o-transform: translate3d(-63%, -63%, 0);
                    transform: translate3d(-63%, -63%, 0);
                }
                .invalid {
                    color: red;
                    position: absolute;
                    bottom: 0px;
                    left: 2px;
                    z-index: 1;
                    opacity: 1;
                }
            }
        }
    }

    .drop-allowed {
        background: rgb(173, 216, 230) !important;
    }

    .drop-hover,
    .dnd-drag-over {
        background: rgb(144, 238, 144) !important;
    }

    .drag-items {
        background: #eee;
    }

    .drag-item {
        div {
            span {
                cursor: move;
                border: 1px solid black;
            }
        }
    }
}

.drag-item {
    background: transparent;
    border: none;
    position: relative;
    height: 160px;
    min-width: 160px;
    max-width: 300px;
    margin: 10px 4px;

    img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto !important;
        margin: auto;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    &.no-click {
        * {
            cursor: default !important;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    .drag-item-picture {
        cursor: move;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .drag-item-text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        white-space: pre-wrap;

        span {
            color: black;
            background: white;
            padding: 4px;
        }
    }
}

.quiz-header {
    font-size: 16px;
    margin-top: 25px;
}

.quiz-content,
.quiz-footer-content {
    font-size: 16px;
}

.quiz-content {
    margin-top: 6px;
    margin-bottom: 110px;

    min-height: calc(100vh - 390px);

    .question-index {
        padding: 2px 6px;
    }
}

.quiz-footer-content {
    #remaining-time {
        text-align: center;
    }

    #remaining-time-value {
        font-weight: bold;
    }

    #quiz-score {
        text-align: center;
        font-weight: bold;
        color: green;

        &.incorrect {
            color: black;
        }
    }

    .time-warning {
        color: orange;
    }

    .time-critical {
        color: red;
    }

    .connection-status {
        margin-top: 4px;
        font-size: 14px;
        color: green;

        &.disconnected {
            color: red;
        }

        i {
            font-size: 0.8em;
            vertical-align: 10%;
            margin-right: 2px;
        }

        @media (max-width: 767px) {
            font-size: 11px;
        }
    }

    @media (max-width: 767px) {
        font-size: 12px;
    }
}

.quiz-is-active-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 6;

    background: rgba(0, 0, 0, 0.4);
}

.quiz-submitted-overlay,
.quiz-waiting-for-start-overlay,
.quiz-is-active-overlay,
.quiz-is-over-overlay {
    position: fixed !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    border-color: #3c763d;
    z-index: 8;
}

table.answer-options-result {
    width: 100%;

    .answer-option {
        display: table-row;
    }

    th {
        color: dimgray;
    }

    th,
    td {
        padding: 6px 10px;
    }

    .solution {
        width: 100px;
    }

    .result-symbol {
        padding: 0;
        color: orange;
        width: 50px;
    }

    .selection {
        width: 36px;
        margin-left: 0;
    }

    .correct {
        color: green;
    }

    .wrong {
        color: red;
    }
}

.colon-suffix:after {
    content: ':';
}

.in-parentheses:before {
    content: '(';
}

.in-parentheses:after {
    content: ')';
}

.no-flex-shrink {
    flex-shrink: 0;
}

.re-evaluate-button {
    display: inline-block;
    padding: 4px;
}

.re-evaluate-button:hover {
    color: blue;
}

.re-evaluate-order-button {
    display: inline-block;
    padding: 4px;
    cursor: move;
}

.re-evaluate-order-button:hover {
    color: blue;
}

.answer-border {
    padding: 10px;
    border-radius: 0.1em;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    height: auto;
}

.warning-modal-window .modal-dialog {
    width: 50%;
}

.drag-and-drop-statistic-picture {
    .click-layer {
        .drop-location {
            background: white;
            border: 1px dashed black;

            .drag-item,
            jhi-drag-item {
                width: 100%;
                height: 100%;
                margin: 0;
                background: white;
            }

            .drag-item {
                div {
                    padding: 6px;

                    span {
                        border: none;
                        padding: 0;
                    }
                }
            }

            .letter {
                color: white;
                position: absolute;
                top: 3%;
                left: 3%;
                z-index: 1;
                opacity: 1;
                -webkit-transform: translate3d(-63%, -63%, 0);
                -moz-transform: translate3d(-63%, -63%, 0);
                -ms-transform: translate3d(-63%, -63%, 0);
                -o-transform: translate3d(-63%, -63%, 0);
                transform: translate3d(-63%, -63%, 0);
            }
            .letter-solution {
                color: white;
                position: absolute;
                top: 3%;
                left: 3%;
                z-index: 1;
                opacity: 1;
                -webkit-transform: translate3d(-63%, -63%, 0);
                -moz-transform: translate3d(-63%, -63%, 0);
                -ms-transform: translate3d(-63%, -63%, 0);
                -o-transform: translate3d(-63%, -63%, 0);
                transform: translate3d(-63%, -63%, 0);
            }
            .invalid {
                color: red;
                position: absolute;
                bottom: 0;
                left: 2px;
                z-index: 1;
                opacity: 1;
            }
        }
    }
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 20px;
    background: #fefefe;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .click-layer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        .drop-location {
            position: absolute;
            z-index: 1;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }

    img {
        width: 100%;
    }

    .drag-items {
        margin: 6px 0;

        width: 100%;
        min-height: 180px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .drag-item {
        border: 1px solid dimgrey;
        background: #fafafa;

        div {
            span {
                border: 1px solid transparent;
            }
        }
        div.invalid {
            span {
                color: red;
                padding: 0;
            }
            width: auto;
            height: auto;

            position: absolute;
            bottom: 0;
            left: 2px;
            z-index: 1;
            opacity: 1;
        }
    }

    .letter {
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;

        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #428bca;
        color: white;
        border-radius: 50%;
        text-align: center;
    }
    .letter-solution {
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;

        width: 30px;
        height: 30px;
        line-height: 30px;
        background-color: #5cb85c;
        color: white;
        border-radius: 50%;
        text-align: center;
    }
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/* CSS tooltip to overcome hybrid setup problems */

/* Tooltip container */
.quiz-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.quiz-tooltip .quiz-tooltiptext {
    white-space: initial;
    padding: 5px 10px;
    font-size: 16px;
    width: 300px;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    margin-bottom: 15px;

    /* Fade in tooltip */
    opacity: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.quiz-tooltip:hover .quiz-tooltiptext {
    visibility: visible;
    opacity: 1;
}
