@import './_artemis-mixins.scss';

/* ==========================================================================
    Quiz styles
========================================================================== */
.question-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    input,
    .input-group-btn {
        display: inline-block;
        width: auto;
    }

    .datepicker-input {
        max-width: 140px;
    }

    .checkbox {
        display: inline-block;
    }

    .input-group > input {
        height: 100%;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin: 0 5px 15px;

        > * {
            margin: 0 4px;
        }
    }

    .background-file {
        display: flex;
    }

    /*.drag-item-file {
        display: flex;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }*/
}

/* ==========================================================================
    Question styles
========================================================================== */
.colon-suffix:after {
    content: ':';
    display: inline-flex;
}

.question {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid lightgrey;
    margin-bottom: 18px;
    background: #fefefe;

    &:first-of-type {
        margin-top: 18px;
    }

    .question-card-header {
        padding: 15px 5px 5px 5px;
    }

    .question-collapse {
        margin-top: -15px;
        width: 3.25rem;
    }

    .question-title {
        flex: 1;

        input.form-control {
            width: 100%;
        }
    }

    .mc-question,
    .dnd-question,
    .sa-question {
        width: 100%;
        box-sizing: border-box;
        border: none;
        margin-bottom: 0;
        padding: 0;
    }

    .question-card-body,
    .preview-mc-question,
    .preview-dnd-question,
    .preview-sa-question {
        padding: 20px;
    }

    .delete-button,
    .duplicate-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 4px;
    }

    .delete-button:hover {
        color: red;
    }

    .duplicate-button:hover {
        color: #0f6ab4;
    }

    .markupEditorArea {
        margin: 0 4px;

        .toolbar {
            margin: 4px 0;
        }
    }

    .question-content {
        display: flex;
        flex-flow: column;
        > * {
            height: 350px;
        }
    }
}

.dnd-question,
.mc-question,
.sa-question {
    background: #fefefe;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 20px;
    position: relative;
    width: 100%;

    &.result {
        border-color: green;

        .show-explanation {
            display: inline-block;
        }

        &.incorrect {
            border-color: orange;
        }
    }

    h2 {
        margin: 0 90px 0 0;

        span {
            color: grey;
        }
    }

    p {
        margin: 10px 0;
        font-size: 16px;
    }

    .question-title-display {
        max-width: 80%;
    }

    .question-score {
        position: absolute;
        top: 20px;
        right: 20px;
        max-width: 30%;

        @media (max-width: 900px) {
            position: relative;
            top: 0;
            right: 0;
            max-width: 100%;
        }

        &.result {
            font-weight: bold;
            color: green;

            &.incorrect {
                color: orange;
            }
        }
    }

    .label {
        cursor: pointer;
        margin: 2px 0;

        /* adjust [ngbPopover] window style */
        & + ngb-popover-window {
            max-width: 500px;
        }
    }

    &.disabled {
        color: dimgrey;
        background: #fafafa;
    }
}

/* ==========================================================================
    Drag and drop styles for dnd-question, edit-dnd-question,
    edit-sa-question and drag-and-drop-quizStatistic-picture
========================================================================== */
.dnd-question,
.edit-dnd-question,
.edit-sa-question,
.drag-and-drop-quizStatistic-picture {
    .drag-items {
        margin: 6px 0;
        width: 100%;
        min-height: 180px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .click-layer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        /* dotted drop-location */
        .drop-location {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
            background: white;
            border: 1px dashed black;
        }
    }
}

/*.dnd-question,
.edit-dnd-question,
.edit-sa-question {
    .dnd-instructions {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        font-weight: 500;
    }

    .background-area {
        position: relative;
        @include user-select(none);

        img {
            max-width: 100%;
        }
    }
}*/

/*.edit-dnd-question,
.edit-sa-question,
.drag-and-drop-quizStatistic-picture {
    .drag-item {
        border: 1px solid dimgrey;
        background: #fafafa;
    }
}*/

.edit-dnd-question,
.edit-sa-question {
    .markupEditorArea {
        margin-bottom: 14px;
    }

    .background-area {
        .click-layer {
            cursor: crosshair !important;

            &.disabled {
                cursor: not-allowed !important;
            }

            .drop-location {
                border: 1px dashed mediumpurple;
                cursor: move !important;
                background: rgba(255, 255, 255, 0.5);

                &:hover {
                    background: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }

    .mapping-numbers-wrapper {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        bottom: 0;
        left: 0;
        right: 0;
        @include transformTranslate3D(0, 8px, 0);

        .mapping-number {
            position: static;
            @include transformTranslate3D(0, 0, 0);
        }
    }

    .mapping-number {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        @include transformTranslate3D(-50%, -50%, 0);
        @include quiz-letter-number(dimgrey);

        .unlink-mapping {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            line-height: 30px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            border-radius: 50%;
            text-align: center;

            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }
    }

    .mapping-color-1 {
        background: #2980b9;
    }
    .mapping-color-2 {
        background: #c0392b;
    }
    .mapping-color-3 {
        background: #27ae60;
    }
    .mapping-color-4 {
        background: #f1c40f;
    }
    .mapping-color-5 {
        background: #e67e22;
    }
    .mapping-color-6 {
        background: #8e44ad;
    }
    .mapping-color-7 {
        background: #1abc9c;
    }
    .mapping-color-0 {
        background: #2c3e50;
    }

    .drag-item {
        textarea {
            position: absolute;
            left: 0;
            top: 30px;
            width: 158px;
            height: 98px;
            padding: 0 14px;
            text-align: center;
            border: none;
            resize: none;

            &:focus {
                z-index: 3;
            }
        }

        .delete-button {
            position: absolute;
            top: 4px;
            right: 2px;

            .re-evaluate-button {
                display: inline-block;
                padding: 2px;
            }
        }

        .dimensions {
            position: absolute;
            left: 2px;
            bottom: 0;
            font-size: 14px;
        }

        .drag-handle-wrapper {
            position: absolute;
            top: 4px;
            left: 2px;
            cursor: move;
            display: flex;
            align-items: center;
            padding: 4px;
        }
    }
}

/* ==========================================================================
    Quiz footer styles
========================================================================== */
.edit-quiz-footer {
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background: white;

    .container {
        height: 100%;
    }
}

.edit-quiz-footer-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .form-control,
    .input-group-btn {
        width: auto;
    }

    .form-group {
        display: flex;
        align-items: center;

        > * {
            margin: 0 4px;
        }
    }

    .invalid-reasons-tooltip .tooltip-inner {
        text-align: left;
        max-width: 300px;

        p {
            margin: 4px 0;
            padding: 4px;
        }
    }

    #remaining-time {
        text-align: center;
        width: 100%;

        > div {
            text-align: center;
            width: 100%;
        }
    }

    #remaining-time-value {
        font-weight: bold;
        white-space: nowrap;
    }

    #quiz-score {
        text-align: center;
        font-weight: bold;
        color: green;

        &.incorrect {
            color: black;
        }
    }

    .time-warning {
        color: orange;
    }

    .time-critical {
        color: red;
    }

    .connection-status {
        font-size: 14px;
        color: green;

        &.disconnected {
            color: red;
        }

        i {
            font-size: 0.8em;
            vertical-align: 10%;
            margin-right: 2px;
        }

        @media (max-width: 767.98px) {
            font-size: 11px;
        }
    }

    @media (max-width: 767.98px) {
        font-size: 12px;
    }
}

/* ==========================================================================
    Tooltip styles
========================================================================== */
// TODO check usage
.quiz-tooltip {
    position: relative;
    display: inline-block;
}

.quiz-tooltip .quiz-tooltiptext {
    white-space: initial;
    padding: 5px 10px;
    font-size: 16px;
    width: 300px;
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    margin-bottom: 15px;

    /* Fade in tooltip */
    opacity: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.quiz-tooltip:hover .quiz-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.warning-modal-window .modal-dialog {
    width: 50%;
}

ngb-tooltip-window {
    padding: 0;
    width: 200px !important;

    > div {
        margin: auto !important;
    }
}
