span.highlight {
    &.navy {
        color: hsla(210, 100%, 75%, 1);
        background-color: #001f3f;
    }

    &.blue {
        color: hsla(208, 100%, 85%, 1);
        background-color: #0074d9;
    }

    &.aqua {
        color: hsla(197, 100%, 20%, 1);
        background-color: #7fdbff;
    }

    &.teal {
        background-color: #39cccc;
    }

    &.olive {
        color: hsla(153, 43%, 15%, 1);
        background-color: #3d9970;
    }

    &.green {
        color: hsla(127, 63%, 15%, 1);
        background-color: #2ecc40;
    }

    &.lime {
        color: hsla(146, 100%, 20%, 1);
        background-color: #01ff70;
    }

    &.yellow {
        color: hsla(52, 100%, 20%, 1);
        background-color: #ffdc00;
    }

    &.orange {
        color: hsla(28, 100%, 20%, 1);
        background-color: #ff851b;
    }

    &.red {
        color: hsla(3, 100%, 25%, 1);
        background-color: #ff4136;
    }

    &.maroon {
        color: hsla(331, 74%, 70%, 1);
        background-color: #85144b;
    }

    &.fuchsia {
        color: hsla(314, 88%, 21%, 1);
        background-color: #f012be;
    }

    &.purple {
        color: hsla(292, 88%, 82%, 1);
        background-color: #b10dc9;
    }

    &.black {
        color: #ddd;
        background-color: #111;
    }

    &.gray {
        background-color: #aaa;
    }

    &.silver {
        background-color: #ddd;
    }
}
