:host {
    white-space: initial;
}

.light-button {
    border: 0;
    background-color: transparent;
}

.notification-overlay {
    display: none;
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    &.show {
        display: block;
    }
}

.notification-sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -305px;
    bottom: 0;
    z-index: 999;
    transition: 0.3s;
    overflow-y: hidden;
    background-color: var(--brighter-body-bg);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    &.show {
        right: 0;
        transition: 0.3s;
    }
    .header {
        height: 85px;
    }
    #notification-sidebar-container {
        height: calc(100vh - 85px);
        overflow-y: auto;
        .notification-item {
            cursor: pointer;
            &:nth-child(even) {
                background-color: #f1f1f1;
            }
            &:hover {
                background-color: rgba(62, 138, 204, 0.2);
            }
            h5 {
                font-size: 1rem;
            }
            .info {
                font-size: 0.8rem;
            }
        }
    }
    .no-notifications {
        display: block;
        padding: 20px 16px;
    }

    .ng-fa-icon {
        color: var(--bs-body-color);
    }
}
