:host {
    white-space: nowrap;
}

.light-button {
    border: 0;
    background-color: transparent;
}

.notification-overlay {
    display: none;
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--notification-sb-overlay-bg);
    &.show {
        display: block;
    }
}

.notification-sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -305px;
    bottom: 0;
    z-index: 999;
    transition: 0.3s;
    overflow-y: hidden;
    background-color: var(--notification-sb-background);
    box-shadow: 0 0 20px 0 var(--notification-sb-box-shadow);
    &.show {
        right: 0;
        transition: 0.3s;
    }
    .header {
        height: 85px;
    }
    #notification-sidebar-container {
        height: calc(100vh - 85px);
        overflow-y: auto;
        .notification-item {
            cursor: pointer;
            &:nth-child(even) {
                background-color: var(--notification-sb-even-child-bg);
            }
            &:hover {
                background-color: var(--notification-sb-hover-child-bg);
            }
            h5 {
                font-size: 1rem;
            }
            .info {
                font-size: 0.8rem;
            }
            .notification-title,
            .notification-text {
                white-space: normal;
            }
        }
    }
    .no-notifications {
        display: block;
        padding: 20px 16px;
    }

    .ng-fa-icon {
        color: var(--notification-sb-icon-color);
    }
}
