.btn-danger {
    background-color: #dc3545 !important;
}

.btn-warning {
    background-color: #ffc107 !important;
}

.btn-info {
    background-color: #17a2b8 !important;
}

.btn-success {
    background-color: #28a745 !important;
}

.btn-primary {
    background-color: #3e8acc !important;
}
