<div class="team-participate-info-box" [class.sticky]="isSticky">
    <div #spacer></div>
    <div class="sticky-box" stickyThing marginTop="25" marginRight="35" [enable]="stickyEnabled" [spacer]="spacer" (stickyStatus)="onStickyStatusChange($event)">
        <div class="d-flex justify-content-end justify-content-md-start">
            <jhi-connection-status class="text-right"></jhi-connection-status>
            <p class="ml-3 mb-0">
                <strong><span jhiTranslate="artemisApp.exercise.maxScore">Max. Score</span>: {{ exercise!.maxScore }}</strong>
            </p>
        </div>
        <jhi-team-students-online-list class="mt-4" [participation]="participation"></jhi-team-students-online-list>
    </div>
</div>
