<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [closeOnEscape]="false"
    [dismissableMask]="false"
    [draggable]="false"
    [appendTo]="'body'"
    [style]="{ width: '50dvw' }"
    [header]="'entity.action.unsavedChanges' | artemisTranslate"
>
    <h5 jhiTranslate="{{ textMessage() }}"></h5>
    <div class="flex items-center justify-end gap-2 mt-3">
        <button pButton id="continue-editing-btn" data-testid="continue-button" severity="secondary" size="small" (click)="continueEditing()" type="button">
            <span jhiTranslate="entity.action.goBack"></span>
        </button>
        <button pButton id="discard-content-btn" data-testid="discard-button" severity="danger" size="small" (click)="discardContent()" type="button">
            <span jhiTranslate="entity.action.discardChanges"></span>
        </button>
    </div>
</p-dialog>
