<form
    *ngIf="!isLoading; else loadingContainer"
    name="exportForm"
    role="form"
    (ngSubmit)="!isRepoExportForMultipleExercises ? exportRepos(exercise.id) : bulkExportRepos()"
    #exportForm="ngForm"
>
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.exportRepos.title">Confirm export operation</h4>
        <button type="button" class="btn-close" data-dismiss="modal" (click)="clear()"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="isRepoExportForMultipleExercises" class="table-responsive m-2 p-1">
            <span style="font-weight: bold" jhiTranslate="artemisApp.instructorDashboard.exportRepos.currentlySelected"
                >You are about to download all teams'/students' submissions of the following exercises:</span
            >
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let programmingExercise of selectedProgrammingExercises">
                        <td>{{ programmingExercise.title }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p
            *ngIf="!singleParticipantMode && !isRepoExportForMultipleExercises"
            [jhiTranslate]="'artemisApp.instructorDashboard.exportRepos.questions.' + (exercise.teamMode ? 'team' : 'individual')"
            [translateValues]="{ exerciseTitle: exercise.title, courseTitle: exercise.course?.title }"
        >
            Confirm export
        </p>
        <textarea
            *ngIf="!participationIdList && !isRepoExportForMultipleExercises"
            name="studentIds"
            class="export-textarea"
            [(ngModel)]="participantIdentifierList"
            required
            [disabled]="singleParticipantMode || repositoryExportOptions.exportAllParticipants"
        ></textarea>

        <!--
        Only show download all checkbox for instructors & admins.
        -->
        <ng-container *ngIf="isAtLeastInstructor && !singleParticipantMode && !isRepoExportForMultipleExercises">
            <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_INSTRUCTOR']" class="checkbox">
                <label class="control-label">
                    <input class="form-check-input" type="checkbox" name="allStudents" [(ngModel)]="repositoryExportOptions.exportAllParticipants" />
                    <strong [jhiTranslate]="'artemisApp.programmingExercise.export.' + (exercise.teamMode ? 'downloadAllTeams' : 'downloadAllStudents')">
                        Or download the repositories of all {{ exercise.teamMode ? 'teams' : 'students' }}
                    </strong>
                </label>
            </div>
        </ng-container>
        <ng-container *ngIf="!singleParticipantMode">
            <div class="checkbox">
                <label class="control-label">
                    <input class="form-check-input" type="checkbox" name="filterLateSubmissions" [(ngModel)]="this.repositoryExportOptions.filterLateSubmissions" />
                    <strong jhiTranslate="artemisApp.programmingExercise.export.filterLateSubmissions">Filter late submissions</strong>
                </label>
            </div>
            <div class="form-group">
                <strong jhiTranslate="artemisApp.programmingExercise.export.filterLateSubmissionsDate"
                    >Date for filter late submissions (defaults to exercise due date if not set)</strong
                >
                <jhi-date-time-picker
                    [(ngModel)]="this.repositoryExportOptions.filterLateSubmissionsDate"
                    [disabled]="!this.repositoryExportOptions.filterLateSubmissions"
                    [shouldDisplayTimeZoneWarning]="false"
                    name="filterLateSubmissionsDate"
                ></jhi-date-time-picker>
            </div>
        </ng-container>
        <div *ngIf="!singleParticipantMode" class="checkbox">
            <label class="control-label">
                <input class="form-check-input" type="checkbox" name="addParticipantName" [(ngModel)]="this.repositoryExportOptions.addParticipantName" />
                <strong
                    *ngIf="!isRepoExportForMultipleExercises"
                    [jhiTranslate]="'artemisApp.programmingExercise.export.' + (!isRepoExportForMultipleExercises && exercise.teamMode ? 'addTeamName' : 'addStudentName')"
                >
                    Add {{ exercise.teamMode ? 'team' : 'student' }} name to project
                </strong>
                <strong *ngIf="isRepoExportForMultipleExercises" [jhiTranslate]="'artemisApp.programmingExercise.export.addTeamOrStudentName'">
                    Add team/student name to project
                </strong>
            </label>
        </div>
        <div class="checkbox">
            <label class="control-label">
                <input class="form-check-input" type="checkbox" name="combineStudentCommits" [(ngModel)]="this.repositoryExportOptions.combineStudentCommits" />
                <strong jhiTranslate="artemisApp.programmingExercise.export.combineStudentCommits">Combine all changes after instructor into one commit</strong>
            </label>
        </div>
        <ng-container *ngIf="isAtLeastInstructor">
            <div class="checkbox">
                <label class="control-label">
                    <input class="form-check-input" type="checkbox" name="anonymizeStudentCommits" [(ngModel)]="this.repositoryExportOptions.anonymizeStudentCommits" checked />
                    <strong jhiTranslate="artemisApp.programmingExercise.export.anonymizeStudentCommits">Anonymize all of the student's commits</strong>
                </label>
            </div>
        </ng-container>
        <div class="checkbox">
            <label class="control-label">
                <input class="form-check-input" type="checkbox" name="normalizeCodeStyle" [(ngModel)]="this.repositoryExportOptions.normalizeCodeStyle" />
                <strong jhiTranslate="artemisApp.programmingExercise.export.normalizeCodeStyle">Normalize code style (line endings, encoding)</strong>
            </label>
        </div>
        <p *ngIf="!singleParticipantMode" jhiTranslate="artemisApp.instructorDashboard.exportRepos.timeWarning">
            <b>Note:</b> This action can take several minutes depending on number and size of repositories.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button
            [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
            type="submit"
            [disabled]="!participationIdList && !participantIdentifierList && !this.repositoryExportOptions.exportAllParticipants && !exportInProgress"
            class="btn btn-default"
            *ngIf="!isRepoExportForMultipleExercises"
        >
            <span *ngIf="this.exportInProgress" class="me-1"><fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon></span>
            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;<span jhiTranslate="entity.action.export">Export</span>
        </button>
        <button
            [jhiFeatureToggle]="FeatureToggle.ProgrammingExercises"
            type="submit"
            [disabled]="!participationIdList && !participantIdentifierList && !this.repositoryExportOptions.exportAllParticipants && !exportInProgress"
            class="btn btn-default"
            *ngIf="isRepoExportForMultipleExercises"
        >
            <span *ngIf="this.exportInProgress" class="me-1"><fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon></span>
            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;<span jhiTranslate="entity.action.export">Export</span>
        </button>
    </div>
</form>
<ng-template #loadingContainer>
    <div class="d-flex justify-content-center mt-4 mb-4">
        <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
    </div>
</ng-template>
