# documentation/.editorconfig - overrides for files under /documentation
# Do NOT set "root = true" here (it would stop upward lookup)

[*.md]
trim_trailing_whitespace = false
indent_size = 2

[*.mdx]
indent_size = 2

[*.yml]
indent_size = 2