<tumaet-ui-dialog [(visible)]="visible" [header]="'artemisApp.examManagement.testRun.setup' | artemisTranslate" size="large">
    <div class="flex flex-col gap-6">
        <div>
            <h5><span jhiTranslate="artemisApp.studentExams.workingTime"></span></h5>
            <p jhiTranslate="artemisApp.examManagement.testRun.setWorkingTime"></p>
            <form class="flex items-center gap-1" [formGroup]="workingTimeForm">
                <input formControlName="minutes" id="workingTimeMinutes" type="number" tumAetUiInput class="w-20" min="0" step="1" required />
                :
                <input formControlName="seconds" id="workingTimeSeconds" type="number" tumAetUiInput class="w-20" min="0" max="59" step="1" required />
            </form>
        </div>
        <div>
            <h5 jhiTranslate="artemisApp.exam.exercises"></h5>
            <p jhiTranslate="artemisApp.examManagement.testRun.setupHint"></p>
            <div class="overflow-x-auto">
                <table tumAetUiTable striped>
                    <thead>
                        <tr>
                            <th jhiTranslate="artemisApp.examScores.titleExerciseGroupColumn"></th>
                            <th jhiTranslate="artemisApp.examScores.titleExerciseColumn"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (exerciseGroup of exerciseGroups(); track exerciseGroup) {
                            <tr>
                                <td>
                                    <b> {{ exerciseGroup.title }} </b>
                                </td>
                                <td>
                                    <table tumAetUiTable striped rowHover>
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th jhiTranslate="artemisApp.exercise.title"></th>
                                                <th jhiTranslate="artemisApp.exercise.difficulty"></th>
                                                <th jhiTranslate="artemisApp.exercise.type"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (exercise of exerciseGroup.exercises; track exercise) {
                                                @let selected = isSelected(exercise, exerciseGroup);
                                                <tr
                                                    class="cursor-pointer"
                                                    [class.bg-selected]="selected"
                                                    [attr.aria-selected]="selected"
                                                    [id]="'exercise-' + exercise.id"
                                                    (click)="onSelectExercise(exercise, exerciseGroup)"
                                                >
                                                    <td>{{ exercise.id }}</td>
                                                    <td>{{ exercise.title }}</td>
                                                    <td>{{ exercise.difficulty }}</td>
                                                    <td>{{ exercise.type }}</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ng-template #footer>
        <button tumAetUiButton type="button" severity="secondary" (click)="cancel()" jhiTranslate="global.form.cancel"></button>
        <button
            tumAetUiButton
            id="createTestRunButton"
            type="button"
            [disabled]="!testRunConfigured()"
            (click)="createTestRun()"
            jhiTranslate="artemisApp.examManagement.testRun.setup"
        ></button>
    </ng-template>
</tumaet-ui-dialog>
