<h3>{{ exercise.title }}</h3>

<jhi-expandable-section headerKey="assessmentInstructions.problemStatement" [ngSwitch]="exercise.type">
    <ng-container *ngSwitchCase="ExerciseType.PROGRAMMING">
        <jhi-programming-exercise-instructions
            [exercise]="programmingExercise!"
            [participation]="programmingExercise!.templateParticipation"
        ></jhi-programming-exercise-instructions>
    </ng-container>
    <p class="markdown-preview" [innerHTML]="problemStatement" *ngSwitchDefault></p>
</jhi-expandable-section>

<jhi-expandable-section headerKey="assessmentInstructions.sampleSolution" *ngIf="sampleSolution">
    <jhi-modeling-editor *ngIf="sampleSolutionModel" [readOnly]="true" [diagramType]="sampleSolutionDiagramType!" [umlModel]="sampleSolutionModel!"> </jhi-modeling-editor>
    <p class="markdown-preview" [innerHTML]="sampleSolution!"></p>
</jhi-expandable-section>

<jhi-expandable-section headerKey="assessmentInstructions.gradingCriteria">
    <p class="markdown-preview" [innerHTML]="gradingInstructions"></p>
    <div *ngFor="let criterion of criteria; let criterionIndex = index">
        <p class="font-weight-bold" [innerHTML]="criterion!.title! | htmlForMarkdown"></p>
        <div
            class="card-header"
            *ngFor="let instruction of criterion!.structuredGradingInstructions; let instructionIndex = index"
            draggable="true"
            (dragstart)="drag($event, instruction)"
            id="criterion-{{ criterionIndex }}-instruction-{{ instructionIndex }}"
        >
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td [innerHTML]="instruction.credits"></td>
                        <td [innerHTML]="instruction!.gradingScale! | htmlForMarkdown"></td>
                        <td [innerHTML]="instruction!.instructionDescription! | htmlForMarkdown"></td>
                        <td [innerHTML]="instruction!.feedback! | htmlForMarkdown"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</jhi-expandable-section>
