<ngb-tabset class="md-editor-tabs" [destroyOnHide]="false" (tabChange)="togglePreview($event)">
    <!--Begin Editor-->
    <ngb-tab title="{{ 'entity.action.edit' | translate }}" id="editor_edit">
        <ng-template ngbTabContent>
            <div class="tool-bar row pt-1">
                <div class="col-xs-6" style="margin-left: 14px">
                    <ng-container *ngFor="let command of defaultCommands">
                        <button type="button" class="btn btn-outline-secondary mr-1" (click)="command.execute()" [ngbTooltip]="command.buttonTranslationString | translate">
                            <fa-icon [icon]="command.buttonIcon"></fa-icon>
                        </button>
                    </ng-container>
                </div>
                <div class="btn-group col-xs-6" ngbDropdown role="group" aria-label="Button group with nested dropdown" style="margin-left: 5px">
                    <button class="btn btn-outline-secondary mr-1" id="dropdownBasic1" ngbDropdownToggle>{{ 'arTeMiSApp.multipleChoiceQuestion.editor.style' | translate }}</button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <ng-container *ngFor="let command of headerCommands"
                            ><button class="dropdown-item" (click)="command.execute()">{{ command.buttonTranslationString | translate }}</button></ng-container
                        >
                    </div>
                </div>
                <div class="btn-group col-xs-6">
                    <div class="color-preview form-control btn btn-outline-secondary mr-1" [ngStyle]="{ borderColor: selectedColor }" (click)="openColorSelector($event)">
                        Color
                    </div>
                    <jhi-color-selector [tagColors]="markdownColors" (selectedColor)="onSelectedColor($event)"></jhi-color-selector>
                </div>
            </div>
            <div class="tool-bar" *ngIf="domainCommands && domainCommands.length != 0" style="margin-top: 5px">
                <ng-container *ngFor="let command of domainCommands">
                    <div class="btn btn-group-sm btn-outline-secondary mr-1" (click)="command.execute()">
                        {{ command.buttonTranslationString | translate }}
                    </div>
                </ng-container>
            </div>
            <div class="card border-0 markdown-editor markdown-editor__small">
                <ace-editor
                    #aceEditor
                    [mode]="aceEditorOptions.mode"
                    [autoUpdateContent]="aceEditorOptions.autoUpdateContent"
                    [(text)]="markdown"
                    (textChange)="markdownChange.emit($event)"
                    class="form-control markdown-editor__content"
                ></ace-editor>
                <div class="rg-bottom"><span></span></div>
            </div>
        </ng-template>
    </ngb-tab>
    <!--End Editor-->

    <!--Begin Preview-->
    <ngb-tab title="{{ 'entity.action.preview' | translate }}" id="editor_preview" *ngIf="showPreviewButton">
        <ng-template ngbTabContent>
            <ng-content></ng-content>
            <div class="pt-1 background-editor-high markdown-preview" *ngIf="showDefaultPreview" [innerHTML]="previewTextAsHtml">
                Preview
            </div>
        </ng-template>
    </ngb-tab>
    <!--End Preview-->
</ngb-tabset>
