.nav.nav-tabs {
    background: #f5f5f5;
}

.markdown-editor {
    touch-action: none;
    &--small {
        min-height: 200px;
        .markdown-editor__content {
            min-height: 200px;
        }
    }
    &--medium {
        min-height: 500px;
        .markdown-editor__content {
            min-height: 500px;
        }
    }
    &--large {
        min-height: 1000px;
        .markdown-editor__content {
            min-height: 1000px;
        }
    }
    &__content {
        width: 100%;
        overflow: auto;
    }
    &__commands {
        margin: 0 5px 5px 5px;
        &-default,
        &-domain {
            display: flex;
            flex-flow: row wrap;
            > *:not(:last-child) {
                margin-right: 5px;
            }
            > * {
                margin-top: 5px;
            }
        }
    }
}
