.student-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.student-item {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 400;

    &:not(:first-of-type) {
        margin-top: 5px;
    }
}

.student-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.student-status {
    display: inline-flex;
    color: gray;
    transition: 0.2s color ease-out;

    &.online {
        color: green;
        transition: 0.15s color ease-in;
    }
}
