.student-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.student-item {
    display: flex;
    align-items: center;

    font-size: 14px;
    font-weight: 400;

    &:not(:first-of-type) {
        margin-top: 5px;
    }
}

.student-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.online-status-icon {
    display: inline-flex;
    color: green;

    &.disconnected {
        color: red;
    }
}
