.exercise-card {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--course-exercise-card-border-color);
    margin-bottom: 18px;
    background: var(--course-exercise-card-background);

    &:first-of-type {
        margin-top: 1rem;
    }
}

.exercise-card-body {
    border-top: 1px solid var(--course-exercise-card-border-color);
}

.collapse-icon {
    display: inline-block;
    width: 2em;
    height: 2em;
}
