jhi-secured-image {
    padding-right: 20px;

    ::ng-deep img {
        border-radius: 50%;
        height: 100px;
        width: auto;
        margin-bottom: 10px;
    }

    + h2 {
        display: inline;
    }
}

.tab-bar {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 0 -1.25rem;
    $padding-y: 11px;
    padding-top: $padding-y;
    padding-bottom: $padding-y;
    border-bottom: 1px solid #979797;

    .tab-item {
        cursor: pointer;
        margin: 0 1em;
        color: black;
        font-weight: lighter;

        &.active {
            box-shadow: 0 2px 0 #353d47;
        }
    }
}

.tab-bar-course-overview {
    // ensure enough vertical space below for absolutely positioned exercise controls
    // when tab bar is shown on course overview page
    @media (max-width: 750px) {
        min-height: 100px;
        padding-bottom: 40px;
    }
}

.course-icon {
    ::ng-deep {
        img {
            border-radius: 50%;
            max-width: 100%;
            max-height: 130px;
        }
    }
}
