.question {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--course-exercise-card-border-color);
    margin-bottom: 18px;
    background: var(--course-exercise-card-background);

    &:first-of-type {
        margin-top: 18px;
    }

    .question-card-header {
        padding: 15px 5px 5px 5px;
    }

    .question-collapse {
        margin-top: -15px;
        width: 3.25rem;
    }

    .question-title {
        flex: 1;

        input.form-control {
            width: 100%;
        }
    }
}
