.color-preview {
    cursor: pointer;
    height: 35px;
}

.headline {
    align-items: center;
    display: flex;
    width: 100%;

    .no-image {
        background-size: 100% !important;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        flex: 0 0 100px;
        margin-right: 20px;

        img {
            height: 50px;
            width: auto;
        }
    }

    .no-image.en {
        background: #dddddd url('../../../content/images/image-placeholder-en.png') no-repeat center;
    }

    .no-image.de {
        background: #dddddd url('../../../content/images/image-placeholder-de.png') no-repeat center;
    }

    jhi-secured-image {
        padding-right: 20px;

        ::ng-deep img {
            border-radius: 50%;
            height: 100px;
            width: auto;
        }
    }
}

.delete-course-icon button {
    width: 100%;
}

.image-with-icons {
    position: relative;
}

.icon-button-wrapper {
    position: absolute;
    margin-left: 8px;
    background-color: var(--gray-500);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.icon-button-1 {
    top: 70px;
    right: 85px;
    color: var(--red);
    border: 1px solid var(--red);
}

.icon-button-2 {
    top: 70px;
    right: 25px;
    border: 1px solid var(--black);
}
