<div>
    <div class="row mb-5">
        <div class="d-flex align-items-center col-md-2">
            <h2 id="statistics-page-heading" jhiTranslate="statistics.course_statistics_title">Course statistics</h2>
            <jhi-documentation-button [type]="documentationType"></jhi-documentation-button>
        </div>
    </div>

    <jhi-statistics-average-score-graph
        *ngIf="courseStatistics"
        [exerciseAverageScores]="courseStatistics.averageScoresOfExercises"
        [courseAverage]="courseStatistics.averageScoreOfCourse"
        [courseId]="courseId"
    >
    </jhi-statistics-average-score-graph>
    <div class="separator w-100 mb-4"></div>
    <div class="row mb-5">
        <div class="col-md-2"></div>
        <div class="col-md-9 btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" [class.active]="currentSpan === SpanType.DAY">
                <input type="radio" name="options" id="option1" (click)="onTabChanged(SpanType.DAY)" />{{ 'statistics.span.day' | artemisTranslate }}
            </label>
            <label class="btn btn-secondary" [class.active]="currentSpan === SpanType.WEEK">
                <input type="radio" name="options" id="option2" checked (click)="onTabChanged(SpanType.WEEK)" />{{ 'statistics.span.week' | artemisTranslate }}
            </label>
            <label class="btn btn-secondary" [class.active]="currentSpan === SpanType.MONTH">
                <input type="radio" name="options" id="option3" (click)="onTabChanged(SpanType.MONTH)" />{{ 'statistics.span.month' | artemisTranslate }}
            </label>
            <label class="btn btn-secondary" [class.active]="currentSpan === SpanType.QUARTER">
                <input type="radio" name="options" id="option4" (click)="onTabChanged(SpanType.QUARTER)" />{{ 'statistics.span.quarter' | artemisTranslate }}
            </label>
            <label class="btn btn-secondary" [class.active]="currentSpan === SpanType.YEAR">
                <input type="radio" name="options" id="option5" (click)="onTabChanged(SpanType.YEAR)" />{{ 'statistics.span.year' | artemisTranslate }}
            </label>
        </div>
    </div>
    <div *ngFor="let graph of graphTypes; let i = index" id="graph-{{ i }}" class="graph">
        <hr *ngIf="i !== 0" />
        <jhi-statistics-graph [graphType]="graph" [currentSpan]="currentSpan" [statisticsView]="statisticsView" [entityId]="courseId"> </jhi-statistics-graph>
    </div>
</div>
