.color-preview {
    cursor: pointer;
    height: 35px;
}

.headline {
    align-items: center;
    display: flex;
    width: 100%;

    .no-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ccc;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-right: 20px;
        text-align: center;
        color: var(--black);

        .plus-sign {
            font-size: 24px;
            font-weight: bold;
        }

        .text {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }

    jhi-secured-image {
        padding-right: 20px;

        ::ng-deep img {
            border-radius: 50%;
            height: 100px;
            width: auto;
        }
    }
}

.icon-button-wrapper {
    position: absolute;
    background-color: var(--gray-500);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.delete-button {
    top: 70px;
    right: 85px;
    color: var(--red);
    border: 1px solid var(--red);
}

.edit-button {
    top: 70px;
    right: 25px;
    border: 1px solid var(--black);
}
