:host {
    border: none !important;
}

// in case a title contains spaces "MyExam  2leadingSpaces" we want to display it with the spaces
.display-spaces {
    white-space: pre-wrap !important;
}

.background-grey {
    background: var(--gray-200) !important;
}
