.approved-badge {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: green;
}

.not-approved-badge {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: lightgray;
}
