.conflict-container {
    display: flex;
    height: calc(100vh - 140px);
    flex-flow: column nowrap;

    .navigation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        jhi-alert {
            font-size: initial;
        }
    }
    .control-container {
        span {
            margin: 0 15px;
        }
    }
    .conflict-editor {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: auto;
        .conflicting-assessment {
        }
        .assessment {
            flex: 1 1 auto;
            overflow: hidden;
        }
    }
}

.row-container {
    display: flex;
    align-items: center;
}
