.conflict-container {
    display: flex;
    height: calc(100vh - 174px);
    flex-flow: column nowrap;

    .navigation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .control-container {
        button {
            margin-left: 15px;
        }
    }
    .editor-container {
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: scroll;
        .conflicting-assessment {
        }
        .assessment {
            flex: 1 1 auto;
            overflow: hidden;
        }
    }
}

.row-container {
    display: flex;
    align-items: center;
}
