<div class="card mb-3 highlight" [ngClass]="highlightColor" *ngIf="feedback">
    <ul class="list-group list-group-flush">
        <li class="list-group-item highlight" [ngClass]="highlightColor">
            <div class="credit-bubble float-left text-center align-middle mr-3">
                <span [ngStyle]="feedback.credits < 0 && {'color': 'red'}">{{feedback.credits}}</span>
                Points
            </div>
            <span [innerHtml]="feedback.reference"></span>
        </li>
        <li class="list-group-item" *ngIf="feedback.detailText">
            {{feedback.detailText}}
        </li>
    </ul>
</div>
