.credit-bubble {
    border-radius: 50%;
    border: lightgrey 1px solid;
    overflow: hidden;
    width: 60px;
    height: 60px;
    font-size: 10px;
    padding: 18px 5px 5px;
    background: white;
    line-height: 14px;

    span {
        font-size: 18px;
        font-weight: bold;
        display: block;
    }
}

.credit-bubble,
li:nth-child(2) {
    color: black;
}
