.credit-bubble {
    border-radius: 50%;
    border: lightgrey 1px solid;
    overflow: hidden;
    width: 40px;
    height: 40px;
    font-size: 8px;
    padding: 10px 5px 5px;
    background: white;
    line-height: 12px;

    span {
        font-size: 12px;
        font-weight: bold;
        display: block;
    }
}

.credit-bubble,
li:nth-child(2) {
    color: black;
}
