$draggable-width: 15px;

.modeling-editor {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.resizable {
    display: flex;
    .draggable-right,
    .draggable-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $draggable-width;
    }
}

.apollon-container {
    height: 100%;
    min-height: 600px;
    overflow: hidden;
}
