$draggable-width: 15px;

.modeling-editor {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .help-and-status {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 5px;
        gap: 20px;

        .spin {
            display: inline-block;
            animation: spin 4s linear infinite;
        }
    }
}

@media screen and (max-width: 400px) {
    .modeling-editor .help-and-status .status-hint > span {
        display: none;
    }
}

.resizable {
    display: flex;
    .draggable-right,
    .draggable-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $draggable-width;
    }
}

.apollon-container {
    height: 100%;
    min-height: 750px;
    overflow: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
