$textareaHeight: 200px;

:host {
    margin-top: 15px;
}

.text-editor-textarea {
    width: 100%;
    height: $textareaHeight;
    padding: 10px 12px;
    border: 1px solid var(--text-editor-border-color);
    border-radius: 2px;
    background-color: var(--text-editor-background);
    color: var(--text-editor-color);
    resize: none;

    &:focus {
        outline: none;
        border: 1px solid var(--artemis-dark);
        background-color: var(--text-editor-focus-background);
        box-shadow: 0 0 20px rgba(0, 0, 200, 0.04);
    }
}
