@import 'src/main/webapp/content/scss/artemis-variables';

$textareaHeight: 200px;
$draggable-width: 15px;

.modeling-editor {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.resizable {
    display: flex;
    .draggable-right {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $draggable-width;
    }
}

.apollon-container {
    height: 100%;
    overflow: hidden;
}

.text-editor-container {
    margin-top: 0.5rem;
}

.text-editor-textarea {
    width: 100%;
    height: $textareaHeight;
    padding: 10px 12px;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background-color: #f9f9f9;
    resize: none;
    &:focus {
        outline: none;
        border: 1px solid $artemis-dark;
        background-color: #fbfbfb;
        box-shadow: 0 0 20px rgba(0, 0, 200, 0.04);
    }
}
