@import 'darkly_variables';

// Boostrap
// $primary: #3e8acc;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #dc3545;
$table-striped-bg: rgba($white, 0.02);

// Global colors
$artemis-dark: #353d47;
$artemis-lighter-dark: saturate(lighten($artemis-dark, 10%), 15%);
$artemis-link-color: #3e8acc;
$neutral-dark: rgb(24, 26, 24);

// Backgrounds
$darker-body-bg: darken($body-bg, 20);
$slightly-darker-body-bg: darken($body-bg, 10);
$brighter-body-bg: lighten($body-bg, 10);

$dropdown-bg: $neutral-dark;
$popover-bg: $neutral-dark;
$modal-content-bg: $neutral-dark;

// Border
$border-color: lighten($body-bg, 10);

// Global.scss colors
$colored-btn-font: #fff;
$default-btn-font: white;
$default-btn-background: $artemis-dark;
$default-btn-border: lighten($artemis-dark, 20%);

$border-lightgrey: rgba(0, 0, 0, 0.125);
$text-lightgrey: rgba(0, 0, 0, 0.125);
$form-control-focus-background: $body-bg;
$form-control-color: $white;
$browserupgrade-color: black;
$browserupgrade-color-background: #ccc;
$ng-valid-border: green;
$ng-invalid-border: red;
$gutter-background: #f1f1f1;
$error-color: white;
$error-background: red;
$readonly-background: #eee;
$jh-entity-details-dd-border: #eee;
$editor-outline-background: #f8f9fa;
$btn-total-score-color: #337ab7;

$result-orange: orange;
$result-late: gray;

$negative-color: #c7254e;
$negative-background: #f9f2f4;
$positive-color: green;
$positive-background: #f2f9f2;

$artemis-pre-color: #333;
$artemis-pre-background: #f5f5f5;
$artemis-pre-border: #ccc;

$code-success-color: green;
$code-success-background: #f2f9f2;
$code-error-color: #c7254e;
$code-error-background: #f9f2f4;
$code-warning-color: #e68a00;
$code-warning-background: #fff5e6;

$code-password: transparent;
$code-password-background: black;
$code-password-selection: white;
$code-password-selection-background: #3297fd;
$code-password-hover: white;

$unreferenced-feedback-background: whitesmoke;
$displaycolor-background: #f8f9fa;

$markdown-preview-editor-background: transparent;
$markdown-preview-red: #ca2024;
$markdown-preview-green: #3ea119;
$markdown-preview-white: #ffffff;
$markdown-preview-black: #000000;
$markdown-preview-yellow: #fffa5c;
$markdown-preview-blue: #0d3cc2;
$markdown-preview-lila: #b05db8;
$markdown-preview-orange: #d86b1f;
$markdown-preview-blockquote: #6a737d;
$markdown-preview-blockquote-border: #dfe2e5;

$connection-status-admin: green;
$connection-status-admin-disconnected: red;

$mat-autocomplete-visible-box-shadow: rgb(100 100 100);
$mat-form-field-outline: #ccc;

$connection-warning-popover-arrow-border: #f1d1d1e0;
$connection-warning-popover-body: #600c0c;
$connection-warning-popover-body-background: #f1d1d1e0;
$connection-warning-popover-body-shadow: rgba(0, 0, 0, 0.55);

// Footer
$footer-bg: $neutral-dark;

// Cards
$card-bg: $neutral-dark;
$card-cap-bg: lighten($neutral-dark, 5%);
$card-border-color: $border-color;

// Navbar
$navbar-foreground: $body-color;
$navbar-bg: $artemis-dark;
$navbar-item-active-hover-bg: $artemis-dark;
$navbar-breadcrumb-background: $body-bg;
$navbar-breadcrumb-color: $primary;

// Markdown Editor
$md-wrapper-body-bg: $body-bg;
$md-wrapper-color: white;
$md-tab-list-bg: $body-bg;
$md-editor-background: $body-bg;
$md-file-input-border-color: $border-color;
$md-resize-icon-color: $gray-400;

// Metis
$metis-light-gray: #979797;
$metis-gray: #6a737d;
$metis-blue: $artemis-link-color;
$metis-light-blue: #e3ecf3;
$metis-green: #33cd32;
$metis-course-discussion-select-bg: $neutral-dark;

$reaction-button-default-color: $gray-800;
$reaction-button-hover-color: $gray-700;
$reaction-button-reacted-color: $gray-800;
$reaction-button-reacted-color: $gray-800;
$reaction-button-reacted-accent-color: $metis-blue;

// Component: plagiarism-inspector.component.scss
$plagiarism-inspector-darker-artemis-dark: darken($artemis-dark, 4);

// Component: course-exercise-card
$course-exercise-card-border-color: $border-color;
$course-exercise-card-background: $neutral-dark;

// Component: Statistics average score graph
$stat-av-sc-legend-background: $brighter-body-bg;
// These are from graph colors
$stat-av-sc-legend-critical: rgba(204, 0, 0, 1);
$stat-av-sc-legend-median: rgba(127, 127, 127, 255);
$stat-av-sc-legend-best: rgba(40, 164, 40, 1);

// Programming Exercise Form (scss)
$update-programming-exercise-footer-background: $brighter-body-bg;
$update-programming-exercise-footer-box-shadow: rgba(0, 0, 0, 0.7);

// Edit Quiz
$edit-quiz-footer-background: $brighter-body-bg;
$edit-quiz-footer-box-shadow: rgba(0, 0, 0, 0.7);
$quiz-exercise-detail-max-score-background: $artemis-dark;
$quiz-exercise-detail-max-score-color: white;
$quiz-edit-question-border: lighten($neutral-dark, 10%);
$quiz-edit-question-background: $neutral-dark;

$edit-quiz-q-dnd-drop-location-background: white;
$edit-quiz-q-dnd-drop-location-color: black;
$edit-quiz-q-dnd-drop-location-hover-bg: rgba(255, 255, 255, 0.8);

// Quiz Exercises
$quiz-drag-items-background: lighten($neutral-dark, 5%);
$quiz-drag-item-background: lighten($neutral-dark, 10%);
$quiz-drag-item-border: lighten($neutral-dark, 20%);
$quiz-drag-item-color: white;

// Programming Exercises
$programming-exercise-instruction-step-wizard-card-header-background: lighten($neutral-dark, 5%);
$programming-exercise-instruction-step-wizard-card-header-border: lighten($neutral-dark, 10%);
$programming-exercise-instruction-step-wizard-row-before-background: #ccc;
$programming-exercise-instruction-step-wizard-btn-circle-light-border-color: #ccc;
$programming-exercise-instruction-step-wizard-test-passing-hover-color: #f8f9fa;

// SGI
$edit-sqi-grading-instructions-update-border: $border-color;
$edit-sqi-criterion-title-row-background: lighten($neutral-dark, 5%);

// Code Editor
$code-editor-file-browser-header-background: lighten($neutral-dark, 5%);
$code-editor-file-browser-header-border: lighten($neutral-dark, 10%);
$code-editor-file-browser-tree-hover: lighten($neutral-dark, 5%);
$code-editor-file-browser-input-background: darken($neutral-dark, 10%);
$code-editor-file-browser-input-color: white;

// Overview variables
$overview-border-color: $border-color;
$overview-light-border-color: darken($overview-border-color, 5%);
$overview-light-background-color: rgba($overview-light-border-color, 0.3);
$overview-light-primary-background-color: rgba($primary, 0.3);
$overview-blue-border-color: $primary;
$overview-tab-active-border-color: $body-color;
$overview-refresh-overlay-bg-color: transparentize($neutral-dark, 0.5);
$overview-refresh-overlay-color: $gray-400;

// Lecture Unit
$lecture-unit-card-body-background: $neutral-dark;
$lecture-unit-card-header-background: lighten($neutral-dark, 5%);
$lecture-unit-card-shadow: rgba(0, 0, 0, 0.25);
$lecture-unit-card-hover-shadow: $primary;

// Notification sidebar
$notification-sb-background: $body-bg;
$notification-sb-overlay-bg: rgba(0, 0, 0, 0.2);
$notification-sb-box-shadow: rgba(0, 0, 0, 0.5);
$notification-sb-even-child-bg: $brighter-body-bg;
$notification-sb-hover-child-bg: rgba(62, 138, 204, 0.2);
$notification-sb-icon-color: var(--bs-body-color);

// Text Editor
$text-editor-background: $gray-900;
$text-editor-focus-background: $gray-900;
$text-editor-color: $white;
$text-editor-border-color: $gray-800;

// Guided tour
$gt-tour-step-bg-color: $gray-700;
$gt-tour-text-color: $white;
$gt-tour-border-color: #17a2b8;
$gt-tour-next-button-color: #17a2b8;
$gt-tour-next-button-hover: #117a8b;
$gt-tour-back-button-color: #17a2b8;
$gt-tour-back-button-hover: #117a8b;
$gt-tour-restart-button-color: #28a745;
$gt-tour-restart-button-hover: #1e7e34;
$gt-tour-button-color-disabled: #808080;
$gt-tour-button-text-color: #ffffff;
$gt-tour-button-text-disabled: #c2c2c2;
$gt-tour-shadow-color: $black;
$gt-overlay-background: black;
$gt-tour-block-after-background: #231f1f;
$gt-tour-block-content-tt-background: $gray-600;
$gt-tour-block-content-red: #ca2024;
$gt-tour-block-step-hint-not-interaction-background: $gray-800;
$gt-tour-block-step-hint-interaction-background: rgb(23, 162, 184, 0.3);
