@import 'darkly_variables';

// Boostrap
// $primary: #3e8acc;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $danger: #dc3545;
$table-striped-bg: rgba($white, 0.05);

// Global colors
$artemis-dark: #353d47;
$artemis-lighter-dark: saturate(lighten($artemis-dark, 10%), 15%);
$artemis-link-color: #3e8acc;
$neutral-dark: rgb(24, 26, 24);

// Backgrounds
$darker-body-bg: darken($body-bg, 20);
$slightly-darker-body-bg: darken($body-bg, 10);
$brighter-body-bg: lighten($body-bg, 10);

$dropdown-bg: $neutral-dark;
$popover-bg: $neutral-dark;
$modal-content-bg: $neutral-dark;

// Border
$border-color: lighten($body-bg, 10);

// Global.scss colors
$colored-btn-font: #fff;
$default-btn-font: #333;
$default-btn-background: #fff;
$default-btn-border: #ccc;

$border-lightgrey: rgba(0, 0, 0, 0.125);
$text-lightgrey: rgba(0, 0, 0, 0.125);
$form-control-focus-background: $body-bg;
$form-control-color: $white;
$browserupgrade-color: black;
$browserupgrade-color-background: #ccc;
$ng-valid-border: green;
$ng-invalid-border: red;
$gutter-background: #f1f1f1;
$error-color: white;
$error-background: red;
$readonly-background: #eee;
$jh-entity-details-dd-border: #eee;
$editor-outline-background: #f8f9fa;
$btn-total-score-color: #337ab7;

$result-orange: orange;
$result-late: gray;

$negative-color: #c7254e;
$negative-background: #f9f2f4;
$positive-color: green;
$positive-background: #f2f9f2;

$artemis-pre-color: #333;
$artemis-pre-background: #f5f5f5;
$artemis-pre-border: #ccc;

$code-success-color: green;
$code-success-background: #f2f9f2;
$code-error-color: #c7254e;
$code-error-background: #f9f2f4;
$code-warning-color: #e68a00;
$code-warning-background: #fff5e6;

$code-password: transparent;
$code-password-background: black;
$code-password-selection: white;
$code-password-selection-background: #3297fd;
$code-password-hover: white;

$unreferenced-feedback-background: whitesmoke;
$displaycolor-background: #f8f9fa;

$markdown-preview-editor-background: #f8f9fa;
$markdown-preview-red: #ca2024;
$markdown-preview-green: #3ea119;
$markdown-preview-white: #ffffff;
$markdown-preview-black: #000000;
$markdown-preview-yellow: #fffa5c;
$markdown-preview-blue: #0d3cc2;
$markdown-preview-lila: #b05db8;
$markdown-preview-orange: #d86b1f;
$markdown-preview-blockquote: #6a737d;
$markdown-preview-blockquote-border: #dfe2e5;

$connection-status-admin: green;
$connection-status-admin-disconnected: red;

$mat-autocomplete-visible-box-shadow: rgb(100 100 100);
$mat-form-field-outline: #ccc;

$connection-warning-popover-arrow-border: #f1d1d1e0;
$connection-warning-popover-body: #600c0c;
$connection-warning-popover-body-background: #f1d1d1e0;
$connection-warning-popover-body-shadow: rgba(0, 0, 0, 0.55);

// Footer
$footer-bg: $neutral-dark;

// Cards
$card-bg: $neutral-dark;
$card-cap-bg: lighten($neutral-dark, 5%);
$card-border-color: $border-color;

// Navbar
$navbar-foreground: $body-color;
$navbar-bg: $artemis-dark;
$navbar-item-active-hover-bg: $artemis-dark;
$navbar-breadcrumb-background: $body-bg;
$navbar-breadcrumb-color: $primary;

// Metis
$metis-light-gray: #979797;
$metis-gray: #6a737d;
$metis-blue: $artemis-link-color;
$metis-light-blue: #e3ecf3;
$metis-green: #33cd32;

$reaction-button-default-color: $gray-800;
$reaction-button-hover-color: $gray-700;
$reaction-button-reacted-color: $gray-800;
$reaction-button-reacted-accent-color: $metis-blue;

// Component: plagiarism-inspector.component.scss
$plagiarism-inspector-darker-artemis-dark: darken($artemis-dark, 4);

// Component: course-exercise-card
$course-exercise-card-border-color: $border-color;
$course-exercise-card-background: $gray-800;

// Overview variables
$overview-border-color: $border-color;
$overview-light-border-color: lighten($overview-border-color, 5%);
$overview-light-background-color: rgba($overview-light-border-color, 0.3);
$overview-light-primary-background-color: rgba($primary, 0.3);
$overview-blue-border-color: $primary;
$overview-tab-active-border-color: $body-color;

// Text Editor
$text-editor-background: $gray-900;
$text-editor-focus-background: $gray-900;
$text-editor-color: $white;
$text-editor-border-color: $gray-800;

// Guided tour
$gt-tour-step-bg-color: $gray-700;
$gt-tour-text-color: $white;
$gt-tour-border-color: #17a2b8;
$gt-tour-next-button-color: #17a2b8;
$gt-tour-next-button-hover: #117a8b;
$gt-tour-back-button-color: #17a2b8;
$gt-tour-back-button-hover: #117a8b;
$gt-tour-restart-button-color: #28a745;
$gt-tour-restart-button-hover: #1e7e34;
$gt-tour-button-color-disabled: #808080;
$gt-tour-button-text-color: #ffffff;
$gt-tour-button-text-disabled: #c2c2c2;
$gt-tour-shadow-color: $black;
$gt-overlay-background: black;
$gt-tour-block-after-background: #231f1f;
$gt-tour-block-content-tt-background: $gray-600;
$gt-tour-block-content-red: #ca2024;
$gt-tour-block-step-hint-not-interaction-background: $gray-800;
$gt-tour-block-step-hint-interaction-background: rgb(23, 162, 184, 0.3);

// ==================
// NGX CHARTS STYLING
// ==================
.ngx-charts text {
    fill: #a0aabe;
}
.ngx-charts .tooltip-anchor {
    fill: #fff;
}
.ngx-charts .gridline-path {
    stroke: #2f3646;
}
.ngx-charts .refline-path {
    stroke: #455066;
}
.ngx-charts .reference-area {
    fill: #fff;
}
.ngx-charts .grid-panel.odd rect {
    fill: #ffffff0d;
}
.ngx-charts .number-card p {
    color: #f0f1f6;
}
.ngx-charts .gauge .background-arc path {
    fill: #2f3646;
}
.ngx-charts .gauge .gauge-tick path {
    stroke: #a0aabe;
}
.ngx-charts .gauge .gauge-tick text {
    fill: #a0aabe;
}
.ngx-charts .linear-gauge .background-bar path {
    fill: #2f3646;
}
.ngx-charts .linear-gauge .units {
    fill: #72809b;
}
.ngx-charts .timeline .brush-background {
    fill: #ffffff0d;
}
.ngx-charts .timeline .brush .selection {
    fill: #ffffff1a;
    stroke: #aaa;
}
.ngx-charts .polar-chart .polar-chart-background {
    fill: #1e222e;
}
.chart-legend .legend-labels {
    background: rgba(255, 255, 255, 0.05) !important;
}
.chart-legend .legend-item:hover {
    color: #fff;
}
.chart-legend .legend-label:hover,
.chart-legend .legend-label .active .legend-label-text {
    color: #fff !important;
}
.chart-legend .scale-legend-label,
.advanced-pie-legend {
    color: #a0aabe;
}
.advanced-pie-legend .legend-item:hover {
    color: #fff !important;
}
.number-card .number-card-label {
    font-size: 0.8em;
    color: #a0aabe;
}
