/* stylelint-disable */
@use 'sass:meta';
@use 'generate-css-vars';

@import 'default-variables';

html {
    @include generate-css-vars.generate('default-variables');

    .mat-mdc-menu-item:hover:not([disabled]),
    .mat-mdc-menu-item.cdk-program-focused:not([disabled]),
    .mat-mdc-menu-item.cdk-keyboard-focused:not([disabled]),
    .mat-mdc-menu-item-highlighted:not([disabled]) {
        background-color: $body-bg;
    }

    .mat-mdc-menu-panel {
        background-color: $gray-100;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    }

    .mat-mdc-button:disabled {
        color: $secondary;
    }

    .mat-mdc-menu-trigger.mat-mdc-button:hover {
        background-color: $gray-200;
    }

    .mat-mdc-option.mdc-list-item {
        background-color: $gray-100;

        &:hover,
        &.mat-mdc-option-active {
            background-color: $white;
        }
    }
}

@import '../global';

// Needed for highlighting code in the markdown editor
@import 'node_modules/highlight.js/styles/vs.css';

// Added to match the already existing style in theme-dark.scss
.btn-outline-primary:not(.list-group-item) {
    color: $link-color;
}

.btn-outline-primary:not(.list-group-item):hover {
    color: $white;
}

// Feature toggle cards
:root {
    --feature-card-active-bg: #d1e7dd;
    --feature-card-disabled-bg: #f8d7da;
    --feature-card-inactive-bg: #e9ecef;
    --feature-card-heading-color: #212529;
}
