<div [class]="post.displayPriority === DisplayPriority.PINNED ? 'highlight-pinned' : ''">
    <div class="col-12 mx-0">
        <jhi-post
            [readOnlyMode]="readOnlyMode"
            [lastReadDate]="lastReadDate"
            [posting]="post"
            [showAnswers]="showAnswers"
            [isCourseMessagesPage]="isCourseMessagesPage"
            [isCommunicationPage]="isCommunicationPage"
            [hasChannelModerationRights]="hasChannelModerationRights"
            (openThread)="openThread.emit(post)"
        />
    </div>
</div>
@if (!isCourseMessagesPage) {
    <div class="post-separation-line"></div>
}
