<ng-template #headerTemplate let-column="column" let-label="label">
    <th scope="col">
        <span [jhiTranslate]="label"></span>
    </th>
</ng-template>

<div class="m-3">
    <div class="row m-0 justify-content-between align-items-center">
        <h3 class="m-0 col p-0" jhiTranslate="artemisApp.programmingExercise.configureGrading.feedbackAnalysis.title" [translateValues]="{ exerciseTitle: exerciseTitle() }"></h3>

        <div class="col-md-auto d-flex align-items-center position-relative">
            <input
                type="search"
                class="form-control"
                [placeholder]="'artemisApp.programmingExercise.configureGrading.feedbackAnalysis.search' | artemisTranslate"
                aria-label="Search feedback"
                [ngModel]="searchTerm()"
                (ngModelChange)="search($event)"
            />
        </div>
    </div>

    <table class="table table-striped mb-3">
        <thead>
            <tr>
                <ng-container
                    *ngTemplateOutlet="headerTemplate; context: { column: 'count', label: 'artemisApp.programmingExercise.configureGrading.feedbackAnalysis.occurrence' }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="headerTemplate; context: { column: 'detailText', label: 'artemisApp.programmingExercise.configureGrading.feedbackAnalysis.feedback' }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="headerTemplate; context: { column: 'taskNumber', label: 'artemisApp.programmingExercise.configureGrading.feedbackAnalysis.task' }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="headerTemplate; context: { column: 'testCaseName', label: 'artemisApp.programmingExercise.configureGrading.feedbackAnalysis.testcase' }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="
                        headerTemplate;
                        context: { column: 'relativeCount', label: 'artemisApp.programmingExercise.configureGrading.feedbackAnalysis.errorCategory' }
                    "
                ></ng-container>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (item of content().resultsOnPage; track item) {
                <tr>
                    <td class="text-center">{{ item.count }} ({{ item.relativeCount | number: '1.0-0' }}%)</td>
                    <td>
                        {{ item.detailText.length > MAX_FEEDBACK_DETAIL_TEXT_LENGTH ? (item.detailText | slice: 0 : 100) + '...' : item.detailText }}
                    </td>
                    <td class="text-center">{{ item.taskNumber }}</td>
                    <td>{{ item.testCaseName }}</td>
                    <td>Student Error</td>
                    <td class="text-center">
                        <fa-icon [icon]="faUpRightAndDownLeftFromCenter" class="ms-2 clickable" (click)="openFeedbackModal(item)"></fa-icon>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex flex-column align-items-end mt-2">
        <ngb-pagination
            [collectionSize]="collectionsSize()"
            [pageSize]="pageSize()"
            [page]="page()"
            (pageChange)="setPage($event)"
            size="sm"
            class="pagination justify-content-end"
        >
        </ngb-pagination>

        <div class="text-muted text-end">
            <span class="small-text" jhiTranslate="artemisApp.programmingExercise.configureGrading.feedbackAnalysis.totalItems" [translateValues]="{ count: totalItems() }"></span>
        </div>
    </div>
</div>
