$draggable-width: 15px;

.modeling-assessment {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
    }
}

.resizable {
    display: flex;

    .draggable-right,
    .draggable-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $draggable-width;
    }
}

.apollon-container {
    height: 100%;
    width: 100%;
}

.apollon-row {
    display: flex;
    height: 100%;
}

/* Target the modeling-assessment class for print media */
@media print {
    .modeling-assessment {
        /* Remove any top margin or padding that might introduce blank spaces */
        margin-top: 0;
        padding-top: 0;

        /* Ensure the container does not overflow the print area */
        overflow: visible;
        page-break-inside: avoid;

        /* Adjust the size of the container to fit the print area */
        height: auto;
        max-height: 100vh;
    }
}
