<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.notification.login.title}">Notification Title</title>
    <th:block th:replace="~{mail/notification/fragments :: headMetaDataAndIconLink}"/>
    <th:block th:replace="~{mail/notification/fragments :: css}"/>
</head>


<body>
<!-- Message Body Start -->
<th:block th:replace="~{mail/notification/fragments :: header}" />

<div id="message-body">
    <th:block th:replace="~{mail/notification/fragments :: greetingsFullName}" />

    <p>
        <span th:text="#{email.notification.login.text}">A new login on Artemis was detected. If you are not aware of this make sure to reset your login credentials</span>:

        <a th:with="url=(@{|${baseUrl}/user-settings/account|})" th:href="${url}" th:text="${url}">User Account</a>
    </p>

    <th:block th:replace="~{mail/notification/fragments :: farewell}" />
</div>

</body>
</html>
