<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{mail/notification/fragments :: head}"/>

<body>
<!-- Message Body Start -->
<th:block th:replace="~{mail/notification/fragments :: header}" />

<div id="message-body">
    <th:block th:replace="~{mail/notification/fragments :: greetingsFullName}" />

    <p>
        <span th:text="#{email.notification.sshKeyExpiry.sshKeysHasExpiredWarning}">One of your SSH keys has expired.</span>
    </p>
    <p>
        <span th:utext="#{email.notification.sshKeyExpiry.sshKeyLabel}">SSH key label</span>
        <span th:utext="${sshKey.getLabel()}">SSH key label</span>
    </p>
    <p>
        <span th:utext="#{email.notification.sshKeyExpiry.sshKeyHash}">SSH key hash</span>
        <span th:utext="${sshKey.getKeyHash()}">SSH key hash</span>
    </p>
    <p>
        <span th:utext="#{email.notification.sshKeyExpiry.expiryDate}"></span>
        <span th:utext="${expiryDate}"></span>
    </p>
    <p></p>
    <p>
        <span th:text="#{email.notification.sshKeyExpiry.renew}">You can renew your SSH key here:</span>

        <a th:with="url=(@{|${baseUrl}/user-settings/ssh|})" th:href="${url}" th:text="${url}">Login
            link</a>
    </p>

    <th:block th:replace="~{mail/notification/fragments :: farewell}" />
</div>

</body>
</html>
