<div class="container">
    <!-- chat box -->
    <div class="chat-widget">
        <!-- client -->
        <div class="client">
            <div class="chat-header">
                <fa-icon size="xs" [icon]="faCompress"></fa-icon>
                <h2>Iris</h2>
                <fa-icon size="xs" [icon]="faXmark"></fa-icon>
            </div>
        </div>

        <!-- main chat section -->
        <div class="chat-body">
            <div *ngFor="let message of IrisMessages" class="client-chat">{{ message }}</div>
            <div *ngFor="let message of userMessages" class="my-chat">{{ message }}</div>
        </div>

        <!-- input field section -->
        <div class="chat-input">
            <input [(ngModel)]="newMessage" type="text" placeholder=" Write a message..." />
            <button (click)="onSend()" class="send-btn">
                <fa-icon [icon]="faPaperPlane"></fa-icon>
            </button>
        </div>
    </div>
</div>
