.container {
    position: relative;
}

.header-start {
    text-align: start;
    padding-left: 5px;
}
.button-container {
    display: flex;
    align-items: center;
}

.chat-widget {
    position: fixed;
    bottom: 90px;
    right: 60px;
    width: 330px;
    height: 430px;
    background-color: var(--iris-chat-widget-background);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.chat-widget-fullscreen {
    @extend .chat-widget;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.ng-draggable {
    cursor: grab;
}

.ng-dragging {
    cursor: grabbing;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: var(--artemis-dark);
    color: white;
    font-weight: bold;
    padding: 10px;
}

.chat-header-fullscreen {
    @extend .chat-header;
    justify-content: center;
}

.header-icon {
    border: none;
    background: transparent;
    color: var(--secondary);
}

.chat-body {
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.client-chat {
    width: fit-content;
    background-color: var(--iris-client-chat-background);
    color: var(--bs-body-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.my-chat {
    width: fit-content;
    margin-left: auto;
    background-color: var(--iris-my-chat-background);
    color: var(--bs-body-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

pre {
    background: transparent;
    white-space: pre-wrap;
    padding: 0;
    margin: 0;
    border: transparent;
    font-family: inherit;
    font-size: inherit;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    background-color: var(--iris-client-chat-input);
}

.chat-input textarea {
    flex: 1;
    margin-right: 10px;
    padding: 5px 13px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris-btn-circle);
    border: none;
}

.btn-circle:hover,
.btn-circle:active {
    background-color: var(--iris-btn-circle-hover);
}
.p-chat {
    background-color: var(--iris-client-chat-background);
    color: var(--bs-body-color);
    padding: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1.5px solid var(--iris-client-chat-background);
    overflow: hidden;
}

.message-text {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid var(--iris-client-chat-background);
}

.button-container {
    display: flex;
}

.button {
    flex: 1;
    padding: 10px 0;
    background-color: #fff;
    color: var(--bs-body-color);
    border: none;
    cursor: pointer;
}

.button:first-child {
    border-right: 1px solid var(--iris-client-chat-background);
}

.button:hover {
    background-color: #f5f5f5;
}

.scroll-to-bottom {
    position: absolute;
    bottom: 60px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--secondary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
